{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - Homework 1</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - Homework 1"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 1"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/homework/hw1"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 1</h1>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
</p>
    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">In the expression \[-42(x^2 + 3)(x+3)^2 + 5(x+4)^4(x-3)^2\] in what context is the expression $(x^2 + 3)$ <b>not</b> considered a factor, even though it is visually next to a multiplication?</li>
        
        <li class="hw-space">In fraction property #5, which says \[\dfrac{ac}{bc} = \dfrac{a}{b}\] what does $c$ need to be in order to be cancelled out?</li>
        
        <li class="hw-space">Can I cross out the $x^2$ in \[\dfrac{x^2 + 1}{x^2 + 2}\] to get $\dfrac{1}{2}$? Give the reason why or why not.</li>
        
        <li class="hw-space">Can I cross out the $x - 1$ in \[\dfrac{(x-1)(x+2)}{(x-1)(x+3)}\] to get $\dfrac{x+2}{x+3}$? Give the reason why or why not.</li>
        
        <li class="hw-space">Can I cross out the $x - 1$ and $x + 3$ in \[\dfrac{(x-1)(x+2) + 4(x+3)}{(x-1)(x+3)}\] to get $\dfrac{x+2 + 4}{1}$? Give the reason why or why not.</li>
        
        <li class="hw-space">Your friend tries to simplify $(x + 3)(x + 2)$ by using the Distributive law: \[(x + 3)(x + 2) = x + 3 \cdot x + x + 3 \cdot 2\] What did they do incorrectly?</li>
        
        <li class="hw-space">How many factors is $2x$ comprised of?</li>
        
        <li class="hw-space">In the global context, is the expression \[2x + 3y^2\] comprised of terms or factors?</li>
        
        <li class="hw-space">Write down a fractional expression which satisfies the following:
            <ul type="a">
                <li class="hw-space">Global context of numerator comprises of three terms</li>
                <li class="hw-space">Global context of denominator comprises of two terms</li>
                <li class="hw-space">Each term in the numerator contains two factors</li>
                <li class="hw-space">Each term in the denominator contains three factors</li>
            </ul>
        </li>
        
        <li class="hw-space">For each of the following sets, draw their real line representation.
            <ol type="a">
                <li class="hw-space">$(-\infty, 1) \cup (1, 2) \cup (2, \infty)$</li>
                <li class="hw-space">$(-\infty, -6]\cup (2, 10)$</li>
                <li class="hw-space">$(-10, -4]\cup (4, \infty)$</li>
            </ol>
        </li>
        
        <li class="hw-space">A student tries to simplify \[\dfrac{x^{-1} + y^{-1}}{4} = \dfrac{1}{4xy}\] Why are you not allowed to do this?</li>
        
        <li class="hw-space">A student tries to simplify \[\dfrac{x+3}{x + 2} \cdot 4 = \dfrac{x+3\cdot 4}{x+2} = \dfrac{x+12}{x+2}\] Which mathematical property was violated?
            <br/>Hint: parentheses were forgotten.
        </li>
        
        <li class="hw-space">Use Exponent laws to simplify the following. Remember, simplify means to <b>write in one fraction + no negative exponents.</b>
            
        <br/>I advise calling out each exponent law as you use them to help discriminate the laws between each other.
            <ol type="a">
                <li class="hw-space">$x^4 \cdot x^7$</li>
                <li class="hw-space">$\left(\dfrac{1}{2}\right)^{-1}$</li>
                <li class="hw-space">$(x^2y)^3$</li>
                <li class="hw-space">$\left[\dfrac{(x^3y^5)^4}{z^{-4}}\right]^0$</li>
                <li class="hw-space">$\left(\dfrac{x}{y}\right)^2 \cdot \left(\dfrac{y^2}{z}\right)^3$</li>
                <li class="hw-space">$\dfrac{xy^{-3}z}{(2x)^{-1}y^2z^{-2}}$</li>
                <li class="hw-space">$\dfrac{(x+1)(x+2)}{(x+1)^{-2}(x+2)^2(x+3)}$</li>
                <li class="hw-space">$\dfrac{\sqrt[3]{x^2}}{x^{2/3}}$</li>
                <li class="hw-space">$\dfrac{(-3)^4\sqrt{x}}{3^2\sqrt[3]{x}}$</li>
                <li class="hw-space">$-2^4$</li>
                <li class="hw-space">$(-2)^4$</li>
                <li class="hw-space">$\dfrac{(4x)^{1/2}}{8b^{1/4}}$</li>
                <li class="hw-space">$(x(x+1))^{-1/2}$</li>
                <li class="hw-space">$\left(\dfrac{x^8y^{-2}}{(x-1)(x+2)^2}\right)^{-1/2}$</li>
                <li class="hw-space">$\left(\dfrac{2(x+1)^2(x+3) - 3}{4x}\right)^{-1/2}$</li>
            </ol>
        </li>
        
        <li class="hw-space">A student tries to simplify $x^2 + x^3$ by applying exponent laws. They write \[x^2 + x^3 = x^{2+3} = x^5\] Why is this incorrect?</li>
        
        <li class="hw-space">A student tries to simplify $x^2 \cdot x^3$ by applying exponent laws. They write \[x^2 \cdot x^3 = x^{2\cdot3} = x^6\] Why is this incorrect?</li>
        
        <li class="hw-space">A student tries to simplify $(a + b)^2$ by applying exponent laws. They write \[(a + b)^2 = a^2 + b^2\] Why is this incorrect?</li>
        
        <li class="hw-space">True or false: Like terms are expressions which share the same factors, except possibly for the coefficient (the number).</li>
        
        <li class="hw-space">State whether each pair of expressions are like terms or not.
            <ol type="a">
                <li class="hw-space">$3x^2$ and $4y$</li>
                <li class="hw-space">$3x^2$ and $4x$</li>
                <li class="hw-space">$x^3y$ and $4x^3y$</li>
                <li class="hw-space">$5(x+1)(x+2)$ and $-(x+1)(x+2)$</li>
                <li class="hw-space">$-100(3x-2)(4x^2+3)^2$ and $4(4x^2+3)^2(3x-2)$</li>
            </ol>
        </li>

        <li class="hw-space">Expand and simplify each expression by using the distributive law and combining like terms.
            <ol type="a">
                <li class="hw-space">$(2x^2 + 3x) + (3x^3 + 2x)$</li>
                <li class="hw-space">$(x+1)(x-2)$</li>
                <li class="hw-space">$(x^2 + 2x + 1)(x-2)$</li>
                <li class="hw-space">$(1 - x)^2$</li>
                <li class="hw-space">$(x^6 - x^5) -2(x^4 - x^3) - x(x^2 - x)$</li>
                <li class="hw-space">$3(x+h)^2 - 1 - (3x^2 - 1)$</li>
            </ol>
        </li>

        <li class="hw-space">Factor the following expressions.
            <ol type="a">
                <li class="hw-space">$-2x^3 - x^2$</li>
                <li class="hw-space">$(x+3)^2(x-2) + (x+3)(x-2)^2$</li>
                <li class="hw-space">$x^2 + 5x + 6$</li>
                <li class="hw-space">$x^2 + 13x + 12$</li>
                <li class="hw-space">$2x^2 + 7x + 3$</li>
                <li class="hw-space">$2x^2yz + 7xyz + 3yz$</li>
                <li class="hw-space">$4a^2 - 9b^2$</li>
                <li class="hw-space">$(x^2 + 1)^2 - 7(x^2 + 1) + 10$</li>
                <li class="hw-space">$x^3 + 4x^2 + x + 4$</li>
            </ol>
        </li>

        <!--
        <li class="hw-space">Suppose there is a variable $x$ which is associated with a value $f(x)$. I find that two different inputs give the same evaluation. In particular, I find $x = -2$ and $x = 2$ have $f(-2) = f(2)$. Is $f(x)$ a function?</li>
        <li class="hw-space">Suppose I have an expression $f(x)$ and I find one input which gives two different evaluations. In particular, I find that $x = 2$ spits out $f(2) = 5$ and $f(2) = 3$. Is $f$ a function?</li>
        <li class="hw-space">Suppose there is an expression \[f(x) = \dfrac{(a + h)(b+h)  + x}{(a+h)^3 - 5}\] Am I allowed to cancel out the $a+h$'s to get \[\dfrac{x}{(a+h)^2 - 5}\]
        If I am not, when am I allowed to cancel in this fashion?
        </li>
        <li class="hw-space">Simplify into one fraction:
            <ol type="a">
                <li class="hw-space">$x + \dfrac{3}{x}$</li>
                <li class="hw-space">$\dfrac{x+2}{x+1} + \dfrac{1}{x+3}$</li>
                <li class="hw-space">$\dfrac{1}{\sqrt{x}} + \dfrac{1}{\sqrt{x + h}}$</li>
                <li class="hw-space">$\sqrt{x+2} - \dfrac{1}{\sqrt{x+2}}$</li>
                <li class="hw-space">$\dfrac{x + 1}{\frac{x + 2}{x + 3}}$</li>
            </ol>
        </li>
        <li class="hw-space">Simplify with the laws of exponents:
            <ol type="a">
                <li class="hw-space">$x^{\frac{2}{3}}\cdot x^3$</li>
                <li class="hw-space">$(x+1)^8(x+1)^5$</li>
                <li class="hw-space">$\dfrac{x(x + 3)^2 + x(x-1)}{x}$</li>
                <li class="hw-space">$(x^2 + 3x^6)^{3/4}(x^2 + 3x^6)^{\frac{1}{2}}$</li>
                <li class="hw-space">$(xy^2)^3$</li>
                <li class="hw-space">$(4x+3)^{-2}(x+1)$</li>
            </ol>
        </li>
        <li class="hw-space">When finding the domain of a function, what are the two types of inputs we need to exclude?</li>
        <li class="hw-space">Suppose I have a function $f(x) = \dfrac{x}{(x+1)^2}$.
            <ol type="a">
                <li class="hw-space">Find $f(1), f(-a), f(x+h), f(x + h) - f(x)$ and fully expand each expression.</li>
            </ol>
        </li>
        <li class="hw-space">Suppose a function takes an input $x$ and sends this to $\frac{1}{x + 1}$. What is the domain of $f(x)$?</li>
        <li class="hw-space">Draw a coordinate plane and graph the functions $f(x) = x^2, g(x) = x^4$ and $h(x) = x^6$. What is similar between the graphs?</li>
        <li class="hw-space">Graph the function \[f(x) = \begin{cases}-x^2 & x \leq 3 \\ -x + 1 & x > 3\end{cases}\]</li>
        <li class="hw-space">Is the point $\left(\frac{1}{\sqrt{2}}, \frac{1}{\sqrt{2}}\right)$ on the unit circle? Show using calculations.</li>
        <li class="hw-space">What is the reference number $\bar{t}$? What is the range of values $\bar{t}$ is allowed to be?</li>
        <li class="hw-space">Find the following terminal points associated with the following $t$ values:
            <ol type="a">
                <li class="hw-space">$t = 0$</li>
                <li class="hw-space">$t = \frac{3\pi}{2}$</li>
                <li class="hw-space">$t = \frac{2\pi}{3}$</li>
                <li class="hw-space">$t = \frac{5\pi}{6}$</li>
                <li class="hw-space">$t = -\frac{2\pi}{3}$</li>
                <li class="hw-space">$t = -\frac{9\pi}{4}$</li>
                <li class="hw-space">$t = 1000\pi + \frac{2\pi}{3}$</li>
                <li class="hw-space">$t = -83\pi + \frac{\pi}{3}$</li>
                <li class="hw-space">$t = \pi + 2\pi - 3\pi + \frac{4\pi}{3}$</li>
            </ol>
        </li>-->
        <!--
        <li class="hw-space">(skip) Find the six trigonometric functions of $t = \frac{2\pi}{3}$.</li>
        <li class="hw-space">(skip) Find the six trigonometric functions of $t = -\frac{5\pi}{6}$.</li>
        <li class="hw-space"> Why is $\tan\left(\frac{\pi}{2}\right)$ undefined?</li>-->
    </ol>

</div>
{% endblock %}