{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - Homework 4</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - Homework 4"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 4"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/homework/hw4"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 4</h1><hr>
    <p><b>Directions:</b>         
        <ol>
            <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
            <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
            <li class="hw-space"><b>Staple multiple sheets together.</b></li>
            <li class="hw-space">Feel free to use Desmos for graphing.</li>
        </ol>  
    </p><hr>

    <p>Answer the following:</p>

    <ol>

        <li class="hw-space">
            Determine whether the following sequences are convergent or divergent. For the ones that converge, find out what it converges to.
            <ol type="a">
                <li class="hw-space">
                    $a_n = 2^{-n} + 6^{-n}$
                </li>
                <li class="hw-space">
                    $a_n = \dfrac{10^n}{1 + 9^n}$
                </li>
                <li class="hw-space">
                    $a_n = \dfrac{3^{n+2}}{5^n}$
                </li>
                <li class="hw-space">
                    $a_n = \dfrac{n^5 + n^3}{4n^2 + \sqrt[3]{n^{19}}}$
                </li>
                <li class="hw-space">
                    $a_n = \dfrac{2^n + 3^n}{5^n}$
                </li>
                <li class="hw-space">
                    $a_n = \dfrac{e^n + 2e^n}{1 + e^n}$
                </li>
                <li class="hw-space">
                    $a_n = \dfrac{3^n}{1 + 4^n}$
                </li>
                <li class="hw-space">
                    $a_n = \dfrac{4^{-2n} - 2^{-n}}{4^n + 2^n}$
                </li>
                <li class="hw-space">
                    $a_n = \dfrac{n^3}{\sqrt{n^7 + 1}}$
                </li>
            </ol>
        </li>

        <li class="hw-space">
            Find the limit:
            <ol type="a">
                <li class="hw-space">
                    $\displaystyle\lim_{x\rightarrow \infty} 3^{-x}$
                </li>
                <li class="hw-space">
                    $\displaystyle\lim_{x\rightarrow\infty} \dfrac{3x - 2}{2x + 1}$
                </li>
                <li class="hw-space">
                    $\displaystyle\lim_{x\rightarrow\infty} \dfrac{5}{10^x}$
                </li>
                <li class="hw-space">
                    $\displaystyle\lim_{x\rightarrow\infty} \left(\sqrt{9x^2 + x} - 3x\right)$
                </li>
                <li class="hw-space">
                    $\displaystyle\lim_{x\rightarrow\infty} (x^4 + x^5)$
                </li>
                <li class="hw-space">
                    $\displaystyle\lim_{x\rightarrow-\infty} (x^4 + x^5)$
                </li>
                <li class="hw-space">
                    $\displaystyle\lim_{x\rightarrow-\infty} \dfrac{1 - e^x}{1+2e^x}$
                </li>
                <li class="hw-space">
                    $\displaystyle\lim_{x\rightarrow-\infty} \left(e^{-x} + 2\cos 2x\right)$
                </li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x)$ is a function. Explain in English the intuition (not the definition) behind the symbols \[\lim_{x\rightarrow a}f(x) = L\] means.</li>

        <li class="hw-space">In class we discussed two ways of estimating the expression \[\lim_{x\rightarrow a} f(x)\] Does the limit see what happens exactly at the $x$-value $a$?</li>


        <li class="hw-space">Suppose \[\lim_{x\rightarrow 1^-} f(x) = 3 \qquad \lim_{x\rightarrow 1^+} f(x) = 3.01\] Does $\displaystyle\lim_{x\rightarrow 1}f(x)$ exist? If not, why?</li>

        <li class="hw-space">
            Given this function $f(x)$ <img src="/static/swrlly/images/teaching/161-hw3-1.PNG" style="max-width:350px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        
            find the following:
            <ol type="a">
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 2^-}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 2^+}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 2}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 4^-}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 4^+}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 4}f(x)$</li>
                <li class="hw-space">$f(2)$</li>
                <li class="hw-space">$f(4)$</li>
            </ol>
        </li>

        <li class="hw-space">
            Given this function $f(x)$ <img src="/static/swrlly/images/teaching/161-hw3-2.PNG" style="max-width:500px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        
            find the following:
            <ol type="a">
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow -3^-}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow -3^+}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow -3}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 0^-}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 0^+}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 0}f(x)$</li>
                <li class="hw-space">$f(0)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 5^-}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 5^+}f(x)$</li>
            </ol>
        </li>

        <li class="hw-space">
            Given this function $f(x)$ <img src="/static/swrlly/images/teaching/161-hw3-3.PNG" style="max-width:500px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        
            find the following:
            <ol type="a">
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 0}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 2^-}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 2^+}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow \infty}f(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow -\infty}f(x)$</li>
                <li class="hw-space">Find all vertical and horizontal asymptotes.</li>
            </ol>
        </li>

        <li class="hw-space">
            Use a table or graph to find the following limits:
            <ol type="a">
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 3^+}\ln(x^2 - 9)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 5^-}\dfrac{e^x}{(x-5)^3}$</li>
            </ol>
        </li>

        <li class="hw-space">A function $g(x)$ has the following graph: 
            <img src="/static/swrlly/images/teaching/141-hw3-2.png" style="max-width:600px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
            Find the following. If they do not exist explain why.
            <ol type="a">
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow -3} g(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 2^-} g(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 2^+} g(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 2} g(x)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow -1} g(x)$</li>
                <li class="hw-space">$g(3)$</li>
            </ol>
        </li>

        <li class="hw-space">
            Using the table or graph method, determine if the following limits are $-\infty$ or $\infty$:
            <ol type="a">
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow-3^+}\dfrac{x+2}{x+3}$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow-3^-}\dfrac{x+2}{x+3}$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow1}\dfrac{2-x}{(x-1)^2}$</li>
            </ol>
        </li>


        <!--
        <li class="hw-space">Given the following functions $f(x)$ and $g(x)$: 
            <img src="/static/swrlly/images/teaching/161-hw4-1.PNG" style="max-width:500px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
            Find the following limits, if it exists. If it doesn't, explain why.
            <ol type="a">
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 2}\ [f(x) + g(x)]$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 1}\ [f(x) + g(x)]$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 0}\ [f(x)g(x)]$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 2}\ [x^3f(x)]$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 1}\ \sqrt{3 + f(x)}$</li>
            </ol>
        </li>

        <li class="hw-space">Find the following limits using limit laws:
            <ol type="a">
                
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 1} \sqrt{\dfrac{2x^2 + 2}{2x^2 - 1}}$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 5}\dfrac{x^2 - 6x + 5}{x - 5}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{h\rightarrow 0}\dfrac{(4+h)^2 - 16}{h}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 0}\dfrac{\sqrt{x^2 + 9} - 3}{x^2}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 16}\dfrac{4 - \sqrt{x}}{16x - x^2}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 0}\dfrac{1}{x} - \dfrac{1}{x^2 + x}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{t\rightarrow-3}\dfrac{t^2 - 9}{2t^2 + 7t  +3}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 0}\dfrac{\sin 3x}{x}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{t\rightarrow 0}\dfrac{\tan 6t}{\sin 2t}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 0}\dfrac{\sin^2 4t}{t^2}$
                </li>
            </ol>
        </li>

        <li class="hw-space">For the following problems, sketch the graph of $f$ and find $\displaystyle \lim_{x\rightarrow a} f(x)$, if it exists.
            <ol type="a">
                <li class="hw-space">$f(x) = \begin{cases} x^2 & x \leq 1 \\ x-1 & x > 1\end{cases}, \qquad a = 1$</li>
                <li class="hw-space">$f(x) = \begin{cases} x^2 - 3 & x \neq 0 \\ 0 & x = 0\end{cases}, \qquad a = 0$</li>
            </ol>
        </li>

        <li class="hw-space">Use the squeeze theorem to show \[\lim_{x\rightarrow 0}x^2 \cos (20\pi x) = 0\]</li>

        <li class="hw-space">If $ 4x - 9 \leq f(x) \leq x^2 - 4x + 7$ for all $x \geq 0$, find $\lim_{x\rightarrow 4}f(x)$.</li>

        <li class="hw-space"> Given this graph of $f(x)$ <img src="/static/swrlly/images/teaching/hw3im1.PNG" style="max-width:600px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
            Determine which statements are true or false.
            <ol type="a">
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 0^-} f(x) = 0$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 0^+} f(x) = 0$</li>
                <li class="hw-space">$f(1)$ is defined.</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 2} f(x) = f(2)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 1} f(x)= 1$ </li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 3^-} f(x)= \lim_{x\rightarrow 3^+}f(x)$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose a function $f(x)$ has $f(2) = 5$ and $\displaystyle \lim_{x \rightarrow 2}f(x) = 5$. Is the function continuous at $x = 2$?</li>

        <li class="hw-space">
            <b>Use the definition of continuity</b> to explain why the function is discontinuous at the given number $a$.  Sketch the graph of the function.
            <ol type="a">
                <li class="hw-space">$\displaystyle f(x) = \begin{cases}e^x & x < 0 \\ x^2 & x \geq 0\end{cases} \qquad a = 0$</li>
                <li class="hw-space">$\displaystyle f(x) = \begin{cases}x + 5 & x < 0 \\ 2 & x = 0 \\ -x^2 + 5 & x > 0\end{cases} \qquad a = 0$</li>
            </ol>
        </li>-->

</div>
{% endblock %}