{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - Homework 6</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - Homework 6"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 6"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/homework/hw6"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 6</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
</p><hr>
    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">
            <b>Use the three-part definition of continuity</b> to explain why the function is continuous at the given number $a$. 
            <ol type="a">
                <li class="hw-space">
                    $\displaystyle f(x) = \begin{cases}(x-1)^2& x < 0 \\ (x+1)^2 & x \geq 0\end{cases} \qquad a = 0$
                </li>
                <li class="hw-space">
                    $\displaystyle f(x) = \begin{cases}x(x-1)& x < 1 \\ 0 & x = 1 \\ \sqrt{x-1} & x > 1\end{cases} \qquad a = 1$
                </li>
            </ol>
        </li>

        <li class="hw-space">
            <b>Use the three-part definition of continuity</b> to explain why the function is discontinuous at the given number $a$.  Sketch the graph of the function.
            <ol type="a">
                <li class="hw-space">$\displaystyle f(x) = \begin{cases}x + 1 & x < 0 \\ x^2 & x \geq 0\end{cases} \qquad a = 0$</li>
                <li class="hw-space">$\displaystyle f(x) = \begin{cases}x + 5 & x < 0 \\ 2 & x = 0 \\ -x^2 + 5 & x > 0\end{cases} \qquad a = 0$</li>
                <li class="hw-space">
                    $\displaystyle f(x) = \begin{cases}-x & x < 0 \\ 1 & x = 0 \\ x & x > 0\end{cases} \qquad a = 0$
                </li>
            </ol>
        </li>

        <li class="hw-space">
            If a function $f(x)$ is continuous at $x = a$, what does $\displaystyle \lim_{x\rightarrow a} f(x)$ have to be?
        </li>

        <li class="hw-space">How would you define $f(2)$ in the function \[f(x) = \dfrac{x^2 - x - 2}{x - 2}\] in order to make $f(x)$ continuous at $x = 2$?</li>

        <li class="hw-space">Where is the function \[f(x) = \dfrac{\sin(x)}{x + 1}\] continuous?</li>

        <li class="hw-space">What's the difference between a removeable, jump and infinite discontinuity?</li>

        <li class="hw-space">Draw one graph of a function which satisfies the following conditions simultaneously:
            <ul>
                <li>Jump discontinuity at $2$ but continuous from the right at $2$</li>
                <li>Discontinuous at $-1$ and $4$ but continuous from the left at $-1$ and from the right at $4$.</li>
                <li>Continuous everywhere else</li>
            </ul> 
        </li>

        <li class="hw-space">
            If a function $f(x)$ is continuous at $x = a$, what does $\displaystyle \lim_{x\rightarrow a} f(x)$ have to be?
        </li>

        <li class="hw-space">
            How would you define $f(2)$ in the function \[f(x) = \dfrac{x^2 - x - 2}{x - 2}\] in order to make $f(x)$ continuous at $x = 2$?
            <br>Hint: find the hole in $f(x)$ and "fill in" the hole.
        </li>

        <li class="hw-space">State in interval notation where each of the following functions are continuous.
            <ol type="a">
                <li class="hw-space">$f(x) = \dfrac{\sin(x)}{x^2}$</li>
                <li class="hw-space">$f(x) = 4x^{32} - 8x^2 + x - 1$</li>
                <li class="hw-space">$f(x) = x^{32894983} - 2x + \dfrac{1}{x}$</li>
                <li class="hw-space">$f(x) = \dfrac{\sin^4(x)\cos^3(x)}{x^2 - 4}$</li>
            </ol> 
        </li>

        <li class="hw-space"> Use the continuity limit swap theorem to prove the following function is continuous at 4.
            \[\displaystyle f(x) = \begin{cases} \sqrt{x} & x < 4 \\ 2\cos\left(x-4\right) & x \geq 4\end{cases} \qquad a = 4\]
        </li>

        <li class="hw-space">Draw three different graphs, each of which shows one of each of a removeable, jump, and infinite discontinuity.</li>

        <li class="hw-space">Draw one graph of a function which satisfies the following conditions simultaneously:
            <ul>
                <li>Jump discontinuity at $2$ but continuous from the right at $2$</li>
                <li>Discontinuous at $-1$ and $4$ but continuous from the left at $-1$ and from the right at $4$.</li>
                <li>Continuous everywhere else</li>
            </ul> 
        </li>

        <li class="hw-space">Show $f(x) = x^4 + x - 3$ has a root between $(1, 2)$.</li>

        <li class="hw-space">Suppose $(1, f(1))$ is a point on the graph of $f(x)$. What is the equation of the tangent line at $x = 1$?</li>

        <li class="hw-space"> 
            When we are using the definition of the slope of the tangent line at the point $(a, f(a))$:
            <ol type="a">
                <li class="hw-space">What type of limit is this called?</li>
                <li class="hw-space">What always happens to the $h$ in the denominator?</li>
                <li class="hw-space">Suppose the above phenomena does not happen. What do you think went wrong?</li>
            </ol>
        </li>

        <li class="hw-space">Using the <b>limit definition</b> of the slope of a tangent line, i.e. \[m = \lim_{h\rightarrow 0} \dfrac{f(a + h) - f(a)}{h}\], find an equation of the tangent line for the following functions at the given point:
            <ol type="a">
                <li class="hw-space">$f(x) = 4x - 3x^2$ at the point $(2, -4)$</li>
                <li class="hw-space">$f(x) = \dfrac{2x}{x + 1}$ at the point $(1, 1)$</li>
                <li class="hw-space">$f(x) = \sqrt{x}$ at the point $(1, 1)$</li>
                <li class="hw-space">$f(x) = (x-1)^2$ at the point $(1, 0)$</li>
            </ol>
        </li>

        <!--
        <li class="hw-space">Differentiate the following:
            <ol type="a">
                <li class="hw-space">$f(x) = \sec x$</li>
                <li class="hw-space">$f(x) = \cot x$</li>
                <li class="hw-space">$f(x) = \dfrac{\sec x}{1 + \tan x}$</li>
                <li class="hw-space">$f(t) = e^t\sin t$</li>
                <li class="hw-space">$f(x) = (x^4 + 4x^2)e^x$</li>
                <li class="hw-space">$y' = \dfrac{e^x}{1 + x}$</li>
                <li class="hw-space">$f(t) = \dfrac{t - \sqrt{t}}{t^{1/3}}$</li>
                <li class="hw-space">$y = e^{\sqrt{x}}$</li>
                <li class="hw-space">$f(x) = (3x - x^3)^23$</li>
                <li class="hw-space">$f(x) = \sqrt[3]{1 + \tan x}$</li>
                <li class="hw-space">$f(x) = xe^{-2x}$</li>
                <li class="hw-space">$f(x) = (3x + 2)^3(4x^2 + 3)^4$</li>
                <li class="hw-space">$y = \sqrt{x + \sqrt{ x + \sqrt{x}}}$</li>
                <li class="hw-space">$f(x) = 2^{\sin \pi x}$</li>
                <li class="hw-space">$f(x) = \sqrt{\dfrac{x}{x^2 + 4}}$</li>
                <li class="hw-space">$f(x) = e^{e^x}$</li>
                <li class="hw-space">$f(x) = \sin x + \sin^2 x$</li>
            </ol>
        </li>
        <li class="hw-space">Find the equation of the tangent line to the curve at the given point.
            <ol type="a">
                <li class="hw-space">$y = (1 + 2x)^{10}, \qquad (0, 1)$</li>
                <li class="hw-space">$y = \sin(\sin(x)), \qquad (\pi, 0)$</li>
            </ol>
        </li>
        <li class="hw-space">Recall the <a href="/teaching/math-161/lectures/3.1">BAC example from 3.1</a>.  The concentration function is \[C(t) = 0.0225te^{-0.0467t}\] How rapidly is the BAC decreasing a half hour after ingestion?</li>

        <li class="hw-space">Find $dy/dx$ with implicit differentiation for the equation \[x^3 + y^3 + x^2 + y = 1\]     
        </li>

        
        <li class="hw-space">Consider the equation $x^{2/3} + y^{2/3} = 4$. Find the equation of the tangent line at the point $(-3\sqrt{3}, 1)$.</li>
    -->
    </ol>
</div>
{% endblock %}