{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - Homework 7</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - Homework 7"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 7"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/homework/hw7"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 7</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
</p><hr>
    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">What are the three ways to think about the derivative $f'(a)$?</li>
        
        <li class="hw-space"><b>Using the limit definition of a derivative</b>, find the derivative of the following functions.
            <br>Do not use shortcuts; you will not receive credit for this problem.
            <ol type="a">
                <li class="hw-space">$f(x) = 2x + 3$</li>
                <li class="hw-space">$g(x) = x + \sqrt{x}$</li>
                <li class="hw-space">$f(x) = x^2 - 1$</li>
                <li class="hw-space">$g(x) = \dfrac{1}{\sqrt{x}}$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x}$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x)$ is differentiable on $\mathbb{R}$. Must $f(x)$ be continuous on $\mathbb{R}$? If not, explain why.</li>

        <li class="hw-space">Suppose $f(x)$ is continuous on $\mathbb{R}$. Must $f(x)$ be differentiable on $\mathbb{R}$? If not, draw the graph of a function where it fails to be differentiable.</li>

        <li class="hw-space">
            Suppose the graph of $f(x)$ is <img src="/static/swrlly/images/teaching/161-hw5-1.PNG" style="max-width:450px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/> 
            
            Sketch a graph of $f'(x)$.
        </li>

        <li class="hw-space">Draw <b>one graph</b> of a function in which all three cases where a function fails to be differentiable appears.</li>

        <li class="hw-space">The graph of $f$ is given. State with reason the $x$ values where $f$ is not differentiable. You may assume the domain of $f$ is $\mathbb{R}$. <img src="/static/swrlly/images/teaching/161-hw5-2.PNG" style="max-width:450px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/> </li>


        <li class="hw-space">Find the derivative using the Differentiation Rules. Remember to observe your input variable and to fully simplify each expression.
            <ol type="a">
                <li class="hw-space">$f(x) = 199$</li>
                <li class="hw-space">$g(t) = \left(\sqrt{30}\right)^3$</li>
                <li class="hw-space">$f(x) = x^3 + x^2 + x + 1$</li>
                <li class="hw-space">$f(v) = \dfrac{a}{v} + bv + \dfrac{c}{v^2}$</li>
                <li class="hw-space">$f(x) = \sqrt{x}(x - 1)$</li>
                <li class="hw-space">$f(t) = 3t^{-3/4}$</li>
                <li class="hw-space">$f(x) = x^{2.9}$</li>
                <li class="hw-space">$f(r) = -9r^{2/3}$</li>
                <li class="hw-space">$f(x) = 5x^2 + 6x + 7$</li>
                <li class="hw-space">$f(r) = \dfrac{r^5 + 2r^4 + 3r + 1}{r}$</li>
                <li class="hw-space">$f(a) = \dfrac{5}{a^4} - \dfrac{2}{\sqrt[3]{a^2}} -\dfrac{1}{a} + 200$</li>
                <li class="hw-space">$f(x) = \dfrac{5}{x^4} + \dfrac{\sqrt{x^3}}{3} + x$</li>
                <li class="hw-space">$f(x) = 2x\left(3x^2 + 1\right)$</li>
                <li class="hw-space">$f(x) = (3x + 1)(4x^3 - 5x^2)$</li>
                <li class="hw-space">$f(t) = \dfrac{t - \sqrt{t}}{t^{1/3}}$</li>
                <li class="hw-space">$y = x + \dfrac{1}{x}$</li>
                <li class="hw-space">$f(x) = (x + 1)(x^{-2} + x^{-3})$</li>
                <li class="hw-space">$g(x) = 4\sin x - 5 \cos x$</li>
                <li class="hw-space">$f(\theta) = 13424e^\theta$</li>
                <li class="hw-space">$f(x) = 3x^5 - 4e^x - \sin x + \cos x$</li>
                <!--<li class="hw-space">$y = \dfrac{x^2 + 1}{x^2 - 1}$</li>
                <li class="hw-space">$y = \dfrac{1 + 2x}{3 - 4x}$</li>
                <li class="hw-space">$f(x) = \dfrac{x}{x + \frac{1}{x}}$</li
                <li class="hw-space">$f(x) = \sec x$</li>
                <li class="hw-space">$f(x) = \cot x$</li>
                <li class="hw-space">$f(x) = \dfrac{\sec x}{1 + \tan x}$</li>>
                <li class="hw-space">$f(t) = e^t\sin t$</li>
                <li class="hw-space">$f(x) = (x^4 + 4x^2)e^x$</li>
                <li class="hw-space">$y = \dfrac{e^x}{1 + x}$</li>
                <li class="hw-space">$f(t) = \dfrac{t - \sqrt{t}}{t^{1/3}}$</li>-->
            </ol>
        </li>

        <li class="hw-space">Find the equation of the tangent line for the function $f(x) = \cos x$ at the point $(0,1)$.</li>

        <li class="hw-space">Find the 51st derivative of $f(x) = e^x + \cos x$.</li>

        <li>
            The number of tree species $S(a)$ in a given area $a$ in the Pasoh Forest Reserve in Malaysia has been modeled by the power function \[S(a) = 0.882a^{0.842}\] where $a$ is measured in square meters. Find $S'(100)$ and interpret the answer in English.
            <br>
            Source: <a href="https://www.frim.gov.my/v1/jtfsonline/jtfs/v3n1/1-13.pdf">K. Kochummen et al., "Floristic Composition of
                Pasoh Forest Reserve, a Lowland Rain Forest in Peninsular Malaysia,"
               <i>Journal of Tropical Forest Science 3</i></a>
        </li>

        <!-- chain rule
        
                        <li class="hw-space">$y = e^{\sqrt{x}}$</li>
                <li class="hw-space">$f(x) = (3x - x^3)^{23}$</li>
                <li class="hw-space">$f(x) = \sqrt[3]{1 + \tan x}$</li>
                <li class="hw-space">$f(x) = xe^{-2x}$</li>
                <li class="hw-space">$f(x) = (3x + 2)^3(4x^2 + 3)^4$</li>
                <li class="hw-space">$y = \sqrt{x + \sqrt{ x + \sqrt{x}}}$</li>
                <li class="hw-space">$f(x) = 2^{\sin \pi x}$</li>
                <li class="hw-space">$f(x) = \sqrt{\dfrac{x}{x^2 + 4}}$</li>
                <li class="hw-space">$f(x) = e^{e^x}$</li>
                <li class="hw-space">$f(x) = \sin x + \sin^2 x$</li>
            -->

        


        <!--<li class="hw-space">Find $dy/dx$ with implicit differentiation:
            <ol type="a">
                <li class="hw-space">$x^2 - xy - y^2 = 4$</li>
                <li class="hw-space">$1 + x = \sin(xy)$ </li>
                <li class="hw-space">$2\sqrt{x} + \sqrt{y} = 3$</li>
                <li class="hw-space">$(x + y)^3 + x^3 + y^3 = 0$</li>    
            </ol>
        </li>

        <li class="hw-space">Find the equation of the tangent line at $(1,2)$ for the equation \[x^2  + 2xy - y^2 + x = 2\]</li>

        <li class="hw-space">The formula for the volume $V$ of a cube with side length $s$ is $V = s^3$. The sides of the cube are 5 feet long and increasing at the rate of $0.2$ inches/second. How fast is the volume of the cube changing?</li>

        <li class="hw-space">Suppose a drop of dye was dropped into a large bowl filled with water. If the dye spreads out in a circle and its radius is increasing at a rate of 2 cm/sec, determine how fast the area is increasing when the radius of the circle is 10 cm.</li>

        <li class="hw-space">Differentiate the following. Remember you can use logarithmic differentiation to simplify the form for some problems.
            <ol type="a">
                <li class="hw-space">$f(x) = x\ln x$</li>
                <li class="hw-space">$f(x) = \ln (\sin^2 x)$</li>
                <li class="hw-space">$f(x) = \sqrt[5]{\ln x}$</li>
                <li class="hw-space">$f(x) = \ln{\sqrt[5]{x}}$</li>
                <li class="hw-space">$y = \ln(e^{-x} + xe^{-x})$</li>
                <li class="hw-space">$y = \dfrac{\sin x \cos^2 x}{(x^2 + 1)^4}$</li>
                <li class="hw-space">$f(x) = x\ln x$</li>
                <li class="hw-space">$f(x) = x^{\cos x}$</li>
                <li class="hw-space">$f(x) = (\sin x)^{\sin x}$</li>
            </ol>
        </li>

        <li class="hw-space">Find the linearization of $f(x) = \cos x$ at $a = \pi /2$.</li>

        <li class="hw-space">Use a linear approximation to estimate $e^{-0.0015}$.</li>-->

    </ol>
</div>
{% endblock %}