{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - Homework 8</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - Homework 8"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 8"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/homework/hw8"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 8</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
</p><hr>
    <p>Answer the following:</p>
    <ol>
        <li class="hw-space">
            Explain the difference between an absolute minimum and a local minimum.
        </li>
        <li class="hw-space">
            If $f$ is a continuous function on $(a, b)$, does an absolute maximum have to exist?
        </li>
        <li class="hw-space">Identify all absolute/local minimums and maximums for the following function: <img src="/static/swrlly/images/teaching/161-hw7-1.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>
        <li class="hw-space">Draw a graph that is continuous on $[-2, 5]$ and has absolute minimum at $x = 3$, absolute maximum at $x = 0$.</li>
        <li class="hw-space">Find the critical numbers for the following functions:
            <ol type="a">
                <li class="hw-space">$f(x) =  x^3 + 6x^2 - 15x$</li>
                <li class="hw-space">$f(x) = x^2e^{-3x}$</li>
            </ol>
        </li>
        <li class="hw-space">Find the absolute maximum and minimum for the following functions:
            <ol type="a">
                <li class="hw-space">$f(x) = 12 + 4x - x^2, \qquad [0, 5]$</li>
                <li class="hw-space">$f(x) = x  - \ln x, \qquad \left[\frac{1}{2}, 2\right]$</li>
            </ol>
        </li>
        <li class="hw-space">Find the intervals on which $f$ is increasing and all local minimum and maximum values:
            <ol type="a">
                <li class="hw-space">$f(x) = 2x^3 + 3x^2 - 36x$</li>
                <li class="hw-space">$f(x) = x^2e^{-3x}$</li>
                <li class="hw-space">$f(x) = \dfrac{\ln x}{\sqrt{x}}$</li>
            </ol>
        </li>
        <li class="hw-space">Suppose $f(x)$ is not continuous and you use the First Derivative Test to find all local minimums and maximums. Draw a picture of the situation where a found local maximum isn't actually a real one.</li>
        <li class="hw-space">Why does the Increasing/Decreasing Test work?</li>

    </ol>
</div>
{% endblock %}