{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - Homework 8</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - Homework 9"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 9"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/homework/hw9"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 9</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
</p><hr>
    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">What is the main idea behind implicit differentiation?</li>

        <li class="hw-space">Isolate $z$ in the equation \[-\sin(xy)(x + xz) = 1 + \cos(y)z\]</li>

        <li class="hw-space">Find $dy/dx$ with implicit differentiation for the equation \[x^3 + y^3 + x^2 + y = 1\]     
        </li>

        <li class="hw-space">Consider the equation $x^{2/3} + y^{2/3} = 4$. Find the equation of the tangent line at the point $(-3\sqrt{3}, 1)$.</li>

        <li class="hw-space">Given an equation in implicit form, should you manipulate the equation before applying the derivative to both sides?</li>

        <li class="hw-space">Here is the curve of $x^3 + y^3 = 6xy$: <img src="/static/swrlly/images/teaching/141-hw7-1.png" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        
            <p>In implicit differentiation, we assume $y = f(x)$ under suitable conditions. Draw multiple graphs which represent these "suitable conditions.". </p>
    
            <p>Hint: Chop up the curve so each part passes the vertical line test.</p>
        </li>

        <li class="hw-space">Find $dy/dx$ with implicit differentiation:
            <ol type="a">
                <li class="hw-space">$x^2 - xy - y^2 = 4$</li>
                <li class="hw-space">$1 + x = \sin(xy)$ </li>
                <li class="hw-space">$x^4y^3 + x^2y^4 = 2$</li>
                <li class="hw-space">$2\sqrt{x} + \sqrt{y} = 3$</li>
                <li class="hw-space">$(x + y)^3 + x^3 + y^3 = 0$</li>
                <li class="hw-space">$\dfrac{x}{y^3 - y} = 1$</li>
                <li class="hw-space">$\sin(x + y) = y^2 \cos x$</li>
                <li class="hw-space">$(x+y)^3 + x^3 + y^3 = 0$</li>
                <li class="hw-space">$e^{2y} + e^{2x} = 5$</li>
            </ol>
        </li>

        <li class="hw-space">Find the equation of the tangent line at $(1,2)$ for the equation \[x^2  + 2xy - y^2 + x = 2\]</li>

        <li class="hw-space">Find the equation of the tangent line at $(\pi, \pi)$ for the equation \[\sin(x + y) = 2x - 2y\]</li>

        <li class="hw-space">Find the equation of the tangent line at $(-2,-2)$ for the equation \[x^3 + y^3 - \dfrac{17}{4}xy = 1\]</li>

        <li class="hw-space">The area of a triangle with lengths $a$ and $b$ and included angle $\theta$ is \[A = \frac{1}{2}ab \sin \theta\] If $a = 2$ cm, $b = 3$ cm, and $\theta$ is increasing at a rate of $0.2$ rad/min, how fast is the area increasing when $\theta = \frac{\pi}{3}$?</li>

        <li class="hw-space">The formula for the volume $V$ of a cube with side length $s$ is $V = s^3$. The sides of the cube are 5 feet long and increasing at the rate of $0.2$ inches/second. How fast is the volume of the cube changing?</li>

        <li class="hw-space">The kinetic energy of an object is $K = \frac{1}{2}mv^2$. If the object is accelerating at a rate of $9.8 \ m/s^2$, and the mass is $30$ kilograms, how fast is the kinetic energy increasing when the speed is $30$ meters per second?

        <br/>Hint: Kinetic energy is measured in units $\frac{kg \cdot m^2}{s^2}$, so the rate of change of kinetic energy must be in units $\dfrac{\frac{kg \cdot m^2}{s^2}}{s} = \frac{kg \cdot m^2}{s^3}$ 
        </li>

        <li class="hw-space">Suppose a drop of dye was dropped into a large bowl filled with water. If the dye spreads out in a circle and its radius is increasing at a rate of 2 cm/sec, determine how fast the area is increasing when the radius of the circle is 10 cm.</li>

        <li class="hw-space">A plane flying horizontally at an altitude of 1 mi and a speed of 500 mph passes directly over a radar station. Find the rate at which the distance from the plane to the station is increasing when it is 2 miles away from the station.</li>

        <li class="hw-space">If the minute hand of a clock has length r (in centimeters) find the rate at which it sweeps out area as a function of r.

            <br/>

        Use the equation of a sector of a circle $A = \dfrac{1}{2}r^2 \theta$ (picture showing this below) and the fact that the rate at which the minute hand moves is $2\pi$ radians per hour.

        <img src="/static/swrlly/images/teaching/141-hw7-2.png" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        </li>

        <li class="hw-space">Suppose a meat distributor is willing to make $x$ pounds of beef available every week on the marketplace when the price is $\$p$ per pound. The relationship between quantity supplied $x$ and price $p$ is \[650p^2 - x^2 = 100\] If 30,000 pounds of beef are available on the marketplace this week and the price per pound is falling by 2 cents per week, at what rate is the supply falling? 

            <p>Hint: the quantity supplied $x$ and the price per pound $p$ are quantities that change every week, or in other words, over time.</p>
        </li>

        <li class="hw-space">Differentiate the following. Remember you can use logarithmic differentiation to simplify the form for some problems.
            <ol type="a">
                <li class="hw-space">$f(x) = x\ln x$</li>
                <li class="hw-space">$f(x) = \ln (\sin^2 x)$</li>
                <li class="hw-space">$f(x) = \sqrt[5]{\ln x}$</li>
                <li class="hw-space">$f(x) = \ln{\sqrt[5]{x}}$</li>
                <li class="hw-space">$y = \ln(e^{-x} + xe^{-x})$</li>
                <li class="hw-space">$y = \dfrac{\sin x \cos^2 x}{(x^2 + 1)^4}$</li>
                <li class="hw-space">$f(x) = x\ln x$</li>
                <li class="hw-space">$f(x) = x^{\cos x}$</li>
                <li class="hw-space">$f(x) = (\sin x)^{\sin x}$</li>
            </ol>
        </li>

        <!--
        <li class="hw-space">
            Find the intervals of concavity:
            <ol type="a">
                <li class="hw-space">$f(x) = 2x^3 + 3x^2 - 36x$</li>
                <li class="hw-space">$f(x) = x^4 - 2x^2 +3$</li>
                <li class="hw-space">$f(x) = 3x^{2/3} - x$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f'(2) = 0$ and $f''(2) = 3$. What can you say about $f$ at $x = 2$?</li>
        <li class="hw-space">State the intervals of concavity of the following function:

            <img src="/static/swrlly/images/teaching/161-hw9-1.PNG" style="max-width:450px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        </li>
        <li class="hw-space">What do the critical numbers tell us about local minimums/maximums?</li>
        <li class="hw-space">Draw the graph of a function with the two types of local maximums.</li>        
        <li class="hw-space">Draw a graph of a function satisfying the following:
            <ul>
                <li class="hw-space">$f'(x) > 0$ on $(-\infty, 1)$, $f'(x) < 0$ on $(1, \infty)$</li>
                <li class="hw-space">$f''(x) < 0$ on $(- \infty, 1)$, $f''(x) > 0$ on $(1, \infty)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow \infty} f(x)= 2$</li>
                <li class="hw-space">$f(1) = 5$</li>
            </ul>
        </li>

        <li class="hw-space">Find the following limits:
            <ol type="a">
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 0}\dfrac{5^x - 3^x}{x}$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 1}\dfrac{x^2 - 1}{x^2 - x}$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow \infty}x^3e^{-x^2}$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow \infty}\dfrac{(\ln(x))^2}{x}$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 1}\dfrac{\ln x}{\sin \pi x}$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow \pi / 2}\dfrac{1 - \sin x}{\csc x}$</li>
            </ol>
        </li>

        <li class="hw-space">Rank the functions in order of how quickly they grow as $x \rightarrow \infty$: \[y = x^5 \qquad y = 2^x \qquad y = \ln(x^{10}) \qquad y = \sqrt{x} \]</li>

        <li class="hw-space">Suppose $n$ is a positive integer. Show \[\lim_{x\rightarrow \infty} \dfrac{x^n}{e^x} = 0\] by using L'Hospital's Rule.</li>

        <li class="hw-space">What does the previous problem tell us about the growth rate of $e^x$ versus $x^n$?</li>

        <li class="hw-space">Find the following limit by considering the dominant terms in the numerator and denominator: \[\lim_{x\rightarrow \infty} = \dfrac{x^2 - x + \ln x}{x + 2^x}\]</li>
    -->
    </ol>
</div>
{% endblock %}