{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 183 - Desmos Animations</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 183"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="the geometric intuition behind multivariable calculus"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-183/desmos-animations"/>

{% endblock %}

<!--{% block extraimports %}
<script async src="/static/swrlly/js/centertext.js"></script>
{% endblock %}-->


{% block content %}
<div class="container fade-in-text text-padding teaching-container">
    <h1>Math 183: Desmos Animations</h1>

    <p>Welcome! This page contains most of the Desmos animations we have seen in class, activities, or the homework. Enjoy!</p>

    <h4 id="how-to-interact">How to Interact with Animations</h4>

    <ul style="padding-bottom:1em;">
        <li>Drag sliders around to interact with the animation!</li>
        <li>Click on icons/folders on the very left of each block to display/hide certain features.</li>
        <li>You can expand each folder to see how each animation was created! Most of the formulas I am using come straight from what we learned in class.</li>
    </ul>

    <h2>Chapter 14: Partial Derivatives</h2><hr>

    <div class="desmos-grid">
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/090gbdwouc?translucentSurfaces"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/090gbdwouc/12810c80-c0ef-11f1-bb97-3dc78e984553.png"><div class="desmos-caption">$dz$ versus $Δz$</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/ljmujoqxex?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/ljmujoqxex/f3e54470-c171-11f1-8d46-8d41fbd58a43.png"><div class="desmos-caption">necessary condition for differentiability: limit of secant cone $\to$ tangent plane</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/kl2lwxfadc?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/kl2lwxfadc/12db6440-c16d-11f1-addb-53e74abd04ab.png"><div class="desmos-caption">differentiable $\iff$ locally linear under homothety ($k \to \infty$)</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/rhugcmwxyc?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/rhugcmwxyc/aecdcfb0-bd6b-11f1-85f0-2d8691c85374.png"><div class="desmos-caption">directional derivative + gradient</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/xphleug1hy?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/xphleug1hy/56fefad0-bd6a-11f1-9796-33cab6595120.png"><div class="desmos-caption">partial derivatives: why we hold a variable constant</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/4rqr2hugjv?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/4rqr2hugjv/a62e0460-bd6b-11f1-b9b6-65d06319d1ef.png"><div class="desmos-caption">$\displaystyle\lim_{(x,y)\to (0,0)} \dfrac{xy}{x^2 + y^2}$ DNE</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/hqhbdxarmn?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/hqhbdxarmn/1bad20b0-bd6a-11f1-a7d7-77805071ae43.png"><div class="desmos-caption">level curve plotter</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/yxc1xtsxgr?translucentSurfaces"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/yxc1xtsxgr/f7ddccc0-bd69-11f1-85f0-2d8691c85374.png"><div class="desmos-caption">level curves</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/cnulq4l7tk?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/cnulq4l7tk/07b10cb0-bd6b-11f1-a3fa-edbe2929c1b6.png"><div class="desmos-caption">traces of $f(x,y) = \sqrt{4 - 4x^2 - y^2}$</div></a></div>
    </div>

    <h2>Chapter 13: Vector Functions</h2><hr>

    <div class="desmos-grid">
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/faetoehi9y?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/faetoehi9y/17494d30-bd71-11f1-b9b6-65d06319d1ef.png"><div class="desmos-caption">tangential and normal components of acceleration</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/fgp9ijnmr9?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/fgp9ijnmr9/caf208d0-bd7c-11f1-8a8e-e9a92f7929f3.png"><div class="desmos-caption">position, velocity, acceleration vectors</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/4t1z57ipl7?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/4t1z57ipl7/39d49720-bd6b-11f1-a086-235154100cef.png"><div class="desmos-caption">unit speed cycloid</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/loipwz91ac?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/loipwz91ac/a81a2ee0-bd69-11f1-aa12-936ea5a99010.png"><div class="desmos-caption">non-unit speed cycloid</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/5zkxol07gg?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/5zkxol07gg/521acd60-bd69-11f1-9d4f-d799781a7221.png"><div class="desmos-caption">vector equation of "tennis ball"</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/txnk1a4doe?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/txnk1a4doe/b1680290-bd6b-11f1-b9b6-65d06319d1ef.png"><div class="desmos-caption">tangent vector = limit of secant vectors</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/calculator/lxolyvqomq"><img class="desmos-thumb" src="https://www.desmos.com/calc_thumbs/production/version/lxolyvqomq/cc3d1680-bd68-11f1-b9b6-65d06319d1ef.png"><div class="desmos-caption">calc 1: tangent line = limit of secant lines</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/f7swtfxo0h?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/f7swtfxo0h/92097da0-bd68-11f1-9f47-2fde3217afeb.png"><div class="desmos-caption">limit of a vector</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/ajkwz8z4no?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/ajkwz8z4no/f35dadc0-bd67-11f1-aabf-633456a26de6.png"><div class="desmos-caption">conic sections</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/calculator/fbkvvqarfz"><img class="desmos-thumb" src="https://www.desmos.com/calc_thumbs/production/version/fbkvvqarfz/47079770-bd71-11f1-aabf-633456a26de6.png"><div class="desmos-caption">vector equation components</div></a></div>
    </div>

    <h2>Chapter 12: Vectors and the Geometry of Space</h2><hr>
    <div class="desmos-grid">
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/calculator/2qcrc9xax7"><img class="desmos-thumb" src="https://www.desmos.com/calc_thumbs/production/version/2qcrc9xax7/57f341b0-bd71-11f1-9796-33cab6595120.png"><div class="desmos-caption">Thales's Theorem</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/kvcb0yepka?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/kvcb0yepka/26412cd0-bd68-11f1-b6bc-8fe7347a8cbe.png"><div class="desmos-caption">vector equation of a line</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/diqous70ej?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/diqous70ej/e4d45d80-bd67-11f1-9784-015679a68268.png"><div class="desmos-caption">negative parallelepiped volume example</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/jwzqkl8ybq?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/jwzqkl8ybq/ccd3a6a0-bd67-11f1-a7d7-77805071ae43.png"><div class="desmos-caption">cross product components: projected parallelograms</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/oh4fewemep?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/oh4fewemep/a807f150-bd67-11f1-9784-015679a68268.png"><div class="desmos-caption">cross product</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/1h4j2ufxzk?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/1h4j2ufxzk/64e64610-bd67-11f1-9303-a92a98b8228c.png"><div class="desmos-caption">vector projection</div></a></div>
        <div class="desmos-item"><a target="_blank" rel="noopener" href="https://www.desmos.com/3d/9j39fifakw?translucentSurfaces&invertedColors"><img class="desmos-thumb" src="https://www.desmos.com/calc-3d-thumbs/production/version/9j39fifakw/fae37630-bd6a-11f1-a086-235154100cef.png"><div class="desmos-caption">dot product angle</div></a></div>
    </div>





    <!--<div id="toc_container">
        <p class="toc_title">Table of Contents</p>
        <ul class="toc_list_no_bullet">
            <li style="margin-top:0.25rem;" >
                <a target="_blank" rel="noopener" href="#chapter-12">Chapter 12</a>
                <ol class="toc_ol">
                    <li><a target="_blank" rel="noopener" href="#12.1">12.1: Three-Dimensional Coordinate Systems</a></li>
                    <li><a target="_blank" rel="noopener" href="#12.2">12.2: Vectors</a></li>
                    <li><a target="_blank" rel="noopener" href="#12.3">12.3: The Dot Product</a></li>
                    <li><a target="_blank" rel="noopener" href="#12.4">12.4: The Cross Product</a></li>
                    <li><a target="_blank" rel="noopener" href="#12.5">12.5: Equations of Lines and Planes</a></li>
                </ol>
            </li>
            <li style="margin-top:0.25rem;" >
                <a target="_blank" rel="noopener" href="#chapter-13">Chapter 13</a>
                <ol class="toc_ol">
                    <li><a target="_blank" rel="noopener" href="#13.1">13.1: Vector Functions and Space Curves</a></li>
                    <li><a target="_blank" rel="noopener" href="#13.2">13.2 + 13.4: Derivatives and Integrals of Vector Functions</a></li>
                    <li><a target="_blank" rel="noopener" href="#13.3">13.3: Arc Length and Curvature</a></li>
                </ol>
            </li>
        </ul>
    </div>-->


    
</div>
{% endblock %}

