{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 183 - Toolkit</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 183"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="multivariable calculus"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-183/toolkit"/>

{% endblock %}

<!--{% block extraimports %}
<script async src="/static/swrlly/js/centertext.js"></script>
{% endblock %}-->


{% block content %}
<div class="container fade-in-text text-padding teaching-container">
    <h1>Math 183: Toolkit 🧰</h1>

    <p>This toolkit contains all of the definitions, properties, facts and theorems you need to <b>memorize</b> all on one webpage. These are your tools on quizzes and exams.</p>

    <p>It also contains the Desmos animations we have seen in class!</p>

    <div id="toc_container">
        <p class="toc_title">Table of Contents</p>
        <ul class="toc_list_no_bullet">
            <li style="margin-top:0.25rem;" >
                <a href="#chapter-12">Chapter 12</a>
                <ol class="toc_ol">
                    <li><a href="#12.1">12.1: Three-Dimensional Coordinate Systems</a></li>
                    <li><a href="#12.2">12.2: Vectors</a></li>
                    <li><a href="#12.3">12.3: The Dot Product</a></li>
                    <li><a href="#12.4">12.4: The Cross Product</a></li>
                    <li><a href="#12.5">12.5: Equations of Lines and Planes</a></li>
                </ol>
            </li>
            <li style="margin-top:0.25rem;" >
                <a href="#chapter-13">Chapter 13</a>
                <ol class="toc_ol">
                    <li><a href="#13.1">13.1: Vector Functions and Space Curves</a></li>
                    <li><a href="#13.2">13.2 + 13.4: Derivatives and Integrals of Vector Functions</a></li>
                    <li><a href="#13.3">13.3: Arc Length and Curvature</a></li>
                </ol>
            </li>
        </ul>
    </div>

    <!--<h2 id="desmos-animations">Desmos Animations</h2><hr>

    <h4 id="how-to-interact">How to Interact with Animations</h4>

    <ul style="padding-bottom:1em;">
        <li>Drag sliders around to see animations!</li>
        <li>Click on folders/squiggly lines to the left of each block to turn off/on each block.</li>
        <li>If you are curious, you can expand each folder to see how each animation was created!</li>
        <li>If you do change a slider/graph, when leaving the webpage, you'll be prompted with "do you want to leave this page?" You can just leave; closing Desmos will ask you this everytime.</li>
    </ul>

    <h4 id="12.3anim">12.3: The Dot Product</h4><hr>



    <p>

    </p>
    
    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/3d/1h4j2ufxzk"></iframe></div>
    
    <h4 id="12.4anim">12.4: The Cross Product</h4><hr>

    <p>In 12.4: The Cross Product, we saw that $\vec{a}\times\vec{b}$ is orthogonal to both $\vec{a}$ and $\vec{b}$, and that its length is the area of the parallelogram determined by $\vec{a}$ and $\vec{b}$.</p>

    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/3d/oh4fewemep"></iframe></div>

    <p>When visualizing 3D surfaces on your own, I recommend checking your work with <a href="https://www.desmos.com/3d">https://www.desmos.com/3d</a>.</p>-->


    <h2 id="chapter-12">Chapter 12: Vectors and the Geometry of Space</h2><hr>

    <h4 id="12.1">12.1: Three-Dimensional Coordinate Systems</h4>

    <div class="math-def"> set
        <p class="block-txt">A <b>set</b> is a collection of objects, along with a condition of membership. We write \[A = \{\text{objects} : \text{membership condition}\}\]</p>
        <p class="block-txt">If $a$ is an element of the set $S$, we write $a \in S$.</p>
    </div>

    <div class="math-def"> $\mathbb{R}^2$, $\mathbb{R}^3$
        <p class="block-txt">$\mathbb{R}$ denotes the set of all real numbers. The familiar $xy$-plane is \[\mathbb{R}^2 = \{(x, y) : x, y \in \mathbb{R}\}\]</p>
        <p class="block-txt">The <b>3D rectangular coordinate system</b> is \[\mathbb{R}^3 = \{(x, y, z) : x, y, z \in \mathbb{R}\}\]</p>
        <p class="block-txt">Movement in each coordinate $a, b, c$ of the point $(a, b, c)$ is <b>parallel</b> to the $x$-, $y$-, and $z$-axis, respectively.</p>
    </div>

    <!--<div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/3d/5ewkbyfzhg?invertedColors&translucentSurfaces"></iframe></div>-->

    

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Right Hand Rule</b><br>
        <p class="block-txt">There are two directions the positive $z$-axis could point. Mathematicians decided on the <b>right hand rule</b>: flatten your hand and point your four fingers along the $x$-axis. Curl your fingers in the <b>shortest rotation</b> from the $x$-axis to the $y$-axis. Then your <b>thumb</b> points in the direction of the positive $z$-axis.</p>
    </div>

    <div class="math-def"> Distance Formula in 3D
        <p class="block-txt">The distance between the points $P_1(x_1, y_1, z_1)$ and $P_2(x_2, y_2, z_2)$, denoted $|P_1P_2|$, is \[|P_1P_2| = \sqrt{(x_2 - x_1)^2 + (y_2 - y_1)^2 + (z_2 - z_1)^2}\]</p>
    </div>

    <div class="math-def"> equation of a sphere
        <p class="block-txt">A <b>sphere</b> is the set of all points $P(x, y, z)$ at distance $r$ away from the center $C(h, k, \ell)$. Its equation is \[(x - h)^2 + (y - k)^2 + (z - \ell)^2 = r^2\]</p>
        <p class="block-txt">If the center is $O(0,0,0)$, then the equation is \[x^2 + y^2 + z^2 = r^2\]</p>
    </div>

    <h4 id="12.2">12.2: Vectors</h4><hr>

    <div class="math-def"> vector
        <p class="block-txt">A <b>vector</b> is a mathematical quantity with both direction and magnitude. Vectors carry no information about <b>position</b>.</p>
    </div>

    <div class="math-def"> displacement vector, equivalent vectors, zero vector
        <p class="block-txt">A <b>displacement vector</b> $\ray{AB}$ is a vector that takes you from a point $A$ to a point $B$.</p>
        <p class="block-txt">Two vectors are <b>equivalent</b> (we write $\ray{AB} = \ray{CD}$) if they have the same direction and magnitude. Their initial points may be different, yet the vectors are equivalent.</p>
        <p class="block-txt">The <b>zero vector</b>, denoted $\vec{0}$, is the vector with magnitude $0$. It is the one exception to the definition above: it has no assigned direction.</p>
    </div>

    <div class="math-def"> geometric addition of vectors
        <p class="block-txt">Given two vectors $\vec{u}$ and $\vec{v}$, position the tail of $\vec{v}$ on the tip of $\vec{u}$. Then $\vec{u} + \vec{v}$ is the vector from the tail of $\vec{u}$ to the tip of $\vec{v}$.</p>
    </div>

    <div class="math-def"> scalar multiplication
        <p class="block-txt">Let $c$ be a scalar and $\vec{v}$ a vector. The <b>scalar multiple</b> $c\vec{v}$ is the vector whose magnitude is $|c|$ times the magnitude of $\vec{v}$ and whose direction is the same as $\vec{v}$ if $c > 0$ and opposite to $\vec{v}$ if $c < 0$.</p>
        <p class="block-txt">If $c = 0$ or $\vec{v} = \vec{0}$, then $c\vec{v} = \vec{0}$.</p>
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Scaling and Lines</b><br>
        <p class="block-txt">Scaling changes magnitude and either preserves or reverses direction. Every scalar multiple of $\vec{v}$ lies along the same <b>line</b>. Collecting all of them at once, the set \[\left\{c\,\vec{v} : c \in \mathbb{R}\right\}\] is a line in the direction of $\vec{v}$.</p>
    </div>

    <div class="math-def"> subtraction of vectors
        <p class="block-txt">The difference of two vectors is defined as \[\vec{u} - \vec{v} = \vec{u} + (-\vec{v})\]</p>
        <p class="block-txt"><b>Think</b> Reverse the direction of $\vec{v}$, then add normally.</p>
        <p class="block-txt">If the initial points of both vectors are the same, $\vec{u} - \vec{v}$ is simply the vector <b>from</b> the tip of $\vec{v}$ <b>to</b> the tip of $\vec{u}$.</p>
    </div>

    <div class="math-def"> position vector
        <p class="block-txt">If we let the initial point of a vector $\vec{a}$ be the <b>origin</b>, then the terminal point has coordinates $(a_1, a_2)$ or $(a_1, a_2, a_3)$, and we write \[\vec{a} = \vc{a_1, a_2} \qquad \text{or} \qquad \vec{a} = \vc{a_1, a_2, a_3}\]</p>
        <p class="block-txt">Angled brackets distinguish a vector from a coordinate $(a_1, a_2)$. These vectors are called <b>position vectors</b>.</p>
    </div>

    <div class="math-def"> finding a position vector from two points
        <p class="block-txt">Given points $A(a_1, a_2, a_3)$ and $B(b_1, b_2, b_3)$, the (position) vector $\vec{v}$ with representation $\ray{AB}$ is \[\vec{v} = \vc{b_1 - a_1,\ b_2 - a_2,\ b_3 - a_3}\]
            A vector is a <b>difference</b> of points (<b>destination minus start</b>). This is why a vector has no information about <b>position</b>: the difference forgets where the vector started.
        </p>
    </div>

    <div class="math-def"> vector algebra and magnitude
        <p class="block-txt">Let $\vec{a} = \vc{a_1, a_2, a_3}$, $\vec{b} = \vc{b_1, b_2, b_3}$ and $c \in \mathbb{R}$.</p>
        <ol style="margin-bottom: 0.5rem">
            <li class="lec-list-space">The magnitude (or length) of $\vec{a}$, denoted $|\vec{a}|$, is $|\vec{a}| = \sqrt{a_1^2 + a_2^2 + a_3^2}$</li>
            <li class="lec-list-space">$\vec{a} + \vec{b} = \vc{a_1, a_2, a_3} + \vc{b_1, b_2, b_3} = \vc{a_1 + b_1,\ a_2 + b_2,\ a_3 + b_3}$</li>
            <li class="lec-list-space">$\vec{a} - \vec{b} = \vc{a_1, a_2, a_3} - \vc{b_1, b_2, b_3} = \vc{a_1 - b_1,\ a_2 - b_2,\ a_3 - b_3}$</li>
            <li class="lec-list-space">$c\vc{a_1, a_2, a_3} = \vc{ca_1,\ ca_2,\ ca_3}$
                <div style="padding-top: 0.75rem;"><b>Think</b> To add/subtract vectors, add/subtract their corresponding components. To multiply a vector by a scalar, multiply each component by that scalar.</div>
            </li>
        </ol>
    </div>

    <div class="math-def"> $V_n$, vector space
        <p class="block-txt">The set of all $n$-dimensional vectors is \[V_n = \left\{\vc{a_1, a_2, \dots, a_n} : a_i \in \mathbb{R}\right\}\]</p>
        <p class="block-txt">$V_n$ is called a <b>vector space</b>: a set of vectors, together with addition and scalar multiplication, <b>required</b> to satisfy the 8 properties below (the vector space axioms, for those in Calculus IV).</p>
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Properties of Vectors</b><br>
        <p class="block-txt">Let $\vec{a}, \vec{b}, \vec{c} \in V_n$ and $c, d \in \mathbb{R}$.</p>
        <ol style="margin-bottom: 0.5rem">
            <li class="lec-list-space">$\vec{a} + \vec{b} = \vec{b} + \vec{a}$</li>
            <li class="lec-list-space">$\vec{a} + \vec{0} = \vec{a}$</li>
            <li class="lec-list-space">$c(\vec{a} + \vec{b}) = c\vec{a} + c\vec{b}$</li>
            <li class="lec-list-space">$(cd)\vec{a} = c(d\vec{a})$</li>
            <li class="lec-list-space">$\vec{a} + (\vec{b} + \vec{c}) = (\vec{a} + \vec{b}) + \vec{c}$</li>
            <li class="lec-list-space">$\vec{a} + (-\vec{a}) = \vec{0}$</li>
            <li class="lec-list-space">$(c + d)\vec{a} = c\vec{a} + d\vec{a}$</li>
            <li class="lec-list-space">$1\vec{a} = \vec{a}$</li>
        </ol>
    </div>

    <div class="math-def"> unit vector
        <p class="block-txt">A <b>unit vector</b> is a vector with magnitude 1. Given $\vec{a} \neq \vec{0}$, the corresponding unit vector is \[\vec{u} = \dfrac{\vec{a}}{|\vec{a}|}\]</p>
    </div>

    <div class="math-fact"> <b style="color:var(--factcolor)"></b><br>
        <p class="block-txt">Any vector $\vec{a} \neq \vec{0}$ can be decomposed into a product of its length and its unit direction: \[\vec{a} = \underbrace{\abs{\vec{a}}}_{\text{length}} \cdot \underbrace{\dfrac{\vec{a}}{|\vec{a}|}}_{\text{unit direction}}\]</p>
    </div>

    <div class="math-fact"> <b style="color:var(--factcolor)"></b><br>
        <p class="block-txt">An arbitrary vector $\vec{a} = \vc{a_1, a_2, a_3}$ can be broken up into vectors in each dimension:
        \begin{align} \vec{a} &= \vc{a_1, a_2, a_3} \\ &= \vc{a_1, 0, 0} + \vc{0, a_2, 0} + \vc{0, 0, a_3} \\ &= a_1\vc{1,0,0} + a_2\vc{0,1,0} + a_3\vc{0,0,1} \\ &= a_1\iv + a_2\jv + a_3\kv \end{align}
        where $\iv = \vc{1,0,0}$, $\jv = \vc{0,1,0}$, $\kv = \vc{0,0,1}$ are the <b>standard basis vectors</b>.</p>
    </div>



    <h4 id="12.3">12.3: The Dot Product</h4><hr>

    <div class="math-def"> dot product
        <p class="block-txt">Given two vectors $\vec{a} = \vc{a_1, a_2, a_3}$ and $\vec{b} = \vc{b_1, b_2, b_3}$, the dot product $\vec{a}\cdot\vec{b}$ is defined \[\vec{a}\cdot\vec{b} = a_1b_1 + a_2b_2 + a_3b_3\]</p>
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Dot Product Properties</b><br>
        <p class="block-txt">Let $\vec{a}, \vec{b}, \vec{c} \in V_3$ and $c \in \mathbb{R}$. Then</p>
        <ol style="margin-bottom: 0.5rem">
            <li class="lec-list-space">$\vec{a} \cdot \vec{a} = |\vec{a}|^2$
                <div style="padding-top: 0.75rem;"><b>Think</b> Equivalently $|\vec{a}| = \sqrt{\vec{a}\cdot\vec{a}}$.</div>
            </li>
            <li class="lec-list-space">$\vec{a} \cdot \vec{b} = \vec{b} \cdot \vec{a}$</li>
            <li class="lec-list-space">$\vec{a} \cdot \left(\vec{b} + \vec{c}\right) = \vec{a}\cdot \vec{b} + \vec{a} \cdot \vec{c}$</li>
            <li class="lec-list-space">$\left(c\vec{a}\right) \cdot \vec{b} = c\left(\vec{a}\cdot \vec{b}\right) = \vec{a} \cdot \left(c\vec{b}\right)$</li>
            <li class="lec-list-space">$\vec{0} \cdot \vec{a} = 0$</li>
            <li class="lec-list-space">If $\vec{a} \cdot \vec{a} = 0$, then $\vec{a} = \vec{0}$.
            </li>
        </ol>
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Theorem (Geometric Meaning of the Dot Product)</b><br>
        <p class="block-txt">If $\theta$ is the angle between $\vec{a}$ and $\vec{b}$, then \[\vec{a} \cdot \vec{b} = |\vec{a}||\vec{b}|\cos\theta\]</p>
        <p class="block-txt"><b>Key Idea</b> $\vec{a}\cdot\vec{b}$ is the Pythagorean defect: how far off $\vec{a}$ and $\vec{b}$ are from forming a <b>right angle</b>.</p>
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Corollary (Angle Between Two Vectors)</b><br>
        <p class="block-txt">If $\vec{a}, \vec{b} \neq \vec{0}$, then the angle $\theta$ between $\vec{a}$ and $\vec{b}$ satisfies \[\cos\theta = \dfrac{\vec{a}\cdot\vec{b}}{|\vec{a}||\vec{b}|}\]</p>
    </div>

    <p>In $\mathbb{R}^3$, two nonzero vectors $\vec{a}$ and $\vec{b}$ span a plane. The angle $\theta$ between $\vec{a}$ and $\vec{b}$ means the same thing in $\mathbb{R}^2$ as it does in $\mathbb{R}^3$: place them tail to tail and measure the angle inside the plane, taking $0 \leq \theta \leq \pi$.</p>

    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/3d/9j39fifakw?invertedColors&translucentSurfaces"></iframe></div>

    <div class="math-def"> orthogonal
        <p class="block-txt">Two vectors are <b>orthogonal</b> (perpendicular) precisely when the angle between them is $\theta = 90^\circ$.</p>
        <p class="block-txt"><b>Fact</b> $\vec{a}$ and $\vec{b}$ are orthogonal if and only if $\vec{a}\cdot\vec{b} = 0$.</p>
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Orientation from the Dot Product</b><br>
        <p class="block-txt">The angle $\theta$, and in turn the dot product, tells us how two nonzero vectors are oriented:</p>
        <ul style="margin-bottom: 0.5rem">
            <li>$\vec{a}\cdot\vec{b} > 0$ means $\theta$ is acute (the vectors point "the same way").</li>
            <li>$\vec{a}\cdot\vec{b} = 0$ means $\theta = 90^\circ$ (orthogonal).</li>
            <li>$\vec{a}\cdot\vec{b} < 0$ means $\theta$ is obtuse (the vectors point "opposite ways").</li>
        </ul>
        <p class="block-txt">Vectors are <b>parallel</b> when $\theta = 0^\circ$ or $180^\circ$, or equivalently when $\vec{b} = c\vec{a}$ for some scalar $c$.</p>
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Key Idea (Projections)</b><br>
        <p class="block-txt">$\vec{a}\cdot\vec{b}$ really measures "how much" $\vec{b}$ is pointing in $\vec{a}$'s direction, relative to $|\vec{a}|$.</p>
        <p class="block-txt">When $|\vec{a}| = 1$, $\vec{a}\cdot\vec{b}$ answers the question "How much of $\vec{b}$ points along $\vec{a}$, measured in $\vec{a}$-lengths?"</p>
        
        <p class="block-txt">In general, $\vec{a}$ is not a unit vector, but \[\vec{a}\cdot\vec{b} = |\vec{a}||\vec{b}|\cos\theta \qquad \text{implies} \qquad |\vec{b}|\cos\theta = \dfrac{\vec{a}\cdot\vec{b}}{|\vec{a}|} = \dfrac{\vec{a}}{|\vec{a}|}\cdot \vec{b}\] which is exactly the dot product of $\vec{b}$ with the <b>unit vector</b> in the direction of $\vec{a}$.</p>
    </div>

    <div class="math-def"> scalar projection, vector projection
        <p class="block-txt">The <b>scalar projection</b> of $\vec{b}$ onto $\vec{a}$ (also called the component of $\vec{b}$ along $\vec{a}$) is the signed length of the shadow of $\vec{b}$ in the direction of $\vec{a}$: \[\text{comp}_{\vec{a}}\vec{b} = \dfrac{\vec{a}\cdot\vec{b}}{|\vec{a}|}\]</p>
        <p class="block-txt">The <b>vector projection</b> of $\vec{b}$ onto $\vec{a}$ is that shadow as a vector (scalar projection times the unit vector in the direction of $\vec{a}$): \[\text{proj}_{\vec{a}}\vec{b} = \left(\dfrac{\vec{a}\cdot\vec{b}}{|\vec{a}|}\right)\dfrac{\vec{a}}{|\vec{a}|} = \left(\dfrac{\vec{a}\cdot\vec{b}}{|\vec{a}|^2}\right)\vec{a}\]</p>
    </div>


    <p>In the following, the light purple vector is projected onto the blue vector. The vector projection is the dark purple vector. The scalar projection is the length of the dark purple vector.
    </p>
    <!---->
    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/3d/1h4j2ufxzk?invertedColors&translucentSurfaces"></iframe></div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Thales's Theorem</b><br>
        <p class="block-txt">If $A, B, C$ are distinct points on circle $O$ where $\overline{AB}$ is a diameter, then $\angle ACB$ is a <b>right angle</b>.</p>
    </div>

    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/calculator/2qcrc9xax7?invertedColors"></iframe></div>

    
    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Alternate Equation of a Circle</b><br>
        <p class="block-txt">If $A(x_1, y_1)$ and $B(x_2, y_2)$ are the endpoints of a diameter, then the circle is the set of points $C(x, y)$ with $\ray{CA}\cdot\ray{CB} = 0$, giving \[(x - x_1)(x - x_2) + (y - y_1)(y - y_2) = 0\]</p>
    </div>

    <h4 id="12.4">12.4: The Cross Product</h4><hr>

    <div class="math-def"> determinant of order 2
        <p class="block-txt">A <b>determinant of order 2</b> is defined by \[\begin{vmatrix} a & b \\ c & d\end{vmatrix} = ad - bc\]</p>
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Determinants and Signed Area</b><br>
        <p class="block-txt">Insert the coordinates of $\vec{a}$ and $\vec{b}$ into the determinant column-wise, $\vec{a}$ first. The result is the <b>signed area</b> of the parallelogram determined by $\vec{a}$ and $\vec{b}$.</p>
        <p class="block-txt">The sign comes from the <b>right hand rule</b>, with the left column vector rotated onto the right column vector:</p>
        <ul style="margin-bottom: 0.5rem">
            <li class="lec-list-space">If your thumb points into the page (away from you), the area is <b>negative</b>.</li>
            <li class="lec-list-space">If your thumb points out of the page (towards you), the area is <b>positive</b>.</li>
        </ul>
        <p class="block-txt">Swapping the order of the columns (rotating $\vec{b}$ onto $\vec{a}$ instead) flips the sign.</p>
    </div>

    <div class="math-def"> cross product
        <p class="block-txt">Let $\vec{a} = \vc{a_1, a_2, a_3}$ and $\vec{b} = \vc{b_1, b_2, b_3}$. The <b>cross product</b> of $\vec{a}$ and $\vec{b}$ is the vector \[\vec{a}\times\vec{b} = \vc{a_2b_3 - a_3b_2,\ a_3b_1 - a_1b_3,\ a_1b_2 - a_2b_1}\]</p>
    </div>

    <div class="math-def"> determinant of order 3
        <p class="block-txt">A <b>determinant of order 3</b> is defined by expansion along the first row: \[\begin{vmatrix} a_1 & a_2 & a_3 \\ b_1 & b_2 & b_3 \\ c_1 & c_2 & c_3\end{vmatrix} = a_1\begin{vmatrix} b_2 & b_3 \\ c_2 & c_3\end{vmatrix} - a_2\begin{vmatrix} b_1 & b_3 \\ c_1 & c_3\end{vmatrix} + a_3\begin{vmatrix} b_1 & b_2 \\ c_1 & c_2\end{vmatrix}\]</p>
        Note the alternating signs $+, -, +$.
    </div>

    <div class="math-def"> cross product (determinant form)
        <p class="block-txt">Let $\vec{a} = \vc{a_1, a_2, a_3}$ and $\vec{b} = \vc{b_1, b_2, b_3}$. The cross product $\vec{a}\times\vec{b}$ is \[\vec{a}\times\vec{b} = \begin{vmatrix} \iv & \jv & \kv \\ a_1 & a_2 & a_3 \\ b_1 & b_2 & b_3\end{vmatrix} = \begin{vmatrix} a_2 & a_3 \\ b_2 & b_3\end{vmatrix}\iv - \begin{vmatrix} a_1 & a_3 \\ b_1 & b_3\end{vmatrix}\jv + \begin{vmatrix} a_1 & a_2 \\ b_1 & b_2\end{vmatrix}\kv\]</p>
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Theorem (Direction of the Cross Product)</b><br>
        <p class="block-txt">The vector $\vec{a}\times\vec{b}$ is <b>orthogonal</b> to both $\vec{a}$ and $\vec{b}$: \[(\vec{a}\times\vec{b})\cdot\vec{a} = 0 \qquad \text{and} \qquad (\vec{a}\times\vec{b})\cdot\vec{b} = 0\]</p>
        <p class="block-txt">Among the two directions orthogonal to both, the direction of $\vec{a}\times\vec{b}$ is given by the <b>right hand rule</b>.</p>
        <p class="block-txt"><b>Careful</b> Always curl your fingers from the vector left of $\times$ towards the vector on the right.</p>
    </div>

    <div class="math-def"> normal vector to a plane
        <p class="block-txt">A vector $\vec{a}$ that is orthogonal to every vector in the plane.</p>
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Theorem (Length of the Cross Product)</b><br>
        <p class="block-txt">If $\theta$ is the angle between $\vec{a}$ and $\vec{b}$ with $\theta \in [0, \pi]$, then \[|\vec{a}\times\vec{b}| = |\vec{a}||\vec{b}|\sin\theta\]</p>
    </div>

    <div class="math-fact"> <b style="color:var(--factcolor)">Cross Product as Area</b><br>
        <p class="block-txt">The length of the cross product $\vec{a}\times\vec{b}$ is equal to the area of the <b>parallelogram</b> determined by $\vec{a}$ and $\vec{b}$.</p>
    </div>

    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/3d/oh4fewemep?translucentSurfaces&invertedColors"></iframe></div>

    <div class="math-fact"> <b style="color:var(--factcolor)">Components are Shadow Areas</b><br>
        <p class="block-txt">Let $\vec{a}, \vec{b} \in V_3$ be nonzero. Then \[\vec{a}\times\vec{b} = \vc{A_{yz},\ A_{zx},\ A_{xy}}\] where $A_{yz}$ is the signed area of the parallelogram determined by $\vec{a}, \vec{b}$ after projecting onto the $yz$-plane, and likewise for $A_{zx}$ and $A_{xy}$.</p>
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Signed Shadow Areas</b><br>

        <p class="block-txt">Given $\vec{a}\times\vec{b}$, after you apply the right hand rule, look down the positive axis normal to that plane (toward the origin).</p>
        <ul style="margin-bottom: 0.5rem">
            <li>If rotating $\vec{a}\to\vec{b}$ is counterclockwise, the area is <b>positive</b>.</li>
            <li>If rotating $\vec{a}\to\vec{b}$ is clockwise, the area is <b>negative</b>.</li>
        </ul>
        <p class="block-txt">Projecting a surface onto a coordinate plane: set the coordinate along the plane's <b>normal</b> to 0.</p>
        <ul style="margin-bottom: 0.5rem">
            <li>Example: the $+x$-axis is normal to the $yz$-plane; projecting onto $yz$ sends $(x, y, z) \mapsto (0, y, z)$.</li>
        </ul>
    </div>

    <p>Here, the blue vector is $\vec{a} = \vc{1,3,2}$, the purple vector is $\vec{b} = \vc{2,1,2}$, and $\vec{a} \times \vec{b} = \vc{4, 2, -5}$. The signed shadow areas are $A_{yz} = 4, A_{zx} = 2, A_{xy} = -5$. </p>

    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/3d/jwzqkl8ybq?translucentSurfaces&invertedColors"></iframe></div>


    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Cross Product Properties</b><br>
        <p class="block-txt">Let $\vec{a}, \vec{b}, \vec{c} \in V_3$ and $c \in \mathbb{R}$. Then</p>
        <ol style="margin-bottom: 0.5rem">
            <li class="lec-list-space">$\vec{a}\times\vec{b} = -\left(\vec{b}\times\vec{a}\right)$
                <div style="padding-top: 0.75rem;"><b>Think</b> The cross product is <b>anticommutative</b>: swapping the order reverses the direction.</div>
            </li>
            <li class="lec-list-space">$(c\vec{a})\times\vec{b} = c\left(\vec{a}\times\vec{b}\right) = \vec{a}\times(c\vec{b})$</li>
            <li class="lec-list-space">$\vec{a}\times(\vec{b} + \vec{c}) = \vec{a}\times\vec{b} + \vec{a}\times\vec{c}$</li>
            <li class="lec-list-space">$(\vec{a} + \vec{b})\times\vec{c} = \vec{a}\times\vec{c} + \vec{b}\times\vec{c}$</li>
            <li class="lec-list-space">$\vec{a}\cdot(\vec{b}\times\vec{c}) = (\vec{a}\times\vec{b})\cdot\vec{c}$</li>
            <li class="lec-list-space">$\vec{a}\times(\vec{b}\times\vec{c}) = (\vec{a}\cdot\vec{c})\vec{b} - (\vec{a}\cdot\vec{b})\vec{c}$</li>
        </ol>
        <p class="block-txt">In particular, $\vec{a}\times\vec{a} = \vec{0}$ for every $\vec{a} \in V_3$.</p>
    </div>

    <div class="math-def"> scalar triple product
        <p class="block-txt">The product $\vec{a}\cdot(\vec{b}\times\vec{c})$ is called the <b>scalar triple product</b>.\[\vec{a}\cdot(\vec{b}\times\vec{c}) = \begin{vmatrix} a_1 & a_2 & a_3 \\ b_1 & b_2 & b_3 \\ c_1 & c_2 & c_3\end{vmatrix}\]</p>
    </div>

    <div class="math-fact"> <b style="color:var(--factcolor)">Volume of a Parallelepiped</b><br>
        <p class="block-txt">The volume of the parallelepiped determined by the vectors $\vec{a}, \vec{b}$ and $\vec{c}$ is the absolute value of their scalar triple product: \[V = \left|\vec{a}\cdot(\vec{b}\times\vec{c})\right|\]</p>
        <p class="block-txt">In particular, $\vec{a}, \vec{b}, \vec{c}$ lie in the same plane (are <b>coplanar</b>) if and only if $\vec{a}\cdot(\vec{b}\times\vec{c}) = 0$.</p>
    </div>

    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/3d/diqous70ej?translucentSurfaces&invertedColors"></iframe></div>

    <h4 id="12.5">12.5: Equations of Lines and Planes</h4><hr>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">What Determines a Line</b><br>
        <p class="block-txt">A line $L$ in $\mathbb{R}^3$ is completely determined if we know two things: a <b>point</b> on the line and a <b>direction vector</b> for $L$, which is a vector $\vec{v}$ <b>parallel</b> to the line.</p>
    </div>

    <div class="math-def"> vector equation of a line
        <p class="block-txt">The vector equation of a line through a point $P_0(x_0, y_0, z_0)$ with position vector $\vec{r}_0$ and parallel to the vector $\vec{v}$ is \[\vec{r} = \vec{r}_0 + t\vec{v}, \qquad t \in \mathbb{R}\]</p>
        <p class="block-txt">Letting $\vec{v} = \vc{a, b, c}$, $\vec{r} = \vc{x, y, z}$ and $\vec{r}_0 = \vc{x_0, y_0, z_0}$, this becomes \[\vc{x, y, z} = \vc{x_0 + ta,\ y_0 + tb,\ z_0 + tc}\]</p>
    </div>

    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/3d/kvcb0yepka?translucentSurfaces&invertedColors"></iframe></div>

    <div class="math-def"> parametric equations of a line
        <p class="block-txt">Parametric equations for a line through the point $(x_0, y_0, z_0)$ and parallel to the vector $\vec{v} = \vc{a, b, c}$ are \[x = x_0 + at, \qquad y = y_0 + bt, \qquad z = z_0 + ct\]</p>
    </div>

    <div class="math-def"> linear interpolation
        <p class="block-txt">The line segment from $\vec{r}_0$ to $\vec{r}_1$ is given by the vector equation \[\vec{r}(t) = (1 - t)\vec{r}_0 + t\vec{r}_1, \qquad 0 \leq t \leq 1\]</p>
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">What Determines a Plane</b><br>
        <p class="block-txt">A plane in $\mathbb{R}^3$ is completely determined if we know two things:</p>
        <ol style="margin-bottom: 0.5rem">
            <li>A <b>point</b> on the plane, and</li>
            <li>a <b>normal vector</b> to the plane.</li>
        </ol>
    </div>

    <div class="math-def"> vector equation of a plane
        <p class="block-txt">The vector equation of a plane through a point $P_0(x_0, y_0, z_0)$ with position vector $\vec{r}_0$, normal vector $\vec{n}$, and arbitrary point $P(x, y, z)$ with position vector $\vec{r}$ is \[\vec{n}\cdot\left(\vec{r} - \vec{r}_0\right) = 0\]

        $\vec{r} - \vec{r}_0$ sweeps out every point in the plane.
        </p>
    </div>

    <div class="math-def"> scalar equation of a plane
        <p class="block-txt">A scalar equation of the plane through the point $P_0(x_0, y_0, z_0)$ with normal vector $\vec{n} = \vc{a, b, c}$ is \[a(x - x_0) + b(y - y_0) + c(z - z_0) = 0\]</p>
    </div>

    <h2 id="chapter-13">Chapter 13: Vector Functions</h2><hr>

    <h4 id="13.0">13.0: Preliminaries</h4><hr>

    <div class="math-fact-notxt">
        <b style="color:var(--factcolor)">Main Idea Behind Parametrics</b><br>
        <p class="block-txt">Think of parameter $t$ as time, and $(x(t), y(t))$ as the location of a moving point. This allows us to trace curves which do not pass the vertical line test.</p>
        <p class="block-txt">Vector $\vc{x(t), y(t)}$ is a position vector with tip tracing out the curve.</p>
    </div>

    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/calculator/fbkvvqarfz?translucentSurfaces&invertedColors"></iframe></div>

    <div class="math-def"> conic section
        <p class="block-txt">A conic section is an intersection of a double cone and a plane in $\mathbb{R}^3$.</p>
    </div>

    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/3d/ajkwz8z4no?translucentSurfaces&invertedColors"></iframe></div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Conic Parametrizations</b><br>
    <div class="conic-table-wrap">
    <table class="conic-table">
    <thead>
        <tr>
        <th scope="col">Conic</th>
        <th scope="col">Rectangular Equation</th>
        <th scope="col">Parametric Equations</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">Circle</th>
        <td>\( (x-h)^2 + (y-k)^2 = r^2 \)</td>
        <td>
            \( \begin{aligned} x &= h + r\cos t \\ y &= k + r\sin t \end{aligned} \)
            <span class="domain">\( t \in [0, 2\pi) \)</span>
        </td>
        </tr>
        <tr>
        <th scope="row">Ellipse</th>
        <td>\( \dfrac{(x-h)^2}{a^2} + \dfrac{(y-k)^2}{b^2} = 1 \)</td>
        <td>
            \( \begin{aligned} x &= h + a\cos t \\ y &= k + b\sin t \end{aligned} \)
            <span class="domain">\( t \in [0, 2\pi) \)</span>
        </td>
        </tr>
        <tr>
        <th scope="row">Hyperbola</th>
        <td>\( \dfrac{(x-h)^2}{a^2} - \dfrac{(y-k)^2}{b^2} = 1 \)</td>
        <td>
            \( \begin{aligned} x &= h + a\sec t \\ y &= k + b\tan t \end{aligned} \)
            <span class="domain">\( t \in \left(-\tfrac{\pi}{2}, \tfrac{\pi}{2}\right) \cup \left(\tfrac{\pi}{2}, \tfrac{3\pi}{2}\right) \)</span>
        </td>
        </tr>
    </tbody>
    </table>
    </div>
    </div>

    <div class="math-fact-notxt">
    <b style="color:var(--factcolor)">Three Ways to Parametrize a Curve from Its Rectangular Equation</b><br>
    <ol>
        <li class="lec-list-space">Look for the form \(Ax^2 + Cy^2 + Dx + Ey + F = 0\). This is a conic section. Complete the square to reach standard form, then use above table.</li>
        <li class="lec-list-space">Isolate one variable and set the other equal to $t$. Then $t$ ranges over the domain of the resulting expression, usually $\mathbb{R}$.
            
            <ul>
                <li>If isolating produces a $\pm$, you will need two parametrics. Try to avoid, unless you are in case 3.</li>
            </ul>
            </li>
        <li class="lec-list-space">If the curve is a closed loop, try periodic motion:
            \(x = a\cos t,\ y = b\sin t,\ t\in[0,2\pi)\).</li>
    </ol>
    </div>
    
    <h4 id="13.1">13.1: Vector Functions and Space Curves</h4><hr>
 
    <div class="math-def"> vector-valued function, space curve
        <p class="block-txt">A <b>vector-valued function</b> is a function $\vec{r} : \mathbb{R} \to \mathbb{R}^3$. It eats real numbers and spits out vectors: \[\vec{r}(t) = \vc{x(t), y(t), z(t)} = x(t)\iv + y(t)\jv + z(t)\kv\]</p>
        <p class="block-txt">The component functions $x(t), y(t), z(t)$ are <b>parametrics in disguise</b>. The <b>space curve</b> traced by $\vec{r}$ is the path swept out by the <b>tip</b> of the position vector $\vec{r}(t)$.</p>
        <p class="block-txt"><b>Think</b> Input a time $t$, output a position.</p>
    </div>
 
    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Domain of a Vector Function</b><br>
        <p class="block-txt">The domain of $\vec{r}(t)$ is the set of all $t$ you can plug in and get a <b>vector</b> out. That is, it is the <b>intersection</b> of the domains of the component functions.</p>
    </div>
 
    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Curves of Intersection</b><br>
        <p class="block-txt">To parametrize the curve where two surfaces meet:</p>
        <ol style="margin-bottom: 0.5rem">
            <li>Substitute one equation into the other to <b>eliminate</b> a variable. This leaves a curve in the two remaining variables.</li>
            <li>Parametrize that curve using the three techniques from 13.0.</li>
            <li>Recover the eliminated variable using the equation you substituted with.</li>
        </ol>
    </div>
 
    <div class="math-def"> limit of a vector function
        <p class="block-txt">If $\vec{r}(t) = \vc{f(t), g(t), h(t)}$, then \[\lim_{t\to a}\vec{r}(t) = \vc{\lim_{t\to a} f(t),\ \lim_{t\to a} g(t),\ \lim_{t\to a} h(t)}\] provided the limits of the component functions exist.</p>
    </div>
 
    <h4 id="13.2">13.2 + 13.4: Derivatives and Integrals of Vector Functions</h4><hr>
 
    <div class="math-def"> derivative, tangent vector, tangent line
        <p class="block-txt">Let $C$ be the curve traced by $\vec{r}(t)$. The <b>derivative</b> $\vec{r}\,'(t)$ is defined \[\vec{r}\,'(t) = \dfrac{d\vec{r}}{dt} = \lim_{h\to 0}\dfrac{\vec{r}(t + h) - \vec{r}(t)}{h}\] if this limit exists. $\vec{r}\,'(t)$ is called the <b>tangent vector</b> to $C$.</p>
        <p class="block-txt">The <b>tangent line</b> to $C$ at $\vec{r}(t_0)$ is the line <b>parallel</b> to $\vec{r}\,'(t_0)$ at the point of tangency.</p>
        <p class="block-txt"><b>Think</b> If $\vec{r}(t)$ is the track of a rollercoaster and you are sitting at the tip of $\vec{r}(t)$, then the direction of $\vec{r}\,'(t)$ is your line of sight.</p>
    </div>

    <p>Here's an example of the limiting process of a secant vector.</p>

    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/3d/txnk1a4doe?translucentSurfaces&invertedColors"></iframe></div>

    <p>The tangent vector always points towards where the curve will be traced next.</p>

    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/3d/5zkxol07gg?translucentSurfaces&invertedColors"></iframe></div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Theorem (Differentiate Componentwise)</b><br>
        <p class="block-txt">If $\vec{r}(t) = \vc{f(t), g(t), h(t)} = f(t)\iv + g(t)\jv + h(t)\kv$ where $f, g$ and $h$ are differentiable functions, then \[\vec{r}\,'(t) = \vc{f'(t), g'(t), h'(t)} = f'(t)\iv + g'(t)\jv + h'(t)\kv\]</p>
    </div>
 
    <div class="math-def"> unit tangent vector
        <p class="block-txt">A unit vector that has the same direction as $\vec{r}\,'(t)$ is \[\vec{T}(t) = \dfrac{\vec{r}\,'(t)}{|\vec{r}\,'(t)|}\]</p>
    </div>
 
    <div class="math-def"> velocity vector, speed, acceleration
        <p class="block-txt">If $\vec{r}(t)$ describes the position vector of an object, then \[\vec{v}(t) = \vec{r}\,'(t)\] describes the rate of change of position of the object with respect to time.</p>
        <p class="block-txt">The <b>speed</b> of the object is the magnitude $|\vec{v}(t)| = |\vec{r}\,'(t)|$. Speed is a <b>scalar</b> function; velocity is a <b>vector</b> function.</p>
        <p class="block-txt">The <b>acceleration</b> of the object is \[\vec{a}(t) = \vec{v}\,'(t) = \vec{r}\,''(t)\]</p>
    </div>
 
    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">What $\vec{v}(t)$ Tells Us About $\vec{r}(t)$</b><br>
        <ol style="margin-bottom: 0.5rem">
            <li class="lec-list-space">$\vec{v}(t) = \vec{r}\,'(t) = \vc{x'(t), y'(t)}$. Each component describes how fast that coordinate is changing.</li>
            <li class="lec-list-space">$\vec{v}(t)$ records how the tip of $\vec{r}(t)$ is changing.
                <ul>
                    <li>Direction of $\vec{v}(t)$: which way the tip of $\vec{r}(t)$ is being <b>dragged next</b>.</li>
                    <li>Magnitude $|\vec{v}(t)|$: how <b>fast or slow</b> the tip of $\vec{r}(t)$ is changing.</li>
                </ul>
            </li>
            <li class="lec-list-space">$\vec{v}(t)$ is always <b>tangent</b> to the curve.</li>
        </ol>
    </div>
 
    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">What $\vec{a}(t)$ Tells Us About $\vec{v}(t)$</b><br>
        <p class="block-txt">$\vec{a}(t)$ records how the tip of $\vec{v}(t)$ is changing: its direction says which way the tip of $\vec{v}(t)$ is being dragged next, and its magnitude says how fast the tip of $\vec{v}(t)$ is changing.</p>
        <p class="block-txt">Acceleration changes velocity in two different ways:</p>
        <ul style="margin-bottom: 0.5rem">
            <li>If $\vec{a}$ is <b>orthogonal</b> to $\vec{v}$, the tangential speed is unaffected. All of the acceleration goes into <b>turning</b>. Think: on the rollercoaster, going around a tight bend means you get thrown against the wall sideways.</li>
            <li>If $\vec{a}$ is <b>antiparallel</b> to $\vec{v}$, there is no sideways acceleration. The particle brakes to a full stop and then reverses direction along $\vec{r}(t)$.</li>
        </ul>
    </div>

    <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/3d/fgp9ijnmr9?translucentSurfaces&invertedColors"></iframe></div>
    

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Theorem (Differentiation Rules)</b><br>
        <p class="block-txt">Suppose $\vec{u}$ and $\vec{v}$ are differentiable vector functions, $c \in \mathbb{R}$ and $f$ is a real-valued function.</p>
        <ol style="margin-bottom: 0.5rem">
            <li class="lec-list-space">$\dfrac{d}{dt}\left[f(t)\vec{u}(t)\right] = f'(t)\vec{u}(t) + f(t)\vec{u}\,'(t)$</li>
            <li class="lec-list-space">$\dfrac{d}{dt}\left[\vec{u}(t)\cdot\vec{v}(t)\right] = \vec{u}\,'(t)\cdot\vec{v}(t) + \vec{u}(t)\cdot\vec{v}\,'(t)$</li>
            <li class="lec-list-space">$\dfrac{d}{dt}\left[\vec{u}(t)\times\vec{v}(t)\right] = \vec{u}\,'(t)\times\vec{v}(t) + \vec{u}(t)\times\vec{v}\,'(t)$
                <div style="padding-top: 0.75rem;"><b>Careful</b> The cross product is anticommutative, so you <b>must</b> preserve the order of the factors.</div>
            </li>
        </ol>
    </div>
 
    <div class="math-def"> definite integral of a vector valued function
        <p class="block-txt">Let $\vec{r}(t) = \vc{x(t), y(t), z(t)}$ be a continuous vector function. Then \[\int_a^b \vec{r}(t)\,dt = \vc{\int_a^b x(t)\,dt,\ \int_a^b y(t)\,dt,\ \int_a^b z(t)\,dt}\]</p>
        <p class="block-txt">The indefinite integral is \[\int \vec{r}(t)\,dt = \vc{\int x(t)\,dt,\ \int y(t)\,dt,\ \int z(t)\,dt} + \vec{c}\] where $\vec{c} = \vc{c_1, c_2, c_3}$ is a constant vector.</p>
        <p class="block-txt"><b>Think</b> Just like differentiation, integrate each component separately.</p>
    </div>
 
    <h4 id="13.3">13.3: Arc Length and Curvature</h4><hr>
 
    <div class="math-def"> arc length
        <p class="block-txt">If a curve $C$ has vector equation $\vec{r}(t) = \vc{x(t), y(t), z(t)}$ where $a \leq t \leq b$ and the curve is traversed <b>exactly once</b> as $t$ increases from $a$ to $b$, then the arc length of $C$ is \[L = \int_a^b \sqrt{\left[x'(t)\right]^2 + \left[y'(t)\right]^2 + \left[z'(t)\right]^2}\,dt = \int_a^b \sqrt{\left(\dfrac{dx}{dt}\right)^2 + \left(\dfrac{dy}{dt}\right)^2 + \left(\dfrac{dz}{dt}\right)^2}\,dt\]</p>
        <p class="block-txt">Since $\vec{r}\,'(t) = \vc{x'(t), y'(t), z'(t)}$, we can simply write \[L = \int_a^b \left|\vec{r}\,'(t)\right|\,dt\]</p>
    </div>
 
    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Why Arc Length Uses the Tangent Vector</b><br>
        <p class="block-txt">In the <b>staircase paradox</b>, a staircase approximation to the diagonal of the unit square has length 2 at every stage, yet the diagonal has length $\sqrt{2}$.</p>
        <p class="block-txt">The issue is that <b>tangency to the curve is not preserved</b>: the staircase's corners are not on the line you are trying to estimate. In a proper arc length calculation, all estimating points are <b>on the curve</b>, so tangency is preserved under the limit.</p>
    </div>
 
    <div class="math-def"> arc length function
        <p class="block-txt">Suppose the curve $C$ is traversed exactly once by $\vec{r}(t) = \vc{x(t), y(t), z(t)}$ where $t \in [a,b]$ as $t$ increases from $a$ to $b$. The <b>arc length function</b> is \[s(t) = \int_a^t \left|\vec{r}\,'(u)\right|\,du\]</p>
        <p class="block-txt">By the Fundamental Theorem of Calculus, \[\dfrac{ds}{dt} = \left|\vec{r}\,'(t)\right|\] which says "the rate of change of arc length with respect to $t$ is exactly the <b>speed</b> of $\vec{r}(t)$."</p>
    </div>
 
    <div class="math-def"> unit speed parametrization
        <p class="block-txt">A parametrization $\vec{r}(s)$ is a <b>unit speed parametrization</b> (or a parametrization with respect to arc length) if \[\left|\vec{r}\,'(s)\right| = 1\] for every $s$ in the domain. Plugging in $s$ then gets you exactly $s$ units of arc length along the curve.</p>
        <p class="block-txt"><b>Note</b> A curve's parametrization is <b>not unique</b>. Velocity, speed and acceleration all depend on the parametrization, but <b>arc length does not</b>: it is a geometric property of the curve itself.</p>
    </div>
 
    <div class="math-def"> curvature
        <p class="block-txt">The <b>curvature</b> of a curve is \[\kappa = \left|\dfrac{d\vec{T}}{ds}\right|\] where $\vec{T}$ is the unit tangent vector.</p>
        <p class="block-txt">Curvature describes how the unit tangent vector $\vec{T}$ changes with respect to <b>arc length</b>. Since $\vec{T}$ is a unit vector, only changes in <b>direction</b> contribute to the rate of change of $\vec{T}$.</p>
        <p class="block-txt"><b>Think</b> $\kappa(t)$ is a scalar function that informs us how $\vec{T}$'s direction is changing.</p>
    </div>
 
    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Computing Curvature</b><br>
        <p class="block-txt">There are two ways: \[\kappa(t) = \dfrac{\left|\vec{T}\,'(t)\right|}{\left|\vec{r}\,'(t)\right|} \qquad \text{ or } \qquad \kappa(t) = \dfrac{\left|\vec{r}\,'(t)\times\vec{r}\,''(t)\right|}{\left|\vec{r}\,'(t)\right|^3}\]</p>

        <p class="block-txt"><b>Fact</b> A circle of radius $a$ has curvature $\kappa = \dfrac{1}{a}$. Small circles are sharply curved; large circles are nearly straight.</p>
        <p class="block-txt">Another way to see this: at unit speed, a particle's velocity vector turns at $\dfrac{1}{a}$ radians per unit time. The turning is slow for large circles but fast for small circles.</p>
    </div>
 
    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Theorem (Constant Length Forces Orthogonality)</b><br>
        <p class="block-txt">If $|\vec{r}(t)| = c$ is constant, then $\vec{r}\,'(t)$ is orthogonal to $\vec{r}(t)$ for all $t$: \[\vec{r}(t)\cdot\vec{r}\,'(t) = 0\]</p>
        <p class="block-txt">In particular, this applies to the <b>unit</b> tangent vector: $\vec{T}\,'(t)$ is orthogonal to $\vec{T}(t)$.</p>
    </div>
 
    <div class="math-def"> principal unit normal vector (unit normal)
        <p class="block-txt">At any point where $\kappa \neq 0$, the <b>unit normal vector</b> is \[\vec{N}(t) = \dfrac{\vec{T}\,'(t)}{\left|\vec{T}\,'(t)\right|}\]</p>
    </div>
 
    <div class="math-def"> binormal vector
        <p class="block-txt">The vector \[\vec{B}(t) = \vec{T}(t)\times\vec{N}(t)\] is the <b>binormal vector</b>. It is a unit vector orthogonal to both $\vec{T}$ and $\vec{N}$.</p>
    </div>
 
    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Key Idea (Directions of $\vec{N}$ and $\vec{T}$)</b><br>
        <p class="block-txt">The direction of $\vec{N}$ always points in the direction the curve is <b>turning</b>.</p>
        <p class="block-txt">The direction of $\vec{a}_{\text{normal}}$ is $\vec{N}$, and the direction of $\vec{a}_{\text{tangential}}$ is $\vec{T}$.</p>
    </div>
 
    <!--<div class="math-def"> linear combination
        <p class="block-txt">Given vectors $\vec{v}_1$ and $\vec{v}_2$, a <b>linear combination</b> is any vector \[c_1\vec{v}_1 + c_2\vec{v}_2\] where $c_1, c_2 \in \mathbb{R}$.</p>
        <p class="block-txt">The coefficient $c_i$ tells you how many copies of $\vec{v}_i$ to walk along. If $\vec{v}_i$ is a <b>unit</b> vector, then $c_i$ is how far you walk in $\vec{v}_i$'s direction.</p>
    </div>
 
    <div class="math-def"> tangential and normal components of acceleration
        <p class="block-txt">The acceleration vector $\vec{a}(t)$ is a linear combination \[\vec{a} = a_T\vec{T} + a_N\vec{N}\] where, writing $v = |\vec{r}\,'(t)|$ for the speed, \[a_T = v' = \dfrac{\vec{r}\,'(t)\cdot\vec{r}\,''(t)}{\left|\vec{r}\,'(t)\right|} \qquad \text{and} \qquad a_N = \kappa v^2 = \dfrac{\left|\vec{r}\,'(t)\times\vec{r}\,''(t)\right|}{\left|\vec{r}\,'(t)\right|}\]</p>
        <p class="block-txt">Because $\vec{T}$ and $\vec{N}$ are <b>orthogonal</b> unit vectors, no system of equations is needed to find these coefficients.</p>
    </div>
 
    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Key Idea (Meaning of $a_T$ and $a_N$)</b><br>
        <p class="block-txt">Acceleration is felt in two ways:</p>
        <ul style="margin-bottom: 0.5rem">
            <li class="lec-list-space">$a_T$ is the <b>gas pedal and brake</b>: it is the rate of change of speed. If $a_T > 0$ the object is speeding up; if $a_T < 0$ it is slowing down.</li>
            <li class="lec-list-space">$a_N$ is the <b>steering wheel</b>: it is what throws you sideways. Since $\kappa \geq 0$ and $v^2 \geq 0$, we always have $a_N \geq 0$. If $a_N = 0$ the object is travelling in a straight line; the larger $a_N$ is, the harder the turn.</li>
        </ul>
        <p class="block-txt">Note $\vec{a}$ has <b>no</b> $\vec{B}$ component: acceleration always lies in the plane spanned by $\vec{T}$ and $\vec{N}$.</p>
    </div>-->
    
</div>
{% endblock %}

