{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 1</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 1"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 1"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/homework/hw1"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 1</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">When you see the <b>purple blocks (definitions, theorems)</b> or the <b style="color:var(--factcolor)">yellow blocks (facts, methods)</b> in the lecture notes (or during lecture), what should you do with them to prepare for in-class assessments?</li>

        <li class="hw-space">Consider the mathematical entity $x - 2$. 
            <ol type="a">
                <li class="hw-space">In the global context, do we have terms or factors?</li>
                <li class="hw-space">How can we modify the expression (but maintain equality) to convert the expression so it's simultaneously a term and a factor in the global context?</li>
            </ol> 
        </li>

        <li class="hw-space">For each of the following expressions, list all possible terms/factors and their contexts. Use the table!
            <ol type="a">
                <li class="hw-space">$3x - 2$</li>
                <li class="hw-space">$(2x - 1)(x + 2) + z$</li>
                <li class="hw-space">$(x - y)(2y - z) + \left[(x-4)(3x-3) - z\right]2 - 1$</li>
                <li class="hw-space">$4y^2 - 5y^3(x-2)^2$<br>Hint: you can treat exponentiated factors, for example $y^2$, as a singular factor (provided you are in the correct context).</li>
                <li class="hw-space">$3(x-1)^2(2x+3)^3 - 4(x-1)^3(2x+3)^2$</li>
            </ol>
        </li>

        <li class="hw-space">In the expression \[-42(x^2 + 3)(x+3)^2 + 5(x+4)^4(x-3)^2\] under which local context level is $(x^2 + 3)$ considered a factor?</li>

        <li class="hw-space">In fraction property #5, which says \[\dfrac{ac}{bc} = \dfrac{a}{b}\] what must $c$ need to be in order to be cancelled out?</li>

        <li class="hw-space">Can I cross out the $x^2$ in \[\dfrac{x^2 + 1}{x^2 + 2}\] to get $\dfrac{1}{2}$? Give the reason why or why not.</li>

        <li class="hw-space">Can I cross out the $x - 1$ in \[\dfrac{(x-1)(x+2)}{(x-1)(x+3)}\] to get $\dfrac{x+2}{x+3}$? Give the reason why or why not.</li>

        <li class="hw-space">Can I cross out the $x - 1$ and $x + 3$ in \[\dfrac{(x-1)(x+2) + 4(x+3)}{(x-1)(x+3)}\] to get $\dfrac{x+2 + 4}{1}$? Give the reason why or why not.</li>

        <li class="hw-space">Can I cross out the $(x+2)$ in \[\dfrac{3(x+2)(x-1) - (x+3)(x-2)}{(x-1)(x+2)}\] to get $\dfrac{3(x-1) - (x+3)(x-2)}{(x-1)}$? Give the reason why or why not.</li>

        <li class="hw-space">Write down <b>one fractional expression</b> which satisfies the following. Multiple answers are possible.
            <ul>
                <li>Global context of numerator comprises of three terms</li>
                <li>Global context of denominator comprieses of two terms</li>
                <li>Each term in local (L2) context of numerator contains two factors</li>
                <li>Each term in local (L2) context of denomiantor contains three factors</li>
                <li>In the numerator L3 context, the first local (L2) factor in the first global term contains five terms</li>
            </ul>
        </li>

        <li class="hw-space">Use fraction laws to simplify the following: 
            <ol type="a">
                <li class="hw-space">$\dfrac{4}{7}\div 3$</li>
                <li class="hw-space">$\dfrac{3}{5} \div \dfrac{6}{5}$</li>
                <li class="hw-space">$2 \cdot \dfrac{1}{3} \cdot \dfrac{5}{7}$</li>
                <li class="hw-space">$\dfrac{3}{5} + \dfrac{4}{15}$</li>
                <li class="hw-space">$\dfrac{5}{12} + \dfrac{7}{30}$</li>
                <li class="hw-space">$\dfrac{11}{40} + \dfrac{5}{24}$</li>
            </ol>
        </li>

        <li class="hw-space">Which statements are true? Point out which property was used (possibly incorrectly).
            <ol type="a">
                <li class="hw-space">$2 + 5 \cdot 3= 5 + 2 \cdot 3$</li>
                <li class="hw-space">$y(x-1) = (x-1)y$</li>
                <li class="hw-space">$x(x+y) = x\cdot x + x\cdot y$</li>
                <li class="hw-space">$(a + b)(c + d) = (a + b)c + (a + b)d$</li>
                <li class="hw-space">$2 - \left[(x-3)4\right] = 2 - (4x - 12)$</li>
            </ol>
        </li>

        <li class="hw-space">Your friend tries to simplify $(x + 3)(x + 2)$ by using the Distributive law: \[(x + 3)(x + 2) = x + 3 \cdot x + x + 3 \cdot 2\] What did they do wrong?</li>

        <li class="hw-space">Graph the interval on the real line:
            <ol type="a">
                <li class="hw-space">$(-8, -2) \cup (-1, 1)$</li>
                <li class="hw-space">$(-\infty, 3) \cup (3, \infty)$</li>
                <li class="hw-space">$(-\infty, -1) \cup [2, 4] \cup (5, \infty)$</li>
                <li class="hw-space">$[1, 3) \cup (3, \infty)$</li>
            </ol>
        </li>

        <li class="hw-space">Let $x \in \mathbb{R}$. In English, what does $\lvert x \rvert$ mean?</li>

        <li class="hw-space">Simplify the following:
            <ol type="a">
                <li class="hw-space">$-(x - 3)$</li>
                <li class="hw-space">$-(1 - x) - (x - 2)$</li>
                <li class="hw-space">$\lvert -3 \rvert$</li>
                <li class="hw-space">$\lvert - \lvert 3\rvert \rvert$</li>
                <li class="hw-space">$\lvert -\lvert -3\rvert \rvert$</li>
                <li class="hw-space">$\lvert 1 - \pi \rvert$</li>
            </ol>
        </li>

        <li class="hw-space">A student tries to simplify $x^2 + x^3$ by applying exponent laws. They write \[x^2 + x^3 = x^{2+3} = x^5\] Why is this incorrect?</li>

        <li class="hw-space">A student tries to simplify $x^2 \cdot x^3$ by applying exponent laws. They write \[x^2 \cdot x^3 = x^{2\cdot3} = x^6\] Why is this incorrect?</li>

        <li class="hw-space">A student tries to simplify $(a + b)^2$ by applying exponent laws. They write \[(a + b)^2 = a^2 + b^2\] Why is this incorrect?</li>

        <li class="hw-space">When asked to "simplify" a problem involving exponents, when is the problem considered fully simplified?</li>

        <li class="hw-space">Simplify the following:
            <ol type="a">
                <li class="hw-space">$-2^3$</li>
                <li class="hw-space">$(-2)^3$</li>
                <li class="hw-space">$\left(\dfrac{1}{2}\right)^{-1}$</li>
                <li class="hw-space">$36^{\frac{1}{2}}$</li>
                <li class="hw-space">$6^{\frac{3}{2}}$</li>
                <li class="hw-space">$4^{-\frac{3}{2}}$</li>
                <li class="hw-space">$81^{-\frac{1}{4}}$</li>
                <li class="hw-space">$\left(\dfrac{4}{9}\right)^{-1/2}$</li>
            </ol>
        </li>

        <li class="hw-space">Use Exponent laws to simplify the following. <br>I advise (not required) calling out each exponent law as you use them to help you memorize them.
            <ol type="a">
                <li class="hw-space">$x^{-2}$</li>
                <li class="hw-space">$x^4 \cdot x^7$</li>
                <li class="hw-space">$(3x^2y)^3$</li>
                <li class="hw-space">$\left[\dfrac{(x^3y^5)^4}{z^{-4}}\right]^0$</li>
                <li class="hw-space">$\dfrac{y}{(x-2)^{-1}}$</li>
                <li class="hw-space">$\left(\dfrac{x}{y}\right)^2 \cdot \left(\dfrac{y^2}{z}\right)^3$</li>
                <li class="hw-space">$\dfrac{(x+1)(x+2)}{(x+1)^{-2}(x+2)^2(x+3)}$</li>
                <li class="hw-space">$\dfrac{(x-1)(x+1)^{-3}(x-2)}{[2(x-1)]^{-1}(x+1)^2(x-2)^{-2}}$ </li>
                <li class="hw-space">$\left(\dfrac{x(x-1)^2}{(x-1)^{-3}x^2}\right)^{-2}$</li>
            </ol>
        </li>

        <li class="hw-space">You tried converting $\sqrt[5]{x^3}$ into $x^{\frac{5}{3}}$. Is this wrong?</li>

        <li class="hw-space">Rewrite each root as an exponent and fully simplify.
            <ol type="a">
                <li class="hw-space">$\dfrac{\sqrt[3]{x^2}}{x^{2/3}}$</li>
                <li class="hw-space">$\dfrac{(-3)^4\sqrt{x}}{3^2\sqrt[3]{x}}$</li>
                <li class="hw-space">$\sqrt[4]{16x^8}$</li>
                <li class="hw-space">$\sqrt[4]{x^3}\cdot \sqrt{x}$</li>
                <li class="hw-space">$\dfrac{\sqrt[3]{(2x+1)^2}(x-2)^{2/5}}{\sqrt[4]{(2x+1)^5}}$</li>
            </ol>
        </li>
        
        <!--<br><hr>
        <p>The rest of these problems will be on next week's homework. Skip for now.</p>
        <hr>
        
        <li class="hw-space">You tried converting $\sqrt[5]{x^3}$ into $x^{\frac{5}{3}}$. Is this wrong?</li>

        <li class="hw-space">State whether each pair of expressions are like terms or not.
            <ol type="a">
                <li class="hw-space">$3x^2$ and $4y$</li>
                <li class="hw-space">$3x^2$ and $4x$</li>
                <li class="hw-space">$x^3y$ and $4x^3y$</li>
                <li class="hw-space">$5(x+1)(x+2)$ and $-(x+1)(x+2)$</li>
                <li class="hw-space">$-100(3x-2)(4x^2+3)^2$ and $4(4x^2+3)^2(3x-2)$</li>
            </ol>
        </li>
        <li class="hw-space">Expand and simplify each expression.
            <ol type="a">
                <li class="hw-space">$(2x^2 + 3x) + (3x^3 + 2x)$</li>
                <li class="hw-space">$(x+1)(x-2)$</li>
                <li class="hw-space">$(x^2 + 2x + 1)(x-2)$</li>
                <li class="hw-space">$(1 - x)^2$</li>
                <li class="hw-space">$(x^6 - x^5) -2(x^4 - x^3) - x(x^2 - x)$</li>
            </ol>
        </li>
        <li class="hw-space">Factor the following expressions.
            <ol type="a">
                <li class="hw-space">$-2x^3 - x^2$</li>
                <li class="hw-space">$(x+3)^2(x-2) + (x+3)(x-2)^2$</li>
                <li class="hw-space">$x^2 + 5x + 6$</li>
                <li class="hw-space">$x^2 + 13x + 12$</li>
                <li class="hw-space">$2x^2 + 7x + 3$</li>
                <li class="hw-space">$2x^2yz + 7xyz + 3yz$</li>
            </ol>
        </li>-->
    </ol>

</div>
{% endblock %}