{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 1</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 1"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 1"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/homework/hw1"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 1</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    <p>Answer the following:</p>
    <ol>
        <li class="hw-space">State the property of real numbers shown below:
            <ol type="a">
                <li class="hw-space">$2 + 3 = 3 + 2$</li>
                <li class="hw-space">$2 \cdot 3 = 3 \cdot 2$</li>
                <li class="hw-space">$x(x+y) = x\cdot x + x\cdot y$</li>
                <li class="hw-space">$(a + b)(c + d) = (a + b)c + (a + b)d$</li>
                <li class="hw-space">$(3\cdot x)\cdot y = 3\cdot(x\cdot y)$</li>
            </ol>
        </li>
        <li class="hw-space">Your friend tries to simplify $(x + 3)(x + 2)$ by using the Distributive law: \[(x + 3)(x + 2) = x + 3 \cdot x + x + 3 \cdot 2\] What did they do wrong?</li>
        <li class="hw-space">Let $x \in \mathbb{R}$. In English, what does $\lvert x \rvert$ mean?</li>
        <li class="hw-space">If \[A = \{1,2,3,4,5,6,7\} \qquad B = \{2,4,6,8\} \qquad C = \{7,8,9,10\}\] find the following:
            <ol type="a">
                <li class="hw-space">$A\cup B$</li>
                <li class="hw-space">$B\cup C$</li>
                <li class="hw-space">$A \cap C$</li>
                <li class="hw-space">$A \cup B \cup C$ (hint: solve $A \cup B$ first, then union that set with $C$.)</li>
                <li class="hw-space">$A \cap B \cap C$</li>
            </ol>
        </li>
        <li class="hw-space">Simplify and graph the resulting set:
            <ol type="a">
                <li class="hw-space">$(-2, 0) \cup (-1, 1)$</li>
                <li class="hw-space">$(-2, 0] \cap (-1, 1)$</li>
                <li class="hw-space">$(-\infty, 6]\cap (2, 10)$</li>
                <li class="hw-space">$(-\infty, -4]\cup (4, \infty)$</li>
            </ol>
        </li>
        <li class="hw-space">Simplify the following: 
            <ol type="a">
                <li class="hw-space">$\dfrac{3}{10} + \dfrac{4}{15}$</li>
                <li class="hw-space">$\dfrac{3}{5} \div \dfrac{6}{5}$</li>
                <li class="hw-space">$2 \cdot \dfrac{1}{3} \cdot \dfrac{5}{7}$</li>
                <li class="hw-space">$\lvert 3 \rvert$</li>
                <li class="hw-space">$\lvert -3 \rvert$</li>
                <li class="hw-space">$\lvert - \lvert 3\rvert \rvert$</li>
                <li class="hw-space">$\lvert -\lvert -3\rvert \rvert$</li>
                <li class="hw-space">$\lvert 1 - \pi \rvert$</li>
                <li class="hw-space">$\lvert -2.76 \rvert$</li>
            </ol>
        </li>
        <li class="hw-space">Use Exponent laws to simplify the following. It is not required but I advise calling out each exponent law as you use them to help discriminate the laws between each other.
            <ol type="a">
                <li class="hw-space">$x^4 \cdot x^7$</li>
                <li class="hw-space">$\left(\dfrac{1}{2}\right)^{-1}$</li>
                <li class="hw-space">$(x^2y)^3$</li>
                <li class="hw-space">$\left[\dfrac{(x^3y^5)^4}{z^{-4}}\right]^0$</li>
                <li class="hw-space">$\left(\dfrac{x}{y}\right)^2 \cdot \left(\dfrac{y^2}{z}\right)^3$</li>
                <li class="hw-space">(skip) $\dfrac{xy^{-3}z}{(2x)^{-1}y^2z^{-2}}$ </li>
                <li class="hw-space">(skip) $\dfrac{(x+1)(x+2)}{(x+1)^{-2}(x+2)^2(x+3)}$</li>
                <li class="hw-space">(skip) $\dfrac{\sqrt[3]{x^2}}{x^{2/3}}$</li>
                <li class="hw-space">(skip) $\dfrac{(-3)^4\sqrt{x}}{3^2\sqrt[3]{x}}$</li>
            </ol>
        </li>
        <li class="hw-space">For the expression \[(x + 3)(x-2)^2 + (x-4)(x-3) + 3\] Considering the context of the entire expression, what is 
            <ol type="a">
                <li class="hw-space">$(x + 3)$</li>
                <li class="hw-space">$(x - 4)(x-3)$</li>
                <li class="hw-space">$(x - 3)$</li>
                <li class="hw-space">$(x+3)(x - 2)^2$</li>
            </ol>
        </li>
        <li class="hw-space">In the expression \[-42(x^2 + 3)(x+3)^2 + 5(x+4)^4(x-3)^2\] why is $(x^2 + 3)$ usually not considered a factor (even though visually it is next to a multiplication)?</li>
        <li class="hw-space">In fraction property #5, which says \[\dfrac{ac}{bc} = \dfrac{a}{b}\] what does $c$ need to be in order to be cancelled out?</li>
        <li class="hw-space">Can I cross out the $x^2$ in \[\dfrac{x^2 + 1}{x^2 + 2}\] to get $\dfrac{1}{2}$? Give the reason why or why not.</li>
        <li class="hw-space">Can I cross out the $x - 1$ in \[\dfrac{(x-1)(x+2)}{(x-1)(x+3)}\] to get $\dfrac{x+2}{x+3}$? Give the reason why or why not.</li>
        <li class="hw-space">Can I cross out the $x - 1$ and $x + 3$ in \[\dfrac{(x-1)(x+2) + 4(x+3)}{(x-1)(x+3)}\] to get $\dfrac{x+2 + 4}{1}$? Give the reason why or why not.</li>
        <li class="hw-space">A student tries to simplify $x^2 + x^3$ by applying exponent laws. They write \[x^2 + x^3 = x^{2+3} = x^5\] Why is this incorrect?</li>
        <li class="hw-space">A student tries to simplify $x^2 \cdot x^3$ by applying exponent laws. They write \[x^2 \cdot x^3 = x^{2\cdot3} = x^6\] Why is this incorrect?</li>
        <li class="hw-space">A student tries to simplify $(a + b)^2$ by applying exponent laws. They write \[(a + b)^2 = a^2 + b^2\] Why is this incorrect?</li>
        
        <br><hr>
        <p>The rest of these problems will be on next week's homework. Skip for now.</p>
        <hr>
        
        <li class="hw-space">You tried converting $\sqrt[5]{x^3}$ into $x^{\frac{5}{3}}$. Is this wrong?</li>

        <li class="hw-space">State whether each pair of expressions are like terms or not.
            <ol type="a">
                <li class="hw-space">$3x^2$ and $4y$</li>
                <li class="hw-space">$3x^2$ and $4x$</li>
                <li class="hw-space">$x^3y$ and $4x^3y$</li>
                <li class="hw-space">$5(x+1)(x+2)$ and $-(x+1)(x+2)$</li>
                <li class="hw-space">$-100(3x-2)(4x^2+3)^2$ and $4(4x^2+3)^2(3x-2)$</li>
            </ol>
        </li>
        <li class="hw-space">Expand and simplify each expression.
            <ol type="a">
                <li class="hw-space">$(2x^2 + 3x) + (3x^3 + 2x)$</li>
                <li class="hw-space">$(x+1)(x-2)$</li>
                <li class="hw-space">$(x^2 + 2x + 1)(x-2)$</li>
                <li class="hw-space">$(1 - x)^2$</li>
                <li class="hw-space">$(x^6 - x^5) -2(x^4 - x^3) - x(x^2 - x)$</li>
            </ol>
        </li>
        <li class="hw-space">Factor the following expressions.
            <ol type="a">
                <li class="hw-space">$-2x^3 - x^2$</li>
                <li class="hw-space">$(x+3)^2(x-2) + (x+3)(x-2)^2$</li>
                <li class="hw-space">$x^2 + 5x + 6$</li>
                <li class="hw-space">$x^2 + 13x + 12$</li>
                <li class="hw-space">$2x^2 + 7x + 3$</li>
                <li class="hw-space">$2x^2yz + 7xyz + 3yz$</li>
            </ol>
        </li>
    </ol>

</div>
{% endblock %}