{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 3</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 3"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 3"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/hw3"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 3</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    <p>Answer the following:</p>
    <ol>
        <li class="hw-space">Perform the indicated operation and/or fully simplify. Get rid of all negative exponents.
            <ol type="a">
                <li class="hw-space">$\dfrac{1}{x + 1} - \dfrac{1}{x - 1}$</li>
                <li class="hw-space">$\dfrac{1 + \dfrac{1}{x}}{\dfrac{1}{x} - 2}$</li>
                <li class="hw-space">$\dfrac{x}{x + 3} - \dfrac{18}{x^2 - 9}$</li>
                <li class="hw-space">$\dfrac{1}{x-1} + \dfrac{1}{x} - \dfrac{1}{x-1}$</li>
                <li class="hw-space">$\dfrac{x^{-1} + y^{-1}}{4} \ \ $ (hint: use definition of negative exponent. This is a compound fraction)</li>
                <li class="hw-space">$\dfrac{\dfrac{1}{\sqrt{x+h}} - \dfrac{1}{\sqrt{x}}}{h} \ \ $ (hint: get rid of the compound fraction, rationalize the numerator, and cancel common factors) </li>
            </ol>
        </li>
        <li class="hw-space">A student tries to simplify \[\dfrac{x^{-1} + y^{-1}}{4} = \dfrac{1}{4xy}\] Which exponent law was violated?</li>
        <li class="hw-space">A student tries to simplify \[\dfrac{x+3}{x + 2} \cdot 4 = \dfrac{x+3\cdot 4}{x+2} = \dfrac{x+12}{x+2}\] What mistake did the student make?</li>
        <li class="hw-space">Show why $x = 2$ is a solution to the equation \[\dfrac{1}{x} - \dfrac{1}{x-4} = 1\]</li>
        <li class="hw-space">Rationalize the denominator in $\dfrac{3}{\sqrt{x} - \sqrt{y}}$</li>
        <li class="hw-space">Isolate the given variable in the following equations:
            <ol type="a">
                <li class="hw-space">$4x + 2 = 6x - w, \ $ for $x$</li>
                <li class="hw-space">$\dfrac{x + 1}{x - 3} = 1, \ $ for $x$</li>
                <li class="hw-space">$4xy - w(2xz - 3yz) + 3 = -4x - y, \ $ for $x$</li>
            </ol>
        </li>
        <li class="hw-space">Find all real-valued solutions for the following equations.
            <ol type="a">
                <li class="hw-space">$3x + 4 = 7$</li>
                <li class="hw-space">$2x + 3 = 7 - 3x$</li>
                <li class="hw-space">$x^2 + x - 12  =0$</li>
                <li class="hw-space">$2x^2 = 8$</li>
                <li class="hw-space">$\dfrac{1}{x} = \dfrac{4}{3x} + 1$</li>
                <li class="hw-space">$\dfrac{1}{x-1} + \dfrac{1}{x+2} = \dfrac{5}{4}$</li>
            </ol>
        </li>

        <li class="hw-space">Isolate $x$ in the equation $a(b + cx) + d = e$. Simplify any compound fractions.</li>
        <li class="hw-space">A student tries to isolate $x$ in the equation $(a + b)x = c + d$ by dividing by $a + b$, resulting in \[x = \dfrac{c}{a + b} + d\] What mistake did the student make?
        </li>
    </ol>

</div>
{% endblock %}