{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 4</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 4"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 4"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/hw4"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 4</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    <p>Answer the following:</p>
    <ol>
        <li class="hw-space">Add, subtract, divide or multiply. Make sure your answer is in the form $a + bi$.
            <ol type="a">
                <li class="hw-space">$(3 + 2i) + 5i$</li>
                <li class="hw-space">$(-12 + 8i) - (7 + 4i)$</li>
                <li class="hw-space">$(5 - 3i)(1 + i)$</li>
                <li class="hw-space">$(3 - 7i)^2$</li>
                <li class="hw-space">$\dfrac{1}{i}$ (hint: multiply by $\frac{i}{i}$).</li>
                <li class="hw-space">$\dfrac{2 - 3i}{1 - 2i}$</li>
                <li class="hw-space">$i^{10}$</li>
                <li class="hw-space">$-i^{73}$</li>
                <li class="hw-space">$(-i)^{73}$</li>
            </ol>
        </li>
        <li class="hw-space">Solve $3x^2 + 1 = 0$. Make sure your solution is a complex number.</li>
        <li class="hw-space">Draw a coordinate plane and graph the points $(1,2), (2, -1), (-3, -4)$ and $(4, -3)$.</li>
        <li class="hw-space">Suppose I have an expression $f(x)$ and I find two different inputs that give the same evaluation. In particular, I find that $x = 2$ and $x = 3$ gives $f(2) = f(3)$. Is $f$ a function?</li>
        <li class="hw-space">Suppose I have an expression $f(x)$ and I find one input which gives two different evaluations. In particular, I find that $x = 2$ spits out $f(2) = 5$ and $f(2) = 3$. Is $f$ a function?</li>
        <li class="hw-space">Write down two examples of functions in your daily life.</li>
        <li class="hw-space">Let $f(x) = x^2 - x + 1$. Evaluate and simplify the following:
            <ol type="a">
                <li class="hw-space">$f(1)$</li>
                <li class="hw-space">$f(a)$</li>
                <li class="hw-space">$f(-a)$</li>
                <li class="hw-space">$f(x + h)$</li>
                <li class="hw-space">$f(-x^2)$</li>
            </ol>
        </li>
        <li class="hw-space">Let $g(x) = \dfrac{x + 1}{x^2 + x}$ Evaluate and simplify the following:
            <ol type="a">
                <li class="hw-space">$f(-1)$</li>
                <li class="hw-space">$f(a + h)$</li>
                <li class="hw-space">$f(x^2)$</li>
            </ol>
        </li>
        <li class="hw-space">Let \[f(x) = \begin{cases} 3x + 2 & x \geq 2 \\ x^2 - x & x < 2\end{cases}\] Evaluate the following:
            <ol type="a">
                <li class="hw-space">$f(0)$</li>
                <li class="hw-space">$f(1)$</li>
                <li class="hw-space">$f(2)$</li>
                <li class="hw-space">$f(3)$</li>
            </ol>
        </li>
        <li class="hw-space">Suppose $f$ is a function. What two problems do you need to look for when finding the domain?</li>
        <li class="hw-space">Find the domain of the following functions:
            <ol type="a">
                <li class="hw-space">$f(x) = \dfrac{1}{x - 1} + \dfrac{1}{x - 2}$</li>
                <li class="hw-space">$f(x) = \sqrt{x - 1} + \dfrac{1}{x - 3}$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x^2 + 3x + 2}$</li>
            </ol>
        </li>
        <li class="hw-space">Sketch a graph on the coordinate plane for the following functions using the table method. Feel free to verify your graphs with Desmos.
            <ol type="a">
                <li class="hw-space">$f(x) = -x^2$</li>
                <li class="hw-space">$g(x) = x^3 + 1$</li>
                <li class="hw-space">$f(x) = \begin{cases} 1 & x \leq 1 \\ x + 1 & x > 1\end{cases}$</li>
                <li class="hw-space">$f(x) = \begin{cases} x & x > 1 \\ x^2 - 1 & x \leq -1\end{cases}$</li>
            </ol>
        </li>
        <li class="hw-space">Draw a curve in the plane that is not the graph of a function.</li>
    </ol>

</div>
{% endblock %}