{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 5</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 5"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 5"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/hw5"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 5</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>

        <li class="hw-space">Add, subtract, divide or multiply. Make sure your answer is in the form $a + bi$.
            <ol type="a">
                <li class="hw-space">$\dfrac{1}{i}$ (hint: multiply by $\frac{i}{i}$).</li>
                <li class="hw-space">$\dfrac{2 - 3i}{1 - 2i}$</li>
                <li class="hw-space">$i^{10}$</li>
                <li class="hw-space">$i^{13}</li>
                <li class="hw-space">$-i^{73}$</li>
                <li class="hw-space">$(-i)^{73}$</li>
            </ol>
        </li>
        <li class="hw-space">Solve $3x^2 + 1 = 0$. Make sure your solution is a complex number.</li>
        <li class="hw-space">Draw a coordinate plane and graph the points $(1,2), (2, -1), (-3, -4)$ and $(4, -3)$.</li>
        <li class="hw-space">Suppose I have an expression $f(x)$ and I find two different inputs that give the same evaluation. In particular, I find that $x = 2$ and $x = 3$ gives $f(2) = f(3)$. Is $f$ a function?</li>
        <li class="hw-space">Suppose I have an expression $f(x)$ and I find one input which gives two different evaluations. In particular, I find that $x = 2$ spits out $f(2) = 5$ and $f(2) = 3$. Is $f$ a function?</li>
        <li class="hw-space">Write down two examples of functions in your daily life.</li>
        <li class="hw-space">Let $f(x) = x^2 - x + 1$. Evaluate and simplify the following:
            <ol type="a">
                <li class="hw-space">$f(1)$</li>
                <li class="hw-space">$f(a)$</li>
                <li class="hw-space">$f(-a)$</li>
                <li class="hw-space">$f(x + h)$</li>
                <li class="hw-space">$f(x + h) - f(x)$</li>
            </ol>
        </li>
        <li class="hw-space">Let $f(x) = \dfrac{x + 1}{x^2 + x}$ Evaluate and simplify the following:
            <ol type="a">
                <li class="hw-space">$f(-1)$</li>
                <li class="hw-space">$f(x + 1)$</li>
                <li class="hw-space">$f(-x^2)$</li>
            </ol>
        </li>
        <li class="hw-space">Let \[f(x) = \begin{cases} 3x + 2 & x \geq 2 \\ x^2 - x & x < 2\end{cases}\] Evaluate the following:
            <ol type="a">
                <li class="hw-space">$f(0)$</li>
                <li class="hw-space">$f(1)$</li>
                <li class="hw-space">$f(2)$</li>
                <li class="hw-space">$f(3)$</li>
            </ol>
        </li>
        <li class="hw-space">Let \[f(x) = \begin{cases}-1 & x < -1 \\ 1 & -1 \leq x \leq 1 \\ -1 & x > 1\end{cases}\] Evaluate the following:
            <ol type="a">
                <li class="hw-space">$f(-2)$</li>
                <li class="hw-space">$f(-1)$</li>
                <li class="hw-space">$f(0)$</li>
                <li class="hw-space">$f(1)$</li>
                <li class="hw-space">$f(2)$</li>
            </ol>
        </li>
        <li class="hw-space">Suppose $f$ is a function. What two problems do you need to look for when finding the domain?</li>
        <li class="hw-space">Find the domain of the following functions:
            <ol type="a">
                <li class="hw-space">$f(x) = \dfrac{1}{x - 1} + \dfrac{1}{x - 2}$</li>
                <li class="hw-space">$f(x) = \sqrt{2x + 1}$</li>
                <li class="hw-space">$f(x) = \dfrac{2}{3(x-1)\sqrt{2x + 3}} \ $ (hint: use the zero-product property on the denominator. factors???)</li>
                <li class="hw-space">$f(x) = \sqrt{x - 1} + \dfrac{1}{x - 3}$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x^2 + 3x + 2}$</li>
            </ol>
        </li>
        <li class="hw-space">Sketch a graph on the coordinate plane for the following functions using the table method. Feel free to verify your graphs with Desmos.
            <ol type="a">
                <li class="hw-space">$f(x) = -x^2$</li>
                <li class="hw-space">$g(x) = x^3 + 1$</li>
                <li class="hw-space">$f(x) = \begin{cases} 1 & x \leq 1 \\ x + 1 & x > 1\end{cases}$</li>
                <li class="hw-space">$f(x) = \begin{cases} x & x > 1 \\ x^2 - 1 & x \leq -1\end{cases}$</li>
                <li class="hw-space">$f(x) = \begin{cases} 1 & x \geq 2 \\ -1 & x < 2 \end{cases}$</li>
                <li class="hw-space">$g(x) = \lvert x \rvert$</li>
            </ol>
        </li>
        <li class="hw-space">Draw a curve in the plane that is not the graph of a function.</li>

        <li class="hw-space"> <b>Common errors:</b> Suppose your friend was given a function \[f(x) = x^2 - 3\] and they are asked to find $f(x + h) - f(x)$. Your friend ends up writing \[f(x + h) - f(x) = x^2 - 3 + h - x^2 - 3\] Identify the <b>two</b> mistakes that were made.</li>
        <!--
        <li class="hw-space">Given the two functions $f$ and $g$ 

            <img src="/static/swrlly/images/teaching/118-hw5-1.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
    
            <ol type="a">
                <li class="hw-space">What is $f(0)$?</li>
                <li class="hw-space">What is $g(3)$?</li>
                <li class="hw-space">Solve the equation $f(x) = g(x)$.</li>
                <li class="hw-space">On what intervals is $f(x)$ increasing and decreasing?</li>
                <li class="hw-space">On what intervals is $g(x)$ increasing and decreasing?</li>
                <li class="hw-space">What is the local maxima of $f(x)$?</li>
            </ol>

        </li>

        <li class="hw-space"> Solve the following equations with 1.4 methods or using the graph. You can use Desmos (but graph both graphs on the homework).
            <ol type="a">
                <li class="hw-space">$x - 2 = 4 - x$</li>
                <li class="hw-space">$x^3 + 3x^2 = -x^2 + 3x + 7$</li>
                <li class="hw-space">$16x^3 + 16x^2 = x + 1$</li>
                <li class="hw-space">$1 + \sqrt{x} = \sqrt{x^2 + 1}$</li>
            </ol>
        </li>

        <li class="hw-space"> Find the increasing/decreasing intervals and all local maxima/minima and the location at which they occur:
            <ol type="a">
                <li class="hw-space"><img src="/static/swrlly/images/teaching/118-hw5-2.PNG" style="max-width:350px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>
                <li class="hw-space"><img src="/static/swrlly/images/teaching/118-hw5-3.PNG" style="max-width:350px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>
            </ol> 
        </li>

        
        <li class="hw-space">If a function has negative average rate of change on $(a, b)$, does it have to be decreasing on $(a, b)$?</li>
        <li class="hw-space">Find the net change and average rate of change for the following functions between the given values. Fully simplify (expand/combine like terms/etc.) whenever necessary.
            <ol type="a">
                <li class="hw-space">$f(x) = 3x - 2; \qquad (2, 3)$</li>
                <li class="hw-space">$f(x) = x^3 - 4x^2; \qquad (0, 10)$</li>
                <li class="hw-space">$f(x) = 3x - 2; \qquad (2, 3)$</li>
                <li class="hw-space">$f(x) = 1 - 3x^2; \qquad (2, 2 + h)$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x}; \qquad (x, x + h)$</li>
            </ol>
        </li>

        <li class="hw-space">If I have a base function $f(x)$, explain in English what the following transformations will do:
            <ol type="a">
                <li class="hw-space">$f(x + 2)$</li>
                <li class="hw-space">$f(2x)$</li>
                <li class="hw-space">$-f(x)$</li>
                <li class="hw-space">$-2f(x - 3)$</li>
                <li class="hw-space">$-f(-x)$</li>
            </ol>
        </li>

        <li class="hw-space">Graph the following using transformations. Write out the blueprint of transformations to arrive at $f(x)$.
            <ol type="a">
                <li class="hw-space">$f(x) = \sqrt{x + 4} - 3$</li>
                <li class="hw-space">$f(x) = -(x-1)^2$</li>
                <li class="hw-space">$f(x) = 2 - 3(4x - 4)^2$</li>
            </ol>
        </li>

        <li>Suppose \[f(x) = \sqrt{x} \qquad g(x) = \sqrt{x - 2} \qquad h(x) = \sqrt{\frac{1}{2}x - 2} \qquad i(x) = \sqrt{\frac{1}{2}\left(x-2\right)}\]
            <ol>
                <li class="hw-space">Is $g(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
            </ol>
        </li>
        <li class="hw-space">Suppose \[f(x) =  x^3 \qquad g(x) = \left(\pi\left(x + 4\right)\right)^3 \qquad h(x) = \left(0.25x + 4\right)^3 \qquad i(x) =(x+4)^3\]
            <ol type="a">
                <li class="hw-space">Is $g(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x) = \sqrt{x}$. We want to vertically shift $f(x)$ upwards 3 units and left four units to make a new function $g(x)$. What is the formula of $g(x)$?</li>
        <li class="hw-space">Starting from a base function $f(x)$, I want to create a function where I 
            <ol type="a">
                <li class="hw-space">vertically shift up three units</li>
                <li class="hw-space">horizontally shift right four units</li>
                <li class="hw-space">vertical stretch of 2 units</li>
                <li class="hw-space">horizontal shrink of $\frac{1}{3}$ units</li>
                <li class="hw-space">reflection over the $x$-axis</li>
            </ol>
            What should the formula of $f(x)$ look like?
        </li>

        <li class="hw-space">For each red function, write out what the transformation from $f(x)$ should be:

            <img src="/static/swrlly/images/teaching/118-hw5-4.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

        </li>

    -->


    </ol>


</div>
{% endblock %}