{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 6</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 6"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 6"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/hw6"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 6</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>

        <li class="hw-space">Given the two functions $f$ and $g$ 

            <img src="/static/swrlly/images/teaching/118-hw5-1.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
    
            <ol type="a">
                <li class="hw-space">What is $f(0)$?</li>
                <li class="hw-space">What is $g(3)$?</li>
                <li class="hw-space">Solve the equation $f(x) = g(x)$.</li>
                <li class="hw-space">On what intervals is $f(x)$ increasing and decreasing?</li>
                <li class="hw-space">On what intervals is $g(x)$ increasing and decreasing?</li>
                <li class="hw-space">What is the local maxima of $f(x)$?</li>
            </ol>

        </li>

        <li class="hw-space"> Solve the following equations with 1.4 methods or using the graph. You can use Desmos (but graph both graphs on the homework you will submit).
            <ol type="a">
                <li class="hw-space">$x - 2 = 4 - x$</li>
                <li class="hw-space">$x^3 + 3x^2 = -x^2 + 3x + 7$</li>
                <li class="hw-space">$16x^3 + 16x^2 = x + 1$</li>
                <li class="hw-space">$1 + \sqrt{x} = \sqrt{x^2 + 1}$</li>
            </ol>
        </li>

        <li class="hw-space"> Find the increasing/decreasing intervals and all local maxima/minima and the location at which they occur:
            <ol type="a">
                <li class="hw-space"><img src="/static/swrlly/images/teaching/118-hw5-2.PNG" style="max-width:350px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>
                <li class="hw-space"><img src="/static/swrlly/images/teaching/118-hw5-3.PNG" style="max-width:350px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>
            </ol> 
        </li>

        <li class="hw-space">What is the average rate of change of $f(x)$ on $(a, b)$ defined as?</li>
        
        <li class="hw-space">If a function has negative average rate of change on $(a, b)$, must it be decreasing on $(a, b)$?</li>

        <li class="hw-space">Find the net change and average rate of change for the following functions between the given values. Fully simplify (expand/combine like terms/etc.) whenever necessary.
            <ol type="a">
                <li class="hw-space">$f(x) = 3x - 2; \qquad (2, 3)$</li>
                <li class="hw-space">$f(x) = x^3 - 4x^2; \qquad (0, 10)$</li>
                <li class="hw-space">$f(x) = 3x - 2; \qquad (2, 3)$</li>
                <li class="hw-space">$f(x) = 1 - 3x^2; \qquad (2, 2 + h)$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x}; \qquad (x, x + h)$</li>
            </ol>

            The <b>net change</b> on the interval $(a, b)$ is $f(b) - f(a)$. It is the numerator of the average rate of change.
        </li>

        <li class="hw-space">Given the function $g(x) = -x - 2$, describe the blueprint of transformations to transform $f(x) = x$ into $g(x)$. Graph each function in the blueprint.</li>

        <li class="hw-space">If I have a base function $f(x)$, explain in English what the following transformations will do to $f(x)$:
            <ol type="a">
                <li class="hw-space">$f(x + 2)$</li>
                <li class="hw-space">$f(-x)$</li>
                <li class="hw-space">$-f(x) - 3$</li>
                <li class="hw-space">$-f(-x + 3)$</li>
                <li class="hw-space">$-f(-x)$</li>
            </ol>
        </li>

        <li class="hw-space">Graph the following using transformations. Write out the blueprint of transformations to arrive at $f(x)$.
            <ol type="a">
                <li class="hw-space">$f(x) = \sqrt{x + 4} - 3$</li>
                <li class="hw-space">$f(x) = -(x-1)^2$</li>
                <li class="hw-space">$f(x) = -\sqrt{-x + 3} + 4$</li>
            </ol>
        </li>

        <li>Suppose \[f(x) = \sqrt{x} \qquad g(x) = \sqrt{-x - 2} \qquad h(x) = \sqrt{- x + 2} \qquad i(x) = \sqrt{-(x + 2)}\]
            <ol>
                <li class="hw-space">Is $g(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
            </ol>
        </li>
        <li class="hw-space">Suppose \[f(x) =  x^3 \qquad g(x) = \left(-x - 4\right)^3 \qquad h(x) = \left(-x + 4\right)^3 \qquad i(x) = (-(x+4))^3\]
            <ol type="a">
                <li class="hw-space">Is $g(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x) = \sqrt{x}$. We want to vertically shift $f(x)$ upwards 3 units, left four units, reflect around the $x$-axis, and reflect around the $y$-axis to make a new function $g(x)$. What is the formula of $g(x)$?</li>

        <!--

        <li class="hw-space">Draw three graphs:
            <ol type="a">
                <li class="hw-space">one for the function $f(x) = ax + b$ where $a > 0$</li>
                <li class="hw-space">one for the function $f(x) = ax + b$ where $a = 0$</li>
                <li class="hw-space">one for the function $f(x) = ax + b$ where $a < 0$</li>
            </ol> 
        </li>

        <li class="hw-space">State in mathematical terms what $f(x) = x$ is missing to transform into a general linear function $g(x) = ax + b$.</li>

        <li class="hw-space">If I have a base function $f(x)$, explain in English what the following transformations will do:
            <ol type="a">
                <li class="hw-space">$f(x + 2)$</li>
                <li class="hw-space">$f(2x)$</li>
                <li class="hw-space">$-f(x)$</li>
                <li class="hw-space">$-2f(x - 3)$</li>
                <li class="hw-space">$-f(-x)$</li>
            </ol>
        </li>

        <li class="hw-space">Graph the following using transformations. Write out the blueprint of transformations to arrive at $f(x)$.
            <ol type="a">
                <li class="hw-space">$f(x) = \sqrt{x + 4} - 3$</li>
                <li class="hw-space">$f(x) = -(x-1)^2$</li>
                <li class="hw-space">$f(x) = 2 - 3(4x - 4)^2$</li>
            </ol>
        </li>

        <li>Suppose \[f(x) = \sqrt{x} \qquad g(x) = \sqrt{x - 2} \qquad h(x) = \sqrt{\frac{1}{2}x - 2} \qquad i(x) = \sqrt{\frac{1}{2}\left(x-2\right)}\]
            <ol>
                <li class="hw-space">Is $g(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
            </ol>
        </li>
        <li class="hw-space">Suppose \[f(x) =  x^3 \qquad g(x) = \left(\pi\left(x + 4\right)\right)^3 \qquad h(x) = \left(0.25x + 4\right)^3 \qquad i(x) =(x+4)^3\]
            <ol type="a">
                <li class="hw-space">Is $g(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x) = \sqrt{x}$. We want to vertically shift $f(x)$ upwards 3 units and left four units to make a new function $g(x)$. What is the formula of $g(x)$?</li>
        <li class="hw-space">Starting from a base function $f(x)$, I want to create a function where I 
            <ol type="a">
                <li class="hw-space">vertically shift up three units</li>
                <li class="hw-space">horizontally shift right four units</li>
                <li class="hw-space">vertical stretch of 2 units</li>
                <li class="hw-space">horizontal shrink of $\frac{1}{3}$ units</li>
                <li class="hw-space">reflection over the $x$-axis</li>
            </ol>
            What should the formula of $f(x)$ look like?
        </li>

        <li class="hw-space">For each red function, write out what the transformation from $f(x)$ should be:

            <img src="/static/swrlly/images/teaching/118-hw5-4.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

        </li>

    -->

        <!--
        <li class="hw-space">Suppose \[f(x) = x \qquad g(x) = \dfrac{1}{x-2} \qquad h(x) = \sqrt{x} \qquad i(x) = \dfrac{1}{x-3}\]
            <ol>
                <li class="hw-space">Find $f(x) + g(x) - h(x) - i(x)$ and it's domain.</li>
                <li class="hw-space">Find $f(x) \cdot g(x) \cdot h(x) \cdot i(x)$ and it's domain.</li>
            </ol>
        </li>
        <li>Suppose \[f(x) = x^2 \qquad g(x) = \sqrt{x} \qquad h(x) = \dfrac{1}{x - 1} \qquad i(x) = \dfrac{1}{x-2}\]
            <ol>
                <li class="hw-space">Find $f(x) + g(x) - h(x) - i(x)$ and it's domain.</li>
                <li class="hw-space">Find $\dfrac{f(x) \cdot g(x) \cdot h(x)}{i(x)}$ and it's domain.</li>
            </ol>
        </li>
        <li class="hw-space">If $f(x) = x^2 + 1$ and $g(x) = x - x^2$, find $f(x) - g(x)$ and $f(x)g(x)$.</li>
        <li class="hw-space"> Given the functions $f(x) = \sqrt{x - 2}$ and $g(x) = 5 - x^2$, find the following and <b>fully simplify</b>:</li>
        <ol>
            <li class="hw-space">$f(g(0))$</li>
            <li class="hw-space">$f\circ g$</li>
            <li class="hw-space">$g \circ f$</li>
            <li class="hw-space">$f \circ f$</li>
            <li class="hw-space">$g \circ g$</li>
            
        </ol>
        <li class="hw-space">Given the following functions $F(x)$, find two functions $f$ and $g$ where $f\circ g  = F$. You are not allowed to choose $f(x) = x$ or $g(x) = x$.
            <ol type="a">
                <li class="hw-space">$F(x) = (x-3)^{-\frac{1}{2}}$</li>
                <li class="hw-space">$F(x) = \sqrt{x - 2} + \dfrac{1}{\sqrt{x - 2}}$</li>
                <li class="hw-space">$F(x) = \sqrt{(x^2 + 2x + 3)^3}$</li>
            </ol>
        <li class="hw-space">Draw a graph of a one-to-one function.</li>
        <li class="hw-space">Suppose $f$ is <b>not</b> a one-to-one function. Explain what property is violated when we try to define $f^{-1}$.</li>
        <li class="hw-space">Suppose $f(x) = 2-5x$ and $g(x) = \dfrac{2 - x}{5}$. Are $f(x)$ and $g(x)$ inverses of each other? Show using the Inverse Function Property.</li> 
        <li class="hw-space">Suppose $f(x) = x^2$ and $g(x) = \sqrt{x}$. Are $f(x)$ and $g(x)$ inverses of each other? Show using the Inverse Function Property.</li>
        <li class="hw-space">The function $f(x) = x^2$ is not one-to-one. What could we restrict the domain to to make $f(x)$ one-to-one?</li>

        <li class="hw-space">Find the inverse function of each of the following functions:
            <ol type="a">
                <li class="hw-space">$f(x) = 3x + 5$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x + 2}$</li>
                <li class="hw-space">$f(x) = 4-x^2, \qquad x \geq 0$</li>
                <li class="hw-space">$f(x) = \sqrt{4 - x^2}, 0 \leq x \leq 2$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x^2}, \qquad x > 0$</li>
            </ol>
        </li>

        <li class="hw-space">Given this graph of a function: 

            <img src="/static/swrlly/images/teaching/118-hw6-1.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

            find 
            <ol type="a">
                <li class="hw-space">$f^{-1}(2)$</li>
                <li class="hw-space">$f^{-1}(5)$</li>
                <li class="hw-space">$f^{-1}(6)$</li>
            </ol>

        </li>

        <li class="hw-space">Determine which functions are even/odd/neither.
            <ol type="a">
                <li class="hw-space">$f(x) = x^2 - 1$</li>
                <li class="hw-space">$g(x) = \dfrac{1}{x}$</li>
                <li class="hw-space">$q(x) = x^5 + x^3 + x$</li>
            </ol>
        </li>
    -->

    </ol>


</div>
{% endblock %}