{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 6</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 6"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 6"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/hw6"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 6</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>
        <li class="hw-space">Suppose \[f(x) = x \qquad g(x) = \dfrac{1}{x-2} \qquad h(x) = \sqrt{x} \qquad i(x) = \dfrac{1}{x-3}\]
            <ol>
                <li class="hw-space">Find $f(x) + g(x) - h(x) - i(x)$ and it's domain.</li>
                <li class="hw-space">Find $f(x) \cdot g(x) \cdot h(x) \cdot i(x)$ and it's domain.</li>
            </ol>
        </li>
        <li>Suppose \[f(x) = x^2 \qquad g(x) = \sqrt{x} \qquad h(x) = \dfrac{1}{x - 1} \qquad i(x) = \dfrac{1}{x-2}\]
            <ol>
                <li class="hw-space">Find $f(x) + g(x) - h(x) - i(x)$ and it's domain.</li>
                <li class="hw-space">Find $\dfrac{f(x) \cdot g(x) \cdot h(x)}{i(x)}$ and it's domain.</li>
            </ol>
        </li>
        <li class="hw-space">If $f(x) = x^2 + 1$ and $g(x) = x - x^2$, find $f(x) - g(x)$ and $f(x)g(x)$.</li>
        <li class="hw-space"> Given the functions $f(x) = \sqrt{x - 2}$ and $g(x) = 5 - x^2$, find the following and <b>fully simplify</b>:</li>
        <ol>
            <li class="hw-space">$f(g(0))$</li>
            <li class="hw-space">$f\circ g$</li>
            <li class="hw-space">$g \circ f$</li>
            <li class="hw-space">$f \circ f$</li>
            <li class="hw-space">$g \circ g$</li>
            
        </ol>
        <li class="hw-space">Given the following functions $F(x)$, find two functions $f$ and $g$ where $f\circ g  = F$. You are not allowed to choose $f(x) = x$ or $g(x) = x$.
            <ol type="a">
                <li class="hw-space">$F(x) = (x-3)^{-\frac{1}{2}}$</li>
                <li class="hw-space">$F(x) = \sqrt{x - 2} + \dfrac{1}{\sqrt{x - 2}}$</li>
                <li class="hw-space">$F(x) = \sqrt{(x^2 + 2x + 3)^3}$</li>
            </ol>
        <li class="hw-space">Draw a graph of a one-to-one function.</li>
        <li class="hw-space">Suppose $f$ is <b>not</b> a one-to-one function. Explain what property is violated when we try to define $f^{-1}$.</li>
        <li class="hw-space">Suppose $f(x) = 2-5x$ and $g(x) = \dfrac{2 - x}{5}$. Are $f(x)$ and $g(x)$ inverses of each other? Show using the Inverse Function Property.</li> 
        <li class="hw-space">Suppose $f(x) = x^2$ and $g(x) = \sqrt{x}$. Are $f(x)$ and $g(x)$ inverses of each other? Show using the Inverse Function Property.</li>
        <li class="hw-space">The function $f(x) = x^2$ is not one-to-one. What could we restrict the domain to to make $f(x)$ one-to-one?</li>

        <li class="hw-space">Find the inverse function of each of the following functions:
            <ol type="a">
                <li class="hw-space">$f(x) = 3x + 5$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x + 2}$</li>
                <li class="hw-space">$f(x) = 4-x^2, \qquad x \geq 0$</li>
                <li class="hw-space">$f(x) = \sqrt{4 - x^2}, 0 \leq x \leq 2$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x^2}, \qquad x > 0$</li>
            </ol>
        </li>

        <li class="hw-space">Given this graph of a function: 

            <img src="/static/swrlly/images/teaching/118-hw6-1.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

            find 
            <ol type="a">
                <li class="hw-space">$f^{-1}(2)$</li>
                <li class="hw-space">$f^{-1}(5)$</li>
                <li class="hw-space">$f^{-1}(6)$</li>
            </ol>

        </li>


    </ol>


</div>
{% endblock %}