{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 7</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 7"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 7"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/hw7"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 7</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and <b>remember to fully simplify each expression.</b></li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>

        <li class="hw-space">State in mathematical terms what $f(x) = x$ is missing to transform into a general linear function $g(x) = ax + b$.</li>

        <li class="hw-space">If I have a base function $f(x)$, explain in English what the following transformations will do:
            <ol type="a">
                <li class="hw-space">$f(x + 2)$</li>
                <li class="hw-space">$f(2x)$</li>
                <li class="hw-space">$-f(x)$</li>
                <li class="hw-space">$-2f(x - 3)$</li>
                <li class="hw-space">$-f(-x)$</li>
            </ol>
        </li>

        <li class="hw-space">Graph the following using transformations. Write out the blueprint of transformations to arrive at $f(x)$.
            <ol type="a">
                <li class="hw-space">$f(x) = \sqrt{x + 4} - 3$</li>
                <li class="hw-space">$f(x) = -(x-1)^2$</li>
                <li class="hw-space">$f(x) = 2 - 3(4x - 4)^2$</li>
            </ol>
        </li>

        <li>Suppose \[f(x) = \sqrt{x} \qquad g(x) = \sqrt{x - 2} \qquad h(x) = \sqrt{\frac{1}{2}x - 2} \qquad i(x) = \sqrt{\frac{1}{2}\left(x-2\right)}\]
            <ol>
                <li class="hw-space">Is $g(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
            </ol>
        </li>
        <li class="hw-space">Suppose \[f(x) =  x^3 \qquad g(x) = \left(\pi\left(x + 4\right)\right)^3 \qquad h(x) = \left(0.25x + 4\right)^3 \qquad i(x) =(x+4)^3\]
            <ol type="a">
                <li class="hw-space">Is $g(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x) = \sqrt{x}$. We want to vertically shift $f(x)$ upwards 3 units and left four units to make a new function $g(x)$. What is the formula of $g(x)$?</li>
        <li class="hw-space">Starting from a base function $f(x)$, I want to create a function where I 
            <ol type="a">
                <li class="hw-space">vertically shift up three units</li>
                <li class="hw-space">horizontally shift right four units</li>
                <li class="hw-space">vertical stretch of 2 units</li>
                <li class="hw-space">horizontal shrink of $\frac{1}{3}$ units</li>
                <li class="hw-space">reflection over the $x$-axis</li>
            </ol>
            What should the formula of $f(x)$ look like?
        </li>

        <li class="hw-space">For each red function, write out what the transformation from $f(x)$ should be:

            <img src="/static/swrlly/images/teaching/118-hw5-4.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

        </li>

        <li class="hw-space">Determine which functions are even/odd/neither. Use the definition of even and odd.
            <ol type="a">
                <li class="hw-space">$f(x) = x^2 - 1$</li>
                <li class="hw-space">$g(x) = \dfrac{1}{x}$</li>
                <li class="hw-space">$q(x) = x^5 + x^3 + x$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose \[g(x) = \dfrac{1}{x-2} \qquad h(x) = \sqrt{x} \qquad i(x) = \dfrac{1}{x-3}\]
            <ol>
                <li class="hw-space">Find $g(x)i(x)$ and it's domain.</li>
                <li class="hw-space">Find $h(x) + i(x)$ and it's domain.</li>
            </ol>
        </li>
        <li>Suppose \[g(x) = \sqrt{x - 2} \qquad h(x) = \dfrac{1}{x - 1} \qquad i(x) = \dfrac{1}{x-2}\]
            <ol>
                <li class="hw-space">Find $g(x) + h(x)$ and it's domain.</li>
                <li class="hw-space">Find $1 - h(x)i(x)$ and it's domain.</li>
            </ol>
        </li>
        <li class="hw-space">If $f(x) = x^2 + 1$ and $g(x) = x - x^2$, find $f(x) - g(x)$ and $f(x)g(x)$.</li>
        <li class="hw-space"> Given the functions $f(x) = \sqrt{x - 2}$ and $g(x) = 5 - x^2$, find the following and <b>fully simplify</b>:</li>
        <ol>
            <li class="hw-space">$f(g(0))$</li>
            <li class="hw-space">$f\circ g$</li>
            <li class="hw-space">$g \circ f$</li>
            <li class="hw-space">$f \circ f$</li>
            <li class="hw-space">$g \circ g$</li>
            
        </ol>
        <li class="hw-space">Given the following functions $F(x)$, find two functions $f$ and $g$ where $f\circ g  = F$. You are not allowed to choose $f(x) = x$ or $g(x) = x$.
            <ol type="a">
                <li class="hw-space">$F(x) = (x-3)^{-\frac{1}{2}}$</li>
                <li class="hw-space">$F(x) = \sqrt{x - 2} + \dfrac{1}{\sqrt{x - 2}}$</li>
                <li class="hw-space">$F(x) = \sqrt{(x^2 + 2x + 3)^3}$</li>
            </ol>

        <!--
        <li class="hw-space"> A quadratic function $f(x)$ is given. Do the following four tasks for each function:
            <ul>
                <li>Express $f(x)$ in standard form.</li>
                <li>Sketch a graph of $f(x)$.</li>
                <li>Find the maximum or minimum value of $f(x)$.</li>
                <li>Describe the type of solutions of $f(x)$.</li>
            </ul>
            <ol type="a">
                <li class="hw-space">$x^2 - 2x + 3$</li>
                <li class="hw-space">$-x^2 + 6x + 4$</li>
                <li class="hw-space">$-3x^2 + 6x - 2$</li>
                <li class="hw-space">$2x^2 + 12x + 10$</li>
                <li class="hw-space">$x^2 + 2x$</li>
            </ol>
        </li>

        <li class="hw-space">Find a quadratic function that has a vertex of $(2, -3)$ and runs through the point $(3, 1)$. <br> Hint: Use the given point to determine $a$ in standard form.</li>

        <li class="hw-space">Describe the end behavior for the following polynomials:
            <ol type="a">
                <li class="hw-space">$P(x) = 3x^3 - x^2$</li>
                <li class="hw-space">$P(x) = x^4 - 7x^2 + 5x + 5$</li>
                <li class="hw-space">$P(x) = -2x^5 - x^3$</li>
                <li class="hw-space">$P(x) = -3x^6 + x^4 + 18472x^2 + 24894837784$</li>
            </ol>
        </li>

        <li class="hw-space">Sketch a rough graph of the following polynomials. Make sure the zeroes, end behavior, and zero multiplicity are displayed correctly.
            <ol type="a">
                <li class="hw-space">$P(x) = (x - 1)(x + 2)$</li>
                <li class="hw-space">$P(x) = -x(x-3)(x+2)$</li>
                <li class="hw-space">$P(x) = (x-1)^2(x+2)^3$</li>
                <li class="hw-space">$P(x) = x^3(x+2)(x-3)^2$</li>
                <li class="hw-space">$P(x) = x^4 - 2x^3 - 8x + 16$</li>
                <li class="hw-space">$P(x) = x^3 - x^2 - 6x$</li>
                <li class="hw-space">$P(x) = x^5 - 9x^3$</li>
                <li class="hw-space">$P(x) = 2x^3 - 2x^2 - 12x$</li>
            </ol>
        </li>

        <li class="hw-space">Find a polynomial of degree 4 with zeroes $-1, 0, 2$ and $\sqrt{2}$.</li>

        <li class="hw-space">Given the function $P(x) = (x+1)(x+2)(x+3)$, explain why there is one local maximum and one local minimum.</li>

        <li class="hw-space">Suppose a polynomial $P(x)$ has zeroes at $x = -1, 0, 1$. If $P(x) > 0$ when $x \in (-1, 0)$ and $x \in (0, 1)$, what can we conclude about the multiplicity of $x = 0$?</li>

        <li class="hw-space">
            Write a polynomial with degree $5$ that has $5$ distinct real zeroes (okay if in factored form).
        </li>
        <li class="hw-space">Write a polynomial with degree 5 that has 2 distinct real zeroes.</li> 
        <li class="hw-space">Write a polynomial with degree 86 with 3 distinct real zeroes.</li> 
        <li class="hw-space">Write a polynomial with degree 4 with 2 distinct real zeroes.</li> 
        <li class="hw-space">Write a polynomial with degree 6 with 5 distinct real zeroes.</li>
        <li class="hw-space">If I have a polynomial $P(x)$ and I divide it by $x - c$, is the remainder $P(c)$?</li>
        <li class="hw-space">If I have a polynomial $P(x)$ and $P(c) = 0$, is $x - c$ is a factor?</li>
        <li class="hw-space">If I have a polynomial $P(x)$ and $x - c$ is a factor, is $P(c) = 0$?</li>
        <li class="hw-space">Two polynomials $P$ and $D$ are given. Use long division to divide $P(x)$ by $D(x)$ and express $P$ in the form \[P(x) = D(x)\cdot Q(x) + R(x)\]
            <ol type="a">
                <li class="hw-space">$P(x) = x^4 + 2x^3 - 10x, \qquad D(x) = x - 3$</li>
                <li class="hw-space">$P(x) = 18x^5 - 9x^4 + 3x^2 - 3, \qquad D(x) = 3x^2 - 3x + 1$</li>
            </ol>
        </li>-->

    </ol>


</div>
{% endblock %}