{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 8</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 8"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="Homework 8"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/hw8"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 8</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>

        <li class="hw-space">If \[f(x) = x^2 - 1 \qquad g(x) = x - 1\] find the function $\dfrac{f(x)}{g(x)}$ and state it's domain.</li>

        <li class="hw-space">Redefine these rational functions with their domain exclusions (also called <b>holes</b>)
        
            <ol type="a">
                <li class="hw-space">$f(x) = \dfrac{x^2 - 3x + 2}{x - 1}$</li>
                <li class="hw-space">$g(t) = \dfrac{2t^2 - 5t + 2}{2t - 1}$</li>
                <li class="hw-space">$f(x) = \dfrac{(x-3)(x^2 - 2x + 1)}{x-1}$</li>
            </ol>
        </li>

        <li class="hw-space">Find the range of the following functions. Use transformations!
            <ol type="a">
                <li class="hw-space">$f(x) = \sqrt{x}$</li>
                <li class="hw-space">$f(x) = \sqrt{x - 1}$</li>
                <li class="hw-space">$f(x) = -\sqrt{x + 1}$</li>
                <li class="hw-space">$f(x) = 4 - x^2$</li>
            </ol>
        </li>

        <li class="hw-space">Draw a graph of a one-to-one function.</li>
        
        <li class="hw-space">Suppose $f$ is <b>not</b> a one-to-one function. Explain what property is violated when we try to define the inverse $f^{-1}$.</li>

        <li class="hw-space">Determine if the following functions are inverses of each other using the Inverse Function Property.
            <ol type="a">
                <li class="hw-space">$f(x) = 2 - 5x, \ g(x) = \dfrac{2 - x}{5}$</li>
                <li class="hw-space">$f(x) = x^2, \ g(x) = \sqrt{x}$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x - 1}, \ g(x) = \dfrac{1}{x} + 1$</li>
                <li class="hw-space">$f(x) = x + 1, \ g(x) = \dfrac{1}{x - 1}$</li>
            </ol>
        </li>
        
        <li class="hw-space">The function $f(x) = (x-1)^2$ is not one-to-one. What could we restrict the domain to to make $f(x)$ one-to-one?</li>

        <li class="hw-space">Given this graph of a function: 

            <img src="/static/swrlly/images/teaching/118-hw6-1.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

            find 
            <ol type="a">
                <li class="hw-space">$f^{-1}(2)$</li>
                <li class="hw-space">$f^{-1}(5)$</li>
                <li class="hw-space">$f^{-1}(6)$</li>
            </ol>

        </li>

        <li class="hw-space">If $f(1) = 2, f(2) = 3$ and $f(3) = 1$ find $f^{-1}(1), f^{-1}(2), f^{-1}(3)$.</li>
        
        <li class="hw-space">Find the inverse function of each of the following functions:
            <ol type="a">
                <li class="hw-space">$f(x) = 3x + 5$</li>
                <li class="hw-space">$f(x) = -2x - 4$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x + 2}$</li>
                <li class="hw-space">$f(x) = \dfrac{2x + 5}{x - 7}$</li>
                <li class="hw-space">$f(x) = 4-x^2, \qquad x \geq 0$</li>
                <li class="hw-space">$f(x) = \sqrt{4 - x^2}, \qquad 0 \leq x \leq 2$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x^2}, \qquad x > 0$</li>
            </ol>
        </li>

        <li class="hw-space">Why is it helpful to put a quadratic into standard form?</li>

        <li class="hw-space">A quadratic $f(x) = x^2 + bx$ is given. What do you need to add and subtract in order to complete the square?</li>

        <li class="hw-space"> A quadratic function $f(x)$ is given. Do the following four tasks for each function:
            <ul>
                <li>Express $f(x)$ in standard form.</li>
                <li>Sketch a graph of $f(x)$.</li>
                <li>(skip this) Find the maximum or minimum value of $f(x)$.</li>
                <li>(skip this) Describe the type of solutions of $f(x)$ (use the discriminant).</li>
            </ul>
            <ol type="a">
                <li class="hw-space">$x^2 - 2x + 3$</li>
                <li class="hw-space">$-x^2 + 6x + 4$
                    
            <br/><button class="math-btn">Show Hint</button>
            <div class="math-solution">
                Rewrite $-x^2 + 6x + 4 = -x^2 - (-6)x + 4 = -(x^2 - 6x) + 4$ and complete the square.
            </div>
        </li>
                </li>
                <li class="hw-space">$-3x^2 + 6x - 2$</li>
                <li class="hw-space">$2x^2 + 12x + 10$</li>
                <li class="hw-space">$x^2 + 2x$</li>
                <li class="hw-space">$x^2 + 4x - 1$</li>
            </ol>
        </li>





        <!--
        <li class="hw-space">Two polynomials $P$ and $D$ are given. Use long division to divide $P(x)$ by $D(x)$ and express $P$ in the form \[P(x) = D(x)\cdot Q(x) + R(x)\]
            <ol type="a">
                <li class="hw-space">$P(x) = x^4 + 2x^3 - 10x, \qquad D(x) = x - 3$</li>
                <li class="hw-space">$P(x) = 18x^5 - 9x^4 + 3x^2 - 3, \qquad D(x) = 3x^2 - 3x + 1$</li>
            </ol>
        </li>

        <li class="hw-space">Divide the following polynomials using long division. Write your answer as $P(x) = D(x) \cdot Q(x) + R(x)$.
            <ol type="a">
                <li class="hw-space">$\dfrac{4x^3 + 2x^2 - 2x - 3}{2x + 1}$</li>
                <li class="hw-space">$\dfrac{x^6 + x^4 + x^2 + 1}{x^2 + 1}$</li>
            </ol>
        </li>
        <li class="hw-space">If I have a polynomial $P(x)$ and I divide it by $x - c$, is the remainder $P(c)$?</li>
        <li class="hw-space">If I divide $x^3 + 3x^2 - 7x + 6$ by $x - 2$, what is the remainder? You can either justify with the Remainder Theorem or long division.</li>
        <li class="hw-space">If \[x^{201} - 2x^{199} + x^{52} - 2x^{32} + 3x + 1\] is divided by $x - 1$, what is the remainder?</li>
        <li class="hw-space">Given $P(x) = x^3 - 3x^2 + 3x - 1$:
            <ol type="a">
                <li class="hw-space">Show $c = 1$ is a zero of $P(x)$.</li>
                <li class="hw-space">Find a complete factorization of $P(x)$.</li>
            </ol>
        </li>
        <li class="hw-space">Given $P(x) = x^3 - x^2 - 11x + 15$:
            <ol type="a">
                <li class="hw-space">Show $c = 3$ is a zero of $P(x)$.</li>
                <li class="hw-space">Find all of the zeros of $P(x)$.</li>
            </ol>
        </li>

        <li class="hw-space">Write a degree 6 polynomial with zeros $-2, -1, 0, 1$.</li>

        <li class="hw-space">If $P(x)$ is a polynomial, what is the definition of a "complete factorization of $P(x)$"?</li>

        <li class="hw-space">(skip) If $P(x)$ is a polynomial and you know $x = 1 + i$ is one of the zeros, what other zero must be present?</li>

        <li class="hw-space">(skip) If $(x - 2i)$ is a factor of the polynomial $P(x)$, what other factor must be present?</li>

        <li class="hw-space">(skip) Write a degree 5 polynomial with zeros $-3, 2i$ and $1 - i$.</li>

        <li class="hw-space">Find a complete factorization (factor into degree one factors) of the following polynomials. Some zeros will be given. If not given, use factoring techniques from 1.3.
            <ol type="a">
                <li class="hw-space">$P(x) = x^2 + 25$</li>
                <li class="hw-space">$P(x) = x^2 + 2x + 2$</li>
                <li class="hw-space">$P(x) = x^3 - 7x^2 + 17x - 15,\qquad x = 3$ is a zero</li>
                <li class="hw-space">$P(x) = x^5 + x^3 + 8x^2 + 8$</li>
                <li class="hw-space">$P(x) = x^3 - x - 6, \qquad x = 2$ is a zero</li>
                <li class="hw-space">$P(x) = x^5 - 16x$</li>
                <li class="hw-space">$P(x) = 2x^3 - 8x^2 + 9x - 9, \qquad x = 3$ is a zero</li>
                <li class="hw-space">$P(x) = x^3 + 7x^2 + 18x + 18, \qquad x = -3$ is a zero</li>
                <li class="hw-space">$P(x) = x^5 + 6x^3 + 9x$</li>
                <li class="hw-space">$P(x) = x^3 - x^2 + x$</li>
            </ol>
        </li>

        <li class="hw-space">Given a degree $n$ polynomial, how many real and complex zeros are there, including zero multiplicity?</li>
        --->

    </ol>


</div>
{% endblock %}