{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - Homework 3 (M/W)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - Homework 3"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 3"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/homework/mw/hw3"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 3</h1>
    <p><b>Directions:</b> Show each step of your work. Turn in your answers in class on a physical piece of paper. Staple multiple sheets together. Feel free to use Desmos for graphing.</p>
    <p>Answer the following:</p>
    <ol>



        <li class="hw-space">Find the following limits with the appropriate technique.
        
            <ol type="a">
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 1}\dfrac{\sqrt{x} - 1}{x - 1}$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 0}\dfrac{2x^2 - 2x}{x}$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow -2}\dfrac{x^2 - 4}{x^3 + 2x^2}$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow \infty}\dfrac{x^4 + x^2 + 1}{x^3 + x + 3}$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow \infty}\dfrac{x^3 + 2x^2 - x - 6}{3x^3 -2x^2 + 4x}$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow \infty}\dfrac{x^2 + 1}{x^4 - x}$</li>
            </ol>
        </li>

        <li class="hw-space">It is estimated that the total population of San Luis Obispo is given by the function \[P(t) = \dfrac{25t^2 + 125t + 200}{t^2 + 5t + 20}\] where $t$ is years since $2020$.<br>
            Evaluate $\displaystyle\lim_{t\rightarrow \infty} P(t)$ and interpret the meaning of the limit in English.
        </li>

        <li class="hw-space"> Given this graph of $f(x)$ <img src="/static/swrlly/images/teaching/hw3im1.PNG" style="max-width:600px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
            Determine which statements are true or false.
            <ol type="a">
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 0^-} f(x) = 0$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 0^+} f(x) = 0$</li>
                <li class="hw-space">$f(1)$ is defined.</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 2} f(x) = f(2)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 1} f(x)= 1$ </li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 3^-} f(x)= \lim_{x\rightarrow 3^+}f(x)$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose a function $f(x)$ has $f(2) = 5$ and $\displaystyle \lim_{x \rightarrow 2}f(x) = 5$. Is the function continuous at $x = 2$?</li>

        <li class="hw-space">
            Given each function, <b>use the definition of continuity</b> to determine where the function is discontinuous.
            <ol type="a">
                <li class="hw-space">$\displaystyle f(x) = \dfrac{2}{2x - 1}$</li>
                <li class="hw-space">$f(x) = x^{100} + 2x^{99} + 95x^5 + 99x^2 + 1$</li>
                <li class="hw-space">$\displaystyle f(x) = \begin{cases}x & x \leq 1 \\ 2x - 1 & x > 1\end{cases}$</li>
                <li class="hw-space">$\displaystyle f(x) = \begin{cases}x + 5 & x < 0 \\ 2 & x = 0 \\ -x^2 + 5 & x > 0\end{cases}$</li>
            </ol>
        </li>

        <li class="hw-space">Draw the graph of a function which is continuous on $(-\infty, -2) \cup (-2, 3) \cup (3, \infty)$ and $\displaystyle\lim_{x\rightarrow 3}f(x)$ does not exist. </li>

        <li class="hw-space">
            Suppose $f(x) = 2x^{12324538742389}$. Are we allowed to use the limit laws to find $\displaystyle \lim_{x\rightarrow 3^+} f(x)$?
        </li>

        <!-- add for t/th-->

        <li class="hw-space">Suppose $f(x)$ is a function. What are the two meanings of $f'(x)$?</li>
        <li class="hw-space">Suppose I have a function $f(x)$. If $f'(5)$ doesn't exist, state all the possibilities why it does not. </li>

        <li class="hw-space">Suppose I have a function $f(x)$. When is $f(x)$ differentiable at $x = 5$? Hint: definition.</li>

        <li class="hw-space">Bank of America has undergone a series of bad loans in agriculture and real estate. The losses are estimated to be (in millions of dollars) \[f(t) = -t^2 + 10t + 30\] where $t$ is the time in years since 2020. 
            <ol type="a">
                <li class="hw-space">What is the rate of change of the losses in 2021? Use the definition, not shortcuts.</li>
            </ol>
        </li>

        <li class="hw-space"> When we are using the definition of the derivative:
            <ol type="a">
                <li class="hw-space">What always happens to the $h$ in the denominator?</li>
                <li class="hw-space">Suppose the above phenomena does not happen. What is the problem?</li>
            </ol>
        </li>

        <li class="hw-space">
            For the following functions, <b>use the definition of the derivative</b>. Find the following:
            <ol type="a">
                <li class="hw-space">Find the instantaneous rate of change of $f(x) = 5x$ at $x = 3$.</li>
                <li class="hw-space">$\displaystyle \dfrac{d}{dx} (x^2 - 4x)$</li>
                <li class="hw-space">If $f(x) = 3x^2$, find $f'(x)$.</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x)$ is differentiable on $\mathbb{R}$. Must $f(x)$ be continuous on $\mathbb{R}$? If not, explain why.</li>

        <li class="hw-space">Suppose $f(x)$ is continuous on $\mathbb{R}$. Must $f(x)$ be differentiable on $\mathbb{R}$? If not, draw the graph of a function where it fails to be differentiable.</li>

        <li class="hw-space">Suppose I have \[f'(x) = \lim_{h\rightarrow 0} \dfrac{\sqrt{9 + h} - 3}{h}\]What is $f(x)$?</li>

    </ol>

</div>
{% endblock %}