{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - Homework 4 (M/W)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - Homework 4"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 4"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/homework/mmw/hw4"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 4</h1>
    <p><b>Directions:</b> 
        <ol>
            <li class="hw-space">Show each step of your work.</li>
            <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
            <li class="hw-space"><b>Staple multiple sheets together.</b></li>
            <li class="hw-space">Feel free to use Desmos for graphing.</li>
        </ol>  
    </p>
    <p>Answer the following:</p>
    <ol>
        
        <li class="hw-space">Find the derivative with respect to the correct variable for each of the following functions. Derivative rules are allowed.
            <ol type="a">
                <li class="hw-space">$f(x) = (-3)^2$</li>
                <li class="hw-space">$f(x) = x^{2.9}$</li>
                <li class="hw-space">$f(r) = -9r^{2/3}$</li>
                <li class="hw-space">$f(x) = 5x^2 + 6x + 7$</li>
                <li class="hw-space">$f(r) = \dfrac{r^5 + 2r^4 + 3r + 1}{r}$</li>
                <li class="hw-space">$f(a) = \dfrac{5}{a^4} - \dfrac{2}{\sqrt[3]{a^2}} -\dfrac{1}{a} + 200$</li>
                <li class="hw-space">$f(x) = \dfrac{5}{x^4} + \dfrac{\sqrt{x^3}}{3} + x$</li>
                <li class="hw-space">$f(x) = 2x\left(3x^2 + 1\right)$</li>
                <li class="hw-space">$f(t) = \left(t^2+t+1\right)\left(t-1\right)$</li>
                <li class="hw-space">$f(x) = \left(x^3 + 2x^2 + 3x + 4\right)\left(x - \dfrac{2}{x^2}\right)$</li>
                <li class="hw-space">$f(a) = \dfrac{1}{a^2 + 1}$</li>
                <li class="hw-space">$f(t) = \dfrac{t + 1}{t^2 + 1}$</li>
                <li class="hw-space">$f(x) = \dfrac{x + \sqrt[5]{x^4}}{2x + 3}$</li>
                <li class="hw-space">$f(x) = (2x-1)^7$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{(4x+3)^3}$</li>
                <li class="hw-space">$f(x) = \sqrt[3]{(x^2 + 3)^4}$</li>
                <li class="hw-space">$f(t) = \sqrt{t + 1}\sqrt[3]{t + 2}$</li>
            </ol>

        </li>

        <li class="hw-space">You started a company and hired an analyst to model your total revenue in your first two years of operations. The analyst says the total revenue seems to follow \[f(t) = \dfrac{0.4t^3}{1 + 0.4t^2} \qquad 0 \leq t \leq 2\] where $f(t)$ is measured in millions of dollars and $t=0$ is the date your company was started.<br>
        
            <ol type="a">
                <li class="hw-space">
                    What is your company's total revenue in the beginning of the second year of operation? 
                </li>
                <li class="hw-space">
                    How fast were your company's sales increasing at the beginning of the second year of operation?
                </li>
                <li class="hw-space">
                    The analyst's model was slightly incorrect and says the sales data is better modeled by \[g(t) = \dfrac{0.4t^3}{1.2 + 0.4t^2} \qquad 0 \leq t \leq 2\]
                    Answer the previous two parts using this new model.
                </li>
                <li class="hw-space">Given this new model, how far off was the analyst initially?</li>
            </ol>    
        </li>

        <li class="hw-space">
            Recall the last question in <a href="/teaching/math-221/lectures/2.2">Lecture 2.2.</a><br>
            The concentration of carbon monoxide in the air due to automobile exhaust $t$ years from now is estimated to be \[f(t) = 0.01(0.2t^2 + 4t + 64)^{2/3}\]

            Find the rate at which the level of carbon monoxide is changing with respect to time.
        </li>

    </ol>

</div>
{% endblock %}