{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - Homework 6 (M/W)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - Homework 6"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 6"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/homework/mw/hw6"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 6</h1>
    <p><b>Directions:</b> 
        <ol>
            <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
            <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
            <li class="hw-space"><b>Staple multiple sheets together.</b></li>
            <li class="hw-space">Feel free to use Desmos for graphing.</li>
        </ol>  
    </p>
    <p>Answer the following:</p>
    <ol>
        <li class="hw-space">
            You stood on the edge of a building 225 feet tall and dropped a ball. The distance (in feet) the ball falls in $t$ seconds is \[f(t) = 15t^2\]
            <ol>
                <li class="hw-space">At what time does the ball hit the ground?</li>
                <li class="hw-space">What is the ball's velocity when it hits the ground?</li>
                <li class="hw-space">What is the ball's acceleration when it hits the ground?</li>
            </ol>
        </li>
        
        <li class="hw-space">
            The Consumer Price Index for some economy is predicted to follow the function \[f(t) = -0.0003t^{3}+0.009t^{2}+0.0055t+1.29\]
            where $f(t)$ is in dollars in tens of thousands and $t = 0$ is the beginning of year 2023.
        
            <ol>
                <li class="hw-space">
                    What is the inflation rate in the beginning of 2040?
                </li>
                <li class="hw-space">
                    Show the rate at which inflation is growing is slowing down in 2040.
                </li>
                <li class="hw-space">Show the rate at which inflation is growing is speeding up in 2028.</li>
        
            </ol>
        
        </li>

        <li class="hw-space">
            Obesity (measured by BMI) in America is approximated by the function \[f(t) = 0.0004t^3 + 0.0036t^2 + 0.8t + 12 \qquad 0 \leq t \leq 13 \]
            where $t = 0$ (in years) is the beginning of 1991 and $f(t)$ is percent of people who are obese.
            <ol>
                <li class="hw-space">
                    Show $f(t)$ is an increasing function on $0 \leq t \leq 13$. (Hint: $t$ is positive, is each term in $f'(t)$ positive?)
                </li>
                <li class="hw-space">
                    What are the implications of $f(t)$ being an increasing function?
                </li>
                <li class="hw-space">Show the rate of change of the rate of change of the percent of people deemed obese was positive from 1991 to 2004. What are the implications?</li>
            </ol>
        </li>

        <li class="hw-space">Find the derivative of \[xy - y - 1 = 0\] in two ways:
            <ol type="a">
                <li class="hw-space">Solve for $y$, then take the derivative normally.</li>
                <li class="hw-space">Implicitly differentiate.</li>
                <li class="hw-space">Show the two derivatives are identical (Hint: substitute the definition of $y$ in part (a)).</li>
            </ol>
        </li>

        <li class="hw-space">
            Find $\dfrac{dy}{dx}$ with implicit differentiation.
            <ol type="a">
                <li class="hw-space">$x^2 + y^2 = 16$</li>
                <li class="hw-space">$x^2 + 2y^3 + y^2 = x$</li>
                <li class="hw-space">$x^4 + y^2 = y^4 + x^2$</li>
                <li class="hw-space">$2 = x^2y^3 + y^2$</li>
                <li class="hw-space">$(x+y)^3 + x^3 + y^3 = 0$</li>
                <li class="hw-space">$\sqrt{xy} = x + y$</li>
                <li class="hw-space">$x^2y^3 = 5 + 2xy^2$</li>
                <li class="hw-space">$\dfrac{x^2}{y^3 + y^4} = y^2</li>
            </ol>
        </li>

        <li class="hw-space">Find $\dfrac{d^2y}{dx^2}$ of the equation $xy= 1$.</li>

    </ol>
</div>
{% endblock %}