{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - Homework 9 (M/W)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - Homework 9"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 9"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/homework/mw/hw9"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 9</h1>
    <p><b>Directions:</b> 
        <ol>
            <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
            <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
            <li class="hw-space"><b>Staple multiple sheets together.</b></li>
            <li class="hw-space">Feel free to use Desmos for graphing.</li>
        </ol>  
    </p>
    <p>Answer the following:</p>
    <ol>
        <li class="hw-space">
            Draw a function with a domain of $[-10, 10]$, concave upward on $[-10, -2]$, concave downward on $[-2, 5]$, concave up on $[5, 10]$ and $f'(5)$ does not exist.
        </li>
        <li class="hw-space"> For the following function
            <img src="/static/swrlly/images/teaching/hw9im1.PNG" style="max-width:200px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
            Determine the intervals of concavity and all of the inflection points.
        </li>
        <li class="hw-space"> For the following function
            <img src="/static/swrlly/images/teaching/hw9im2.PNG" style="max-width:500px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
            <ol type="a">
                <li class="hw-space">
                    Find the intervals of concavity.
                </li>
                <li class="hw-space">
                    Determine all of the inflection points.
                </li>
                <li class="hw-space">
                    Explain why the second derivative is conclusive of a relative extrema at $x=3$ and at $x = 5$.
                </li>
                <li class="hw-space">
                    Explain why the second derivative fails to determine if there is a relative extrema at $x = 7$ and $x = 9$.
                </li>
            </ol>
        </li>
        <li class="hw-space">
            Draw a graph with $f'(0)$ undefined, $f$ is decreasing on $(-\infty, 0)$, $f$ is concave down on $(0, 3)$, and $f$ has an inflection point at $x = 3$.
        </li>
        <li class="hw-space">
            Suppose the following function $N(t)$ gives the <b>total</b> number of customers served at a McDonalds every hour where $t = 0$ is 8 AM.
            <img src="/static/swrlly/images/teaching/hw9im3.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
            <ol type="a">
                <li class="hw-space">
                    What is the rate of change of the total number of customers served? Why does this make sense in context?
                </li> 
                <li class="hw-space">
                    Determine the intervals of concavity.
                </li>
                <li class="hw-space">
                    For each interval above, interpret in English the meaning of concavity in context.
                </li>
            </ol>
        </li>
        <li class="hw-space">
            Determine where each of the following functions are concave upward and concave downward.
            <ol type="a">
                <li class="hw-space">
                    $f(x) = 2x^2 - 3x + 4$
                </li>
                <li class="hw-space">
                    $f(x) = \dfrac{1}{x - 2}$
                </li>
                <li class="hw-space">
                    $f(x) = \dfrac{x}{1 + x^2}$
                </li>
                <li class="hw-space">
                    $f(x) = x + \dfrac{1}{x^2}$
                </li>
                <li class="hw-space">
                    $f(x) = \dfrac{x}{1+x^2}$<br>
                    Hint: your second derivative will simplify to $\dfrac{2x(x^2 - 3)}{(x^2 + 1)^3}$
                </li>
            </ol>
        </li>
        <li class="hw-space">
            Find the inflection points of $g(x) = x^3 - 6x$.
        </li>
        <li class="hw-space">
            Use the second derivative test to find the relative extrema of the following functions:
            <ol type="a">
                <li class="hw-space">
                    $f(x) = x + \dfrac{9}{x}$
                </li>
                <li class="hw-space">
                    $f(x) = 2x^3 + 3x^2 - 12x - 4$
                </li>
            </ol>
        </li>
        <li class="hw-space">
            The altitude (in meters) of a rocket $t$ seconds into flight is given by the function \[f(t) = -t^3 + 54t^2 + 480t + 6 \qquad t \geq 0\] What is the <b>maximum upwards velocity</b> (not maximum altitude) attained by the rocket?
        </li>
        <li class="hw-space">
            Find the absolute maximum and minimum values (if any) of the following functions:
            <ol type="a">
                <li class="hw-space">
                    $f(x) = \dfrac{1}{x}$ on $(0, \infty)$
                </li>
                <li class="hw-space">
                    $f(x) = \dfrac{x + 1}{x-1}$ on $[2, 4]$
                </li>
                <li class="hw-space">$f(x) = x^2 - 2x - 3$ on $[-2,  3]$</li>
            </ol>
        </li>
        <li class="hw-space">
            Mustang village has 100 two-bedroom units. The monthly profit (in dollars) realized from renting out $x$ apartments is given by \[P(x) = -10x^2 + 1760x - 50000\]
            To maximize the monthly rental profit, how many units should be rented out? (Hint: This is an absolute extrema problem. We can use the Closed Interval Test).
        </li>
        <li class="hw-space">Find the absolute extrema of the following function: <img src="/static/swrlly/images/teaching/hw9im4.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>
    </ol>
</div>
{% endblock %}