{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - lectures</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="lectures for math 221"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/lectures"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 221 Interactive Lecture Notes</h1>
    This page contains lecture notes for Math 221, organized by section.
    <h2>Chapter 2</h2><hr>
    <div class="teachingicons">
        <!--<div class="iconcontainer">
            <a href="/teaching/math-221/lectures/2.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">$f(x)$</div>
            </a>
            <div class="bottomicontext">2.1</div>
        </div>-->
        <div class="iconcontainer">
            <a href="/teaching/math-221/lectures/2.2">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(f\circ g\)</div>
            </a>
            <div class="bottomicontext">2.2</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-221/lectures/2.4">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">\[\lim_{x\rightarrow a} f(x)\]</div>
            </a>
            <div class="bottomicontext">2.4</div>
        </div>
    </div>
</div>
{% endblock %}