{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - syllabus</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - syllabus"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="about this course"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/syllabus"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1 class="teachingheader">Syllabus</h1>
    <h2>Contact</h2><hr>
    <ul>
        <li id="change"></li>
        <li><b>Office Hours</b>: 
            <ul>
                <li>Location: 26M-110 (the small building between the Health Center and the Radio Station)</li>
                <li>Time: Thursday 11 AM - 1 PM, Friday 2 PM - 3 PM</li>
            </ul></li>
    </ul>
    <h2>Course Description</h2><hr>

    <p>This course is all about analyzing mathematical functions with calculus. We will begin by looking at limits and continuity of functions.</p>

    <p>A significant part of this course covers differential calculus and applications of the derivative to marginal analysis, optimization problems, and other applications.</p>

    <p>The final part of this course will cover integral calculus and its applications. </p>

    <h2>Course Methodology</h2><hr>
    <h4>Textbook</h4>
    <p>We will be using <i>Applied Calculus for the Managerial, Life and Social Sciences, 9<sup>th</sup> edition</i> by Soo T. Tan.</p>
    <h4>Prerequisites</h4>
    <p>The prerequisite for this course is Math 118. For our intents and purposes, this means you need to have mastered Chapter 1.
    <p>This prerequisite is <b>extremely critical</b> for your success in this class as the content in this class builds on all of Chapter 1. <b>If you have not mastered Chapter 1, you will struggle in this class.</b></p>
    <h4>Lectures</h4>
    <p>Lectures are held in class. Most lecture notes will be typed up, available on <a href="/teaching/math-221/lectures">at this page</a>.
    </p>
    <p>Some examples will have a <span style="color:var(--examplecolor);">Show Solution</span> button. I recommend when you are reading through the notes to try solving the problem on paper, then comparing your solution after.</p>
    <h4>Homework</h4>
    <p>Homework will be posted every second day we meet every week and due in one week at the beginning of class. The only accepted format is on paper in person. Grading is based on two criteria: completeless and a few problems will be chosen to be graded for correctness.</p>
    <h4>Quizzes</h4>
    <p>Quizzes will be in person every second day we meet every week, except for the first week. They will be held during the last 20 minutes of class and will cover the previous week's material and homework.</p>
    <h4>Exams</h4>
    <p>There will be two midterms and one final exam during finals week. All exams will be cumulative at the date the midterm is given.</p>
    <p>Exam dates:</p>
    <ul>
        <li><b>Midterm 1</b>: 
            <ul>
                <li>Section 06 and 16: Wednesday, February 1 </li>
                <li>Section 07 and 12: Thursday, February 2 </li>
            </ul>
        </li>
        <li><b>Midterm 2</b>:            
            <ul>
            <li>Section 06 and 16: Wednesday, March 1 </li>
            <li>Section 07 and 12: Thursday, March 2 </li>
            </ul>
        </li>
        <li><b>Final</b>: <a href="https://registrar.calpoly.edu/winter-final-exam-schedule">Final Exam Schedule</a></li>
    </ul>
    <h2>Grading</h2><hr>
    <h4>Grading Policy</h4>
    The aforementioned assignments have the following grading breakdown:
    <ul>
        <li>Homework: 10%</li>
        <li>Quizzes: 25%, lowest will be dropped</li>
        <li>Midterms: 20% each</li>
        <li>Final: 25%</li>
    </ul>

    <div class="smallcontainer">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">A</th>
                <th scope="col">A-</th>
                <th scope="col">B+</th>
                <th scope="col">B</th>
                <th scope="col">B-</th>
                <th scope="col">C+</th>
                <th scope="col">C</th>
                <th scope="col">C-</th>
                <th scope="col">D</th>
                <th scope="col">F</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>93-100</td>
                <td>90-93</td>
                <td>87-90</td>
                <td>83-87</td>
                <td>80-83</td>
                <td>77-80</td>
                <td>73-77</td>
                <td>70-73</td>
                <td>60-70</td>
                <td>0-60</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h4>Academic Integrity</h4>
    <p>Cheating of any form requires, at minimum, a F on the assignment. Let us define what is allowed for each assignment.
        <table class="table" style="max-width: 800px; margin: 1em auto;">
            <thead>
            <tr>
                <th scope="col">Resource</th>
                <th scope="col">Homeworks</th>
                <th scope="col">Quizzes + Midterms + Final</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Me (the professor)</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Course materials (lectures + notes)</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Textbook</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Collaboration with peers</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Online resources (internet + math engines like Photomath)</td>
                <td>No</td>
                <td>No</td>
            </tr>
            </tbody>
        </table>
        <h2>Other Important Information</h2><hr>
        <h4>Accessibility</h4>
        <p>Students registed with the DRC should contact me ASAP so we can set up the necessary arrangements!</p>
        <h2>Getting Help</h2><hr>
        <p>A four unit class requires four hours of lecture and at least four hours of work outside of lecture. How to spend this time wisely?</p>
        <h4>Workshop</h4>
        <p>Work on problems with your peers with an expert student. I highly recommend signing up for workshop; I have done workshop before and it was extremely helpful.
            <ul>
                <li><a href="/static/swrlly/files/math 221 w2023 supplemental workshop flyer.pdf">Details on the workshop</a></li>
                <li><a href="/static/swrlly/files/math 221 w2023 workshop time conflict.pdf">How to get a permission number and deal with time conflicts</a></li>
            </ul>
        </p>
        <h4>Free Drop-In Tutoring</h4>
        <p>The Math and Stats Help Hub has drop-in virtual and in-person tutoring from Monday through Thursday 4-7 PM.
        </br><a href="https://canvas.calpoly.edu/courses/48159">Details can be found here (you need to be logged in to Canvas).</a></p>
        </p>
        <h4>Office Hours</h4>
        <p><b>Using office hours is an important step in being successful in college.</b> You should attend office hours to clear up any questions you have about anything; doesn't need to be course related. If you need help, don't hesitate to reach out! 
        </p>
    </div>

</div>

<script>
document.getElementById("change").innerHTML = "<b>Instructor</b>: Charlie Liou, " + "c" + "b" + "l" + "i" + "o" + "u" + "@" + "c" + "a" + "l" + "p" + "o" + "l" + "y" + "." + "e" + "d" + "u"
</script>
{% endblock %}