{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - Homework 3 (T/TH)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - Homework 3"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 3"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/homework/tth/hw3"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Study Guide</h1>
    <p>Here is a list of topics/ideas you need to be familiar with for tests. The list may be incomplete; refer to lecture notes for everything.</p>

    <p>You can find example problems to work on in the textbook for this course. Highly recommended!</p>
    <h2>Chapter 1: Preliminaries</h2><hr>
    <ol>
        <li class="hw-space">Exponent laws</li>
        <li class="hw-space">How to add fractions (LCD)</li>
        <li class="hw-space">How to solve quadratics $ax^2 + bx + c = 0$</li>
        <li class="hw-space">When you are allowed to cancel common factors (all $+$ and $-$ encapsulated in parentheses)</li>
        <li class="hw-space">Coordinate plane</li>
        <li class="hw-space">Set and interval notation</li>
        <ol type="a">
            <li class="hw-space">union, intersection, number line techinque to find these</li>
        </ol>
        <li class="hw-space">Polynomial/rational functions</li>
        <li class="hw-space">How to isolate a variable</li>
        <li class="hw-space">the list goes on...</li>
    </ol>

    <h2>Chapter 2 : Functions, Limits, and the Derivative</h2><hr>
    <h3>2.1: Functions and Their Graphs</h3>
    <ol>
        <li class="hw-space">Definition of a function</li>
        <li class="hw-space">How to evaluate a function, i.e. $f(a + h)$</li>
        <li class="hw-space">How to find domain of a function (exclude two problems)</li>
        <li class="hw-space">Definition of the graph of a function</li>
        <li class="hw-space">How to graph functions by hand (make a table)</li>
        <ol type="i">
            <li class="hw-space">$ax + b$ has shape of a line</li>
            <li class="hw-space">$ax^2 + bx + c$ has shape of a parabola</li>
        </ol>
        <li class="hw-space">Piecewise functions and their graphs</li>
        <li class="hw-space">Vertical line test</li>
        <li class="hw-space">Word problems of the above</li>
    </ol>

    <h3>2.2: Algebra of Functions</h3>

    <ol>
        <li class="hw-space">How to $+, -, \times, \div$ functions and their domains</li>
        <li class="hw-space">Physical meaning of adding two functions together</li>
        <li class="hw-space">fixed/variable/total cost, total profit and revenue</li>
        <li class="hw-space">Definition of composition of functions</li>
        <li class="hw-space">How to decompose a composition into two functions</li>
        <li class="hw-space">Word problems (including in a business context) of the above</li>
    </ol>

    <h3>2.4: Limits</h3>
    <ol>
        <li class="hw-space">Definition of a limit</li>
        <li class="hw-space">When does a limit exist (cannot be not a number or left and right approach disagree)</li>
        <li class="hw-space">Table + graph method to find limit</li>
        <li class="hw-space">Find limit given a graph</li>
        <li class="hw-space">10 limit laws and how to apply them correctly</li>
        <li class="hw-space">How to deal with indeterminate forms</li>
        <li class="hw-space">How to find limits at infinity for any function, such as rational function</li>
        <li class="hw-space">Word problems (including in a business context) of the above</li>
    </ol>

    <h3>2.5: One-sided limits and continuity</h3>
    <ol>
        <li class="hw-space">Left- and right-handed limits and the fact that limit laws can be used on them</li>
        <li class="hw-space">How to use them to prove a limit exists</li>
        <li class="hw-space">Intuitive definition of continuity</li>
        <li class="hw-space">Mathematical defintiion of continuity (three conditions)</li>
        <li class="hw-space">Properties of continuous functions</li>
        <li class="hw-space">Any polynomial and rational function are continuous on their domains</li>
        <li class="hw-space">Intermediate value theorem and how it can be used to prove a zero (x-intercept) exists</li>
        <li class="hw-space">Left- and right-handed limits</li>
    </ol>

    <h3>2.6: The Derivative</h3>
    <ol>
        <li class="hw-space">Mathematical definition of a derivative</li>
        <li class="hw-space">Two meanings of the derivative</li>
        <li class="hw-space">Find derivative of a function with the definition of the derivative</li>
        <li class="hw-space">When a derivative fails to exist</li>
    </ol>

    <h2>Chapter 3: Differentiation</h2><hr>

    <h3>3.1: Basic Rules of Differentiation</h3>

    <ol>
        <li class="hw-space">Derivative of a constant</li>
        <li class="hw-space">Power Rule</li>
        <li class="hw-space">Pulling constant out</li>
        <li class="hw-space">Derivative distributues across addition and subtraction</li>
    </ol>

    <h3>3.2-3.3: Product, Quotient, and Chain Rule</h3>

    <ol>
        <li class="hw-space">When to use each one</li>
        <li class="hw-space">General Power Rule as a shortcut to the chain rule</li>
        <li class="hw-space">How to apply multiple rules in the same problems</li>
    </ol>

    <h3>3.4: Marginal Functions in Economics</h3>

    <ol>
        <li class="hw-space">Actual cost vs. marginal cost</li>
        <li class="hw-space">Average cost functions</li>
        <li class="hw-space">Marginal cost and marginal average cost function</li>
        <li class="hw-space">Demand curve and demand equation $p = f(x)$</li>
        <li class="hw-space">Marginal revenue and profit function</li>
        <li class="hw-space">Finding the revenue function given a demand equation</li>
        <li class="hw-space">English interpretations of each marginal</li>
        <li class="hw-space">Elasticity of demand: calculating + interpretation</li>
        <li class="hw-space">Relationship between elasticity and revenue</li>
    </ol>

    <h3>3.5: Higher-Order Derivatives</h3>

    <ol>
        <li class="hw-space">How to calculate higher-order derivatives</li>
        <li class="hw-space">position, velocity and acceleration</li>
        <li class="hw-space">Consumer Price Index: meaning of first and second derivative</li>
    </ol>

    <h3>3.6: Implicit Differentiation and Related Rates</h3>

    <ol>
        <li class="hw-space">How to implicity differentiate</li>
        <li class="hw-space">When to use product, quotient, and chain rule in implicit differentiation</li>
        <li class="hw-space">Using variable relabeling to help you visualize your simplification roadmap</li>
        <li class="hw-space">Related rates problems</li>
    </ol>

    <h2>Chapter 4: Applications of the Derivative</h2><hr>

    <h3>4.1: Applications of the First Derivative</h3>

    <ol>
        <li class="hw-space">What an increasing/decreasing function is</li>
        <li class="hw-space">Relationship between $f'(x)$ and whether $f(x)$ is increasing/decreasing</li>
        <li class="hw-space">Be able to find increasing/decreasing intervals</li>
        <li class="hw-space">Definition of relative extrema</li>
        <li class="hw-space">First Derivative Test for Relative Extrema</li>
    </ol>

    <h3>4.2: Applications of the Second Derivative</h3>

    <ol>
        <li class="hw-space">What concavity means</li>
        <li class="hw-space">Determining intervals of concavity</li>
        <li class="hw-space">Second Derivative Test for Relative Extrema</li>
        <li class="hw-space">Weakness of Second Derivative Test vs. First (for example, at sharp corners second derivative does not exist)</li>
        <li class="hw-space">Signs of $f'(x)$ and $f''(x)$ force a certain graph shape</li>
    </ol>

    <h3>4.4: Optimization I</h3>

    <ol>
        <li class="hw-space">What an absolute extrema is and how it is different than relative extrema</li>
        <li class="hw-space">Continuous function + closed interval forces absolute extrema to exist</li>
        <li class="hw-space">Closed interval test for finding absolute extrema</li>
        <li class="hw-space">Second derivative test + concavity for finding absolute extrema</li>
    </ol>

    <h4>4.5: Optimization II</h4>

    <ol>
        <li class="hw-space">Be able to translate English into equations and diagrams</li>
        <li class="hw-space">Solve 4.4 type world problems except the equation to find absolute min/max needs to be parsed from the sentence</li>
    </ol>

</div>
{% endblock %}