:root {
    --text-color: #C9D1D9;
    --background-col: rgb(0, 0, 0);
    --website-width:1200px;
}

.container {
    max-width: var(--website-width);
    margin: 0 auto;
}

.smallcontainer {
    max-width: 900px;
    margin: 0 auto;
}

::selection {
    background-color: #352e7e;
}

html {
    font-size: 100%;
    --lavender: #b39af0;
    --darklavender: #9c7dea;
    --examplecolor: #e8a2d4;
    --factcolor: #ece78d;
    --methodcolor: #ece78d;
    --bewarecolor: #e74c3c;
    --lightblue: #8eb5e3;

    --lec-event-color: #245fcd;
    --quiz-event-color: rgb(143, 59, 172);
    --lecl-event-color: #0d3276;
    --quizl-event-color: rgb(69, 10, 88);
    --fade-in-time: 0.2s;
    /*--lavender: rgb(170, 142, 235);*/
    /* --lavender: rgb(188, 167, 238); */
}

img {
    width: 100%;
}

body {
    background-color: var(--background-col) !important;
    color: var(--text-color) !important;
    font-family: 'Open Sans', sans-serif !important;   
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

a {
    color: var(--lavender);
    cursor: pointer;
}

b {
    color: var(--lavender)
}

h2 {
    padding-top: 1.25em;
    color: rgb(142, 181, 227);
}

h3 {
    padding-top: 0.75em;
    color: rgb(142, 181, 227);
}

h4 {
    padding-top: 0.5em;
}

.musich2 {
    padding-top: 0.75em;
    color: rgb(142, 181, 227);
}

th, td {
    color: var(--text-color);
}

ol {
    margin-bottom: 0;
}

.teachingheader {
    font-size: 3rem;
}

.no-underline {
    text-decoration: none;
}

a:hover {
    color: var(--darklavender);
}

.nav-link:hover, .github-hover:hover { color:var(--lavender) !important; cursor:pointer;}

.sc-hover:hover {color:rgb(254, 109, 53); cursor:pointer;}

.yt-hover:hover {color:rgb(205, 32, 31); cursor:pointer;}

.spotify-hover:hover {color:rgb(30, 215, 97); cursor:pointer;}

.spotify-color {color:rgb(30, 215, 97) !important;}

.yt-color {color:rgb(205, 32, 31) !important;}

.bc-color {color: #1DA0C3 !important;}

.sc-color {color:rgb(254, 109, 53) !important;}

.nav-link{
    color: var(--text-color) !important;
    text-align: center;
    font-size: 1.25rem;
    /* First we need to help some browsers along for this to work.
       Just because a vendor prefix is there, doesn't mean it will
       work in a browser made by that vendor either, it's just for
       future-proofing purposes I guess. */
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    /* ...and now for the proper property */
    transition:.4s;
}

.fa-brands {
    color: var(--text-color);
    text-align: center;
    font-size: 1.25rem;
    /* First we need to help some browsers along for this to work.
       Just because a vendor prefix is there, doesn't mean it will
       work in a browser made by that vendor either, it's just for
       future-proofing purposes I guess. */
    -o-transition:var(--fade-in-time);
    -ms-transition:var(--fade-in-time);
    -moz-transition:var(--fade-in-time);
    -webkit-transition:var(--fade-in-time);
    /* ...and now for the proper property */
    transition:var(--fade-in-time);    
}

.fade-in-text {
    animation: fadeIn linear var(--fade-in-time);
    -webkit-animation: fadeIn linear var(--fade-in-time);
    -moz-animation: fadeIn linear var(--fade-in-time);
    -o-animation: fadeIn linear var(--fade-in-time);
    -ms-animation: fadeIn linear var(--fade-in-time);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in-text-short {
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
}

.navbar-toggler {
    color: var(--text-color);
    border: 0px;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
    border-top: 2px solid var(--lavender);
    transition: all var(--fade-in-time) ease-in-out;
}

.navbar-icon {
    font-size: 1.5rem;
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dropdownicon {
    flex-direction: row !important;
    justify-content: center;
}


.page-header, .page-description {
    margin-left: -0.49em;
}

.parent {
    color: var(--text-color);
    min-height: 80vh;
    flex-direction: column;
    
}

.dayheader {
    font-size: 1.25rem; 
    /*background: rgb(160,198,255); 
    background: linear-gradient(90deg, rgba(160,198,255,1) 0%, rgba(177,143,219,1) 68%, rgba(240,195,245,1) 100%);
    background-clip: text; 
    color: transparent;*/
}

@keyframes glow {
    0% {
      text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
    }
    50% {
      text-shadow: 0 0 50px rgba(240,195,245,1), 0 0 10px rgba(240,195,245,1);
    }
    100% {
        text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
    }
}

@keyframes gradient-anim {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
    }
}

.title {
    font-size: 12vh;
}

.titleicons {
    font-size: 4.6vh;
    flex-direction: row;
    display: flex;
    gap: 3vh;
}

.titleicon {
    font-size: 4vh;
}

.text-padding {
    /*padding: 20px !important;*/
    padding-top: 100px;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:20px;
}

.albumicon {
    width: 100%;
    height: 100%;
    border-radius: 2%;
    transition: transform 0.2s;
}

.albumicon:hover {
    transform: scale(1.03);
}

.btn {
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
}

.dropdown-toggle:after {
    content: none;
}

#pagenotfound {
    font-size: 120px;
    text-align: center;
}

.album-large-image {
    margin: 0 auto;
    display: flex;
    max-width: 30%;
    min-width: 300px;
}

.music-landing-page-container {
    max-width: 50%;
    display: block;
    margin: 0 auto;
    min-width: 350px;
}

.no-link-style {
    text-decoration: none;
    color: var(--text-color);
}

.music-landing-page-icon-styling {
    font-size: 40px;
    padding-left: 12px;
    font-family: "Font Awesome 6 Brands";
    display: inline-block;
    width: 40px;
}

.music-landing-page-one-row {
    display:flex;
    background:rgb(20,20,20);
    border-radius:5px;
    margin: 10px 0px 10px 0px;
}

.music-landing-page-one-row-text {
    padding-top:20px;
    padding-left:40px;
}

/* teaching */
.prelim-list-space {
    padding-bottom: 1em;
}
.hw-space {
    padding-top:0.5em;
    padding-bottom: 0.5em;
}
.lec-list-space {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.teachingicons {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 5vw;
    row-gap: 4vh;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {

    .teachingicons {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 5vw;
        row-gap: 4vh;
        margin: 0 auto;
    }

}

.padding-top {
    padding-top: 2vh;
}

.iconcontainer {
    position: relative;
}

.center-text-over-image, .large-center-text-over-image, .small-center-text-over-image, .vsmall-center-text-over-image, .vvsmall-center-text-over-image, .vvvsmall-center-text-over-image {
    position: absolute;
    color: var(--text-color);
    pointer-events: none;
}

.bottomicontext {
    justify-content: center;
    text-align: center;
    margin-top: 1vh;
    display: flex;
}

.teachingicon {
    border-radius: 10px; 
    border-width: 2px;
    background: #0f0f0f;
    /*box-shadow: -2px -2px 5px #b393ff, 2px 2px 5px #3994ff;*/
    box-shadow: inset 11px 11px 22px #000, inset -11px -11px 22px #141414;
    border: 4px solid #0e0e0e;
    transition: all 0.15s ease;
}

.teachingicon:hover {
    transform: scale(1.08);
    box-shadow: inset 1px 1px 8px #b393ff, inset -1px -1px 8px #3994ff;
}

.math-def {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--lavender);
    padding-left: 10px;
    margin-bottom: 2em;
    margin-top: 2em;
}

.math-def:before {
    content: "Definition:";
    color: var(--lavender);
    font-weight: bold;
}

.math-beware {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--bewarecolor);
    padding-left: 10px;
    margin-bottom: 2em;
    margin-top: 2em;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.math-beware:before {
    content: "Careful:";
    font-weight: bold;
    animation-name: bewarecol;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bewarecol {
    0% {
        color: var(--bewarecolor);
    }
    25% {
        color: var(--bewarecolor);
    }
    50% {
        color: black;
    }
    75% {
        color: var(--bewarecolor);
    }
    100% {
        color: var(--bewarecolor);
    }
}

.math-example {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--examplecolor);
    padding-left: 10px;
    margin-bottom: 2em;
    margin-top: 2em;
}

.math-example:before {
    content: "Example:";
    color: var(--examplecolor);
    font-weight: bold;
}

.lecturep {
    /*margin-top: 2em;
    margin-bottom: 2em;*/
}

#desmos-example {
    margin-top: -62px;
    width: 100%;
    min-height: 600px;
    padding-top: 1em;
    padding-bottom: 1em;
}

#hide-desmos {
    overflow-y: hidden;
}

.math-fact {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--factcolor);
    padding-left: 10px;
    margin-bottom: 2em;
    margin-top: 2em;
}

.math-fact:before {
    content: "Fact:";
    color: var(--factcolor);
    font-weight: bold;
}

.math-theorem {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--factcolor);
    padding-left: 10px;
    margin-bottom: 2em;
    margin-top: 2em;
}

.math-theorem:before {
    content: "Theorem:";
    color: var(--factcolor);
    font-weight: bold;
}

.math-notxt {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--lavender);
    padding-left: 10px;
    margin-bottom: 2em;
    margin-top: 2em;   
}

.math-method {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--factcolor);
    padding-left: 10px;
    margin-bottom: 2em;
    margin-top: 2em;
}

.math-method:before {
    content: "Method:";
    color: var(--factcolor);
    font-weight: bold;
}

.math-btn {
    margin: 0 auto;
    display: flex;
    background: transparent;
    border-width: 1px;
    border-color: var(--examplecolor);
    color: var(--examplecolor);
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.math-solution {
    display: none;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
}

.img-shadow {
    display: flex;
    margin: 3rem auto; 
    padding: 1rem; 
    border-radius: 20px; 
    box-shadow: 2px 2px 10px #151515, -2px -2px 10px #171717;
}

/* calendar stuff */

.calendar {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr); /*11.7% 17.66% 17.66% 17.66% 17.66% 17.66%;*/
    grid-template-rows: 4rem;
    grid-auto-rows: 6rem;
  }
  
  .day-name {
    text-align: center;
    border-bottom: 1px solid rgba(166, 168, 179, 0.5);
    padding: 1rem;
  }
  
  .week-name {
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid rgba(166, 168, 179, 0.5);
    padding: 1rem;
    border-bottom: 0px !important;
    display:flex;
    align-items:center;
  }

/* no way..took me multiple hours to figure out you need to hardcode pushing boxes back into place if you want a floating box covering multiple columns in a grid */

  .calbox {
    border-bottom: 1px solid rgba(166, 168, 179, 0.5);
  }

  .calbox:nth-of-type(6n+6) {
    border-right: 1px solid rgba(166, 168, 179, 0.5);
  }

  .calbox:nth-of-type(n + 1):nth-of-type(-n + 6) {
    grid-row: 2;
  }

  .calbox:nth-of-type(n + 7):nth-of-type(-n + 12) {
    grid-row: 3;
  }

  .calbox:nth-of-type(n + 13):nth-of-type(-n + 18) {
    grid-row: 4;
  }

  .calbox:nth-of-type(n + 19):nth-of-type(-n + 24) {
    grid-row: 5;
  }

  .calbox:nth-of-type(n + 25):nth-of-type(-n + 30) {
    grid-row: 6;
  }

  .calbox:nth-of-type(n + 31):nth-of-type(-n + 36) {
    grid-row: 7;
  }

  .calbox:nth-of-type(n + 37):nth-of-type(-n + 42) {
    grid-row: 8;
  }

  .calbox:nth-of-type(n + 43):nth-of-type(-n + 48) {
    grid-row: 9;
  }

  .calbox:nth-of-type(n + 49):nth-of-type(-n + 54) {
    grid-row: 10;
  }

  .calbox:nth-of-type(n + 55):nth-of-type(-n + 60) {
    grid-row: 11;
  }

  .calbox:nth-of-type(n + 61):nth-of-type(-n + 66) {
    grid-row: 12;
  }

  .calbox:nth-of-type(n + 67):nth-of-type(-n + 72) {
    grid-row: 13;
  }

.calbox:nth-of-type(6n+1) {
    grid-column : 1;
}

.calbox:nth-of-type(6n+2) {
    grid-column : 2;
}

.calbox:nth-of-type(6n+3) {
    grid-column : 3;
}

.calbox:nth-of-type(6n+4) {
    grid-column : 4;
}

.calbox:nth-of-type(6n+5) {
    grid-column : 5;
}

.calbox:nth-of-type(6n+6) {
    grid-column : 6;
}

  .lec-event {
    padding: 0.25rem;
    font-size:0.875rem;
    line-height:1.25rem;
    border-left: 4px solid var(--lecl-event-color);
    background-color: var(--lec-event-color);
    margin: 0.25rem;
    border-radius: 0.25rem;
  }

  .quiz-event {
    padding: 0.25rem;
    font-size:0.875rem;
    line-height:1.25rem;
    border-left: 4px solid var(--quizl-event-color);
    background-color: var(--quiz-event-color);
    margin: 0.25rem;
    border-radius: 0.25rem;
  }

  .special-event {
    padding: 0.25rem;
    font-size:0.875rem;
    line-height:1.25rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    background: linear-gradient(90deg, rgb(110, 3, 112) 0%, rgba(0,31,110,1) 100%);
  }

  .veterans-event {
    padding: 0.25rem;
    font-size:0.875rem;
    line-height:1.25rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    background: linear-gradient(150deg, rgba(0,89,255,1) 0%, rgba(255,255,255,0.4467532467532468) 50%, rgba(255,0,0,1) 100%);
  }

  .halloween-event {
    padding: 0.25rem;
    font-size:0.875rem;
    line-height:1.25rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    background: linear-gradient(107deg, rgba(0,0,0,1) 0%, rgba(255,93,0,1) 100%);
  }

#toc_container {
background: none repeat scroll 0 0;
border: 1px solid #aaa;
border-radius:10%;
display: table;
font-size: 95%;
margin-bottom: 1em;
padding: 20px;
max-width: 200px;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}


@media only screen and (max-width: 800px) {
    .large-screen {display: none;}
}

@media only screen and (min-width: 800px) {
    .small-screen {display: none;}
}

/*#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}*/