:root {
    --text-color: #C9D1D9;
    --background-col: rgb(0, 0, 0);
    --website-width:1200px;
}

.container {
    max-width: var(--website-width);
    margin: 0 auto;
}

html {
    font-size: 100%;
    --lavender: rgb(179, 154, 240);
    --darklavender: rgb(156, 125, 234);
    /*--lavender: rgb(170, 142, 235);*/
    /* --lavender: rgb(188, 167, 238); */
}

body {
    background-color: var(--background-col) !important;
    color: var(--text-color) !important;
    font-family: 'Open Sans', sans-serif !important;   
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

a {
    text-decoration: none;
    color: var(--lavender);
    cursor: pointer;
}

a:hover {
    color: var(--darklavender);
}

.nav-link:hover, .github-hover:hover { color:var(--lavender); cursor:pointer;}

.sc-hover:hover {color:rgb(254, 109, 53); cursor:pointer;}

.yt-hover:hover {color:rgb(205, 32, 31); cursor:pointer;}

.spotify-hover:hover {color:rgb(30, 215, 97); cursor:pointer;}

.spotify-color {color:rgb(30, 215, 97) !important;}

.yt-color {color:rgb(205, 32, 31) !important;}

.sc-color {color:rgb(254, 109, 53) !important;}

.nav-link, .fa-brands {
    color: var(--text-color);
    text-align: center;
    font-size: 1.25rem;
    /* First we need to help some browsers along for this to work.
       Just because a vendor prefix is there, doesn't mean it will
       work in a browser made by that vendor either, it's just for
       future-proofing purposes I guess. */
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    /* ...and now for the proper property */
    transition:.4s;
}

.fade-in-text {
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in-text-short {
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
}

.navbar-toggler {
    color: var(--text-color);
    border: 0px;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
    border-top: 2px solid var(--lavender);
    transition: all .5s ease-in-out;
}

.navbar-icon {
    font-size: 1.5rem;
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dropdownicon {
    flex-direction: row !important;
    justify-content: center;
}


.page-header, .page-description {
    margin-left: -0.49em;
}

.parent {
    color: var(--text-color);
    min-height: 80vh;
    flex-direction: column;
    
}

@keyframes glow {
    from {
      text-shadow: 0 0 2px rgb(188, 167, 238), 0 0 5px rgb(188, 167, 238);
    }
    to {
      text-shadow: 0 0 5px rgb(188, 167, 238), 0 0 10px rgb(188, 167, 238);
    }
}

.title {
    font-size: 12vh;
}

.titleicons {
    font-size: 4.6vh;
    flex-direction: row;
    display: flex;
    gap: 3vh;
}

.titleicon {
    font-size: 4vh;
}

.text-padding {
    /*padding: 20px !important;*/
    padding-top: 100px;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:20px;
}

.albumicon {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.albumicon:hover {
    transition: transform 0.3s;
    transform: scale(1.03);
}

.btn {
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
}

.dropdown-toggle:after {
    content: none;
}

#pagenotfound {
    font-size: 120px;
    text-align: center;
}