{% extends "swrlly/index.html" %}

{% block title %}<title>swrlly - page not found</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="404"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="nothing here..."/>
<meta name="description" content="404. Looks like you are lost.">
<!--<meta property="og:url" content="https://swrlly.com/404"/>-->
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.ico" />
{% endblock %}

{% block content %}
<div class="container" style="max-width: 100%; height: 80vh; align-items: center; justify-content: center; display: flex; flex-direction: column;">
    <h1 class="title-404">404</h1>
    <div style="font-size: 1.5rem;">Looks like you are lost.</div>
    <div style="padding-top: 1rem;">But maybe you'd be interested in my comprehensive <a href="/projects/comprehensive-time-series-analysis">time series</a> analysis?</div>
</div>
{% endblock %}

{% block footer %}
    
{% endblock %}