{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 Compendium</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="precalculus"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/compendium"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

<!--{% block extraimports %}
<script async src="/static/swrlly/js/centertext.js"></script>
{% endblock %}-->


{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 118: Compendium</h1>

    <!--<p>A compendium is a <a href="https://www.merriam-webster.com/dictionary/compendium">"a brief summary of a larger work or of a field of knowledge."</a></p>-->

    <p>This document contains all of the <b>definitions</b>, <b style="color: var(--factcolor)">facts</b>, and <b style="color: var(--factcolor)">theorems</b> you need to <b>memorize</b> for weekly assessments.</p>

    <p>Quick metric for success: During the quiz, if I were to walk up to you and ask you any definition from this list, you will be able to recall it by heart.</p>

    <div id="toc_container">
        <p class="toc_title">Table of Contents</p>
        <ul class="toc_list">
            <li><a href="#118w1">Week 1</a></li>
            <li><a href="#118w2">Week 2</a></li>
            <li><a href="#118w3">Week 3</a></li>
            <li><a href="#118w4">Week 4</a></li>
            <li><a href="#118w5">Week 5</a></li>
        </ul>
    </div>
    
    <h2 id="118w1">Week 1</h2><hr>

    <h4>1.0: The Beginning</h4>

    <div class="math-def"> <b>Term, Factor</b> <br>
        <b>Terms</b> are entities separated by subtraction and addition.<br/>
        <b>Factors</b> are entities separated by multiplication.
    </div>

    <div class="math-def">
        <b>Global context, local context</b><br>
        <b>Global context</b> refers to the context of the entire expression.<br>
        <b>Local context</b> refers to a context smaller than the entire expression.
    </div>

    <h4>1.1: Real Numbers</h4>

    <div class="math-fact"> <b style="color:var(--factcolor)">Properties of Fractions</b></br>

        Suppose $a,b,c,d$ are real numbers.

        <ol>
            <li class="lec-list-space">$\dfrac{a}{b}\cdot \dfrac{c}{d} = \dfrac{ac}{bd}$</li>
            <li class="lec-list-space">$\dfrac{a}{b}\div \dfrac{c}{d} = \dfrac{a}{b}\cdot \dfrac{d}{c}$</li>
            <li class="lec-list-space">$\dfrac{a}{c} \pm \dfrac{b}{c} = \dfrac{a \pm b}{c}$</li>
            <li class="lec-list-space">$\dfrac{a}{b} + \dfrac{c}{d}\qquad $ Find the LCD, then use Fraction Law 3.</li>
            <li class="lec-list-space">$\dfrac{ac}{bc} = \dfrac{a}{b}$</li>
        </ol>
    </div>

    <div class="math-fact"> <b style="color:var(--factcolor)">Properties of Real Numbers</b></br>
        Let $a, b, c$ be real numbers.
        <ul>
            <li class="lec-list-space">Commutative Properties
                <ul>
                    <li>$a + b = b + a$</li>
                    <li>$ab = ba$</li>
                </ul>
            </li>
            <li class="lec-list-space">Associative Properties
                <ul>
                    <li>$(a + b) + c = a + (b + c)$</li>
                    <li>$(ab)c = a(bc)$</li>
                </ul>
            </li>
            <b>Tip:</b> in English, the commutative/associative properties only interact <b>within the same context level</b> (e.g. only in L3)!
            <li class="lec-list-space">Distributive Property
                <ul>
                    <li>$a(b + c) = ab + ac$</li>
                    <li>$(b+c)a = ab + ac$</li>
                </ul>
            </li>
            <b>Tip:</b> in English, the distributive law describes how <b>terms and factors interact</b>. <br>This is the only way they can interact; anything else is false.
        </ul>
    </div>

    <div class="math-fact"> <b style="color:var(--factcolor)">Properties of Negatives</b></br>

        Suppose $a,b$ are real numbers.

        <ol>
            <li class="lec-list-space">$(-1)a = -a$</li>
            <li class="lec-list-space">$-(-a) = a$</li>
            <li class="lec-list-space">$(-a)(-b) = ab$</li>
            <li class="lec-list-space">$-(a+b) = -a-b$</li>
        </ol>
    </div>

    <div class="math-def">
        If $a$ is a real number, then the <b>absolute value</b> of $a$ is \[\lvert a \rvert = \begin{cases} a & a \geq 0 \\ -a & a < 0 \end{cases}\]
    </div>

    <h4>1.2: Exponents and Radicals</h4>

    <div class="math-def">
        The <b>$n$th power</b> of $a$ is \[a^n = a\cdot a \cdot \cdots a\]
    </div>

    <div class="math-def"> <b>Zero</b> and <b>negative</b> exponents are defined as
        \[a^0 = 1 \qquad \qquad a^{-n} = \dfrac{1}{a^n}\]
    </div>

    <div class="math-fact"> <b style="color: var(--factcolor)">Laws of Exponents</b><br>
        
        <ol>
            <li class="lec-list-space">$a^ma^n = a^{m+n}$</li>
            <li class="lec-list-space">$\dfrac{a^m}{a^n} = a^{m-n}$</li>
            <li class="lec-list-space">$(a^m)^n = a^{mn}$</li>
            <li class="lec-list-space">$(ab)^n = a^nb^n$</li>
            <li class="lec-list-space">$\left(\dfrac{a}{b}\right)^n = \dfrac{a^n}{b^n}$</li>
            <li class="lec-list-space">$\left(\dfrac{a}{b}\right)^{-n} = \dfrac{b^n}{a^n}$</li>
            <li class="lec-list-space">$\dfrac{a^{-n}}{b^{-m}} = \dfrac{b^m}{a^n}$</li>
        </ol>

    </div>

    <div class="math-def"> The <b>principal <i>n</i>th root</b> of $a$ is defined as \[\sqrt[n]{a} = b \qquad \text{means} \qquad b^n = a\] If $n$ is even, we must have $a \geq 0, b \geq 0$.</div>

    <div class="math-def"> For any rational exponent $\dfrac{m}{n}$ in lowest terms, we define \[a^{\frac{m}{n}} = (\sqrt[n]{a})^m = \sqrt[n]{a^m}\]</div>

    <h2 id="118w2">Week 2</h2><hr>

    <h4>1.3: Expanding and Factoring</h4>

    <div class="math-def"> <b>Like terms</b><br>
        <b>Like terms</b> are terms with the same factors except for the numerical factor (called the <b>coefficient</b>).
    </div>

    <div class="math-fact">
        <ul>
            <li class="lec-list-space">$(A + B)(A - B) = A^2 - B^2$</li>
            <li class="lec-list-space">$(A + B)^2 = A^2 + 2AB + B^2$</li>
            <li class="lec-list-space">$(A - B)^2 = A^2 - 2AB + B^2$</li>
        </ul>
    </div>

    <p><b>Memorize and be able to use the four methods of factoring.</b></p>

    <div class="math-fact">
        <ul>
            <li class="lec-list-space">$A^2 - B^2 = (A-B)(A+B)$</li>
            <li class="lec-list-space">$A^2 + 2AB + B^2 = (A+B)^2$</li>
            <li class="lec-list-space">$A^2 - 2AB + B^2 = (A-B)^2$</li>
        </ul>
    </div>

    <div class="math-fact">
        <table class="table" style="max-width: 600px; margin: 1em auto;">
            <thead>
            <tr>
                <th scope="col">Number of Terms</th>
                <th scope="col">Factoring Methods to Try (in order)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="border-right: 1px solid;">2 terms</td>
                <td>GCF, $A^2 - B^2$</td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">3 terms</td>
                <td>GCF, $ax^2 + bx + c, A^2 + 2AB + B^2, A^2 - 2AB + B^2$</td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">4 terms</td>
                <td>GCF, grouping</td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">$\geq$ 5 terms</td>
                <td>GCF</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2 id="118w3">Week 3</h2><hr>

    <h4>1.4: Dealing with Rational Expressions</h4>

    <p>We wrote this down already, but it's worth really memorizing it so you know how to manipulate fractions.</p>

    <div class="math-fact"> <b style="color:var(--factcolor)">Properties of Fractions</b></br>

        <ol>

            <li class="lec-list-space">
                $\dfrac{a}{b}\cdot \dfrac{c}{d} = \dfrac{ac}{bd}$
                <br>
                <div style="padding-top: 0.75rem;"><b>Meaning</b> Multiplying fractions requires multiplying the entire global context of the numerators and the entire global context of the denominators.</div>
            </li>
            
            <li class="lec-list-space">
                $\dfrac{a}{b}\div \dfrac{c}{d} = \dfrac{a}{b}\cdot \dfrac{d}{c}$
                <br>
                <div style="padding-top: 0.75rem;"><b>Meaning</b> Dividing fractions requires taking the reciprocal of the right fraction, then multiplying.</div>
            </li>

            <li class="lec-list-space">
                $\dfrac{a}{c} + \dfrac{b}{c} = \dfrac{a + b}{c}$
                <br>
                <div style="padding-top: 0.75rem;"><b>Meaning</b> Adding fractions with the same denominator requires adding the entire global context of the numerators together.</div>
            </li>

            <li class="lec-list-space">$\dfrac{a}{b} + \dfrac{c}{d}\qquad $ Find the LCD, then use Fraction Law 3.</li>

            <li class="lec-list-space">
                $\dfrac{ac}{bc} = \dfrac{a}{b}$
                <div style="padding-top: 0.75rem;"><b>Meaning</b> Cancelling an entity requires the entity to be a global factor.</div>
                
            </li>

        </ol>
    </div>

    <h4>1.5: Equations</h4>

    <div class="math-def">
        An <b>equation</b> is a statement where two mathematical expressions are equal.
    </div>

    <div class="math-fact"> <b style="color: var(--factcolor)">Properties of Equality</b>
        <ul>
            <li>Given $A = B$, we also know $A + C = B + C$.</li>
            <li>Given $A = B$, we also know $A\cdot C = B\cdot C$ provided $C \neq 0$.</li>
        </ul>
    </div>

    <div class="math-def">
        <b>Solving an equation</b> means finding all values of the variables which makes the equation true.
    </div>

    <div class="math-def"> A <b>linear equation</b> is an equation of the form \[ax + b = 0\]
        with $a, b \in \mathbb{R}$ and $a \neq 0$.
    </div>

    <div class="math-def">
        The <b>zero-product property</b> says \[A\cdot B = 0 \qquad \text{if and only if}\qquad A = 0 \quad \text{or} \quad B = 0\]
    </div>

    <div class="math-fact">
        The solutions of the equation \[x^2 = c\] are $x = \sqrt{c}$ and $x = - \sqrt{c}$.
    </div>

    <div class="math-fact">
        The solutions of the quadratic equation $ax^2 + bx + c = 0$ where $a \neq 0$ are \[x = \dfrac{-b \pm \sqrt{b^2 - 4ac}}{2a}\]
    </div>

    <h2 id="118w4">Week 4</h2><hr>

    <h4>1.6: Complex Numbers</h4>
    
    <div class="math-def"> <b>complex number</b>

        <p>A complex number has the form \[a + bi\] where $a, b$ are real numbers and $i^2 = -1$. Also, $i = \sqrt{-1}$.</p>

        <p>$a$ is called the real part, while $b$ is called the imaginary part.</p>
    
    </div>

    <div class="math-fact"> 
        For the quadratic equation $ax^2 + bx + c = 0$, the quantity $b^2 - 4ac$ is called the <b>discriminant</b>.
        <ul>
            <li>If $b^2 - 4ac > 0$, there are two distinct (different) real solutions.</li>
            <li>If $b^2 - 4ac = 0$, there is one real solution.</li>
            <li>If $b^2 - 4ac < 0$, there are two distinct complex solutions.</li>
        </ul>
    </div>

    <h4>1.8: Inequalities</h4>
    
    <div class="math-fact">  <b style="color: var(--factcolor)">Properties of Inequalities</b>
        <ul>
            <li>If $A \leq B$, then $A \pm C \leq B \pm C$.
                <br> <b>English</b> Adding the same number on both sides does not flip the inequality.
            </li>
            <li>If $C > 0$, then given $A \leq B$, we know $A\cdot C \leq B\cdot C$. 
                <br> <b>English</b> Multiplying a positive number on both sides does not flip the inequality.
            </li>
            <li>If $C < 0$, then:
                <ul>
                    <li>Given $A \leq B$, we know $A\cdot C \geq B \cdot C$
                    </li>
                    <li>Given $A < B$, we know $A\cdot C > B \cdot C$
                        <br> <b>English</b> Multiplying a negative number on both sides flips the inequality.
                    </li>
                </ul>
                
            </li>
        </ul>
    </div>

    <h4>1.9: Coordinate Plane, Graphs of Equations</h4>

    <p>The coordinate plane describes where a point is in two dimensional space.</p>

    <img class="img-shadow" src="/static/swrlly/images/teaching/118-1.9-1.svg" style="max-width:550px;"/>

    <div class="math-def"> A <b>graph</b> of an equation in $x$ and $y$ is all points $(x, y)$ which make the equation true.</div>

    <div class="math-def">
        The <b>$x$-intercept</b> of a graph is the $x$-coordinate where the graph intersects the $x$-axis.<br>
        The <b>$y$-intercept</b> of a graph is the $y$-coordinate where the graph intersects the $y$-axis.
    </div>

    <h4>1.10: Lines</h4>

    <div class="math-def">

        <div class="large-screen">
            <div style="display: flex; align-items:center; column-gap: 5vw;">
                <div style="flex: 2";>
                    <img class="img-shadow" src="/static/swrlly/images/teaching/118-1.10-1.svg" style="max-width:500px;"/>
                </div>
                <div style="flex: 1";>
                    The <b>slope</b> of a line that runs through two points $P(x_1, y_1)$ and $Q(x_2, y_2)$ is \[m = \text{slope} = \dfrac{\text{rise}}{\text{run}} = \dfrac{y_2 - y_1}{x_2 - x_1}\]
                </div>
            </div>
        </div>

        <div class="small-screen">
            
            The <b>slope</b> of a line that runs through two points $P(x_1, y_1)$ and $Q(x_2, y_2)$ is \[m = \text{slope} = \dfrac{\text{rise}}{\text{run}} = \dfrac{y_2 - y_1}{x_2 - x_1}\]

                    <img class="img-shadow" src="/static/swrlly/images/teaching/118-1.10-1.svg" style="min-width:300px;"/>
        </div>
    </div>

    
    <div class="math-def">
        The <b>point-slope</b> form of a line is an equation of a line that passes through $(x_1, y_1)$ and has slope $m$: \[y - y_1 = m(x - x_1)\]</b>
    </div>

    <div class="math-fact"> 
        <ul>
            <li>The vertical line through $(a, b)$ is $x = a$.</li>
            <li>The horizontal line through $(a, b)$ is $y = b$.</li>
        </ul> 
    </div>

    <h4>2.1: Functions</h4>

    <div class="math-def"> A <b>function</b> $f$ is a rule that assigns to each element $x$ in a set $A$ to exactly one element, called $f(x)$ in a set $B$.</div>

    <img src="/static/swrlly/images/teaching/118-2.1-1.svg" style="max-width:400px; margin:3rem auto; padding:3rem; display:flex; border-radius: 20px; box-shadow: 2px 2px 40px #151515, -2px -2px 40px #171717;"/>

    <div class="math-def"> <b>domain</b><br>
        The domain of a function is the set of all possible inputs, when evaluated, gives you a real number.
    </div>

    <h2 id="118w5">Week 5</h2><hr>

    <h4>2.2: Graphs of Functions</h4>

    <div class="math-def">
        The <b>graph</b> of a function with domain $A$ is the set of all possible coordinates $(x, f(x))$ which make the equation true.
    </div>

    <div class="math-fact-notxt"> <b style="color: var(--factcolor)">Vertical Line Test</b><br>
        A curve in the plane is the <b>graph</b> of a function if no vertical intersects the curve more than once.
    </div>

    <h4>2.3: Using the Graph</h4>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Domain from a Graph</b>
        <p>Imagine the points drop straight down by gravity:</p>
            
        <img class="img-shadow" src="/static/swrlly/images/teaching/118-2.3-1.svg" style="max-width:500px; max-height:400px;"/>

    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Solving $f(x) = g(x)$ and $f(x) < g(x)$</b><br>
        The solutions to the equation $f(x) = g(x)$ are the $x$-values where the graphs intersect. <br>

        The solutions to the inequality $f(x) < g(x)$ are the $x$-values where the graph of $f(x)$ is under $g(x)$.
    </div>

    <div class="math-def"> <b>increasing, decreasing function</b> <br>
        $f$ is increasing on an interval $I$ if $f(x_1) < f(x_2)$ whenever $x_1 < x_2$ in $I$. <br>

        $f$ is decreasing on an interval $I$ if $f(x_1) > f(x_2)$ whenever $x_1 < x_2$ in $I$.
    </div>

    <div class="math-def"> <b>local maximum, local minimum</b> <br>
        The number $f(a)$ is a local maximum value of $f$ if $f(a) \geq f(x)$ when $x$ is near $a$. <br>
        The number $f(a)$ is a local minimum value of $f$ if $f(a) \leq f(x)$ when $x$ is near $a$. <br>
    </div>

    <h4>2.4: Average Rate of Change of a Function</h4>

    <div class="math-def"> <b>average rate of change</b><br>
        The average rate of change (ARoC) of $y = f(x)$ on the interval $(a, b)$ is \[\text{ARoC} = \dfrac{\text{change in } y}{\text{change in } x} = \dfrac{f(b) - f(a)}{b - a}\]
        The ARoC is the slope of the line through $(a, f(a))$ and $(b, f(b))$.
    </div>

    <h4>2.6: Transformations of Functions</h4>

    <p>Parent functions are functions that have different shapes, based on their formula. Memorize the following.</p>

    <div class="large-screen">
        <div style="display:grid; column-gap:4vw; grid-template-columns: repeat(4, 1fr);">
            <span style="margin: 0.5rem auto;">$\large f(x) = x$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = x^2$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = \sqrt{x}$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = \lvert x \rvert$</span>
            <img style="margin: 1rem auto;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-1.svg"/>
            <img style="margin: 1rem auto;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-2.svg"/>
            <img style="margin: 1rem auto;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-3.svg"/>
            <img style="margin: 1rem auto;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-4.svg"/>
        </div>
    </div>

    <div class="small-screen">
        <div style="display:grid; column-gap:4vw; grid-template-columns: repeat(2, 1fr);">
            <span style="margin: 0.5rem auto;">$\large f(x) = x$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = x^2$</span>
            <img style="margin: 1rem auto; max-width:250px;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-1.svg"/>
            <img style="margin: 1rem auto;  max-width:250px;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-2.svg"/>
            <span style="margin: 0.5rem auto;">$\large f(x) = \sqrt{x}$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = \lvert x \rvert$</span>
            <img style="margin: 1rem auto; max-width:250px;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-3.svg"/>
            <img style="margin: 1rem auto; max-width:250px;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-4.svg"/>
        </div>
    </div>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Vertical Shifts of Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">To graph $y = f(x) + c$, shift $f(x)$ upwards $c$ units. </span>
                <span class="precalc-trans-text">To graph $y = f(x) - c$, shift $f(x)$ downwards $c$ units. </span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-5.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-6.svg"/>
            </div>
    
        </div>
    </div>

    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Vertical Shifts of Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">To graph $y = f(x) + c$, shift $f(x)$ upwards $c$ units. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-5.svg"/>
                <span class="precalc-trans-text">To graph $y = f(x) - c$, shift $f(x)$ downwards $c$ units. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-6.svg"/>
            </div>
    
        </div>
    </div>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Horizontal Shifts of Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">To graph $y = f(x - c)$, shift $f(x)$ right $c$ units. </span>
                <span class="precalc-trans-text"> To graph $y = f(x + c)$, shift $f(x)$ left $c$ units.  </span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-7.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-8.svg"/>
            </div>
    
        </div>
    </div>
        
    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Horizontal Shifts of Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">To graph $y = f(x - c)$, shift $f(x)$ right $c$ units. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-7.svg"/>
                <span class="precalc-trans-text"> To graph $y = f(x + c)$, shift $f(x)$ left $c$ units.  </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-8.svg"/>
            </div>
    
        </div>
    </div>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Reflecting Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">To graph $y = -f(x)$, reflect $f(x)$ around the $x$-axis.</span>
                <span class="precalc-trans-text">To graph $y = f(-x)$, reflect $f(x)$ around the $y$-axis.</span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-9.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-10.svg"/>
            </div>
    
        </div>
    </div>
        
    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Reflecting Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">To graph $y = -f(x)$, reflect $f(x)$ around the $x$-axis. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-9.svg"/>
                <span class="precalc-trans-text">To graph $y = f(-x)$, reflect $f(x)$ around the $y$-axis. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-10.svg"/>
            </div>
    
        </div>
    </div>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Vertical Stretching and Shrinking</b><br>
            To graph $y = c\cdot f(x)$:
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">If $c > 1$, stretch $f(x)$ vertically by a factor of $c$.</span>
                <span class="precalc-trans-text">If $0 < c < 1$, shrink $f(x)$ vertically by a factor of $c$.</span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-11.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-12.svg"/>
            </div>
    
        </div>
    </div>
        
    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Vertical Stretching and Shrinking</b><br>
            To graph $y = c\cdot f(x)$:
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">If $c > 1$, stretch $f(x)$ vertically by a factor of $c$.</span>
                <img class="img-shadow precalc-trans-picture-sm" style="max-width:400px;" src="/static/swrlly/images/teaching/118-2.6-11.svg"/>
                <span class="precalc-trans-text">If $0 < c < 1$, shrink $f(x)$ vertically by a factor of $c$.</span>
                <img class="img-shadow precalc-trans-picture-sm" style="max-width:400px;" src="/static/swrlly/images/teaching/118-2.6-12.svg"/>
            </div>
    
        </div>
    </div>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Horizontal Stretching and Shrinking</b><br>
            To graph $y = f(c\cdot x)$:
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">If $c > 1$, shrink $f(x)$ horizontally by a factor of $\frac{1}{c}$.</span>
                <span class="precalc-trans-text">If $0 < c < 1$, stretch $f(x)$ horizontally by a factor of $\frac{1}{c}$.</span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-14.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-13.svg"/>
            </div>
    
        </div>
    </div>
        
    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Horizontal Stretching and Shrinking</b><br>
            To graph $y = f(c\cdot x)$:
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">If $c > 1$, shrink $f(x)$ horizontally by a factor of $\frac{1}{c}$.</span>
                <img class="img-shadow precalc-trans-picture-sm" style="max-width:400px;" src="/static/swrlly/images/teaching/118-2.6-14.svg"/>
                <span class="precalc-trans-text">If $0 < c < 1$, stretch $f(x)$ horizontally by a factor of $\frac{1}{c}$.</span>
                <img class="img-shadow precalc-trans-picture-sm" style="max-width:400px;" src="/static/swrlly/images/teaching/118-2.6-13.svg"/>
            </div>
    
        </div>
    </div>


</div>
{% endblock %}