{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 Compendium</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="precalculus"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/compendium"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

<!--{% block extraimports %}
<script async src="/static/swrlly/js/centertext.js"></script>
{% endblock %}-->


{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 118: Compendium</h1>

    <!--<p>A compendium is a <a href="https://www.merriam-webster.com/dictionary/compendium">"a brief summary of a larger work or of a field of knowledge."</a></p>-->

    <p>This document contains all of the <b>definitions</b>, <b style="color: var(--factcolor)">facts</b>, and <b style="color: var(--factcolor)">theorems</b> you need to <b>memorize</b> for weekly assessments.</p>

    <p>Quick metric for success: During the quiz, if I were to walk up to you and ask you any definition from this list, you will be able to recall it by heart.</p>

    <div id="toc_container">
        <p class="toc_title">Table of Contents</p>
        <ul class="toc_list">
            <li style="margin-top:0.25rem;" >
                <a href="#118w1">Week 1</a>
                <ol class="toc_ol">
                    <li><a href="#1181.0">1.0: The Beginning</a></li>
                    <li><a href="#1181.1">1.1: Real Numbers</a></li>
                    <li><a href="#1181.2">1.2: Exponents and Radicals</a></li>
                </ol>
            </li>
            <li style="margin-top:0.25rem;" >
                <a href="#118w2">Week 2</a>
                <ol class="toc_ol">
                    <li><a href="#1181.3">1.3: Expanding and Factoring</a></li>
                </ol>
            </li>
            <li style="margin-top:0.25rem;" >
                <a href="#118w3">Week 3</a>
                <ol class="toc_ol">
                    <li><a href="#1181.4">1.4: Dealing with Rational Expressions</a></li>
                    <li><a href="#1181.5">1.5: Equations</a></li>
                </ol>
            </li>
            <li style="margin-top:0.25rem;" >
                <a href="#118w4">Week 4</a>
                <ol class="toc_ol">
                    <li><a href="#1181.6">1.6: Complex Numbers</a></li>
                    <li><a href="#1181.8">1.8: Inequalities</a></li>
                    <li><a href="#1181.9">1.9: Coordinate Plane, Graphs of Equations</a></li>
                    <li><a href="#1181.10">1.10: Lines</a></li>
                    <li><a href="#1182.1">2.1: Functions</a></li>
                </ol>
            </li>
            <li style="margin-top:0.25rem;" >
                <a href="#118w5">Week 5</a>
                <ol class="toc_ol">
                    <li><a href="#1182.2">2.2: Graphs of Functions</a></li>
                    <li><a href="#1182.3">2.3: Using the Graph</a></li>
                    <li><a href="#1182.4">2.4: Average Rate of Change of a Function</a></li>
                    <li><a href="#1182.6">2.6: Transformations</a></li>
                </ol>
            </li>
            <li style="margin-top:0.25rem;" >
                <a href="#118w6">Week 6</a>
                <ol class="toc_ol">
                    <li><a href="#1182.7">2.7: New Functions From Old</a></li>
                    <li><a href="#1182.8">2.8: One-to-one Functions and Inverses</a></li>
                    <li><a href="#1183.1">3.1: Quadratic Functions</a></li>
                </ol>
            </li>
            <li style="margin-top:0.25rem;" >
                <a href="#118w7">Week 7</a>
                <ol class="toc_ol">
                    <li><a href="#1183.2">3.2: Polynomial Functions and Their Graphs</a></li>
                </ol>
            </li>
            <li style="margin-top:0.25rem;" >
                <a href="#118w8">Week 8</a>
                <ol class="toc_ol">
                    <li><a href="#1183.3">3.3: Real Zeros of Polynomials</a></li>
                    <li><a href="#1183.5">3.5: Complex Zeros</a></li>
                </ol>
            </li>
            <li style="margin-top:0.25rem;" >
                <a href="#118w9">Week 9</a>
                <ol class="toc_ol">
                    <li><a href="#1183.6">3.6: Rational Functions</a></li>
                    <li><a href="#1184.1">4.1: Exponential Functions</a></li>
                    <li><a href="#1184.2">4.2: The Natural Exponential Functions</a></li>
                    <li><a href="#1184.3">4.3: Logarithmic Functions</a></li>
                </ol>
            </li>
        </ul>
    </div>
    
    <h2 id="118w1">Week 1</h2><hr>

    <h4 id="1181.0">1.0: The Beginning</h4>

    <div class="math-def"> <b>Term, Factor</b> <br>
        <b>Terms</b> are entities separated by subtraction and addition.<br/>
        <b>Factors</b> are entities separated by multiplication.
    </div>

    <div class="math-def">
        <b>Global context, local context</b><br>
        <b>Global context</b> refers to the context of the entire expression.<br>
        <b>Local context</b> refers to a context smaller than the entire expression.
    </div>

    <h4 id="1181.1">1.1: Real Numbers</h4>

    <div class="math-fact"> <b style="color:var(--factcolor)">Properties of Fractions</b></br>

        Suppose $a,b,c,d$ are real numbers.

        <ol>
            <li class="lec-list-space">$\dfrac{a}{b}\cdot \dfrac{c}{d} = \dfrac{ac}{bd}$</li>
            <li class="lec-list-space">$\dfrac{a}{b}\div \dfrac{c}{d} = \dfrac{a}{b}\cdot \dfrac{d}{c}$</li>
            <li class="lec-list-space">$\dfrac{a}{c} \pm \dfrac{b}{c} = \dfrac{a \pm b}{c}$</li>
            <li class="lec-list-space">$\dfrac{a}{b} + \dfrac{c}{d}\qquad $ Find the LCD, then use Fraction Law 3.</li>
            <li class="lec-list-space">$\dfrac{ac}{bc} = \dfrac{a}{b}$</li>
        </ol>
    </div>

    <div class="math-fact"> <b style="color:var(--factcolor)">Properties of Real Numbers</b></br>
        Let $a, b, c$ be real numbers.
        <ul>
            <li class="lec-list-space">Commutative Properties
                <ul>
                    <li>$a + b = b + a$</li>
                    <li>$ab = ba$</li>
                </ul>
            </li>
            <li class="lec-list-space">Associative Properties
                <ul>
                    <li>$(a + b) + c = a + (b + c)$</li>
                    <li>$(ab)c = a(bc)$</li>
                </ul>
            </li>
            <b>Tip:</b> in English, the commutative/associative properties only interact <b>within the same context level</b> (e.g. only in L3)!
            <li class="lec-list-space">Distributive Property
                <ul>
                    <li>$a(b + c) = ab + ac$</li>
                    <li>$(b+c)a = ab + ac$</li>
                </ul>
            </li>
            <b>Tip:</b> in English, the distributive law describes how <b>terms and factors interact</b>. <br>This is the only way they can interact; anything else is false.
        </ul>
    </div>

    <div class="math-fact"> <b style="color:var(--factcolor)">Properties of Negatives</b></br>

        Suppose $a,b$ are real numbers.

        <ol>
            <li class="lec-list-space">$(-1)a = -a$</li>
            <li class="lec-list-space">$-(-a) = a$</li>
            <li class="lec-list-space">$(-a)(-b) = ab$</li>
            <li class="lec-list-space">$-(a+b) = -a-b$</li>
        </ol>
    </div>

    <div class="math-def">
        If $a$ is a real number, then the <b>absolute value</b> of $a$ is \[\lvert a \rvert = \begin{cases} a & a \geq 0 \\ -a & a < 0 \end{cases}\]
    </div>

    <h4 id="1181.2">1.2: Exponents and Radicals</h4>

    <div class="math-def">
        The <b>$n$th power</b> of $a$ is \[a^n = a\cdot a \cdot \cdots a\]
    </div>

    <div class="math-def"> <b>Zero</b> and <b>negative</b> exponents are defined as
        \[a^0 = 1 \qquad \qquad a^{-n} = \dfrac{1}{a^n}\]
    </div>

    <div class="math-fact"> <b style="color: var(--factcolor)">Laws of Exponents</b><br>
        
        <ol>
            <li class="lec-list-space">$a^ma^n = a^{m+n}$</li>
            <li class="lec-list-space">$\dfrac{a^m}{a^n} = a^{m-n}$</li>
            <li class="lec-list-space">$(a^m)^n = a^{mn}$</li>
            <li class="lec-list-space">$(ab)^n = a^nb^n$</li>
            <li class="lec-list-space">$\left(\dfrac{a}{b}\right)^n = \dfrac{a^n}{b^n}$</li>
            <li class="lec-list-space">$\left(\dfrac{a}{b}\right)^{-n} = \dfrac{b^n}{a^n}$</li>
            <li class="lec-list-space">$\dfrac{a^{-n}}{b^{-m}} = \dfrac{b^m}{a^n}$</li>
        </ol>

    </div>

    <div class="math-def"> The <b>principal <i>n</i>th root</b> of $a$ is defined as \[\sqrt[n]{a} = b \qquad \text{means} \qquad b^n = a\] If $n$ is even, we must have $a \geq 0, b \geq 0$.</div>

    <div class="math-def"> For any rational exponent $\dfrac{m}{n}$ in lowest terms, we define \[a^{\frac{m}{n}} = (\sqrt[n]{a})^m = \sqrt[n]{a^m}\]</div>

    <h2 id="118w2">Week 2</h2><hr>

    <h4 id="1181.3">1.3: Expanding and Factoring</h4>

    <div class="math-def"> <b>Like terms</b><br>
        <b>Like terms</b> are terms with the same factors except for the numerical factor (called the <b>coefficient</b>).
    </div>

    <div class="math-fact">
        <ul>
            <li class="lec-list-space">$(A + B)(A - B) = A^2 - B^2$</li>
            <li class="lec-list-space">$(A + B)^2 = A^2 + 2AB + B^2$</li>
            <li class="lec-list-space">$(A - B)^2 = A^2 - 2AB + B^2$</li>
        </ul>
    </div>

    <p><b>Memorize and be able to use the four methods of factoring.</b></p>

    <div class="math-fact">
        <ul>
            <li class="lec-list-space">$A^2 - B^2 = (A-B)(A+B)$</li>
            <li class="lec-list-space">$A^2 + 2AB + B^2 = (A+B)^2$</li>
            <li class="lec-list-space">$A^2 - 2AB + B^2 = (A-B)^2$</li>
        </ul>
    </div>

    <div class="math-fact">
        <table class="table" style="max-width: 600px; margin: 1em auto;">
            <thead>
            <tr>
                <th scope="col">Number of Terms</th>
                <th scope="col">Factoring Methods to Try (in order)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="border-right: 1px solid;">2 terms</td>
                <td>GCF, $A^2 - B^2$</td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">3 terms</td>
                <td>GCF, $ax^2 + bx + c, A^2 + 2AB + B^2, A^2 - 2AB + B^2$</td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">4 terms</td>
                <td>GCF, grouping</td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">$\geq$ 5 terms</td>
                <td>GCF</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2 id="118w3">Week 3</h2><hr>

    <h4 id="1181.4">1.4: Dealing with Rational Expressions</h4>

    <p>We wrote this down already, but it's worth really memorizing it so you know how to manipulate fractions.</p>

    <div class="math-fact"> <b style="color:var(--factcolor)">Properties of Fractions</b></br>

        <ol>

            <li class="lec-list-space">
                $\dfrac{a}{b}\cdot \dfrac{c}{d} = \dfrac{ac}{bd}$
                <br>
                <div style="padding-top: 0.75rem;"><b>Meaning</b> Multiplying fractions requires multiplying the entire global context of the numerators and the entire global context of the denominators.</div>
            </li>
            
            <li class="lec-list-space">
                $\dfrac{a}{b}\div \dfrac{c}{d} = \dfrac{a}{b}\cdot \dfrac{d}{c}$
                <br>
                <div style="padding-top: 0.75rem;"><b>Meaning</b> Dividing fractions requires taking the reciprocal of the right fraction, then multiplying.</div>
            </li>

            <li class="lec-list-space">
                $\dfrac{a}{c} + \dfrac{b}{c} = \dfrac{a + b}{c}$
                <br>
                <div style="padding-top: 0.75rem;"><b>Meaning</b> Adding fractions with the same denominator requires adding the entire global context of the numerators together.</div>
            </li>

            <li class="lec-list-space">$\dfrac{a}{b} + \dfrac{c}{d}\qquad $ Find the LCD, then use Fraction Law 3.</li>

            <li class="lec-list-space">
                $\dfrac{ac}{bc} = \dfrac{a}{b}$
                <div style="padding-top: 0.75rem;"><b>Meaning</b> Cancelling an entity requires the entity to be a global factor.</div>
                
            </li>

        </ol>
    </div>

    <h4 id="1181.5">1.5: Equations</h4>

    <div class="math-def">
        An <b>equation</b> is a statement where two mathematical expressions are equal.
    </div>

    <div class="math-fact"> <b style="color: var(--factcolor)">Properties of Equality</b>
        <ul>
            <li>Given $A = B$, we also know $A + C = B + C$.</li>
            <li>Given $A = B$, we also know $A\cdot C = B\cdot C$ provided $C \neq 0$.</li>
        </ul>
    </div>

    <div class="math-def">
        <b>Solving an equation</b> means finding all values of the variables which makes the equation true.
    </div>

    <div class="math-def"> A <b>linear equation</b> is an equation of the form \[ax + b = 0\]
        with $a, b \in \mathbb{R}$ and $a \neq 0$.
    </div>

    <div class="math-def">
        The <b>zero-product property</b> says \[A\cdot B = 0 \qquad \text{if and only if}\qquad A = 0 \quad \text{or} \quad B = 0\]
    </div>

    <div class="math-fact">
        The solutions of the equation \[x^2 = c\] are $x = \sqrt{c}$ and $x = - \sqrt{c}$.
    </div>

    <div class="math-fact">
        The solutions of the quadratic equation $ax^2 + bx + c = 0$ where $a \neq 0$ are \[x = \dfrac{-b \pm \sqrt{b^2 - 4ac}}{2a}\]
    </div>

    <h2 id="118w4">Week 4</h2><hr>

    <h4 id="1181.6">1.6: Complex Numbers</h4>
    
    <div class="math-def"> <b>complex number</b>

        <p>A complex number has the form \[a + bi\] where $a, b$ are real numbers and $i^2 = -1$. Also, $i = \sqrt{-1}$.</p>

        <p>$a$ is called the real part, while $b$ is called the imaginary part.</p>
    
    </div>

    <div class="math-fact"> 
        For the quadratic equation $ax^2 + bx + c = 0$, the quantity $b^2 - 4ac$ is called the <b>discriminant</b>.
        <ul>
            <li>If $b^2 - 4ac > 0$, there are two distinct (different) real solutions.</li>
            <li>If $b^2 - 4ac = 0$, there is one real solution.</li>
            <li>If $b^2 - 4ac < 0$, there are two distinct complex solutions.</li>
        </ul>
    </div>

    <h4 id="1181.8">1.8: Inequalities</h4>
    
    <div class="math-fact">  <b style="color: var(--factcolor)">Properties of Inequalities</b>
        <ul>
            <li>If $A \leq B$, then $A \pm C \leq B \pm C$.
                <br> <b>English</b> Adding the same number on both sides does not flip the inequality.
            </li>
            <li>If $C > 0$, then given $A \leq B$, we know $A\cdot C \leq B\cdot C$. 
                <br> <b>English</b> Multiplying a positive number on both sides does not flip the inequality.
            </li>
            <li>If $C < 0$, then:
                <ul>
                    <li>Given $A \leq B$, we know $A\cdot C \geq B \cdot C$
                    </li>
                    <li>Given $A < B$, we know $A\cdot C > B \cdot C$
                        <br> <b>English</b> Multiplying a negative number on both sides flips the inequality.
                    </li>
                </ul>
                
            </li>
        </ul>
    </div>

    <h4 id="1181.9">1.9: Coordinate Plane, Graphs of Equations</h4>

    <p>The coordinate plane describes where a point is in two dimensional space.</p>

    <img class="img-shadow" src="/static/swrlly/images/teaching/118-1.9-1.svg" style="max-width:550px;"/>

    <div class="math-def"> A <b>graph</b> of an equation in $x$ and $y$ is all points $(x, y)$ which make the equation true.</div>

    <div class="math-def">
        The <b>$x$-intercept</b> of a graph is the $x$-coordinate where the graph intersects the $x$-axis.<br>
        The <b>$y$-intercept</b> of a graph is the $y$-coordinate where the graph intersects the $y$-axis.
    </div>

    <h4 id="1181.10">1.10: Lines</h4>

    <div class="math-def">

        <div class="large-screen">
            <div style="display: flex; align-items:center; column-gap: 5vw;">
                <div style="flex: 2";>
                    <img class="img-shadow" src="/static/swrlly/images/teaching/118-1.10-1.svg" style="max-width:500px;"/>
                </div>
                <div style="flex: 1";>
                    The <b>slope</b> of a line that runs through two points $P(x_1, y_1)$ and $Q(x_2, y_2)$ is \[m = \text{slope} = \dfrac{\text{rise}}{\text{run}} = \dfrac{y_2 - y_1}{x_2 - x_1}\]
                </div>
            </div>
        </div>

        <div class="small-screen">
            
            The <b>slope</b> of a line that runs through two points $P(x_1, y_1)$ and $Q(x_2, y_2)$ is \[m = \text{slope} = \dfrac{\text{rise}}{\text{run}} = \dfrac{y_2 - y_1}{x_2 - x_1}\]

                    <img class="img-shadow" src="/static/swrlly/images/teaching/118-1.10-1.svg" style="min-width:300px;"/>
        </div>
    </div>

    
    <div class="math-def">
        The <b>point-slope</b> form of a line is an equation of a line that passes through $(x_1, y_1)$ and has slope $m$: \[y - y_1 = m(x - x_1)\]</b>
    </div>

    <div class="math-fact"> 
        <ul>
            <li>The vertical line through $(a, b)$ is $x = a$.</li>
            <li>The horizontal line through $(a, b)$ is $y = b$.</li>
        </ul> 
    </div>

    <h4 id="1182.1">2.1: Functions</h4>

    <div class="math-def"> A <b>function</b> $f$ is a rule that assigns to each element $x$ in a set $A$ to exactly one element, called $f(x)$ in a set $B$.</div>

    <img src="/static/swrlly/images/teaching/118-2.1-1.svg" style="max-width:400px; margin:3rem auto; padding:3rem; display:flex; border-radius: 20px; box-shadow: 2px 2px 40px #151515, -2px -2px 40px #171717;"/>

    <div class="math-def"> <b>domain</b><br>
        The domain of a function is the set of all possible inputs, when evaluated, gives you a real number.
    </div>

    <h2 id="118w5">Week 5</h2><hr>

    <h4 id="1182.2">2.2: Graphs of Functions</h4>

    <div class="math-def">
        The <b>graph</b> of a function with domain $A$ is the set of all possible coordinates $(x, f(x))$ which make the equation true.
    </div>

    <div class="math-fact-notxt"> <b style="color: var(--factcolor)">Vertical Line Test</b><br>
        A curve in the plane is the <b>graph</b> of a function if no vertical intersects the curve more than once.
    </div>

    <h4 id="1182.3">2.3: Using the Graph</h4>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Domain from a Graph</b>
        <p>Imagine the points drop straight down by gravity:</p>
            
        <img class="img-shadow" src="/static/swrlly/images/teaching/118-2.3-1.svg" style="max-width:500px; max-height:400px;"/>

    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Solving $f(x) = g(x)$ and $f(x) < g(x)$</b><br>
        The solutions to the equation $f(x) = g(x)$ are the $x$-values where the graphs intersect. <br>

        The solutions to the inequality $f(x) < g(x)$ are the $x$-values where the graph of $f(x)$ is under $g(x)$.
    </div>

    <div class="math-def"> <b>increasing, decreasing function</b> <br>
        $f$ is increasing on an interval $I$ if $f(x_1) < f(x_2)$ whenever $x_1 < x_2$ in $I$. <br>

        $f$ is decreasing on an interval $I$ if $f(x_1) > f(x_2)$ whenever $x_1 < x_2$ in $I$.
    </div>

    <div class="math-def"> <b>local maximum, local minimum</b> <br>
        The number $f(a)$ is a local maximum value of $f$ if $f(a) \geq f(x)$ when $x$ is near $a$. <br>
        The number $f(a)$ is a local minimum value of $f$ if $f(a) \leq f(x)$ when $x$ is near $a$. <br>
    </div>

    <h4 id="1182.4">2.4: Average Rate of Change of a Function</h4>

    <div class="math-def"> <b>average rate of change</b><br>
        The average rate of change (ARoC) of $y = f(x)$ on the interval $(a, b)$ is \[\text{ARoC} = \dfrac{\text{change in } y}{\text{change in } x} = \dfrac{f(b) - f(a)}{b - a}\]
        The ARoC is the slope of the line through $(a, f(a))$ and $(b, f(b))$.
    </div>

    <h4 id="1182.6">2.6: Transformations of Functions</h4>

    <p>Parent functions are functions that have different shapes, based on their formula. Memorize the following.</p>

    <div class="large-screen">
        <div style="display:grid; column-gap:4vw; grid-template-columns: repeat(4, 1fr);">
            <span style="margin: 0.5rem auto;">$\large f(x) = x$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = x^2$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = \sqrt{x}$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = \lvert x \rvert$</span>
            <img style="margin: 1rem auto;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-1.svg"/>
            <img style="margin: 1rem auto;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-2.svg"/>
            <img style="margin: 1rem auto;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-3.svg"/>
            <img style="margin: 1rem auto;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-4.svg"/>
        </div>
    </div>

    <div class="small-screen">
        <div style="display:grid; column-gap:4vw; grid-template-columns: repeat(2, 1fr);">
            <span style="margin: 0.5rem auto;">$\large f(x) = x$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = x^2$</span>
            <img style="margin: 1rem auto; max-width:250px;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-1.svg"/>
            <img style="margin: 1rem auto;  max-width:250px;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-2.svg"/>
            <span style="margin: 0.5rem auto;">$\large f(x) = \sqrt{x}$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = \lvert x \rvert$</span>
            <img style="margin: 1rem auto; max-width:250px;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-3.svg"/>
            <img style="margin: 1rem auto; max-width:250px;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-4.svg"/>
        </div>
    </div>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Vertical Shifts of Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">To graph $y = f(x) + c$, shift $f(x)$ upwards $c$ units. </span>
                <span class="precalc-trans-text">To graph $y = f(x) - c$, shift $f(x)$ downwards $c$ units. </span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-5.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-6.svg"/>
            </div>
    
        </div>
    </div>

    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Vertical Shifts of Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">To graph $y = f(x) + c$, shift $f(x)$ upwards $c$ units. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-5.svg"/>
                <span class="precalc-trans-text">To graph $y = f(x) - c$, shift $f(x)$ downwards $c$ units. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-6.svg"/>
            </div>
    
        </div>
    </div>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Horizontal Shifts of Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">To graph $y = f(x - c)$, shift $f(x)$ right $c$ units. </span>
                <span class="precalc-trans-text"> To graph $y = f(x + c)$, shift $f(x)$ left $c$ units.  </span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-7.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-8.svg"/>
            </div>
    
        </div>
    </div>
        
    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Horizontal Shifts of Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">To graph $y = f(x - c)$, shift $f(x)$ right $c$ units. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-7.svg"/>
                <span class="precalc-trans-text"> To graph $y = f(x + c)$, shift $f(x)$ left $c$ units.  </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-8.svg"/>
            </div>
    
        </div>
    </div>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Reflecting Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">To graph $y = -f(x)$, reflect $f(x)$ around the $x$-axis.</span>
                <span class="precalc-trans-text">To graph $y = f(-x)$, reflect $f(x)$ around the $y$-axis.</span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-9.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-10.svg"/>
            </div>
    
        </div>
    </div>
        
    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Reflecting Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">To graph $y = -f(x)$, reflect $f(x)$ around the $x$-axis. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-9.svg"/>
                <span class="precalc-trans-text">To graph $y = f(-x)$, reflect $f(x)$ around the $y$-axis. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-10.svg"/>
            </div>
    
        </div>
    </div>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Vertical Stretching and Shrinking</b><br>
            To graph $y = c\cdot f(x)$:
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">If $c > 1$, stretch $f(x)$ vertically by a factor of $c$.</span>
                <span class="precalc-trans-text">If $0 < c < 1$, shrink $f(x)$ vertically by a factor of $c$.</span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-11.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-12.svg"/>
            </div>
    
        </div>
    </div>
        
    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Vertical Stretching and Shrinking</b><br>
            To graph $y = c\cdot f(x)$:
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">If $c > 1$, stretch $f(x)$ vertically by a factor of $c$.</span>
                <img class="img-shadow precalc-trans-picture-sm" style="max-width:400px;" src="/static/swrlly/images/teaching/118-2.6-11.svg"/>
                <span class="precalc-trans-text">If $0 < c < 1$, shrink $f(x)$ vertically by a factor of $c$.</span>
                <img class="img-shadow precalc-trans-picture-sm" style="max-width:400px;" src="/static/swrlly/images/teaching/118-2.6-12.svg"/>
            </div>
    
        </div>
    </div>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Horizontal Stretching and Shrinking</b><br>
            To graph $y = f(c\cdot x)$:
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">If $c > 1$, shrink $f(x)$ horizontally by a factor of $\frac{1}{c}$.</span>
                <span class="precalc-trans-text">If $0 < c < 1$, stretch $f(x)$ horizontally by a factor of $\frac{1}{c}$.</span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-14.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-13.svg"/>
            </div>
    
        </div>
    </div>
        
    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Horizontal Stretching and Shrinking</b><br>
            To graph $y = f(c\cdot x)$:
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">If $c > 1$, shrink $f(x)$ horizontally by a factor of $\frac{1}{c}$.</span>
                <img class="img-shadow precalc-trans-picture-sm" style="max-width:400px;" src="/static/swrlly/images/teaching/118-2.6-14.svg"/>
                <span class="precalc-trans-text">If $0 < c < 1$, stretch $f(x)$ horizontally by a factor of $\frac{1}{c}$.</span>
                <img class="img-shadow precalc-trans-picture-sm" style="max-width:400px;" src="/static/swrlly/images/teaching/118-2.6-13.svg"/>
            </div>
    
        </div>
    </div>

    <div class="math-beware"> If there is a horizontal shift + another horizontal transformation, make sure the coefficient of $x$ is $1$ before identifying transformations.</div>


    <h2 id="118w6">Week 6</h2><hr>

    <h4 id="1182.7">2.7: New Functions From Old</h4>

    <p>$+, -, \times, \div$ functions together is simple: just substitute. But...</p>
    
    <div class="math-beware"> When you are subtracting and multiplying functions with two or more terms, <b style="color: var(--bewarecolor)">do not forget parenthesis.</b></div>

    <div class="math-def"> <b>composite function</b>
        <br>Given two functions $f$ and $g$, the composite function $f \circ g$ is defined by \[(f\circ g)(x) = f(g(x))\]
    </div>

    <h4 id="1182.8">2.8: One-to-One Functions and Inverses</h4>

    <div class="math-def">
        A function $f(x)$ with domain $A$ is called <b>one-to-one</b> if no two elements of $A$ are sent to the same value. <br/>In other words, if $x_1\neq x_2$, then it is always the case that $f(x_1) \neq f(x_2)$.
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor)">Horizontal Line Test</b><br>
        A function is one-to-one if and only if no horizontal line intersects the graph of $f(x)$ more than once.
    </div>

    <div class="math-def"> <b>codomain</b><br>
        The <b>codomain</b> of a function $f$ is the set of all possible outputs when $f$ is evaluated on the domain.
    </div>

    <div class="math-def"> <b>inverse function, $f^{-1}$</b><br>
        Let $f$ be a one-to-one function with domain $A$, codomain $B$. Then the inverse function, denoted $f^{-1}$, has domain $B$ and codomain $A$ and is defined by \[f^{-1}(y) = x \text{ if and only if } f(x) = y\]
    </div>

    <div class="math-beware"> $f^{-1}$ is not equivalent to $\frac{1}{f}$. Don't confuse it with a negative exponent!</div>

    <div class="math-fact-notxt"> <b style="color: var(--factcolor);">Inverse Function Property</b><br>
        Let $f$ be a one-to-one function with domain $A$ and codomain $B$. The inverse function $f^{-1}$ satisfies the following properties
        \begin{align}
        f^{-1}(f(x))=x \qquad &\text{ for every } x \text{ in } A\\
        f(f^{-1}(x))=x \qquad &\text{ for every } x \text{ in } B
        \end{align}
    </div>

    <div class="math-method">
        Given a function $f$, here are the steps to find the inverse $f^{-1}$:
        <ol>
            <li>Check $f$ is an one-to-one function. If so, proceed. If not, $f$ does not have an inverse.</li>
            <li>Write $y = f(x)$. If there is a domain restriction, convert the domain restriction into a codomain restriction.</li>
            <li>Solve this equation for $x$ in terms of $y$. Meaning, isolate $x$.</li>
            <li>Interchange $x$ and $y$, including the codomain restriction into a domain restriction if there was one. The resulting equation is $y = f^{-1}(x)$.</li>
        </ol>
    </div>

    <h4 id="1183.1">3.1: Quadratic Functions</h4>

    <div class="math-def"> <b>quadratic function</b><br>
        A quadratic function is a polynomial function of degree 2, with form \[f(x) = ax^2 + bx + c \qquad a\neq 0\]
    </div>

    <div class="math-fact"> To complete the square for $x^2 + bx$, add and subtract $\left(\dfrac{b}{2}\right)^2$.</div>

    <div class="math-def"> <b>standard form, vertex</b><br>
        A quadratic function $f(x) = ax^2 + bx + c$ can be expressed in the standard form \[f(x) = a(x - h)^2 + k\] by completing the square.
        <br>The <b>vertex</b> of the parabola is $(h, k)$.
    </div>

    <h2 id="118w7">Week 7</h2><hr>

    <h4 id="1183.2">3.2: Polynomial Functions and Their Graphs</h4>

    <div class="math-def"> <b>polynomial function</b><br>
        A polynomial function of degree $n$ is a function of the form \[P(x) = a_nx^n + a_{n-1}x^{n-1} + \cdots + a_1x + a_0 \qquad a_n \neq 0\] where $n$ is an integer.
        <ul>
            <li>$a_n, a_{n-1}, \dots, a_1, a_0$ are called the <b>coefficients</b>.</li>
            <li>$a_0$ is called the <b>constant coefficient</b> or <b>constant term</b>.</li>
            <li>$a_n$ is called the <b>leading coefficient</b>.</li>
            <li>$a_nx^n$ is called the <b>leading term</b>.</li>
        </ul>
    </div>

    <p>Monomials $P(x) = x^n$ have the following graphs:</p>

    <div class="large-screen">
        <div style="display:grid; column-gap:2vw; grid-template-columns: 1fr 2fr 2fr;">
            <!-- using % causes overflow when using column-gap https://css-tricks.com/introduction-fr-css-unit/-->
            <span style="margin: auto; font-size: 1.5rem;">$n = 1$</span>
            <span style="margin: auto; font-size: 1.5rem; ">$n$ is even</span>
            <span style="margin: auto; font-size: 1.5rem;">$n$ is odd</span>
            <img class="img-shadow" style="max-width:300px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-1.svg"/>
            <img class="img-shadow" style="max-width:400px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-2.svg"/>
            <img class="img-shadow" style="max-width:400px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-3.svg"/>
       </div>
    </div>

    <div class="small-screen">
        <div style="display:grid; grid-template-columns: 1fr;">
            <span style="margin: auto; font-size: 1.5rem;">$n = 1$</span>
            <img class="img-shadow" style="max-width:250px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-1.svg"/>
            <span style="margin: auto; font-size: 1.5rem;">$n$ is even</span>
            <img class="img-shadow" style="max-width:500px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-2.svg"/>
            <span style="margin: auto; font-size: 1.5rem;">$n$ is odd</span>
            <img class="img-shadow" style="max-width:500px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-3.svg"/>
        </div>
    </div>

    <div class="math-notxt"> <b>Informal Definition: continuity</b><br>
        A graph is continuous if you can draw it without lifting your pencil.
    </div>

    <div class="math-def"> <b>end behavior</b>

        <p>The end behavior of a polynomial depends on the degree $n$ and the leading coefficient $a_n$:</p>

        <img class="img-shadow" style="max-width:800px; margin-top: 1rem; padding:0;" src="/static/swrlly/images/teaching/118-3.2-10.png"/>
    </div>

    
    <div class="math-def"> <b>zeros</b><br>
        Suppose $P$ is a polynomial and $c$ is a real number. Then the following are equivalent:
        <ul>
            <li>$c$ is a zero of $P$.</li>
            <li>$c$ is a $x$-intercept of the graph of $P$.</li>
            <li>$x = c$ is a solution of the equation $P(x) = 0$. Meaning, $P(c) = 0$.</li>
            <li>$(x - c)$ is a factor of $P(x)$.</li>
        </ul>
    </div>

    <div class="math-def"> <b>zero of multiplicity $m$</b><br>
        $c$ is a zero of multiplicity $m$ if $(x - c)^m$ appears in the factorization of $P$.
    </div>

    <div class="math-fact-notxt"> <b style="color: var(--factcolor);">Graph Shape Near Zeros of Multiplicity $m$</b><br>

        If $c$ is a zero of multiplicity $m$, then the graph shape near $c$ corresponds is as follows:

        <div class="large-screen">
            <div style="display:grid; margin: auto; padding-top:2em; max-width:800px; column-gap:2vw; grid-template-columns: 0.8fr 1fr 0.1fr 1fr;">
                <span style="margin: auto; font-size: 1.5rem;">$n$ odd, $n \neq 1$</span>
                <img class="img-shadow" style="max-width:400px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-6.svg"/>
                <span style="margin: auto;">or</span>
                <img class="img-shadow" style="max-width:400px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-7.svg"/>
                <span style="margin: auto; font-size: 1.5rem;">$n$ even</span>
                <img class="img-shadow" style="max-width:400px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-8.svg"/>
                <span style="margin: auto;">or</span>
                <img class="img-shadow" style="max-width:400px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-9.svg"/>
            </div>
        </div>   

        <div class="small-screen">
            <div style="display:grid; margin: auto; padding-top:2em; column-gap:2vw; grid-template-columns: 0.8fr 1fr 0.1fr 1fr;">
                <span style="margin: auto; font-size: 1.5rem;">$n$ odd,<br>$n \neq 1$</span>
                <img class="img-shadow" style="max-width:400px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-6.svg"/>
                <span style="margin: auto;">or</span>
                <img class="img-shadow" style="max-width:400px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-7.svg"/>
                <span style="margin: auto; font-size: 1.5rem;">$n$ even</span>
                <img class="img-shadow" style="max-width:400px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-8.svg"/>
                <span style="margin: auto;">or</span>
                <img class="img-shadow" style="max-width:400px; margin-top: 1rem;" src="/static/swrlly/images/teaching/118-3.2-9.svg"/>
            </div>
        </div>   
    </div>

    <h2 id="118w8">Week 8</h2><hr>

    <h4 id="1183.3">3.3: Real Zeros of Polynomials</h4>

    <div class="math-def"> <b>division algorithm</b><br>
        $P(x)$ and $D(x)$ are polynomials, with $D(x) \neq 0$. Then there exist unique polynomials $Q(x)$ and $R(x)$, where the degree of $R(x)$ is 0 or less than the degree of $P(x)$ where:

        \[\dfrac{P(x)}{D(x)} = Q(x) + \dfrac{R(x)}{D(x)} \qquad \text{ or } \qquad P(x) = D(x)\cdot Q(x) + R(x)\]
        
        <ul>
            <li>$P(x)$ is the <b>dividend</b> (what you are dividing)</li>
            <li>$D(x)$ is the <b>divisor</b> (what you are dividing by)</li>
            <li>$Q(x)$ is the <b>quotient</b></li>
            <li>$R(x)$ is the <b>remainder</b>.</li>
        </ul>
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Remainder Theorem</b><br>
        If $P(x)$ is divided by $x - c$, then the remainder is $P(c)$.
    </div>

    
    <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Factor Theorem</b><br>
        $c$ is a zero of $P$ if and only if $(x-c)$ is a factor of $P(x)$.
    </div>

    <div class="math-def"> <b>Complete Factorization of $P(x)$ over $\mathbb{R}$</b><br>
        A complete factorization of a polynomial $P(x)$ over $\mathbb{R}$ is one where the resultant factors only have real coefficients.
    </div>

    <div class="math-method"> <b style="color:var(--factcolor);">Complete Factorization of $P(x)$ over $\mathbb{R}$</b><br>
        For each zero $c$:
        <ol>
            <li><b style="color: var(--factcolor); margin-right: 0.5em;">Setup:</b>Convert into a factor $(x - c)$.</li>
            <li><b style="color: var(--factcolor); margin-right: 0.5em;">Divide:</b> Use the division algorithm to divide $P(x) = (x - c)Q(x)$.</li>
            <li><b style="color: var(--factcolor); margin-right: 0.5em;">Multiplicity:</b> Check if $c$ is a zero of $Q(x)$. If so, repeat and keep dividing $Q(x)$ until $c$ is no longer a zero. Move on to the next zero.</li>
        </ol>

        Repeat until you have a quadratic. Then try to factor using Chapter 1 techniques (<a href="/teaching/math-118/lectures/1.3#newx">"new" X method</a>, or the quadratic formula).<br>
        Do not factor irreducibles, leave them alone. 
        
    </div>

    <div class="math-def"> <b>irreducible</b><br>
        An irreducible polynomial is a quadratic polynomial with no real zeros.
    </div>

    <div class="math-fact"> An irreducible's discriminant $b^2 - 4ac < 0$ due to the quadratic formula \[x = \dfrac{-b \pm \sqrt{b^2 - 4ac}}{2a}\]
        The $\sqrt{b^2 - 4ac}$ is a root of a negative number, so the zeros can't be real!
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Real Factorization Theorem</b><br>
        <p>Suppose $P(x)$ is a polynomial with real coefficients. A complete factorization of $P(x)$ over $\mathbb{R}$ will break down into linear (degree 1) factors and irreducible quadratics.</p>

        There are three possibilities:

        \begin{align}
        P(x) &= (\text{linear factors})
        \\P(x) &= (\text{linear factors}) \cdot (\text{irreducible factors})
        \\P(x) &= (\text{irreducible factors})
        \end{align}
    </div>

    <h4 id="1183.5">3.5: Complex Zeros</h4>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Fundamental Theorem of Algebra</b><br>

        Every polynomial \[P(x) = a_nx^n + a_{n-1}x^{n-1} + \cdots + a_1x + a_0 \qquad a_n \neq 0\]

        with complex coefficients has at least one complex zero.
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Complex Factorization Theorem</b><br>

        Suppose $P(x)$ is a degree $n$ polynomial with complex coefficients. Then:

        <ol>
            <li>there exists complex numbers $a, c_1, c_2, \dots, c_n$ where \[P(x) = a(x-c_1)(x-c_2)\cdots(x-c_{n-1})(x-c_{n})\] and</li>
            <li>$P(x)$ has exactly $n$ zeros, provided a zero of multiplicity $k$ is counted $k$ times.</li>
        </ol>
    </div>

    <p>To find a complete factorization of $P(x)$ over $\mathbb{C}$, take the complete factorization over $\mathbb{R}$ and factor the irreducibles into linear factors.</p>

    <div class="math-def"> <b>complex conjugate</b><br>
        The complex conjugate of $a + bi$ is $a - bi$.
    </div>

    <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Conjugate Pairs Theorem</b><br>

        If $P(x)$ has real coefficients and $a + bi$ is a zero, then $a - bi$ must also be a zero.
    </div>

    <h2 id="118w9">Week 9</h2><hr>

    <h4 id="1183.6">3.6: Rational Functions</h4>

    <div class="math-def"> <b>rational function</b><br>
        A rational function has the form \[r(x) = \dfrac{P(x)}{Q(x)}\]where $P$ and $Q$ are polynomials.
    </div>

    <div class="math-fact"> 
        There are two ways to approach a number $a$: from the left and from the right.

        <div class="large-screen">
            <div style="display:grid; column-gap:2vw; grid-template-columns: 0.5fr 1fr; padding-top:1rem;">
                <span style="margin: 0 auto; font-size: 1.5rem;">Notation</span>
                <span style="margin: 0 auto; font-size: 1.5rem;">Visualization</span>
                <span style="margin: 0 auto; font-size: 1.5rem; align-content: center;">$x\rightarrow a^-$<br><span style="font-size: 1rem;">(from the left)</span></span>
                <img class="img-shadow" style="align-content: center; margin:1rem auto; padding:0;" src="/static/swrlly/images/teaching/118-3.6-1.svg"/>
                <span style="margin: 0 auto; font-size: 1.5rem; align-content: center;">$x\rightarrow a^+$<br><span style="font-size: 1rem;">(from the right)</span></span>
                <img class="img-shadow" style="align-content: center; margin:1rem auto; padding:0;" src="/static/swrlly/images/teaching/118-3.6-2.svg"/>
           </div>
        </div>
    
        <div class="small-screen">
            <div style="display:grid; column-gap:2vw; grid-template-columns: 0.5fr 1fr; padding-top:1rem;">
                <span style="margin: 0 auto; font-size: 1.5rem;">Notation</span>
                <span style="margin: 0 auto; font-size: 1.5rem;">Visualization</span>
                <span style="margin: 0 auto; font-size: 1.5rem; align-content: center;">$x\rightarrow a^-$<br><span style="font-size: 1rem;">(from the left)</span></span>
                <img class="img-shadow" style="align-content: center; margin:1rem auto; padding:0;" src="/static/swrlly/images/teaching/118-3.6-1.svg"/>
                <span style="margin: 0 auto; font-size: 1.5rem; align-content: center;">$x\rightarrow a^+$<br><span style="font-size: 1rem;">(from the right)</span></span>
                <img class="img-shadow" style="margin:1rem auto; padding:0;" src="/static/swrlly/images/teaching/118-3.6-2.svg"/>
           </div>
        </div>
    </div>

    
    <div class="math-fact">
        The line $x = a$ is a vertical asymptote if $y \rightarrow \pm \infty$ as $x \rightarrow a^+$ or $x \rightarrow a^-$. <br>

        The line $y = b$ is a horizontal asymptote if $y \rightarrow b$ as $x \rightarrow \pm \infty$.
    </div>

    <div class="math-fact">
        Suppose you have a rational function \[r(x) = \dfrac{a_nx^n + \cdots}{b_mx^m + \cdots}\]
        <ul>
            <li class="lec-list-space">To find vertical asymptotes, set denominator $= 0$ and solve for $x$.</li>
            <li class="lec-list-space">To find horizontal asymptotes, there are three cases, depending on the leading terms:
                <ol type="1">
                    <li class="lec-list-space">If $n < m$, then $y = 0$ is the horizontal asymptote.</li>
                    <li class="lec-list-space">If $n = m$, then $y = \dfrac{a_n}{b_m}$.</li>
                    <li class="lec-list-space">If $n > m$, there are no horizontal asymptotes.</li>
                </ol>
            </li>
        </ul>
    </div>

    <h4 id="1184.1">4.1: Exponential Functions</h4>

    <div class="math-def"> <b>exponential function</b><br>
        The exponential function with base $a$ has the form \[f(x) = a^x\] where $a > 0$ and $a \neq 1$.
    </div>

    <div class="math-fact">
        The exponential function $f(x) = a^x$ has two possible graph shapes:

        <div class="large-screen">
            <div style="margin-top:1em; display:grid; column-gap:2vw; grid-template-columns: 1fr 1fr;">
                <span style="margin: 0 auto; font-size: 1.5rem;">$a > 1$</span>
                <span style="margin: 0 auto; font-size: 1.5rem;">$0 < a < 1$</span>
                <img class="img-shadow" style="max-width: 300px;" src="/static/swrlly/images/teaching/118-4.1-1.svg"/>
                <img class="img-shadow" style="max-width: 300px;" src="/static/swrlly/images/teaching/118-4.1-2.svg"/>
           </div>
        </div>

        <div class="small-screen">
            <div style="margin-top:1em; display:grid; column-gap:4vw; grid-template-columns: 1fr 1fr;">
                <span style="margin: 0 auto; font-size: 1.5rem;">$a > 1$</span>
                <span style="margin: 0 auto; font-size: 1.5rem;">$0 < a < 1$</span>
                <img class="img-shadow" style="max-width: 300px;" src="/static/swrlly/images/teaching/118-4.1-1.svg"/>
                <img class="img-shadow" style="max-width: 300px;" src="/static/swrlly/images/teaching/118-4.1-2.svg"/>
           </div>
        </div>

        In general:

        <ul>
            <li>Domain: $\mathbb{R}$</li>
            <li>Codomain (range): $(0, \infty)$</li>
            <li>Asymptotes: $y = 0$</li>
        </ul>
    </div>
    
    <div class="math-def"> <b>simple interest</b><br>
        Interest applied only once against the principal.
    </div>

    <div class="math-def"> <b>principal</b><br>
        The money invested/borrowed initially.
    </div>

    <div class="math-def"> <b>compound interest</b><br>
    
        Compound interest is calculated by \[A(t) = P\left(1 + \dfrac{r}{n}\right)^{nt}\] 
        where 
        <ul style="list-style-type: none;">
            <li>$A(t) = $ amount after $t$ years</li>
            <li>$P = $ principal</li>
            <li>$r = $ interest rate per year</li>
            <li>$n = $ number of times interest is compounded per year</li>
            <li>$t = $ number of years.</li>
        </ul>
    </div>

    <div class="math-def"> <b>Annual Percentage Yield (APY)</b><br>
        The <span style="text-decoration: underline;";>simple interest</span> rate in one year which accounts for compounding.
    </div>

    <h4 id="1184.2">4.2: The Natural Exponential Function</h4>
    
    <div class="math-def"> <b>e</b><br>
        The number $e$ is defined to be \[\left(1 + \dfrac{1}{n}\right)^n \rightarrow e \quad \text{as} \quad n \rightarrow \infty\]
    </div>

    <div class="math-def"> <b>natural exponential function</b><br>
        Exponential function with base $e$: \[f(x) = e^x\]
    </div>

    <div class="math-def"> <b>continuously compounded interest</b><br>
        Continuously compounded interest is calculated by \[A(t) = Pe^{rt}\] 
        where
        <ul style="list-style-type: none;">
            <li>$A(t) = $ amount after $t$ years</li>
            <li>$P = $ principal</li>
            <li>$r = $ interest rate per year</li>
            <li>$t = $ number of years.</li>
        </ul>
    </div>

    <div class="math-def"> <b>logarithmic function</b><br>
        Suppose $a > 0, a \neq 1$. The logarithmic function with base $a$ is defined by \[\log_a x = y \qquad \text{means} \qquad a^y = x\]
    </div>

    <h4 id="1184.3">4.3: Logarithmic Functions</h4>
    
    <div class="math-fact"> <b style="color:var(--factcolor);">Properties of Logarithms</b>
        <ol>
            <li>$\log_a 1 = 0$</li>
            <li>$\log_a a = 1$</li>
            <li>$\log_a a^x = x$</li>
            <li>$a^{\log_a x} = x$</li>
        </ol>
    </div>
    
    <div class="math-def"> <b>common logarithm</b><br>
        Base 10 logarithm, the base is omitted: \[\log x = \log_{10} x\]
    </div>
    
    <div class="math-def"> <b>natural logarithm</b><br>
        Base $e$ logarithm, denoted by $\ln$: \[\ln x = \log_{e} x\]
    </div>

    <div class="math-fact"> <b style="color:var(--factcolor);">Properties of Natural Logarithms</b>
        <ol>
            <li>$\ln 1 = 0$</li>
            <li>$\ln e = 1$</li>
            <li>$\ln e^x = x$</li>
            <li>$e^{\ln x} = x$</li>
        </ol>
    </div>

    <div class="math-fact">
        The function $f(x) = \log_a x$ has the general shape
        <img class="img-shadow" style="max-width: 500px;" src="/static/swrlly/images/teaching/118-4.3-1.svg"/>
        In general:

        <ul>
            <li>Domain: $(0, \infty)$</li>
            <li>Codomain (range): $\mathbb{R}$</li>
            <li>Asymptotes: $x = 0$</li>
        </ul>
    </div>
    

</div>
{% endblock %}