{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - lectures</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="lectures for math 118"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 118 Interactive Lecture Notes</h1>
    <p>This page contains lecture notes for Math 118, organized by section.</p>

    <h2>Chapter 1: Fundamentals</h2><hr>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/1.0">
                <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                <div class="center-text-over-image"><span style="font-size:2em;">💡</span></div>
            </a>
            <div class="bottomicontext">1.0</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/1.1">
                <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                <div class="center-text-over-image">$\mathbb{R}$</div>
            </a>
            <div class="bottomicontext">1.1</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/1.2">
                <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                <div class="small-center-text-over-image">$(ab)^n = a^nb^n$</div>
            </a>
            <div class="bottomicontext">1.2</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/1.3">
                <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                <div class="small-center-text-over-image">$A^2 - B^2$</div>
            </a>
            <div class="bottomicontext">1.3</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/1.4">
                <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                <div class="small-center-text-over-image">$\dfrac{1}{x+1} - \dfrac{1}{x}$</div>
            </a>
            <div class="bottomicontext">1.4</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/1.5">
                <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                <div class="center-text-over-image">$x = \: ?$</div>
            </a>
            <div class="bottomicontext">1.5</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/1.6">
                <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                <div class="small-center-text-over-image">$i = \sqrt{-1}$</div>
            </a>
            <div class="bottomicontext">1.6</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/1.8">
                <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                <div class="center-text-over-image">$x \leq \: ?$</div>
            </a>
            <div class="bottomicontext">1.8</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/1.9">
                <img class="teachingicon" src="/static/swrlly/images/teaching/118-1.9-1.svg""></img>
                <div class="small-center-text-over-image"></div>
            </a>
            <div class="bottomicontext">1.9</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/1.10">
                <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                <div class="vsmall-center-text-over-image">$y - y_1 = m(x - x_1)$</div>
            </a>
            <div class="bottomicontext">1.10</div>
        </div>
    </div>

    <h2>Chapter 2: Functions and Their Graphs</h2><hr>

    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/2.1">
                <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                <div class="center-text-over-image">\(f(x)\)</div>
            </a>
            <div class="bottomicontext">2.1</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/2.2">
                <img class="teachingicon" src="/static/swrlly/images/teaching/118-2.2-1.svg"></img>
                <div class="center-text-over-image"></div>
            </a>
            <div class="bottomicontext">2.2</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/2.3">
                <img class="teachingicon" src="/static/swrlly/images/teaching/118-2.3-1.svg"></img>
                <div class="center-text-over-image"></div>
            </a>
            <div class="bottomicontext">2.3</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/2.7">
                <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                <div class="center-text-over-image">\(f\circ g\)</div>
            </a>
            <div class="bottomicontext">2.7</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-118/lectures/2.8">
                <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                <div class="center-text-over-image">\(f^{-1}(x)\)</div>
            </a>
            <div class="bottomicontext">2.8</div>
        </div>
    </div>

</div>
{% endblock %}