{% extends "swrlly/teaching.html" %}

{% block title %}<title>Cal Poly Math 118: Pre-Calculus Algebra</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 M/W Schedule"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="MATH 118 M/W Schedule"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/mw-schedule"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block extraimports %}
<script async src="/static/swrlly/js/centertext.js"></script>
{% endblock %}


{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 118: Precalculus Algebra</h1>

    <h2>Class Schedule: Monday/Wednesday Meeting Time</h2><hr>

    <p>Here is a daily overview of the entire quarter.</p>

    <p>Rows dates are Mondays. Today is <span style="font-size:1.5rem;"><span id="current_date"></span>.
    <script>
        date = new Date();
        y = date.getFullYear();
        m = date.getMonth() + 1;
        d = date.getDate();
        document.getElementById("current_date").innerHTML = m + "/" + d + "/" + y;
    </script></span>
    </p>

    <div class="calendar">
        <span></span>
        <span class="day-name">Mon</span>
        <span class="day-name">Tue</span>
        <span class="day-name">Wed</span>
        <span class="day-name">Thu</span>
        <span class="day-name">Fri</span>

        <div class="calbox week-name">Week of 1/6</div>
        <div class="calbox"> <div class="lec-event">1.0, 1.1</div> </div>
        <div class="calbox"> </div>
        <div class="calbox"> <div class="lec-event">1.1, 1.2</div> </div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>
        

        <div class="calbox week-name">Week of 1/13</div>
        <div class="calbox"> 
            <div class="lec-event">1.2, 1.3</div> 
            <div class="quiz-event">Quiz 1</div>
        </div>
        <div class="calbox"> </div>
        <div class="calbox"> <div class="lec-event">1.3, 1.4</div> </div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>
        

        <div class="calbox week-name">Week of 1/20</div>
        <div class="calbox"> <div class="veterans-event">MLK Jr. Day 🇺🇸</div> </div>
        <div class="calbox">
            <div class="halloween-event">Monday Schedule</div>
            <div class="lec-event">1.4</div> 
            <div class="quiz-event">Quiz 2</div> 
        </div>
        <div class="calbox"> <div class="lec-event">1.5</div>  </div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>


        <div class="calbox week-name">Week of 1/27</div>
        <div class="calbox"> 
            <div class="lec-event">1.6, 1.8</div> 
            <div class="quiz-event">Midterm 1</div>  
        </div>
        <div class="calbox"> </div>
        <div class="calbox"> <div class="lec-event">1.9, 1.10, 2.1</div>  </div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>


        <div class="calbox week-name">Week of 2/3</div>
        <div class="calbox"> 
            <div class="lec-event">2.1, 2.2, 2.3</div> 
            <div class="quiz-event">Quiz 3</div> 
        </div>
        <div class="calbox"> </div>
        <div class="calbox"> <div class="lec-event">2.4, 2.6, 2.7</div> </div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>


        <div class="calbox week-name">Week of 2/10</div>
        <div class="calbox"> 
            <div class="lec-event">2.7, 2.8</div>
            <div class="quiz-event">Quiz 4</div> 
        </div>
        <div class="calbox"> </div>
        <div class="calbox"> <div class="lec-event">2.8, 3.1</div> </div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>


        <div class="calbox week-name">Week of 2/17</div>
        <div class="calbox"> <div class="veterans-event">Presidents' Day 🇺🇸</div> </div>
        <div class="calbox"> <div class="halloween-event">Tuesday Schedule</div> </div>
        <div class="calbox"> 
            <div class="lec-event">3.2, 3.3</div>
            <div class="quiz-event">Quiz 5</div> 
        </div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>


        <div class="calbox week-name">Week of 2/24</div>
        <div class="calbox"> 
            <div class="lec-event">3.3, 3.6</div>
            <div class="quiz-event">Midterm 2</div> 
        </div>
        <div class="calbox"> </div>
        <div class="calbox"> 
            <div class="lec-event">3.6, 3.7, 4.1</div>
        </div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>


        <div class="calbox week-name">Week of 3/3</div>
        <div class="calbox"> 
            <div class="lec-event">4.1, 4.2, 4.3</div>
            <div class="quiz-event">Quiz 6</div> 
        </div>
        <div class="calbox"> </div>
        <div class="calbox"> <div class="lec-event">4.3, 4.4, 4.5</div> </div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>
 

        <div class="calbox week-name">Week of 3/10</div>
        <div class="calbox"> 
            <div class="lec-event">4.5, 4.6</div> 
            <div class="quiz-event">Quiz 6</div> 
        </div>
        <div class="calbox"> </div>
        <div class="calbox"> <div class="lec-event">Review</div> </div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>


        <div class="calbox week-name">Week of 3/17</div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>
        <div class="calbox"> </div>

        <!--<section class="special-event" style="grid-column: 2 / span 5; grid-row: 11; align-self: start; position: relative;">Thanksgiving Break 🦃</section>-->
        <section class="special-event" style="grid-column: 2 / span 5; grid-row: 12; align-self: start; position: relative;">Finals Week</section>
 
    </div>

</div>
{% endblock %}