{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - syllabus</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - syllabus"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="about this course"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/syllabus"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1 class="teachingheader">Syllabus</h1>

    <h2>Contact</h2><hr>
    <ul>
        <li id="change"></li>
        <li><b>Office Hours</b>: Building 26M Room 110 (across the street from the health center)
            <ul>
                <li>Monday 2:10 - 3 PM</li>
                <li>Wednesday 10:10 - 11 AM, 12:10 - 1 PM</li>
                <li>Friday 2:10 - 3 PM</li>
            </ul>
        </li>
    </ul>
    <p>Please email me instead of using Canvas messages.</p>

    <h2>Course Description</h2><hr>
    <p>You will walk away from this class understanding
        <ul>
            <li>What functions are and how to manipulate and use them</li>
            <li>Common functions you will encounter in your journey through mathematics, such as polynomials, rational, exponential, and logarithmic functions</li>
            <li>Graphs + transformations of functions and what they visually look like</li>
            <li>Solving linear/quadratic equations and inequalities</li>
            <li>how this class will help you be ready for calculus.</li>
        </ul>
    </p>

    <h2>Course Methodology</h2><hr>
    <h4>Textbook</h4>
    <p>We will be using <i>Precalculus, Mathematics For Calculus, 7<sup>th</sup>edition</i> written by James Stewart et al. We will not be using WebAssign.</p>
    <h4>Lectures</h4>
    <p>Lectures are held in class four days a week. Most lecture notes will be typed up, available on <a href="/teaching/math-118/lectures">at this page</a>.
    <p>Some examples will have a <span style="color:var(--examplecolor);">Show Solution</span> button. I recommend when you are reading through the notes to try solving the problem on paper, then comparing your solution after.</p>
    <h4>Think, Pair, Share</h4>
    <p>In lecture, after introducing a concept, seeing how to use it in a few examples, you will be given a similar problem to work on. We will use the following strategy:
        <ul>
            <li><b>Think</b>: Work independently on the problem for a few minutes.</li>
            <li><b>Pair</b>: Pair up with someone to discuss your thought process/solution to the problem.</li>
            <li><b>Share</b>: Volunteer to share your answer</li>
        </ul>
    </p>
    <p>Finally, I will present my solution. Instead of passively absorbing math concepts we are learning by doing 😤</p>
    
    <h2>Grading</h2><hr>
    <h4>Homework</h4>
    <p>Homework will be posted every Thursday and due the following Thursday at the beginning of class. The only accepted format is on paper in person and stapled in the top left corner.</p>
    <p>The only accepted format is on paper in person. Grading is based on two criteria: completeless and a few problems will be chosen to be graded for correctness.</p>
    <h4>Quizzes</h4>
    <p>Quizzes will be in person every Thursday, except for the first week. They will be held during the last 10-15 minutes of class and will cover the previous week's material.</p>
    <h4>Exams</h4>
    <p>There will be two midterms and one final exam during finals week. All exams will be cumulative at the date the midterm is given.</p>
    <p>Exam dates:</p>
    <ul>
        <li><b>Midterm 1</b>: Thursday, October 19</li>
        <li><b>Midterm 2</b>: Thursday, November 16</li>
        <li><b>Final</b>: 
            <ul type="a">
                <li>if we meet at 7 AM: Friday, December 15 at 7:10 AM</li>
                <li>if we meet at 8 AM: Monday, December 11 at 7:10 AM</li>
                <li>if we meet at 3 PM: Monday, December 11 at 1:10 PM</li>
            </ul>
        </li>
    </ul>
    <h4>Grading Policy</h4>
    The aforementioned assignments have the following grading breakdown:
    <ul>
        <li>Homework: 10%</li>
        <li>Quizzes: 25%, lowest will be dropped</li>
        <li>Midterms: 20% each</li>
        <li>Final: 25%</li>
    </ul>

    <div class="smallcontainer">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">A</th>
                <th scope="col">A-</th>
                <th scope="col">B+</th>
                <th scope="col">B</th>
                <th scope="col">B-</th>
                <th scope="col">C+</th>
                <th scope="col">C</th>
                <th scope="col">C-</th>
                <th scope="col">D</th>
                <th scope="col">F</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>93-100</td>
                <td>90-93</td>
                <td>87-90</td>
                <td>83-87</td>
                <td>80-83</td>
                <td>77-80</td>
                <td>73-77</td>
                <td>70-73</td>
                <td>60-70</td>
                <td>0-60</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h4>Academic Integrity</h4>
    <p>Cheating of any form requires, at minimum, a F on the assignment. Let us define what is allowed for each assignment.
        <table class="table" style="max-width: 800px; margin: 1em auto;">
            <thead>
            <tr>
                <th scope="col">Resource</th>
                <th scope="col">Homeworks</th>
                <th scope="col">Quizzes + Midterms + Final</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Me (the professor)</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Course materials (lectures + notes)</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Textbook</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Collaboration with peers</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Online resources (internet + math engines like Photomath)</td>
                <td>No</td>
                <td>No</td>
            </tr>
            </tbody>
        </table>
        
        <h2>Other Important Information</h2><hr>
        <h4>Accessibility</h4>
        <p>Students registed with the DRC should contact me ASAP so we can set up the necessary arrangements!</p>
        <h2>Getting Help</h2><hr>
        <p>A four unit class requires four hours of lecture and at least four hours of work outside of lecture. How to spend this time wisely?</p>
        <h4>Free Drop-In Tutoring</h4>
        <p>The Math and Stats Help Hub has drop-in virtual and in-person tutoring from Monday through Thursday 4-7 PM.
        </br><a href="https://canvas.calpoly.edu/courses/48159">Details can be found here (you need to be logged in to Canvas).</a></p>
        </p>
        <h4>Office Hours</h4>
        <p><b>Using office hours is an important step in being successful in college.</b> You should attend office hours to clear up any questions you have about anything; doesn't need to be course related. If you need help, don't hesitate to reach out! 
        </p>

    </div>

</div>

<script>
document.getElementById("change").innerHTML = "<b>Instructor</b>: Charlie Liou, " + "c" + "b" + "l" + "i" + "o" + "u" + "@" + "c" + "a" + "l" + "p" + "o" + "l" + "y" + "." + "e" + "d" + "u"
</script>
{% endblock %}