{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - syllabus</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - syllabus"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="about this course"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/syllabus"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1 class="teachingheader">Syllabus</h1>

    <p>This page contains all information about the course. Be sure to refer to it if you have any questions on how this course operates.</p>

    <h2>Instructor</h2><hr>
    <p id="change"></p>
    <p>Email me using your Cal Poly email. Emails from your personal account (e.g. Gmail) will be ignored.</p>

    <h2>Instructor page</h2><hr>
    <p><a href="/teaching/math-118">https://swrlly.com/teaching/math-118</a></p>

    <p>All course information will be here (homeworks, practice exams, solution keys, etc...).</p>

    <h2>Office Hours</h2><hr>

    <ul>
        <li>My office: Building 25 Room 315 (third floor) <br><a href="/static/swrlly/files/polymapcolor_2023.pdf">Here's a map with the building circled.</a></li>
        <li>Office Hours: Breezeway on the first floor of Building 25. If it is too packed, my office.</li>
        <li>Times: 
            <ul>
                <li>M/T/Th 2:30 PM - 3:30 PM</li>
                <li>F 3:10 - 4 PM</li>
            </ul></li>
        <li>If you cannot make office hours, email me and we can set up a Zoom meeting.</li>
    </ul>

    <h2>Course Goals</h2><hr>
    <p>You will walk away from this class understanding
        <ul>
            <li>What functions are and how to manipulate and use them</li>
            <li>Common functions you will encounter in your journey through mathematics, such as polynomials, rational, exponential, and logarithmic functions</li>
            <li>Graphs + transformations of functions and the intuition behind them</li>
            <li>Solving linear/quadratic equations and inequalities</li>
            <li>Most importantly, preparing you for precalculus problems you will see in Calculus.</li>
        </ul>
    </p>

    <h2>Course Methodology</h2><hr>
    
    <h4>Textbook and Materials</h4>
    <ul>
        <li>We will use <i>Precalculus, Mathematics For Calculus, 7<sup>th</sup>edition</i> by James Stewart et al. No WebAssign.</li>
        <li>Notebook and pencils/pens for lectures, homeworks, and in-class assessments.</li>
        <li>No calculators for in-class assessments.</li>
    </ul>

    
    <h4>Lectures</h4>
    <ul>
        <li>Lectures are held in class four days a week. Most lecture notes will be typed up, available on <a href="/teaching/math-118/lectures">at this page</a>.</li>
        <li>A few examples will have a <span style="color:var(--examplecolor);">Show Solution</span> button, like so: <button class="math-btn">Show Solution</button>If you would like me to type up solutions for specific problems, email me and I will get to it!</li>
        <li>Lectures will follow the sections in the textbook.</li>
    </ul>

    
    <h4>Think, Pair, Share</h4>
    <p>In lecture, after introducing a concept, seeing how to use it in a few examples, you may be given a similar problem to work on. We will use the following strategy:
        <ul>
            <li><b>Think</b>: Work independently on the problem for a few minutes.</li>
            <li><b>Pair</b>: Pair up with someone to discuss your thought process/solution to the problem.</li>
            <li><b>Share</b>: Volunteer to share your answer</li>
        </ul>
    </p>
    <p>Finally, I will present my solution. Instead of writing down stuff for two hours we learn by engaging with the material.</p>

    <h4>Are we using Canvas?</h4>
    <p>Yes. Canvas will only be used to:
        <ol>
            <li>Send out announcements to commmunicate with you, and</li>
            <li>Keep track of grades.</li>
        </ol>
    </p>

    <p><b>Turn on announcement notifications in Canvas.</b> You will be emailed when announcements are sent. You can turn them on by:
        <ul>
            <li>On the Canvas App: Tap top left hamburger menu, tap settings, tap email notifications, tap announcement to send immediately.</li>
            <li>On Canvas Website: Click Account in the left menu, click notifications, find announcement and click on the bell. </li>
        </ul>
    </p>
    
    <h2>Assignments and Grading</h2><hr>
    
    <h4>Homework</h4>
    <p>Homework will be posted every Monday and due in one week (the following Monday, or Tuesday if we meet then).</p>
    <p>
        <b>Expectations for homework submissions:</b>
        <ul>
            <li>Hard copy paper, submitted in person at the beginning of class. Must be on time!</li>
            <li>Answers are boxed. Organized and neat.</li>
            <li>Stapled in the top left.</li>
            <li>Include your name and section number. Quick reference for section number:

                <table class="table" style="max-width: 400px; margin: 1em auto;">
                    <thead>
                    <tr>
                        <th scope="col">Meeting Time</th>
                        <th scope="col">Section Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>M/W 4:10 - 6 PM</td>
                        <td>MATH 118-07</td>
                    </tr>
                    <tr>
                        <td>M/W 6:10 - 8 PM</td>
                        <td>MATH 118-18</td>
                    </tr>
                    <tr>
                        <td>T/TH 4:10 - 6 PM</td>
                        <td>MATH 118-08</td>
                    </tr>
                    <tr>
                        <td>T/TH 6:10 - 8 PM</td>
                        <td>MATH 118-19</td>
                    </tr>
                    </tbody>
                </table>
                

            </li>
        </ul>
    </p>

    <p>Grading is based on two criteria: completeless and a few problems will be chosen to be graded for correctness.</p>
    
    <h4>Quizzes</h4>
    
    <ul>
        <li>Quizzes will be in person every Monday/Tuesday, except for the first week.</li>
        <li>Held during the first 10-15 minutes of class and will cover the previous week's material.</li>
        <li>The two academic holidays force quiz dates to be pushed back until the first time we meet during the week. See the Class Schedule at our Instructor Page for details.</li>
    </ul> 

    
    <h4>Exams</h4>
    <ul>
        <li>Two midterms. First 50 minutes of lecture. These are cumulative assessments.</li>
        <li>One final.</li>
    </ul>


    <p>Exam dates:</p>
    <ul>
        <li><b>Midterm 1</b>: 
            <ul>
                <li>Section 07 and 18: Monday, January 27</li>
                <li>Section 08 and 19: Tuesday, January 28 </li>
            </ul>
        </li>
        <li><b>Midterm 2</b>:            
            <ul>
                <li>Section 07 and 18: Monday, February 24</li>
                <li>Section 08 and 19: Tuesday, February 25</li>
            </ul>
        </li>
        <li><b>Final</b>: 
            <ul>
                <li>We may have a Common Final for all four sections of MATH 118 I teach. This means your final will most likely be on Saturday March 15. More details to follow if it is set up.</li>
                <li>If the common final does not work out, refer to the <a href="https://registrar.calpoly.edu/winter-final-exam-schedule">Final Exam Schedule</a>.</li>
            </ul>
        </li>
    </ul>

    <p>The final is taken in the classroom we meet for lecture.</p>
    <p>Unless I have granted you an exception, you must take the final at the specified time; you cannot take the final during a different section.</p>

    <h4>Late Policy</h4>
    <p>For homework: Penalized 20% per day turned after the due date.</p>
    <p>For quizzes/exams: You must email me <b>24 hours before the quiz or exam time</b> to be considered for a make-up quiz/exam. Failure to do so will receive a zero on the quiz/exam.</p>
    
    <h4>Grading Policy</h4>
    The aforementioned assignments have the following grading breakdown:
    <ul>
        <li>Homework: 10%, lowest will be dropped</li>
        <li>Quizzes: 25%, lowest two will be dropped</li>
        <li>Midterms: 40%</li>
        <li>Final: 25%</li>
    </ul>

    <div class="smallcontainer">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">A</th>
                <th scope="col">A-</th>
                <th scope="col">B+</th>
                <th scope="col">B</th>
                <th scope="col">B-</th>
                <th scope="col">C+</th>
                <th scope="col">C</th>
                <th scope="col">C-</th>
                <th scope="col">D</th>
                <th scope="col">F</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>93-100</td>
                <td>90-93</td>
                <td>87-90</td>
                <td>83-87</td>
                <td>80-83</td>
                <td>77-80</td>
                <td>73-77</td>
                <td>70-73</td>
                <td>60-70</td>
                <td>0-60</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <h4>Academic Integrity</h4>
    <p>Cheating of any form requires, at minimum, a F on the assignment. Let us define what is allowed for each assignment.
        <table class="table" style="max-width: 800px; margin: 1em auto;">
            <thead>
            <tr>
                <th scope="col">Resource</th>
                <th scope="col">Homeworks</th>
                <th scope="col">Quizzes + Midterms + Final</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Me (the professor)</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Course materials (lectures + notes)</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Textbook</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Collaboration with peers</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Online resources (internet + math engines like Photomath)</td>
                <td>No</td>
                <td>No</td>
            </tr>
            </tbody>
        </table>
        
        <h2>Other Important Information</h2><hr>
        
        <h4>Accessibility</h4>
        <p>Students registed with the DRC should contact me ASAP so we can set up and discuss the necessary arrangements.</p>
        
        <h2>Tips for Success</h2><hr>
        <p>A four unit class requires four hours of lecture and at least four hours of work outside of lecture. How to spend this time wisely?</p>

        <h4>Practice Exams</h4>
        <p>The main course portal contains practice exams and their solutions.</p>
        <p>My advice is to complete the practice exam first, then checking your solutions with the key. This way you can see the concepts you need to work on.</p>
        
        <h4>Kennedy Library Tutoring</h4>
        <p>The Learning Support Center hosts drop-in tutoring in several locations. The main location is Graphic Arts 26-110A.  <a href="https://calpoly.mywconline.com/">See this link for more details.</a></p>
        
        <h4>Free Drop-In Tutoring</h4>
        <p>The Math and Stats Help Hub has drop-in virtual and in-person tutoring from Monday through Thursday 4-7 PM.
        </br><a href="https://canvas.calpoly.edu/courses/48159">Details can be found here (you need to be logged in to Canvas).</a></p>
        </p>
        
        <h4>Office Hours</h4>
        <p>You should attend office hours to clear up any questions you have about anything; doesn't need to be course related. If you need help, don't hesitate to reach out!
            
        <p>For example, if you would like to get personalized advice and feedback on your understanding of the material, office hours is the place to do it. I will learn about your thought process in a problem, determine your weaknesses and strengths, and come up with a plan moving forward.
        </p>

        <h4>General Advice</h4>
        <ul>
            <li>I encourage you to work with other students on the homeworks.</li>
            <li>If there is an issue where you cannot attend class (car trouble, athletic event, etc.) email me and we may be able to make other arrangements.</li>
            <li>We have a daily schedule. This will help you plan what sections you'll need to know for in-class assessments.
                <ul>
                    <li><a href="/teaching/math-118/mw-schedule">Monday/Wednesday meeting time Schedule</a></li>
                    <li><a href="/teaching/math-118/tth-schedule">Tuesday/Thursday meeting time Schedule</a></li>
                </ul>
            </li>
        </ul>

    </div>

</div>

<script>
document.getElementById("change").innerHTML = "Charlie Liou, " + "c" + "b" + "l" + "i" + "o" + "u" + "@" + "c" + "a" + "l" + "p" + "o" + "l" + "y" + "." + "e" + "d" + "u"
</script>
{% endblock %}