{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - home"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="trigonometry"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block extraimports %}
<script async src="/static/swrlly/js/centertext.js"></script>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 119</h1>
    <p>Welcome to Math 119! This page contains all the relevant links for this class.</p>
    <h2>Syllabus</h2>
    <p><a href="/teaching/math-119/syllabus">Click here for the syllabus.</a></p>
    <h2>Interactive Lecture Notes</h2>
    <p><a href="/teaching/math-119/lectures">Click here for interactive lecture notes.</a></p>
    <h2>Homeworks</h2>
    <ul>
        <li><a href="/teaching/math-119/homework/hw1">Homework 1</a></li>
        <li><a href="/teaching/math-119/homework/hw2">Homework 2</a></li>
    </ul>
    <h2>Selected Solutions</h2>
    <ul>
        <li><a href="/static/swrlly/files/quiz 1 key.pdf">Quiz 1</a></li>
    </ul>
    <h2>Useful links</h2>
    <ul>
        <li><a href="https://www.desmos.com/">Online graphing utility (Desmos)</a></li>
    </ul>

</div>
{% endblock %}