{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - home"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="business calculus"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block extraimports %}
<script async src="/static/swrlly/js/centertext.js"></script>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 221</h1>
    <p>Welcome to Math 221! This page contains all the relevant links for this class.</p>
    <h2>Syllabus</h2>
    <p><a href="/teaching/math-221/syllabus">Click here for the syllabus.</a></p>
    <h2>Interactive Lecture Notes</h2>
    <p><a href="/teaching/math-221/lectures">Click here for lecture notes.</a></p>
    <h2>Homeworks</h2>
    For Monday/Wednesday classes:
    <ul>
         <li><a href="/teaching/math-221/homework/mw/hw1">Homework 1</a></li>
         <li><a href="/teaching/math-221/homework/mw/hw2">Homework 2</a></li>
         <li><a href="/teaching/math-221/homework/mw/hw3">Homework 3</a></li>
         <li><a href="/teaching/math-221/homework/mw/hw4">Homework 4</a></li>
         <li><a href="/teaching/math-221/homework/mw/hw5">Homework 5</a></li>   
         <li><a href="/teaching/math-221/homework/mw/hw6">Homework 6</a></li>  
         <li><a href="/teaching/math-221/homework/mw/hw7">Homework 7</a></li>  
         <li><a href="/teaching/math-221/homework/mw/hw8">Homework 8</a></li>  
         <li><a href="/teaching/math-221/homework/mw/hw10">Homework 10</a></li>
    </ul>
    For Tuesday/Thursday classes:
    <ul>
        <li><a href="/teaching/math-221/homework/tth/hw1">Homework 1</a></li>
        <li><a href="/teaching/math-221/homework/tth/hw2">Homework 2</a></li>
        <li><a href="/teaching/math-221/homework/tth/hw3">Homework 3</a></li>
        <li><a href="/teaching/math-221/homework/tth/hw4">Homework 4</a></li>
        <li><a href="/teaching/math-221/homework/tth/hw5">Homework 5</a></li>
        <li><a href="/teaching/math-221/homework/tth/hw6">Homework 6</a></li>
        <li><a href="/teaching/math-221/homework/tth/hw7">Homework 7</a></li>
        <li><a href="/teaching/math-221/homework/tth/hw8">Homework 8</a></li>
        <li><a href="/teaching/math-221/homework/tth/hw9">Homework 9</a></li>
        <li><a href="/teaching/math-221/homework/tth/hw10">Homework 10</a></li>
    </ul>
    <h2>Selected Solutions</h2>
    <ul>
        <li><a href="/static/swrlly/files/math 221 midterm 1 mw key.pdf">Midterm 1 key (Monday/Wednesday)</a></li>
        <li><a href="/static/swrlly/files/math 221 midterm 1 tth key.pdf">Midterm 1 key (Tuesday/Thursday)</a></li>
        <li><a href="/static/swrlly/files/midterm 2 key mw.pdf">Midterm 2 key (Monday/Wednesday)</a></li>
        <li><a href="/static/swrlly/files/midterm 2 key tth.pdf">Midterm 2 key (Tuesday/Thursday)</a></li>
    </ul>
    <h2>Useful links</h2>
    <ul>
        <li><a href="/teaching/math-221/testguide">Study guide for tests</a></li>
        <li><a href="https://www.desmos.com/">Online graphing utility (Desmos)</a></li>
        <li><a href="/static/swrlly/files/xmethod.pdf">How to factor</a> $ax^2 + bx + c$</li>
    </ul>

</div>
{% endblock %}