{% extends "swrlly/teaching.html" %}

{% block title %}<title>Cal Poly Math 161: Calculus for the Life Sciences I</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - home"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="calculus for life sciences"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block extraimports %}
<script async src="/static/swrlly/js/centertext.js"></script>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 161: Calculus for the Life Sciences I</h1>
    <p>Welcome to Math 161! This page contains all the relevant links for this class.</p>
    <h2>Syllabus</h2>
    <p><a href="/teaching/math-161/syllabus">Click here for the syllabus.</a></p>
    <h2>Interactive Lecture Notes</h2>
    <p><a href="/teaching/math-161/lectures">Click here for lecture notes.</a></p>
    <h2>Homeworks</h2>
    <ul>
        <li><a href="/teaching/math-161/homework/hw1">Homework 1</a></li>
        <li><a href="/teaching/math-161/homework/hw2">Homework 2</a></li>
        <li><a href="/teaching/math-161/homework/hw3">Homework 3</a></li>
        <li><a href="/teaching/math-161/homework/hw4">Homework 4</a></li>
        <li><a href="/teaching/math-161/homework/hw5">Homework 5</a></li>
        <li><a href="/teaching/math-161/homework/hw6">Homework 6</a></li>
        <li><a href="/teaching/math-161/homework/hw7">Homework 7</a></li>
        <li><a href="/teaching/math-161/homework/hw8">Homework 8</a></li>
        <!--<li><a href="/teaching/math-161/homework/hw9">Homework 9</a></li>-->
    </ul>
    <!--<h2>Selected Solutions</h2>
    <ul>
        <li><a href="/static/swrlly/files/pretest key.pdf">Pretest solutions</a></li>
        <li><a href="/static/swrlly/files/math 161 midterm 1 key.pdf">Midterm 1 solutions</a></li>
        <li><a href="/static/swrlly/files/math 161 midterm 2 key.pdf">Midterm 2 solutions</a></li>
        <li><a href="/static/swrlly/files/math 161 practice final.pdf">Practice Final</a></li>
        <li><a href="/static/swrlly/files/math 161 practice final key.pdf">Practice final solutions</a></li>
        
    </ul>-->
    <h2>Useful links</h2>
    <ul>
        <li><a href="https://www.desmos.com/">Online graphing utility (Desmos)</a></li>
        <li><a href="/static/swrlly/files/xmethod.pdf">How to factor</a> $ax^2 + bx + c$</li>
    </ul>

</div>
{% endblock %}