{% extends "swrlly/teaching.html" %}

{% block title %}<title>Cal Poly Math 119: Pre-Calculus Trigonometry</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - home"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="trigonometry"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block extraimports %}
<script async src="/static/swrlly/js/centertext.js"></script>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 119: Precalculus Trigonometry</h1>
    <p>Welcome to Math 119! This page contains all the relevant links for this class.</p>
    <h2>Syllabus</h2>
    <p><a href="/teaching/math-119/syllabus">Click here for the syllabus.</a></p>
    <h2>Interactive Lecture Notes</h2>
    <p><a href="/teaching/math-119/lectures">Click here for interactive lecture notes.</a></p>
    <h2>Homeworks</h2>
    <ul>
        <li><a href="/teaching/math-119/homework/hw1">Homework 1</a></li>
        <li><a href="/teaching/math-119/homework/hw2">Homework 2</a></li>
        <li><a href="/teaching/math-119/homework/hw3">Homework 3</a></li>
        <li><a href="/teaching/math-119/homework/hw4">Homework 4</a></li>
        <li><a href="/teaching/math-119/homework/hw5">Homework 5</a></li>
        <li><a href="/teaching/math-119/homework/hw6">Homework 6</a></li>
        <li><a href="/teaching/math-119/homework/hw7">Homework 7</a></li>
        <li><a href="/teaching/math-119/homework/hw8">Homework 8</a></li>
    </ul>
    <h2>Selected Solutions</h2>
    <ul>
        <li><a href="/static/swrlly/files/MATH 119 Midterm 1 Key.pdf">Midterm 1 Solution</a></li>
        <li><a href="/static/swrlly/files/MATH 119 Quiz 1 Key.pdf">Quiz 1 Key</a></li>
        <li><a href="/static/swrlly/files/MATH 119 Quiz 2 Key.pdf">Quiz 2 Key</a></li>
        <li><a href="/static/swrlly/files/MATH 119 Quiz 3 Key.pdf">Quiz 3 Key</a></li>
        <li><a href="/static/swrlly/files/MATH 119 Quiz 4 Key.pdf">Quiz 4 Key</a></li>
        <li><a href="/static/swrlly/files/MATH 119 Quiz 5 Key.pdf">Quiz 5 Key</a></li>
    </ul>
    <h2>Useful links</h2>
    <ul>
        <li><a href="/static/swrlly/files/MATH 119 Practice Midterm 1.pdf">Practice Midterm 1</a></li>
        <li><a href="/static/swrlly/files/MATH 119 Practice Midterm 1 Key.pdf">Practice Midterm 1 Solution</a></li>
        <li><a href="/static/swrlly/files/MATH 119 Practice Midterm 2.pdf">Practice Midterm 2</a></li>
        <li><a href="https://www.desmos.com/">Online graphing utility (Desmos)</a></li>
        <li><a href="/static/swrlly/files/xmethod.pdf">How to factor</a> $ax^2 + bx + c$</li>
    </ul>

</div>
{% endblock %}