{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="precalculus"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block extraimports %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 118</h1>
    Course content was previously hosted on Canvas. Materials will be updated if I teach this class again.
</div>
{% endblock %}