{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - lectures</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="lectures for math 119"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 119 Interactive Lecture Notes</h1>
    This page contains lecture notes for Math 119, organized by section.
    <h2>Preliminaries</h2><hr>
    
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/1.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">$\mathbb{R}$</div>
            </a>
            <div class="bottomicontext">1.1</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/1.2">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$(ab)^n = a^nb^n$</div>
            </a>
            <div class="bottomicontext">1.2</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/1.3">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$A^2 - B^2$</div>
            </a>
            <div class="bottomicontext">1.3</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/1.4">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">$\dfrac{1}{x+1} - \dfrac{1}{x}$</div>
            </a>
            <div class="bottomicontext">1.4</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/2.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">$f(x)$</div>
            </a>
            <div class="bottomicontext">2.1</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/2.7">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(f\circ g\)</div>
            </a>
            <div class="bottomicontext">2.7</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/2.8">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(f^{-1}(x)\)</div>
            </a>
            <div class="bottomicontext">2.8</div>
        </div>
    </div>
    
    <h2>Chapter 5: Trigonometric Functions - Unit Circle Approach</h2><hr>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/5.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="large-center-text-over-image">$\bigcirc$</div>
            </a>
            <div class="bottomicontext">5.1</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/5.2">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">$\sin(x)$</div>
            </a>
            <div class="bottomicontext">5.2</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/5.3">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$a\sin(k(x-b))$</div>
            </a>
            <div class="bottomicontext">5.3</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/5.4">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$a\tan(k(x-b))$</div>
            </a>
            <div class="bottomicontext">5.4</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/5.5">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$\sin^{-1}(x)$</div>
            </a>
            <div class="bottomicontext">5.5</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/5.6">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">$a \sin \omega t$</div>
            </a>
            <div class="bottomicontext">5.6</div>
        </div>
    </div>

    <h2>Chapter 6: Trigonometric Functions: Right Triangle Approach</h2><hr>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/6.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">$s = r\theta$</div>
            </a>
            <div class="bottomicontext">6.1</div>  
        </div>
        <div class="iconcontainer">   
            <a href="/teaching/math-119/lectures/6.2">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="large-center-text-over-image">$\vartriangle$</div>
            </a>
            <div class="bottomicontext">6.2</div>
        </div>
    </div>

    <h2>Chapter 7: Analytic Trigonometry</h2><hr>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/7.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">$\sin^2 t + \cos^2 t = 1$</div>
            </a>
            <div class="bottomicontext">7.1</div>  
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/7.2">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$\sin(s + t)$</div>
            </a>
            <div class="bottomicontext">7.2</div>  
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/7.3">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">$\sin 2x = 2\sin x \cos x$</div>
            </a>
            <div class="bottomicontext">7.3</div>  
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/7.4">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$2\sin\theta - 1 = 0$</div>
            </a>
            <div class="bottomicontext">7.4</div>  
        </div>
    </div>

    <h2>Chapter 8: Polar Coordinates and Parametric Equations</h2><hr>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/8.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$(r, \theta)$</div>
            </a>
            <div class="bottomicontext">8.1</div>  
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/8.2">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$r = \cos \theta$</div>
            </a>
            <div class="bottomicontext">8.2</div>  
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/8.4">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">\begin{align} x &= \sqrt{t} \\ y &= t + 2 \end{align}</div>
            </a>
            <div class="bottomicontext">8.4</div>  
        </div>
    </div>

    <h2>Chapter 11: Conic Sections</h2><hr>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/11.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$x^2 = 4py$</div>
            </a>
            <div class="bottomicontext">11.1</div>  
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/11.2">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$\dfrac{x^2}{a^2} + \dfrac{y^2}{b^2} = 1$</div>
            </a>
            <div class="bottomicontext">11.2</div>  
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/11.3">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$\dfrac{x^2}{a^2} - \dfrac{y^2}{b^2} = 1$</div>
            </a>
            <div class="bottomicontext">11.3</div>  
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/11.4">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">\begin{align}Ax^2 &+ Cy^2 + \\ Dx &+ Ey + F = 0\end{align}</div>
            </a>
            <div class="bottomicontext">11.4</div>  
        </div>
    </div>

</div>
{% endblock %}