{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - lectures</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="lectures for math 119"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 119 Interactive Lecture Notes</h1>
    This page contains lecture notes for Math 119, organized by section.
    <h2>Preliminaries</h2>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/preliminaries">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">$A \cup B$</div>
            </a>
            <div class="bottomicontext">Basics</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/2.7">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(f\circ g\)</div>
            </a>
            <div class="bottomicontext">2.7</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/2.8">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(f^{-1}(x)\)</div>
            </a>
            <div class="bottomicontext">2.8</div>
        </div>
    </div>
    <h2>Chapter 5: Trigonometric Functions - Unit Circle Approach</h2>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/5.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="large-center-text-over-image">$\bigcirc$</div>
            </a>
            <div class="bottomicontext">5.1</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/5.2">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">$\sin(x)$</div>
            </a>
            <div class="bottomicontext">5.2</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-119/lectures/5.3">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$a\sin(k(x-b))$</div>
            </a>
            <div class="bottomicontext">5.3</div>
        </div>
    </div>

    <!--<h2>Chapter 6: Trigonometric Functions - Right Triangle Approach</h2>
    <p>soon!</p>
    <h2>Chapter 7: Analytic Trigonometry</h2>
    <p>soon!</p>
    <h2>Chapter 8: Polar Coordinates and Parametric Equations</h2>
    <p>soon!</p>
    <h2>Chapter 11: Conic Sections</h2>
    <p>soon!</p>-->

</div>
{% endblock %}