{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - syllabus"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="about this course"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/syllabus"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block centerimport %}{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1 class="teachingheader">Syllabus</h1>
    <h2>Contact</h2><hr>
    <ul>
        <li id="change"></li>
        <li><b>Office Hours</b>: TBD</li>
    </ul>
    <h2>Course Description</h2><hr>
    <p>
    A significant part of this course covers trigonometric functions and fundamental trigonometric identities. In particular, we will understand how trigonometric functions are developed from both a right angle and a unit circle perspective.</p>

    <p>After understanding what trigonometric functions are, we will derive various identities and use them to manipulate and simplify complicated trigonmetric identities.</p>

    <p>The final part of this course will cover polar coordinates, parametric equations, and conic sections.</p>

    <h2>Course Methodology</h2><hr>
    <h4>Textbook</h4>
    <p>We will be using <i>Precalculus, Mathematics For Calculus, 7<sup>th</sup>edition</i> written by James Stewart et al.</p>
    <h4>Lectures</h4>
    <p>Lectures will be typed up, available on <a href="/teaching/math-119">the main page</a>. They will be available at least a day before the class session covering the material. It is a good idea to read through the lecture notes, or even follow along in class!</p>
    <h4>Homework</h4>
    <p>Homework will be posted every Tuesday and due the following Tuesday at the beginning of class. Grading is based on two criteria: completeless and a few problems will be chosen to be graded for completion.</p>
    <h4>Quizzes</h4>
    <p>Quizzes will be in person every Tuesday, except for the first week. They will be held during the last 10-15 minutes of class and will cover the previous week's material. These will be partner quizzes!</p>
    <h4>Exams</h4>
    <p>There will be two midterms and one final exam during finals week. All exams will be cumulative at the date the midterm is given.</p>
    <p>Exam dates:</p>
    <ul>
        <li><b>Midterm 1</b>: Tuesday, October 11</li>
        <li><b>Midterm 2</b>: Tuesday, November 8</li>
        <li><b>Final</b>: Friday, December 9</li>
    </ul>
    <h4>Grading Policy</h4>
    The aforementioned assignments have the following grading breakdown:
    <ul>
        <li>Midterms: 20% each</li>
        <li>Quizzes: 20%, lowest will be dropped</li>
        <li>Homework: 10%</li>
        <li>Final: 30%</li>
    </ul>

    <div class="smallcontainer">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">A</th>
                <th scope="col">A-</th>
                <th scope="col">B+</th>
                <th scope="col">B</th>
                <th scope="col">B-</th>
                <th scope="col">C+</th>
                <th scope="col">C</th>
                <th scope="col">C-</th>
                <th scope="col">D</th>
                <th scope="col">F</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>93-100</td>
                <td>90-93</td>
                <td>87-90</td>
                <td>83-87</td>
                <td>80-83</td>
                <td>77-80</td>
                <td>73-77</td>
                <td>70-73</td>
                <td>60-70</td>
                <td>0-60</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h4>Accessibility</h4>
    <p>Students registed with the DRC should contact me ASAP so we can set up the necessary arrangements.</p>
</div>

<script>
document.getElementById("change").innerHTML = "<b>Instructor</b>: Charlie Liou, " + "c" + "b" + "l" + "i" + "o" + "u" + "@" + "c" + "a" + "l" + "p" + "o" + "l" + "y" + "." + "e" + "d" + "u"
</script>
{% endblock %}