{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - syllabus</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - syllabus"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="about this course"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/syllabus"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1 class="teachingheader">Syllabus</h1>
    <h2>Contact</h2><hr>
    <ul>
        <li id="change"></li>
        <li><b>Office Hours</b>: TBD</li>
    </ul>
    <h2>Course Description</h2><hr>
    <p>
    A significant part of this course covers trigonometric functions and fundamental trigonometric identities. In particular, we will understand how trigonometric functions are developed from both a right angle and a unit circle perspective.</p>

    <p>After understanding what trigonometric functions are, we will derive various identities and use them to manipulate and simplify complicated trigonmetric identities.</p>

    <p>The final part of this course will cover polar coordinates, parametric equations, and conic sections.</p>

    <h2>Course Methodology</h2><hr>
    <h4>Prerequisites</h4>
    <p>The prerequisite for this course is Math 118. For our purpose, this means you need to understand and be able to use all concepts from Chapter 1 and Chapter 2.</p>
    <p>This prerequisite is <b>extremely critical</b> for your success in this class as the content in this class builds on Chapter 1 and 2. <b>If you have not mastered Chapter 1 and 2, you will struggle in this class.</b></p>
    <p>We will have a ungraded pretest on the first day of class to see what gaps exist in your knowledge. Then based on your performance, you will know exactly what concepts you need to go back and review. I will provide the relevant sections and videos to watch to get up to speed for this class!</p>
    
    <h4>Textbook</h4>
    <p>We will be using <i>Precalculus, Mathematics For Calculus, 7<sup>th</sup>edition</i> written by James Stewart et al.</p>
    <h4>Lectures</h4>
    <p>Lectures are held in class. Interactive lecture notes will be typed up, available on <a href="/teaching/math-119/lectures">at this page</a>. These are interactive lecture notes! They will be available at least a day before the class session covering the material. You should read through the lecture notes before class and play with the interactive components. Feel free to follow along in class on any device!
    </p>
    <p>Each lecture has examples with a <span style="color:var(--examplecolor);">Show Solution</span> button. I recommend when you are reading through the notes to try solving the problem on paper, then comparing your solution after. This can help solidify the concept in your mind because you are actively involved, instead of passively reading.</p>
    <h2>Grading</h2><hr>
    <h4>Participation</h4>
    <p>One or two students will be chosen at the beginning of class to answer a question related to the previous lecture. Questions will usually be simple definitions of a concept.</p>
    <h4>Homework</h4>
    <p>Homework will be posted every Tuesday and due the following Tuesday at the beginning of class. Grading is based on two criteria: completeless and a few problems will be chosen to be graded for completion.</p>
    <h4>Quizzes</h4>
    <p>Quizzes will be in person every Tuesday, except for the first week. They will be held during the last 10-15 minutes of class and will cover the previous week's material.</p>
    <h4>Exams</h4>
    <p>There will be two midterms and one final exam during finals week. All exams will be cumulative at the date the midterm is given.</p>
    <p>Exam dates:</p>
    <ul>
        <li><b>Midterm 1</b>: Tuesday, October 11</li>
        <li><b>Midterm 2</b>: Tuesday, November 8</li>
        <li><b>Final</b>: Friday, December 9</li>
    </ul>
    <h4>Grading Policy</h4>
    The aforementioned assignments have the following grading breakdown:
    <ul>
        <li>Participation: 5%</li>
        <li>Homework: 10%</li>
        <li>Quizzes: 20%, lowest will be dropped</li>
        <li>Midterms: 20% each</li>
        <li>Final: 25%</li>
    </ul>

    <div class="smallcontainer">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">A</th>
                <th scope="col">A-</th>
                <th scope="col">B+</th>
                <th scope="col">B</th>
                <th scope="col">B-</th>
                <th scope="col">C+</th>
                <th scope="col">C</th>
                <th scope="col">C-</th>
                <th scope="col">D</th>
                <th scope="col">F</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>93-100</td>
                <td>90-93</td>
                <td>87-90</td>
                <td>83-87</td>
                <td>80-83</td>
                <td>77-80</td>
                <td>73-77</td>
                <td>70-73</td>
                <td>60-70</td>
                <td>0-60</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h4>Academic Integrity</h4>
    <p>Cheating of any form requires, at minimum, a F on the assignment. Let us define what is allowed for each assignment.
        <table class="table" style="max-width: 800px; margin: 1em auto;">
            <thead>
            <tr>
                <th scope="col">Resource</th>
                <th scope="col">Homeworks</th>
                <th scope="col">Quizzes + Midterms + Final</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Me (the professor)</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Course materials (lectures + notes)</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Textbook</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Collaboration with peers</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Online resources (internet + math engines like Photomath)</td>
                <td>No</td>
                <td>No</td>
            </tr>
            </tbody>
        </table>
        <h2>Other Important Information</h2><hr>
        <h4>Accessibility</h4>
        <p>Students registed with the DRC should contact me ASAP so we can set up the necessary arrangements!</p>
        <h4>Office Hours</h4>
        <p>Reading/listening to in-class lectures and reading material on your own is a uni-directional flow of information from the content to you. In order to bi-directional flow of information, such as discussions, you should attend office hours to clear up any questions you have about anything. Doesn't need to be course related :)
        </br><b>Using office hours is an important step in being successful in college.</b> If you need help, don't hesitate to reach out!
        </p>
        </p>
    </div>

</div>

<script>
document.getElementById("change").innerHTML = "<b>Instructor</b>: Charlie Liou, " + "c" + "b" + "l" + "i" + "o" + "u" + "@" + "c" + "a" + "l" + "p" + "o" + "l" + "y" + "." + "e" + "d" + "u"
</script>
{% endblock %}