{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - 3.3</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - lectures"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="3.3: The Chain Rule"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/lectures/3.3"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">
    <h1>3.3: The Chain Rule</h1>

    <h2>Chain Rule</h2><hr>

    <p>How about taking the derivative of a composition of functions?</p>

    <p>Consider $y = h(x) = g(f(x))$. Suppose we let a new variable $u$ exist and $u = f(x)$.</p>

    <p>Then $y = g(f(x)) = g(u)$. Picture:</p>

    <p>We can compute $g'(u)$; it is $\dfrac{dy}{du}$.</p>

    <p>We can also compute $f'(x)$; it is $\dfrac{du}{dx}$.</p>

    <p>How do we put these parts together?</p>

    <div class="math-theorem"> <b style="color:var(--factcolor)">Chain Rule</b><br>
        If $h(x) = g(f(x))$, then \[h'(x) = \dfrac{d}{dx}g(f(x)) = g'(f(x))\cdot f'(x)\] If we write $u = f(x)$, meaning $y = h(x) = g(f(x)) = g(u)$, then \[\dfrac{dy}{dx} = \dfrac{dy}{du}\cdot \dfrac{du}{dx}\]
    </div>

    <p>In other words, $h'(x)$ is the derivative of the outside function evaluated at the inside function, then multiplied by the derivative of inside.</p>

    <div class="math-example">
        Let $F(x) = (3x+1)^2$.
        <ol>
            <li class="lec-list-space">Find $F'(x)$ using the chain rule.</li>
            <li class="lec-list-space">Find $F'(x)$ without using the chain rule.</li>
        </ol>
    </div>

    <div class="math-example">
        Differentiate the following:
        <ol>
            <li class="lec-list-space">$F(x) = \sqrt{x^2 + 1}$</li>
            <li class="lec-list-space">$F(x) = x^2(2x+3)^5$</li>
            <li class="lec-list-space">$F(x) = (2x^2 + 3)^4(3x-1)^5$</li>
            <li class="lec-list-space">$F(x) = \dfrac{1}{(4x^2 - 7)^2}$</li>
        </ol>
    </div>

    <div class="math-example">The membership of your local gym is approximated by the function \[N(t) = 100(64 + 4t)^{2/3} \qquad 0 \leq t \leq 52\] where $N(t)$ gives the number of members at the beginning of week $t$.

        <ol>
            <li class="lec-list-space">Find $N'(t)$.</li>
            <li class="lec-list-space">How fast was the gym's membership increasing initially ($t = 0$)?</li>
        </ol>
    </div>
</div>
{% endblock %}