{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - 1.8</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="1.8: Continuity"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/1.8"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>2.5: Continuity</h1>

    <h2>Continuous Functions</h2><hr>

    <p>In precalculus we learned that continuous functions are functions we can draw the graph of without lifting our pencil.</p>
    <p>In calculus, use the previous sentence as intuition for the next definition:</p>
    
    <div class="math-def"> A function $f$ is <b>continuous at a number</b> $x = a$ if the following conditions are satisfied:
    <ol>
        <li class="lec-list-space">$f(a)$ is defined.</li>
        <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow a}f(x)$ exists.</li>
        <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow a}f(x) = f(a)$.</li>
    </ol>

    <p>If any of these conditions fail, then the function is not continuous.</p>

    </div>

    <p><b>Note:</b> The limit $\lim_{x\rightarrow a}$ doesn't see what happens at $x = a$.</p>

    <p>Continuity is the reason why the limit does equal to the value at $a$.</p>

    <div class="math-example"> 
        <p>Given this graph of a function $f$:</p> <img src="/static/swrlly/images/teaching/2.5cont.PNG" style="max-width:600px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        <p>Where is the function not continuous and why?</p>
    </div>

    <p>
        In general:
        <ol>
            <li>A function $f$ is said to be <b>continuous on an interval</b> if $f$ is continuous on every number in the interval.</li>
            <li>If $f$ is not continuous at $x = a$, it is said to be <b>discontinuous</b> at $x = a$.</li>
        </ol>
    </p>

    <p>To prove a function is continuous at $x = a$, you need to start with $\displaystyle \lim_{x\rightarrow a} f(x)$ and show that limit is equal to the evaluation $f(a)$.</p>

    <div class="math-example">
        Show $f(x) = x^3 + 3x^2$ is continuous at every real number.
    </div>

    <div class="math-example">
        <b>Use the definition of continuity</b> to find out where each of the following functions are discontinuous:
        <ol type="a">
            <li class="lec-list-space">$f(x) = \dfrac{x^2 - x - 2}{x-2}$</li>
            <li class="lec-list-space">$f(x) = \begin{cases}\dfrac{1}{x^2} & x \neq 0 \\ 1 & x = 0\end{cases}$</li>
            <li class="lec-list-space">$f(x) = \begin{cases}\dfrac{x^2-x-2}{x-2} & x \neq 2 \\ 1 & x = 2\end{cases}$</li>
            <li class="lec-list-space">$H(t) = \begin{cases} 0 & t < 0 \\ 1 & t \geq 0 \end{cases}$</li>
        </ol>

        <img src="/static/swrlly/images/teaching/161-2.5-1.PNG" style="max-width:1200px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

    </div>

    <p>A few terminologies:
        <ul>
            <li class="lec-list-space">The discontinuity in (a) is called a <b>removeable discontinuity</b> because you can redefine $f(2)$ to make it continuous, hence removing the discontinuity.</li>
            <li class="lec-list-space">The discontinuity in (b) is called an <b>infinite discontinuity</b>. </li>
            <li class="lec-list-space">The discontinuity in (d) is called a <b>jump discontinuity</b> because the height $H(t)$ suddenly jumps from 0 to 1 when $t$ moves past 0. </li>
        </ul>
    </p>
    
    <p>Notice that $\displaystyle\lim_{t \rightarrow 0+} H(t) = H(0)$. We call this phenomena <b>continuous from the right</b>.</p>

    <div class="math-def">
        A function $f$ is <b>continuous from the right at $x = a$</b> if \[\lim_{x\rightarrow a^+} f(x) = f(a)\] and <b>continuous from the left</b> if \[\lim_{x\rightarrow a^-} f(x) = f(a)\]
    </div>



    <h2>Which Functions are Continuous?</h2><hr>

    <p>Continuity allows us to find limits quickly, just plug in $a$. Let's see what functions are continuous.</p>

    <div class="math-def">
        <p>A <b>polynomial function</b> of degree $n$ is a function of the form \[f(x) = a_nx^n + a_{n-1}x^{n-1} + \cdots + a_2x^2 + a_1x + a_0\qquad a_n \neq 0\]
        where $a_n, a_{n-1},\dots, a_1, a_0 \in \mathbb{R}$.</p>
        <p>A <b>rational function</b> is a function of the form \[r(x) = \dfrac{p(x)}{q(x)}\] where $p(x)$ and $q(x)$ are both polynomials.</p>
    </div>

    <div class="math-fact">
        If $f$ and $g$ are continuous at $a$ and $c$ is a constant, then the following functions are also continuous at $a$:
        <ol>
            <li class="lec-list-space">$f + g$</li>
            <li class="lec-list-space">$f - g$</li>
            <li class="lec-list-space">$cf$</li>
            <li class="lec-list-space">$fg$</li>
            <li class="lec-list-space">$f/g$ if $g(a) \neq 0$</li>
        </ol>
    </div>

    <p>If you take facts 1 and 3, we can create polynomial functions. Including fact 5 gives us rational functions. So in general:</p>

    <div class="math-fact">
        <ol>
            <li class="lec-list-space">A polynomial function $P(x)$ is continuous on any value of $x$.</li>
            <li class="lec-list-space">A rational function $R(x) = p(x)/q(x)$ is continuous on every value of $x$ where $q(x) \neq 0$.</li>
        </ol>
    </div>

    <p>This means if we take any limit of polynomial/rational, instead of limit laws, you can:
        <ol>
            <li>First find the domain of the function.</li>
            <li>Then if $x = a$ is in the domain, just plug it in. Otherwise it might be an indeterminate form, does not exist, or $\pm\infty$ which we have seen how to do in Section 1.5 and 1.6.</li>
        </ol>
    </p>



    <div class="math-example">
        Find \[\lim_{x\rightarrow -2} \dfrac{x^3 + 2x^2 - 1}{5 - 3x}\]
    </div>

    <p>Turns out most of the functions we know about are continuous.</p>

    <div class="math-theorem"> The following functions are continuous at every number <b>in their domains</b>:
        <ol>
            <li class="lec-list-space">polynomials</li>
            <li class="lec-list-space">root functions</li>
            <li class="lec-list-space">exponential functions</li>
            <li class="lec-list-space">rational functions</li>
            <li class="lec-list-space">trigonometric functions</li>
            <li class="lec-list-space">logarithmic functions</li>
        </ol>
    </div>

    <div class="math-example"> Find \[\lim_{x\rightarrow\pi}\dfrac{\sin x}{2 + \cos x}\]</div>

    <div class="math-example"> Where is $\dfrac{\ln x + e^x}{x^2 - 1}$ continuous?</div>

    <div class="math-example"> Where is $h(x) = \sqrt{x} + \dfrac{x+1}{x-1} - \dfrac{x + 1}{x^2 + 1}$ continuous?</div>

    <div class="math-example"> Find \[\lim_{x\rightarrow e} \dfrac{\ln x + e^x}{x^2 - 1}\]</div>

    <p>How about compositions?</p>

    <div class="math-theorem"> If $g$ is continuous at $a$ and $f$ is continuous at $g(a)$, then the composite function $f \circ g$ is continuous at $a$.</div>

    <div class="math-example"> Where are the following functions continuous?
        <ol>
            <li class="lec-list-space">$h(x) = \sin (x^2)$</li>
            <li class="lec-list-space">$F(x) = \dfrac{1}{\sqrt{x^2 + 7} - 4}$</li>
        </ol>
    </div>

    <h2>Intermediate Value Theorem</h2><hr>

    <p>Here is one application of continuity.</p>

    <p>You are driving to Lake Tahoe from San Luis Obispo.</p>

    <p>The distance traveled after $t$ seconds is determined by the function \[f(t) = 4t^2 , \ t \geq 0\] where $f(t)$ is in feet.</p>

    <p>At time $t = 0$, you are at position $f(0) = 0$; you hasn't moved from your starting position.</p>

    <p>At time $t = 10$, you are at position $f(10) = 400$. This means you are 400 feet away from your starting position after 10 seconds.</p>

    <p>This function is continuous on $[0, \infty)$. Intuitively, this means your car cannot suddenly teleport from one location to another.</p>

    <p>As such, if we were to ask "is there a time $t$ where $f(t) = 100$?", the answer must be yes. This is called the <b>Intermediate Value Theorem.</b></p>

    <div class="math-theorem"> <b style="color:var(--factcolor)">Intermediate Value Theorem</b><br>
    
    Suppose $f$ is continuous on $[a, b]$ and let $N$ be any number between $f(a)$ and $f(b)$ where $f(a) \neq f(b)$. Then there exists $c$ in $(a, b)$ such that $f(c) = N$.
    </div>

    <div class="math-theorem"> <b style="color:var(--factcolor)">Existence of Zeros of a Continuous Function</b><br>
    
        If $f$ is a continuous function on a closed interval $[a,b]$ and $f(a)$ and $f(b)$ have opposite signs, then there exists $c \in (a, b)$ where $f(c) = 0$.
    </div>

    <div class="math-example">
        Let $f(x) = 4x^3 - 6x^2 + 3x - 2$.
        <ol>
            <li>Show $f$ is continuous for all $x \in \mathbb{R}$.</li>
            <li>Show there exists at least one $c \in (1,2)$ where $f(c) = 0$.</li>
        </ol>
    </div>

</div>
{% endblock %}