{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - 2.1</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="2.1: Derivatives and Rates of Change"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/2.1"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>2.1: Derivatives and Rates of Change</h1><hr>

    <p>We study a special type of limit called a <b>derivative.</b></p>
    
    <p>This limit is an indeterminate form.</p>

    <h2>Tangents</h2><hr/>

    <p>In <a href="/teaching/math-141/lectures/1.4">Section 1.4</a> we described the intuition behind creating a tangent line.</p>

    <p>We saw it was a limit. Here's the definition:</p>

    <div class="math-def"> 
        The <b>tangent line</b> to the curve $y = f(x)$ at the point $P(a, f(a))$ is the line through $P$ with slope \[m = \lim_{x\rightarrow a}\dfrac{f(x) - f(a)}{x - a}\] if this limit exists.
    </div>

    <div class="math-example">
        Find an equation of the tangent line to the parabola $y = x^2$ at the point $P(1,1)$.
    </div>

    <p>The tangent line limit is an indeterminate form. Here is an animation of the previous example:
        <div id="hide-desmos"><iframe id="desmos-example" style="min-height: 800px;" src="https://www.desmos.com/calculator/kayrpca1fi"></iframe></div>
    </p>

    <p>Notice how the expression $f(x) - f(a)$ approaches $0$ and $x - a$ also approaches 0.</p>

    <p>Because this limit is an indeterminate form, we need to simplify the expression before applying the limit.</p>

    <p>In practice, it's easier to simplify the following equivalent expression of the slope of the tangent line: \[m = \lim_{h \rightarrow 0} \dfrac{f(a + h) - f(a)}{h}\]</p>

    <div class="math-example">
        Find an equation of the tangent line to the hyperbola $y = 3/x$ at the point $(3, 1)$.
    </div>

    <p>The tangent line is sometimes called the <b>slope of the curve</b> because if you zoom in far enough, the curve almost looks like a straight line.</p>

    <h2>Velocities</h2><hr/>

    <p>In <a href="/teaching/math-141/lectures/1.4">Section 1.4</a> we described dropping a ball from the CN tower and defined its velocity to be the "limit" of the average velocities over shorter and shorter time periods.</p>

    <p>Recall that $s = f(t)$ gives the position of an object moving in a straight line $t$ seconds after rest, called the <b>position function</b>.</p>

    <p>Over the time interval $[a, a+h]$, the change in position is $f(a + h) - f(a)$. Thus the average velocity is \[\text{average velocity} = \dfrac{\text{displacement}}{\text{time}} = \dfrac{f(a + h) - f(a)}{h}\]</p>

    <p>But looking at shorter and shorter time periods of the average velocity requires $h \rightarrow 0$. Thus we have the following definition:</p>

    <div class="math-def">
        The <b>instantaneous velocity</b> $v(a)$ at time $t = a$ is the limit of the average velocities \[v(a) = \lim_{h \rightarrow 0} \dfrac{f(a + h) - f(a)}{h}\]
    </div>

    <p>We now redo the problem in 1.4 but with this limit.</p>

    <div class="math-example"> 
        Suppose that a ball is dropped from the upper observation deck of the CN Tower in Toronto, 450 m above the ground. Find the instantaneous velocity of the ball after 5 seconds.
    </div>

    <h2>Derivatives</h2><hr/>

    <p>Notice how the same limit \[\lim_{h\rightarrow 0} \dfrac{f(a + h) - f(a)}{h}\] occurred when we wanted to calculate a "rate of change." This limit appears often enough so we give it a name:</p>

    <div class="math-def">
        The <b>derivative of a function $f$ at a number $a$</b>, denoted by $f'(a)$ is \[f'(a) = \lim_{h\rightarrow 0} \dfrac{f(a+h) - f(a)}{h}\] if this limit exists.
    </div>

    <div class="math-example">
        Find the derivative of the function $f(x) = x^2 - 8x + 9$ at the number $a$.
    </div>

    <p>The slope of the tangent line is the derivative.</p>

    <p>Thus the tangent line to $y = f(x)$ at $(a, f(a))$ is the line through $(a, f(a))$ whose slope is $f'(a)$.</p>

    <p>Using point-slope form you can describe the tangent line at $(a, f(a))$ as \[y - f(a) = f'(a) (x - a)\]</p>

    <div class="math-example">
        Find an equation of the tangent line to the parabola $y = x^2 - 8x + 9$ at the point $(3, -6)$.
    </div>





</div>
{% endblock %}