{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - 2.2</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="2.2: Derivative as a Function"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/2.2"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>2.2: The Derivative as a Function</h1><hr>

    <p>Recall the definition of a derivative at $x = a$:</p>

    <div class="math-def">
        The <b>derivative of a function $f$ at a number $a$</b>, denoted by $f'(a)$, is \[f'(a) = \lim_{h\rightarrow 0} \dfrac{f(a + h) - f(a)}{h}\] if this limit exists.
    </div>

    <p>If we let $a$ be any number in the domain of $f(x)$, we can think of the derivative as a function:</p>

    <div class="math-def">
        The <b>derivative of a function $f$</b>, denoted by $f'(x)$, is \[f'(x) = \lim_{h\rightarrow 0} \dfrac{f(x + h) - f(x)}{h}\] if this limit exists.
    </div>

    <p><b>Functions</b> you know about look like $f(x) = x + 1$, where it has a input-output structure. </p>

    <p>Both input and output are real numbers.</p>

    <p>Because the derivative is a function, the input is a <b>function</b> and the output is also a function!</p>

    <div class="math-example">
        Given this graph 
        <img src="/static/swrlly/images/teaching/161-3.2-1.PNG" style="max-width:450px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        Sketch the derivative.
    </div>

    <div class="math-example"> If $f(x) = x^3 - x$, find $f'(x)$.</div>

    <div class="math-example"> If $f(x) = \sqrt{x}$, find $f'(x)$. Compare their graphs.</div>

    <h2>Differentiability</h2><hr>

    <p>If you let $y = f(x)$, the derivative has many different notations:

        \[f'(x) = y' = \dfrac{dy}{dx} = \dfrac{d}{dx} f(x) = Df(x) = D_xf(x)\]
    </p>

    <div class="math-def"> A function $f$ is <b>differentiable at $a$</b> if $f'(a)$ exists. It is <b>differentiable on an open interval </b> $(a,b)$ if it is differentiable at every number in the interval.</div>

    <div class="math-example">
        Where is the function $f(x) = \lvert x \rvert$ differentiable?
    </div>

    <p>There are three cases when $f'(x)$ does not exist. 

        <img src="/static/swrlly/images/teaching/161-3.2-2.PNG" style="max-width:900px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
    </p>

    <p>How are differentiability and continuity related?</p>

    <div class="math-theorem"> If $f$ is differentiable at $a$, then $f$ is continuous at $a$.</div>

    <p>The reason why this is true (often called a <b>mathematical proof</b>) is in the textbook (page 122); we will omit it here.</p>

    <h2>Higher-Order Derivatives</h2><hr>

    <p>If $f(x)$ is a function, $f'(x)$ is also a function.</p>

    <p>$f'(x)$ might have a derivative of it's own!</p>
    
    <p>To find the second derivative, first find $f'(x)$, then find the derivative of $f'(x)$.</p>

    <p>In general, this extends to the $n$th derivative. Here are common notations for multiple derivatives:

        <ul>
            <li class="lec-list-space">
                $f'(x), f''(x), f'''(x), \cdots, f^{(n)}(x)$
            </li>
            <li class="lec-list-space">
                $D_xf(x), D^2_xf(x), D^3_xf(x), \cdots, D^{(n)}_xf(x)$
            </li>
            <li class="lec-list-space">
                $y', y'', y''', \cdots, y^{(n)}$
            </li>
            <li class="lec-list-space">
                $\dfrac{dy}{dx}, \dfrac{d^2y}{dx^2}, \dfrac{d^3y}{dx^3}, \cdots, \dfrac{d^ny}{dx^n}$
            </li>
        </ul>
    </p>

    <p>The last notation is called <b>Leibniz notation</b>.</p>

    <div class="math-example">
        If $f(x) = x^3 - x$, find $f''(x)$ and interpret the meaning of $f''(x)$.
    </div>

    <p>We can interpret the second derivative as the rate of change of a rate of change.</p>

    <p>A familiar example of a second derivative is <b>acceleration</b>.</p>

    <p>If you have a position function $s(t)$, then we saw $v(t) = s'(t)$ is the velocity.</p>

    <p>The rate of change of velocity is acceleration, or in symbols: \[a(t) = v'(t) = s''(t)\]</p>

    <p></p>

    <!--<div class="math-example"> The metabolic power $P(v)$ (amount of energy required) consumed by humans who run then walk at a speed $v$ is shown below

        <img src="/static/swrlly/images/teaching/161-3.2-3.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

        <ol>
            <li class="lec-list-space">Is $P$ a differentiable function of $v$?</li>
            <li class="lec-list-space">Sketch a graph of $P'(v)$.</li>
        </ol>
    </div>-->

    

</div>
{% endblock %}