{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - 2.4</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="2.4: Derivatives of Trigonometric Functions"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/2.4"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>2.4: Derivatives of Trigonometric Functions</h1><hr>

    <p>We are interested in finding the derivative of trigonometric functions.</p>

    <div class="math-fact">
        \[\dfrac{d}{dx} (\sin x) = \cos x \qquad \qquad \dfrac{d}{dx}(\cos x) = -\sin x\]
    </div>

    <h2>Trigonometric Functions</h2>

    <p>We can use the quotient rule to find derivatives of the trigonometric functions.</p>
    
    <div class="math-example"> Differentiate the following:
        <ol>
            <li class="lec-list-space">
                $f(x) = \tan(x)$
            </li>
            <li class="lec-list-space">
                $f(x) = \csc(x)$
            </li>
        </ol>
    </div>

    <div class="math-example">
        An object hanging from a vertical spring is compressed upwards 4 centimeters from rest and released at $t = 0$. The position of the object at time $t$ is \[s = f(t) = 4\cos t\]
        Find the velocity and acceleration at time $t$.
    </div>

    <div class="math-example"> Find the 27th derivative of $f(x) = \cos x$.</div>

</div>
{% endblock %}


















