{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - 2.6</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="2.6: Implicit Differentiation"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/2.6"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h2>2.6: Implicit Differentiation</h2><hr>

    <p>This section explores how to take the derivative of <b>implicit equations</b>.</p>

    <h2>Differentiating Implicitly</h2><hr>

    <p>Thus far, we have been given functions in the form $y = f(x)$, such as 
        \[
        y = x^2 \qquad
        y = \dfrac{t + 1}{t-1} \qquad
        y = \sqrt{36 - x}\]
    </p>

    <p>These functions are in <b>explicit form</b>, meaning the dependent variable is in the form $y = f(x)$, where $y$ is isolated and the other side is independent variables.</p>

    <p>Not all functions are of the form $y = f(x)$. Consider \[x^2y + y - x^2 + 1 = 0\] In thi form, $y$ is not explicitly a function of $x$, meaning $y$ is not isolated on one side. We call this an <b>implicit equation</b>.</p>

    <p>Sometimes it is possible to convert an implicit equation into an explicit equation. From above we see that
        \begin{align}
        x^2y + y - x^2 + 1 &= 0 \\
        y(x^2 + 1) &= x^2 - 1 \\
        y &= \dfrac{x^2 - 1}{x^2 + 1}
        \end{align}
    
    and we have converted the implicit equation into an <b>explicit equation</b>.</p>

    <p>This is not always possible. Consider \[y^4 - y^3 - y + 2x^3 - x = 8\]
        There is no way to isolate a single $y$ on one side.
    </p>

    <p>In this case, we want to assume we can take $y = f(x)$ under suitable conditions. These suitable conditions usually mean to force the implicit equation to pass the vertical line test by chopping it up into multiple functions:
        <div id="hide-desmos"><iframe id="desmos-example" src="https://www.desmos.com/calculator/iukguwp6ao"></iframe></div>
    </p>

    <p>Finding the derivative of an implicit equation is called <b>implicit differentiation</b>.</p>

    <div class="math-example"> Given $y^2 = x$, find $\dfrac{dy}{dx}$.</div>

    <p>In general:</p>

    <div class="math-fact"> <b style="color:var(--factcolor)">Finding $\dfrac{dy}{dx}$ with Implicit Differentiation</b>
    <ol>
        <li class="lec-list-space">
            Apply $\dfrac{d}{dx}$ to both sides.
        </li>
        <li class="lec-list-space">
            Use the chain rule on terms involving $y$.
        </li>
        <li class="lec-list-space">
            Differentiate terms involving $x$ normally.
        </li>
        <li class="lec-list-space">
            Solve the equation for $\dfrac{dy}{dx}$.
        </li>
    </ol></div>

    <div class="math-example"> Given \[y^3 - y + 2x^3 - x = 8\] find $\dfrac{dy}{dx}$.</div>

    <div class="math-example"> Given $x^2 + y^2 = 4$:
        <ol>
            <li class="lec-list-space">Find $\dfrac{dy}{dx}$ using implicit differentiation.</li>
            <li class="lec-list-space">Find the slope of the tangent line at $(1, \sqrt{3})$ in the above graph.</li>
        </ol>
    </div>

    <p>Sometimes we need to use the product rule on terms involving both $x$ and $y$, such as $x^2y^3$.</p>

    <div class="math-example"> Find $\dfrac{dy}{dx}$ for the following equation \[x^2y^3 + 6x^2 = y + 12\]</div>

    <p>The next two problems involves product and chain rules.</p>

    <div class="math-example"> Find the tangent line to the equation \[x^3 + y^3 = 6xy\] at $(3,3)$.</div>

    <div class="math-example"> Find $dy/dx$ for the equation \[\sqrt{xy} = x + y\]
        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            First, convert the square root into an exponent. Applying $\dfrac{d}{dx}$ gives 
            \begin{align}
            \dfrac{d}{dx}\left[(xy)^{\frac{1}{2}}\right] &= \dfrac{d}{dx}\left[x + y\right]
            \\\dfrac{1}{2}(xy)^{-\frac{1}{2}}\cdot \dfrac{d}{dx}[xy] &= \dfrac{d}{dx}[x] + \dfrac{d}{dx}[y] 
            \\\dfrac{1}{2}(xy)^{-\frac{1}{2}}(x\dfrac{d}{dx}[y] + y \dfrac{d}{dx}[x]) &= 1 + 1\cdot \dfrac{dy}{dx} 
            \\\dfrac{1}{2}(xy)^{-\frac{1}{2}}(x\cdot 1\cdot \dfrac{dy}{dx} + y\cdot 1) &= 1 + \dfrac{dy}{dx}
            \\\dfrac{1}{2}(xy)^{-\frac{1}{2}}x\dfrac{dy}{dx} + \dfrac{1}{2}(xy)^{-\frac{1}{2}}y &= 1 + \dfrac{dy}{dx}
            \\\dfrac{1}{2}(xy)^{-\frac{1}{2}}x\dfrac{dy}{dx} - \dfrac{dy}{dx} &= 1 - \dfrac{1}{2}(xy)^{-\frac{1}{2}}y
            \\\dfrac{dy}{dx}\left(\dfrac{1}{2}(xy)^{-\frac{1}{2}}x - 1\right) &= 1 - \dfrac{1}{2}(xy)^{-\frac{1}{2}}y
            \\\dfrac{dy}{dx} &= \dfrac{1 - \dfrac{1}{2}\frac{1}{(xy)^{1/2}}y}{\dfrac{1}{2}\frac{1}{(xy)^{1/2}}x - 1}
            \\\dfrac{dy}{dx} &= \dfrac{1 - \dfrac{y}{2\sqrt{xy}}}{\dfrac{x}{2\sqrt{xy}} - 1}\cdot{\color{yellow} \dfrac{2\sqrt{xy}}{2\sqrt{xy}}}
            \\\dfrac{dy}{dx} &= \dfrac{2\sqrt{xy} - y}{x - 2\sqrt{xy}}
            \end{align}
        </div>
    </div>
 

</div>
{% endblock %}


















