
{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - 2.5</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="2.5: The Chain Rule"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/2.5"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h2>Related Rates</h2><hr>

    <p>Imagine pumping air into a balloon.</p>

    <p>Two quantities are changing with respect to time.: the volume and the radius of the balloon.</p>

    <p>It is easier to measure the rate of change of volume due to being able to measure how much air you are pumping in.</p>

    <p>It is not as easy to measure the rate of change of the radius with respect to time.</p>

    <p><b>Related rates</b> problems are typically in the above setup. The rate of change of one quantity is easier to measure, and that rate will also tell us something about the harder to measure rate of change.</p>

    <p>In general, two quantities $x$ and $y$ will depend on a third quantity $t$. Given $dx/dt$, can we find $dy/dt$?</p>

    <div class="math-fact"> <b style="color:var(--factcolor)">Solving related rates problems</b><br>

        <ol>
            <li class="lec-list-space">
                Assign a variable to each quantity that are <b>functions of time</b>. Draw a diagram to help you if needed.
            </li>
            <li class="lec-list-space">Write out the given information and the required rate in terms of derivatives.</li>
            <li class="lec-list-space">If no equation is given, write an equation that relates the various quantities of the problem.</li>
            <li class="lec-list-space">Implicitly differentiate both sides of the equation with respect to time.</li>
            <li class="lec-list-space">If necessary, use the information given to eliminate variables from the original equation with substitution.</li>
            <li class="lec-list-space">Solve for the unknown rate.</li>
        </ol>
    </div>

    <div class="math-example"> 
        Air is being pumped into a spherical balloon so that it volume increases at a rate of 100 cm$^3$/s. How fast is the radius of the balloon increasing when the diameter is 50 cm?
    </div>

    <div class="math-example"> 
        When the diameter of a spherical tumor is 16mm it is growing at a rate of 0.4 mm a day. How fast is the volume of the tumor changing at that time?
    </div>

    <div class="math-example"> At a distance of 4000 feet from the launch site, a spectator is observing a rocket being launched. If the rocket lifts off vertically and is rising at a speed of 600 feet/second when it is at an altitude of 3000 feet, how fast is the distance between the rocket and the spectator changing at that instant?</div>

    </div>

</div>
{% endblock %}

