


{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - 3.3</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - lectures"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="3.3: How Derivatives Affect the Shape of a Graph"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/3.3"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">
    <h1>3.3: How Derivatives Affect the Shape of a Graph</h1><hr>

    <p>Goals:
        <ul>
            <li>Find out what the first derivative $f'(x)$ tells us about $f(x)$, and </li>
            <li>Find out what the second derivative $f''(x)$ tells us about $f(x)$.</li>
        </ul>
    </p>

    <h2>What $f'(x)$ tells us about $f(x)$</h2><hr>

    <div class="math-def">
        A function is <b>increasing</b> on an interval $(a, b)$ if for any two numbers $x_1$ and $x_2$ in $(a, b)$, we have $f(x_1) < f(x_2)$ whenever $x_1 < x_2$. <br>
        A function is <b>decreasing</b> on an interval $(a, b)$ if for any two numbers $x_1, x_2 \in (a, b)$, we have $f(x_1) > f(x_2)$ whenever $x_1 < x_2$.
    </div>
    
    <p>The derivative tells us exactly where a function is increasing and decreasing.</p>
    
    <div class="math-fact"> <b style="color:var(--factcolor)">Increasing/Decreasing Test</b>
        <ol>
            <li class="lec-list-space">
                If $f'(x) > 0$ for $x \in (a, b)$ then $f$ is increasing on $(a, b)$.
            </li>
            <li class="lec-list-space">
                If $f'(x) < 0$ for $x \in (a, b)$ then $f$ is decreasing on $(a, b)$.
            </li>
        </ol>
    </div>

    <p>To use the I/D Test, first find critical numbers, then check signs of $f'(x)$ between critical numbers. This works since the derivative may change sign only when you move past a critical number.</p>
    
    <div class="math-example"> Find intervals where $f(x) = x^2$ is increasing.</div>

    <div class="math-example"> Determine the intervals where \[f(x) = x + \dfrac{1}{x}\] is increasing/decreasing.</div>

    <div class="math-example"> Find where the function $f(x) = 3x^4 - 4x^3 - 12x^2 + 5$ is increasing or decreasing.</div>

    <p>In the previous section we were concerned with finding absolute extrema. How about local extrema?</p>

    <div class="math-fact"> <b style="color:var(--factcolor)">The First Derivative Test</b>

        Suppose $c$ is a critical number of a <b>continuous function</b> $f$.

        <ol>
            <li class="lec-list-space">If $f'$ changes from positive to negative at $c$, then $f$ has a local maximum at $c$.</li>
            <li class="lec-list-space">If $f'$ changes from negative to positive at $c$, then $f$ has a local minimum at $c$.</li>
            <li class="lec-list-space">If $f'$ changes doesn't change sign at $c$, then $f$ has no local maximum or minimum at $c$.</li>
        </ol>
    
    </div>

    <p>Using the First Derivative Test is the same method as the I/D Test. <b>Just make sure the function is continuous.</b></p>

    <div class="math-example"> Find the local minimum and local maximum values for the previous function.</div>

    <div class="math-example"> Find the local minimum and local maximum values for the function $f(x) = x^4 - 4x^3$.</div>

    <h2>What $f''(x)$ tells us about $f(x)$</h2><hr>

    <p>The second derivative also tells us more information about a function.</p>

    <div class="math-def"> 
        A graph is <b>concave up</b> on an interval $I$ if all of the tangent lines lie below the graph on $I$. A graph is <b>concave down</b> on an interval $I$ if all of the tangents lie above the graph on $I$.<br>
    </div>

    <div class="math-def">
        An <b>inflection point</b> is a point $P$ on the graph of $f(x)$ where 
        <ol>
            <li>$f(x)$ is continuous at that point and</li>
            <li>the curve changes from concave up to concave down or vice versa.</li>
        </ol>
    </div>

    <div class="math-fact"> <b style="color:var(--factcolor)">Concavity Test</b>

        <ul>
            <li class="lec-list-space">
                If $f''(x) > 0$ for all $x$ in an interval $I$, then the graph of $f$ is concave upward on $I$.
            </li>
            <li class="lec-list-space">
                If $f''(x) < 0$ for all $x$ in an interval $I$, then the graph of $f$ is concave downward on $I$.
            </li>
        </ul>

    </div>

    <p>To use the Concavity Test, we employ a similar method as I/D Test:

        <ol>
            <li>Solve $f''(x) = 0$ and find where $f''(x)$ does not exist. Save these numbers. </li>
            <li>Create a sign diagram of the <b>second derivative</b> $f''(x)$ by putting numbers from step 1 on a real number line, creating intervals. Then plug in numbers from each interval into $f\ ''(x)$.</li>
        </ol>
    </p>

    <div class="math-example"> Find the intervals of concavity for the function $f(x) = x^4 - 4x^3$.</div>

    <p><b>Warning</b>: It is not necessary for all solutions of $f''(x) = 0$ to be inflection points.
    </p>

    <p>This is similar to the critical number case where $f'(x)$ DNE; you may have not found a local maximum or minimum and found a vertical tangent instead.</p>

    <div class="math-example"> Find the intervals of concavity for the function $f(x) = x^4 - x$.</div>

    <div class="math-example"> Find the intervals of concavity for the function \[g(x) = \tan x, \quad x \in \left(-\dfrac{\pi}{2}, \dfrac{\pi}{2}\right)\]</div>

    <div class="math-example">
        Sketch a possible graph of a function which satisfies the following:
        <ul>
            <li>$f(0) = 0, \ f(2) = 3, \ f(4) = 6, \ f'(0) = f'(4) = 0$</li>
            <li>$f'(x) > 0$ for $0 < x < 4 \ , f'(x) < 0$ for $x < 0$ and $x > 4$</li>
            <li>$f''(x) > 0$ for $x < 2 \ , f''(x) < 0$ for $ x > 2$.</li>
        </ul>
    </div>

    <p>$f''(x)$ can also be used to find local minimums and maximums. The framework is similar to the First Derivative Test:
        
        <ul>
            <li>Find potential locations of local extrema (critical numbers).</li>
            <li>Use $f''(x)$ to determine if the location contains a local minimum or maximum.</li>
        </ul>
    </p>

    <div class="math-fact"> <b style="color:var(--factcolor)">Second Derivative Test</b><br>

        Suppose $f''(x)$ is continuous near $c$.

        <ol>
            <li class="lec-list-space">If $f'(c) = 0$ and $f''(c) > 0$, then $f$ has a local minimum at $c$.</li>
            <li class="lec-list-space">If $f'(c) = 0$ and $f''(c) < 0$, then $f$ has a local maximum at $c$.</li>
            <li class="lec-list-space">If $f'(c) = 0$ and $f''(c) = 0$, the test is inconclusive. Test the critical number with the First Derivative Test instead.</li>
        </ol>

    </div>

    <div class="math-example"> Find all local minimums and maximums for the function $f(x) = x^4 - 4x^3$ using the Second Derivative Test.</div>
    
    <div class="math-example"> Find all local minimums and maximums for the function $f(x) = -x^4 + 2x^2 + 2$ using the Second Derivative Test.</div>
    

</div>
{% endblock %}