{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - 3.4</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="3.4: Limits of Functions at Infinity"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/3.4"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>3.4: Limits of Functions at Infinity</h1>

    <p>In <a href="/teaching/math-141/lectures/1.5">Section 1.5</a> we looked at when a limit is infinity (vertical asymptotes).
    </p>

    <p>We now look at a limit at infinity, or when the limiting variable increases or decreases without bound.</p>

    <h2>Definition of a Limit at Infinity</h2><hr>

   <div class="math-def"> 
    <p>The function $f$ has the limit $L$ as $x$ increases without bound (meaning $x\rightarrow \infty$), written as \[\lim_{x\rightarrow \infty}f(x) = L\] if $f(x)$ can be made arbitrarily close to $L$ by taking $x$ large enough.</p>

    <p>Similarly, the function $f$ has the limit $M$ as $x$ decreases without bound (meaning $x\rightarrow -\infty$), written as \[\lim_{x\rightarrow -\infty}f(x) = M\] if $f(x)$ can be made arbitrarily close to $M$ by taking $x$ to be a sufficiently large negative number.</p>
    </div>

    <p>If $L$ or $M$ from above exist, then $f(x)$ has a horizontal asymptote.</p>

   <div class="math-example"> Given this function $f(x)$ <img src="/static/swrlly/images/teaching/161-2.2-1.PNG" style="max-width:350px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
    find $\displaystyle\lim_{x\rightarrow \infty} f(x)$ and $\displaystyle\lim_{x\rightarrow -\infty} f(x)$
    </div>

    <div class="math-example">
        Find these limits: \[\lim_{x\rightarrow \infty} \dfrac{1}{x} \qquad \lim_{x\rightarrow -\infty} \dfrac{1}{x}\]
    </div>

    <div class="math-theorem"> For all $n > 0$, we have \[\lim_{x\rightarrow \infty} \dfrac{1}{x^n} = 0 \qquad \text{and} \qquad \lim_{x\rightarrow-\infty}\dfrac{1}{x^n} = 0\] if $\frac{1}{x^n}$ is defined.</div>

    <p>You can quickly verify this because there exist horizontal asymptotes for any value of $n$. </p>

    <p>Limit laws also hold for limits at infinity. For example: \[\lim_{x\rightarrow\infty}[f(x) + g(x)] = \lim_{x\rightarrow\infty}f(x) + \lim_{x\rightarrow\infty}g(x)\]</p>

    <div class="math-example"> Find the following limits:
    <ol>
        <li class="lec-list-space">$\displaystyle\lim_{t\rightarrow \infty}\dfrac{8t}{1 + 4t^2}$</li>
        <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow\infty}\left(\sqrt{x^2 + 1} - x\right)$</li>
        <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow\infty}\sin x$</li>
        <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow \infty} \sin \dfrac{1}{x}$</li>
        <li class="lec-list-space">
            $\displaystyle\lim_{x\rightarrow \infty} \dfrac{\sqrt{2x^2 + 1}}{3x - 5}$

            <br/><button class="math-btn">Show Solution</button>
            <div class="math-solution">
                The largest power term of $x$ in the denominator is $x$. Because $x\rightarrow \infty$, $x$ is growing without bound, so $x$ must be positive.

                Recalling that \[\sqrt{x}\cdot \dfrac{1}{x} = \sqrt{x}\cdot\sqrt{\dfrac{1}{x^2}} = \sqrt{x\cdot \dfrac{1}{x^2}}\] by the Laws of Exponents #4, we use this move in the numerator:

                \begin{align}
                \lim_{x\rightarrow \infty} \dfrac{\sqrt{2x^2 + 1}}{3x - 5} &=  \lim_{x\rightarrow \infty} \dfrac{\dfrac{\sqrt{2x^2 + 1}}{x}}{\dfrac{3x - 5}{x}}
                \\&=  \lim_{x\rightarrow \infty} \dfrac{\sqrt{\dfrac{2x^2 + 1}{x^2}}}{3 - \dfrac{5}{x}}
                \\&= \dfrac{\displaystyle \lim_{x\rightarrow \infty} \sqrt{2 + \dfrac{1}{x^2}}}{\displaystyle \lim_{x\rightarrow \infty} \left(3 - \dfrac{5}{x}\right)}
                \\&=  \dfrac{\sqrt{\displaystyle \lim_{x\rightarrow \infty} 2 + \lim_{x\rightarrow\infty} \dfrac{1}{x^2}}}{\displaystyle \lim_{x\rightarrow \infty} 3 - 5\lim_{x\rightarrow \infty} \dfrac{1}{x}}
                \\&= \dfrac{\sqrt{2 + 0}}{3 - 5 \cdot 0} 
                \\&= \dfrac{\sqrt{2}}{3}
                \end{align}
            </div>


        </li>
    </ol>
    </div>

    <h2>Infinite Limits at Infinity</h2><hr>

    <p>The notation $\lim_{x\rightarrow\infty}f(x) = \infty$ means the values of $f(x)$ become large as $x$ becomes large. </p>
        
    <p>Note that $\infty$ is not a number; it is used to represent a specific characteristic about $f(x)$.</p>

    <div class="math-example"> Find the following limits:

        <ol>
            <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow\infty}x^3$</li>
            <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow-\infty}x^3$</li>
            <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow\infty}(x^2 - x)$</li>
            <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow\infty}\dfrac{x^2 + x}{3 - x}$</li>
        </ol>
    </div>




</div>
{% endblock %}