{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - 3.4</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="3.4: Limits of Functions at Infinity"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/3.4"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>3.9: Antiderivatives</h1><hr>

    <p>If you had a function $s = f(t)$ representing distance traveled, the derivative $f'(t)$ gives you velocity. What if you knew $f'(t)$ and wanted to find $f(t)$?</p>

    <p>In this situation, $f(t)$ is called an <b>antiderivative of $f'(t)$</b>. The definition follows. </p>

    <div class="math-def">
        A function $F$ is called an <b>antiderivative of $f$</b> on an interval $I$ if $F'(x) = f(x)$ for all $x \in I$.
    </div>

    <div class="math-example">
        Find three different antiderivatives for $f(x) = x^2$.
    </div>

    <p>Recall this corollary from the Mean Value Theorem:</p>

    <div class="math-notxt"> <b style="color:var(--lavender)">Corollary:</b>
        If $f'(x) = g'(x)$ for all $ x \in (a, b)$, then $f - g$ is constant on $(a, b)$, that is, \[f(x) = g(x) + c\] where $c$ is a constant.
    </div>

    <p>This tells us all antiderivatives of $f(x)$ must only differ by a constant:</p>

    <div class="math-theorem">
        If $F$ is an antiderivative of $f$ on an interval $I$, then the most general antiderivative of $f$ on $I$ is \[F(x) + C\]
        where $C$ is an arbitrary constant.
    </div>

    <div class="math-example">
        Find the most general antiderivative of the following functions:
        <ol>
            <li class="lec-list-space">$f(x) = x^2$</li>
            <li class="lec-list-space">$f(x) = \sin x$</li>
            <li class="lec-list-space">$f(x) = x^n, \ n \geq 0$</li>
            <li class="lec-list-space">$f(x) = x^2$</li>
        </ol>
    </div>

    <div class="math-example">
        Find all functions $g(x)$ where \[g'(x) = 4\sin x + \dfrac{2x^5 - \sqrt{x}}{x}\]
    </div>

    Sometimes you will need to find the constant $C$ in $f(x)$. In order to find $C$, you will need an additional piece of information to solve for $C$. Such a situation may come up later in your mathematical career and problems of this form are called <b>differential equations</b> (these are equations involving the derivatives of a function).
    
    <div class="math-example"> 
        Find $f$ if $f'(x) = x\sqrt{x}$ and $f(1) = 2$.
    </div>

    <!--<div class="math-example"> 
        Find $f$ if $f''(x) = 12x^2 + 6x - 4$ and $f(0) = 4, \ f(1) = 1$.
    </div>-->



</div>
{% endblock %}