{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - 4.1</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="4.1: The Mean Value Theorem"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/4.1"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>4.1: Areas and Distances</h1>

    <p>We are now in a position to talk about the integral.</p>

    <p>First, let's discover what the formula for the integral depends on.</p>

    <p>Before we do so, we need to discuss sigma notation.</p>

    <p>Suppose you would like to add \[1 + 2 + 3 + 4 + 5 + \cdots + 100\]

        You can compactly represent this sum in <b>sigma notation</b>: \[1 + 2 + 3 + 4 + \cdots + 100 = \sum^{100}_{i = 1} i\]

        <ul>
            <li>The $i$ below the sigma is called the index.</li>
            <li>The number above the sigma is where $i$ should stop.</li>
        </ul>
    </p>

    <div class="math-example">
        Evaluate the following sums:
        <ol type="a">
            <li class="lec-list-space">$\displaystyle \sum^{5}_{i = 1}(-1)^i\cdot i</li>
            <li class="lec-list-space">If $f(x) = x$, $\displaystyle \sum^{5}_{i = 1}i\cdot f(i)</li>
        </ol>
    </div>

    <h2>The Distance Problem</h2><hr>

    <h2>The Area Problem</h2><hr>


</div>
{% endblock %}