{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - 4.1</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="4.1: Areas and Distances"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/4.1"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">

    <h1>4.1: Areas and Distances</h1><hr>

    <p>We are now in a position to talk about the integral.</p>

    <p>First, let's discover what the formula for the integral depends on.</p>

    <p>Before we do so, we need to discuss sigma notation.</p>

    <h2>Sigma Notation</h2><hr>

    <p>Suppose you would like to add \[1 + 2 + 3 + 4 + 5 + \cdots + 100\]

        You can compactly represent this sum in <b>sigma notation</b>: \[1 + 2 + 3 + 4 + \cdots + 100 = \sum^{100}_{i = 1} i\]

        <ul>
            <li>The $i$ below the sigma is called the index.</li>
            <li>$i$ is typically a natural number, and increases by 1 until it is equal to the number above the sigma.</li>
        </ul>
    </p>

    <div class="math-example">
        Evaluate the following sums:
        <ol type="a">
            <li class="lec-list-space">$\displaystyle \sum^{5}_{i = 1}(-1)^i\cdot i$</li>
            <li class="lec-list-space">$\displaystyle \sum^{5}_{i = 1}i\cdot f(i)$ given that $f(x) = x$.</li>
        </ol>
    </div>

    <h2>The Distance Problem</h2><hr>

    <p>In calculus, the <b>distance problem</b> is finding the total distance traveled over a time period if you know the velocity at all time periods.</p>

    <div class="math-example">
        You are driving at 75 miles per hour. How far have you traveled after two hours?
    </div>

    <p>This example shows two things:
        <ol>
            <li>From velocity, we found distance. Sounds like an antiderivative (we started with $f'(x)$ and found $f(x)$)!</li>
            <li>The calculation utilized the area underneath the graph and between the $x$-axis.</li>
        </ol></p>

    <h2>The Area Problem</h2><hr>

    <p>In calculus, the <b>area problem</b> is finding the area underneath the curve and between the $x$-axis for a given function.</p>

    <p>The previous problem had straight lines. But this "area underneath the curve" also works for curved lines.</p>

    <h3>Step 1: Approximation With Rectangles</h3>

    <div class="math-example">
        Estimate the area between the graph and the $x$-axis of the function \[f(x) = x^2, \ \ [0, 1]\] using four rectangles and right endpoints for rectangle height.
    </div>

    <div class="math-example">
        Estimate the area between the graph and the $x$-axis of the function \[f(x) = x^2, \ \ [0, 1]\] using four rectangles and left endpoints (for rectangle height).
    </div>

    <h3>Step 2: Use More Rectangles!</h3>

    <p>Here is the previous problem animated when using the <b>left endpoints</b> for the heights:
        <div id="hide-desmos"><iframe id="desmos-example" src="https://www.desmos.com/calculator/y2rt91gwyw"></iframe></div>
    </p>

    <p>Notice how the approximation gets better and better as we use more and more rectangles.</p>
    
    <p>Consider $n$ to be the <b>number of rectangles</b>. Then in our previous sum we need to incorporate $\displaystyle\lim_{n\rightarrow \infty}$!</p>

    <div class="math-example">
        For $f(x) = x^2$ on $[0, 1]$, use $n$ rectangles and right endpoints.
    </div>

    <p>This limit of sums of rectangles gives the exact area underneath the curve.</p>

    <p>In our example, the exact area underneath the curve of $f(x) = x^2$ on $[0, 1]$ is the expression \[\lim_{n\rightarrow \infty} \dfrac{1}{n^3} \sum^n_{i = 1} i^2\]</p>

    <p>In general</p>

    <div class="math-def">
        The area that lies underneath the graph of the function $f(x)$ on the interval $[a, b]$ is the limit of the sum of the approximating rectangles:
        \begin{align}
        A &= \lim_{n\rightarrow \infty} \left[f(x_1)\Delta x + f(x_2)\Delta x + \cdots + f(x_n) \Delta x\right]
        \\&= \lim_{n\rightarrow \infty} \sum^n_{i = 1}f(x_i)\Delta x
        \end{align}

        where 
        <ul>
            <li>$\Delta x$ is the width of one rectangle, or $\Delta x = \dfrac{b - a}{n}$</li>
            <li>$x_i$ is the right endpoint of the $i$th rectangle, where $x_i = a + i\cdot\Delta x$</li>
        </ul>

        <img src="/static/swrlly/images/teaching/141-4.1-1.png" style="max-width:600px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

    </div>
    <p>This limit sum formula is called the <b>definite integral</b>. <a href="/teaching/math-141/lectures/4.2">See the next section.</a></p>


</div>
{% endblock %}