{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - 4.1</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="4.1: The Mean Value Theorem"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/4.1"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>4.2: The Definite Integral</h1>



</div>
{% endblock %}