{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 10</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 10"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="Homework 10"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/hw10"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 10</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>

    <ol>

        <li class="hw-space">If I have a polynomial $P(x)$ and I divide it by $x - c$, is the remainder $P(c)$?</li>
        <li class="hw-space">If I have a polynomial $P(x)$ and $P(c) = 0$, is $x - c$ is a factor?</li>
        <li class="hw-space">If I have a polynomial $P(x)$ and $x - c$ is a factor, is $P(c) = 0$?</li>
        <li class="hw-space">Two polynomials $P$ and $D$ are given. Use long division to divide $P(x)$ by $D(x)$ and express $P$ in the form \[P(x) = D(x)\cdot Q(x) + R(x)\]
            <ol type="a">
                <li class="hw-space">$P(x) = x^4 + 2x^3 - 10x, \qquad D(x) = x - 3$</li>
                <li class="hw-space">$P(x) = 18x^5 - 9x^4 + 3x^2 - 3, \qquad D(x) = 3x^2 - 3x + 1$</li>
            </ol>
        </li>

        <li class="hw-space">Divide the following polynomials using long division. Write your answer as $P(x) = D(x) \cdot Q(x) + R(x)$.
            <ol type="a">
                <li class="hw-space">$\dfrac{4x^3 + 2x^2 - 2x - 3}{2x + 1}$</li>
                <li class="hw-space">$\dfrac{x^6 + x^4 + x^2 + 1}{x^2 + 1}$</li>
            </ol>
        </li>

        <li class="hw-space">If I divide $x^3 + 3x^2 - 7x + 6$ by $x - 2$, what is the remainder? You can either justify with the Remainder Theorem or long division.</li>
        <li class="hw-space">If \[x^{201} - 2x^{199} + x^{52} - 2x^{32} + 3x + 1\] is divided by $x - 1$, what is the remainder?</li>
        <li class="hw-space">Show the number $c = -2$ is a zero of the polynomial $P(x) = x^3 + 2x^2 - 9x - 18$ by using the Factor Theorem.</li>

        <li class="hw-space">What is the definition of a complete factorization? In particular, what does a complete factorization depend on?</li>

        <li class="hw-space">Given the polynomial \[P(x) = x^{3}-x^{2}+2x-2\]
            <ol type="a">
                <li class="hw-space">Find a complete factorization over $\mathbb{R}$.</li>
                <li class="hw-space">Find a complete factorization over $\mathbb{C}$.</li>
            </ol>
        </li>

        <li class="hw-space">Given $P(x) = x^3 - 3x^2 + 3x - 1$:
            <ol type="a">
                <li class="hw-space">Show $c = 1$ is a zero of $P(x)$.</li>
                <li class="hw-space">Find a complete factorization of $P(x)$ over $\mathbb{R}$.</li>
            </ol>
        </li>
        <li class="hw-space">Given $P(x) = x^3 - x^2 - 11x + 15$:
            <ol type="a">
                <li class="hw-space">Show $c = 3$ is a zero of $P(x)$.</li>
                <li class="hw-space">Find a complete factorization of $P(x)$ over $\mathbb{R}$.</li>
            </ol>
        </li>

        <li class="hw-space">Find a <b>complete factorization over $\mathbb{C}$</b> of the following polynomials. Some zeros will be given. If not given, use factoring techniques from 1.3.
            <ol type="a">
                <li class="hw-space">$P(x) = x^2 + 25$</li>
                <li class="hw-space">$P(x) = x^2 + 2x + 2$</li>
                <li class="hw-space">$P(x) = x^3 - 7x^2 + 17x - 15,\qquad x = 3$ is a zero</li>
                <li class="hw-space">$P(x) = x^5 + x^3 + 8x^2 + 8$</li>
                <li class="hw-space">$P(x) = x^3 - x - 6, \qquad x = 2$ is a zero</li>
                <li class="hw-space">$P(x) = x^5 - 16x$</li>
                <li class="hw-space">$P(x) = 2x^3 - 8x^2 + 9x - 9, \qquad x = 3$ is a zero</li>
                <li class="hw-space">$P(x) = x^3 + 7x^2 + 18x + 18, \qquad x = -3$ is a zero</li>
                <li class="hw-space">$P(x) = x^5 + 6x^3 + 9x$</li>
                <li class="hw-space">$P(x) = x^3 - x^2 + x$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose a polynomial $P(x)$ has real coefficients. For example \[x^3 + 5x^2 - 8x + 1\] has all real coefficients but \[x^4 - ix^2 + 3 + i\] does not.

            If a polynomial has real coefficients, then if $P(x)$ factors as $(x - i)Q(x)$, what other factor must be present in $P(x)$?
        </li>



        <!--
        <li class="hw-space">
            Express the equation in exponential form:
            <ol type="a">
                <li class="hw-space">$\log_35 = x$</li>
                <li class="hw-space">$\log_381 = 4$</li>
                <li class="hw-space">$\ln(x-1) = 4$</li>
                <li class="hw-space">$\ln(x^2 - x - 2) = 3$</li>
            </ol>
        </li>

        <li class="hw-space">Evaluate the expression:
            <ol type="a">
                <li class="hw-space">$\log_22$</li>
                <li class="hw-space">$\log_636$</li>
                <li class="hw-space">$\log_{10}\sqrt{10}$</li>
                <li class="hw-space">$\log_{49}7$</li>
                <li class="hw-space">$\log_77^{10}$</li>
                <li class="hw-space">$\ln(1/e)$</li>
                <li class="hw-space">$e^{\ln3}$</li>
                <li class="hw-space">$\ln e^4$</li>
                <li class="hw-space">$\log_51$</li>
            </ol>
        </li>

        <li class="hw-space">Use the definition of the logarithm to find $x$.
            <ol type="a">
                <li class="hw-space">$\log_3 x = -2$</li>
                <li class="hw-space">$\log_x16 = 4$</li>
                <li class="hw-space">$\ln e^2 = x$</li>
                <li class="hw-space">$\log_x6 = \dfrac{1}{2}$</li>
                <li class="hw-space">$\ln x = -1$</li>
            </ol>
        </li>

        <li class="hw-space">Explain why $f(x) = \ln(x - 3)$ is horizontally shifted to the left three units from $g(x) = \ln x$.</li>

        <li class="hw-space">Use transformations to sketch the following:
            <ol type="a">
                <li class="hw-space">$f(x) = \ln(-x)$</li>
                <li class="hw-space">$f(x) = - \ln(- x - 2)$</li>
            </ol>
        </li>

        <li class="hw-space">State which of the following are true or false:
            <ol type="a">
                <li class="hw-space">$\ln 3x = \ln 3 + \ln x$</li>
                <li class="hw-space">$\ln(3 + x) = \ln 3 + \ln x$</li>
                <li class="hw-space">$\ln(x(x-1)) = \ln x + \ln (x - 1)$</li>
                <li class="hw-space">$\ln x^2 = 2\ln x$</li>
                <li class="hw-space">$(\ln x)^2 = 2\ln x$</li>
                <li class="hw-space">$\log_2(x - 3) = \log_2 x - \log_2 3$</li>
                <li class="hw-space">$\ln\left(\dfrac{x}{x - 1}\right) = \ln x - \ln (x - 1)$</li>
            </ol>
        </li>

        <li class="hw-space">Use Laws of Logarithms to evaluate the expression without a calculator:
            <ol type="a">
                <li class="hw-space">$\log 5 + \log 20$</li>
                <li class="hw-space">$\log_5 \sqrt{5}$</li>
                <li class="hw-space">$\log_2 60 - \log_2 15$</li>
                <li class="hw-space">$\log_4 16^{100}$</li>
                <li class="hw-space">$\ln (\ln e^{e^{200}})$</li>
            </ol>
        </li>

        <li class="hw-space">Expand these logarithms using Laws of Logarithms:
            <ol type="a">
                <li class="hw-space">$\log_3 4x^2$</li>
                <li class="hw-space">$\ln \sqrt{ab}$</li>
                <li class="hw-space">$\ln \dfrac{3x^2}{(x - 1)^4}$</li>
                <li class="hw-space">$\ln \sqrt[3]{\dfrac{a}{b + 2}}$</li>
                <li class="hw-space">$\log_7 ab^2$</li>
                <li class="hw-space">$\ln(\ln(x)\ln(y))$</li>
            </ol>
        </li>

        <li class="hw-space">Find the solution of the exponential equation. Write your answer as a number unless the logarithm is not easy to evaluate.
            <ol type="a">
                <li class="hw-space">$5^{x - 1} = 125$</li>
                <li class="hw-space">$5^{2x-3} = 1$</li>
                <li class="hw-space">$e^{1-4x} = 2$</li>
                <li class="hw-space">$5^x = 4^{x+1}$</li>
                <li class="hw-space">$e^{2x} - 3e^x + 2 = 0$</li>
                <li class="hw-space">$x^22^x - 2^x = 0$</li>
                <li class="hw-space">$x^2e^x + xe^x - e^x = 0$</li>
            </ol>
        </li>

        <li class="hw-space">Find the solution of the logarithmic equation. Write your answer as a number unless the exponent is not easy to evaluate.
            <ol type="a">
                <li class="hw-space">$\log x + \log(x - 1) = \log(4x)$</li>
                <li class="hw-space">$\ln x = 10$</li>
                <li class="hw-space">$\ln(2 + x) = 1$</li>
                <li class="hw-space">$2\log x = \log 2 + \log(3x - 4)$</li>
                <li class="hw-space">$\log x + \log(x - 3) = 1$</li>
                <li class="hw-space">$\log_2(x^2 - x - 2) = 2$</li>
                <li class="hw-space">$\log_2(\log_3 x) = 4$</li>
            </ol>
        </li>

        <li class="hw-space">How long will it take for an investment
            of $1000 to double in value if the interest rate is 8.5%
            per year, compounded continuously?</li>

        <li class="hw-space">You invest $6500 in an account
            that pays 6% interest per year, compounded continuously.
            <ol type="a">
                <li class="hw-space">What is the APY?</li>
                <li class="hw-space">How long will it take for your investment to double?</li>
            </ol>
        </li>-->
    
    </ol>


</div>
{% endblock %}