{% extends "swrlly/blog.html" %}

{% block title %}<title>swrlly - page not found</title>{% endblock %}

{% block header %}<meta name="description" content="404. Looks like you are lost."> {% endblock %}

{% block content %}
<div class = "container">

    <div class = "parent d-flex justify-content-center align-items-center fade-in-text">
        
        <h1 class = 'title'>404</h1>
        <div style="font-size: 24px;">Looks like you are lost.</div>
    </div>
</div>
{% endblock %}

{% block footer %}
    
{% endblock %}