{% extends "swrlly/index.html" %}

{% block title %}<title>swrlly - page not found</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="404"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="nothing here..."/>
<meta name="description" content="404. Looks like you are lost.">
<meta property="og:url" content="https://swrlly.com/projects"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png" />
{% endblock %}

{% block content %}
<div class = "container">

    <div class = "parent d-flex justify-content-center align-items-center fade-in-text">
        
        <h1 class = 'title'>404</h1>
        <div style="font-size: 24px;">Looks like you are lost.</div>
    </div>
</div>
{% endblock %}

{% block footer %}
    
{% endblock %}