{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 10</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 10 (MW)"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="Homework 10"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/mw/hw10"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 10 (not due for credit)</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>

    <ol>

        <li class="hw-space">State which of the following are true or false:
            <ol type="a">
                <li class="hw-space">$\log_3 4^5 = 5$<br><b>Hint</b> Different bases.</li>
                <li class="hw-space">$\ln 3x = \ln 3 + \ln x$</li>
                <li class="hw-space">$\ln(3 + x) = \ln 3 + \ln x$</li>
                <li class="hw-space">$\ln(x(x-1)) = \ln x + \ln (x - 1)$</li>
                <li class="hw-space">$\ln x^2 = 2\ln x$</li>
                <li class="hw-space">$(\ln x)^2 = 2\ln x$</li>
                <li class="hw-space">$\log_2(x - 3) = \log_2 x - \log_2 3$</li>
                <li class="hw-space">$\ln\left(\dfrac{x}{x - 1}\right) = \ln x - \ln (x - 1)$</li>
            </ol>
        </li>

        <li class="hw-space">Use Laws of Logarithms to evaluate the expression without a calculator:
            <ol type="a">
                <li class="hw-space">$\log 5 + \log 20$</li>
                <li class="hw-space">$\log_5 \sqrt{5}$</li>
                <li class="hw-space">$\log_2 60 - \log_2 15$</li>
                <li class="hw-space">$\log_4 16^{100}$</li>
                <li class="hw-space">$\ln (\ln e^{e^{200}})$</li>
            </ol>
        </li>

        <li class="hw-space">Expand these logarithms using Laws of Logarithms:
            <ol type="a">
                <li class="hw-space">$\log_3 4x^2$ <br><b>Hint</b> $4$ and $x^2$ are factors</li>
                <li class="hw-space">$\ln \left(x^2 (x-1)\right)^3$</li>
                <li class="hw-space">$\ln \dfrac{3x^2}{(x - 1)^4}$</li>
                <li class="hw-space">$\ln \sqrt[3]{\dfrac{a}{b + 2}}$</li>
                <li class="hw-space">$\log_7 ab^2$</li>
                <li class="hw-space">$\ln(\ln(x)\ln(y))$</li>
            </ol>
        </li>

        <li class="hw-space">Combine these logarithms using Laws of Logarithms:
            <ol type="a">
                <li class="hw-space">$\log_4 x + \log_4 (x - 1)$</li>
                <li class="hw-space">$3\ln (x-3) - 2\ln x$</li>
                <li class="hw-space">$\frac{1}{3}\log (2x^2 + 1) - \frac{1}{2}\log(3x - 4)$</li>
            </ol>
        </li>

        <li class="hw-space">Find the solution of the exponential equation. Write your answer as a number unless the logarithm is not easy to evaluate.
            <ol type="a">
                <li class="hw-space">$5^{x - 1} = 125$</li>
                <li class="hw-space">$5^{2x-3} = 1$</li>
                <li class="hw-space">$e^{1-4x} = e^2$</li>
                <li class="hw-space">$5^x = 4^{x+1}$<br><b>Hint</b> Both sides have different bases. First convert $4^{x+1} = 4\cdot 4^x$ and divide both sides by $4^x$.</li>
            </ol>
        </li>

        <li class="hw-space">Find the solution of the logarithmic equation. Write your answer as a number unless the exponent is not easy to evaluate.
            <ol type="a">
                <li class="hw-space">$\log x + \log(x - 1) = \log(4x)$</li>
                <li class="hw-space">$\ln x = 10$</li>
                <li class="hw-space">$\ln(2 + x) = 1$</li>
                <li class="hw-space">$2\log x = \log 2 + \log(3x - 4)$</li>
                <li class="hw-space">$\log x + \log(x - 3) = 1$</li>
                <li class="hw-space">$\log_2(x^2 - x - 2) = 2$</li>
                <li class="hw-space">$\log_2(\log_3 x) = 2$ <br><b>Hint</b> Convert to exponential form twice.</li>
            </ol>
        </li>
    
    </ol>

</div>
{% endblock %}