{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 2 (M/W)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 2 (M/W)"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 2 (M/W)"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/mw/hw2"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 2</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">
            You tried converting $\sqrt[5]{x^3}$ into $x^{\frac{5}{3}}$. Is this wrong?
        </li>

        <li class="hw-space">Simplify the following:
            <ol type="a">
                <li class="hw-space">$16^{\frac{1}{4}}$</li>
                <li class="hw-space">$-8^{\frac{1}{3}}$</li>
                <li class="hw-space">$23^{\frac{2}{3}}\cdot 23^{\frac{1}{3}}$</li>
                <li class="hw-space">$\left(\dfrac{1}{32}\right)^{-\frac{2}{5}}$</li>
            </ol>
        </li>

        <li class="hw-space">Rewrite each root as an exponent and fully simplify.
            <ol type="a">
                <li class="hw-space">$\dfrac{\sqrt[3]{x^2}}{x^{2/3}}$</li>
                <li class="hw-space">$\dfrac{(-3)^4\sqrt{x}}{3^2\sqrt[3]{x}}$</li>
                <li class="hw-space">$\sqrt[4]{16x^8}$</li>
                <li class="hw-space">$\sqrt[4]{x^3}\cdot \sqrt{x}$</li>
                <li class="hw-space">$\dfrac{\sqrt[3]{(2x+1)^2}(x-2)^{2/5}}{\sqrt[4]{(2x+1)^5}}$</li>
            </ol>
        </li>

        <li class="hw-space">
            Your friend tries to simplify an expression. Circle the error and explain to your friend why it is an error.
            \[\left(\dfrac{x}{2(x-1)}\right)^4 = \dfrac{x^4}{2^4(x-1)^4} = \dfrac{x^4}{16(x^4 - 1^4)} = \dfrac{x^4}{16(x^4 - 1)}\]
        </li>

        <li class="hw-space">State whether each pair of expressions are like terms or not.
            <ol type="a">
                <li class="hw-space">$3x^2$ and $4y$</li>
                <li class="hw-space">$3(x-1)x$,  $4x(x-1)$ and $-x(x-1)$</li>
                <li class="hw-space">$-222x^3y$ and $4x^3y$</li>
                <li class="hw-space">$5(x+1)(x+2)$ and $-(x+1)(x+2)$</li>
                <li class="hw-space">$-100(3x-2)(4x^2+3)^2$ and $4(4x^2+3)^2(3x-2)$</li>
            </ol>
        </li>

        <li class="hw-space">When asked to "expand" a problem, what you are converting from and to?</li>

        <li class="hw-space">When subtracting $2$ or more terms, what do you need to not forget around the terms?</li>

        <li class="hw-space">When multiplying $2$ or more terms, what do you need to not forget around the terms?</li>

        <li class="hw-space">Expand and simplify each expression.
            <ol type="a">
                <li class="hw-space">$(2x^2 + 3x) + (3x^3 + 2x)$</li>
                <li class="hw-space">$(2x+1)(3x-2)$</li>
                <li class="hw-space">$(x^2 + 2x + 1)(x-2)$</li>
                <li class="hw-space">$(4x - 3y)(4x + 3y)$</li>
                <li class="hw-space">$2(x + h)^2 - 2x^2$
                    <br><b>Hint</b> $(x+h)^2$ is not equal to $x^2 + h^2$. Expand it properly.
                </li>
                <li class="hw-space">$(x + h) - (x + h)^2$
                    <br><b>Hint</b> Remember that the $- (x+h)^2$ is subtracting $\geq 2$ terms. Expand it properly.
                </li>
                <li class="hw-space">$2x(x-3) - (2x - 1)(x + 2)$</li>
                <li class="hw-space">$2(x + 1)(x - 2) - 3(x + 1)$</li>
                <li class="hw-space">$2(2x-1)^2 - (2x-1)2x$</li>
                <li class="hw-space">$2x(x^2 - 1) - 2x(x^2 + 1)$</li>
            </ol>
        </li>

        <li class="hw-space">If \[f = x^2 - x \qquad g = 2x^3 - x + 1\] Expand the following:
            <ol type="a">
                <li class="hw-space">$f - g$</li>
                <li class="hw-space">$g - f$</li>
                <li class="hw-space">$f \cdot g$</li>
            </ol>
        </li>

        <li class="hw-space">If \[a = x - 1 \qquad b = x + 1 \qquad c = x^2 - 1\] Expand the following:
            <ol type="a">
                <li class="hw-space">$-(a - b)$</li>
                <li class="hw-space">$a\cdot b \cdot c$</li>
                <li class="hw-space">$a^2 - b\cdot c$
                    <br><b>Hint</b> $a^2$ means all of $a$ is squared. So $a^2 = (x-1)^2$.
                </li>
            </ol>
        </li>

        <li class="hw-space">When asked to "factor" a problem, what you are converting from and to?</li>

        <li class="hw-space">Fill in this table:
            <table class="table" style="max-width: 450px; margin: 1em auto;">
                <thead>
                <tr>
                    <th scope="col">Number of Terms</th>
                    <th scope="col">Factoring Methods to Try (in order)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="border-right: 1px solid;">2 terms</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid;">3 terms</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid;">4 terms</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid;">$\geq$ 5 terms</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            
        </li>


        <li class="hw-space">Factor the following expressions.
            <ol type="a">
                <li class="hw-space">$-2x^3 - x^2$</li>
                <li class="hw-space">$4x^2y^3 - 16x^6y^4 + 6xy$</li>
                <li class="hw-space">$2(2x-1)^2 - (2x-1)2x$</li>
                <!--<li class="hw-space">$2x(x^2 - 1) - 2x(x^2 + 1)$</li>-->
                <li class="hw-space">$2(x + 1)(x - 2) - 3(x+2)(x + 1)$</li>
                <li class="hw-space">$(x+3)^2(x-2) - (x+3)(x-2)^2$</li>
                <li class="hw-space">$x^2 + 5x + 6$</li>
                <li class="hw-space">$x^2 + 13x + 12$</li>
                <li class="hw-space">$2x^2 + 7x + 3$</li>
                <li class="hw-space">$(x^2 + 1)^2 - 7(x^2 + 1) + 10$</li>
                <li class="hw-space">$x^2 + 4x + 4$</li>
                <li class="hw-space">$x^2 + 6x + 9$</li>
                <li class="hw-space">$4a^2 - 9b^2$</li>
                <li class="hw-space">$2x^3y + 8x^2y - 2xy - 8y$</li>
                <li class="hw-space">$x^4 - 1$
                    <br><b>Hint</b> Let $A = x^2, B = 1$.
                </li>
                <li class="hw-space">$2x^2yz + 7xyz + 3yz$</li>
            </ol>
        </li>

        <li>When dealing with a fractional expression, what does the word "simplify" mean?</li>

        <li class="hw-space">Completely simplify.
            <ol type="a">
                <li class="hw-space">$\dfrac{4x^2 + 8x - 12}{2x - 2}$</li>
                <li class="hw-space">$\dfrac{x^2 + 2x + 1}{x^2 - 1}$</li>
                <li class="hw-space">$\dfrac{x^2h + 2xh + h}{h}$</li>

                <hr>
                <p><b>The remaining problems will be on next week's homework. Skip for now.</b></p>
                <hr>

                <li class="hw-space">$\dfrac{(x+h)^2 - x^2}{h}$</li>
                <li class="hw-space">$\dfrac{(x+h)^2 - (x + h) - (x^2 - x)}{h}$</li>
                <li class="hw-space">$\dfrac{x^2 + 7x + 12}{x^2 + 3x + 2} \cdot \dfrac{x^2 + 5x + 6}{x^2 + 6x + 9}$</li>
                <li class="hw-space">$\dfrac{2x^2 - x - 6}{4x^2 - 7x + 3} \div \dfrac{2x^2 + 5x + 3}{x^2 - 4x + 3}$</li>
                <li class="hw-space">$x^{-1} + \dfrac{1}{x - 1}$</li>
                <li class="hw-space">$\dfrac{x}{x^2 + 2x + 1} - \dfrac{1}{x + 1}$</li>
                <li class="hw-space">$\dfrac{x - 2}{x^2 + 5x + 6} - \dfrac{x + 2}{x^2 + 4x + 3}$</li>
                
                <!--<hr><p>The rest of these problems will be on next week's homework. Skip for now.</p><hr>
                <li class="hw-space">$2 + \dfrac{1}{x + 3}$</li>
                <li class="hw-space">$\dfrac{1 + \dfrac{1}{x}}{\dfrac{1}{x} - 2}$</li>
                <li class="hw-space">$\dfrac{x^{-1} + y^{-1}}{4}$</li>
            </ol>
        </li>
        <li class="hw-space">A student tries to simplify \[\dfrac{x^{-1} + y^{-1}}{4} = \dfrac{1}{4xy}\] What mistake did the student make?</li>
        <li class="hw-space">A student tries to simplify \[\dfrac{x+3}{x + 2} \cdot 4 = \dfrac{x+3\cdot 4}{x+2} = \dfrac{x+12}{x+2}\] What mistake did the student make?</li>
        <li class="hw-space">Show why $x = 2$ is a solution to the equation \[\dfrac{1}{x} - \dfrac{1}{x-4} = 1\]</li>
        <li class="hw-space">Find all real-valued solutions for the following equations.
            <ol type="a">
                <li class="hw-space">$3x + 4 = 7$</li>
                <li class="hw-space">$2x + 3 = 7 - 3x$</li>
                <li class="hw-space">$x^2 + x - 12  =0$</li>
                <li class="hw-space">$2x^2 = 8$</li>
                <li class="hw-space">$\dfrac{1}{x} = \dfrac{4}{3x} + 1$</li>
                <li class="hw-space">$\dfrac{1}{x-1} + \dfrac{1}{x+2} = \dfrac{5}{4}$</li>
            </ol>
        </li>

        <li class="hw-space">Isolate $x$ in the equation $a(b + cx) + d = e$. Simplify any compound fractions.</li>
        <li class="hw-space">A student tries to isolate $x$ in the equation $(a + b)x = c + d$ by dividing by $a + b$, resulting in \[x = \dfrac{c}{a + b} + d\] What mistake did the student make?
        </li>-->

    </ol>

</div>
{% endblock %}