{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 6 (M/W)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 6 (M/W)"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 6 (M/W)"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/mw/hw6"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 6</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>

        <li class="hw-space">For each red function, write out what the transformation from $f(x)$ should be:
            <img src="/static/swrlly/images/teaching/118-hw5-4.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        </li>

        <li class="hw-space">Graph the following functions using transformations. Include at least two transformed points and ordered of transformations you apply them in for full credit.
            <ol type="a">
                <li class="hw-space">$g(x) = \sqrt{x + 4} - 3$</li>
                <li class="hw-space">$g(x) = -(x-1)^2$</li>
                <li class="hw-space">$g(x) = -2 - \sqrt{-2x + 6}$</li>
                <li class="hw-space">$g(x) = -\lvert-2x - 2\rvert + 4$</li>
                <li class="hw-space">$g(x) = 2(-2x+6)^2 - 1$</li>

            </ol>
        </li>

        <li class="hw-space">Suppose \[f(x) = 2x^2 + x \qquad g(x) = x^2 - x \qquad h(x) = x^2 - 1 \qquad k(x) = x^4\] Evaluate and expand the following:
            <ol type="a">
                <li class="hw-space">$f(x) + g(x) + h(x)$</li>
                <li class="hw-space">$f(x) - g(x)$<br><b>Hint</b> Look at how many terms you are substituting. Don't forget...</li></li>
                <li class="hw-space">$g(x)h(x) - k(x)$</li>
                <li class="hw-space">$f(x)\left[k(x)\right]^2$</li>
                <li class="hw-space">$\dfrac{g(x)}{h(x)}$ (also find the domain).</li>
            </ol>
        </li>

        <li class="hw-space">Consider $f(x) = x^2 -1$ and $g(x) = x^2 + 2x + 1$. We make a new function $h(x) = \dfrac{g(x)}{f(x)}$. 
            <ol type="a">
                <li class="hw-space">Find and simplify the formula for $h(x)$.</li>
                <li class="hw-space">What are the $x$-values of the holes in $h(x)$?</li>
                <li class="hw-space">What is the domain of $h(x)$?</li>
            </ol>
        </li>

        <li class="hw-space"> Suppose \begin{align}f(x) &= (x^2 - 1)^3 \\ f'(x) &= 6x(x^2 - 1)^2 \\ g(x) &= x^2 + 1 \\ g'(x) &= 2x\end{align}

            Evaluate and simplify the following:

            <ol type="a">
                <li class="hw-space">$\dfrac{g'(x)f(x) - f'(x)g(x)}{\left[g(x)\right]^2}$ <br><b>Hint</b> Look at how many terms you are substituting. Don't forget...</li>
                <li class="hw-space">$f'(x)g(x) + f(x)g'(x)$</li>
            </ol>
        </li>

        <li class="hw-space"> 
            Given the functions $f(x) = 2x- 5$ and $g(x) = 3 - x^2$, evaluate the following and fully simplify.
            <br><b>Hint</b> Expand because like terms are created.
            <ol type="a">
                <li class="hw-space">$f\circ g$</li>
                <li class="hw-space">$f(g(0))$</li>
                <li class="hw-space">$g \circ f$ </li>
                <li class="hw-space">$f \circ f$</li>
                <li class="hw-space">$g \circ g$</li>
                <li class="hw-space">$f \circ f \circ f$</li>
            </ol>
        </li>

        <li class="hw-space">Given the following functions $F(x)$, find two functions $f$ and $g$ where $f\circ g  = F$. <br>Choosing $f(x) = x$ or $g(x) = x$ is zero credit for this problem.
        <ol type="a">
            <li class="hw-space">$F(x) = (x-3)^4$</li>
            <li class="hw-space">$F(x) = (2x-3)^{-\frac{1}{2}}$</li>
            <li class="hw-space">$F(x) = \sqrt{1 - \sqrt{x}}$</li>
            <li class="hw-space">$F(x) = \sqrt{(x^2 + 2x + 3)^3}$</li>
        </ol>

        <li class="hw-space">Consider $y = f(x)$, where $x$ is time and $y$ is temperature. If you find the inverse $f^{-1}(x)$, what does the $x$ in the inverse mean?</li>

        <li class="hw-space">Suppose $f$ is <b>not</b> a one-to-one function. Explain what property is violated when we try to define $f^{-1}$.</li>

        <li class="hw-space">Are $f(x)$ and $g(x)$ inverses of each other? Show using the Inverse Function Property.
            <ol type="a">
                <li class="hw-space">$f(x) = x^2, \qquad g(x) = \sqrt{x}$ </li>
                <li class="hw-space">$f(x) = 2 - 5x, \qquad g(x) = \dfrac{2 - x}{5}$ </li>
                <li class="hw-space">$f(x) = \dfrac{1}{x-1}, \qquad g(x) = \dfrac{1 + x}{x}$<br><b>Hint</b> This is a compound fraction. I advise evaluating $f\circ g$ so you only need to deal with the denominator. </li>
            </ol>
        </li>

        <li class="hw-space">The function $f(x) = x^2$ is not one-to-one. What could we restrict the domain to to make $f(x)$ one-to-one? <br><b>Hint</b> Look at the graph. Which part can you delete?</li>

        <li class="hw-space">Find the codomain of the following functions.
            <ol type="a">
                <li class="hw-space">$f(x) = \sqrt{x}$</li>
                <li class="hw-space">$f(x) = x^2 - 77$ <br><b>Hint</b> Transformations.</li>
                <li class="hw-space">$f(x) = \lvert x \rvert + 1$</li>
            </ol>
        </li>

        <li class="hw-space">Find the inverse function of each of the following functions or explain why it is not possible.
        <br><b>Hint</b> Check one-to-one first. Maybe inverse doesn't exist.
            <ol type="a">
                <li class="hw-space">$f(x) = 3x + 5$</li>
                <li class="hw-space">$f(x) = (x-1)^2$</li>
                <li class="hw-space">$f(x) = \dfrac{x}{x + 2}$</li>
                <li class="hw-space">$f(x) = 4-x^2, \qquad x \geq 0$</li>
                <li class="hw-space">$f(x) = \sqrt{4 - x^2}, \qquad 0 \leq x \leq 2$</li>
                <li class="hw-space">$f(x) = \lvert 3x - 6 \rvert, \qquad x \geq 0$</li>
                <li class="hw-space">$f(x) = 2 + \sqrt{x + 3}$<br><b>Hint</b> Similar technique to solving root equations.</li>
                <li class="hw-space">$f(x) = \dfrac{2x + 4}{x - 7}$</li>
            </ol>
        </li>

        <li class="hw-space">Given this graph of a function: 

            <img src="/static/swrlly/images/teaching/118-hw6-1.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

            find 
            <ol type="a">
                <li class="hw-space">$f^{-1}(2)$</li>
                <li class="hw-space">$f^{-1}(5)$</li>
                <li class="hw-space">$f^{-1}(6)$</li>
            </ol>
            <b>Hint</b> If $f(x) = y$, then $f^{-1}(y) = x$. What is the $y$?
        </li>

        <li class="hw-space"> leave blank, accidentally copied previous problem.
        </li>

        <li class="hw-space">
            Complete the square for the following expressions:
            <ol type="a">
                <li class="hw-space">$f(x) = x^2 - 6x$</li>
                <li class="hw-space">$f(x) = x^2 - 4x + 1$</li>
                <li class="hw-space">$f(x) = -2x^2 - 8x$</li>
                <li class="hw-space">$f(x) = -3x^2 + 6x$</li>
            </ol>
        </li>

        <li class="hw-space">Express the following quadratics in standard form and sketch a rough graph:
            <ol type="a">
                <li class="hw-space">$f(x) = x^2 - 6x$</li>
                <li class="hw-space">
                    $f(x) = 3x^2 - 6x + 1$
                </li>
                <li class="hw-space">
                    $f(x) = x^2 - 8x + 8$
                </li>
                <li class="hw-space">
                    $g(x) = 2x^2 + 8x + 11$
                </li>
            </ol>
        </li>
    </ol>

    


</div>
{% endblock %}