{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 7 (M/W)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 7 (M/W)"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 7 (M/W)"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/mw/hw7"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 7</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>
        <li class="hw-space">Give an example of a polynomial with degree $6$, leading coefficient $-3$, and constant coefficient $-2$.</li>

        <li class="hw-space">Consider a polynomial $P(x)$.
            <ol type="a">
                <li class="hw-space">If $(x+3)$ is a factor of $P(x)$, is $-3$ a zero of $P(x)$?</li>
                <li class="hw-space">If $P(-2) = 0$, is $(x-2)$ a factor of $P(x)$?</li>
                <li class="hw-space">If $x = 2$ is a $x$-intercept of $P(x)$, is $(x-2)$ a factor of $P(x)$?</li>
                <li class="hw-space">If $c$ is a zero of $P(x)$, is $(x+c)$ a factor of $P(x)$?</li>
                <li class="hw-space">If $(x + 1)$ is a factor of $P(x)$, is $x = 1$ a $x$-intercept of $P(x)$?</li>
                <li class="hw-space">If $P(3) = 0$, is $x = 3$ a $x$-intercept of $P(x)$?</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $P(x)$ is a polynomial. What is the domain of $P(x)$?</li>

        <li class="hw-space">Suppose $P(x)$ has end behavior $y\rightarrow -\infty$ as $x \rightarrow \infty$ and $y\rightarrow -\infty$ as $x\rightarrow -\infty$. Describe three possible leading terms for $P(x)$.</li>

        <li class="hw-space">Suppose $P(x)$ has end behavior $y\rightarrow \infty$ as $x \rightarrow \infty$ and $y\rightarrow -\infty$ as $x\rightarrow -\infty$. Describe three possible leading terms for $P(x)$.</li>

        <li class="hw-space">Determine the leading term for the following polynomials:
            <ol type="a">
                <li class="hw-space">$P(x) = 2x(x-2)(x-3)^2$</li>
                <li class="hw-space">$P(x) = -(x-1)(-2x+1)$</li>
                <li class="hw-space">$P(x) = (x-1)(x-2)(x-3)(x-4)(x-5)(x-6)^2$</li>
                <li class="hw-space">$P(x) = -(x-3)^{100}(x-2)^{200}(2x - 1)$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose you're instructed to "Draw a graph of...". What test does the graph need to pass and why?</li>

        <li class="hw-space">Suppose $P(x)$ has zeros $-2$ with multiplicity $3$ and $4$ with multiplicity $2$. Write down a possible algebraic formula for $P(x)$.</li>

        <li class="hw-space">Which graph(s) are graphs of polynomials?
            <img class="img-shadow" style="margin-top: 1rem; max-width: 600px;" src="/static/swrlly/images/teaching/118-hw7-1.svg"/>
        </li>

        <li class="hw-space">Graph the following polynomials by hand using the four step process. Make sure the zeroes, end behavior, and zero multiplicity are displayed correctly.<br> You must show the intermediate work in each step for full credit.
            <ol type="a">
                <li class="hw-space">$P(x) = (x - 1)(x + 2)$</li>
                <li class="hw-space">$P(x) = -x(x-3)(2x+2)$</li>
                <li class="hw-space">$P(x) = (x-1)^2(x+2)^3$</li>
                <li class="hw-space">$P(x) = x^3(x+2)(x-3)^2$</li>
                <li class="hw-space">$P(x) = x^4 - 2x^3 - 8x + 16$</li>
                <li class="hw-space">$P(x) = x^3 - x^2 - 6x$</li>
                <li class="hw-space">$P(x) = x^5 - 9x^3$</li>
                <li class="hw-space">$P(x) = 2x^3 - 2x^2 - 12x$</li>
                <li class="hw-space">$P(x) = -2x^3(2x-4)^2(x+2)^2$</li>
            </ol>
        </li>
    </ol>

    <p>Section 3.3 problems will be on next week's homework.</p>

</div>
{% endblock %}