{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - 11.3</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="11.3: Hyperbolas"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/11.3"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">

    <h1>11.3: Hyperbolas</h1><hr>

    <p>The hyperbola is the last conic section we will study.</p>

    <div class="math-def">
        A <b>hyperbola</b> is the set of all points in the plane where the difference between two fixed points $F_1$ and $F_2$ is a constant. <br>
        The two points $F_1$ and $F_2$ are the <b>foci</b> of the hyperbola.
    </div>

    <img src="/static/swrlly/images/teaching/119-11.3-1.png" style="max-width:300px; margin:1em auto; display:flex; border-radius:10px;"/>

    <h2>Equations and Graphs of Hyperbolas</h2>

    <div class="math-fact">
        The following equations are hyperbolas with center at the origin and the following properties:

        <img src="/static/swrlly/images/teaching/119-11.3-2.png" style="max-width:900px; margin:1em auto; display:flex; border-radius:10px;"/>
    </div>

    <p>To sketch a hyperbola, first sketch the central box and the asymptotes. Then starting at the vertices, sketch each branch of the hyperbola approaching the asymptotes.</p>

    <div class="math-example">
        A hyperbola has the equation \[9x^2 - 16y^2 = 144\] Find the vertices, foci, length of the transverse axis, and asymptotes. Sketch a graph.
    </div>

    <div class="math-example">
        A hyperbola has the equation \[x^2 - 9y^2 + 9 = 0\] Find the vertices, foci, length of the transverse axis, and asymptotes. Sketch a graph.
    </div>

    <div class="math-example">
        A hyperbola has vertices $(\pm 3, 0)$ and foci $(\pm 4, 0)$. Find the equation of the hyperbola.
    </div>

    <div class="math-example">
        A hyperbola has vertices $(0, \pm 2)$ and asymptotes $y = \pm 2x$. Find the equation of the hyperbola.
    </div>

</div>
{% endblock %}
