{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - 8.1</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="8.1: Polar Coordinates"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/8.1"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">
    <h1>8.1: Polar Coordinates</h1><hr>

    <h2>Motivation</h2>

    <p>Our coordinate system (called <b>rectangular coordinates</b>) involves $x$ (left-right movement) and $y$ (up-down movement).</p>

    <p>Instead of $x$ and $y$, we can use <b>distances</b> and <b>directions</b>: start from the origin, and walk in the direction of the point.</p>

    <p>Here's an animation comparing the two coordinate systems for the point $(2, 1)$.</p>

    <div id="hide-desmos"><iframe id="desmos-example" src="https://www.desmos.com/calculator/xl7n3obu0l"></iframe></div>

    <p>Let's define the $r$ and $\theta$. Consider the following point $P$ in the coordinate plane:</p>

    <img src="/static/swrlly/images/teaching/119-8.1.png" style="max-width:400px; margin:1em auto; display:flex; border-radius:10px;"/>

    <p>Point $O$ is usually anchored at the origin. The <b>polar axis</b> is then aligned along the positive $x$-axis.</p>

    <p>Then:
        <ol>
            <li>$r$ is the shortest distance from origin $O$ to $P$ (a straight line)</li>
            <li>$\theta$ is the angle between the polar axis and line segment $\overline{OP}$.</li>
        </ol>
    </p>

    <p>We already know if $\theta$ is positive, rotate counterclockwise. If $\theta$ is negative, rotate clockwise. For $r$:
        <ol>
            <li>If $r$ is positive, then walk in the direction of $\theta$.</li>
            <li>If $r$ is negative, then walk in the opposite direction of $\theta$.</li>
        </ol>
    </p>

    <p>Finally, the new coordinate system is an ordered pair $(r, \theta)$.</p>

    <div class="math-example">
        Plot the following polar coordinates: \[\left(1, \dfrac{3\pi}{4}\right) \qquad \qquad \left(3, -\dfrac{\pi}{6}\right) \qquad \qquad\left(3, 3\pi\right) \qquad \qquad\left(-4, \dfrac{\pi}{4}\right)\]
    </div>

    <div class="math-example">
        Consider the polar coordinate $\left(2, \dfrac{\pi}{3}\right)$
        <ol>
            <li>Graph it.</li>
            <li>Find two other polar coordinate representations with $r < 0$.</li>
        </ol>
    </div>

    <h2>Relationship Between Polar and Rectangular Coordinates</h2><hr>

    <p>How can we convert between $(r, \theta)$ and $(x, y)$? Here's a point with both coordinate systems labeled:</p>

    <img src="/static/swrlly/images/teaching/119-8.1-2.png" style="max-width:400px; margin:1em auto; display:flex; border-radius:10px;"/>

    <p>Note that $\cos \theta = \dfrac{x}{r}$.</p>
    <p>Solving for $x$ gets $x = r\cos \theta$. The equation says plug in $r$ and $\theta$ to get $x$ out.</p>
    <p>So we have:</p>

    <div class="math-fact">
        To convert polar to rectangular coordinates, use \[x = r \cos \theta \qquad \qquad y = r \sin \theta\]

        To convert rectangular to polar coordinates, use \[r^2 = x^2 + y^2 \qquad \qquad \tan \theta = \dfrac{y}{x}, \quad x \neq 0\]
    </div>

    <div class="math-example">
        Convert $\left(4, \dfrac{2\pi}{3}\right)$ into rectangular coordinates.
    </div>

    <div class="math-example">
        Convert $\left(2, -2\right)$ into polar coordinates.
    </div>

    <p><b>Careful</b>: When converting rectangular to polar, $r^2 = x^2 + y^2$ will give you two $r$ values and tangent will respond with two different angles $\theta$.</p>

    <p>Graph the point to determine which pairing of $(r, \theta)$ is appropriate.</p>

    <h2>Polar Equations</h2><hr>

    <p>A polar equation is an equation involving only $r$ and $\theta$'s. For example \[r^3 = r \qquad \qquad r = \theta \qquad \qquad r = 1 - 2\sin \theta\] are all polar equations.</p>

    <div class="math-example">
        Convert $x^2 = 4y$ into polar coordinates.
    </div>

    <div class="math-example">
        Convert the following polar equations into rectangular form:

        \[r = 5\sec \theta \qquad \qquad r = 2\sin \theta \qquad \qquad r = 2 + 2\cos \theta\]
    </div>



</div>
{% endblock %}
