{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 7 (T/TH)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 7 (T/TH)"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 7 (T/TH)"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/tth/hw7"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 7</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>

        <li class="hw-space">Consider $y = f(x)$, where $x$ is time and $y$ is temperature. If you find the inverse $f^{-1}(x)$, what does the $x$ in the inverse mean?</li>

        <li class="hw-space">Suppose $f$ is <b>not</b> a one-to-one function. Explain what property is violated when we try to define $f^{-1}$.</li>

        <li class="hw-space">Are $f(x)$ and $g(x)$ inverses of each other? Show using the Inverse Function Property.
            <ol type="a">
                <li class="hw-space">$f(x) = x^2, \qquad g(x) = \sqrt{x}$ </li>
                <li class="hw-space">$f(x) = 2 - 5x, \qquad g(x) = \dfrac{2 - x}{5}$ </li>
                <li class="hw-space">$f(x) = \dfrac{1}{x-1}, \qquad g(x) = \dfrac{1 + x}{x}$<br><b>Hint</b> This is a compound fraction. I advise evaluating $f\circ g$ so you only need to deal with the denominator. </li>
            </ol>
        </li>

        <li class="hw-space">The function $f(x) = x^2$ is not one-to-one. What could we restrict the domain to to make $f(x)$ one-to-one? <br><b>Hint</b> Look at the graph. Which part can you delete?</li>

        <li class="hw-space">Find the codomain of the following functions.
            <ol type="a">
                <li class="hw-space">$f(x) = \sqrt{x}$</li>
                <li class="hw-space">$f(x) = x^2 - 77$ <br><b>Hint</b> Transformations.</li>
                <li class="hw-space">$f(x) = \lvert x \rvert + 1$</li>
            </ol>
        </li>

        <li class="hw-space">Find the inverse function of each of the following functions or explain why it is not possible.
        <br><b>Hint</b> Check one-to-one first. Maybe inverse doesn't exist.
            <ol type="a">
                <li class="hw-space">$f(x) = 3x + 5$</li>
                <li class="hw-space">$f(x) = (x-1)^2$</li>
                <li class="hw-space">$f(x) = \dfrac{x}{x + 2}$</li>
                <li class="hw-space">$f(x) = 4-x^2, \qquad x \geq 0$</li>
                <li class="hw-space">$f(x) = \sqrt{4 - x^2}, \qquad 0 \leq x \leq 2$</li>
                <li class="hw-space">$f(x) = \lvert 3x - 6 \rvert, \qquad x \geq 0$</li>
                <li class="hw-space">$f(x) = 2 + \sqrt{x + 3}$<br><b>Hint</b> Similar technique to solving root equations.</li>
                <li class="hw-space">$f(x) = \dfrac{2x + 4}{x - 7}$</li>
            </ol>
        </li>

        <li class="hw-space">Given this graph of a function: 

            <img src="/static/swrlly/images/teaching/118-hw6-1.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

            find 
            <ol type="a">
                <li class="hw-space">$f^{-1}(2)$</li>
                <li class="hw-space">$f^{-1}(5)$</li>
                <li class="hw-space">$f^{-1}(6)$</li>
            </ol>
            <b>Hint</b> If $f(x) = y$, then $f^{-1}(y) = x$. What is the $y$?
        </li>

        <li class="hw-space">
            Complete the square for the following expressions:
            <ol type="a">
                <li class="hw-space">$f(x) = x^2 - 6x$</li>
                <li class="hw-space">$f(x) = x^2 - 4x + 1$</li>
                <li class="hw-space">$f(x) = -2x^2 - 8x$</li>
                <li class="hw-space">$f(x) = -3x^2 + 6x$</li>
            </ol>
        </li>

        <li class="hw-space">Express the following quadratics in standard form and sketch a rough graph:
            <ol type="a">
                <li class="hw-space">$f(x) = x^2 - 6x$</li>
                <li class="hw-space">
                    $f(x) = 3x^2 - 6x + 1$
                </li>
                <li class="hw-space">
                    $f(x) = x^2 - 8x + 8$
                </li>
                <li class="hw-space">
                    $g(x) = 2x^2 + 8x + 11$
                </li>
            </ol>
        </li>

        <li class="hw-space">Give an example of a polynomial with degree $6$, leading coefficient $-3$, and constant coefficient $-2$.</li>

        <li class="hw-space">Consider a polynomial $P(x)$.
            <ol type="a">
                <li class="hw-space">If $(x+3)$ is a factor of $P(x)$, is $-3$ a zero of $P(x)$?</li>
                <li class="hw-space">If $P(-2) = 0$, is $(x-2)$ a factor of $P(x)$?</li>
                <li class="hw-space">If $x = 2$ is a $x$-intercept of $P(x)$, is $(x-2)$ a factor of $P(x)$?</li>
                <li class="hw-space">If $c$ is a zero of $P(x)$, is $(x+c)$ a factor of $P(x)$?</li>
                <li class="hw-space">If $(x + 1)$ is a factor of $P(x)$, is $x = 1$ a $x$-intercept of $P(x)$?</li>
                <li class="hw-space">If $P(3) = 0$, is $x = 3$ a $x$-intercept of $P(x)$?</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $P(x)$ is a polynomial. What is the domain of $P(x)$?</li>

        <li class="hw-space">Suppose $P(x)$ has end behavior $y\rightarrow -\infty$ as $x \rightarrow \infty$ and $y\rightarrow -\infty$ as $x\rightarrow -\infty$. Describe three possible leading terms for $P(x)$.</li>

        <li class="hw-space">Suppose $P(x)$ has end behavior $y\rightarrow \infty$ as $x \rightarrow \infty$ and $y\rightarrow -\infty$ as $x\rightarrow -\infty$. Describe three possible leading terms for $P(x)$.</li>

        <li class="hw-space">Determine the leading term for the following polynomials:
            <ol type="a">
                <li class="hw-space">$P(x) = 2x(x-2)(x-3)^2$</li>
                <li class="hw-space">$P(x) = -(x-1)(-2x+1)$</li>
                <li class="hw-space">$P(x) = (x-1)(x-2)(x-3)(x-4)(x-5)(x-6)^2$</li>
                <li class="hw-space">$P(x) = -(x-3)^{100}(x-2)^{200}(2x - 1)$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose you're instructed to "Draw a graph of...". What test does the graph need to pass and why?</li>

        <li class="hw-space">Suppose $P(x)$ has zeros $-2$ with multiplicity $3$ and $4$ with multiplicity $2$. Write down a possible algebraic formula for $P(x)$.</li>

        <li class="hw-space">Which graph(s) are graphs of polynomials?
            <img class="img-shadow" style="margin-top: 1rem; max-width: 600px;" src="/static/swrlly/images/teaching/118-hw7-1.svg"/>
        </li>

        <li class="hw-space">Graph the following polynomials by hand using the four step process. Make sure the zeroes, end behavior, and zero multiplicity are displayed correctly.<br> You must show the intermediate work in each step for full credit.
            <ol type="a">
                <li class="hw-space">$P(x) = (x - 1)(x + 2)$</li>
                <li class="hw-space">$P(x) = -x(x-3)(2x+2)$</li>
                <li class="hw-space">$P(x) = (x-1)^2(x+2)^3$</li>
                <li class="hw-space">$P(x) = x^3(x+2)(x-3)^2$</li>
                <li class="hw-space">$P(x) = x^4 - 2x^3 - 8x + 16$</li>
                <li class="hw-space">$P(x) = x^3 - x^2 - 6x$</li>
                <li class="hw-space">$P(x) = x^5 - 9x^3$</li>
                <li class="hw-space">$P(x) = 2x^3 - 2x^2 - 12x$</li>
                <li class="hw-space">$P(x) = -2x^3(2x-4)^2(x+2)^2$</li>
            </ol>
        </li>
    </ol>

    <p>Section 3.3 problems will be on next week's homework.</p>

</div>
{% endblock %}