{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - 4.5</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - lectures"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="4.5: Exponential and Logarithmic Equations"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures/4.5"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">

    <h1>4.5: Exponential and Logarithmic Equations</h1>

    <p>This section deals with solving equations with exponential and logarithmic functions.</p>

    <h2>Exponential Equations</h2><hr>

    <div class="math-fact"> <b style="color: var(--factcolor);">Solving Exponential Equations</b>
        <ol>
            <li>Isolate the exponential expression.
                <ol type="a"><li>If there are two exponential expressions, put one on each side.</li></ol>
            </li>
            <li>Take the logarithm of each side. Bring down the exponent with Laws of Logarithms.</li>
            <li>Solve for the variable.</li>
        </ol>
    </div>

    <div class="math-example">
        Solve $5^{2x} = 5^{x+1}$.
    </div>

    <!--<div class="math-example">
        Solve $3^{x+2} = 7$.
    </div>-->

    <div class="math-example">
        Solve $e^{3-2x} = 4$.
    </div>

    <h2>Logarithmic Equations</h2><hr>

    <div class="math-fact"> <b style="color: var(--factcolor);">Solving Logarithmic Equations</b>
        <ol>
            <li>Isolate the logarithmic expression (combine with Laws of Logarithms if necessary).
                <ol type="a"><li>If there are two logarithmic expressions, put one on each side.</li></ol>
            </li>
            <li>Write the logarithm in exponential form, or exponentiate both sides with the base.</li>
            <li>Solve for the variable.</li>
        </ol>
    </div>

    <div class="math-example">
        Solve $\log_2(25- x) = 3$.
    </div>

    <div class="math-example">
        Solve $\log(x^2 + 1) = \log(x - 2) + \log(x + 3)$.
    </div>

    <p>Thanks for a good quarter! I wish you the best of luck studying and with your academic career :)</p>
    

</div>
{% endblock %}