{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - 2.4</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="2.4: Limits"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/lectures/2.4"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>2.4: Limits</h1>
    <h2>A First Look</h2><hr>
    <div class="math-example">
        Given the function \[g(t) = \dfrac{4(t^2- 4)}{t - 2}\] what is the value of $g(t)$ when $t$ approaches $2$?
    </div>
    <div class="math-def">
        The function $f$ has the <b>limit</b> $L$ as $x$ approaches $a$, written \[\lim_{x\rightarrow a}f(x) = L\] if the value of $f(x)$ can be made as close to the number $L$ as we please by taking $x$ sufficiently close to <b>but not equal to</b> $a$.
    </div>
    Important: the limit is <b>not equivalent to plugging in / evaluation</b> at $x = a$.
    We saw evaluating values closer and closer to the value we are interested in is one technique in finding limits. We can also use the graph.

    <div class="math-example">
        Let $f(x) = x^3$. Find $\displaystyle\lim_{x \rightarrow 2}f(x)$.
    </div>
    <div class="math-example">
        Let \[g(x) = \begin{cases} x + 2 & x \neq 1 \\ 1 & x = 1 \end{cases}\]
        Find $\lim_{x\rightarrow 1} g(x)$.
    </div>
    <div class="math-example">
        Find the limit of the following functions at the given value of $x$:
        <ol>
            <li class="lec-list-space">$f(x) = \begin{cases} -1 & x < 0 \\ 1 & x \geq 0\end{cases} \ $ at $x = 0$.</li>
            <li class="lec-list-space">$\displaystyle g(x) = \frac{1}{x^2}$ at $x = 0$.</li>
        </ol>
    </div>

    Be careful of using the table and graph. Why:

    <div class="math-example">
        Find the limit of \[f(x) = \cos(x) + \frac{1}{10000}\] at $x = 0$.
    </div>

    We know how to use a table and the graph to find a limit. Let's see some algebraic properties of limits.

    <div class="math-theorem"> <b style="color:var(--factcolor)">Properties of Limits</b></br>

            Suppose \[\lim_{x\rightarrow a} f(x) = L \qquad \lim_{x\rightarrow a} g(x) = M\] and $r$ is a positive constant, $c \in \mathbb{R}$. Then 
         
        <ol>
            <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow a} [f(x)]^r = \left[\lim_{x \rightarrow a}f(x)\right]^r = L^r$ </li>
            <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow a} c\cdot f(x) = c\lim_{x \rightarrow a} f(x) = cL$ </li>
            <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow a} [f(x) \pm g(x)] = \lim_{x\rightarrow a} f(x) \pm \lim_{x\rightarrow a} g(x) = L \pm M$</li>
            <li class="lec-list-space">$\displaystyle\lim_{x \rightarrow a}[f(x)\cdot g(x)] = \left[\lim_{x\rightarrow a}f(x)\right]\cdot\left[\lim_{x\rightarrow a} g(x)\right] = L\cdot M$</li>
            <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow a} \frac{f(x)}{g(x)} = \dfrac{\lim_{x \rightarrow a} f(x)}{\lim_{x \rightarrow a}g(x)} = \frac{L}{M}$ where $M \neq 0$.</li>
        </ol>
    </div>

    <div class="math-example">
        Given these functions <img src="/static/swrlly/images/teaching/2.4 limit law intro.PNG" style="max-width:600px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

        Find <ol>
            <li class="lec-list-space">$\displaystyle \lim_{x \rightarrow -2}  [f(x) + 5g(x)]$</li>
            <li class="lec-list-space">$\displaystyle \lim_{x \rightarrow 1}  [f(x) \cdot g(x)]$</li>
            <li class="lec-list-space">$\displaystyle \lim_{x \rightarrow 2}  \dfrac{f(x)}{g(x)}$</li>
        </ol>
        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            <ol>
                <li class="lec-list-space">From the graphs we can see \[\lim_{x \rightarrow -2} f(x) = 1 \qquad \lim_{x \rightarrow -2} g(x) = -1\]
                So by using the limit laws we see \begin{align}\lim_{x\rightarrow -2} [f(x) + 5g(x)] &= \lim_{x\rightarrow -2} f(x) + \lim_{x\rightarrow -2} [5g(x)]
                \\&= \lim_{x\rightarrow -2} f(x) + 5\lim_{x \rightarrow -2}g(x)
                \\&= 1 + 5\cdot (-1) = -4\end{align}
                </li>
            </ol>
        </div>
    </div>

    Here are five more limit laws that are extremely useful.
    
    <div class="math-theorem"> <b style="color:var(--factcolor)">More Properties of Limits</b></br>

        Suppose $a, c \in \mathbb{R}$ and $n$ is a positive integer.
     
        <ol start="6">
            <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow a} c = c$ </li>
            <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow a} x = a$ </li>
            <li class="lec-list-space">$\displaystyle\lim_{x\rightarrow a} x^n = a^n$</li>
            <li class="lec-list-space">$\displaystyle\lim_{x \rightarrow a}\sqrt[n]{x} = \sqrt[n]{a}$</li>
            <li class="lec-list-space">If $f(x)$ is any function, then $\displaystyle\lim_{x\rightarrow a} \sqrt[n]{f(x)}= \sqrt[n]{\lim_{x \rightarrow a} f(x)}$.</li>
        </ol>
    </div>    

    <b>Note:</b> this says for $n$th roots and powers of $x$, we are allowed to substitute $a$ directly. We will see why this is true in Section 2.5.

    <div class="math-example"> Using the previous fact, find the following limits.
        <ol>
            <li class="lec-list-space">$\displaystyle \lim_{x \rightarrow 2} x^3$</li>
            <li class="lec-list-space">$\displaystyle \lim_{x \rightarrow 4} 5x^{2}$</li>
            <li class="lec-list-space">$\displaystyle \lim_{x \rightarrow 1} (5x^4 - 2)$</li>
            <li class="lec-list-space">$\displaystyle \lim_{x \rightarrow 1} 2x^3\cdot \sqrt{x^2 + 7}$</li>
            <li class="lec-list-space">$\displaystyle \lim_{x \rightarrow 1} \dfrac{2x^2 + 1}{x + 1}$</li>
        </ol>
    </div>

    <h2>First Look at Indeterminate Forms</h2><hr>
    <div class="math-example"> The first problem given in this section is to find \[\lim_{t\rightarrow 2}\dfrac{4(t^2 -4)}{t-2}\]

        Let's try using the limit laws to compute this. We have 
        \begin{align}
        \displaystyle\lim_{t\rightarrow 2}\dfrac{4(t^2 -4)}{t-2} &= \dfrac{\displaystyle\lim_{t\rightarrow 2} 4(t^2 - 4)}{\displaystyle\lim_{t\rightarrow 2} (t-2)}
        \\&= \dfrac{\displaystyle 4  (\lim_{t\rightarrow 2}t^2 - \lim_{t\rightarrow 2}4)}{\displaystyle\lim_{t\rightarrow 2} t-\lim_{t\rightarrow 2}2}
        \\&= \dfrac{4(2^2 - 4)}{2 - 2}
        \\&= \dfrac{0}{0}
        \end{align}

        The result is $0/0$, which we call an <b>indeterminate form</b>, which is different than dividing by zero.
        To deal with these, we employ the following strategy:
    </div>

    <div class="math-fact"> <b style="color:var(--factcolor)"> Strategy for Evaluating Indeterminate Forms</b></br>

        Suppose you want to evaluate $\displaystyle \lim_{x\rightarrow a}f(x)$ but end up with $0/0$. Then:
        
        <ol>
            <li>Replace the original function $f(x)$ with a new function $g(x)$ that takes on the same values as the original function everywhere except at $x = a$. Usually:
                <ol type="a">
                    <li>Cancel out common factors.</li>
                    <li>Rationalize the numerator or denominator.</li>
                </ol>
            </li>
            <li>Find $\displaystyle\lim_{x\rightarrow a} g(x)$ instead.</li>
        </ol>
    </div>

    <div class="math-example"> Find \[\lim_{x\rightarrow 2}\dfrac{4(x^2-4)}{x-2}\]</div>

    <div class="math-example"> Find \[\lim_{h\rightarrow 0}\dfrac{\sqrt{1 + h} - 1}{h}\]</div>

    <h2>Limits at Infinity</h2><hr>

    <div class="math-def"> 
    <p>The function $f$ has the limit $L$ as $x$ increases without bound (meaning $x\rightarrow \infty$), written as \[\lim_{x\rightarrow \infty}f(x) = L\] if $f(x)$ can be made arbitrarily close to $L$ by taking $x$ large enough.</p>

    <p>Similarly, the function $f$ has the limit $M$ as $x$ decreases without bound (meaning $x\rightarrow -\infty$), written as \[\lim_{x\rightarrow -\infty}f(x) = M\] if $f(x)$ can be made arbitrarily close to $M$ by taking $x$ to be a sufficiently large negative number.</p>
    </div>

    <p>The same table and graphs techniques apply. Moreover, if $f(x)$ has a limit at infinity, then $f(x)$ has a horizontal asymptote. Witness:</p>

    <div class="math-example"> Find \[\lim_{x\rightarrow \infty} \dfrac{2x^2}{1 + x^2}\]</div>

    <div class="math-example"> If \[f(x) = \begin{cases} -1 & x < 0 \\ 1 & x\geq 0\end{cases} \qquad g(x) = \dfrac{1}{x^2}\]
    <ol>
        <li>Find $\displaystyle \lim_{x\rightarrow \infty} f(x)$ and $\displaystyle \lim_{x\rightarrow-\infty}f(x)$</li>
        <li>Find $\displaystyle \lim_{x\rightarrow \infty} g(x)$ and $\displaystyle \lim_{x\rightarrow-\infty}g(x)$</li>
    </ol></div>

    <p>We will now look at how to find the limit at infinity of a rational function. First we need two facts. Recall:</p>

    <div class="math-def">
        <p>A <b>polynomial function</b> of degree $n$ is a function of the form \[f(x) = a_nx^n + a_{n-1}x^{n-1} + \cdots + a_2x^2 + a_1x + a_0\qquad a_n \neq 0\]
        where $a_n, a_{n-1},\dots, a_1, a_0 \in \mathbb{R}$.</p>
        <p>A <b>rational function</b> is a function of the form \[r(x) = \dfrac{p(x)}{q(x)}\] where $p(x)$ and $q(x)$ are both polynomials.</p>
    </div>

    <div class="math-theorem"> For all $n > 0$, we have \[\lim_{x\rightarrow \infty} \dfrac{1}{x^n} = 0 \qquad \text{and} \qquad \lim_{x\rightarrow-\infty}\dfrac{1}{x^n} = 0\] if $\frac{1}{x^n}$ is defined.</div>

    <p>If we are interested in a limit at infinity of a rational function, first find the largest power of $x$ in the denominator, let's say $d$. Then, divide each term in the numerator and denominator by $x^d$ and use the limit laws!</p>

    <div class="math-example">
        Find \[\lim_{x\rightarrow \infty}\dfrac{x^2 -x + 3}{2x^3 + 1}\]
    </div>

    <div class="math-example">
        If \[f(x) = \dfrac{2x^3 - 3x^2 + 1}{x^2 + 2x + 4}\]
        find $\displaystyle\lim_{x\rightarrow \infty}f(x)$ and $\displaystyle\lim_{x\rightarrow -\infty}f(x)$.
    </div>

</div>
{% endblock %}