{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - 2.5</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="2.5: One-Sided Limits and Continuity"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/lectures/2.5"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>2.5: One-Sided Limits and Continuity</h1>
    <h2>One-Sided Limits</h2><hr>
    <p>We saw the use of approaching from the left and right to determine if a limit exists. Let's make the notation rigorous under the limit laws.</p>

    <div class="math-def"> <b style="color:var(--lavender)"> One-Sided Limits</b>

        <p>The function $f$ has the <b>right-hand limit</b> $L$ as $x\rightarrow a$ from the right, written \[\lim_{x\rightarrow a^+} f(x) + L\] if $f(x)$ can be made close to $L$ as we please by taking $x$ sufficiently close to and to the right of $a$. </p>

        <p>Similarly, the function $f$ has the <b>left-hand limit</b> $L$ as $x\rightarrow a$ from the left, written \[\lim_{x\rightarrow a^-} f(x) + L\] if $f(x)$ can be made close to $L$ as we please by taking $x$ sufficiently close to and to the left of $a$. </p>
    
    </div>

    <p>Note that the limit laws hold for left and right hand limits as well.</p>

    <p>If left and right hand limits agree, the limit exists:</p>

    <div class="math-theorem"> Let $f(x)$ be a function and $a,b\in \mathbb{R}$ where $b$ is close to $a$. Suppose $f(b)$ is defined, but possibly $f(a)$ is not. Then \[\lim_{x\rightarrow a^+}f(x) = L = \lim_{x\rightarrow a^-}f(x) \qquad \text{if and only if} \qquad  \lim_{x\rightarrow a}f(x) = L\]</div>

    <div class="math-example">Let \[f(x) = \begin{cases} -x & x \leq 0 \\ \sqrt{x} & x > 0 \end{cases}\qquad g(x) = \begin{cases} -1 & x < 0 \\ 1 & x \geq 0 \end{cases}\]
    <ol>
        <li>Show $\lim_{x\rightarrow 0} f(x)$ exists and find the value by using one-sided limits.</li>
        <li>Show $\lim_{x\rightarrow 0} g(x)$ does not exist.</li>
    </ol>
    </div>

    <h2>Continuous Functions</h2><hr>
</div>
{% endblock %}