{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - 3.4</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="3.4: Marginal Functions in Economics"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/lectures/3.4"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>3.4: Marginal Functions in Economics</h1>

    <h2>Cost Functions</h2><hr>

    <p>Let's first define what <b>marginal</b> means.</p>

    <div class="math-example">
        Suppose your refrigerator company calculated a total cost function of \[C(x) = 8000 + 200x - 0.2x^2 \qquad 0 \leq x \leq 400\]

        where $x$ is the number of refrigerators manufactured.
        <ol type="a">
            <li class="lec-list-space">Suppose you have already manufactured 250 refrigerators. How much more does it cost to manufacture the 251st refrigerator?</li>
            <li class="lec-list-space">Find the rate of change of the total cost function with respect to $x$ when $x = 250$.</li>
            <li class="lec-list-space">Compare the numbers in parts (a) and (b).</li>
        </ol>
    </div>

    <p><b>Marginal cost</b> is the cost incurred when producing one additional unit given that you are already at a certain level of operation.</br></p>

    <p>The number given in part (a) is a marginal cost.</p>

    <p>Part (c) showed the derivative evaluated at the certain level of operation is close to the marginal cost.</p>

    <p>This reason is why economists have defined the <b>marginal cost function</b> to be the derivative of the cost function.</p>

    <div class="math-example">
        Sony Elektronics manufactures a portable DVD player. Management determined the daily total cost of producing DVD players (in dollars) is given \[C(x) = 0.0001x^3 - 0.08x^2 + 40x + 5000\]
        <ol>
            <li class="lec-list-space">Find the marginal cost function.</li>
            <li class="lec-list-space">What is the marginal cost when $x = 300$ and $600$.</li>
            <li class="lec-list-space">Interpret the results for part (b).</li>
        </ol>
    </div>

    <h2>Average Cost Functions</h2><hr>

    <p>Instead of looking at the total cost incurred at level $x = a$, we can look at the average cost per unit incurred at level $x = a$.</p>

    <div class="math-def">
        Suppose $C(x)$ is a total cost function. Then the <b>average cost function</b>, denoted $\bar{C}(x)$, is \[\dfrac{C(x)}{x}\]
    </div>

    <p>Naturally, $\bar{C}'(x)$ is the <b>marginal average cost function.</b></p>

    <div class="math-example">
        The total cost function of producing $x$ units of a commodity is given by \[C(x) = 400 + 200x\] dollars.
        <ol>
            <li class="lec-list-space">Which term is the fixed cost? Variable cost?</li>
            <li class="lec-list-space">Find the average cost function $\bar{C}(x)$.</li>
            <li class="lec-list-space">Find the marginal average cost function $\bar{C}'(x)$.</li>
            <li class="lec-list-space">As the number of produced units gets large, what are the economic implications of your results?</li>
        </ol>
    </div>

    <p>Not all average cost functions with behave in such a manner.</p>

    <div class="math-example">
        Again consider Sony Elektronics. Their cost function was \[C(x) = 0.0001x^3 - 0.08x^2 + 40x + 5000\]
        <ol type="a">
            <li class="lec-list-space">Find the average cost function $\bar{C}$.</li>
            <li class="lec-list-space">Find the marginal average cost function $\bar{C}'$. Compute $\bar{C}'(500)$</li>
            <li class="lec-list-space">Here is a graph of $\bar{C}$. 
                <div id="hide-desmos"><iframe id="desmos-example" src="https://www.desmos.com/calculator/zm3kzso3c0"></iframe></div>
                Interpret the behavior of $\bar{C}$ based on (a) and (b).</li>
        </ol>
        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            <ol>
                <li class="lec-list-space">
                    The average cost function is \[\bar{C}(x) = \dfrac{C(x)}{x} = 0.0001x^2 - 0.08x + 40 + \dfrac{5000}{x}\]
                </li>
                <li class="lec-list-space">
                    The marginal average cost function is given by 
                    \[\bar{C}'(x) = 0.0002x - 0.08 - \dfrac{5000}{x^2}\]
                    and \[\bar{C}'(500) = 0.0002 \cdot 500 - 0.08 - \dfrac{5000}{500^2} = 0\]
                </li>
                <li class="lec-list-space">
                    <ol type="a">
                        <li class="lec-list-space">
                            Since $\bar{C}'(500) = 0$, the slope of the tangent line at $x = 500$ is zero. If you look on the graph, this means the average cost decreases until we hit $x = 500$. After 500, it increases again. Since $\bar{C}(x)$ "changes direction" at $x = 500$, this means the minimum average cost is attained when we produce exactly $500$ DVD players.
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>

    <p>We will now define the marginals for revenue and profit function.</p>

    <h2>Revenue and Profit Functions</h2></hr>

    <p>Let's first define what demand is.</p>
    
    <div class="math-def">
        <p>The <b>demand curve</b> is the graph (of a function) with price along the $y$-axis and quantity along the $x$-axis. The graph answers the question "given a certain price, what is the quantity demanded?"</p>
        <p>The <b>demand equation</b> is the function of the graph of the demand curve. It is in the form $p = f(x)$ where $x$ is quantity.</p>
    </div>

    <div class="math-example">
        Here is the graph of an example demand curve \[d(x) = -0.025(x+10)^2 - 0.5(x+10) + 60\]

        <div id="hide-desmos"><iframe id="desmos-example" src="https://www.desmos.com/calculator/uuddvx8zjq"></iframe></div>

        You can see as the demand increases, the price decreases. Or more intuitively, as the price drops, the demand increases.
    </div>

    <p>The revenue function $R(x)$ gives you the total revenue realized from the sale of $x$ units. $R(x)$ can be thought of in the following way: if a company charges $p$ dollars per unit, then \[R(x) = px\]</p>

    <p>The unit selling price $p$ is affected by demand, among other variables. If we simplify our mathematical model of price and ignore the other variables, then by definition \[p = f(x)\] and substituting into $R(x)$ we see that \[R(x) = px = x\cdot f(x)\]</p>

    <p>Similar to the initial example in this section, the <b>marginal revenue</b> gives the revenue realized when another unit is sold given that sales are already at a certain level. By a similar argument (derivative close to marginal), we define the <b>marginal revenue function</b> as $R'(x)$.</p>

    <p>We also define the <b>marginal profit function</b> as $P'(x)$. It is an approximation of the actual profit realized from the sale of the $(x+1)$th unit, assuming the $x$th unit sold.</p>

    <div class="math-example">
        Suppose a loudspeaker system has a demand equation \[p = -0.02x + 400 \qquad 0 \leq x \leq 20000\]
        <ol>
            <li class="lec-list-space">Find the revenue function $R(x)$.</li>
            <li class="lec-list-space">Find the marginal revenue function $R'$.</li>
            <li class="lec-list-space">Compute $R'(2000)$ and interpret the result.</li>
        </ol>
    </div>

    <div class="math-example">
        Suppose further the total cost of producing $x$ units of the loudspeaker system is \[C(x) = 100x + 200000\]
        <ol>
            <li class="lec-list-space">Find the total profit function $P$.</li>
            <li class="lec-list-space">Find the marginal profit function $P'$.</li>
            <li class="lec-list-space">Computer $P'(2000)$ and interpret your result.</li>
        </ol>
    </div>

    <h2>Elasticity of Demand</h2><hr>

    <p>Let's use the concepts in this section to analyze the demand function.</p>

    <p>Recall that the demand function follows the equation $p = f(x)$. For example, \[p = -0.025(x+10)^2 - 0.5(x+10) + 60\]</p>
    <p>If we solve for the quantity $x$ in that equation instead (not always possible), our demand function is $x = f(p)$, meaning plugging in price gives the total quantity demanded. </p>

    <p>Be careful! The axes are switched now.</p>

    <p>Here is an example of such a function:
        <img src="/static/swrlly/images/teaching/3.4 elasticity.PNG" style="max-width:600px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
    </p>

    <p>Let's think about a certain price $p$.</p>

    <p>If $p$ is increased from $p$ to $p+h$ dollars, then the quantity demanded is predicted to drop from $f(p)$ to $f(p+h)$ units.</p>

    <p>The percentage change in the unit price is \[\dfrac{h}{p}\cdot 100 \qquad \qquad \text{think} \qquad \dfrac{\text{change in unit price}}{\text{current price}}\cdot 100\]</p>

    <p>The percentage change in the quantity demanded is \[\dfrac{f(p + h) - f(p)}{f(p)}\cdot 100 \qquad \qquad \text{think} \qquad \dfrac{\text{change in quantity demanded}}{\text{quantity demanded at price }p}\cdot 100\]</p>

    <p>Let's take the ratio of these quantities. We have
        \begin{align}
        \dfrac{\text{percent change in quantity demanded}}{\text{percent change in unit price}} &= \dfrac{\frac{f(p + h) - f(p)}{f(p)}\cdot 100}{\frac{h}{p}\cdot 100}
        \\&= \dfrac{f(p + h) - f(p)}{f(p)}\cdot \dfrac{p}{h}
        \\&= \dfrac{f(p + h) - f(p)}{h}\cdot \dfrac{p}{f(p)}
        \end{align}
        If $f(x)$ is differentiable at $p$ and $h$ is small, then \[\dfrac{f(p + h) - f(p)}{h}\approx f'(p)\]
        so the aforementioned ratio is approximately equal to 
        \[\dfrac{f'(p)}{\frac{f(p)}{p}} \approx \dfrac{pf'(p)}{f(p)}\]
    </p>

    <p>The negative of this quantity is called <b>elasticity of demand</b>.</p>

    <div class="math-def">
        If $f$ is a differentiable demand function $x = f(p)$, then the <b>elasticity of demand</b> at price $p$ is \[E(p) = -\dfrac{pf'(p)}{f(p)}\]
    </div>

    <!--<p>In Chapter 4 we will show the following fact:</p>-->

    <div class="math-example">
        The loudspeaker demand equation is \[p = -0.02x + 400 \qquad 0 \leq x \leq 20000\]
        <ol>
            <li class="lec-list-space">Find the elasticity of demand $E(p)$.</li>
            <li class="lec-list-space">Find $E(100)$ and interpret your result.</li>
            <li class="lec-list-space">Find $E(300)$ and interpret your result.</li>
        </ol>
    </div>

    <div class="math-def">
        The elasticity of demand is said to be
        <ol>
            <li class="lec-list-space"><b>elastic</b> if $E(p) > 1$.</li>
            <li class="lec-list-space"><b>unitary</b> if $E(p) = 1$.</li>
            <li class="lec-list-space"><b>inelastic</b> if $E(p) < 1$.</li>
        </ol>
    </div>

    <div class="math-example">
        From the previous example, is demand elastic, unitary, or inelastic when $p = 100$ and $300$?
    </div>

    <h2>Elasticity and Revenue</h2><hr>

    <p>Elasticity helps us analyze how revenue changes with respect to changes in unit price.</p>

    <p>Recall that if $p = f(x)$, then $R(x) = px = xf(x)$.</p>

    <p>In our formulation, we have $x = f(p)$, so we can rewrite \[R(p) = px = pf(p)\]</p>

    <p>Now taking the derivative with respect to $p$: 
        \begin{align}
        R'(p)= \dfrac{d}{dp}R(p) &= 1\cdot f(p) + pf'(p)
        \\&= 1\cdot f(p) + \dfrac{f(p)}{f(p)}pf'(p)
        \\&= f(p)\left[1 + \dfrac{pf'(p)}{f(p)}\right]
        \\&= f(p)[1 - E(p)]
        \end{align}
    </p>
    
    <p>Consider when demand is elastic when the unit price is set at $a$ dollars. Then $E(a) > 1$, so $1 - E(a) < 0$.</p>

    <p>Because $f(a)$ can never be negative (quantity demanded cannot be negative), the above equation becomes \[R'(a) = f(a)[1 - E(a)] = + \cdot - < 0\]</p>

    <p>This means when demand is elastic at $p = a$, the revenue function $R(p)$ is decreasing at $p = a$.</p>

    <p>In other words, a small unit increase in the unit price results in a decrease of the revenue.</p>

    <div class="math-fact">
        <ol>
            <li class="lec-list-space">
                If demand is elastic at $p$, meaning $E(p) > 1$, then
                <ol type="a">
                    <li class="lec-list-space">
                        increase in the unit price will cause the revenue to decrease.
                    </li>
                    <li class="lec-list-space">decrease in the unit price will cause revenue to increase.</li>
                </ol> 
            </li>
            <li class="lec-list-space">
                If demand is inelastic at $p$, meaning $E(p) < 1$, then 
                <ol type="a">
                    <li class="lec-list-space">
                        increase in the unit price will cause the revenue to increase.
                    </li>
                    <li class="lec-list-space">decrease in the unit price will cause revenue to decrease.</li>
                </ol> 
            </li>
            <li class="lec-list-space">
                If demand is unitary, change in unit price will cause the revenue to stay about the same.
            </li class="lec-list-space">
        </ol>
    </div>

    <div class="math-example">
        From the previous example, if the price is 100 dollars, will raising the unit price slightly cause the revenue to increase or decrease?
    </div>



</div>
{% endblock %}