{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - 3.6</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - lectures"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="3.6: Implicit Differentiation and Related Rates"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/lectures/3.6"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">
    <h1>3.6: Implicit Differentiation and Related Rates</h1>

    <h2>Differentiating Implicitly</h2><hr>

    <p>Thus far, we have been given functions in the form $y = f(x)$, such as 
        \[
        y = x^2 \qquad
        y = \dfrac{x + 1}{x-1} \qquad
        y = \sqrt{36 - x}\]
    </p>

    <p>Not all functions are of the form $y = f(x)$. Consider \[x^2y + y - x^2 + 1 = 0\] In thi form, $y$ is not explicitly a function of $x$, meaning $y$ is not isolated on one side. We call this an <b>implicit equation</b>.</p>

    <p>Sometimes it is possible to convert an implicit equation into an explicit equation. From above we see that
        \begin{align}
        x^2y + y - x^2 + 1 &= 0 \\
        y(x^2 + 1) &= x^2 - 1 \\
        y &= \dfrac{x^2 - 1}{x^2 + 1}
        \end{align}
    
    and we have converted the implicit equation into an <b>explicit equation</b>.</p>

    <p>This is not always possible. Consider \[y^4 - y^3 - y + 2x^3 - x = 8\]
        There is no way to isolate a single $y$ on one side.
    </p>

    <p>In this case, we want to assume we can take $y = f(x)$ under suitable conditions. These suitable conditions usually mean to force the implicit equation to pass the vertical line test by chopping it up into multiple functions:
        <div id="hide-desmos"><iframe id="desmos-example" src="https://www.desmos.com/calculator/iukguwp6ao"></iframe></div>
    </p>

    <p>Finding the derivative of an implicit equation is called <b>implicit differentiation</b>.</p>

    <div class="math-example">Given $y^2 = x$, find $\dfrac{dy}{dx}$.</div>

    <p>In general:</p>

    <div class="math-fact"> <b style="color:var(--factcolor)">Finding $\dfrac{dy}{dx}$ with Implicit Differentiation</b>
    <ol>
        <li class="lec-list-space">
            Apply $\dfrac{d}{dx}$ to both sides.
        </li>
        <li class="lec-list-space">
            Use the chain rule on terms involving $y$.
        </li>
        <li class="lec-list-space">
            Differentiate terms involving $x$ normally.
        </li>
        <li class="lec-list-space">
            Solve the equation for $\dfrac{dy}{dx}$.
        </li>
    </ol></div>

    <div class="math-example"> Given \[y^3 - y + 2x^3 - x = 8\] find $\dfrac{dy}{dx}$.</div>

    <div class="math-example"> Given $x^2 + y^2 = 4$:
        <ol>
            <li class="lec-list-space">Find $\dfrac{dy}{dx}$ using implicit differentiation.</li>
            <li class="lec-list-space">Find the slope of the tangent line at $(1, \sqrt{3})$ in the above graph.</li>
        </ol>
    </div>

    <p>Sometimes we need to use the product rule on terms involving both $x$ and $y$, such as $x^2y^3$.</p>

    <p>Treating $g(x) = x^2$ and $y = f(x)$ shows this is a product.</p>

    <div class="math-example"> Find $\dfrac{dy}{dx}$ for the following equation \[x^2y^3 + 6x^2 = y + 12\]</div>

    <p>Before we look at the next problem, let's look at a faster way to do the chain rule.</p>

    <p>In this class, the situations where we usually need to use the chain rule is when a function is taken to a power, for example \[(2x+5)^5 \qquad \sqrt{4x^2 + 2x + 1} \qquad (4x^5 + 3x^2 + 1)^{6/5}\]
        This means the outside function $g(x) = x^n$ always! Thus:
    </p>

    <div class="math-theorem"> <b style="color:var(--factcolor)">The General Power Rule</b><br> If $f$ is differentiable and $h(x) = [f(x)]^n$, then \[h'(x) = \dfrac{d}{dx}[f(x)]^n = n[f(x)]^{n-1}f'(x)\]</div>



    <p>The next two problems involves using the chain rule, then the product rule.</p>

    <div class="math-example"> Given \[\sqrt{x^2 + y^2} - x^2 = 5\]</div>

    <div class="math-example"> Given \[\sqrt{xy} = x + y\]
        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            First, convert the square root into an exponent. Applying $\dfrac{d}{dx}$ gives 
            \begin{align}
            \dfrac{d}{dx}\left[(xy)^{\frac{1}{2}}\right] &= \dfrac{d}{dx}\left[x + y\right]
            \\\dfrac{1}{2}(xy)^{-\frac{1}{2}}\cdot \dfrac{d}{dx}[xy] &= \dfrac{d}{dx}[x] + \dfrac{d}{dx}[y] 
            \\\dfrac{1}{2}(xy)^{-\frac{1}{2}}(x\dfrac{d}{dx}[y] + y \dfrac{d}{dx}[x]) &= 1 + 1\cdot \dfrac{dy}{dx} 
            \\\dfrac{1}{2}(xy)^{-\frac{1}{2}}(x\cdot 1\cdot \dfrac{dy}{dx} + y\cdot 1) &= 1 + \dfrac{dy}{dx}
            \\\dfrac{1}{2}(xy)^{-\frac{1}{2}}x\dfrac{dy}{dx} + \dfrac{1}{2}(xy)^{-\frac{1}{2}}y &= 1 + \dfrac{dy}{dx}
            \\\dfrac{1}{2}(xy)^{-\frac{1}{2}}x\dfrac{dy}{dx} - \dfrac{dy}{dx} &= 1 - \dfrac{1}{2}(xy)^{-\frac{1}{2}}y
            \\\dfrac{dy}{dx}\left(\dfrac{1}{2}(xy)^{-\frac{1}{2}}x - 1\right) &= 1 - \dfrac{1}{2}(xy)^{-\frac{1}{2}}y
            \\\dfrac{dy}{dx} &= \dfrac{1 - \dfrac{1}{2}\frac{1}{(xy)^{1/2}}y}{\dfrac{1}{2}\frac{1}{(xy)^{1/2}}x - 1}
            \\\dfrac{dy}{dx} &= \dfrac{1 - \dfrac{y}{2\sqrt{xy}}}{\dfrac{x}{2\sqrt{xy}} - 1}\cdot{\color{yellow} \dfrac{2\sqrt{xy}}{2\sqrt{xy}}}
            \\\dfrac{dy}{dx} &= \dfrac{2\sqrt{xy} - y}{x - 2\sqrt{xy}}
            \end{align}
        </div>
    </div>

    <h2>Related Rates</h2><hr>

    <p>Imagine pumping air into a balloon.</p>

    <p>Two quantities are changing with respect to time.: the volume and the radius of the balloon.</p>

    <p>It is easier to measure the rate of change of volume due to being able to measure how much air you are pumping in.</p>

    <p>It is not as easy to measure the rate of change of the radius with respect to time.</p>

    <p><b>Related rates</b> problems are typically in the above setup. The rate of change of one quantity is easier to measure, and that rate will also tell us something about the harder to measure rate of change.</p>

    <p>In general, two quantities $x$ and $y$ will depend on a third quantity $t$. Given $dx/dt$, can we find $dy/dt$?</p>

    <div class="math-example"> 
        Air is being pumped into a spherical balloon so that it volume increases at a rate of 100 cm$^3$/s. How fast is the radius of the balloon increasing when the diameter is 50 cm?
    </div>

    <p>A <b>housing start</b> is the start of construction on a new residential housing unit.
    <a href="https://www.census.gov/construction/nrc/how_the_data_are_collected/soc.html">According to the US Census Bureau</a>, housing starts is estimated from a random sample of 2% of all housing starts.
    </ol>
    </p>

    <div class="math-example">
        The number of housing starts $N(t)$ (in millions of units) is related to the mortgage rate $r(t)$, measured in percent per year, by the equation \[9N^2 + r = 36\]
        What is the rate of change of the number of housing starts with respect to time when the mortgage rate is 11% per year and is increasing at the rate of 1.5% per year?
    </div>

    <div class="math-fact"> <b style="color:var(--factcolor)">Solving related rates problems</b><br>

        <ol>
            <li class="lec-list-space">
                Assign a variable to each quantity that are functions of time. Draw a diagram to help you if needed.
            </li>
            <li class="lec-list-space">Write out the given information and the required rate in terms of derivatives.</li>
            <li class="lec-list-space">If no equation is given, write an equation that relates the various quantities of the problem.</li>
            <li class="lec-list-space">Implicitly differentiate both sides of the equation with respect to time.</li>
            <li class="lec-list-space">If necessary, use the information given to eliminate variables from the original equation with substitution.</li>
            <li class="lec-list-space">Solve for the unknown rate.</li>
        </ol>
    </div>

    <div class="math-def">
        <p>The <b>supply curve</b> is the graph (of a function) with price along the $y$-axis and quantity along the $x$-axis. The graph answers the question "given a certain price, how much of a product/service is an entity willing to make available?"</p>
        <p>The <b>supply equation</b> is the function of the graph of the supply curve. It is in the form $p = f(x)$ where $x$ is quantity.</p>
    </div>

    <div class="math-example">
        Here is the graph of an example supply curve \[p(x) = 0.5\left(3x+\sqrt{5}\sqrt{4+x^{2}}\right)\]

        <div id="hide-desmos"><iframe id="desmos-example" src="https://www.desmos.com/calculator/adguqj8oby"></iframe></div>

        You can see as the supply increases, the price increases. Or more intuitively, as the price increases, the entity is more willing to make more units available.
    </div>

    <div class="math-example"> 
        A company is willing to make $x$ thousand flash drives available on the marketplace each week if the price is $\$p$ per drive. The relationship between $x$ and $p$ is governed by the supply equation \[x^2 - 3xp + p^2 = 5\]
        How fast is the supply of drives changing when the price per drive is $\$11$, the quantity supplied is 4000 drives, and the wholesale price per drive is increasing at the rate of $\$0.10$ per drive per week?
    </div>

    <div class="math-example">At a distnace of 4000 feet from the launch site, a spectator is observing a rocket being launched. If the rocket lifts off vertically and is rising at a speed of 600 feet/second when it is at an altitude of 3000 feet, how fast is the distance between the rocket and the spectator changing at that instant?</div>

</div>
{% endblock %}