{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Expanding and Factoring</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="III: Expanding and Factoring"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/III"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">
    <h1>1.3: Expanding and Factoring</h1>

    <p>Goal: Understand like terms, expanding, and factoring.</p>

    <p>This lecture is recorded in two parts!
        <ul>
            <li><a href="https://www.youtube.com/watch?v=grnWJzOeHfM">This video covers everything before the Factoring section.</a></li>
            <li><a href="https://www.youtube.com/watch?v=OfaL4eQMeHs">This video covers the Factoring section.</a></li>
        </ul>
    </p>

    <h2>Algebraic Expressions</h2><hr>

    <p>Algebraic expressions are just operations, numbers, and variables mixed together. For example \[2x^2 - 3x + 4 \qquad \sqrt{x} + 10 \qquad (x + 1)(x + 2) \qquad (a + b + c)^2(x^2y + 3)\] are all algebraic expressions.</p>

    <h2>Adding and Subtracting</h2><hr>

    <p>To add and subtract algebraic expressions, look for <b>like terms</b>.</p>

    <p>Like terms are terms with the same factors except possibly for the numerical factor (called the <b>coefficient</b>).</p>

    <div class="math-example">
        Which are like terms?
        <ol>
            <li class="lec-list-space">$x^3$ and $3x^3$</li>
            <li class="lec-list-space">$-4x^2y^2$ and $3y^2x^2$</li>
            <li class="lec-list-space">$-(x+2)(x+1)$ and $3(x+1)(x+2)$</li>
        </ol>

        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            <ol type="a">
                <li class="lec-list-space">Both expressions are $1 \cdot x^3$ and $3\cdot x^3$. $1$ and $3$ are different and both contain the factor $x^3$. They are like terms.</li>
                <li class="lec-list-space">Both expressions contain the factors $x^2$ and $y^2$. The coefficient is $-4$ and $3$. They are like terms.</li>
                <li class="lec-list-space">These are like terms. Recall that $-a = (-1)\cdot a$. So \[\underbrace{(-1)}_{factor}(x+2)(x+1) \qquad \]</li>
            </ol>

        </div>

    </div>

    <p>Remember: identify the factors. This is your guiding light.</p>

    <p>To add like terms, we undo the distributive law: \[x^3 + 2x^3 = 1\cdot x^3 + 2\cdot x^3 = x^3(1 + 2) = 3x^3\]</p>

    <p>In essence, add together the coefficients for like terms.</p>

    <div class="math-example">
        Add and subtract the following:
        <ul>
            <li class="lec-list-space">$x^3 + 2x^2 + 3x^3$</li>
            <li class="lec-list-space">$(4x^2y + 3xy^2) - (3x^2y^2 - 2xy^2)$</li>
            <li class="lec-list-space">$2(x+h)^2 - 3 - (2x^2 - 3)$</li>
        </ul>
    </div>

    <h2>Multiplying</h2><hr>

    <p>Multiplying is also called <b>expanding</b>. Expanding problems are just the distributive law applied.</p>

    <p>In expanding problems, you always start with <b>factors</b> and you end with <b>terms</b> (context if not explicitly mentioned is always the entire expression).</p>

    <p>Look at the distibutive law: \[a\cdot(b + c) = a\cdot b + a \cdot c\]</p>

    <p>The Law is saying for the <b>factor</b> $a$ outside the parenthesis, distibutive it to each <b>term</b> within the parenthesis.</p>

    <div class="math-example">Expand the following:
        <ul>
            <li class="lec-list-space">$(2x + 1)(3x - 5)$</li>
            <li class="lec-list-space">$(x^2 + 2x + 1)(x + 1)$</li>
        </ul>
    </div>

    <h2>Special Product Formulas</h2><hr>

    <p>Here are three formulas you should be able to recall by heart. Your calculus professor will expect you to immediately be able to see these, especially the first one.</p>

    <div class="math-notxt">
        <ul>
            <li class="lec-list-space">$(A + B)(A - B) = A^2 - B^2$</li>
            <li class="lec-list-space">$(A + B)^2 = A^2 + 2AB + B^2$</li>
            <li class="lec-list-space">$(A - B)^2 = A^2 - 2AB + B^2$</li>
        </ul>
    </div>

    <p>Note that $A$ just needs to be a <b>term</b>. $A$ could be $(x + y)$. It could be $2x$. Hopefully you are starting to see the importance of identifying terms/factors. It is in everything we do!</p>

    <div class="math-example"> Expand the following using the formulas:
        <ul>
            <li class="lec-list-space">$(2x + 1)^2$</li>
            <li class="lec-list-space">$(2x - 3)(2x + 3)$</li>
            <li class="lec-list-space">$(x + y - z)(x + y + z)$</li>
        </ul>
    </div>

    <h2>Factoring</h2><hr>

    <p>Consider this expanding problem: \[(x+4)(x+3) = x^2 + 7x + 12\] The expression structure on the left is all factors.</p>

    <p>On the right, it is all terms.</p>

    <p>If we start from the right and move backwards instead, this process is called <b>factoring</b>.</p>

    <p>Factoring converts terms into factors and is the reverse process of expanding.</p>

    <h3>Method 1: Greatest Common Factor (among terms)</h3><hr>

    <p>Identify all terms.</p>

    <p>For each term, identify the factors.</p>

    <p>From each term, pull out all factors in common among all terms.</p>

    <div class="math-example"> Factor each expression:

        <ul>
            <li class="lec-list-space">$3x^2 - 6x$</li>
            <li class="lec-list-space">$8x^4y^2 + 6x^3y^3 - 2xy^4$</li>
            <li class="lec-list-space">$(2x + 4)(x-3) - 5(x-3)$</li>
        </ul>

    </div>

    <h3>Method 2: Factoring the form $ax^2 + bx + c$.</h3><hr>

    <p>This method works on three terms. Some examples include \[x^2 + 4x + 3 \qquad\qquad x^2 - 4 \qquad\qquad 2(x+1)^2 - 7(x+1) + 3\]</p>

    <p><a href="/static/swrlly/files/xmethod.pdf">See this handout for the idea. Let's call this the "new" X method.</a></p>

    <div class="math-example"> Factor:
        <ul>
            <li class="lec-list-space">$x^2 + 7x + 12$</li>
            <li class="lec-list-space">$6x^2 + 7x - 5$</li>
            <li class="lec-list-space">$(5a+1)^2 - 2(5a+1) - 3$</li>
        </ul>
    </div>

    <h3>Method 3: Special Factoring Formulas</h3><hr>

    <p>The three special product formulas give the special factoring formulas.</p>

    <div class="math-notxt">
        <ul>
            <li class="lec-list-space">$A^2 - B^2 = (A-B)(A+B)$</li>
            <li class="lec-list-space">$A^2 + 2AB + B^2 = (A+B)^2$</li>
            <li class="lec-list-space">$A^2 - 2AB + B^2 = (A-B)^2$</li>
        </ul>
    </div>

    <div class="math-example"> Factor:
        <ul>
            <li class="lec-list-space">$4x^2 - 25$</li>
            <li class="lec-list-space">$(x+y)^2 - z^2$</li>
        </ul>
    </div>

    <h3>Method 4: Grouping</h3><hr>

    <p>This method works on four terms.</p>

    <p>We group first two/last two terms together, then use GCF on both groups.</p>

    <div class="math-example"> Factor:
        <ul>
            <li class="lec-list-space">$x^3  +x^2 + 4x + 4$</li>
            <li class="lec-list-space">$x^3  - 2x^2 - 9x + 18$</li>
        </ul>
    </div>

    <p>The last example shows even though we did have all factors, we sometimes can keep factoring a factor. We may need to use multiple methods.</p>

    <h3>Multiple Methods</h3><hr>

    <p>Remember, before even starting a factoring problem, <b>identify the terms and how many there are.</b></p>

    <p>Doing so helps you to choose a correct strategy.</p>

    <div class="math-example"> Factor:
        <ul>
            <li class="lec-list-space">$2x^4 - 8x^2$</li>
            <li class="lec-list-space">$3x^2y - 16xy + 5y$</li>
        </ul>
    </div>


    
</div>
{% endblock %}