{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - 1.4</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="IV: Dealing with Rational Expressions"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/1.4"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>1.4: Dealing with Rational Expressions</h1>

    <p><a href="/teaching/math-141/lectures/I">Back in Lecture Note I</a>, we defined five fraction properties we can use when manipulating fractions. They are copied here for convenience:</p>

    <div class="math-fact"> <b style="color:var(--factcolor)">Properties of Fractions</b></br>

        Suppose $a,b,c,d$ are real numbers.

        <ol>
            <li class="lec-list-space">$\dfrac{a}{b}\cdot \dfrac{c}{d} = \dfrac{ac}{bd}$</li>
            <li class="lec-list-space">$\dfrac{a}{b}\div \dfrac{c}{d} = \dfrac{a}{b}\cdot \dfrac{d}{c}$</li>
            <li class="lec-list-space">$\dfrac{a}{c} + \dfrac{b}{c} = \dfrac{a + b}{c}$</li>
            <li class="lec-list-space">$\dfrac{a}{b} + \dfrac{c}{d} \ \ $ first find the LCD, then use property 3.</li>
            <li class="lec-list-space">$\dfrac{ac}{bc} = \dfrac{a}{b}$</li>
        </ol>
    </div>

    <p>We will now manipulate fractional expressions but ones that include variables.</p>

    <h2>Simplifying (property 5)</h2><hr>

    <p>Property 5 says you can only cancel a <b>factor</b> within the <b>context of the entire numerator/denominator</b>.</p>

    <p>To simplify, convert numerator/denominator to factors, then cancel.</p>

    <div class="math-example"> Simplify the expression $\dfrac{x^2 - 1}{x^2 + x - 2}$.</div>

    <h2>Multiplying (property 1)</h2><hr>

    <p>When multiplying, you should simplify first, then multiply.</p>
    
    <div class="math-example"> 
        Multiply and simplify: \[\dfrac{x^2 + 2x - 3}{x^2 + 8x + 16}\cdot \dfrac{3x + 12}{x - 1}\]
        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            \begin{align}
            \dfrac{x^2 + 2x - 3}{x^2 + 8x + 16}\cdot \dfrac{3x + 12}{x - 1} &= \dfrac{(x+3)(x-1)}{(x+4)^2}\cdot \dfrac{3(x + 4)}{x - 1} && \text{new X method, GCF and } A^2 + 2AB + B^2
            \\&= \dfrac{3(x+3)(x-1)(x+4)}{(x+4)^2(x-1)} && \text{Fraction Law 1}
            \\&= \dfrac{3(x+3)}{(x+4)}
            \end{align}
        </div>
    </div>
    
    <h2>Dividing (property 2)</h2><hr>

    <div class="math-example"> Divide and simplify: \[\dfrac{x-4}{x^2 - 4} \div \dfrac{x^2 - 3x - 4}{x^2 + 5x + 6}\]

        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            \begin{align}
            \dfrac{x-4}{x^2 - 4} \div \dfrac{x^2 - 3x - 4}{x^2 + 5x + 6} &= \dfrac{x-4}{x^2 - 4} \cdot \dfrac{x^2 + 5x + 6}{x^2 - 3x - 4} && \text{Fraction Law 2}
            \\&= \dfrac{x-4}{(x-2)(x+2)} \cdot \dfrac{(x+2)(x+3)}{(x - 4)(x+1)} && A^2 - B^2 \text{ and new X method} 
            \\&= \dfrac{(x-4)(x+2)(x+3)}{(x-2)(x+2)(x-4)(x+1)} && \text{Fraction Law 1}
            \\&= \dfrac{x+3}{(x-2)(x+1)} && \text{Fraction Law 5}
            \end{align}
        </div>

    </div>

    <h2>Adding (property 3 + 4)</h2><hr>

    <p>Adding fractions required you to find the LCD.</p>

    <p>LCD requires <b>factors</b>.</p>

    <p>You can group <b>terms</b> together with parentheses to create a <b>factor</b>.</p>

    <div class="math-example"> Perform the indicated operation and simplify:
        <ul>
            <li class="lec-list-space">$\dfrac{1}{6} + \dfrac{1}{8}$</li>
            <li class="lec-list-space">
                
                $\dfrac{3}{x-1} + \dfrac{x}{x+2}$
            
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    Let's find the LCD. The denominator are terms, so we can group together terms into one factor.

                    \begin{align}
                    (x-1) \quad \leftarrow \text{Missing } (x+2) \text{ as a factor}
                    \\(x+2) \quad \leftarrow \text{Missing } (x-1) \text{ as a factor}
                    \end{align}

                    Introducing what we found to be missing:

                    \begin{align}
                    \dfrac{3}{x-1} + \dfrac{x}{x+2} &= \dfrac{(x+2)}{(x+2)}\dfrac{3}{x-1} + \dfrac{x}{x+2} \cdot \dfrac{(x-1)}{(x-1)} &&
                    \\&= \dfrac{3(x+2)}{(x-1)(x+2)} + \dfrac{x(x-1)}{(x+2)(x-1)} && \text{Fraction Law 1}
                    \\&= \dfrac{3(x+2) + x(x-1)}{(x-1)(x+2)} && \text{Fraction Law 3}
                    \\&= \dfrac{3x + 6 + x^2 - x}{(x-1)(x+2)} && \text{Distributive Law}
                    \\&= \dfrac{x^2 + 2x + 6}{(x-1)(x+2)}
                    \end{align}

                </div>

            </li>


            <li class="lec-list-space">

                $\dfrac{1}{x^2 - 1} - \dfrac{2}{(x + 1)^2}$

                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    Let's find the LCD: 
                    \begin{align}
                    x^2 - 1 &= (x-1)(x+1) \quad \leftarrow \text{Missing } (x+1) \text{ as a factor}
                    \\(x+1)^2 &= (x+1)(x+1) \quad \leftarrow \text{Missing } (x-1) \text{ as a factor}
                    \end{align}

                    Let's now introduce what we found:
                    \begin{align}
                    \dfrac{1}{x^2 - 1} - \dfrac{2}{(x + 1)^2} &=  \dfrac{(x+1)}{(x+1)} \cdot \dfrac{1}{(x-1)(x+1)} - \dfrac{2}{(x+1)^2} \cdot \dfrac{(x-1)}{(x-1)} &&
                    \\&= \dfrac{(x+1)}{(x-1)(x+1)^2} - \dfrac{2(x-1)}{(x-1)(x+1)^2} && \text{Fraction Law 1}
                    \\&= \dfrac{x + 1 - 2(x-1)}{(x-1)(x+1)^2} && \text{Fraction Law 3, careful with the subtraction}
                    \\&= \dfrac{x + 1 - 2x + 2}{(x-1)(x+1)^2} && \text{Distributive Law}
                    \\&= \dfrac{-x + 3}{(x-1)(x+1)^2}
                    \end{align}
                </div>

            </li>
            
        </ul>
    </div>

    <h2>Compound Fractions</h2><hr>

    <p><a href="https://www.youtube.com/watch?v=686R0tKvX9g">The Compound Fractions section is recorded, available here.</a></p>

    <p>A compound fraction is a fraction nested within another fraction, for example \[\dfrac{\dfrac{x}{y} + 1}{1 - \dfrac{y}{x}}\] When you're asked to "simplify a compound fraction," this means getting rid of the nested fraction by removing the internal denominators.</p>

    <div class="math-example"> Simplify the following:
        <ul>
            <li class="lec-list-space">$\dfrac{\dfrac{x}{y} + 1}{1 - \dfrac{y}{x}}$</li>
            <li class="lec-list-space">$\dfrac{\dfrac{1}{a+h} - \dfrac{1}{a}}{h}$</li>
            <li class="lec-list-space">$\dfrac{1 - x^{-1/2}}{y^{-1/2} - 1}$</li>
        </ul>
    </div>

    <p>The second problem will appear in calculus again! Take note of the $h$'s cancelling through fraction law #5.</p>

    <h2>Rationalizing</h2><hr>

    <p><a href="https://www.youtube.com/watch?v=ObfhiE3bugk">The rest of this lecture is recorded, available at this Youtube link.</a></p>

    <p>Rationalizing means to remove square roots. There are two types of problems you will encounter: one factor or two term.</p>

    <div class="math-example"> Rationalize the numerator: $\dfrac{\sqrt{4 + h} - 2}{h}$</div>

    <div class="math-example"> Rationalize the denominator: $\dfrac{1}{\sqrt{x} + 1}$</div>

    <p>Again, when you are asked to simplify a fractional expression, remember to simplify nested fractions!</p>

    <div class="math-example"> Simplify: $\dfrac{\frac{1}{\sqrt{x}}}{x}$</div>
    
</div>
{% endblock %}