119{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - V</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="V: Functions Crash Course"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures/1.5"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">

    <h1>2.1: Functions Crash Course for Trigonometry</h1>

    <p>Goals: 
        <ul>
            <li>Describe the object we are going to use calculus on and how it appears in our everyday lives.</li>
            <li>Learn how to mathematically represent a function and manipulate them while avoiding common mistakes.</li>
        </ul></p>

    <h2>Functions All Around Us</h2><hr>

    <p>The word <b>function</b> describes a dependence of one quantity on another. For example:
        <ul>
            <li>The current room temperature is a function of time.</li>
            <li>After a flight takes off, the total distance a plane travels is a function of time since takeoff.</li>
        </ul>
    </p>

    <p>Functions should be thought of as a machine.</p>

    <p>For example, when you input time, you get out the current temperature. Any temperature app you have uses this idea.</p>

    <p>Notice that at a single time point, only one output is returned. This leads us to the mathematical definition of a function.</p>

    <div class="math-def"> A <b>function</b> $f$ is a rule that assigns to each element $x$ in a set $A$ to exactly one element, called $f(x)$ in a set $B$.</div>

    <div class="math-example"> What are some examples of functions you can think of?
    </div>

    <h2>Evaluating a Function</h2><hr>

    <p>A simple way to mathematically represent input-output is with the notation $f(x)$.</p>

    <p>Here, the $x$ between the parenthesis is your input variable, and $f(x)$ is your output.</p>

    <div class="math-example">A function is defined by the formula \[f(x) = x^2 - 2\]
        Evaluate the following:
        <ul>
            <li>$f(0)$</li>
            <li>$f(-1)$</li>
            <li>$f(-a)$</li>
            <li>$f(x + h)$</li>
            <li>$f(x + h) - f(x)$</li>
        </ul>
    </div>

    <p><b>Beware:</b> everything between the parenthesis must be treated as input.</p>

    <p>From now on, when instructed to perform something, like "evaluate $f(x + h)$" you must fully simplify.</p>

    <p>For example, this can mean:
        <ul>
            <li>
                expand then combine like terms whenever you can
            </li>
            <li>
                use Fraction Law 5 to cancel factors if applicable
            </li>
            <li>
                multiply all fractional expressions together to write your answer as one fraction
            </li>
            <li>etc.</li>
        </ul>   
    </p>

    <div class="math-example"> A function is defined by \[g(x) = x^2 - x\] Evaluate the following:
        <ul>
            <li>$g(0)$</li>
            <li>$g(-1)$</li>
            <li>$g(-a)$</li>
            <li>$g(x + h)$</li>
            <li>$g(x + h) - g(x)$</li>
        </ul>
    </div>

    <h2>Domain of a Function</h2><hr>

    <p>The domain of a function is the set of all inputs you can input to get out a valid real number.</p>

    <div class="math-example">
        For the function $f(x) = \dfrac{1}{x}$, which of the following numbers are in the domain?
        <ul>
            <li>$-2$</li>
            <li>$-1$</li>
            <li>$0$</li>
            <li>$\frac{1}{2}$</li>
            <li>$2$</li>
        </ul>
    </div>

    <p>When finding domain, follow two steps:
        <ol>
            <li class="lec-list-space">Look for <b>problems</b>. These are numbers, when evaluated, result in something that is not a real number. Problems are</li>
            <ul>
                <li>Plugging a number where you end up dividing by zero.</li>
                <li>Plugging a number where you end up taking the square root of a negative number.</li>
            </ul>
            <li class="lec-list-space">Remove the problems from $\mathbb{R}$ and write your answer in interval notation.</li>
        </ol>
    </p>

    <div class="math-example"> What is the domain of $f(x) = \dfrac{1}{x}$?</div>

    <div class="math-example"> What is the domain of $f(x) = \sqrt{x - 1}$?</div>

    <div class="math-example"> What is the domain of $g(x) = \dfrac{1}{x^2 - x}$?</div>

    <h2>Piecewise Functions</h2><hr>

    <p><a href="https://www.youtube.com/watch?v=OiJPT4EeXDs">The rest of this lecture has been recorded, available at this YouTube link.</a></p>

    <p>Piecewise functions are functions where you have multiple different functions on different parts of the domain.</p>

    <p>For example, \[f(x) = \begin{cases} x^2 & x \leq 1 \\ -2x + 3 & x > 1\end{cases}\] is a piecewise function.</p>

    <p>Here's how to read this: If your input $x$ is less than or equal to 1, then you need to plug it into $x^2$.</p>

    <p>If your input $x$ is strictly greater than 1, plug it into $-2x + 3$.</p>

    <div class="math-example"> For the above function, evaluate $f(0), f(1)$ and $f(2)$.</div>

    <h2>The Coordinate Plane</h2>

    <p>A point in space can be described by starting at a point, then moving to it.</p>

    <div class="math-example">
        Plot the points $(1,1), (-2, -3), (-3, 2)$ and $(4, 2)$ in the coordinate plane.
    </div>

    <h2>Graph of a Function</h2><hr/>

    <p>You can describe a function like \[f(x) = x^2 + 2\] in four different ways.
        <ul>
            <li>In English: Square the input and add two</li>
            <li>Algebraically: $x^2 + 2$</li>
            <li>With a table of values</li>
            <li>With a graph in the coordinate plane</li>
        </ul>
    </p>

    <div class="math-def"> 
        The <b>graph</b> of a function $f(x)$ with domain $A$ is formally defined as a set of coordinates \[\{(x, f(x)) : x \in A\}\]
    </div>

    <p>The graph is especially important because you can quickly spot visual patterns in certain types of functions.</p>

    <p>It also gives us an intuitive understanding of calculus concepts instead of just looking at a bunch of messy algebra like \[f(x) = \sin(x)\tan(x)e^{4x}(x^4 - x^2)\]</p>

    <div class="math-example"> 
        What is the geometric intution behind the symbol $f(x)$?
    </div>

    <div class="math-example"> 
        Graph the piecewise function \[f(x) = \begin{cases} x^2 & x \leq 1 \\ 2x - 3 & x > 1\end{cases}\] by hand.
    </div>

    <div class="math-example"> Graph the function $y = \lvert x \rvert$.</div>

    <p>The graph helps us determine if a curve in the plane is actually a function.</p>

    <div class="math-fact"> <b style="color:var(--factcolor)">Vertical Line Test</b><br>
        A curve in the $xy$-plane is the graph of a function of $x$ if and only if no vertical line intersects the curve more than once.
    </div>

</div>

{% endblock %}