{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Lecture 3"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="5.1: The Unit Circle"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/5.1"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>5.1: The Unit Circle</h1>
</div>
{% endblock %}