{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - 5.3</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="5.3: Trigonometric Graphs"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/5.3"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>5.3: Trigonometric Graphs</h1>
    <p>The previous section teased the graph of $\sin t$. Let's discuss the graphs of the trigonmetric functions, and apply transformations to them.</p>
    <div class="math-def"> A function $f$ is <b>periodic</b> if there exists a positive number $p$ such that $f(t + p) = f(t)$ for every $t$ in the domain of $f$.
    </br>The <b>period</b> of a function is the least such positive number $p$, if it exists.
    </div>
    <div class="math-example">
        Draw a graph of a periodic function. What is the period?
    </div>
    <div class="math-fact">
        The sine and cosine functions have period $2\pi$:
        \[\sin(t + 2\pi) = \sin t \qquad\qquad \cos(t + 2\pi) = \cos t\]
    </div>
    <div class="math-example">
        Before looking at the graph, why is the period $2\pi$?
    </div>
</div>
{% endblock %}