{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - 5.3</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Lecture 5"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="5.3: Trigonometric Graphs"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/5.3"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>5.3: Trigonometric Graphs</h1>
</div>
{% endblock %}