{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - 5.5</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="5.5: Inverse Trigonometric Functions"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/5.5"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">
    <h1>5.5: Inverse Trigonometric Functions</h1><hr>
    <p>Now that we know the common trigonometric functions, let's look at their inverses.</p>
    <p>Recall that if $f$ must be one-to-one for it to have an inverse.</p>
    <h2>Inverse sine function</h2>
    <div class="math-def">
        The inverse sine function, denoted $\sin^{-1}$, has domain $[-1, 1]$ and range $\left[-\frac{\pi}{2}, \frac{\pi}{2}\right]$ where
        \[\sin^{-1}x = y \text{ when } \sin y = x\]
        
        The following cancellation properties hold:

        \[\begin{align}
        \sin(\sin^{-1}x) = x, &\qquad -1 \leq x \leq 1 \\
        \sin^{-1}(\sin(x)) = x, &\qquad -\frac{\pi}{2}\leq x \leq \frac{\pi}{2}
        \end{align}\]
    </div>

    <div class="math-example">
        Suppose $a \in [-1, 1]$. Someone says $\sin^{-1}(a) = \frac{2\pi}{3}$ is possible. Is this true?
    </div>

    <div class="math-example">
        Find each value:
        \[\sin^{-1}\frac{1}{2} \qquad\qquad \sin^{-1}\left(-\frac{1}{2}\right) \qquad\qquad \sin^{-1}\frac{3}{2}\]
    </div>

    <div class="math-example">
        Find each value:
        \[\sin^{-1}\left(\sin\frac{\pi}{3}\right) \qquad\qquad \sin^{-1}\left(\sin\left(-\frac{2\pi}{3}\right)\right) \]
    </div>
    
    <p><b>Important</b>: remember to always check if the input value for $\sin^{-1}$ is actually in the domain. Keep this in mind for all of the inverse functions.</p>
    <h2>Inverse cosine function</h2>
    <div class="math-def">
        The inverse cosine function, denoted $\cos^{-1}$, has domain $[-1, 1]$ and range $\left[0, \pi\right]$ where
        \[\cos^{-1}x = y \text{ when } \cos y = x\]
        
        The following cancellation properties hold:

        \[\begin{align}
        \cos(\cos^{-1}x) = x, &\qquad -1 \leq x \leq 1 \\
        \cos^{-1}(\cos(x)) = x, &\qquad 0\leq x \leq \pi
        \end{align}\]
    </div>

    <div class="math-example">
        Find each value:
        \[\cos^{-1}\frac{\sqrt{3}}{2} \qquad\qquad \cos^{-1}0 \qquad\qquad \cos^{-1}\left(-\frac{1}{2}\right)\]
    </div>

    <div class="math-example">
        Find each value:
        \[\cos^{-1}\left(\cos\left(\frac{2\pi}{3}\right)\right) \qquad\qquad \cos^{-1}\left(\cos\left(-\frac{5\pi}{3}\right)\right) \]
    </div>

    <h2>Inverse tangent function</h2>
    <div class="math-def">
        The inverse tangent function, denoted $\tan^{-1}$, has domain $\mathbb{R}$ and range $\left(-\frac{\pi}{2}, \frac{\pi}{2}\right)$ where
        \[\tan^{-1}x = y \text{ when } \tan y = x\]
        
        The following cancellation properties hold:

        \[\begin{align}
        \tan(\tan^{-1}x) = x, &\qquad x \in \mathbb{R} \\
        \tan^{-1}(\tan(x)) = x, &\qquad -\frac{\pi}{2} < x  < \frac{\pi}{2}
        \end{align}\]
    </div>

    <div class="math-example">
        Find each value:
        \[\tan^{-1} 1 \qquad\qquad \tan^{-1} \sqrt{3} \qquad\qquad \tan^{-1}0\]
    </div>

    <div class="math-example">
        Find each value:
        \[\sin^{-1} \left(\tan\frac{\pi}{4}\right) \qquad\qquad \sin^{-1}\left(\cos\frac{\pi}{6}\right)\]
    </div>

</div>
{% endblock %}