{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - 5.6</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="5.6: Modeling Harmonic Motion"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/5.6"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">
    <h1>5.6: Modeling Harmonic Motion</h1><hr>
    <p>The trigonometric functions exhibit periodic behavior. Periodic behavior is common in our everyday lives; here are a few examples:
    <ul>
        <li>Number of people online in a game with respect to time 
            <ul>
                <li>See my personal project <a href="https://darzacharts.swrlly.com">DarzaCharts</a>, a tool which tracks the live playercount of a multiplayer game</li>
            </ul>
        </li>
        <li>Height of tide with respect to time</li>
        <li>Vibrations of a stringed instrument (guitars, violins)</li>
    </ul>
    </p>
    <p>This section will explore how to model some of these behaviors using the trigonometric functions.</p>
    <h2>Simple Harmonic Motion</h2>
    <div class="math-def">
        If the equation describing the displacement $y$ of an object at time $t$ is \[y = a \sin \omega t \qquad \text{ or } y = a \cos \omega t\]
        then the object is in <b>simple harmonic motion</b>. In this case, 
        <table class="table" style="max-width: 500px; margin: 1em auto; border: #000000">
            <tbody>
            <tr>
                <td>amplitude</td>
                <td>$\lvert a \rvert$</td>
                <td>maximum displacement of the object</td>
            </tr>
            <tr>
                <td>period</td>
                <td>$\frac{2\pi}{\omega}$</td>
                <td>time required to complete one cycle</td>
            </tr>            
            <tr>
                <td>frequency</td>
                <td>$\frac{\omega}{2\pi}$</td>
                <td>number of cycles per unit of time (usually in Hertz, denoted Hz)</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="math-example">
        A mass is suspended by a spring in the air. External force is introduced to the spring, and the displacement of the mass modeled by the function \[y = 10 \sin 4 \pi t\]
        where $y$ is measured in inches and $t$ in seconds.
        <ul>
            <li>Find the amplitude, period, and frequency of the motion of the mass with the proper units.</li>
            <li>Sketch one period of the displacement.</li>
            <li>How high above the resting point is the mass at $t = \frac{1}{8}$ seconds?</li>
        </ul>
    </div>
    <div class="math-example">
        A trombone player plays the note E and holds the note. Suppose the E causes a variation in air pressure from the normal air pressure with respect to the equation \[V(t) = 0.2 \sin 80\pi t\]
        where $V(t)$ is measured in pounds per square inch and $t$ is measured in seconds.
        <ul>
            <li>Find the amplitude, period, and frequency of $V(t)$ with the proper units.</li>
            <li>If the player increases the loudness of the note, what changes in $V(t)$?</li>
            <li>If the player plays a lower note instead, what changes in $V(t)$?</li>
        </ul>
    </div>
    <div class="math-example">
        A mass is suspended from a spring; it is at rest. The spring is compressed a distance of $4$ cm upwards and then released. It is observed that the mass returns to the compressed position after $\frac{1}{3}$ seconds.
        <ul>
            <li>Find a function that models the displacement of the mass.</li>
            <li>Graph one period of the displacement of the mass over time.</li>
        </ul>
    </div>
    <h2>Phase and Phase Difference</h2>
    <div class="math-def">
        Any sine curve can be expressed in the following equivalent forms
        <table class="table" style="max-width: 500px; margin: 1em auto; border: #000000">
            <tbody>
            <tr>
                <td>$y = A \sin (kt - b)$</td>
                <td>where the <b>phase</b> is $b$</td>
            </tr>
            <tr>
                <td>$y = A \sin k\left(t - \frac{b}{k}\right)$</td>
                <td>where the horizontal shift is $\frac{b}{k}$</td>
            </tr>            
            </tbody>
        </table>
    </div>
    <p> Given two functions \[y_1 = A \sin (kt - b) \qquad y_2 = A\sin(kt - c)\] the <b>phase difference</b> is $b - c$. If this is a factor of $2\pi$, then the functions are called <b>in phase.</b> </p>
    <p>If two functions have the same period and have the same phase, the two graphs will lie on top of each other.</p>
    <div class="math-example">
    Three objects are in simple harmonic motion given by the following equations \[y_1 = 10 \sin \left(3t - \frac{\pi}{6}\right) \qquad y_2 = 10 \sin \left(3t - \frac{\pi}{2}\right)  \qquad y_3 = 10 \sin \left(3t + \frac{23\pi}{6}\right)\]
    <ul>
        <li>
            Find the phase difference between $y_1$ and $y_2$. Are they in phase?
        </li>
        <li>Find the phase difference between $y_1$ and $y_3$. Are they in phase?</li>
    </ul>
    
</div>
</div>
{% endblock %}