{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - 7.1</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="7.1: Trigonometric Identites"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/7.1"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>7.1: Trigonometric Identities</h1><hr>
    <p>We have now seen what the trigonometric functions are and where they appear in real life. Let's now dive more into more algebraic-type problems of trigonometric functions.</p>
    <p>An <b>equation</b> is a statement that two mathematical expressions are equal. For example, the following are equations
    \begin{align}
    x + 2 &= 5\\
    (x + 1)^2 &= x^2 + 2x + 1\\
    \sin^2 x + \cos^2 x &= 1
    \end{align}

    An <b>identity</b> is an equation that is true for all the values of the variables in the equation. For example, in the above equation $\sin^2 x + \cos^2 x = 1$ is true for any values of $x$; we saw this was true in <a href="/teaching/math-119/lectures/5.2">Section 5.2</a>. </p>

    <p>This section will heavily depend on identities that were introduced in <a href="/teaching/math-119/lectures/5.2">Section 5.2</a>. Make sure to keep these in your back pocket and use these often!</p>
    <h2>Simplifying Trigonometric Expressions</h2>
    <p>The first type of problem we will encounter is to simplify a complicated looking expression.</p>
    <div class="math-example">
        Simplfy the expression $\cos t + \tan t \sin t$.
    </div>
    <div class="math-example">
        Simplify the expression $\dfrac{\sin\theta}{\cos \theta} + \dfrac{\cos \theta}{1 + \sin \theta}$.
    </div>
    <p>
        Strategies:
        <ul>
            <li>Try to convert trigonometric functions into sines and cosines (problem 1).</li>
            <li>Try to find a common denominator (problem 1 and 2).</li>
        </ul>
    </p>

    <h2>Proving Trigonometric Identities</h2>
    <p>We have two subproblems.</p>
    <h4>Show Equation is not Identity</h4>
    <p>If someone walks up to you and says <b>"All horses are brown"</b>, to disprove this statement, you only need to find one example of a horse which is not brown, such as a zebra.
    </p>
    <p>To disprove an identity, we use the same idea. For example, given <b>$\sin x + \cos x = 1$</b>, to disprove this statement, we only need to find one $x$ which makes this equation false (recall identity means true for all variable values).
    </p>

    <div class="math-example">
        Show the equation $\sin x + \cos x = 1$ is not an identity.
    </div>

    <h4>Prove Equation is Identity</h4>
    <p>Here are a few guidelines to prove an equation is actually an identity. They are not necessarily taken in order.</p>
    <div class="math-notxt">
        <ul>
            <li><b>Start with one side.</b> Given one side, try to transform it into the other side. Try to pick one side that "looks more complicated", such as involving many sums and products.</li>
            <li><b>Use known identities</b> from <a href="/teaching/math-119/lectures/5.2">Section 5.2</a>.</li>
            <li>Find a common denominator.</li>
            <li><b>Convert to sines and cosines.</b> If you are stuck, try to convert all functions to sines and cosines. Perhaps then you can apply the previous tactics.</li>
            <li>Introduce something extra by multiplying by 1. Transform that 1 into whatever you want introduced.</li>
            <li>Choose both the LHS and RHS. Simplify both, and you should get the same result.
            </li>
        </ul>
    </div>

    <div class="math-beware">
        To prove an identity, <b>only perform reversible operations.</b> Non-reversible operations include
        <ol>
            <li>Squaring both sides.</li>
            <li>Taking square roots of both sides.</li>
        </ol>
    </div>

    <div class="math-example">
        Given \[\sin x = - \sin x\] try squaring both sides. What happens?
    </div>

    <p>In general, you <b>cannot</b> start with a false initial statement, get to a true conclusion, then conclude that initial statement is true. A similar concept also appears in daily conversations and is called <a href="https://effectiviology.com/false-premise/">Argument from False Premises</a>.</p>

    <div class="math-example">
        Verify algebraically that \[\cos\theta (\sec \theta - \cos \theta) = \sin^2 \theta\]
        Also verify graphically.
    </div>

    <div class="math-example">
        Verify this identity algebraically \[2\tan x \sec x = \frac{1}{1 - \sin x} - \frac{1}{1 + \sin x}\]
    </div>

    <div class="math-example">
        Verify this identity algebraically \[\frac{\cos \theta}{1 - \sin \theta} = \sec \theta + \tan \theta\]
    </div>

    <div class="math-example">
        Verify \[\frac{1 + \cos \theta}{\cos \theta} = \frac{\tan^2 \theta}{\sec \theta - 1}\]
    </div>

    <div class="math-example">
        Assume $0 \leq \theta \leq \pi/2$. Substitute $\sin \theta$ for $x$ in the expression $\sqrt{1 - x^2}$ and simplify.
    </div>




</div>
{% endblock %}