{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - 7.3</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="7.3: Double-Angle, Half-Angle, and Product-Sum Formulas"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/7.3"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>7.3: Double-Angle, Half-Angle, and Product-Sum Formulas</h1><hr>

    <p>Below are four sets of trigonometric formulas that are useful!</p>

    <h2>Double-Angle Formulas</h2><hr>

    <div class="math-fact">
        \begin{align}
        \sin 2x &= 2\sin x \cos x \\
        \cos 2x &= \cos^2 x - \sin^2 x \\
        &= 1 - 2\sin^2 x \\
        &= 2\cos^2 x - 1 \\
        \tan 2x &= \dfrac{2\tan x}{1 - \tan^2 x}
        \end{align}
    </div>

    <p>These identites are useful for expressions like $\sin 3x$ and $\sin 4x$. We can write 

        \begin{align}
        \sin 3x &= \sin (x + 2x) & \\
        &= \sin x \cos 2x + \cos x \sin 2x & \text{Addition identity}
        \end{align}

        and also \[\sin 4x = \sin\bigg(2(2x)\bigg) = 2\sin 2x \cos 2x\]

        Notice how both of the expressions now contain $\sin2x$ and $\cos 2x$. These can be simplified using the double angle formula again.
    </p>

    <div class="math-example">
        Prove the identity \[\dfrac{\sin 3x}{\sin x \cos x} = 4\cos x - \sec x\]
    </div>

    <h2>Half-Angle Formulas</h2><hr>

    <div class="math-fact">
        \begin{align}
            \sin \dfrac{u}{2} &= \pm \sqrt{\dfrac{1 - \cos u}{2}} \\
            \cos \dfrac{u}{2} &= \pm \sqrt{\dfrac{1 + \cos u}{2}} \\
            \tan \dfrac{u}{2} &= \dfrac{1 - \cos u}{\sin u} = \dfrac{\sin u}{1 + \cos u}
        \end{align}

        where the sign depends on the quadrant where $\dfrac{u}{2}$ lies.
    </div>


</div>
{% endblock %}