{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Lecture 0</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Lecture 0"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="preliminaries"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/preliminaries"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Preliminaries</h1>
    <p>This page will answer the question <b>"Am I ready for Math 119? If not, what do I need to do to get up to speed?</b>"</p>
    <p>Available soon (by Sunday 9/18).</p>
</div>
{% endblock %}