{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Lecture 0</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Lecture 0"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="preliminaries"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/preliminaries"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Preliminaries</h1>
    <p>This page will answer the question <b>"Am I ready for Math 119? If not, what do I need to do to get up to speed?</b>"</p>
    <p>Page structure: You will be presented with a math question. If you are unable to solve it by yourself (no online resources, math solvers, textbook), then the section in the book which teaches you the concept and how to use it will be provided.</p>
    <p>Make sure you are able to solve all of these problems by yourself (yourself is defined in the previous sentence). <b>Each tested concept will show up later in Math 119.</b></p>
    <h2>Chapter 1</h2><hr>
    <ul>
        <li>What is $(2, 5) \cap [-1, 3]$?</li>
        <ul>
            <li class="prelim-list-space">Review section 1.1 pages 6 - 8.</li>
        </ul>
        <li>Simplify $\left(\dfrac{x^2}{y^3}\right)\cdot\left(\dfrac{x}{b^2}\right)^{-2}$</li>
        <ul>
            <li>Do the <a href="https://www.khanacademy.org/math/college-algebra/xa5dd2923c88e7aa8:exponents-and-radicals">Exponent Properties (Integer Exponents)</a> section on Khan Academy.</li>
            <li class="prelim-list-space">Review section 1.2.</li>
        </ul>
        <li>Expand $(x + y + z)(y + z)$.</li>
        <ul>
            <li class="prelim-list-space">Review section 1.3 pages 26 - 27 and understand the distributive property on page 3.</li>
        </ul>
        <li>Factor $x^2y - 2xy - 3y$.</li>
        <ul>
            <li>Do the <a href="https://www.khanacademy.org/math/college-algebra/xa5dd2923c88e7aa8:quadratics-multiplying-and-factoring">Quadratics: Multiplying and Factoring</a> unit on Khan Academy. Do the first four sections up to Factoring quadratics by Grouping.</li>
            <li class="prelim-list-space">Review section 1.3 page 28 starting from Factoring Common Factors.</li>
        </ul>
        <li>Simplify $\frac{1}{x + 1} + \frac{1}{x + 2}$.</li>
        <ul>
            <li>Do the <a href="https://www.khanacademy.org/math/college-algebra/xa5dd2923c88e7aa8:rational-expressions-and-equations">Rational Expressions and Equations</a> unit on Khan Academy. For this one, do the sections Rational Equations, Reducing rational expressions to lowest terms, Multiplying and dividing rational expressions, and Adding and subtracting rational expressions.</li>
            <li class="prelim-list-space">Review section 1.4.</li>
        </ul>
        <li>Solve $2x + 3 = 7$ for $x$.</li>
        <ul>
            <li class="prelim-list-space">Review section 1.5.</li>
        </ul>
        <li>Solve $x^2 - 2x - 3 = 0$ for $x$.</li>
        <ul>
            <li>Do the <a href="https://www.khanacademy.org/math/college-algebra/xa5dd2923c88e7aa8:quadratic-functions-and-equations/xa5dd2923c88e7aa8:solving-quadratics-by-factoring/v/example-1-solving-a-quadratic-equation-by-factoring">Solving quadratics by factoring</a> subsection on Khan Academy.</li>
            <li class="prelim-list-space">Review section 1.5.</li>
        </ul>
        <li>For any two real numbers, we know that $\frac{1}{a} \cdot \frac{1}{b}$ is always true. Is $\frac{1}{a} + \frac{1}{b}$ always true?</li>
        <ul>
            <li class="prelim-list-space">Review section 1.4 page 42. Very good idea to check this out to be sure you are not making common mistakes.</li>
        </ul>        
    </ul>
    <h2>Chapter 2</h2><hr>
    <ul>
        <li>What is a function?</li>
        <ul>
            <li>Do the first three subsections of the <a href="https://www.khanacademy.org/math/college-algebra/xa5dd2923c88e7aa8:functions">Functions</a> unit on Khan Academy.</li>
            <li class="prelim-list-space">Review section 2.1.</li>
        </ul>
        <li>Suppose I have a function $f(x)$. Is it possible for $f(1) = 3$ and also $f(1) = 0$ at the same time?</li>
        <ul>
            <li>Do the first three subsections of the <a href="https://www.khanacademy.org/math/college-algebra/xa5dd2923c88e7aa8:functions">Functions</a> unit on Khan Academy.</li>
            <li class="prelim-list-space">Review section 2.1.</li>
        </ul>
        <li>Suppose I have a function $f(x)$. What is the physical meaning of the number $f(x)$ on the coordinate plane?</li>
        <ul>
            <li class="prelim-list-space">Review section 2.2 page 159.</li>
        </ul>
        <li>What is the domain of $f(x) = \dfrac{2}{x(x -1)}$?</li>
        <ul>
            <li>Do the <a href="https://www.khanacademy.org/math/college-algebra/xa5dd2923c88e7aa8:rational-expressions-and-equations">Rational Expressions and Equations</a> unit on Khan Academy.</li>
            <li class="prelim-list-space">Review section 2.1.</li>
        </ul>
        <li>What is the domain and range of $f(x) = x^4$?</li>
        <ul>
            <li>Do the first three subsections of the <a href="https://www.khanacademy.org/math/college-algebra/xa5dd2923c88e7aa8:functions">Functions</a> unit on Khan Academy.</li>
            <li class="prelim-list-space">Review section 2.1.</li>
        </ul>
        <li>State the vertical line test. What do we use the vertical line test for?</li>
        <ul>
            <li>Do the first three subsections of the <a href="https://www.khanacademy.org/math/college-algebra/xa5dd2923c88e7aa8:functions">Functions</a> unit on Khan Academy.</li>
            <li class="prelim-list-space">Review section 2.2.</li>
        </ul>
        <li>Suppose I have a function $f(x)$ and $g(x) = A + Bf(Cx + D)$. State which parts of $g(x)$ correspond to the following transformations of $f(x)$:</li>
        <ol>
            <li>Vertical shift</li>
            <li>Horizontal shift</li>
            <li>Vertical stretch/shrink</li>
            <li>Horizontal stretch/shrink</li>
            <li>Reflection around $x$-axis</li>
            <li>Reflection around $y$-axis</li>
        </ol>
        For this:
        <ul>
            <li>Do the <a href="https://www.khanacademy.org/math/college-algebra/xa5dd2923c88e7aa8:transformations-of-functions">Transformations of Functions</a> unit on Khan Academy.</li>
            <li class="prelim-list-space">Review section 2.6.</li>
        </ul>
    </ul>
    <h2>What's next?</h2><hr>
    <p>Reading the sections is not sufficient to internalize a concept. You need to be actively involved in solving problems, making mistakes, and correcting your mistakes</p>
    <p>I highly recommend doing the Khan Academy test problems because those problems will tell you if you got the concept right or wrong.</p>
</div>
{% endblock %}