{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Lecture 0</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Lecture 0"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="preliminaries"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/preliminaries"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Preliminaries</h1>
    soon.
</div>
{% endblock %}