<!doctype html>
<html lang="en">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='swrlly/favicon.png')}}">
    <head>
        {% block title %}<title>swrlly</title>{% endblock %}
        {% block discord %}
        <meta property="og:title" content="swrlly"/>
        <meta name="theme-color" content="transparent"/>
        <meta property="description" content="Math lecturer at Cal Poly SLO. Data enthusiast, mathematics educator and electronic music producer."/>
        <meta property="og:description" content="Math lecturer at Cal Poly SLO. Data enthusiast, mathematics educator and electronic music producer."/>
        <meta property="og:url" content="https://swrlly.com"/>
        <meta property="og:image" content="/static/swrlly/favicon.png" />
        {% endblock %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="/static/swrlly/js/starfield.js"></script>
        <link rel="stylesheet" href="/static/swrlly/css/style.css?v={{cssVersion}}">
        {% block header %} {% endblock %}
    </head>


    <body>
        {% block animation %}
        <div class="fullScreen" id="background">
            <canvas id="canvas2d"></canvas>
        </div>
        <script>var starField = new StarField('background').render(1000, 0.5, 80);</script>
        {% endblock %}
        
        {% block navbar %}
        <div style="border-top: 2px solid var(--lavender);"></div>
        <div class="container">
            <nav class="navbar bg-transparent">
                <div class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/projects">projects</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/music">music</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/blog">blog</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/teaching">teaching</a>
                </div>
            </nav>    
        </div>
        {% endblock %}

        {% block content %}
        <div class="container" style="margin-top:10vh;">

            <div class="container title-page-container fade-in-text" style="text-align: left;">
                
                <div class="title-page-border">
                    <div class="top-trail"></div>
                    <div class="left-trail"></div>
                </div>

                <div class="container title-page-content-container">
                    <h1 class="index-title fade-in-text">Hi, I'm Charlie</h1>
                    <p class="fade-in-text">Welcome to my personal website! I'm a mathematics teacher, data scientist, and electronic music producer. I am currently Math Faculty at Allan Hancock College.</p>
                    
                    <p class="fade-in-text">I was a former mathematics lecturer at Cal Poly; I've developed new approaches in precalculus pedagogy <a href="/blog/teaching-algebra-to-avoid-common-mistakes-terms-and-factors">to understand and prevent common algebraic mistakes</a> in the pursuit of equitable and quality mathematics teaching and created <a href="/teaching">interactive lecture notes</a>.</p>
                    
                    <p class="fade-in-text">I'm also a huge data enthusiast. A few of my projects include a <a href="https://realmcharts.swrlly.com">live dashboard</a> for RotMG tracking player statistics, a comprehensive end-to-end <a href="/projects/comprehensive-time-series-analysis">time series analysis</a> on two months of collected player data, and analyzing marine population dynamics using segmented regression.</p>

                    <p class="fade-in-text">On my free time you'll find me producing <a href="/music">electronic music</a> and pursuing <a href="/projects">projects</a> ranging from reverse engineering, math, and web design/development.</p>

                    <!--<p class="fade-in-text">I'm currently looking for my next role in data science or mathematics education. Shoot me an email at <span id="change"></span> if you'd like to chat!</p>-->

                    <div class="titleicons fade-in-text">
                        <div style="margin-left: auto;"></div>
                        <a class="no-underline github-icon" href="https://github.com/swrlly/" target="_blank"> 
                            <span class="i-github"></span>

                        </a>
                        <a class="no-underline sc-icon" href="https://soundcloud.com/swrlly/" target="_blank">
                            <span class="i-soundcloud"></span>
                        
                        </a>
                        <a class="no-underline yt-icon" href="https://www.youtube.com/channel/UCj4C0AeAZCwiWWntBrFVSqA" target="_blank">
                            <span class="i-youtube-play"></span>

                        </a>
                        <a class="no-underline spotify-icon" href="https://open.spotify.com/artist/4QCigBPj4bUoMFsow7KQ9k?si=Pww4h3CXQheOxwopf-EeTA" target="_blank" rel="noopener noreferrer" aria-hidden="true">
                            <span class="i-spotify"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class = "container">

            <div class = "parent d-flex justify-content-center align-items-center">
                
                <h1 class = 'title fade-in-text'>swrlly</h1>
                
                <h2 class = "titleicons fade-in-text d-flex">
                    <a class="no-underline" href="https://github.com/swrlly/" target="_blank" rel="noopener noreferrer" aria-hidden="true"> 
                        <div class="titleicon fa-brands fa-github github-hover"></div>
                    </a>
                    <a class="no-underline" href="https://soundcloud.com/swrlly/" target="_blank" rel="noopener noreferrer" aria-hidden="true">
                        <div class="titleicon fa-brands fa-soundcloud sc-hover"></div>
                    </a>
                    <a class="no-underline" href="https://www.youtube.com/channel/UCj4C0AeAZCwiWWntBrFVSqA" target="_blank" rel="noopener noreferrer" aria-hidden="true">
                        <div class="titleicon fa-brands fa-youtube yt-hover"></div>
                    </a>
                    <a class="no-underline" href="https://open.spotify.com/artist/4QCigBPj4bUoMFsow7KQ9k?si=Pww4h3CXQheOxwopf-EeTA" target="_blank" rel="noopener noreferrer" aria-hidden="true">
                        <div class="titleicon fa-brands fa-spotify spotify-hover"></div>
                    </a>
                </h2>
            </div>
        </div>-->

        <!--<div><a href="https://www.abuseipdb.com/user/88902" title="AbuseIPDB is an IP address blacklist for webmasters and sysadmins to report IP addresses engaging in abusive behavior on their networks">
        <img src="https://www.abuseipdb.com/contributor/88902.svg" alt="AbuseIPDB Contributor Badge" style="width: 244px;">
        </a></div>-->

        {% endblock %}

        {% block email %}
        <!--<script>
        document.getElementById("change").innerHTML = "c" + "h" + "a" + "r" + "l" + "i" + "e" + "@" + "s" + "w" + "r" + "l" + "l" + "y" + "." + "c" + "o" + "m";
        </script>-->
        {% endblock %}

    </body>

</html>
