<!DOCTYPE html>

<html lang="en">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='swrlly/favicon.png')}}">
    <head>
        {% block title %}<title>swrlly - teaching</title>{% endblock %}
        {% block discord %}
        <meta property="og:title" content="teaching"/>
        <meta name="theme-color" content="transparent"/>
        <meta property="description" content="Course materials for precalculus/calculus at Cal Poly: MATH 118, MATH 119, MATH 141, MATH 161, MATH 221"/>
        <meta property="og:description" content="Course materials for precalculus/calculus at Cal Poly: MATH 118, MATH 119, MATH 141, MATH 161, MATH 221"/>
        <meta property="og:url" content="https://swrlly.com/teaching"/>
        <meta property="og:image" content="/static/swrlly/favicon.png" />
        {% endblock %}
        <!-- Required meta tags -->     
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="/static/swrlly/js/starfield.js"></script>
        <link rel="preload" href="/static/swrlly/css/style.css?v={{cssVersion}}" as="style"/>
        <link rel="stylesheet" href="/static/swrlly/css/style.css?v={{cssVersion}}">
        <script>
            MathJax = {
                tex: {
                  inlineMath: [['$', '$'], ['\\(', '\\)']]
                },
                svg: {
                  fontCache: 'global'
                }
              };

        </script>
        <script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
        {% block mathimports %}
        <script rel="preload" src="/static/swrlly/js/teaching.js" async></script>
        {% endblock %}
    </head>

     <!--MathJax.Hub.Register.StartupHook("TeX color Ready", function() {
        var color = MathJax.Extension["TeX/color"];
        color.colors["lavender"] = color.getColor('RGB','179,154,240');
        color.colors["lightblue"] = color.getColor('RGB','142,181,227');
        color.colors["lightyellow"] = color.getColor('RGB','236,231,141');
        });-->

    <script type="text/javascript">
        window.onload = function() {
            setTimeout(function() {
                document.getElementById("body").style.display = "";
            }, 200);
        };
    </script>
    
    <body>

        <!--<div class="fullScreen" id="background">
            <canvas id="canvas2d"></canvas>
        </div>

        <script>var starField = new StarField('background').render(1000, 0.5, 80);</script>-->

        {% block navbar %}
        <div style="border-top: 2px solid var(--lavender);"></div>
        <div class="container">
            <nav class="navbar bg-transparent">
                <div class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/projects">projects</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/music">music</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/blog">blog</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/teaching">teaching</a>
                </div>
            </nav>    
        </div>
        {% endblock %}

        {% block content %}
        <div class="container fade-in-text text-padding">

            <h1 class="page-title">Teaching</h1>
            <p>Welcome! Here you can find class materials for classes I've taught at universities before.</p>

            <h1>Cal Poly</h1><hr>

            <div class="padding-top teachingicons">

                <div id="d-2" class="fade-in-text iconcontainer">
                    <a href="teaching/math-118">
                        <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                        <div class="center-text-over-image">\(f(x)\)</div>
                    </a>
                    <div class="bottomicontext">Math 118</div>
                </div>

                <div id="d-3" class="fade-in-text iconcontainer">
                    <a href="teaching/math-119">
                        <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                        <div class="center-text-over-image">\(\sin(x)\)</div>
                    </a>
                    <div class="bottomicontext">Math 119</div>
                </div>

                <div id="d-4" class="fade-in-text iconcontainer">
                    <a href="teaching/math-141">
                        <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                        <div class="center-text-over-image">\(\dfrac{d}{dx}\)</div>
                    </a>
                    <div class="bottomicontext">Math 141</div>
                </div>

                <div id="d-5" class="fade-in-text iconcontainer">
                    <a href="teaching/math-161">
                        <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                        <div class="center-text-over-image">\(\dfrac{d}{dx}\)</div>
                    </a>
                    <div class="bottomicontext">Math 161</div>
                </div>

                <div id="d-6" class="fade-in-text iconcontainer">
                    <a href="teaching/math-221">
                        <img class="teachingicon" src="/static/swrlly/images/teaching/lecture-card-texture.png"></img>
                        <div class="large-center-text-over-image">\(\int\)</div>
                    </a>
                    <div class="bottomicontext">Math 221</div>
                </div>

            </div>
        </div>
        {% endblock %}

    </body>


</html>