{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 6 (T/TH)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 6 (T/TH)"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="Homework 6 (T/TH)"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/tth/hw6"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 6</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>

        <li class="hw-space">Given the two functions $f$ and $g$ 

            <img src="/static/swrlly/images/teaching/118-hw5-1.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
    
            <ol type="a">
                <li class="hw-space">Solve the equation $f(x) = g(x)$.</li>
                <li class="hw-space">Solve the equation $f(x) < g(x)$.</li>
                <li class="hw-space">Solve the equation $f(x) \geq g(x)$.</li>
                <li class="hw-space">On what intervals is $f(x)$ increasing and decreasing?</li>
                <li class="hw-space">On what intervals is $g(x)$ increasing and decreasing?</li>
                <li class="hw-space">What is the local maxima of $f(x)$?</li>
            </ol>
        </li>

        <li class="hw-space"> Solve the following equations/inequalities with 1.5 methods or using the graph. You can use <a href="https://desmos.com">Desmos</a> (but graph both graphs on the homework you will submit).
            <ol type="a">
                <li class="hw-space">$x - 2 = 4 - x$</li>
                <li class="hw-space">$x^3 + 3x^2 = -x^2 + 5x$</li>
                <li class="hw-space">$x^3 + 3x^2 < -x^2 + 5x$</li>
                <li class="hw-space">$16x^3 + 16x^2 = x + 1$</li>
                <li class="hw-space">$1 + \sqrt{x} = \sqrt{x^2 + 1}$</li>
            </ol>
        </li>

        <li class="hw-space"> Find the increasing/decreasing intervals and all local maxima/minima and the location at which they occur:
            <ol type="a">
                <li class="hw-space"><img src="/static/swrlly/images/teaching/118-hw5-2.PNG" style="max-width:350px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>
                <li class="hw-space"><img src="/static/swrlly/images/teaching/118-hw5-3.PNG" style="max-width:350px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>
            </ol> 
        </li>

        <li class="hw-space">What is the average rate of change of $f(x)$ on $(x, x + h)$ defined as?</li>
        
        <li class="hw-space">If a function has negative average rate of change on $(a, b)$, must it be decreasing on $(a, b)$? If not, draw a counterexample.</li>

        <li class="hw-space">Find the average rate of change for the following functions between the given values. Fully simplify when necessary.
            <ol type="a">
                <li class="hw-space">$f(x) = \sqrt{x}; \qquad (x, x + h)$
                    <br><b>Hint</b> Rationalize the numerator.
                </li>
                <li class="hw-space">$f(x) = x^3 - 4x^2; \qquad (0, 10)$</li>
                <li class="hw-space">$f(x) = 3x - 2; \qquad (2, 3)$</li>
                <li class="hw-space">$f(x) = 1 - 3x^2; \qquad (2, 2 + h)$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x}; \qquad (x, x + h)$</li>
            </ol>

            <!--The <b>net change</b> on the interval $(a, b)$ is $f(b) - f(a)$. It is the numerator of the average rate of change.-->
        </li>

        <li class="hw-space">Which transformations should be last?</li>
        
        <li class="hw-space">If I have a base function $f(x)$, explain in English what the following transformations will do to $f(x)$:
            <ol type="a">
                <li class="hw-space">$f(x + 2)$</li>
                <li class="hw-space">$f(-x)$</li>
                <li class="hw-space">$-f(x) - 3$</li>
                <li class="hw-space">$-f(-2x + 4)$</li>
                <li class="hw-space">$3-f\left(-\frac{1}{2}x + 2\right)$</li>
            </ol>
        </li>

        <li>Suppose \[f(x) = \sqrt{x} \qquad g(x) = \sqrt{-x - 2} \qquad h(x) = \sqrt{- x + 2} \qquad i(x) = \sqrt{-(x + 2)}\]
            <ol>
                <li class="hw-space">Is $g(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
            </ol>
        </li>
        <li class="hw-space">Suppose \[f(x) =  x^3 \qquad g(x) = \left(-x - 4\right)^3 \qquad h(x) = \left(-x + 4\right)^3 \qquad i(x) = (-(x+4))^3\]
            <ol type="a">
                <li class="hw-space">Is $g(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
            </ol>
        </li>

        <li class="hw-space">Write out the list of transformations in the order needed to transform the parent function into $f(x)$.
            <ol type="a">
                <li class="hw-space">$f(x) = \sqrt{x + 4} - 3$<br><b>Hint</b> Parent is $g(x) = \sqrt{x}$</li>
                <li class="hw-space">$f(x) = 2-(x-1)^2$<br> <b>Hint</b> Parent is $g(x) = x^2$</li>
                <li class="hw-space">$f(x) = 4 - \sqrt{-2x + 4}$<br><b>Hint</b> Parent is $g(x) = \sqrt{x}$. Don't forget to factor out $-2$.</li>
                <li class="hw-space">$f(x) = -2\lvert{-x - 1}\rvert + 3$<br><b>Hint</b> Parent is $g(x) = \lvert x \rvert$. Don't forget to factor out $-1$.</li>
            </ol>
        </li>

        <li class="hw-space">For each red function, write out what the transformation from $f(x)$ should be:
            <img src="/static/swrlly/images/teaching/118-hw5-4.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        </li>

        <li class="hw-space">Graph the following functions using transformations. Include at least two transformed points and ordered of transformations you apply them in for full credit.
            <ol type="a">
                <li class="hw-space">$g(x) = \sqrt{x + 4} - 3$</li>
                <li class="hw-space">$g(x) = -(x-1)^2$</li>
                <li class="hw-space">$g(x) = -2 - \sqrt{-2x + 6}$</li>
                <li class="hw-space">$g(x) = -\lvert-2x - 2\rvert + 4$</li>
                <li class="hw-space">$g(x) = 2(-2x+6)^2 - 1$</li>

            </ol>
        </li>

        <li class="hw-space">Suppose \[f(x) = 2x^2 + x \qquad g(x) = x^2 - x \qquad h(x) = x^2 - 1 \qquad k(x) = x^4\] Evaluate and expand the following:
            <ol type="a">
                <li class="hw-space">$f(x) + g(x) + h(x)$</li>
                <li class="hw-space">$f(x) - g(x)$<br><b>Hint</b> Look at how many terms you are substituting. Don't forget...</li></li>
                <li class="hw-space">$g(x)h(x) - k(x)$</li>
                <li class="hw-space">$f(x)\left[k(x)\right]^2$</li>
                <li class="hw-space">$\dfrac{g(x)}{h(x)}$ (also find the domain).</li>
            </ol>
        </li>

        <li class="hw-space">Consider $f(x) = x^2 -1$ and $g(x) = x^2 + 2x + 1$. We make a new function $h(x) = \dfrac{g(x)}{f(x)}$. 
            <ol type="a">
                <li class="hw-space">Find and simplify the formula for $h(x)$.</li>
                <li class="hw-space">What are the $x$-values of the holes in $h(x)$?</li>
                <li class="hw-space">What is the domain of $h(x)$?</li>
            </ol>
        </li>

        <li class="hw-space"> Suppose \begin{align}f(x) &= (x^2 - 1)^3 \\ f'(x) &= 6x(x^2 - 1)^2 \\ g(x) &= x^2 + 1 \\ g'(x) &= 2x\end{align}

            Evaluate and simplify the following:

            <ol type="a">
                <li class="hw-space">$\dfrac{g'(x)f(x) - f'(x)g(x)}{\left[g(x)\right]^2}$ <br><b>Hint</b> Look at how many terms you are substituting. Don't forget...</li>
                <li class="hw-space">$f'(x)g(x) + f(x)g'(x)$</li>
            </ol>
        </li>

        <li class="hw-space"> 
            Given the functions $f(x) = 2x- 5$ and $g(x) = 3 - x^2$, evaluate the following and fully simplify.
            <br><b>Hint</b> Expand because like terms are created.
            <ol type="a">
                <li class="hw-space">$f\circ g$</li>
                <li class="hw-space">$f(g(0))$</li>
                <li class="hw-space">$g \circ f$ </li>
                <li class="hw-space">$f \circ f$</li>
                <li class="hw-space">$g \circ g$</li>
                <li class="hw-space">$f \circ f \circ f$</li>
            </ol>
        </li>

        <li class="hw-space">Given the following functions $F(x)$, find two functions $f$ and $g$ where $f\circ g  = F$. <br>Choosing $f(x) = x$ or $g(x) = x$ is zero credit for this problem.
        <ol type="a">
            <li class="hw-space">$F(x) = (x-3)^4$</li>
            <li class="hw-space">$F(x) = (2x-3)^{-\frac{1}{2}}$</li>
            <li class="hw-space">$F(x) = \sqrt{1 - \sqrt{x}}$</li>
            <li class="hw-space">$F(x) = \sqrt{(x^2 + 2x + 3)^3}$</li>
        </ol>


        <!--<li class="hw-space">Suppose $f(x) = \sqrt{x}$. We want to vertically shift $f(x)$ upwards 3 units, left four units, reflect around the $x$-axis, and reflect around the $y$-axis to make a new function $g(x)$. What is the formula of $g(x)$?</li>
        -->
        <!--<li class="hw-space">Given the two functions $f$ and $g$ 

            <img src="/static/swrlly/images/teaching/118-hw5-1.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
    
            <ol type="a">
                <li class="hw-space">What is $f(0)$?</li>
                <li class="hw-space">What is $g(3)$?</li>
                <li class="hw-space">Solve the equation $f(x) = g(x)$.</li>
                <li class="hw-space">On what intervals is $f(x)$ increasing and decreasing?</li>
                <li class="hw-space">On what intervals is $g(x)$ increasing and decreasing?</li>
                <li class="hw-space">What is the local maxima of $f(x)$?</li>
            </ol>

        </li>

        <li class="hw-space"> Solve the following equations with 1.4 methods or using the graph. You can use Desmos (but graph both graphs on the homework).
            <ol type="a">
                <li class="hw-space">$x - 2 = 4 - x$</li>
                <li class="hw-space">$x^3 + 3x^2 = -x^2 + 3x + 7$</li>
                <li class="hw-space">$16x^3 + 16x^2 = x + 1$</li>
                <li class="hw-space">$1 + \sqrt{x} = \sqrt{x^2 + 1}$</li>
            </ol>
        </li>

        <li class="hw-space"> Find the increasing/decreasing intervals and all local maxima/minima and the location at which they occur:
            <ol type="a">
                <li class="hw-space"><img src="/static/swrlly/images/teaching/118-hw5-2.PNG" style="max-width:350px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>
                <li class="hw-space"><img src="/static/swrlly/images/teaching/118-hw5-3.PNG" style="max-width:350px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>
            </ol> 
        </li>

        
        <li class="hw-space">If a function has negative average rate of change on $(a, b)$, does it have to be decreasing on $(a, b)$?</li>
        <li class="hw-space">Find the net change and average rate of change for the following functions between the given values. Fully simplify (expand/combine like terms/etc.) whenever necessary.
            <ol type="a">
                <li class="hw-space">$f(x) = 3x - 2; \qquad (2, 3)$</li>
                <li class="hw-space">$f(x) = x^3 - 4x^2; \qquad (0, 10)$</li>
                <li class="hw-space">$f(x) = 3x - 2; \qquad (2, 3)$</li>
                <li class="hw-space">$f(x) = 1 - 3x^2; \qquad (2, 2 + h)$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x}; \qquad (x, x + h)$</li>
            </ol>
        </li>

        <li class="hw-space">If I have a base function $f(x)$, explain in English what the following transformations will do:
            <ol type="a">
                <li class="hw-space">$f(x + 2)$</li>
                <li class="hw-space">$f(2x)$</li>
                <li class="hw-space">$-f(x)$</li>
                <li class="hw-space">$-2f(x - 3)$</li>
                <li class="hw-space">$-f(-x)$</li>
            </ol>
        </li>

        <li class="hw-space">Graph the following using transformations. Write out the blueprint of transformations to arrive at $f(x)$.
            <ol type="a">
                <li class="hw-space">$f(x) = \sqrt{x + 4} - 3$</li>
                <li class="hw-space">$f(x) = -(x-1)^2$</li>
                <li class="hw-space">$f(x) = 2 - 3(4x - 4)^2$</li>
            </ol>
        </li>

        <li>Suppose \[f(x) = \sqrt{x} \qquad g(x) = \sqrt{x - 2} \qquad h(x) = \sqrt{\frac{1}{2}x - 2} \qquad i(x) = \sqrt{\frac{1}{2}\left(x-2\right)}\]
            <ol>
                <li class="hw-space">Is $g(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
            </ol>
        </li>
        <li class="hw-space">Suppose \[f(x) =  x^3 \qquad g(x) = \left(\pi\left(x + 4\right)\right)^3 \qquad h(x) = \left(0.25x + 4\right)^3 \qquad i(x) =(x+4)^3\]
            <ol type="a">
                <li class="hw-space">Is $g(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x) = \sqrt{x}$. We want to vertically shift $f(x)$ upwards 3 units and left four units to make a new function $g(x)$. What is the formula of $g(x)$?</li>
        <li class="hw-space">Starting from a base function $f(x)$, I want to create a function where I 
            <ol type="a">
                <li class="hw-space">vertically shift up three units</li>
                <li class="hw-space">horizontally shift right four units</li>
                <li class="hw-space">vertical stretch of 2 units</li>
                <li class="hw-space">horizontal shrink of $\frac{1}{3}$ units</li>
                <li class="hw-space">reflection over the $x$-axis</li>
            </ol>
            What should the formula of $f(x)$ look like?
        </li>

        <li class="hw-space">For each red function, write out what the transformation from $f(x)$ should be:

            <img src="/static/swrlly/images/teaching/118-hw5-4.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

        </li>

    -->


    </ol>


</div>
{% endblock %}