{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Homework 8 (T/TH)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - Homework 8 (T/TH)"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="Homework 8 (T/TH)"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/homework/tth/hw8"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 8</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>
        <li class="hw-space">If I have a polynomial $P(x)$ and I divide it by $x - c$, is the remainder $P(c)$?</li>
        <li class="hw-space">If I have a polynomial $P(x)$ and $P(-222) = 0$, what must be a factor of $P(x)$?</li>
        <li class="hw-space">If I have a polynomial $P(x)$ and $x + 3$ is a factor, is $P(3) = 0$?</li>
        <li class="hw-space">If I divide $x^3 + 3x^2 - 7x + 6$ by $x - 2$, what is the remainder? You can either justify with the Remainder Theorem or long division.</li>
        <li class="hw-space">If \[x^{201} - 2x^{199} + x^{52} - 2x^{32} + 3x + 1\] is divided by $x - 1$, what is the remainder?</li>
        <li class="hw-space">Suppose $P(x) = x^4 - 10x^2 + 9$. We know that $P(3) = 0$. What is the remainder when $P(x)$ is divided by $x - 3$?</li>

        <li class="hw-space">Two polynomials $P$ and $D$ are given. Use long division to divide $P(x)$ by $D(x)$ and express $P$ in the form \[P(x) = D(x)\cdot Q(x) + R(x)\]
            <ol type="a">
                <li class="hw-space">$P(x) = x^4 + 2x^3 - 10x, \qquad D(x) = x - 3$</li>
                <li class="hw-space">$P(x) = 18x^5 - 9x^4 + 3x^2 - 3, \qquad D(x) = 3x^2 - 3x + 1$</li>
            </ol>
        </li>

        <li class="hw-space">Divide the following polynomials using long division. Write your answer as $P(x) = D(x) \cdot Q(x) + R(x)$.
            <ol type="a">
                <li class="hw-space">$\dfrac{4x^3 + 2x^2 - 2x - 3}{2x + 1}$</li>
                <li class="hw-space">$\dfrac{x^6 + x^4 + x^2 + 1}{x^2 + 1}$<br>
                <b>Hint</b> Don't forget a placeholder for the divisor.</li>
            </ol>
        </li>

        <li class="hw-space">
            A polynomial $P(x)$ is given, with a few zeros.<br> Find a complete factorization over $\mathbb{R}$ using the division algorithm.<br>
            You <b>must</b> use long division or no credit is received.
            <ol type="a">
                <li class="hw-space">$P(x) = x^3 + 2x^2 - 13x + 10, \qquad x = 1$</li>
                <li class="hw-space">$P(x) = 3x^4 - x^3 - 21x^2 -11x + 6, \qquad x = -1, -2$</li>
                <li class="hw-space">$P(x) = 4x^4 - 4x^3 - 3x^2 + 2x + 1, \qquad x = 1$</li>
                <li class="hw-space">$P(x) = x^4 - 5x^3 + 6x^2 + 4x - 8, \qquad x = 2$</li>
            </ol>
        </li>
        
        <li class="hw-space">Find a polynomial of degree 4 with zeroes $-1, 0, 2$ and $\sqrt{2}$.</li>
        <li class="hw-space">Find a polynomial of degree 6 with zeroes $-3, 2$ and $4$.</li>

        <li class="hw-space">
            What is the definition of an irreducible polynomial?
        </li>

        <li class="hw-space">
            Write down the definition of zero from <a href="/teaching/math-118/lectures/3.2">Section 3.2</a>. I will ask you to recall this definition on next week's quiz!
        </li>

        <li class="hw-space">Suppose $P(x)$ factors into two irreducible quadratics and three linear factors over $\mathbb{R}$. What is the degree of $P(x)$?</li>

        <li class="hw-space">Given a complete factorization over $\mathbb{R}$, how do you find a complete factorization over $\mathbb{C}$?</li>

        <li class="hw-space">State whether each of the following statements are true or false.
            <ol type="a">
                <li class="hw-space">The point of <a href="/teaching/math-118/lectures/3.3">Section 3.3</a> and <a href="/teaching/math-118/lectures/3.5">Section 3.5</a> is to describe how polynomials factor.</li>
                <li class="hw-space">Every real number is a complex number.</li>
                <li class="hw-space">In the Real Factorization Theorem, it is possible for a polynomial to factor into only irreducible polynomials.</li>
                <li class="hw-space">The polynomial $P(x) = x^{234} - 4x^{22} - 4$ factors into $234$ linear factors over $\mathbb{C}$.</li>
                <li class="hw-space">Irreducible polynomials always factor into two linear factors over $\mathbb{R}$.</li>
                <li class="hw-space">The polynomial $P(x) = x^2 + 2$ factors into two linear factors over $\mathbb{R}$.</li>
                <li class="hw-space">The polynomial $P(x) = x^3 + x$ has one real zero and two complex zeros.</li>
                <li class="hw-space">Given a polynomial $P(x)$, the complete factorization over $\mathbb{R}$ is always the same as the complete factorization over $\mathbb{C}$.</li>   
                <li class="hw-space">A complete factorization over $\mathbb{R}$ always results in linear factors.</li>
                <li class="hw-space">A polynomial of degree $n$ will always have $n$ real zeros.</li>
                <li class="hw-space">A polynomial of degree $n$ will always have $n$ complex zeros.</li>
            </ol>
        </li>

        <li class="hw-space">Describe a polynomial of degree 5 with 3 linear factors and one irreducible factor.</li>

        <li class="hw-space">Suppose $P(x) = x^3 - x - 6$. Out of the numbers $-2, -1, 0, 1, 2$, which one(s) are zeros of $P(x)$?</li>

        <li class="hw-space">If $P(x)$ is degree two with two complex zeros $x = \dfrac{1 \pm i\sqrt{5}}{3}$, what does the complete factorization over $\mathbb{C}$ look like? </li>

        <li class="hw-space">
            A polynomial is given, sometimes with a few zeros. Do three things for each one:
            <p style="margin-bottom: 0rem;">
                <span style="font-size: 1.25rem;">①</span> Determine the number of zeros, counting multiplicity.<br> <span style="font-size: 1.25rem;">②</span>  Find a complete factorization over $\mathbb{R}$.<br> <span style="font-size: 1.25rem;">③</span> Find a complete factorization over $\mathbb{C}$.
            </p>

            <ol type="a">
                <li class="hw-space"> $P(x) = 2x^2 - 2x + 3$</li>
                <li class="hw-space"> $P(x) = x^3 + 2x^2 + 4x + 8$</li> 
                <li class="hw-space"> $P(x) = x^3 -7x^2 + 17x - 15 \qquad$ where $P(3) = 0$ (no need to verify).</li>
                <li class="hw-space"> $P(x) = x^3 - x - 6 \qquad$ (use the zero from Problem 18).</li>
                <li class="hw-space"> $P(x) = x^4 + 8x^2 + 16$</li>
                <li class="hw-space"> $P(x) = 2x^6 - 4x^4 + 2x^2$</li>
                <li class="hw-space"> $P(x) = 2x^3 - 8x^2 + 9x - 9 \qquad$ where $x = 3$ is a zero.</li>
            </ol>
        </li>

        <p><b>Hint</b> If you are struggling, see the <a href="/teaching/math-118/lectures/3.5#3.5multexample">example we did in class, which has a solution online now!</a></p>

        <!--
        <li class="hw-space">If $y \rightarrow -\infty$ as $x \rightarrow 2$, what is the line $x = 2$ called?</li>
        <li class="hw-space">If $y \rightarrow 3$ as $x \rightarrow -\infty$, what is the line $y = 3$ called?</li>
        <li class="hw-space">Find the vertical and horizontal asymptotes for the following rational functions, if any. If the rational function has a hole, make sure to redefine it in it's simpler form (the domain restriction).
            <ol type="a">
                <li class="hw-space">$f(x) = \dfrac{4x - 4}{x + 2}$</li>
                <li class="hw-space">$f(x) = \dfrac{(x+1)(2x-3)}{(x-2)(4x+7)}$</li>
                <li class="hw-space">$f(x) = \dfrac{3x + 1}{4x^2 + 1}$</li>
                <li class="hw-space">$r(x) = \dfrac{x^2 - 1}{x^2 + 2x + 1}$</li>
                <li class="hw-space">$f(x) = \dfrac{4x^2 - 1}{2x^2 + 7x + 3}$</li>
                <li class="hw-space">$f(x) = \dfrac{x^3 - x}{x + 2}$</li>
                <li class="hw-space">$f(x) = \dfrac{x^3 - x^2}{x^2 - 3x - 2}$</li>
            </ol>
        </li>
        <li class="hw-space">What horizontal and vertical asymptotes does this graph have? <img src="/static/swrlly/images/teaching/118-hw9-1.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>
        <li class="hw-space">The rational function \[r(x) = \dfrac{x^3 - 5x^2 + 3x + 9}{x+1}\] has a hole at $x = -1$. Use the division algorithm to rewrite $r(x)$ in it's more simpler form and also sketch a rough graph (quadratic, can use standard form).</li>
        <li class="hw-space">Given the function $f(x) = 4^x$, find 
            <ol type="a">
                <li class="hw-space">$f(1)$</li>
                <li class="hw-space">$f\left(\dfrac{1}{2}\right)$</li>
                <li class="hw-space">$f(2)$</li>
                <li class="hw-space">$f\left(\dfrac{3}{2}\right)$</li>
            </ol>
        </li>
        <li class="hw-space">Suppose $a \in \mathbb{R}$. What horizontal asymptote does $f(x) = a^x$ have?</li>
        <li class="hw-space">If $f(x) = 2^x$, evaluate and simplify the expression \[\dfrac{f(x + h) - f(x)}{h}\] so there is one fraction with $h$'s in it.</li>
        <li class="hw-space">You found a bank which doubles your deposited money every day. You deposit one penny at day $t = 0$. The next day ($t = 1$) you have two pennies, and the second day you have four pennies.
            <ol type="a">
                <li class="hw-space">Find an exponential function $f(t)$ which can describe the amount of money you have after $t$ days.
                </li>
                <li class="hw-space">How many days does it take for your balance to surpass one million dollars? Desmos can help here.</li>
                <li class="hw-space">What is your reaction to the answer from the previous part?</li>
            </ol>
        </li>
        <li class="hw-space">If \$10,000 is invested at an interest rate of 3% per year, compounded semiannually, find the value of the investment after 5, 10, and 15 years.</li>
        <li class="hw-space">Find the annual percentage yield for an investment that earns 8% per year, compouned monthly.</li>
        <li class="hw-space">Sketch a rough graph of the following functions using transformations: \[f(x) = 2^{-x} \qquad \qquad g(x) = -2^{x} \qquad \qquad h(x) = -2^{-x}\]</li>
        <li class="hw-space">With a base function $f(x) = e^x$, determine the transformations the following functions use:
            <ol type="a">
                <li class="hw-space">$g(x) = 1 + e^x$</li>
                <li class="hw-space">$h(x) = e^{2x}$</li>
                <li class="hw-space">$r(x) = 2 - e^{x-3}$</li>
                <li class="hw-space">$g(x) = 4 + e^{3(x+2)}$</li>
            </ol>
        </li>
        <li class="hw-space">To obtain a larger financial gain, determine which interest rate is better after 50 years:
            <ol type="a">
                <li class="hw-space">$5.125\%$ per year, compounded semiannually</li>
                <li class="hw-space">$5\%$ per year, compounded continuously</li>
            </ol>
            Hint: fix your principal to an arbitrary number.
        </li>
        <li class="hw-space">A drug was taken by an individual. The number of milligrams remaining in the person's bloodstream after $t$ hours is \[D(t) = 50e^{-t}\]
            <ol type="a">
                <li class="hw-space">
                    As $t \rightarrow \infty$, what does $D(t)$ approach? Do you think this behavior is appropriate to model our intuition from the real world?
                </li>
                <li class="hw-space">How many milligrams of the drug remains in the bloodstream after 5 hours?</li>
            </ol>
        </li>
        
        <li class="hw-space">Animal populations are not capable of unrestricted growth because of limited habitat and food supplies. Under such conditions the population follows a <b>logistic growth model</b>:
            
            \[P(t) = \dfrac{d}{1 + ke^{-ct}}\]
            
            where $c,d$ and $k$ are positive constants. For a certain fish population in a small pond, we estimate $d = 1200, k = 11, c = 0.2$ and let $t$ be measured in years. The fish were introduced into the pond at time $t = 0$.
            <ol type="a">
                <li class="hw-space">How many fish were originally put into the pond?</li>
                <li class="hw-space">Find the fish population after 10, 20 and 30 years.</li>
                <li class="hw-space">Evaluate $P(t)$ for large values of $t$. In fact, as $t\rightarrow \infty$, what does the population approach?</li>
                <li class="hw-space">From your answer in part $(c)$, what does the constant $d$ represent? </li>
                <li class="hw-space">Graph $P(t)$ in Desmos. Does this function make sense in terms of a limited habitat and food supplies?</li>
                <li class="hw-space">From part $(d)$, what does this show us about setting parameters in functions? If this was a real life scenario, could we use these same ideas to model real life phenomena?</li>
            </ol>
        </li>-->
    </ol>


</div>
{% endblock %}