<!doctype html>
<html lang="en">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='swrlly/favicon.png')}}">
    <head>
        {% block title %}<title>swrlly - blog</title>{% endblock %}
        {% block discord %}
        <meta property="og:title" content="blog"/>
        <meta name="theme-color" content="transparent"/>
        <meta property="description" content="Math lecturer at Cal Poly SLO. Data enthusiast, mathematics educator and electronic music producer. Read about my thoughts here!"/>
        <meta property="og:description" content="Math lecturer at Cal Poly SLO. Data enthusiast, mathematics educator and electronic music producer. Read about my thoughts here!"/>
        <meta property="og:url" content="https://swrlly.com/blog"/>
        <meta property="og:image" content="/static/swrlly/favicon.png" />
        {% endblock %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="/static/swrlly/js/starfield.js"></script>
        <link rel="stylesheet" href="/static/swrlly/css/style.css?v={{cssVersion}}">
        <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
            };

        </script>
        <script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
        {% block extraimports %} {% endblock %}
    </head>
    
    <body>

        {% block navbar %}
        <div style="border-top: 2px solid var(--lavender);"></div>
        <div class="container">
            <nav class="navbar bg-transparent">
                <div class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/projects">projects</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/music">music</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/blog">blog</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/teaching">teaching</a>
                </div>
            </nav>    
        </div>
        {% endblock %}   
        
        {% block content %}
        <div class = "container fade-in-text text-padding">


            <h1 class="page-title">Blog</h1>

            <p>Collection of my thoughts. Enjoy!</p>

            <h2 class="blog-year-header">2025</h2>
            <div style="display:grid; grid-template-columns: 1; row-gap: 1vh;">
                <a id="second" class="fade-in-text no-link-style" href="/blog/teaching-algebra-to-avoid-common-mistakes-terms-and-factors">
                    <section class="blog-article">
                        <div>
                            <div class="blog-article-title">Teaching Algebra To Avoid Common Mistakes: Terms, Factors and Context</div>
                            <time class="blog-article-date">August 26, 2025<time>
                        </div>  
                        <div class="blog-article-picture">$(x+2)^2 = x^2 + 2^2$</div>
                    </section>
                </a>

                <!--<a class="no-link-style" href="/blog/teaching-algebra-to-avoid-common-mistakes-terms-and-factors">
                    <section class="blog-article">
                        <div>
                            <div class="blog-article-title">Teaching Algebra To Avoid Common Mistakes: Terms and Factors</div>
                            <time class="blog-article-date">August 26, 2025<time>
                        </div>  
                        <div class="blog-article-picture">$(x+2)^2 = x^2 + 2^2$</div>
                    </section>
                </a>-->
            </div>
        </div>
        {% endblock %}

    </body>

</html>
