{% extends "swrlly/blog.html" %}

{% block title %}<title>swrlly - music</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="music"/>
<meta name = "theme-color" content="#b39af0">
<meta property="og:description" content="music by swrlly"/>
<meta property="og:url" content="https://swrlly.com/music"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png" />
{% endblock %}

{% block content %}

<div class = "container fade-in-text text-padding">
    <h1>Music</h1>
    <p>Click on an icon to select a streaming service!</p>
    <h2>Albums</h2>
    <div class = "row row-cols-2 row-cols-md-4 align-items-stretch g-4">
        <div class="col">
            <button class="btn bg-image">
                <a href="/music/midnight"><img class="albumicon" src="/static/swrlly/images/midnight.png"/></a>
            </button>
        </div>
        <div class="col">
            <button class="btn bg-image">
                <a href="/music/dreaming"><img class="albumicon" src="/static/swrlly/images/dreaming.png"/></a>
            </button>
        </div>
    </div>

    <h2>Singles</h2>
    <div class = "row row-cols-2 row-cols-md-4 align-items-stretch g-4">
        <div class="col">
            <button class="btn bg-image">
                <a href="/music/threesixtyfeeling"><img class="albumicon" src="static/swrlly/images/threesixtyfeeling.png"/></a>
            </button>
        </div>

        <div class="col">
            <button class="btn bg-image">
                <a href="/music/drift"><img class="albumicon" src="static/swrlly/images/drift.png"/></a>
            </button>
        </div>

        <div class="col">
            <button class="btn bg-image">
                <a href="/music/flight"><img class="albumicon" src="static/swrlly/images/flight.png"/></a>
            </button>
        </div>

        <div class="col">
            <button class="btn bg-image">
                <a href="/music/reflection"><img class="albumicon" src="static/swrlly/images/reflection.png"/></a>
            </button>
        </div>
    </div>
</div>
{% endblock %}