{% extends "swrlly/index.html" %}

{% block title %}<title>swrlly - music</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="music"/>
<meta name = "theme-color" content="#b39af0">
<meta property="og:description" content="music by swrlly"/>
<meta property="og:url" content="https://swrlly.com/music"/>
<meta property="og:image" content="/static/swrlly/favicon.png" />
{% endblock %}

{% block content %}
<div class = "container fade-in-text text-padding">
    
    <h1 class="page-title">Music</h1>

    <p>Welcome to my music page! I mainly create electronic instrumentals with a variety of energy levels in FL Studio. </p>
    <p>Click on an icon to select a streaming service of your choice :)</p>

    <h2>Albums & EPs</h2><hr>
    <div class="musicicons">
        <div id="second" class="fade-in-text">
            <button class="btn bg-image" >
                <a href="/music/midnight"><img rel="preload" class="albumicon" src="/static/swrlly/images/midnight.png"/></a>
            </button>
            <div class="bottomicontext">midnight</div>
        </div>
        <div id="third" class="fade-in-text">
            <button class="btn bg-image">
                <a href="/music/dreaming"><img rel="preload" class="albumicon" src="/static/swrlly/images/dreaming.png"/></a>
            </button>
            <div class="bottomicontext">dreaming</div>
        </div>
    </div>

    <h2>Singles</h2><hr>
    <div class = "musicicons">

        <div id="fourth" class="fade-in-text">
            <button class="btn bg-image">
                <a href="/music/transience"><img rel="preload" class="albumicon" src="static/swrlly/images/transience.jpg"/></a>
            </button>
            <div class="bottomicontext">transience</div>
        </div>

        <div id="fifth" class="fade-in-text">
            <button class="btn bg-image">
                <a href="/music/threesixtyfeeling"><img rel="preload" class="albumicon" src="static/swrlly/images/threesixtyfeeling.png"/></a>
            </button>
            <div class="bottomicontext">three sixty feeling</div>
        </div>

        <div id="sixth" class="fade-in-text">
            <button class="btn bg-image">
                <a href="/music/drift"><img rel="preload" class="albumicon" src="static/swrlly/images/drift.png"/></a>
            </button>
            <div class="bottomicontext">drift</div>
        </div>

        <div id="seventh" class="fade-in-text">
            <button class="btn bg-image">
                <a href="/music/flight"><img rel="preload" class="albumicon" src="static/swrlly/images/flight.jpg"/></a>
            </button>
            <div class="bottomicontext">flight</div>
        </div>

        <div id="eighth" class="fade-in-text">
            <button class="btn bg-image">
                <a href="/music/reflection"><img rel="preload" class="albumicon" src="static/swrlly/images/reflection.png"/></a>
            </button>
            <div class="bottomicontext">reflection</div>
        </div>
    </div>

    <h2>Collaborations</h2><hr>
    <div class = "musicicons">
        <div id="ninth" class="fade-in-text">
            <button class="btn bg-image">
                <a href="/music/daynight"><img rel="preload" class="albumicon" src="static/swrlly/images/daynight.jpg"/></a>
            </button>
            <div class="bottomicontext">day//night - dilip, callahan, swrlly</div>
        </div>
    </div>
</div>
{% endblock %}