{% extends "swrlly/blog.html" %}

{% block title %}<title>swrlly - projects</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="projects"/>
<meta name = "theme-color" content="#b39af0">
<meta property="og:description" content="projects I've worked on"/>
<meta property="og:url" content="https://swrlly.com/projects"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png" />
{% endblock %}

{% block content %}
<div class = "container fade-in-text text-justify text-padding">

    <h1><a href="https://darzacharts.swrlly.com">DarzaCharts</a></h1>
    <p>
        A website containing analytics on Darza's Dominion players. It's more accurate than <a href="https://steamcharts.com/app/1895130">steamcharts.com</a> as it contains mobile players as well!
    </p>
    <h1><a href="https://github.com/swrlly/vrelay">vrelay</a></h1>
    <p>
        A man in the middle proxy server for the Realm of the Mad God private server Valor. Features packet editing/hooking, a framework to write custom plugins, QoL plugins such as predictive autonexus, and data science-based scripts to autoupdate vrelay. Also contains patched exploits that can be generalized to any multiplayer game.
    </p>
</div>
{% endblock %}