{% extends "swrlly/index.html" %}

{% block title %}<title>swrlly - projects</title>{% endblock %}

{% block header %}
{{ super() }}
<script>
MathJax = {
    tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
        fontCache: 'global'
    }
    };

</script>
<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
{% endblock %}

{% block discord %}
<meta property="og:title" content="projects"/>
<meta name = "theme-color" content="#b39af0">
<meta property="og:description" content="projects I've worked on"/>
<meta property="og:url" content="https://swrlly.com/projects"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png" />
{% endblock %}

{% block content %}
<div class = "container fade-in-text text-justify text-padding">

    <p style="font-size: 5rem;">Projects</p>

    <h3 id="second" class="fade-in-text"><a href="https://cs.uwaterloo.ca/journals/JIS/VOL26/Mendes/mendes4.pdf">Matrix Representations From Labeled Trees</a></h3>
    <p id="second" class="fade-in-text">
        Let $X$ be the matrix representation induced by the action of the symmetric group $S_n$ on labeled trees with n vertices. This paper describes a new combinatorial proof between the number of times the irreducible representation of $S_n$ corresponding to the integer partition ($n− 1, 1)$ appears within $X$ and the number of rooted unlabeled trees with root node having degree 2, both branches distinct (<a href="https://oeis.org/A217420">OEIS Sequence A217420</a>).
    </p>

    <h3 id="third" class="fade-in-text"><a href="https://darzacharts.swrlly.com">DarzaCharts</a></h3>
    <p id="third" class="fade-in-text">
        A website containing player count analytics on Darza's Dominion players. Data was scraped using a clientless Python bot connected to the game servers (with developer permission)!
    </p>

    <h3 id="fourth" class="fade-in-text"><a href="https://github.com/swrlly/vrelay">vrelay</a></h3>
    <p id="fourth" class="fade-in-text">
        A man in the middle proxy server for the Realm of the Mad God private server Valor. Features packet editing/hooking, a framework to write custom plugins, QoL plugins such as predictive autonexus, and data science-based scripts to autoupdate vrelay. Also contains patched exploits that can be generalized to any multiplayer game.
    </p>
</div>
{% endblock %}