{% extends "swrlly/index.html" %}

{% block title %}<title>swrlly - projects</title>{% endblock %}

{% block header %}
{{ super() }}
<script>
MathJax = {
    tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
        fontCache: 'global'
    }
    };

</script>
<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
{% endblock %}

{% block discord %}
<meta property="og:title" content="projects"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="projects I've worked on"/>
<meta property="og:url" content="https://swrlly.com/projects"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png" />
{% endblock %}

{% block content %}
<div class="container fade-in-text text-justify text-padding">

    <h1 class="page-title">Projects</h1>

    <h3 id="d-2" class="fade-in-text project-title"><a target="_blank" href="https://cs.uwaterloo.ca/journals/JIS/VOL26/Mendes/mendes4.pdf">Matrix Representations From Labeled Trees</a></h3>
    <p id="d-2" class="fade-in-text">
        Let $X$ be the matrix representation induced by the action of the symmetric group $S_n$ on labeled trees with n vertices. This paper describes a new combinatorial proof between the number of times the irreducible representation of $S_n$ corresponding to the integer partition $(n− 1, 1)$ appears within $X$ and the number of rooted unlabeled trees with root node having degree 2, both branches distinct (OEIS Sequence <a href="https://oeis.org/A217420">A217420</a>).
    </p>

    <h3 id="d-3" class="fade-in-text project-title"><a target="_blank" href="https://darzacharts.swrlly.com">DarzaCharts</a></h3>
    <p id="d-3" class="fade-in-text project-title">
        A website containing player count analytics on Darza's Dominion players. Data was scraped using a headless Python bot connected to the game servers over 7 months (with developer permission)!
    </p>

    <h3 id="d-4" class="fade-in-text"><a target="_blank" href="https://github.com/swrlly/vrelay">vrelay</a></h3>
    <p id="d-4" class="fade-in-text project-title">
        A man in the middle proxy server for the Realm of the Mad God private server Valor. Features packet editing/hooking, a framework to write custom plugins, QoL plugins such as predictive autonexus, and data science-based scripts to autoupdate vrelay. Also contains patched exploits that can be generalized to any multiplayer game.
    </p>

    <h3 id="d-5" class="fade-in-text project-title"><a href="https://swrlly.com">swrlly.com</a>
    </h3>
    <p id="d-5" class="fade-in-text project-title">
        I developed this website to learn web design and development from scratch. Backend nginx/Flask, frontend raw HTML/CSS/JS with no libraries other than MathJax.
    </p>

</div>

{% endblock %}