{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - Homework 10</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - Homework 10"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 10"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/homework/hw10"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 10</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
</p><hr>
    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">Why can't you use FTC to find this integral? \[\int^2_{-2} \dfrac{1}{x} \ dx\]</li>

        <li class="hw-space">Suppose $f(x)$ is differentiable on $(-\infty, 3) \cup (3, \infty)$. Can you use FTC to evaluate \[\int^{10}_{-10} f(x) \ dx\] Why or why not?</li>
        <li class="hw-space">Suppose \[\int f(x) \ dx = F(x) + C\] What should $\dfrac{d}{dx} \left[F(x) + C\right]$ be equal to? 
        </li>

        <li class="hw-space">
            Is this true? \[\int \tan^2 x \ dx = \tan x - x + C\]

            <br>Hint: If you get stuck, use the identity $\tan^2x + 1 = \sec^2x$ and solve for $\tan^2 x$.
        </li>

        <li class="hw-space">What is the piecewise definition of $f(x) = \lvert x \rvert$?</li>

        <li class="hw-space">Find the following integrals:
            <ol type="a">
                <li class="hw-space">$\displaystyle \int \sqrt[4]{x^5} \ dx$</li>
                <li class="hw-space">$\displaystyle \int \sec \theta(\sec \theta + \tan \theta) \ d\theta$</li>
                <li class="hw-space">$\displaystyle \int \left(u^2 - \dfrac{1}{u^2}\right) \ du$</li>
                <li class="hw-space">$\displaystyle \int^6_0 \lvert{x - 3}\rvert \ dx $</li>
                <li class="hw-space">$\displaystyle \int^2_{-2} \lvert x^2 - 1 \rvert \ dx $</li>
            </ol>
        </li>

        <li class="hw-space">If $z'(\theta)$ is some rate of change, what should \[\int^8_{4} z'(\theta)\ d\theta\] be?</li>

        <li class="hw-space">If $f(t)$ is the <b>rate</b> at which you complete your Calculus homework (in problems finished per minute), what does the integral \[\int^{30}_{0} f(t) \ dt\] mean in English?</li>

        <li class="hw-space">What is the difference between displacement and distance?</li>

        <li class="hw-space">A particle is moving on a horizontal line. It's velocity at time $t$ is given by $v(t) = t^2 - 2t - 3$.
            <ol type="a">
                <li class="hw-space">Calculate the total displacement on the time interval $[2, 4]$.</li>
                <li class="hw-space">Calculate the total distance on the time interval $[2, 4]$.</li>
            </ol>
        </li>

        <li class="hw-space">A particle is moving on a horizontal line. It's velocity at time $t$ is given by $v(t) = 3t - 6$.
            <ol type="a">
                <li class="hw-space">Calculate the total displacement on the time interval $[0, 3]$.</li>
                <li class="hw-space">Calculate the total distance on the time interval $[0, 3]$.</li>
            </ol>
        </li>

        <li class="hw-space">Describe in English the high-level concept underpinning U-Substitution (not the algebraic nitty-gritty details).</li>

        <li class="hw-space">Consider the expression \[\int 2x \sqrt{1 + x^2} \ dx \] 
            <ol type="a">
                <li class="hw-space">
                    In Section 4.2, what did we say the $dx$ represents?
                </li>
                <li class="hw-space">
                    In Section 4.5, what can we treat the $dx$ as? Why can we do this?
                </li>
            </ol>
        </li>

        <li class="hw-space">Describe the algebraic differences between using U-Substitution on definite and indefinite integrals.</li>

        <li class="hw-space">True or False: \[\int x^2 \sqrt{x^3 + 1} \ dx = \left(\int x^2 \ dx\right) \cdot \left(\int \sqrt{x^3 + 1} \ dx\right)\]</li>

        <li class="hw-space">Evaluate the following integrals:
            <ol type="a">
                <li class="hw-space">$\displaystyle \int x^2 \sqrt{x^3 + 1} \ dx$</li>
                <li class="hw-space">$\displaystyle \int^{1}_0 x^2\sqrt{x + 1}\ dx$</li>
                <li class="hw-space">$\displaystyle \int \sin^2 \theta \cos \theta \ d\theta$ <br>Hint: Choose $u = \sin \theta$.</li>
                <li class="hw-space">$\displaystyle \int^{\sqrt{\pi}}_0 x\cos(x^2)\ dx$</li>
                <li class="hw-space">$\displaystyle \int \sin \left(\dfrac{3x}{4}\right) \ dx$</li>
                <li class="hw-space">$\displaystyle \int^{2}_1 x\sqrt{x - 1}\ dx$</li>
                <li class="hw-space">$\displaystyle \int \sqrt{\cot x} \csc^2 x \ dx$</li>
                <li class="hw-space">$\displaystyle \int^{\pi / 2}_0 \cos(x)\sin(\sin(x)) \ dx$</li>
            </ol>
        </li>



        

    </ol>
</div>
{% endblock %}
       
       
       
       
       
       
       
       
       
