{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - Homework 10</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - Homework 10"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 10"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/homework/hw10"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 10</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
</p><hr>
    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">Sketch a graph of the function which satisfies the following:
            <ul>
                <li>$f'(2) = 0, \ f(2) = -1, \ f(0) = 0$</li>
                <li>$f'(x) < 0$ when $0 < x < 2$
                <li>$f'(x) > 0$ when $ x > 2$</li>
                <li>$f''(x) < 0$ when $0 < x < 1$ or $x > 4$</li>
                <li>$f''(x) > 0$ when $1 < x < 4$</li>
                <li>$\displaystyle \lim_{x\rightarrow \infty} f(x) = 1$</li>
            </ul>
        </li>

       <li class="hw-space">When using Rolle's Theorem or the Mean Value Theorem, what do you need to check first before using them?</li>

        <li class="hw-space">
            Verify the function \[f(x) = 2x^2 - 4x + 5 \] satisfies the three hypotheses of Rolle's Theorem on the interval $[-1, 3]$. Then find all numbers $c$ that satisfy the conclusion of Rolle's Theorem.
        </li>

        <li class="hw-space">Using English, describe the intuition behind the Mean Value Theorem.</li>

        <li class="hw-space">For the following functions, find the number $c$ that satisfies the conclusion of the Mean Value Theorem on the given interval.
            <ol type="a">
                <li class="hw-space">$f(x) = \sqrt{x}, \ [0, 4]$</li>
                <li class="hw-space">$f(x) = x^3 - 2x, \ [-2, 2]$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x) = 1 - x^{2/3}$. Show $f(-1) = f(1)$ but there is no $c \in (-1, 1)$ where $f'(c) = 0$. Why does this not contradict Rolle's Theorem?
            <br>Hint: Differentiability was violated somewhere. Find where $f'(x)$ DNE.
        </li>

        <li class="hw-space">Suppose that $f$ is continuous on $[a, b]$. Must there be a number $c \in (a, b)$ where \[f'(c) = \dfrac{f(b) - f(a)}{b - a}\] If not, draw a graph in which such a $c$ cannot exist.
        </li>

        <li class="hw-space">Suppose $f(x) = x^4$. Find three different antiderivatives $F_1(x), F_2(x)$ and $F_3(x)$ of $f(x)$.</li>   

        <li class="hw-space">Find the most <b>general</b> antiderivative of the following functions:
            <ol type="a">
                <li class="hw-space">$f(x) = 5$</li>
                <li class="hw-space">$f(x) = 4x + 7$</li>
                <li class="hw-space">$f(x) = 3\cos x - 4 \sin x$</li>
                <li class="hw-space">$f(x) = x(x-1)$</li>
                <li class="hw-space">$f(x) = \dfrac{10}{x^9}$</li>
                <li class="hw-space">$g(\theta) = -\sec^2 \theta$</li>
                <li class="hw-space">$f(x) = 6x^5 - 8x^4 - 9x^2$</li>
                <li class="hw-space">$f(x) = \sqrt{x} - 3\sqrt[4]{x^3}$</li>
            </ol>
        </li>

        <li class="hw-space">
            Evaluate the following sums:
            <ol type="a">
                <li class="hw-space">$\displaystyle\sum^5_{i=1}i - 1$</li>
                <li class="hw-space">$\displaystyle\sum^5_{i=1}f(i)$ given that $f(x) = x^2$. </li>
                <li class="hw-space">$\displaystyle\sum^4_{n=1} n(n-1)$</li>
            </ol>
        </li>

        <li class="hw-space">
            Approximate the area underneath the graph of $f(x) = \sin x$ on $\left[0, \frac{\pi}{2}\right]$ by using four rectangles and right endpoints.
        <br> Only set up the sum; do not find the actual number.
        </li>

        <li class="hw-space">
            Approximate the area underneath the graph of $f(x) = \dfrac{1}{x}$ on $\left[1, 2\right]$ by using four rectangles and right endpoints.
            <br> Only set up the sum; do not find the actual number.
        </li>

        <li class="hw-space">
            Approximate the area underneath the graph of $f(x) = x^3$ on $\left[0, 1\right]$ by using four rectangles and right endpoints.
            <br> Only set up the sum; do not find the actual number.
        </li>

        <li class="hw-space">If I would like to find the area underneath the curve of $f(x)$ on the interval $[a, b]$, what is the exact formula for this area?</li>

        <li class="hw-space">In the context of finding the area underneath the curve, explain what each of the parts of the formula is describing:
            <ol type="a">
                <li class="hw-space">The $\displaystyle\lim_{n\rightarrow \infty}$</li>
                <li class="hw-space">The $\displaystyle\sum^{n}_{i=1}$</li>
                <li class="hw-space">The $f(x_i) \cdot \Delta x$</li>
            </ol>
        </li>

        <li class="hw-space">
            If $\displaystyle \int^{5}_{-5} f(x) \ dx = 12$ and $\displaystyle \int^1_{-5} f(x) \ dx = 3$, find $\displaystyle \int^{1}_{-5} f(x) \ dx$.
        </li>

        <li class="hw-space">We saw from lecture that \[\int^1_0 x^2 \ dx = \dfrac{1}{3}\] What is $\displaystyle\int^0_1 x^2 \ dx$?</li>

        <li class="hw-space">
            If $\displaystyle \int^{8}_0 f(x) \ dx = 3$ and $\displaystyle \int^0_{-3} f(x) \ dx = 4$, what is $\displaystyle \int^8_{-3} f(x) \ dx$?
        </li>

        <li class="hw-space">If $\displaystyle \int^4_2 f(x) \ dx = 3$ and $\displaystyle \int^4_2 g(x) \ dx = -2$, evaluate the following integrals
            <ol type="a">
                <li class="hw-space">$\displaystyle \int^4_2 [f(x) + g(x)] \ dx$</li>
                <li class="hw-space">$\displaystyle \int^4_2 [f(x) - g(x)] \ dx$</li>
            </ol>
        </li>

        <li class="hw-space">Why is the Fundamental Theorem of Calculus extremely useful?</li>

        <li class="hw-space"> Find the derivative of the following functions:
            <ol type="a">
                <li class="hw-space">$g(x) = \displaystyle \int^x_0 \sqrt{t + t^3} \ dt$</li>
                <li class="hw-space">$g(x) = \displaystyle \int^x_0 \sin(t^2) \ dt$</li>
                <li class="hw-space">$F(x) = \displaystyle \int^0_x \sqrt{t^3} \ dt$
                    <br>Hint: <a href="/teaching/math-141/lectures/4.2">Property 6 of Definite Integrals.</a>
                </li>
            </ol>
        </li>

        <li class="hw-space">In English, what does FTC Part 2 tell us about how to find definite integrals?</li>

        <li class="hw-space">Evaluate the following integrals using FTC Part 2:
            <ol type="a">
                <li class="hw-space">$\displaystyle \int^5_{-5} 3 \ dx$</li>
                <li class="hw-space">$\displaystyle \int^1_0x^2 \ dx$</li>
                <li class="hw-space">$\displaystyle \int^3_1(x^2 + 2x - 4) \ dx$</li>
                <li class="hw-space">$\displaystyle \int^\pi_{\pi/6} \sin \theta \ d\theta$</li>
                
                <li class="hw-space">$\displaystyle \int^1_0 (x-1)(x+1) \ dx$</li>
                <li class="hw-space">$\displaystyle \int^{\pi/3}_{\pi/6} \sec^2 x\ dx$</li>
            </ol>
        </li>

        <li class="hw-space">Find the area enclosed between the curve and the $x$-axis of the function $y = \sqrt{x}$ on the interval $[0, 4]$.</li>

        <li class="hw-space">Why does the integral \[\int^1_{-1} \dfrac{1}{x} \ dx\] not exist?</li>



    </ol>
</div>
{% endblock %}
       
       
       
       
       
       
       
       
       
