{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - Homework 3</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - Homework 3"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 3"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/homework/hw3"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 3</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">State in interval notation where each of the following functions are continuous.
            <ol type="a">
                <li class="hw-space">$f(x) = \dfrac{\sin(x)}{x^2}$</li>
                <li class="hw-space">$f(x) = 4x^{32} - 8x^2 + x - 1$</li>
                <li class="hw-space">$f(x) = x^{32894983} - 2x + \dfrac{1}{x}$</li>
                <li class="hw-space">$f(x) = \dfrac{\sin^4(x)\cos^3(x)}{x^2 - 4}$</li>
            </ol> 
        </li>

        <li class="hw-space">Suppose $(1, f(1))$ is a point on the graph of $f(x)$. What is the equation of the tangent line at $x = 1$?</li>

        <li class="hw-space"> 
            When we are using the definition of the slope of the tangent line at the point $(a, f(a))$:
            <ol type="a">
                <li class="hw-space">What type of limit is this called? Hint: $0/0$</li>
                <li class="hw-space">What always happens to the $h$ in the denominator?</li>
                <li class="hw-space">Suppose the above phenomena in (b) does not happen. What do you think went wrong?</li>
            </ol>
        </li>

        <li class="hw-space">Using the <b>limit definition</b> of the slope of a tangent line at $x = a$, i.e. \[f'(a) = \lim_{h\rightarrow 0} \dfrac{f(a + h) - f(a)}{h}\] find an equation of the tangent line for the following functions at the given point:
            <ol type="a">
                <li class="hw-space">$f(x) = 4x - 3x^2$ at the point $(2, -4)$</li>
                <li class="hw-space">$f(x) = \dfrac{2x}{x + 1}$ at the point $(1, 1)$</li>
                <li class="hw-space">$f(x) = \sqrt{x}$ at the point $(1, 1)$</li>
                <li class="hw-space">$f(x) = (x-1)^2$ at the point $(1, 0)$</li>
            </ol>
        </li>

        <li class="hw-space">
            A ball is dropped from a tower 1000 meters tall. Find the instantaneous velocity after 4 seconds.
            <br>Hint: Use Galileo's Law, which says the total displacement for a freely falling body after $t$ seconds is described by the function $s(t) = 4.9t^2$.
        </li>

        <li class="hw-space">What are the three ways to think about the derivative $f'(x)$?</li>
        
        <li class="hw-space"><b>Using the limit definition of a derivative</b>, i.e. \[f'(x) = \lim_{h\rightarrow 0} \dfrac{f(x + h) - f(x)}{h}\] find the derivative of the following functions.
            <ol type="a">
                <li class="hw-space">$f(x) = 2x + 3$</li>
                <li class="hw-space">$g(x) = x + \sqrt{x}$</li>
                <li class="hw-space">$f(x) = x^2 - 1$</li>
                <li class="hw-space">$g(x) = \dfrac{1}{\sqrt{x}}$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x}$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x)$ is differentiable on $\mathbb{R}$. Must $f(x)$ be continuous on $\mathbb{R}$? If not, explain why.</li>

        <li class="hw-space">Suppose $f(x)$ is continuous on $\mathbb{R}$. Must $f(x)$ be differentiable on $\mathbb{R}$? If not, draw the graph of a function where it fails to be differentiable.</li>

        <li class="hw-space">
            Suppose the graph of $f(x)$ is <img src="/static/swrlly/images/teaching/161-hw5-1.PNG" style="max-width:450px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/> 
            
            Sketch a graph of $f'(x)$.
        </li>

        <li class="hw-space">Draw <b>one graph</b> of a function in which all three cases where a function fails to be differentiable appears.</li>

        <li class="hw-space">The graph of $f$ is given. State with reason the $x$ values where $f$ is not differentiable. You may assume the domain of $f$ is $\mathbb{R}$. <img src="/static/swrlly/images/teaching/161-hw5-2.PNG" style="max-width:450px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/> </li>

        <li class="hw-space">Consider Galileo's Law for freely falling bodies: \[s(t) = 4.9t^2\]
            <b>Using the limit definition of the derivative</b>, find the velocity $v(t)$ and acceleration $a(t)$ functions.
        </li>

        <li class="hw-space">Consider the function \[f(x) = x^2 - 1\]
            <br>
            <b>Using the limit definition of the derivative</b>, find $f'(x)$ and $f''(x)$.
        </li>

        <li class="hw-space"><p>Find the derivative using the Differentiation Rules. </p>

            <p>Hint 1: Remember to observe your input variable and to fully simplify each expression.</p>
            
            <p>Hint 2: You <b>need</b> to know how to manipulate exponents. See <a href="/teaching/math-141/lectures/II">Lecture Note II</a> for definitions.
            </p>
            <ol type="a">
                <li class="hw-space">$f(x) = 199$</li>
                <li class="hw-space">$g(t) = \left(\sqrt{30}\right)^3$</li>
                <li class="hw-space">$f(x) = x^3 + x^2 + x + 1$</li>
                <li class="hw-space">$g(v) = \dfrac{a}{v} + bv + \dfrac{c}{v^2}$</li>
                <li class="hw-space">$f(x) = \sqrt{x}(x - 1)$</li>
                <li class="hw-space">$f(t) = 3t^{-3/4}$</li>
                <li class="hw-space">$f(x) = x^{2.9}$</li>
                <li class="hw-space">$f(r) = -9r^{2/3}$</li>
                <li class="hw-space">$g(x) = 5x^2 + 6x + 7$</li>
                <li class="hw-space">$h(r) = \dfrac{r^5 + 2r^4 + 3r + 1}{r}$</li>
                <li class="hw-space">$f(a) = \dfrac{5}{a^4} - \dfrac{2}{\sqrt[3]{a^2}} -\dfrac{1}{a} + 200$</li>
                <li class="hw-space">$f(x) = \dfrac{5}{x^4} + \dfrac{\sqrt{x^3}}{3} + x$</li>
                <li class="hw-space">$f(x) = 2x\left(3x^2 + 1\right)$</li>
                <li class="hw-space">$f(x) = (3x + 1)(4x^3 - 5x^2)$</li>
                <li class="hw-space">$f(t) = \dfrac{t - \sqrt{t}}{t^{1/3}}$</li>
                <!--<li class="hw-space">$y = \dfrac{x^2 + 1}{x^2 - 1}$</li>
                <li class="hw-space">$y = x + \dfrac{1}{x}$</li>
                <li class="hw-space">$y = \dfrac{1 + 2x}{3 - 4x}$</li>
                <li class="hw-space">$f(x) = \dfrac{x}{x + \frac{1}{x}}$</li>
                <li class="hw-space">$f(x) = (x + 1)(x^{-2} + x^{-3})$</li>-->
            </ol>
        </li>

</div>
{% endblock %}