{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - Homework 4</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - Homework 4"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 4"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/homework/hw4"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
   
    <h1>Homework 4</h1><hr>

    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>

    <p>Answer the following:</p>

    <ol>

        <li class="hw-space">
            <b>Use the three-part definition of continuity</b> to explain why the function is continuous at the given number $a$. 
            <ol type="a">
                <li class="hw-space">
                    $\displaystyle f(x) = \begin{cases}(x-1)^2& x < 0 \\ (x+1)^2 & x \geq 0\end{cases} \qquad a = 0$
                </li>
                <li class="hw-space">
                    $\displaystyle f(x) = \begin{cases}x(x-1)& x < 1 \\ 0 & x = 1 \\ \sqrt{x-1} & x > 1\end{cases} \qquad a = 0$
                </li>
            </ol>
        </li>

        <li class="hw-space">
            <b>Use the three-part definition of continuity</b> to explain why the function is discontinuous at the given number $a$.  Sketch the graph of the function.
            <ol type="a">
                <li class="hw-space">$\displaystyle f(x) = \begin{cases}x + 1 & x < 0 \\ x^2 & x \geq 0\end{cases} \qquad a = 0$</li>
                <li class="hw-space">$\displaystyle f(x) = \begin{cases}x + 5 & x < 0 \\ 2 & x = 0 \\ -x^2 + 5 & x > 0\end{cases} \qquad a = 0$</li>
                <li class="hw-space">
                    $\displaystyle f(x) = \begin{cases}-x & x < 0 \\ 1 & x = 0 \\ x & x > 0\end{cases} \qquad a = 0$
                </li>
            </ol>
        </li>

        <li class="hw-space">
            If a function $f(x)$ is continuous at $x = a$, what does $\displaystyle \lim_{x\rightarrow a} f(x)$ have to be?
        </li>

        <li class="hw-space">
            How would you define $f(2)$ in the function \[f(x) = \dfrac{x^2 - x - 2}{x - 2}\] in order to make $f(x)$ continuous at $x = 2$?
            <br>Hint: find the hole in $f(x)$ and "fill in" the hole.
        </li>

        <li class="hw-space">State in interval notation where each of the following functions are continuous.
            <ol type="a">
                <li class="hw-space">$f(x) = \dfrac{\sin(x)}{x^2}$</li>
                <li class="hw-space">$f(x) = 4x^{32} - 8x^2 + x - 1$</li>
                <li class="hw-space">$f(x) = x^{32894983} - 2x + \dfrac{1}{x}$</li>
                <li class="hw-space">$f(x) = \dfrac{\sin^4(x)\cos^3(x)}{x^2 - 4}$</li>
            </ol> 
        </li>

        <li class="hw-space"> Use the continuity limit swap theorem to prove the following function is continuous at 4.
            \[\displaystyle f(x) = \begin{cases} \sqrt{x} & x < 4 \\ 2\cos\left(x-4\right) & x \geq 4\end{cases} \qquad a = 4\]
        </li>

        <li class="hw-space">Draw three different graphs, each of which shows one of each of a removeable, jump, and infinite discontinuity.</li>

        <li class="hw-space">Draw one graph of a function which satisfies the following conditions simultaneously:
            <ul>
                <li>Jump discontinuity at $2$ but continuous from the right at $2$</li>
                <li>Discontinuous at $-1$ and $4$ but continuous from the left at $-1$ and from the right at $4$.</li>
                <li>Continuous everywhere else</li>
            </ul> 
        </li>

        <li class="hw-space">Show $f(x) = x^4 + x - 3$ has a root between $(1, 2)$.</li>

        <li class="hw-space">Suppose $(1, f(1))$ is a point on the graph of $f(x)$. What is the equation of the tangent line at $x = 1$?</li>

        <li class="hw-space"> 
            When we are using the definition of the derivative:
            <ol type="a">
                <li class="hw-space">What always happens to the $h$ in the denominator?</li>
                <li class="hw-space">Suppose the above phenomena does not happen. What do you think went wrong?</li>
            </ol>
        </li>

        <li class="hw-space">What are the three ways to think about the derivative $f'(a)$?</li>

        <li class="hw-space"><b>Using the limit definition of a derivative</b>, find an equation of the tangent line at $(2, -4)$ for the function $f(x) = 4x - 3x^2$.</li>

        <li class="hw-space">
            A ball is dropped from a tower 1000 meters tall. Find the instantaneous velocity after 5 seconds.
            <br>Hint: Use Galileo's Law, which says the total displacement for a freely falling body after $t$ seconds is described by the function $s(t) = 4.9t^2$.
        </li>

        <li class="hw-space"><b>Using the limit definition of the derivative</b>, find an equation of the tangent line to the function $y = \dfrac{2x}{x + 1}$ at the point $(1, 1)$.</li>
        
        <li class="hw-space"><b>Using the limit definition of a derivative</b>, find $f'(x)$.
            <ol type="a">
                <li class="hw-space">$f(x) = 2x + 3$</li>
                <li class="hw-space">$g(x) = x + \sqrt{x}$</li>
                <li class="hw-space">$f(x) = x^2 - 1$</li>
                <li class="hw-space">$g(x) = \dfrac{1}{\sqrt{x}}$</li>
                <li class="hw-space">$f(x) = \dfrac{1}{x}$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x)$ is differentiable on $\mathbb{R}$. Must $f(x)$ be continuous on $\mathbb{R}$? If not, explain why.</li>

        <li class="hw-space">Suppose $f(x)$ is continuous on $\mathbb{R}$. Must $f(x)$ be differentiable on $\mathbb{R}$? If not, draw the graph of a function where it fails to be differentiable.</li>

        <li class="hw-space">
            Suppose the graph of $f(x)$ is <img src="/static/swrlly/images/teaching/161-hw5-1.PNG" style="max-width:450px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/> 
            
            Sketch a graph of $f'(x)$.
        </li>

        <li class="hw-space">Draw <b>one graph</b> of a function in which all three cases where a function fails to be differentiable appears.</li>

        <li class="hw-space">The graph of $f$ is given. State with reason the $x$ values where $f$ is not differentiable. You may assume the domain of $f$ is $\mathbb{R}$. <img src="/static/swrlly/images/teaching/161-hw5-2.PNG" style="max-width:450px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/> </li>


    </ol>

</div>
{% endblock %}