{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - Homework 4</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - Homework 4"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 4"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/homework/hw4"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
   
    <h1>Homework 4</h1><hr>

    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>

    <p>Answer the following:</p>

    <ol>

        <li class="hw-space">Given the following functions $f(x)$ and $g(x)$: 
            <img src="/static/swrlly/images/teaching/161-hw4-1.PNG" style="max-width:500px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
            Find the following limits, if it exists. If it doesn't, explain why.
            <ol type="a">
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 2}\ [f(x) + g(x)]$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 1}\ [f(x) + g(x)]$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 0}\ [f(x)g(x)]$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 2}\ [x^3f(x)]$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 1}\ \sqrt{3 + f(x)}$</li>
            </ol>
        </li>

        <li class="hw-space">Find the following limits using limit laws:
            <ol type="a">
                
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 1} \sqrt{\dfrac{2x^2 + 2}{2x^2 - 1}}$</li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 5}\dfrac{x^2 - 6x + 5}{x - 5}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{h\rightarrow 0}\dfrac{(4+h)^2 - 16}{h}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 0}\dfrac{\sqrt{x^2 + 9} - 3}{x^2}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 5}\dfrac{4 - \sqrt{x}}{16x - x^2}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 0}\dfrac{1}{x} - \dfrac{1}{x^2 + x}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{t\rightarrow-3}\dfrac{t^2 - 9}{2t^2 + 7t  +3}$
                </li>
                <!--<li class="hw-space">$\displaystyle \lim_{x\rightarrow 0}\dfrac{\sin 3x}{x}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{t\rightarrow 0}\dfrac{\tan 6t}{\sin 2t}$
                </li>
                <li class="hw-space">$\displaystyle \lim_{x\rightarrow 0}\dfrac{\sin^2 4t}{t^2}$
                </li>-->
            </ol>
        </li>

        <li class="hw-space">For the following problems, sketch the graph of $f$ and find $\displaystyle \lim_{x\rightarrow a} f(x)$, if it exists.
            <ol type="a">
                <li class="hw-space">$f(x) = \begin{cases} x^2 & x \leq 1 \\ x-1 & x > 1\end{cases}, \qquad a = 1$</li>
                <li class="hw-space">$f(x) = \begin{cases} x^2 - 3 & x \neq 0 \\ 0 & x = 0\end{cases}, \qquad a = 0$</li>
            </ol>
        </li>

        <li class="hw-space">Use the squeeze theorem to show \[\lim_{x\rightarrow 0}x^2 \cos (20\pi x) = 0\]</li>

        <li class="hw-space">If $ 4x - 9 \leq f(x) \leq x^2 - 4x + 7$ for all $x \geq 0$, find $\lim_{x\rightarrow 4}f(x)$.</li>

        <li class="hw-space"> Given this graph of $f(x)$ <img src="/static/swrlly/images/teaching/hw3im1.PNG" style="max-width:600px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
            Determine which statements are true or false.
            <ol type="a">
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 0^-} f(x) = 0$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 0^+} f(x) = 0$</li>
                <li class="hw-space">$f(1)$ is defined.</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 2} f(x) = f(2)$</li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 1} f(x)= 1$ </li>
                <li class="hw-space">$\displaystyle\lim_{x\rightarrow 3^-} f(x)= \lim_{x\rightarrow 3^+}f(x)$</li>
                <li class="hw-space">$f(x)$ is continuous from the right at $x = 1$.</li>
            </ol>
        </li>

        <li class="hw-space">Suppose a function $f(x)$ has $f(2) = 5$ and $\displaystyle \lim_{x \rightarrow 2}f(x) = 5$. Is the function continuous at $x = 2$?</li>

        <li class="hw-space">
            <b>Use the definition of continuity</b> to explain why the function is discontinuous at the given number $a$.  Sketch the graph of the function.
            <ol type="a">
                <li class="hw-space">$\displaystyle f(x) = \begin{cases}e^x & x < 0 \\ x^2 & x \geq 0\end{cases} \qquad a = 0$</li>
                <li class="hw-space">$\displaystyle f(x) = \begin{cases}x + 5 & x < 0 \\ 2 & x = 0 \\ -x^2 + 5 & x > 0\end{cases} \qquad a = 0$</li>
            </ol>
        </li>

        <li class="hw-space">
            If a function $f(x)$ is continuous at $x = a$, what does $\displaystyle \lim_{x\rightarrow a} f(x)$ have to be?
        </li>

        <li class="hw-space">How would you define $f(2)$ in the function \[f(x) = \dfrac{x^2 - x - 2}{x - 2}\] in order to make $f(x)$ continuous at $x = 2$?</li>

        <li class="hw-space">Where is the function \[f(x) = \dfrac{\sin(x)}{x + 1}\] continuous?</li>

        <li class="hw-space">Draw one graph of a function which satisfies the following conditions simultaneously:
            <ul>
                <li>Jump discontinuity at $2$ but continuous from the right at $2$</li>
                <li>Discontinuous at $-1$ and $4$ but continuous from the left at $-1$ and from the right at $4$.</li>
                <li>Continuous everywhere else</li>
            </ul> 
        </li>

        <li class="hw-space">What's the difference between a removeable, jump and infinite discontinuity?</li>
        

    </ol>

</div>
{% endblock %}