{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - Homework 6</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - Homework 6"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 6"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/homework/hw6"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 6</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and <b>fully simplify each expression.</b></li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
</p><hr>
    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">Find the derivative using the Differentiation Rules. Remember to observe your input variable and to fully simplify each expression.
            <ol type="a">
                <li class="hw-space">$f(x) = 199$</li>
                <li class="hw-space">$g(t) = \left(\sqrt{30}\right)^3$</li>
                <li class="hw-space">$f(x) = x^3 + x^2 + x + 1$</li>
                <li class="hw-space">$f(v) = \dfrac{a}{v} + bv + \dfrac{c}{v^2}$</li>
                <li class="hw-space">$f(x) = \sqrt{x}(x - 1)$</li>
                <li class="hw-space">$f(t) = 3t^{-3/4}$</li>
                <li class="hw-space">$f(x) = x^{2.9}$</li>
                <li class="hw-space">$f(r) = -9r^{2/3}$</li>
                <li class="hw-space">$f(x) = 5x^2 + 6x + 7$</li>
                <li class="hw-space">$f(r) = \dfrac{r^5 + 2r^4 + 3r + 1}{r}$</li>
                <li class="hw-space">$f(a) = \dfrac{5}{a^4} - \dfrac{2}{\sqrt[3]{a^2}} -\dfrac{1}{a} + 200$</li>
                <li class="hw-space">$f(x) = \dfrac{5}{x^4} + \dfrac{\sqrt{x^3}}{3} + x$</li>
                <li class="hw-space">$f(x) = 2x\left(3x^2 + 1\right)$</li>
                <li class="hw-space">$f(x) = (3x + 1)(4x^3 - 5x^2)$</li>
                <li class="hw-space">$f(t) = \dfrac{t - \sqrt{t}}{t^{1/3}}$</li>
                <li class="hw-space">$y = \dfrac{x^2 + 1}{x^2 - 1}$</li>
                <li class="hw-space">$y = x + \dfrac{1}{x}$</li>
                <li class="hw-space">$y = \dfrac{1 + 2x}{3 - 4x}$</li>
                <li class="hw-space">$f(x) = \dfrac{x}{x + \frac{1}{x}}$</li>
                <li class="hw-space">$f(x) = (x + 1)(x^{-2} + x^{-3})$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose a student sees a function \[f(x) = \dfrac{\sqrt{x}}{x + 1}\] and is asked to find $\dfrac{d}{dx} f(x)$. The student tries this: \[\dfrac{d}{dx} f(x) = \dfrac{d}{dx} \dfrac{\sqrt{x}}{x + 1} = \dfrac{\dfrac{d}{dx}  \sqrt{x}}{\dfrac{d}{dx} (x + 1)}\] Why is this incorrect?</li>

        <li class="hw-space">Given $g(r) = \sqrt{r} + \sqrt[3]{r}$, find the first and second derivatives.</li>

        <li class="hw-space">The equation of motion of a particle is $s(t) = t^4 - 2t^3 + t^2 - t$ where $s$ is in meters and $t$ is in seconds.
            <ol type="a">
                <li class="hw-space">Find the velocity and acceleration as functions of $t$.</li>
                <li class="hw-space">Find the acceleration when the velocity is 0. (hint: set $v(t) = 0$ to find when the velocity is 0).</li>
            </ol>
        </li>

        <li class="hw-space">Find an equation of the normal line to the curve $y = \sqrt{x}$ that is parallel to the line $2x + y = 1$.
            <br/>Hint: Find the derivative and set it equal to the needed slope. Solve for $x$, this value of $x$ gives you the $x$-value of the point of tangency.
        </li>
        
        <li class="hw-space">Differentiate the following:
            <ol type="a">
                <li class="hw-space">$f(x) = \sec x$</li>
                <li class="hw-space">$f(x) = \cot x$</li>
                <li class="hw-space">$f(x) = x\cos x + 2\tan x$</li>
                <li class="hw-space">$f(x) = \dfrac{\sec x}{1 + \tan x}$</li>
                <li class="hw-space">$w(t) = \dfrac{\sin t}{1 - \sin t}$</li>
            </ol>
        </li>

        <li class="hw-space">Find the 51st derivative of $f(x) = \sin x$.</li>

        <li class="hw-space">
            Differentiate the following:
            <ol type="a">
                <li class="hw-space">$f(x) = (3x - x^3)^{23}$</li>
                <li class="hw-space">$f(x) = \sqrt[3]{1 + \tan x}$</li>
                <li class="hw-space">$f(x) = (3x + 2)^3(4x^2 + 3)^4$</li>
                <li class="hw-space">$g(x) = \cos^3 x$</li>
                <li class="hw-space">$g(x) = \cos x^3$</li>
                <li class="hw-space">$y = \sqrt{x + \sqrt{ x + \sqrt{x}}}$</li>
                <li class="hw-space">$f(x) = \sqrt{\dfrac{x}{x^2 + 4}}$</li>
                <li class="hw-space">$f(x) = \sin x + \sin^2 x$</li>
                <li class="hw-space">$g(a) = \sin(x \sin x)$</li>
                <li class="hw-space">$f(x) = \sqrt{\sec x}$</li>
            </ol>
        </li>

        <li class="hw-space">Find the equation of the tangent line to the curve at the given point.
            <ol type="a">
                <li class="hw-space">$y = (1 + 2x)^{10}, \qquad (0, 1)$</li>
                <li class="hw-space">$y = \sin(\sin(x)), \qquad (\pi, 0)$</li>
            </ol>
        </li>

        <hr/>
        <p>The rest of these problems will appear on next week's homework. Skip the rest of these for Homework 5.</p>
        <hr/>

        <li class="hw-space">What is the main idea behind implicit differentiation?</li>

        <li class="hw-space">Isolate $z$ in the equation \[-\sin(xy)(x + xz) = 1 + \cos(y)z\]</li>

        <li class="hw-space">Find $dy/dx$ with implicit differentiation for the equation \[x^3 + y^3 + x^2 + y = 1\]     
        </li>

        <li class="hw-space">Consider the equation $x^{2/3} + y^{2/3} = 4$. Find the equation of the tangent line at the point $(-3\sqrt{3}, 1)$.</li>

        <li class="hw-space">Find $dy/dx$ by implicit differentiation. Assume $y$ is the dependent variable and $x$ is the independent variable.
            <ol type="a">
                <li class="hw-space">$x^2 - 4xy + y^2 = 4$</li>
                <li class="hw-space">$y \cos x = x^2 + y^2$</li>
                <li class="hw-space">$\cos(xy) = 1 + \sin y$</li>
                <li class="hw-space">$y \sin (x^2) = x \sin(y^2)$</li>
            </ol>
        </li>

    </ol>
</div>
{% endblock %}