{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - Homework 6</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - Homework 6"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 6"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/homework/hw6"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 6</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and <b>fully simplify each expression.</b></li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
</p><hr>
    <p>Answer the following:</p>

    <ol>

        <li class="hw-space">A plane flying horizontally at an altitude of 1 mi and a speed of 500 mph passes directly over a radar station. Find the rate at which the distance from the plane to the station is increasing when it is 2 miles away from the station.</li>

        <li class="hw-space">If the minute hand of a clock has length r (in centimeters) find the rate at which it sweeps out area as a function of r.

            <br/>

        Use the equation of a sector of a circle $A = \dfrac{1}{2}r^2 \theta$ (picture showing this below) and the fact that the <b>rate</b> at which the minute hand moves is $2\pi$ radians per hour.

        <img src="/static/swrlly/images/teaching/141-hw7-2.png" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        </li>

        <li class="hw-space">Suppose a meat distributor is willing to make $x$ pounds of beef available every week on the marketplace when the price is $\$p$ per pound. The relationship between quantity supplied $x$ and price $p$ is \[650p^2 - x^2 = 100\] If 30,000 pounds of beef are available on the marketplace this week and the price per pound is falling by 2 cents per week, at what rate is the supply falling? </li>

        <li class="hw-space">Two resistors are connected in parallel, shown as follows <img src="/static/swrlly/images/teaching/141-hw5-1.png" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em; margin-bottom:1em;"/>
        
            The total resistance $R$, measured in ohms $\left(\Omega\right)$ is calculated by \[\dfrac{1}{R} = \dfrac{1}{R_1} + \dfrac{1}{R_2}\] If $R_1$ is increasing $0.3\ \Omega$ per second and $R_2$ is increasing at $0.2\ \Omega$ per second, how fast is the total resistance $R$ changing when $R_1 = 80 \ \Omega$ and $R_2 = 100 \ \Omega$?

            <br><b>Hint:</b> Do not make the most common mistake when solving RR problems.

        </li>

        <li class="hw-space">A particle is moving along the curve of the equation $xy = 8$. As it reaches
            the point (4, 2), the $y$-coordinate is decreasing at a rate of 2 centimeters per second. How fast is the $x$-coordinate of the point changing at that instant?
            <br><b>Hint:</b> Do not make the most common mistake when solving RR problems.
        </li>

        <li class="hw-space">
            Find the linearization of the following functions at the $x$-coordinate $a$.
            <ol type="a">
                <li class="hw-space">$f(x) = \sin x, \qquad a = 0$</li>
                <li class="hw-space">$f(x) = \cos x, \qquad a = 0$</li>
                <li class="hw-space">$f(x) = \sqrt{x}, \qquad a = 4$</li>
                <li class="hw-space">$f(x) = 2x^2 - 1, \qquad a = 1$</li>
            </ol>
        </li>

        <li class="hw-space">Now approximate $\sin(0.01)$ and $\cos(-0.01)$ without a calculator.</li>

        <li class="hw-space">Leibniz and prime notation for the derivative are equivalent: \[\dfrac{dy}{dx} = f'(x)\] Previously we said $\dfrac{dy}{dx}$ must be treated as one entity. In Section 2.9 what new interpretation of $dy$ and $dx$ do we have that allows us to treat $\dfrac{dy}{dx}$ like a fraction?</li>

        <li class="hw-space">The following functions are in <b>explicit form</b>. Find the differential of the dependent variable.
            <ol type="a">
                <li class="hw-space">$y = 2x^2 - 3$</li>
                <li class="hw-space">$u = \sqrt{1 - x}$</li>
                <li class="hw-space">$u = \sin\sqrt{t}$</li>
                <li class="hw-space">$u = \dfrac{1}{x}\sin x$</li>
                <li class="hw-space">$y = \tan (\pi x)$</li>
                <li class="hw-space">$u = x^3$</li>
            </ol>
        </li>

        <li class="hw-space">
            Explain the difference between an absolute minimum and a local minimum.
        </li>

        <li class="hw-space">
            If $f$ is a continuous function on $(a, b)$, must an absolute maximum exist?
        </li>

        <li class="hw-space">
            Suppose $f(x)$ is continuous on $[a, b)$. Draw a graph of $f(x)$ where the absolute maximum cannot exist.
        </li>

        <li class="hw-space">Identify all absolute/local minimums and maximums for the following function: <img src="/static/swrlly/images/teaching/161-hw7-1.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>

        <li class="hw-space">Draw a graph that is continuous on $[-2, 5]$ and has absolute minimum at $x = 3$, absolute maximum at $x = 0$.</li>

        <li class="hw-space">Draw one graph that meets the following criteria:
            <ol type="a">
                <li>Domain of $\mathbb{R}$</li>
                <li>Local maximums $f(2) = -2, \ f(-3) = -1$</li>
                <li>Local minimums $f(-1) = 3, \ f(-2) = 0$</li>
                <li>Differentiable on $(-\infty, 2) \cup (2, \infty)$ </li>
            </ol>
        </li>

        <li class="hw-space">State the definition of a <b>critical number</b> of a function $f$.</li>

        <li class="hw-space">From a problem-solving perspective, without using the mathematical definition of a critical number, what does the critical number of a function tell us about?</li>

        <li class="hw-space">Find the critical numbers for the following functions:
            <ol type="a">
                <li class="hw-space">$f(x) =  x^3 + 6x^2 - 15x$</li>
                <li class="hw-space">$f(t) = t^4 + t^3 + t^2 + 1$</li>
                <li class="hw-space">$f(y) = \dfrac{y - 1}{y^2 - y + 1}$</li>
                <li class="hw-space">$f(x) = \sqrt{1 - x^2}$</li>
            </ol>
        </li>

        <li class="hw-space">Find the absolute maximum and minimum for the following functions:
            <ol type="a">
                <li class="hw-space">$f(x) = 12 + 4x - x^2, \qquad [0, 5]$</li>
                <li class="hw-space">$f(x) = x^3 - 6x^2 + 5, \qquad [-3, 5]$</li>
                <li class="hw-space">$f(t) = (t^2 - 4)^3, \qquad [-2, 3]$</li>
                <li class="hw-space">$f(x) = x + \dfrac{1}{x} \qquad \left[\frac{1}{5}, 4\right]$</li>
                <li class="hw-space">$f(x) = 5 + 54x - 2x^3, \qquad [0, 4]$</li>
                <li class="hw-space">$f(x) = \sin x, \qquad [-2\pi, 2\pi]$</li>
            </ol>
        </li>

        <li class="hw-space">If $a$ and $b$ are positive numbers, find the global maximum value of \[f(x) = x^a(1-x)^b, \qquad 0 \leq x \leq 1\]

            <br/><button class="math-btn">Show Hint</button>
            <div class="math-solution">
                Hint 1: Take the derivative, factor out $x^{a-1}(1-x)^{b-1}$, and use the zero product property on each factor.
                <br/>Hint 2: The solution is one fraction with $a$ in the numerator and $a$'s and $b$'s in the denominator.
                <br/>Cool fact: the above function is related to a statistical distribution called the <b>Beta distribution</b>. You just found the average of this distribution!
            </div>
        </li>

        <li class="hw-space">When using Rolle's Theorem or the Mean Value Theorem, what do you need to check first before using them?</li>

        <li class="hw-space">
            Verify the function \[f(x) = 2x^2 - 4x + 5 \] satisfies the three hypotheses of Rolle's Theorem on the interval $[-1, 3]$. Then find all numbers $c$ that satisfy the conclusion of Rolle's Theorem.
        </li>
        
        <li class="hw-space">
            Verify the function \[f(x) = x + \dfrac{1}{x} \] satisfies the three hypotheses of Rolle's Theorem on the interval $\left[\dfrac{1}{2}, 2\right]$. Then find all numbers $c$ that satisfy the conclusion of Rolle's Theorem.
        </li>

        <li class="hw-space">Using English, describe the intuition behind the Mean Value Theorem.</li>

        <li class="hw-space">For the following functions, find the number $c$ that satisfies the conclusion of the Mean Value Theorem on the given interval.
            <ol type="a">
                <li class="hw-space">$f(x) = \sqrt{x}, \ [0, 4]$</li>
                <li class="hw-space">$f(x) = x^3 - 2x, \ [-2, 2]$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x) = 1 - x^{2/3}$. Show $f(-1) = f(1)$ but there is no $c \in (-1, 1)$ where $f'(c) = 0$. Why does this not contradict Rolle's Theorem?
            <br>Hint: Differentiability was violated somewhere. Find where $f'(x)$ DNE.
        </li>

        <li class="hw-space">Suppose that $f$ is continuous on $[a, b]$. Must there be a number $c \in (a, b)$ where \[f'(c) = \dfrac{f(b) - f(a)}{b - a}\] If not, draw a graph in which such a $c$ cannot exist.
        </li>

        <li class="hw-space">Suppose two functions $f(x)$ and $g(x)$ satisfy the equation \[f'(x) = g'(x)\] 
            <ol type="a">
                <li class="hw-space">Algebraically speaking, what is the relationship between $f(x)$ and $g(x)$?</li>
                <li class="hw-space">Geometrically speaking (using the graph), what is the relationship between $f(x)$ and $g(x)$?</li>
            </ol>
        </li>

    </ol>
</div>
{% endblock %}