{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - Homework 7</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - Homework 7"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 7"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/homework/hw7"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 7</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
</p><hr>
    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">
            Differentiate the following:
            <ol type="a">
                <li class="hw-space">$f(x) = (3x + 2)^3(4x^2 + 3)^4$</li>
                <li class="hw-space">$g(x) = \cos^3 x$</li>
                <li class="hw-space">$g(x) = \cos x^3$</li>
                <li class="hw-space">$y = \sqrt{x + \sqrt{ x + \sqrt{x}}}$</li>
                <li class="hw-space">$f(x) = \sqrt{\dfrac{x}{x^2 + 4}}$</li>
                <li class="hw-space">$f(x) = \sin x + \sin^2 x$</li>
                <li class="hw-space">$g(a) = \sin(x \sin x)$</li>
                <li class="hw-space">$f(x) = \sqrt{\sec x}$</li>
                <li class="hw-space">$f(\theta) = \cos(\sin 3 \theta)$</li>
                <li class="hw-space">$f(x) = \sqrt{\sin(x^2)}$</li>
                <li class="hw-space">$f(x) = \sin^2(x) \cdot (1-x)^2$</li>
            </ol>
        </li>

        <li class="hw-space">Find the equation of the tangent line to the curve at the given point.
            <ol type="a">
                <li class="hw-space">$y = (1 + 2x)^{10}, \qquad (0, 1)$</li>
                <li class="hw-space">$y = \sin(\sin(x)), \qquad (\pi, 0)$</li>
            </ol>
        </li>

        <li class="hw-space">What is the main intuition behind implicit differentiation?</li>

        <li class="hw-space">Isolate $z$ in the equation \[-\sin(xy)(x + xz) = 1 + \cos(y)z\]</li>

        <li class="hw-space">Find $dy/dx$ with implicit differentiation for the equation \[x^3 + y^3 + x^2 + y = 1\]     
        </li>

        <li class="hw-space">Consider the equation $x^{2/3} + y^{2/3} = 4$. Find the equation of the tangent line at the point $(-3\sqrt{3}, 1)$.</li>

        <li class="hw-space">Given an equation in implicit form, should you manipulate the equation before applying the derivative to both sides?</li>

        <li class="hw-space">Here is the curve of $x^3 + y^3 = 6xy$: <img src="/static/swrlly/images/teaching/141-hw7-1.png" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        
        In implicit differentiation, we assume $y = f(x)$ under suitable conditions. Draw multiple graphs which represent these "suitable conditions.". 
    
        Hint: Chop up the curve so each part passes the vertical line test.
        </li>

        <li class="hw-space">Find $dy/dx$ with implicit differentiation:
            <ol type="a">
                <li class="hw-space">$x^3 + x^2 + y^3 + y^2 = 1$</li>
                <li class="hw-space">$x^2 - xy - y^2 = 4$</li>
                <li class="hw-space">$1 + x = \sin(xy)$ </li>
                <li class="hw-space">$x^4y^3 + x^2y^4 = 2$</li>
                <li class="hw-space">$2\sqrt{x} + \sqrt{y} = 3$</li>
                <li class="hw-space">$(x + y)^3 + x^3 + y^3 = 0$</li>
                <li class="hw-space">$\dfrac{x}{y^3 - y} = 1$</li>
                <li class="hw-space">$\sin(x + y) = y^2 \cos x$</li>
                <li class="hw-space">$(x+y)^3 + x^3 + y^3 = 0$</li>
            </ol>
        </li>

        <li class="hw-space">Find the equation of the tangent line at $(1,2)$ for the equation \[x^2  + 2xy - y^2 + x = 2\]</li>

        <li class="hw-space">Find the equation of the tangent line at $(\pi, \pi)$ for the equation \[\sin(x + y) = 2x - 2y\]</li>

        <li class="hw-space">When solving related rates problems, which variables do you need to differentiate with respect to time?</li>

        <li class="hw-space">THe area of a triangle with lengths $a$ and $b$ and included angle $\theta$ is \[A = \frac{1}{2}ab \sin \theta\] If $a = 2$ cm, $b = 3$ cm, and $\theta$ is increasing at a rate of $0.2$ rad/min, how fast is the area increasing when $\theta = \frac{\pi}{3}$?</li>

        <li class="hw-space">The formula for the volume $V$ of a cube with side length $s$ is $V = s^3$. The sides of the cube are 5 feet long and increasing at the rate of $0.2$ inches/second. How fast is the volume of the cube changing?</li>

        <li class="hw-space">The kinetic energy of an object is $K = \frac{1}{2}mv^2$. If the object is accelerating at a rate of $9.8 \ m/s^2$, and the mass is $30$ kilograms, how fast is the kinetic energy increasing when the speed is $30$ meters per second?

        <br/>Hint: Kinetic energy is measured in units $\frac{kg \cdot m^2}{s^2}$, so the rate of change of kinetic energy must be in units $\dfrac{\frac{kg \cdot m^2}{s^2}}{s} = \frac{kg \cdot m^2}{s^3}$ 
        </li>

        <li class="hw-space">Suppose a drop of dye was dropped into a large bowl filled with water. If the dye spreads out in a circle and its radius is increasing at a rate of 2 cm/sec, determine how fast the area is increasing when the radius of the circle is 10 cm.</li>

        <li class="hw-space">(skip this one) A plane flying horizontally at an altitude of 1 mi and a speed of 500 mph passes directly over a radar station. Find the rate at which the distance from the plane to the station is increasing when it is 2 miles away from the station.</li>

        <li class="hw-space">If the minute hand of a clock has length r (in centimeters) find the rate at which it sweeps out area as a function of r.

            <br/>

        Use the equation of a sector of a circle $A = \dfrac{1}{2}r^2 \theta$ (picture showing this below) and the fact that the rate at which the minute hand moves is $2\pi$ radians per hour.

        <img src="/static/swrlly/images/teaching/141-hw7-2.png" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        </li>

        <li class="hw-space">Suppose a meat distributor is willing to make $x$ pounds of beef available every week on the marketplace when the price is $\$p$ per pound. The relationship between quantity supplied $x$ and price $p$ is \[650p^2 - x^2 = 100\] If 30,000 pounds of beef are available on the marketplace this week and the price per pound is falling by 2 cents per week, at what rate is the supply falling? </li>


    </ol>
</div>
{% endblock %}