{% extends "swrlly/teaching.html" %}

{% block title %}<title>Allan Hancock Math 183: Multivariable Calculus</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 183"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="multivariable calculus"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-183"/>

{% endblock %}

{% block extraimports %}
<script async src="/static/swrlly/js/centertext.js"></script>
{% endblock %}


{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 183: Multivariable Calculus</h1>

    <p>Welcome to MATH 183! This page contains our toolkit.</p>

    <!--<h2>Interactive Lecture Notes</h2>
    <p><a href="/teaching/math-135/lectures">Click here for interactive lecture notes.</a></p>-->


    <h2>Toolkit</h2>
        <p><a href="/teaching/math-183/toolkit">Click here for the toolkit 🧰</a></p>
    

</div>
{% endblock %}