{% extends "swrlly/teaching.html" %}

{% block title %}<title>Allan Hancock Math 135: Calculus With Applications</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 135"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="business calculus"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-135"/>

{% endblock %}

{% block extraimports %}
<script async src="/static/swrlly/js/centertext.js"></script>
{% endblock %}


{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 135: Calculus With Applications</h1>

    <p>Welcome to MATH 135! This page contains supplemental lecture notes and our toolkit.</p>

    <h2>Interactive Lecture Notes</h2>
    <p><a href="/teaching/math-135/lectures">Click here for interactive lecture notes.</a></p>


    <h2>Toolkit</h2>
    <p>Soon.</p>
    

</div>
{% endblock %}