{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 10</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 10"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 10"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw10"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 10</h1><hr>
    <p><b>Directions:</b>         
        <ol>-
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>
        <li class="hw-space">Sketch a rough graph of the following:
            <ol type="a">
                <li class="hw-space">$r = 2$</li>
                <li class="hw-space">$\theta = \dfrac{\pi}{2}$</li>
                <li class="hw-space">$r = 3\sin\theta$</li>
                <li class="hw-space">$r = 6\cos \theta$</li>
                <li class="hw-space">$\theta = -\dfrac{\pi}{4}$</li>
            </ol>
        </li>
        <li class="hw-space">What is the definition of a complex number?</li>
        <li class="hw-space">Graph the following complex numbers and find their modulus:
            <ol type="a">
                <li class="hw-space">$5 + 5i$</li>
                <li class="hw-space">$-3 - 2i$</li>
                <li class="hw-space">$i$</li>
                <li class="hw-space">$\dfrac{-\sqrt{2} + i\sqrt{2}}{2}$</li>
                <li class="hw-space">$\sqrt{3} + i$</li>
            </ol>
        </li>
        <li class="hw-space">Sketch the following sets in the complex plane:
            <ol type="a">
                <li class="hw-space">$\left\{z = a + bi : a \leq 0, b \geq 0\right\}$</li>
                <li class="hw-space">$\left\{z = a + bi : a \geq 1, b > 1\right\}$</li>
                <li class="hw-space">$\left\{z : \lvert z \rvert = 3 \right\}$</li>
                <li class="hw-space">$\left\{z : \lvert z \rvert \geq 1\right\}$</li>
                <li class="hw-space">$\left\{z : 3 \leq \lvert z \rvert \leq 6 \right\}$</li>
            </ol>
        </li>
        <li class="hw-space">Write the complex number in polar form with argument $\theta$ between $0$ and $2\pi$.
            <ol type="a">
                <li class="hw-space">$1 + i$</li>
                <li class="hw-space">$- \sqrt{2} - \sqrt{2}i$</li>
                <li class="hw-space">$-3 + 3i$</li>
                <li class="hw-space">$1 + i$</li>
                <li class="hw-space">$4$</li>
                <li class="hw-space">$-2i$</li>
                <li class="hw-space">$-3$</li>
                <li class="hw-space">$-\sqrt{3} - i$</li>
            </ol>
        </li>
        <li class="hw-space">Given two complex numbers $z_1$ and $z_2$ in polar form, find $z_1z_2$ and $z_1/z_2$ in polar form.
            <ol type="a">
                <li class="hw-space">$z_1 = 3 \left(\cos \dfrac{\pi}{3} + i \sin \dfrac{\pi}{3} \right)$ <br style="margin-bottom:2em"> $z_2 = 2 \left(\cos \dfrac{\pi}{6} + i \sin \dfrac{\pi}{6}\right)$</li>
                <li class="hw-space">$z_1 = \sqrt{3}\left(\cos \dfrac{5\pi}{6} + i \sin \dfrac{5\pi}{6}\right)$ <br style="margin-bottom:0.5em"> $z_2 = 2(\cos \pi + i \sin \pi)$</li>
                <li class="hw-space">$z_1 = 4 (\cos 120^\circ + i \sin 120^\circ)$ <br style="margin-bottom:0.5em"> $z_2 = 2(\cos 30^\circ + i \sin 30^\circ)$</li>
                <li class="hw-space">$z_1 = \sqrt{2}(\cos 75^\circ + i \sin75^\circ)$ <br style="margin-bottom:0.5em"> $z_2 = 3\sqrt{2}(\cos 60^\circ + i \sin 60^\circ)$</li>
            </ol>
        </li>

        <li class="hw-space">Multiply the two complex numbers $z_1 = \sqrt{3} + i$ and $z_2 = 1 + \sqrt{3}i$ in two different ways:
            <ol type="a">
                <li class="hw-space">Expanding the factors $z_1z_2$</li>
                <li class="hw-space">Convert $z_1$ and $z_2$ to polar and multiply in polar. Also convert your answer back to $a + bi$ and check to see if it is the same numbers as in part (a).</li>
            </ol>
        </li>

        <li class="hw-space">Multiply the following:
            <ol type="a">
                <li class="hw-space">$(-\sqrt{3} + i)^6$</li>
                <li class="hw-space">$(1 - i)^{10}$</li>
                <li class="hw-space">$(1 + i)^7$</li>
                <li class="hw-space">$\left(\dfrac{\sqrt{2}}{2} + \dfrac{\sqrt{2}}{2}i\right)^{12}$</li>
            </ol>
        </li>

        <li class="hw-space">What is the difference between a plane curve and a parametric equation?</li>

        <li class="hw-space">For each pair of parametric equations: <b>(a)</b> Sketch the curve represented. Use arrows to indicate the direction of the curve as $t$ increases. <b>(b)</b> Find a rectangular-coordinate equation for the curve by eliminating the parameter.</li>
    </ol>


</div>
{% endblock %}