{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 10</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 10"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 10"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw10"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 10</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>
        <li class="hw-space">For each of the following problems, find an equation of the hyperbola with vertex at the origin satisfying the following conditions or state it's impossible to.
            <ol type="a">
                <li class="hw-space">Foci $(\pm 5, 0)$, vertices $(\pm 3, 0)$</li>
                <li class="hw-space">Foci $(0, \pm \sqrt{10})$, vertices $(\pm 1, 0)$</li>
                <li class="hw-space">Asymptotes $y = \pm x$, vertices $(0, \pm 3)$</li>
                <li class="hw-space">Length of transverse axis is 6, oriented vertically. 
                    <br>Hint: find the vertices.</li>
                <li class="hw-space">Foci $(\pm 5, 0)$, length of transverse axis is 6</li>
                <li class="hw-space">This hyperbola: <img src="/static/swrlly/images/teaching/119-hw10-1.png" style="max-width:400px; margin:1em auto; display:flex; border-radius:10px;"/> </li>
            </ol>
        </li>

        <li class="hw-space">Consider the hyperbola \[\dfrac{x^2}{4} - \dfrac{y^2}{8} = 1\] If I want to shift it three units right and four units down, what is the new formula?</li>

        <li class="hw-space">For the following ellipses, sketch the graph and find the foci.
            <ol type="a">
                <li class="hw-space">$\dfrac{x^2}{9} + \dfrac{(y+5)^2}{25} = 1$ </li>
                <li class="hw-space">$\dfrac{(x + 1)^2}{36} + \dfrac{(y+1)^2}{64} = 1$ </li>
                <li class="hw-space">$25(x-1)^2 + 9(y-2)^2 = 25 * 9$ </li>
            </ol>
        </li>

        <li class="hw-space">For the following parabolas, sketch the graph and find the focus.
            <ol type="a">
                <li class="hw-space">$(x-3)^2 = 8(y+1)$ </li>
                <li class="hw-space">$(y+1)^2 = 16(x - 3)$ </li>
                <li class="hw-space">$y^2 - 6y - 12x + 33 = 0$</li>
                <li class="hw-space">$x^2 + 2x - 20y + 41 = 0$</li>
            </ol>
        </li>

        <li class="hw-space">For the following hyperbolas, sketch the graph and find the foci.
            <ol type="a">
                <li class="hw-space">$\dfrac{(x + 1)^2}{9} - \dfrac{(y-3)^2}{16} = 1$ </li>
                <li class="hw-space">$x^2 - 2x + 1 - (y^2 - 2y + 1) = 1$ </li>
                <li class="hw-space">$4(y-1)^2 - (x+1)^2 = 16$</li>
            </ol>
        </li>
    </ol>

</div>
{% endblock %}