{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 2</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 2"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 2"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw2"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>Homework 2</h1><hr>

    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
        </ol>  
    </p><hr>

    <p>Answer the following:</p>

    <ol>

        
        <li class="hw-space">What is the definition of like terms?</li>

        <li class="hw-space">Expand and simplify each expression.
            <ol type="a">
                <li class="hw-space">$(2x^2 + 3x) + (3x^3 + 2x)$</li>
                <li class="hw-space">$(x+1)(x-2)$</li>
                <li class="hw-space">$(x^2 + 2x + 1)(x-2)$</li>
                <li class="hw-space">$(1 - x)^2$</li>
                <li class="hw-space">$(x^6 - x^5) -2(x^4 - x^3) - x(x^2 - x)$</li>
            </ol>
        </li>
        <li class="hw-space">Factor the following expressions.
            <ol type="a">
                <li class="hw-space">$-2x^3 - x^2$</li>
                <li class="hw-space">$(x+3)^2(x-2) + (x+3)(x-2)^2$</li>
                <li class="hw-space">$x^2 + 5x + 6$</li>
                <li class="hw-space">$x^2 + 13x + 12$</li>
                <li class="hw-space">$2x^2 + 7x + 3$</li>
                <li class="hw-space">$2x^2yz + 7xyz + 3yz$</li>
                <li class="hw-space">$3x^4 - 16x^2 + 5$</li>
                <li class="hw-space">$(3x+2)^2 + 8(3x+2) + 12$</li>
            </ol>
        </li>
        <li class="hw-space">Isolate $x$ in the following expressions:
            <ol type="a">
                <li class="hw-space">$3x + d = q$</li>
                <li class="hw-space">$ax + bx = c$</li>
                <li class="hw-space">$3x + b = 4x - 3$</li>
            </ol>
        </li>

    </ol>

</div>
{% endblock %}