{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 3</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 3"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 3"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw3"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 3</h1>
    <p><b>Directions:</b> Turn in your answers in class on a physical piece of paper. Staple multiple sheets together. Feel free to use Desmos for graphing.</p>
    <p>Answer the following:</p>
    <ol>
        <li class="hw-space">For the curves that are actual functions in Problem 4 of Homework 2, which are one-to-one?</li>
        <li class="hw-space">Suppose a function $f : \{1, 2\} \rightarrow \{1, 2\}$ is defined as such: $f(1) = 2, f(2) = 1$.
            <ol>
                <li>State the domain and range of this function.</li>
                <li>Is this function one-to-one?</li>
                <li>If it is one-to-one, state the behavior of $f^{-1}$.</li>
            </ol>
        </li>
        <li class="hw-space">
            Suppose $f(x)$ has domain $[1, 5]$ and range $(-\infty, \infty)$. Further suppose $f(x)$ is one-to-one.
            <ol>
                <li>Does $f^{-1}$ exist?</li>
                <li>If $f^{-1}$ exists, what is the domain and range of $f^{-1}$?</li>
            </ol>
        </li>
        <li class="hw-space">Draw a graph of a one-to-one function.</li>
        <li class="hw-space">Algebraically find the inverse of $f(x) = x$, if you can.</li>
        <li class="hw-space">Algebraically find the inverse of $f(x) = \dfrac{x + 2}{2x + 3}$, if you can.</li>
        <li class="hw-space">Algebraically find the inverse of $f(x) = \sqrt{x - 3}, x \leq 12$ if you can.</li>
        <li class="hw-space">Algebraically find the inverse of $f(x) = \dfrac{(x+2)(x+1)}{(x+2)(x + 3)}$, if you can.</li>
        <ol>
            <li class="hw-space">Hint: The domain restriction is $\{x : x \neq -2 \text{ and } x \neq -3\}$, even if you cancel. Keep domain restrictions of the original function!</li>
        </ol>
        <li class="hw-space">Algebraically find the inverse of $f(x) = \dfrac{x}{x+1} + \dfrac{2x + 1}{x + 1}$, if you can.</li>
        <li class="hw-space">Suppose $f(x) = x$ and $g(x) = \dfrac{1}{x}$. Are $f(x)$ and $g(x)$ inverses? Show using the Inverse Function Property.</li>
        <li class="hw-space">Suppose $f(x) = x^2$ and $g(x) = \sqrt{x}$. Are $f(x)$ and $g(x)$ inverses? Show using the Inverse Function Property.</li>
        <li class="hw-space">Is the point $\left(\frac{1}{\sqrt{2}}, \frac{1}{\sqrt{2}}\right)$ on the unit circle? Show using calculations.</li>
        <li>What is the reference number $\bar{t}$? What is the range of values $\bar{t}$ is allowed to be?</li>
        <li >Find the following terminal points associated with the following $t$ values:
            <ol>
                <li class="hw-space">$t = 0$</li>
                <li class="hw-space">$t = \frac{3\pi}{2}$</li>
                <li class="hw-space">$t = \frac{2\pi}{3}$</li>
                <li class="hw-space">$t = \frac{5\pi}{6}$</li>
                <li class="hw-space">$t = -\frac{2\pi}{3}$</li>
                <li class="hw-space">$t = -\frac{9\pi}{4}$</li>
                <li class="hw-space">$t = 1000\pi + \frac{2\pi}{3}$</li>
                <li class="hw-space">$t = -83\pi + \frac{\pi}{3}$</li>
                <li class="hw-space">$t = \pi + 2\pi - 3\pi + \frac{4\pi}{3}$</li>
            </ol>
        </li>
        <li> (skip) Find the six trigonmetric functions of $t = \frac{2\pi}{3}$.</li>
        <li>(skip) Find the six trigonmetric functions of $t = -\frac{5\pi}{6}$.</li>
        <li>(skip) Why is $\tan\left(\frac{\pi}{2}\right)$ undefined?</li>
        <!--<li>What is the domain of $f(t) = \sin(t) \cdot \cos(t)$? Hint: section 2.7.</li>
        <li>What is the domain of $f(t) = \sin(t) + \tan(t)$?</li>-->
    </ol>
</div>
{% endblock %}