{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 3</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 3"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 3"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw3"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 3</h1>
    
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
        </ol>  
    </p><hr>

    <p>Answer the following:</p>
    <ol>
        <li class="hw-space">Draw a curve in the plane that is not a function.</li>

        <li class="hw-space"> Given the functions $f(x) = \sqrt{x - 2}$ and $g(x) = 5 - x^2$, find the following and <b>fully simplify</b>:</li>
        <ol>
            <li class="hw-space">$f(g(0))$</li>
            <li class="hw-space">$f\circ g$</li>
            <li class="hw-space">$g \circ f$</li>
            <li class="hw-space">$f \circ f$</li>
            <li class="hw-space">$g \circ g$</li>
            
        </ol>
        <li class="hw-space">Given the following functions $F(x)$, find two functions $f$ and $g$ where $f\circ g  = F$. You are not allowed to choose $f(x) = x$ or $g(x) = x$.
            <ol type="a">
                <li class="hw-space">$F(x) = (x-3)^{-\frac{1}{2}}$</li>
                <li class="hw-space">$F(x) = \sqrt{x - 2} + \dfrac{1}{\sqrt{x - 2}}$</li>
                <li class="hw-space">$F(x) = \sqrt{(x^2 + 2x + 3)^3}$</li>
            </ol>
        <li class="hw-space">Suppose \[f(x) = x \qquad g(x) = \dfrac{1}{x-2} \qquad h(x) = \sqrt{x} \qquad i(x) = \dfrac{1}{x-3}\]
            <ol>
                <li class="hw-space">Find $f(x) + g(x) - h(x) - i(x)$ and it's domain.</li>
                <li class="hw-space">Find $f(x) \cdot g(x) \cdot h(x) \cdot i(x)$ and it's domain.</li>
            </ol>
        </li>
        <li>Suppose \[f(x) = x^2 \qquad g(x) = \sqrt{x} \qquad h(x) = \dfrac{1}{x - 1} \qquad i(x) = \dfrac{1}{x-2}\]
            <ol>
                <li class="hw-space">Find $f(x) + g(x) - h(x) - i(x)$ and it's domain.</li>
                <li class="hw-space">Find $\dfrac{f(x) \cdot g(x) \cdot h(x)}{i(x)}$ and it's domain.</li>
            </ol>
        </li>
        <li class="hw-space">Draw a graph of a one-to-one function.</li>
        <li class="hw-space">Suppose $f$ is <b>not</b> a one-to-one function. Explain what property is violated when we try to define $f^{-1}$.</li>
        <li class="hw-space">Suppose $f(x) = x$ and $g(x) = \dfrac{1}{x}$. Are $f(x)$ and $g(x)$ inverses? Show using the Inverse Function Property.</li>
        <li class="hw-space">Suppose $f(x) = x^2$ and $g(x) = \sqrt{x}$. Are $f(x)$ and $g(x)$ inverses? Show using the Inverse Function Property.</li>
        <li class="hw-space">Is the point $\left(\frac{1}{\sqrt{2}}, \frac{1}{\sqrt{2}}\right)$ on the unit circle? Show using calculations.</li>
        <li class="hw-space">What is the reference number $\bar{t}$? What is the range of values $\bar{t}$ is allowed to be?</li>
        <li class="hw-space">Find the following terminal points $P$ associated with the following $t$ values:
            <ol type="a">
                <li class="hw-space">$t = 0$</li>
                <li class="hw-space">$t = \frac{3\pi}{2}$</li>
                <li class="hw-space">$t = \frac{2\pi}{3}$</li>
                <li class="hw-space">$t = \frac{5\pi}{6}$</li>
                <li class="hw-space">$t = -\frac{2\pi}{3}$</li>
                <li class="hw-space">$t = -\frac{9\pi}{4}$</li>
                <li class="hw-space">$t = -\frac{11\pi}{6}$</li>
                <li class="hw-space">$t = 1000\pi + \frac{2\pi}{3}$</li>
                <li class="hw-space">$t = -83\pi + \frac{\pi}{3}$</li>
                <li class="hw-space">$t = \pi + 2\pi - 3\pi + \frac{4\pi}{3}$</li>
            </ol>
        </li>
        <li class="hw-space">Find the six trigonometric functions of $t = \frac{2\pi}{3}$.</li>
        <li class="hw-space">Find the six trigonometric functions of $t = -\frac{5\pi}{6}$.</li>
        <li class="hw-space">Explain using the terminal point of $t = \frac{\pi}{2}$ why $\tan\left(\frac{\pi}{2}\right)$ does not exist.</li>
        <li class="hw-space">What is the domain of $f(t) = \sin(t) \cdot \cos(t)$? Hint: section 2.7.</li>
        <li class="hw-space">What is the domain of $f(t) = \sin(t) + \tan(t)$?</li>
        <li class="hw-space">A function usually has the notation $y = f(x)$, meaning you plug in $x$ and the result is called $y$.
        <br>When we say for any $t \in \mathbb{R}$ and it's associated terminal point $P(x,y)$, what does $\sin t = x$ mean in English?
        </li>
        <li class="hw-space">Find the following:
            <ol type="a">
                <li class="hw-space">$\cos\left(\dfrac{10\pi}{3}\right)$</li>
                <li class="hw-space">$\sin\left(\dfrac{4\pi}{3}\right)$</li>
            </ol>
        </li>
        <li class="hw-space">If $\sin t > 0$ and $ \cos t < 0$, what quadrant is the terminal point in?</li>
        <li class="hw-space">Graph $f(t) = \cos t$ by hand.</li>
    </ol>
</div>
{% endblock %}