{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 4</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 4"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 4"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw4"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 4</h1>
    
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
        </ol>  
    </p><hr>

    <p>Answer the following:</p>
    <ol>
        <li class="hw-space">
            If $\sin t > 0$ and $\cos t < 0$, what quadrant is the terminal point in?
        </li>
        <li class="hw-space">
            If $\cos t < 0$ and $\cot t < 0$, what quadrant is the terminal point in?
        </li>
        <li class="hw-space">
            Is the function $f(t) = \sin (t) \cos (t)$ negative or positive when $t$ is in Quadrant IV? How about Quadrant II?
        </li>
        <li class="hw-space">
            Is the function $f(t) = \frac{\tan t}{\cos t}$ negative or positive when $t$ is in Quadrant III? How about Quadrant I?
        </li>
        <li class="hw-space">Fill out this table. It will probably be helpful in the future.
            <table class="table" style="max-width: 200px; margin: 1em auto;">
                <thead>
                <tr>
                    <th scope="col">$t$</th>
                    <th scope="col">$\tan(t)$</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>$0$</td>
                    <td></td>
                </tr>
                <tr>
                    <td>$\frac{\pi}{6}$</td>
                    <td></td>
                </tr>
                <tr>
                    <td>$\frac{\pi}{4}$</td>
                    <td></td>
                </tr>
                <tr>
                    <td>$\frac{\pi}{3}$</td>
                    <td></td>
                </tr>
                <tr>
                    <td>$\frac{\pi}{2}$</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li class="hw-space">$P\left(-\dfrac{3}{5}, -\dfrac{4}{5}\right)$ is a terminal point associated with some $t \in \mathbb{R}$. Find $\sin(t), \cos(t)$ and $\tan(t)$.</li>
        <li class="hw-space">Let's say $\cos(t) = -\frac{7}{25}$ and the terminal point of $t$ is in Quadrant III. What is $\sin(t)$ and $\tan(t)$?
        </li>
        <li class="hw-space">Suppose $f(x) = \sqrt{x}$. We want to vertically shift $f(x)$ upwards 3 units and left four units to make a new function $g(x)$. What is the formula of $g(x)$?</li>
        <li class="hw-space">Starting from a base function $f(x)$, I want to create a function where I 
            <ol type="a">
                <li class="hw-space">vertically shift up three units</li>
                <li class="hw-space">horizontally shift right four units</li>
                <li class="hw-space">vertical stretch of 2 units</li>
                <li class="hw-space">horizontal shrink of $\frac{1}{3}$ units</li>
                <li class="hw-space">reflection over the $x$-axis</li>
            </ol>
            What should the formula of $f(x)$ look like?
        </li>
        <li >Suppose \[f(x) = \sqrt{x} \qquad g(x) = \sqrt{x - 2} \qquad h(x) = \sqrt{\frac{1}{2}x - 2} \qquad i(x) = \sqrt{\frac{1}{2}\left(x-2\right)}\]
            <ol>
                <li class="hw-space">Is $g(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted two units to the right from $f(x)$? Why or why not?</li>
            </ol>
        </li>
        <li class="hw-space">Suppose \[f(x) =  x^3 \qquad g(x) = \left(\pi\left(x + 4\right)\right)^3 \qquad h(x) = \left(0.25x + 4\right)^3 \qquad i(x) =(x+4)^3\]
            <ol type="a">
                <li class="hw-space">Is $g(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $h(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
                <li class="hw-space">Is $i(x)$ horizontally shifted four units to the left from $f(x)$? Why or why not?</li>
            </ol>
        </li>
        <li class="hw-space">State each relevant transformation, amplitude, and period (amplitude only for $\sin, \cos$). Graph one complete period by hand. Be sure to show in the graph the endpoints of one period.
            <ol type="a">
                <li class="hw-space">$y = 1 + \cos (x - \pi)$</li>
                <li class="hw-space">$y = \dfrac{1}{2} - \dfrac{1}{2}\cos\left(2x - \dfrac{\pi}{3}\right)$</li>
                <li class="hw-space">$y = \dfrac{1}{2} - \dfrac{1}{2}\cos\left(2\left(x - \dfrac{\pi}{3}\right)\right)$</li>
                <li class="hw-space">$y = \sin(\pi + 2x)$</li>
                <li class="hw-space">(skip this) $y = 1 + \tan\left(\pi x\right)$</li>
                <li class="hw-space">(skip this) $y = 4 \tan (3x - 2\pi)$</li>
                <li class="hw-space">$y = 5\sin\left(\pi x + \dfrac{\pi}{3}\right)$</li>
            </ol>
        </li>
        <li class="hw-space">Suppose \[f(x) = x \qquad\qquad g(x) = \sin(x)\] Graph $f(x) + g(x)$ in Desmos. Based on what you know about graphical addition, why does the graph $f(x) + g(x)$ look like the way it does?</li>
        
        <!--
        <li class="hw-space">Because $f(x) = \sin(x)$ is not one to one, what is the interval of values we restrict the domain of $f(x)$ to in order for $f(x)$ to have an inverse?</li>
        <li class="hw-space"><a href="/teaching/math-119/lectures/2.8">Inverse function property in 2.8</a> tells us that if $f(x) = \sin(x)$ and $g(x) = \sin^{-1}(x)$, then $(f\circ g)(x) = x$ is valid. For what values of $x$ is $(f \circ g)(x) = x$ true? Moreover, explain the exact reason why these specific values of $x$ are valid.</li>
        <li class="hw-space"><a href="/teaching/math-119/lectures/2.8">Inverse function property in 2.8</a> tells us that $\cos^{-1}(\cos(x)) = x$. For what values of $x$ is this true? Moreover, explain the exact reason why these specific values of $x$ are valid.</li>
        <li class="hw-space">Out of the following, which ones are true? 🤔 Justify your answer with the domain of the proper function.</li>
        <ol>
            <li class="hw-space">$\sin^{-1}\left(\sin\left(\dfrac{\pi}{3}\right)\right) = \dfrac{\pi}{3}$</li>
            <li class="hw-space">$\sin^{-1}\left(\sin\left(-\dfrac{\pi}{4}\right)\right) = -\dfrac{\pi}{4}$</li>
            <li class="hw-space">$\sin^{-1}\left(\sin\left(-\dfrac{2\pi}{3}\right)\right) = -\dfrac{2\pi}{3}$</li>
            <li class="hw-space">$\cos^{-1}\left(\cos\left(-\dfrac{2\pi}{3}\right)\right) = -\dfrac{2\pi}{3}$</li>
            <li class="hw-space">$\cos\left(\cos^{-1}\left(\dfrac{1}{2}\right)\right) = \dfrac{1}{2}$</li>
            <li class="hw-space">$\tan^{-1}\left(\tan\left(-\dfrac{2\pi}{3}\right)\right) = -\dfrac{2\pi}{3}$</li>
            <li class="hw-space">$\tan\left(\tan^{-1}100000000000\right) = 100000000000$</li>
        </ol>
        <li class="hw-space">Evaluate the following:
            <ol>
                <li class="hw-space">$\sin^{-1}\left(\dfrac{\sqrt{3}}{2}\right)$</li>
                <li class="hw-space">$\sin^{-1}\left(\dfrac{-1}{2}\right)$</li>
                <li class="hw-space">$\cos^{-1}\left(-\dfrac{\sqrt{2}}{2}\right)$</li>
                <li class="hw-space">$\cos^{-1}(2)$</li>
                <li class="hw-space">$\tan^{-1}(0)$</li>
                <li class="hw-space">$\tan^{-1}(\sqrt{3})$</li>
                <li class="hw-space">$\tan\left(\sin^{-1}\frac{\sqrt{2}}{2}\right)$</li>
            </ol>
        </li>
        <li class="hw-space">
            Suppose $\sin t = -\frac{4}{5}$ and the terminal points $P$ is in Quadrant IV. What is $\cos t$?
        </li>
        <li class="hw-space">
            Are the following functions even, odd, or neither?
            <ol>
                <li class="hw-space">
                    $f(x) = x^2 \sin x$
                </li>
                <li class="hw-space">
                    $f(x) = \sin(x)\cos(x)$
                </li>
            </ol>
        </li>
        -->
    </ol>
</div>
{% endblock %}