{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 5</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 5"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 5"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw5"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 5</h1>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
        </ol>  
    </p><hr>

    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">You are driving a car with 29 inch diameter wheels. On the freeway, your tires complete 15 revolutions per second. Find the angular speed (in rad/sec) and linear speed (in miles/hour).</li>

    </ol>
</div>
{% endblock %}