{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 5</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 5"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 5"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw5"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 5</h1>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
        </ol>  
    </p><hr>

    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">You are driving a car with 24 inch diameter wheels. On Foothill Blvd, your linear speed is 40 miles/hour. Find the angular speed (in rad/hour) and the number of revolutions completed per hour.</li>

        <li class="hw-space">Planet Earth is about 93,000,000 miles from the sun and can be modelled with circular motion around the Sun. 
            
            <ol type="a">
                <li class="hw-space">If the Earth completes one revolution per year, calculate the angular speed (in rad/hour) and linear speed (in miles/hour).</li>
                <li class="hw-space">The average linear speed is 66,616 miles/hour, <a href="https://nssdc.gsfc.nasa.gov/planetary/factsheet/earthfact.html">calculated with more advanced models</a> because Earth is not quite in exact circular motion around the Sun. Even so, do you thinks your answer in part (a) is close to the actual average speed?</li>
            </ol>

        </li>

        <li class="hw-space">You have probably seen this visualization of the Solar System:
            
            <img src="https://64.media.tumblr.com/tumblr_mbgbrh3IP11qbpwkro1_500.gifv" style="max-width:500px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em; margin-bottom:1em;"/>

            <p>This visualization, while pretty, is misleading compared to our actual reality. The Sun (therefore the Solar System) isn't just floating in space at one point. Our entire Solar System is actually moving through space! </p>

            <p><b>Question:</b> <a href="https://www.youtube.com/shorts/8rJK55jS9iY">Watch this video</a> and write a few sentences reflecting on how you feel/what you learned. Does this information change your perspective on your reality? </p>
        </li>
            
        <li class="hw-space">You are driving a car with 29 inch diameter wheels. On the freeway, your tires complete 15 revolutions per second. Find the angular speed (in rad/sec) and linear speed rounded (in miles/hour, rounded to the nearest tenth).</li>

        <li class="hw-space">Evaluate the following:
            <ol type="a">
                <li class="hw-space">$\sin(120^\circ)$</li>
                <li class="hw-space">$\tan(-150^\circ)$</li>
                <li class="hw-space">$\cos(-135^\circ)$</li>
            </ol>
        </li>

        <li class="hw-space">Suppose a right triangle $ABC$ has an acute angle $\theta$. The opposite side has length 3, adjacent length 4. Find $\sin(\theta)$.</li>
        <li class="hw-space">Sketch a triangle and it's acute angle $\theta$ that has $\tan(\theta) = \frac{10}{8}$. Label all three sides.</li>
        <li class="hw-space">A right triangle ABC has one acute angle $45^\circ$. The hypotenuse has length $16\sqrt{2}$. Solve the triangle.</li>
        <li class="hw-space">Suppose a truck has 40 inch radius wheels and a line is drawn from the center of the wheel to the right edge of the wheel. Let the current position of this line be the initial side. Assuming no acceleration, the wheel rotates at $\frac{1}{16}$ rotations per second. The truck starts moving and stops after 4 seconds. Consider the final position of this drawn line the terminal side. What is the area of the sector between the terminal and initial side?</li>
        <li class="hw-space">Why does $t = \dfrac{\pi}{3}$ give the terminal point $P\left(\dfrac{1}{2}, \dfrac{\sqrt{3}}{2}\right)$?</li>
        <li class="hw-space">Find the side labeled $x$:
            <ol type="a">
                <li class="hw-space"> <img src="/static/swrlly/images/teaching/119-hw6-1.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em; margin-bottom:1em;"/> </li>
                <li class="hw-space"> <img src="/static/swrlly/images/teaching/119-hw6-2.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em; margin-bottom:1em;"/> </li>
                <li class="hw-space"> <img src="/static/swrlly/images/teaching/119-hw6-3.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em; margin-bottom:1em;"/> </li>
            </ol>
        </li>
        <li class="hw-space">A 600-ft guy wire is attached to the top of a communications tower. If the wire makes an angle of $65^\circ$ with the ground, how tall is the communications tower?</li>
        <li class="hw-space">From the top of a 200 feet lighthouse, the angle of depression to a ship in the ocean is $23^\circ$. How far is the ship from the base of the lighthouse?</li>
        <li class="hw-space">A sequoia tree casts a shadow 100 feet long. Find the height of the tree if the angle of elevation of the sun is $45^\circ$.</li>
        <li class="hw-space">Find the area of the shaded region. <img src="/static/swrlly/images/teaching/119-hw6-4.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em; margin-bottom:1em;"/></li>
        <li class="hw-space">Find the area of this triangle. <img src="/static/swrlly/images/teaching/119-hw6-5.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em; margin-bottom:1em;"/></li>

        <li class="hw-space">Which of the following are identities? If they are not, show with specific variable values. If you think they are, justify using reasoning based off of previous sections or prove it.
            <ol type="a">
                <li class="hw-space">$x^2 + y^2 = 1$</li>
                <li class="hw-space">$x(y + z) = xy + xz$</li>
                <li class="hw-space">$x^2 - \cos^2 x = (x - \cos x)(x + \cos x)$</li>
                <li class="hw-space">$\sin(x + y) = \sin(x) + \sin(y)$</li>
            </ol>
        </li>
        <li class="hw-space">Simplify these expressions:
            <ol type="a">
                <li class="hw-space">$\cos t \tan t$</li>
                <li class="hw-space">$\dfrac{\sec x}{\csc x}$</li>
                <li class="hw-space">$\dfrac{\sec \theta - \cos \theta}{\sin \theta}$</li>
                <li class="hw-space">$\dfrac{1}{1 + \sin \theta} + \dfrac{1}{1 - \sin \theta}$</li>
                <li class="hw-space">$\dfrac{\csc x - \cot x}{\sec x - 1}$</li>
                <li class="hw-space">$\dfrac{\cos^2 t + \tan^2 t - 1}{\sin^2 t}$</li>
            </ol>
        </li>
        <li class="hw-space">Prove these identities algebraically:
            <ol type="a">
                <li class="hw-space">$\dfrac{\sin \theta}{\tan \theta} = \cos \theta$</li>
                <li class="hw-space">$\dfrac{\cos x}{\sec x\sin x} = \csc x - \sin x$</li>
                <li class="hw-space">$\dfrac{\sin \alpha \sec \alpha}{\tan \alpha} = 1$</li>

                <li class="hw-space">$\dfrac{(\sin x + \cos x)^2}{\sin x \cos x} = 2 + \sec x \csc x$</li>
                <li class="hw-space">$\sin^4 \alpha - \cos^4 \alpha = \sin^2 \alpha - \cos^2 \alpha$. <br>Hint: Let $x = \sin^2 \alpha, y = \cos^2 \alpha$ and factor.</li>
                <li class="hw-space">$\dfrac{\cos x}{\sec x} + \dfrac{\sin x}{\csc x} = 1$</li>
                <li class="hw-space">$\tan \theta + \cot \theta = \sec \theta \csc \theta$</li>
                <li class="hw-space">$(\cot \theta - \csc \theta)(\cos \theta + 1) = -\sin\theta$</li>
                <li class="hw-space">$\dfrac{\sin \theta}{\tan \theta} = \cos \theta$</li>
            </ol>
        </li>
        <li>Assume $0 < \theta < \pi/2$. Make the indicated trigonometric substitution and simplify.
        <ol>
            <li class="hw-space">$\dfrac{x}{\sqrt{1 - x^2}}, \ x = \sin \theta$.</li>
            <li class="hw-space">$\sqrt{9 - x^2}, \ x = 3\sin \theta$</li>
        </ol>
        </li>


    </ol>
</div>
{% endblock %}