{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 4</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 5"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 5"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw5"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 5</h1>
    <p><b>Directions:</b> Turn in your answers in class on a physical piece of paper. Staple multiple sheets together. Feel free to use Desmos for graphing.</p>
    
    <p>Answer the following:</p>
    <ol>
        <li>Find a function that models the simple harmonic motion with the following properties. Assume the displacement is <b>zero</b> at $t = 0$.</li>
        <ol type="a">
            <li>Amplitude 4 centimeters, period 3 seconds</li>
            <li class="hw-space">Amplitude 8 meters, frequency $\frac{1}{2}$ Hz (cycles per second)</li>
        </ol>
        <li>Find a function that models the simple harmonic motion with the following properties. Assume the displacement is <b>at the maximum</b> at $t = 0$.</li>
        <ol type="a">
            <li>Amplitude 3 inches, period 2 minutes</li>
            <li class="hw-space">Amplitude 1.2 meters, frequency $5$ Hz</li>
        </ol>
        <li class="hw-space">For the functions \[y_1 = 10\sin\left(3t - \frac{\pi}{2}\right) \qquad y_2 = 10\sin\left(3t - \frac{5\pi}{2}\right)\]
            Are they in phase?
        </li>
        <li class="hw-space">Suppose \[y_1 = \cos(2x - 3), y_2 = \cos(5x + 5)\] Will these functions ever be in phase? Why or why not?</li>
        <li class="hw-space">In a predator/prey model, the predator population is modeled by the function \[y = 1100\cos\left(3t\right) + 500\] where $t$ is measured in years.
            <ol type="a">
                <li>What is the maximum population?</li>
                <li>Find the length of time between successive periods of maximum population.</li>
            </ol></li>
            <li class="hw-space">A mass suspended from a spring is at rest. Force is introduced at time $t = 0$, causing the mass to displace a maximum of four inches. If the mass completes 4 cycles in one second, find an equation that describes its motion.</li>
        <li class="hw-space">A mass suspended from a spring is at rest. It is pulled down three centimeters and released at time $t = 0$. If the mass returns to the location it was released at after one second, find an equation that describes its motion. Hint: It starts at the lowest position.</li>
        <li class="hw-space">When you listen to music involving electronic elements, what type of waves are you listening to?</li>
        <li class="hw-space">Convert the following to radians:
            <ol type="a">
                <li>$150^\circ$</li>
                <li>$-60^\circ$</li>
            </ol>
        </li>
        <li class="hw-space">What is the mathematical relationship between the central angle and the arc length?</li>
        <li class="hw-space">Suppose a circle has radius five centimeters. A central angle of measure $40^\circ$ subtends an arc. Find the length of the arc.</li>
        <li class="hw-space">Suppose a circle has radius five centimeters. A central angle of measure $40^\circ$ subtends an arc. Find the area of the sector covered by the arc.</li>
        <li class="hw-space">Suppose the time is 1:00 PM. How many radians does the minute hand move the clock if it is 1:45 PM? (rotation is clockwise here!)</li>
        <li class="hw-space">A truck with 24 inch radius wheels are rotating at 400 revolutions per minute.
            <ol type="a">
                <li>What is the angular speed (in radians)?</li>
                <li>What is the linear speed (in inches)?</li>
                <li>If instead the truck had 40 inch radius wheels, does the angular speed change? How about linear speed?</li>
            </ol>
        </li>
        <li class="hw-space">Suppose a right triangle $ABC$ has an acute angle $\theta$. The opposite side has length 3, adjacent length 4. Find $\sin(\theta)$.</li>
        <li class="hw-space">Sketch a triangle and it's acute angle $\theta$ that has $\tan(\theta) = \frac{10}{8}$. Label all three sides.</li>
        <li class="hw-space">A right triangle ABC has one acute angle $45^\circ$. The hypotenuse has length $16\sqrt{2}$. Solve the triangle.</li>
        <li class="hw-space">Suppose a truck has 40 inch radius wheels and a line is drawn from the center of the wheel to the right edge of the wheel. Let the current position of this line be the initial side. Assuming no acceleration, the wheel rotates at 0.2 rotations per second. The truck starts moving and stops after 4 seconds. Consider the final position of this drawn line the terminal side. What is the area of the sector between the terminal and initial side?</li>
    </ol>
</div>
{% endblock %}