{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 6</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 6"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 6"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw6"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 6</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    <ol>

        <!--
        <li class="hw-space">Suppose a right triangle $ABC$ has an acute angle $\theta$. The opposite side has length 3, adjacent length 4. Find $\sin(\theta)$.</li>
        <li class="hw-space">Sketch a triangle and it's acute angle $\theta$ that has $\tan(\theta) = \frac{10}{8}$. Label all three sides.</li>
        <li class="hw-space">A right triangle ABC has one acute angle $45^\circ$. The hypotenuse has length $16\sqrt{2}$. Solve the triangle.</li>
        <li class="hw-space">Suppose a truck has 40 inch radius wheels and a line is drawn from the center of the wheel to the right edge of the wheel. Let the current position of this line be the initial side. Assuming no acceleration, the wheel rotates at 0.2 rotations per second. The truck starts moving and stops after 4 seconds. Consider the final position of this drawn line the terminal side. What is the area of the sector between the terminal and initial side?</li>
        <li class="hw-space">Why does $t = \dfrac{\pi}{3}$ give the terminal point $P\left(\dfrac{1}{2}, \dfrac{\sqrt{3}}{2}\right)$?</li>
        <li class="hw-space">Find the side labeled $x$:
            <ol type="a">
                <li class="hw-space"> <img src="/static/swrlly/images/teaching/119-hw6-1.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/> </li>
                <li class="hw-space"> <img src="/static/swrlly/images/teaching/119-hw6-2.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/> </li>
                <li class="hw-space"> <img src="/static/swrlly/images/teaching/119-hw6-3.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/> </li>
            </ol>
        </li>
        <li class="hw-space">A 600-ft guy wire is attached to the top of a communications tower. If the wire makes an angle of $65^\circ$ with the ground, how tall is the communications tower?</li>
        <li class="hw-space">From the top of a 200 feet lighthouse, the angle of depression to a ship in the ocean is $23^\circ$. How far is the ship from the base of the lighthouse?</li>
        <li class="hw-space">A sequoia tree casts a shadow 100 feet long. Find the height of the tree if the angle of elevation of the sun is $45^\circ$.</li>
        <li class="hw-space">Find the area of the shaded region. <img src="/static/swrlly/images/teaching/119-hw6-4.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>
        <li class="hw-space">Find the area of this triangle. <img src="/static/swrlly/images/teaching/119-hw6-5.PNG" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/></li>

        
        <li class="hw-space">Which of the following are identities? If they are not, show with specific variable values. If you think they are, justify using reasoning based off of previous sections or prove it.
            <ol type="a">
                <li class="hw-space" style="padding-top:1em;">$x^2 + y^2 = 1$</li>
                <li class="hw-space">$x(y + z) = xy + xz$</li>
                <li class="hw-space">$x^2 - \cos^2 x = (x - \cos x)(x + \cos x)$</li>
                <li class="hw-space">$\sin(x + y) = \sin(x) + \sin(y)$</li>
            </ol>
        </li>
        <li class="hw-space">Simplify these expressions:
            <ol type="a" style="padding-top:1em;">
                <li class="hw-space">$\cos t \tan t$</li>
                <li class="hw-space">$\dfrac{\sec x}{\csc x}$</li>
                <li class="hw-space">$\dfrac{\sec \theta - \cos \theta}{\sin \theta}$</li>
                <li class="hw-space">$\dfrac{1}{1 + \sin \theta} + \dfrac{1}{1 - \sin \theta}$</li>
            </ol>
        </li>
        <li class="hw-space">Prove these identities algebraically:
            <ol type="a">
                <li class="hw-space" style="padding-top:1em;">$\dfrac{\sin \theta}{\tan \theta} = \cos \theta$</li>
                <li class="hw-space">$\dfrac{\cos x}{\sec x\sin x} = \csc x - \sin x$</li>
                <li class="hw-space">$\dfrac{\sin \alpha \sec \alpha}{\tan \alpha} = 1$</li>

                <li class="hw-space">$\dfrac{(\sin x + \cos x)^2}{\sin x \cos x} = 2 + \sec x \csc x$</li>
                <li class="hw-space">$\sin^4 \alpha - \cos^4 \alpha = \sin^2 \alpha - \cos^2 \alpha$. Hint: Let $x = \sin^2 \alpha, y = \cos^2 \alpha$ and factor.</li>
                <li class="hw-space">$\dfrac{\cos x}{\sec x} + \dfrac{\sin x}{\csc x} = 1$</li>
                <li class="hw-space">$\tan \theta + \cot \theta = \sec \theta \csc \theta$</li>
                <li class="hw-space">$(\cot \theta - \csc \theta)(\cos \theta + 1) = -\sin\theta$</li>
            </ol>
        </li>
        <li>Assume $0 < \theta < \pi/2$. Make the indicated trigonometric substitution and simplify.
        <ol>
            <li class="hw-space" style="padding-top:1em;">$\dfrac{x}{\sqrt{1 - x^2}}, \ x = \sin \theta$.</li>
            <li class="hw-space">$\sqrt{9 - x^2}, \ x = 3\sin \theta$</li>
        </ol>
        </li>
    -->
        <!--<li> Use addition/subtraction formulas to find the following values:
            <ol type="a">
                <li class="hw-space" style="padding-top:1em;">$\sin 75^\circ$</li>
                <li class="hw-space">$\cos \dfrac{11\pi}{12}$</li>
                <li class="hw-space">$\sin18^\circ \cos27^\circ + \cos18^\circ\sin27^\circ$</li>
            </ol>
        </li>-->
        
    </ol>
</div>
{% endblock %}