{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 6</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 6"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 6"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw6"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 6</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>

    <b>Helpful hint:</b>

    <p>
        Because \[\sin(2x) = 2\sin x\cos x\] you can replace all the $x$ with $2x$ to get \[\sin(4x) = \sin(2\cdot 2x) = 2\sin 2x \cos 2x\] Can do this for even coefficients of $x$, for example \[\sin(4x) \qquad \sin(6x) \qquad \sin(8x)\]
    
    </p>
    
    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">Prove the following identities.
            <ol type="a">
                <li class="hw-space">$\dfrac{(\sin x + \cos x)^2}{\sin^2x - \cos^2x} = \dfrac{\sin^2 x - \cos^2 x}{(\sin x - \cos x)^2}$</li>
                <li class="hw-space">$\dfrac{1}{1 - \sin^2 y} = 1 + \tan^2 y$</li>
                <li class="hw-space">$2 \csc x = \dfrac{1 - \cos x}{\sin x} + \dfrac{\sin x}{1 - \cos x}$</li>
                <li class="hw-space">$\dfrac{\cos x}{1 - \sin x} = \dfrac{\sin x - \csc x}{\cos x - \cot x}$</li>
                <li class="hw-space">$\cos^2 x - \sin^2 x = 2 \cos^2 x - 1$</li>
            </ol>
        </li>

        <li class="hw-space">Assume $0 < \theta < \pi/2$. Make the indicated trigonometric substitution and simplify.
            <ol type="a">
                <li class="hw-space">$\dfrac{x}{\sqrt{1 - x^2}}, \quad x = \sin \theta$</li>
                <li class="hw-space">$\sqrt{9 - x^2}, \quad x = 3\sin \theta$</li>
            </ol>
        </li>

        <li class="hw-space"> 
            Use addition/subtraction formulas to find the following values:
            <ol type="a">
                <li class="hw-space">$\sin 75^\circ$</li>
                <li class="hw-space">$\cos \dfrac{11\pi}{12}$</li>
                <li class="hw-space">$\sin18^\circ \cos27^\circ + \cos18^\circ\sin27^\circ$</li>
                <li class="hw-space">$\tan 105^\circ$</li>
                <li class="hw-space">$\csc\left(\dfrac{5\pi}{12}\right)$</li>
                <li class="hw-space">$\cos\left(\sin^{-1}\dfrac{\sqrt{3}}{2} + \cos^{-1} \dfrac{1}{2} + \dfrac{\pi}{12}\right)$</li>
            </ol>
        </li>

        <li class="hw-space"> Prove these identities. Remember: do <b>not assume</b> the statement you are trying to prove. Start from one side!
            <ol type="a">
                <li class="hw-space" style="padding-top:1em;">
                    $\cos(x + y)\cos(x - y) = \cos^2 x - \sin^2 y$
                </li>
                <li class="hw-space">
                    $\sin(x + y) - \sin(x - y) = 2\cos x \sin y$
                </li>
                <li class="hw-space">
                    $\tan(x - \pi) = \tan x$
                </li>
                <li class="hw-space">
                    $1 - \tan x \tan y = \dfrac{\cos(x + y)}{\cos x \cos y}$
                </li>
                <li class="hw-space">
                    $\cos\left(x + \dfrac{\pi}{3}\right) + \sin\left(x - \dfrac{\pi}{6}\right) = 0$
                </li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x) = \sin(x)$. Evaluate <b>and simplify</b> the following expressing using the addition identity: \[\dfrac{f(x + h) - f(x)}{h}\]
        You should end up with the expression \[\left(\dfrac{\sin h}{h}\right)\cos x - \sin x \left(\dfrac{1 - \cos h}{h}\right)\]
        </li>

        <li class="hw-space">On next week's quiz, what <b>five types</b> of trig identity formulas will you need to be familiar with?</li>

        <li class="hw-space">
            Evaluate the following using a double-angle or half-angle formula.
            <ol type="a">
                <li class="hw-space">$\sin 15^\circ$</li>
                <li class="hw-space">$2\sin 22.5^\circ \cos 22.5x^\circ$</li>
                <li class="hw-space">$\tan \dfrac{\pi}{8}$</li>
                <li class="hw-space">$\cos \dfrac{3\pi}{8}$</li>
                <li class="hw-space">$\cos^215^\circ - \sin^2 15\circ$</li>
                <li class="hw-space">$\dfrac{2\tan15^\circ}{1 - \tan^2 15^\circ}$</li>
                <li class="hw-space">$\cos 112.5^\circ$</li>
            </ol>
        </li>

        <li class="hw-space">Convert global terms to global factors.

            <ol type="a">
                <li class="hw-space">$\cos 9x + \cos 2x$ </li>
                <li class="hw-space">$\sin 5x + \sin 3x$ </li>
                <li class="hw-space">$\sin x - \sin 4x$ </li>
            </ol>

        </li>

        <li class="hw-space">How many global factors are there in the expression \[\cos 3x \sin 4x \tan 5x\]</li>

        <li class="hw-space">Now rewrite the previous expression with parentheses so the factors are visually more separated.</li>

        
        <li class="hw-space">Convert global factors to global terms.
            <ol type="a">
                <li class="hw-space">$\sin x \sin 5x$ </li>
                <li class="hw-space">$3\cos 4x \cos 7x$ </li>
                <li class="hw-space">$\cos 5x\cos3x$ </li>
            </ol>
        </li>

        <li class="hw-space">Prove the following identities.
            <ol type="a">
                <li class="hw-space">$\cos^2 5x - \sin^2 5x = \cos 10x$</li>
                <li class="hw-space">$\dfrac{\sin 3x + \cos 3x}{\cos x - \sin x} = 1 + 4\sin x \cos x$</li>
                <li class="hw-space">$\cos^4 x - \sin^4x = \cos 2x$</li>
                <li class="hw-space">$\dfrac{\sin 10 x}{\sin 9x + \sin x} = \dfrac{\cos 5x}{\cos 4x}$</li>
                <li class="hw-space">$\dfrac{\sin 4x}{\sin x} - 4\cos x \cos 2x$</li>
                <li class="hw-space">$\dfrac{\sin 2x}{1 + \cos 2x} = \tan x$</li>
                <li class="hw-space">$\dfrac{2\tan x}{1 + \tan^2x} = \sin 2x$</li>
            </ol>
        </li>
    </ol>

</div>
{% endblock %}