{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 7</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 7"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 7"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw7"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 7</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>

    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">Solve for all possible triangles using the Law of Sines. Remember, you may use Desmos (in degree mode) to evaluate $\sin$ of an angle!
            <ol type="a">
                <li class="hw-space">$\angle A = 50^\circ, \qquad \angle B = 68^\circ, \qquad c = 230$</li>
                <li class="hw-space">$\angle A = 30^\circ, \qquad \angle C = 65^\circ, \qquad b = 10$</li>
                <li class="hw-space">$a = 28, \qquad b = 15, \qquad \angle A = 110^\circ$</li>
                <li class="hw-space">$a = 20, \qquad c = 45, \qquad \angle A = 125^\circ$</li>
                <li class="hw-space">$\angle A = 43.1^\circ, \qquad a = 186.2, \qquad b = 248.6$</li>
            </ol>
        </li>

        <li class="hw-space">Which of the following are identities? If they are not, show with specific variable values. If you think they are, justify using reasoning based off of previous sections or prove it.
            <ol type="a">
                <li class="hw-space">$x^2 + y^2 = 1$</li>
                <li class="hw-space">$x(y + z) = xy + xz$</li>
                <li class="hw-space">$x^2 - \cos^2 x = (x - \cos x)(x + \cos x)$</li>
                <li class="hw-space">$\sin(x + y) = \sin(x) + \sin(y)$</li>
            </ol>
        </li>
        <li class="hw-space">Simplify these expressions:
            <ol type="a">
                <li class="hw-space">$\cos t \tan t$</li>
                <li class="hw-space">$\dfrac{\sec x}{\csc x}$</li>
                <li class="hw-space">$\dfrac{\sec \theta - \cos \theta}{\sin \theta}$</li>
                <li class="hw-space">$\dfrac{1}{1 + \sin \theta} + \dfrac{1}{1 - \sin \theta}$</li>
            </ol>
        </li>
        <li class="hw-space">Prove these identities algebraically:
            <ol type="a">
                <li class="hw-space">$\dfrac{\sin \theta}{\tan \theta} = \cos \theta$</li>
                <li class="hw-space">$\dfrac{\cos x}{\sec x\sin x} = \csc x - \sin x$</li>
                <li class="hw-space">$\dfrac{\sin \alpha \sec \alpha}{\tan \alpha} = 1$</li>

                <li class="hw-space">$\dfrac{(\sin x + \cos x)^2}{\sin x \cos x} = 2 + \sec x \csc x$</li>
                <li class="hw-space">$\sin^4 \alpha - \cos^4 \alpha = \sin^2 \alpha - \cos^2 \alpha$. <br>Hint: Let $x = \sin^2 \alpha, y = \cos^2 \alpha$ and factor.</li>
                <li class="hw-space">$\dfrac{\cos x}{\sec x} + \dfrac{\sin x}{\csc x} = 1$</li>
                <li class="hw-space">$\tan \theta + \cot \theta = \sec \theta \csc \theta$</li>
                <li class="hw-space">$(\cot \theta - \csc \theta)(\cos \theta + 1) = -\sin\theta$</li>
                <li class="hw-space">$\dfrac{\sin \theta}{\tan \theta} = \cos \theta$</li>
            </ol>
        </li>
        <li>Assume $0 < \theta < \pi/2$. Make the indicated trigonometric substitution and simplify.
        <ol>
            <li class="hw-space">$\dfrac{x}{\sqrt{1 - x^2}}, \ x = \sin \theta$.</li>
            <li class="hw-space">$\sqrt{9 - x^2}, \ x = 3\sin \theta$</li>
        </ol>
        </li>

    <!--<li>
        Prove these identities. Remember: do <b>not assume</b> the statement you are trying to prove. Start from one side!
        <ol type="a">
            <li class="hw-space" style="padding-top:1em;">
                $\cos(x + y)\cos(x - y) = \cos^2 x - \sin^2 y$
            </li>
            <li class="hw-space">
                $\sin(x + y) - \sin(x - y) = 2\cos x \sin y$
            </li>
            <li class="hw-space">
                $\tan(x - \pi) = \tan x$
                <ol type="i"><li>Also justify why this statement is true using the graph of tangent.</li></ol>
            </li>
            <li class="hw-space">
                $1 - \tan x \tan y = \dfrac{\cos(x + y)}{\cos x \cos y}$
            </li>
            <li class="hw-space">
                $\cos\left(x + \dfrac{\pi}{3}\right) + \sin\left(x - \dfrac{\pi}{6}\right) = 0$
            </li>
        </ol>
    </li>

    <li> Use addition/subtraction formulas to find the following values:
        <ol type="a">
            <li class="hw-space" style="padding-top:1em;">$\sin 75^\circ$</li>
            <li class="hw-space">$\cos \dfrac{11\pi}{12}$</li>
            <li class="hw-space">$\sin18^\circ \cos27^\circ + \cos18^\circ\sin27^\circ$</li>
        </ol>
    </li>
    <li>Solve the following equations for $\theta$:
        <ol type="a">
            <li class="hw-space" style="padding-top:1em;">$\cos \theta = \dfrac{\sqrt{3}}{2}$</li>
            <li class="hw-space">$\sin \theta = -\dfrac{\sqrt{3}}{2}$</li>
            <li class="hw-space">$4 \sin^2 \theta - 1 = 0$</li>
            <li class="hw-space">$\sqrt{2}\sin \theta + 1 = 0$</li>
            <li class="hw-space">$2\sin^2\theta + 5\sin \theta - 12 = 0$</li>
            <li class="hw-space">$2\cos^2\theta - 7\cos\theta + 3 = 0$</li>
            <li class="hw-space">$\sqrt{2}\tan\theta\sin\theta - \tan\theta = 0$</li>
            <li class="hw-space">$\cos\dfrac{\theta}{2} - 1 = 0$</li>
            <li class="hw-space">$2\sin\dfrac{\theta}{3} + \sqrt{3} = 0$</li>
        </ol>
    </li>
    <li>Solve the following equations for $\theta$ by using identities:
        <ol type="a">
            <li class="hw-space" style="padding-top:1em;">$\sin^2\theta = 4 - 2\cos^2\theta$</li>
            <li class="hw-space">$\cos\theta - \sin\theta = 1$</li>
            <li class="hw-space">$\csc^2\theta = \cot \theta + 3$</li>
        </ol>
    </li>
    <li class="hw-space">Plot the point $(4, \pi / 4)$.</li>
    <li>Convert these polar coordinates to rectangular coordinates:
        <ol type="a">
            <li class="hw-space">$(6, 2\pi/3)$</li>
            <li class="hw-space">$(\sqrt{3}, -5\pi/3)$</li>
        </ol>
    </li>
    <li>Convert these rectangular coordinates to polar:
        <ol type="a">
            <li class="hw-space">$(\sqrt{8}, \sqrt{8})$</li>
            <li class="hw-space">$(3\sqrt{3}, -3)$</li>
        </ol>
    </li>
    <li>Convert these functions into polar form:
        <ol type="a">
            <li class="hw-space">$y=x$</li>
            <li class="hw-space">$x^2 + y^2 = 9$</li>
        </ol>
    </li>
    <li>Convert these polar equations into rectangular form:
        <ol type="a">
            <li class="hw-space">$r = 7$</li>
            <li class="hw-space">$r = \dfrac{1}{\sin \theta  -\cos \theta}$</li>
            <li class="hw-space">$r = 6\cos \theta$</li>
        </ol>
    </li>-->

    </ol>
</div>
{% endblock %}