{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 7</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 7"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 7"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw7"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 7</h1>
    <p><b>Directions:</b> Turn in your answers in class on a physical piece of paper. Staple multiple sheets together. Feel free to use Desmos for graphing.</p>
    
    <p>Answer the following:</p>
    <ol>
    <li> Use addition/subtraction formulas to find the following values:
        <ol type="a">
            <li class="hw-space" style="padding-top:1em;">$\sin 75^\circ$</li>
            <li class="hw-space">$\cos \dfrac{11\pi}{12}$</li>
            <li class="hw-space">$\sin18^\circ \cos27^\circ + \cos18^\circ\sin27^\circ$</li>
        </ol>
    </li>
    <li>
        Prove these identities. Remember: do <b>not assume</b> the statement you are trying to prove. Start from one side!
        <ol type="a">
            <li class="hw-space" style="padding-top:1em;">
                $\cos(x + y)\cos(x - y) = \cos^2 x - \sin^2 y$
            </li>
            <li class="hw-space">
                $\sin(x + y) - \sin(x - y) = 2\cos x \sin y$
            </li>
            <li class="hw-space">
                $\tan(x - \pi) = \tan x$
                <ol type="i"><li>Also justify why this statement is true using the graph of tangent.</li></ol>
            </li>
            <li class="hw-space">
                $1 - \tan x \tan y = \dfrac{\cos(x + y)}{\cos x \cos y}$
            </li>
            <li class="hw-space">
                $\cos\left(x + \dfrac{\pi}{3}\right) + \sin\left(x - \dfrac{\pi}{6}\right) = 0$
            </li>
        </ol>
    </li>
    <li>Solve the following equations for $\theta$:
        <ol type="a">
            <li class="hw-space" style="padding-top:1em;">$\cos \theta = \dfrac{\sqrt{3}}{2}$</li>
            <li class="hw-space">$\sin \theta = -\dfrac{\sqrt{3}}{2}$</li>
            <li class="hw-space">$4 \sin^2 \theta - 1 = 0$</li>
            <li class="hw-space">$\sqrt{2}\sin \theta + 1 = 0$</li>
            <li class="hw-space">$2\sin^2\theta + 5\sin \theta - 12 = 0$</li>
            <li class="hw-space">$2\cos^2\theta - 7\cos\theta + 3 = 0$</li>
            <li class="hw-space">$\sqrt{2}\tan\theta\sin\theta - \tan\theta = 0$</li>
            <li class="hw-space">$\cos\dfrac{\theta}{2} - 1 = 0$</li>
            <li class="hw-space">$2\sin\dfrac{\theta}{3} + \sqrt{3} = 0$</li>
        </ol>
    </li>
    <li>Solve the following equations for $\theta$ by using identities:
        <ol type="a">
            <li class="hw-space" style="padding-top:1em;">$\sin^2\theta = 4 - 2\cos^2\theta$</li>
            <li class="hw-space">$\cos\theta - \sin\theta = 1$</li>
            <li class="hw-space">$\csc^2\theta = \cot \theta + 3$</li>
        </ol>
    </li>
    <li class="hw-space">Plot the point $(4, \pi / 4)$.</li>
    <li>Convert these polar coordinates to rectangular coordinates:
        <ol type="a">
            <li class="hw-space">$(6, 2\pi/3)$</li>
            <li class="hw-space">$(\sqrt{3}, -5\pi/3)$</li>
        </ol>
    </li>
    <li>Convert these rectangular coordinates to polar:
        <ol type="a">
            <li class="hw-space">$(\sqrt{8}, \sqrt{8})$</li>
            <li class="hw-space">$(3\sqrt{3}, -3)$</li>
        </ol>
    </li>
    <li>Convert these functions into polar form:
        <ol type="a">
            <li class="hw-space">$y=x$</li>
            <li class="hw-space">$x^2 + y^2 = 9$</li>
        </ol>
    </li>
    <li>Convert these polar equations into rectangular form:
        <ol type="a">
            <li class="hw-space">$r = 7$</li>
            <li class="hw-space">$r = \dfrac{1}{\sin \theta  -\cos \theta}$</li>
            <li class="hw-space">$r = 6\cos \theta$</li>
        </ol>
    </li>
    </ol>
</div>
{% endblock %}