{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 7</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 7"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 7"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw7"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 7</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>

    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">When solving trigonometric equations, what form should you put the equation in first?</li>

        <li class="hw-space">Solve the following equations for $\theta$:
            <ol type="a">
                <li class="hw-space" style="padding-top:1em;">$\cos \theta = \dfrac{\sqrt{3}}{2}$</li>
                <li class="hw-space">$\sin \theta = -\dfrac{\sqrt{3}}{2}$</li>
                <li class="hw-space">$4 \sin^2 \theta - 1 = 0$</li>
                <li class="hw-space">$\sqrt{2}\sin \theta + 1 = 0$</li>
                <li class="hw-space">$2\sin^2\theta + 5\sin \theta - 12 = 0$</li>
                <li class="hw-space">$2\cos^2\theta - 7\cos\theta + 3 = 0$</li>
                <li class="hw-space">$\sqrt{2}\tan\theta\sin\theta - \tan\theta = 0$</li>
                <li class="hw-space">$\csc^2\theta - 4 = 0$ <br>Hint: difference of squares</li>
                <li class="hw-space">$4\sin^3\theta=\sin\theta$</li>
            </ol>
        </li>
        <li class="hw-space"> (<b>skip this</b>) Solve the following equations for $\theta$ by using identities:
            <ol type="a">
                <li class="hw-space" style="padding-top:1em;">$\sin^2\theta = 4 - 2\cos^2\theta$</li>
                <li class="hw-space">$\cos\theta - \sin\theta = 1$</li>
                <li class="hw-space">$\csc^2\theta = \cot \theta + 3$</li>
            </ol>
        </li>

        <li>We can use polar coordinates $r$ and $\theta$ instead of $x$ and $y$. Describe in English what $r$ and $\theta$ measure.</li>

        <li class="hw-space">Plot the following polar coordinates:
            <ol type="a">
                <li class="hw-space">$(1, 0)$</li>
                <li class="hw-space">$(4, \pi / 4)$</li>
                <li class="hw-space">$(3, 2\pi/3)$</li>
                <li class="hw-space">$(-2, \pi/4)$</li>
                <li class="hw-space">$(2, 5\pi/4)$</li>
            </ol>
        </li>

        <li class="hw-space">Find two other polar coordinate representations of $P\left(1, \dfrac{\pi}{4}\right)$</li>

        <li class="hw-space">Convert these polar coordinates to rectangular coordinates:
            <ol type="a">
                <li class="hw-space">$(6, 2\pi/3)$</li>
                <li class="hw-space">$(\sqrt{3}, -5\pi/3)$</li>
                <li class="hw-space">$(0, -11\pi)$</li>
            </ol>
        </li>
        <li class="hw-space">Convert these rectangular coordinates to polar:
            <ol type="a">
                <li class="hw-space">$(\sqrt{8}, \sqrt{8})$</li>
                <li class="hw-space">$(3\sqrt{3}, -3)$</li>
                <li class="hw-space">$(0,\pi)$</li>
                <li class="hw-space">$(\sqrt{7}, \sqrt{21})$</li>
            </ol>
        </li>
        <li class="hw-space">Convert these functions into polar form and isolate $r$:
            <ol type="a">
                <li class="hw-space">$y=x$</li>
                <li class="hw-space">$x^2 + y^2 = 9$</li>
                <li class="hw-space">$y = 5$</li>
                <li class="hw-space">$y = x^2$</li>
            </ol>
        </li>
        <li class="hw-space">Convert these polar equations into rectangular form:
            <ol type="a">
                <li class="hw-space">$r = 7$</li>
                <li class="hw-space">$r = \dfrac{1}{\sin \theta  -\cos \theta}$</li>
                <li class="hw-space">$r = 6\cos \theta$</li>
                <li class="hw-space">$r = 2 - \cos \theta$</li>
                <li class="hw-space">$r^2 = \sin 2\theta$</li>

            </ol>
        </li>

        <li class="hw-space">Sketch a rough graph of the following:
            <ol type="a">
                <li class="hw-space">$r = 2$</li>
                <li class="hw-space">$\theta = \dfrac{\pi}{2}$</li>
                <li class="hw-space">(<b>skip this</b>) $r = 3\sin\theta$</li>
                <li class="hw-space">(<b>skip this</b>) $r = 6\cos \theta$</li>
                <li class="hw-space">(<b>skip this</b>) $\theta = -\dfrac{\pi}{4}$</li>
            </ol>
        </li>

    </ol>
</div>
{% endblock %}