{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 8</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 8"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 8"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw8"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 8</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>

    <p>Answer the following:</p>
    <ol>

        <li class="hw-space">Convert $r = \sin 2\theta$ into rectangular form. Hint: Identities.</li>

        <li class="hw-space">In polar coordinates, what do the symbols $r = f(\theta)$ mean?</li>

        <li class="hw-space"><a href="https://www.desmos.com/calculator">Using Desmos</a>, sketch a rough graph of the following and describe it in English.

            <br>Hints: In Desmos, you can create the $\theta$ symbol by typing the letters "theta". 
            <br>You can type the following out in Desmos symbol for symbol and Desmos will understand you want a polar graph.
            <br>Don't forget the parentheses!

            <ol type="a">
                <li class="hw-space">$r = \theta$<br>Zoom out for this one!</li>
                <li class="hw-space">$r = 3\sin\theta$</li>
                <li class="hw-space">$r = 6\cos \theta$</li>
                <li class="hw-space">$r = 1 + \cos \theta$</li>
                <li class="hw-space">$r = \cos (1.5\theta)$</li>
                <li class="hw-space">$r = \sin \left(2\theta\right)$</li>
                <li class="hw-space">$r = \sin \theta + \sin\left(\dfrac{5\theta}{2}\right)$

                    <br>Drag the slider $a$ from left to right to see this one drawn out!

                    <div id="hide-desmos"><iframe id="desmos-example" src="https://www.desmos.com/calculator/nhlcpcpy4s"></iframe></div>
                    
                </li>
            </ol>
        </li>

        <li class="hw-space">
            What is the motivation for plane curves? How about for parametric equations?
        </li>

        <li class="hw-space">
            For each of the following functions:
            <ul>
                <li>Sketch a plane curve.</li>
                <li>Find a rectangular coordinate equation for the plane curve by eliminating the parameter.</li>
            </ul>
            <ol type="a">
                <li class="hw-space">$x = 1, \quad y = t$</li>
                <li class="hw-space">$x = 2t, \quad y = t + 1$</li>
                <li class="hw-space">$x = t, \quad y = t^2$</li>
                <li class="hw-space">$x = t^2, \quad y = t$</li>
                <li class="hw-space">$x = t^2-1, \quad y = t^2$</li>
                <li class="hw-space">$x = \sqrt{t}, \quad y = t$</li>
                <li class="hw-space">$x = t, \quad y = \sin \left(t - \pi\right), \quad \pi \leq t \leq 3\pi$</li>
                <li class="hw-space">$x = 2\cos t, \quad y = 2\sin t, \quad 0 \leq t \leq \pi$</li>
            </ol>
        </li>

        <li class="hw-space">How do you convert a polar equation $r = f(\theta)$ into parametric form?</li>

        <li class="hw-space">Express the following polar equations in parametric form:
            <ol type="a">
                <li class="hw-space">$r = 1$</li>
                <li class="hw-space">$r = \sin \theta$</li>
                <li class="hw-space">$r = \cos(2\theta)$</li>
                <li class="hw-space">$r = 1 + \cos \theta$</li>
                <li class="hw-space">$r = \sin \theta + \cos \theta$</li>
            </ol>
        </li>

        <li class="hw-space">What is a conic section?</li>

        <li class="hw-space">In algebra we expressed parabolas as $y = ax^2 + bx + c$. There is also a geometric interpretation. What is it?</li>

        <li class="hw-space">What is the definition of a focus and a directrix of a parabola?</li>

        <li class="hw-space">If the directrix is horizontal and the focus is the underneath the directrix, does the parabola open upwards or downwards?</li>

        <li class="hw-space">If the directrix is vertical and the parabola opens to the left, is the focus to the left or right of the directrix?</li>

        <li class="hw-space">
            For each of the following parabolas:
            <ul>
                <li>Find the focus, directrix, and focal diameter of the parabola.</li>
                <li>Sketch a rough graph of the parabola, its focus and its directrix.</li>
            </ul>
            <ol type="a">
                <li class="hw-space">$x^2 = 8y$</li>
                <li class="hw-space">$y^2 = 16x$</li>
                <li class="hw-space">$5y = x^2$</li>
                <li class="hw-space">$4x = 8y^2$</li>
                <li class="hw-space">$8x^2 + 12y = 0$</li>
                <li class="hw-space">$12y^2 + x = 0$</li>
            </ol>
        </li>


        <!--<li>Solve the following equations for $\theta$ by using identities:
            <ol type="a">
                <li class="hw-space" style="padding-top:1em;">$\sin^2\theta = 4 - 2\cos^2\theta$</li>
                <li class="hw-space">$\cos\theta - \sin\theta = 1$</li>
                <li class="hw-space">$\csc^2\theta = \cot \theta + 3$</li>
            </ol>
        </li>
        <li class="hw-space">Plot the point $(4, \pi / 4)$.</li>
        <li>Convert these polar coordinates to rectangular coordinates:
            <ol type="a">
                <li class="hw-space">$(6, 2\pi/3)$</li>
                <li class="hw-space">$(\sqrt{3}, -5\pi/3)$</li>
            </ol>
        </li>
        <li>Convert these rectangular coordinates to polar:
            <ol type="a">
                <li class="hw-space">$(\sqrt{8}, \sqrt{8})$</li>
                <li class="hw-space">$(3\sqrt{3}, -3)$</li>
            </ol>
        </li>
        <li>Convert these functions into polar form:
            <ol type="a">
                <li class="hw-space">$y=x$</li>
                <li class="hw-space">$x^2 + y^2 = 9$</li>
            </ol>
        </li>
        <li>Convert these polar equations into rectangular form:
            <ol type="a">
                <li class="hw-space">$r = 7$</li>
                <li class="hw-space">$r = \dfrac{1}{\sin \theta  -\cos \theta}$</li>
                <li class="hw-space">$r = 6\cos \theta$</li>
            </ol>
        </li>-->

    </ol>
</div>
{% endblock %}