{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 9</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 9"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 9"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw9"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 9</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>
        <li class="hw-space">For each of the following problems, find an equation of the parabola with vertex at the origin satisfying the following conditions or state it's impossible to.
            <ol type="a">
                <li class="hw-space">Focus $(0, 1)$, directrix $x = 1$</li>
                <li class="hw-space">Focus $(0, 6)$</li>
                <li class="hw-space">Directrix $y = -5$</li>
                <li class="hw-space">Focus is on the positive $x$-axis, two units away from the directrix.</li>
                <li class="hw-space">
                    This parabola:  <img src="/static/swrlly/images/teaching/119-hw9-2.png" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em; margin-bottom:1em;"/> 
                    Hint: you are given a $x$ and $y$ coordinate. Plug them into the proper equation and solve for $p$.
                </li>
                <li class="hw-space">Directrix $y = -2$, focus $(2, 0)$</li>
                <li class="hw-space">This parabola:  <img src="/static/swrlly/images/teaching/119-hw9-1.png" style="max-width:300px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em; margin-bottom:1em;"/> </li>
            </ol>
        </li>

        <li class="hw-space">Write down five different situations in real life where parabolas are used.</li>

        <li class="hw-space">What is the geometric definition of an ellipse?</li>

        <li class="hw-space">In an ellipse, is the number $a$ ever taken to be bigger than $b$?</li>
        
        <li class="hw-space">
            For each of the following ellipses:
            <ul>
                <li>Find the vertices, foci, and length of the minor/major axes.</li>
                <li>Sketch a rough graph of the ellipse, including the foci and vertices.</li>
            </ul>
            <ol type="a">
                <li class="hw-space">$\dfrac{x^2}{25} + \dfrac{y^2}{9} = 1$</li>
                <li class="hw-space">$4x^2 + 25y^2 = 100$</li>
                <li class="hw-space">$\dfrac{x^2}{18} + \dfrac{2y^2}{81} = 2$</li>
                <li class="hw-space">$x^2 = 4 - 2y^2$</li>
                <li class="hw-space">$4x^2 + y^2 = 16$</li>
                <li class="hw-space">$9x^2 + 4y^2 = 36$</li>
            </ol>
        </li>

        <li class="hw-space">What is the definition of the eccentricity of an ellipse? What does it tell us?</li>


        <li class="hw-space">For each of the following problems, find an equation of the ellipse satisfying the following conditions or state it's impossible to.
            <ol type="a">
                <li class="hw-space">Eccentricity $2$, foci $(\pm 1, 0)$</li>
                <li class="hw-space">Foci $(\pm 4, 0)$, vertices $(0, \pm 5)$</li>
                <li class="hw-space">Foci $(\pm 4, 0)$, vertices $(\pm5, 0)$</li>
                <li class="hw-space">Foci $(0, \pm 2)$, length of minor axis is $6$</li>
                <li class="hw-space">Length of major axis is 10, vertices on the $x$-axis, foci on the $y$-axis</li>
                <li class="hw-space">Eccentricity $\dfrac{1}{3}$, foci $(0, \pm 2)$</li>
                <li class="hw-space">Vertices $(0, \pm 7)$, Foci $(0, \pm\sqrt{10})$</li>
            </ol>
        </li>

        <li class="hw-space">State three situations in real life where ellipses are used.</li>

        <li class="hw-space">What is the geometric definition of a hyperbola?</li>

        <li class="hw-space">
            For each of the following hyperbolas:
            <ul>
                <li>Find the vertices, foci, length of transverse axis, and asymptotes.</li>
                <li>Sketch a graph of the hyperbola, including labeling the foci and vertices.</li>
            </ul>
            <ol type="a">
                <li class="hw-space">$\dfrac{x^2}{4} - \dfrac{y^2}{16} = 1$</li>
                <li class="hw-space">$x^2 - 3y^2 + 12 = 0$</li>
                <li class="hw-space">$y^2 - 25x^2 = 100$</li>
                <li class="hw-space">$x^2 - 4y^2 - 8 = 0$</li>
                <li class="hw-space">$4y^2 - x^2 = 16$</li>
                <li class="hw-space">$(y-2x)(y+2x) = 16$</li>
            </ol>
        </li>



    </ol>

</div>
{% endblock %}