{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 119 - Homework 9</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - Homework 9"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 9"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/homework/hw9"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 9</h1><hr>
    <p><b>Directions:</b>         
        <ol>
        <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
        <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
        <li class="hw-space"><b>Staple multiple sheets together.</b></li>
        <li class="hw-space">Feel free to use Desmos for graphing.</li>
    </ol>  
    </p><hr>
    
    <p>Answer the following:</p>
    
    <ol>
        <li>Solve the following equations for $\theta$. Remember to use identities if necessary.
            <ol type="a">
                <li class="hw-space">$\sin^2\theta = 4 - 2\cos^2\theta$</li>
                <li class="hw-space">$\cos\theta - \sin\theta = 1$</li>
                <li class="hw-space">$\csc^2\theta = \cot \theta + 3$</li>
                <li class="hw-space">$2 \tan \theta + \sec^2 \theta = 4$</li>
                <li class="hw-space">$3\sin 2\theta - 2\sin \theta = 0$</li>
                <li class="hw-space">$2\cos 3\theta = 1$</li>
                <li class="hw-space">$\tan \dfrac{\theta}{4} + \sqrt{3} = 0$</li>
            </ol>
        </li>
        <li class="hw-space">Plot the point $(4, \pi / 4)$.</li>
        <li>Convert these polar coordinates to rectangular coordinates:
            <ol type="a">
                <li class="hw-space">$(6, 2\pi/3)$</li>
                <li class="hw-space">$(\sqrt{3}, -5\pi/3)$</li>
                <li class="hw-space">$(5, 5\pi)$</li>
                <li class="hw-space">$(6\sqrt{2}, 11\pi/6)$</li>
            </ol>
        </li>
        <li>Convert these rectangular coordinates to polar:
            <ol type="a">
                <li class="hw-space">$(\sqrt{8}, \sqrt{8})$</li>
                <li class="hw-space">$(3\sqrt{3}, -3)$</li>
                <li class="hw-space">$(-6,0)$</li>
                <li class="hw-space">$(0, -\sqrt{3})$</li>
            </ol>
        </li>
        <li>Convert these equations into polar form:
            <ol type="a">
                <li class="hw-space">$y=x$</li>
                <li class="hw-space">$x^2 + y^2 = 9$</li>
                <li class="hw-space">$x = 4$</li>
                <li class="hw-space">$y = 5$</li>
            </ol>
        </li>
        <li>Convert these polar equations into rectangular form:
            <ol type="a">
                <li class="hw-space">$r = 7$</li>
                <li class="hw-space">$r = \dfrac{1}{\sin \theta  -\cos \theta}$</li>
                <li class="hw-space">$r = 6\cos \theta$</li>
                <li class="hw-space">$r = \dfrac{1}{1 + \sin \theta}$</li>
                <li class="hw-space">$r\cos \theta = 6$</li>
            </ol>
        </li>
    </ol>


</div>
{% endblock %}