{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - lectures</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="lectures for math 161"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/lectures"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 161 Interactive Lecture Notes</h1>
    This page contains lecture notes for Math 161, organized by section.

    <h2>Chapter 1: Functions and Sequences</h2><hr>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/1.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(f(x)\)</div>
            </a>
            <div class="bottomicontext">1.1</div>
        </div>
    </div>

</div>
{% endblock %}