{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - lectures</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="lectures for math 161"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/lectures"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 161 Interactive Lecture Notes</h1>
    This page contains lecture notes for Math 161, organized by section.

    <h2>Chapter 1: Functions and Sequences</h2><hr>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/1.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(f(x)\)</div>
            </a>
            <div class="bottomicontext">1.1</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/1.2">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(\sin(x)\)</div>
            </a>
            <div class="bottomicontext">1.2</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/1.3">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(f\circ g\)</div>
            </a>
            <div class="bottomicontext">1.3</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/1.4">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(b^x\)</div>
            </a>
            <div class="bottomicontext">1.4</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/1.5">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(\ln x\)</div>
            </a>
            <div class="bottomicontext">1.5</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/1.6">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(a_n\)</div>
            </a>
            <div class="bottomicontext">1.6</div>
        </div>
    </div>

    <h2>Chapter 2: Limits</h2><hr>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/2.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(\displaystyle\lim_{n\rightarrow\infty}a_n\)</div>
            </a>
            <div class="bottomicontext">2.1</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/2.2">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">\(\displaystyle\lim_{x\rightarrow\infty}f(x)\)</div>
            </a>
            <div class="bottomicontext">2.2</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/2.3">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">\(\displaystyle\lim_{x\rightarrow a}f(x)\)</div>
            </a>
            <div class="bottomicontext">2.3</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/2.4">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">\(\displaystyle\lim_{x\rightarrow a}\left[f(x)g(x)\right]\)</div>
            </a>
            <div class="bottomicontext">2.4</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/2.5">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">\(\displaystyle\lim_{x\rightarrow a}f(x) = f(a)\)</div>
            </a>
            <div class="bottomicontext">2.5</div>
        </div>
    </div>

    <h2>Chapter 3: Derivatives</h2><hr>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/3.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">\(\displaystyle\lim_{h\rightarrow 0}\dfrac{f(a + h) - f(a)}{h}\)</div>
            </a>
            <div class="bottomicontext">3.1</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/3.2">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">\(\displaystyle\lim_{h\rightarrow 0}\dfrac{f(x + h) - f(x)}{h}\)</div>
            </a>
            <div class="bottomicontext">3.2</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/3.3">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">\(\displaystyle\dfrac{d}{dx}x^n = nx^{n-1}\)</div>
            </a>
            <div class="bottomicontext">3.3</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/3.4">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">\(\dfrac{d}{dx}\left[f(x)g(x)\right]\)</div>
            </a>
            <div class="bottomicontext">3.4</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/3.5">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">\(\dfrac{d}{dx}\left[\sqrt{xy}\right]\)</div>
            </a>
            <div class="bottomicontext">3.5</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/3.7">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">\(\dfrac{d}{dx}\ln x\)</div>
            </a>
            <div class="bottomicontext">3.7</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-161/lectures/3.8">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">\(f(a) + f'(a)(x - a)\)</div>
            </a>
            <div class="bottomicontext">3.8</div>
        </div>
    </div>

</div>
{% endblock %}