{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - lectures</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="lectures for math 161"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/lectures"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 161 Interactive Lecture Notes</h1>
    This page contains lecture notes for Math 161, organized by section.
    Coming soon.

</div>
{% endblock %}