{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - Homework 10 (T/TH)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - Homework 10"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="Homework 10"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/homework/tth/hw10"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 10</h1>
    <p><b>Directions:</b> Similar problems may appear on the final. This assignment is not turned in for credit.  
    </p>

    <ol>
        <li class="hw-space">
            Suppose someone owns 4000 meters of fencing. They wish to create a rectangular piece
of grazing land where one side is along a river. This means no fence is needed for that
side. Moreover, they wish to subdivide the rectangle into <b>three separate sections</b> with two pieces
of fence, both of which are parallel to the sides not along the river. What are the dimensions of the largest area that can be enclosed?
        </li>
        <li class="hw-space">By cutting away identical squares from each
            corner of a rectangular piece of cardboard and folding up
            the resulting flaps, an open box may be made. If the cardboard
            is 15 in. long and 8 in. wide, find the dimensions of
            the box that will yield the maximum volume.</li>
        <li class="hw-space">Find the dimensions of a rectangle with a perimeter of
            100 ft that has the largest possible area.</li>
        <li class="hw-space">Find the absolute extrema, if any, of \[f(x) = \dfrac{1}{2}x^2 - 2\sqrt{x}\qquad [0, 3]\] </li>
    </ol>

</div>
{% endblock %}