{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - 2.1</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="2.1: Limits of Sequences"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/lectures/2.1"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>2.1: Limits of Sequences</h1>

    <p>Limits underlie many different ideas in calculus.</p>

    <h2>The Long-Term Behavior of a Sequence</h2><hr>

   <div class="math-example"> What happens to the terms of the sequence when $n$ becomes large?
    <ol>
        <li class="lec-list-space">$a_n = \dfrac{1}{n}$</li>
        <li class="lec-list-space">$b_n = (-1)^n$</li>
    </ol>
   </div>

   <p>In general:</p>

   <div class="math-def">
    A sequence $\{a_n\}$ has the <b>limit</b> $L$ and we write \[\lim_{n\rightarrow \infty} a_n = L\] if we can make the terms $a_n$ as close to $L$ as we like by taking $n$ sufficiently large.
   </div>

   <ul>
        <li class="lec-list-space">If $\displaystyle\lim_{n\rightarrow \infty}a_n$ exists, we say the sequence <b>converges</b> (or is <b>convergent</b>)</li>
        <li class="lec-list-space">Otherwise, we say the sequence <b>diverges</b> (or is <b>divergent</b>)</li>
   </ul>

   <div class="math-example"> Is the sequence $a_n = \sqrt{n}$ convergent or divergent?</div>

   <div class="math-example"> Find what the sequence $a_n = 1$ converges to.</div>

   <h2>Limit Laws for Sequences</h2>

   <p>Making a table can be unwieldy and time consuming. Let's see how limits interact with operations.</p>

   <div class="math-fact">
    If $\{a_n\}, \{b_n\}$ are convergent sequences and $c$ is a constant, then
    <ol>
        <li class="lec-list-space">$\displaystyle\lim_{n\rightarrow \infty}(a_n + b_n) = \displaystyle\lim_{n\rightarrow \infty}a_n + \displaystyle\lim_{n\rightarrow \infty}b_n$</li>
        <li class="lec-list-space">$\displaystyle\lim_{n\rightarrow \infty}(a_n - b_n) = \displaystyle\lim_{n\rightarrow \infty}a_n - \displaystyle\lim_{n\rightarrow \infty}b_n$</li>
        <li class="lec-list-space">$\displaystyle\lim_{n\rightarrow \infty}ca_n = c\displaystyle\lim_{n\rightarrow \infty}a_n$</li>
        <li class="lec-list-space">$\displaystyle\lim_{n\rightarrow \infty}(a_nb_n) = \displaystyle\lim_{n\rightarrow \infty}a_n \cdot \displaystyle\lim_{n\rightarrow \infty}b_n$</li>
        <li class="lec-list-space">$\displaystyle\lim_{n\rightarrow \infty}\dfrac{a_n}{b_n} =\dfrac{\displaystyle\lim_{n\rightarrow \infty}a_n}{\displaystyle\lim_{n\rightarrow \infty}b_n} \qquad$ if $\displaystyle\lim_{n\rightarrow \infty}b_n \neq 0$</li>
        <li class="lec-list-space">$\displaystyle\lim_{n\rightarrow \infty}c = c$</li>
        <li class="lec-list-space">$\displaystyle\lim_{n\rightarrow \infty}(a_n)^p = \left[\displaystyle\lim_{n\rightarrow \infty}a_n\right]^p$ for any number $p > 0$</li>
    </ol>
   </div>

   <div class="math-example"> Find $\displaystyle\lim_{n\rightarrow \infty}\dfrac{1}{n}$ using limit laws.</div>

   <p>From the previous example and limit law 7, we can deduce that </p>

   <div class="math-theorem"> For all $p > 0$, we have \[\lim_{n\rightarrow \infty} \dfrac{1}{n^p} = 0 \] if $\frac{1}{n^p}$ is defined.</div>

   <div class="math-example">
    Find \[\lim_{n\rightarrow \infty}\dfrac{1 + 2n^2}{5 + 3n + 4n^2}\]
   </div>

   <div class="math-example">
    Find \[\lim_{n\rightarrow \infty}\dfrac{n^3 + n - 1}{n^4 + n^2 + 3n}\]
   </div>

   <div class="math-example">
    For the sequence \[a_n = \dfrac{n^2}{\sqrt{n^3 + 4n}}\], try using limit laws to see what $a_n$ converges to.
   </div>

   <h2>Geometric Sequences</h2><hr>

    <p>A <b>geometric sequence</b> is a sequence of the form $b_n = ar^n$. The sequence looks like \[a, \ ar, \ ar^2, \ ar^3, \ \dots \]
    
    The value of $r$ tells us if these sequences converge or not.
    
    </p>

    <div class="math-fact"> \[\lim_{n\rightarrow \infty} r^n = \begin{cases} 0 & 0 < r < 1 \\ 1 & r = 1 \\ \infty & r > 1 \end{cases}\]
    
        <p>
            <img src="/static/swrlly/images/teaching/2.1-1.PNG" style="max-width:350px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        </p>

    </div>



    <div class="math-example">
    Find \[1 - (0.2)^n\]
    </div>

    <div class="math-example">
    Find \[\lim_{n\rightarrow \infty} \dfrac{2^n - 1}{6^n}\]
    </div>

    <div class="math-example">
    Find \[\lim_{n\rightarrow \infty} \dfrac{e^n + e^{-n}}{e^{2n} - 1}\]
    </div>







</div>
{% endblock %}