{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - 3.2</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - lectures"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="3.2: Derivative as a Function"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/lectures/3.2"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">

    <h1>3.2: Derivative as a Function</h1><hr>

    <p>Recall the definition of a derivative at $x = a$:</p>

    <div class="math-def">
        The <b>derivative of a function $f$ at a number $a$</b>, denoted by $f'(a)$, is \[f'(a) = \lim_{h\rightarrow 0} \dfrac{f(a + h) - f(a)}{h}\] if this limit exists.
    </div>

    If we let $a$ vary, we can think of the derivative as a function:

    <div class="math-def">
        The <b>derivative of a function $f$</b>, denoted by $f'(x)$, is \[f'(x) = \lim_{h\rightarrow 0} \dfrac{f(x + h) - f(x)}{h}\] if this limit exists.
    </div>

    <div class="math-example">
        Given this graph 
        <img src="/static/swrlly/images/teaching/161-3.2-1.PNG" style="max-width:450px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
        Sketch the derivative.
    </div>

    <div class="math-example"> If $f(x) = \dfrac{1}{x}$, find $f'(x)$.</div>

    <div class="math-example"> If $f(x) = \sqrt{x}$, find $f'(x)$. Compare their graphs.</div>

    <h2>Differentiability</h2><hr>

    <p>If you let $y = f(x)$, the derivative has many different notations:

        \[f'(x) = y' = \dfrac{dy}{dx} = \dfrac{d}{dx} f(x) = Df(x) = D_xf(x)\]
    </p>

    <div class="math-example"> A function $f$ is <b>differentiable at $a$</b> if $f'(a)$ exists. It is <b>differentiable on an open interval </b> $(a,b)$ if it is differentiable at every number in the interval.</div>

    <div class="math-example"> Show $f(x) = \lvert x \rvert$ is not differentiable at $x = 0$.</div>

    <p>There are three cases when $f'(x)$ does not exist. 

        <img src="/static/swrlly/images/teaching/161-3.2-2.PNG" style="max-width:900px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>
    </p>

    <p>How are differentiability and continuity related?</p>

    <div class="math-theorem"> If $f$ is differentiable at $a$, then $f$ is continuous at $a$.</div>



    <p>The proof is in the textbook; we will omit it here.</p>

    <div class="math-example"> The metabolic power $P(v)$ (amount of energy required) consumed by humans who run then walk at a speed $v$ is shown below

        <img src="/static/swrlly/images/teaching/161-3.2-3.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

        <ol>
            <li class="lec-list-space">Is $P$ a differentiable function of $v$?</li>
            <li class="lec-list-space">Sketch a graph of $P'(v)$.</li>
        </ol>
    </div>

    <!-- do higher derivatives + inc/dec after shortcuts-->

</div>
{% endblock %}