{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - 3.2</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - lectures"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="3.2: Derivative as a Function"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/lectures/3.2"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">

    <h1>3.3: Basic Differentiation Formulas</h1><hr>

    <p>It is tedious to evaluate \[f'(x) = \lim_{h\rightarrow 0} \dfrac{f(x + h) - f(x)}{h}\] every time. Let's look how we can reduce our work by looking at shortcuts.</p>

    <div class="math-theorem"> Suppose $c, n \in \mathbb{R}$ and $f(x)$ and $g(x)$ are differentiable functions. Then
        <ol>
            <li class="lec-list-space">
                $\dfrac{d}{dx} (c) = 0$
            </li>
            <li class="lec-list-space">
                $\dfrac{d}{dx} (x^n) = nx^{n-1} \ $ (called the <b>Power Rule</b>)
            </li>
            <li class="lec-list-space">
                $\dfrac{d}{dx} (cf(x)) = c\dfrac{d}{dx}[f(x)]$
            </li>
            <li class="lec-list-space">
                $\dfrac{d}{dx} [f(x) \pm g(x)] = \dfrac{d}{dx}[f(x)] \pm \dfrac{d}{dx}[g(x)]$
            </li>
        </ol>
    </div>

    <div class="math-example">
        For each of the following functions $f(x)$, find $f'(x)$.
        <ol>
            <li class="lec-list-space">$f(x) = 28$</li>
            <li class="lec-list-space">$f(x) = \pi^2$</li>
            <li class="lec-list-space">$f(x) = x$</li>
            <li class="lec-list-space">$f(x) = x^8$</li>
            <li class="lec-list-space">$f(x) = x^2\sqrt{x}$</li>
            <li class="lec-list-space">$f(x) = \sqrt{x}$</li>
            <li class="lec-list-space">$f(x) = \dfrac{1}{\sqrt[3]{x}}$</li>
            <li class="lec-list-space">$f(x) = 5x^3$</li>
            <li class="lec-list-space">$f(x) = \dfrac{3}{\sqrt{x}}$</li>
            <li class="lec-list-space">$f(x) = 4x^5 + 3x^4 - 8x^2 + x + 3$</li>
            <li class="lec-list-space">$f(t) = \dfrac{t^2}{5} + \dfrac{5}{t^3}$</li>
        </ol>
    </div>

    <h2>Exponential Functions</h2><hr>

    <p>How about the derivative of $f(x) = e^x$?</p>

    <div class="math-fact">
        \[\dfrac{d}{dx}(e^x) = e^x\]
    </div>

    <h2>Trigonometric Functions</h2><hr>

    <p>How about the derivatives of trigonometric functions?</p>

    <div class="math-fact">
        \[\dfrac{d}{dx} (\sin x) = \cos x \qquad \qquad \dfrac{d}{dx}(\cos x) = -\sin x\]
    </div>

    <div class="math-example">
        Find the derivative of $f(x) = 3e^x - \cos x + \sqrt[3]{x^2}$.
    </div>

    <div class="math-example">
        Find the derivative of $f(\theta) = \theta + \sin \theta$.
    </div>

    <h2>Higher-Order Derivatives</h2><hr>

    <p>If $f(x)$ is a function, $f'(x)$ is also a function.</p>

    <p>$f'(x)$ might have a derivative of it's own!</p>
    
    <p>To find the second derivative, first find $f'(x)$, then find the derivative of $f'(x)$.</p>

    <p>In general, this extends to the $n$th derivative. Here are common notations for multiple derivatives:

        <ul>
            <li class="lec-list-space">
                $f'(x), f''(x), f'''(x), \cdots, f^{(n)}(x)$
            </li>
            <li class="lec-list-space">
                $D_xf(x), D^2_xf(x), D^3_xf(x), \cdots, D^{(n)}_xf(x)$
            </li>
            <li class="lec-list-space">
                $y', y'', y''', \cdots, y^{(n)}$
            </li>
            <li class="lec-list-space">
                $\dfrac{dy}{dx}, \dfrac{d^2y}{dx^2}, \dfrac{d^3y}{dx^3}, \cdots, \dfrac{d^ny}{dx^n}$
            </li>
        </ul>
    </p>

    <p>The last notation is called <b>Leibniz notation</b>.</p>

    <div class="math-example"> Find the 27th derivative of $f(x) = \cos x$.</div>

    <p>We can interpret the second derivative as the rate of change of a rate of change.</p>

    <p>A familiar example of a second derivative is <b>acceleration</b>.</p>

    <p>If you have a position function $s(t)$, then we saw $v(t) = s'(t)$ is the velocity.</p>

    <p>The rate of change of velocity is acceleration, or in symbols: \[a(t) = v'(t) = s''(t)\]</p>

    <div class="math-example">
        An object hanging from a vertical spring is compressed upwards 4 centimeters from rest and released at $t = 0$. The position of the object at time $t$ is \[s = f(t) = 4\cos t\]
        Find the velocity and acceleration at time $t$.
    </div>

    
    

</div>
{% endblock %}