{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 161 - 3.2</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 161 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="3.2: Derivative as a Function"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-161/lectures/3.2"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>3.3: Basic Differentiation Formulas</h1><hr>

    <p>It is tedious to evaluate \[f'(x) = \lim_{h\rightarrow 0} \dfrac{f(x + h) - f(x)}{h}\] every time. Let's look how we can reduce our work by looking at shortcuts.</p>

    <div class="math-theorem"> Suppose $c \in \mathbb{R}$ and $f(x)$ and $g(x)$ are differentiable functions. Then
        <ol>
            <li class="lec-list-space">
                $\dfrac{d}{dx} (c) = 0$
            </li>
            <li class="lec-list-space">
                $\dfrac{d}{dx} (x^n) = nx^{n-1}$
            </li>
            <li class="lec-list-space">
                $\dfrac{d}{dx} (cf(x)) = c\dfrac{d}{dx}[f(x)]$
            </li>
            <li class="lec-list-space">
                $\dfrac{d}{dx} [f(x) \pm g(x)] = \dfrac{d}{dx}[f(x)] \pm \dfrac{d}{dx}[g(x)]$
            </li>
        </ol>
    </div>

    <div class="math-example">
        For each of the following functions $f(x)$, find $f'(x)$.
        <ol>
            <li class="lec-list-space">$f(x) = 28$</li>
            <li class="lec-list-space">$f(x) = \pi^2$</li>
            <li class="lec-list-space">$f(x) = x$</li>
            <li class="lec-list-space">$f(x) = x^8$</li>
            <li class="lec-list-space">$f(x) = x^2\sqrt{x}$</li>
            <li class="lec-list-space">$f(x) = \sqrt{x}$</li>
            <li class="lec-list-space">$f(x) = \dfrac{1}{\sqrt[3]{x}}$</li>
            <li class="lec-list-space">$f(x) = 5x^3$</li>
            <li class="lec-list-space">$f(x) = \dfrac{3}{\sqrt{x}}$</li>
            <li class="lec-list-space">$f(x) = 4x^5 + 3x^4 - 8x^2 + x + 3$</li>
            <li class="lec-list-space">$f(t) = \dfrac{t^2}{5} + \dfrac{5}{t^3}$</li>
        </ol>
    </div>

    <h2>Higher-Order Derivatives</h2><hr>

    <p>Recall the definition of the derivative:</p>

    <div class="math-def">
        The derivative of a function $f$ with respect to $x$ is the function $f'$ where \[f'(x) = \lim_{h\rightarrow 0}\dfrac{f(x+h)-f(x)}{h}\]
        The domain of $f'$ is the set of all $x$ for which the limit exists.
    </div>

    <p>What if, in the definition, we had $f'(x+h) - f'(x)$ instead? This gives us the derivative of the derivative, or the second derivative.</p>
    
    <p>To find the second derivative, first find $f'(x)$, then find the derivative of $f'(x)$.</p>

    <p>In general, this extends to the $n$th derivative. Here are common notations for multiple derivatives:

        <ol>
            <li class="lec-list-space">
                $f'(x), f''(x), f'''(x), \cdots, f^{(n)}(x)$
            </li>
            <li class="lec-list-space">
                $D_xf(x), D^2_xf(x), D^3_xf(x), \cdots, D^{(n)}_xf(x)$
            </li>
            <li class="lec-list-space">
                $y', y'', y''', \cdots, y^{(n)}$
            </li>
            <li class="lec-list-space">
                $\dfrac{dy}{dx}, \dfrac{d^2y}{dx^2}, \dfrac{d^3y}{dx^3}, \cdots, \dfrac{d^ny}{dx^n}$
            </li>
        </ol>
    </p>

    <div class="math-example">
        Find the derivatives of all orders of \[f(x) = x^5 - 3x^4 + 4x^3 - 2x^2 + x - 8\]
    </div>

    <h2>Exponential Functions</h2><hr>

    <p>If $f(x) = b^x$, let's try to compute $f'(x)$.</p>

    <div class="math-fact"> $e$ is the number where \[\lim_{h\rightarrow 0} \dfrac{e^h - 1}{h} = 1\]</div>

    <p>which tells us...</p>

    <div class="math-fact"> \[\dfrac{d}{dx} (e^x) = e^x\]</div>

    <div class="math-example"> Differentiate $f(x) = e^x - x$.
    </div>

    <div class="math-example"> If $y = e^x$, find the point on the graph where the tangent line is parallel to $y = 2x$.
    </div>

    <h2>Sine and Cosine Functions</h2><hr>

    <div class="math-fact">
        \[\dfrac{d}{dx} \left[ \sin x\right] = \cos x \qquad \dfrac{d}{dx} \left[\cos x\right] = -\sin x\]
    </div>

    <div class="math-example"> Differentiate $y = 3\sin \theta + 4\cos \theta$.</div>

    <div class="math-example"> If $f(x) = \sin x$, find $f^{(56)}(x)$.</div>

</div>
{% endblock %}