


{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - 4.3</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - lectures"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="4.3: L'Hospital's Rule"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/lectures/4.3"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">
    <h1>4.3: L'Hospital's Rule: Comparing Rates of Growth</h1><hr>

    <p>Consider Problem 3c on Homework 4: Find \[\lim_{h\rightarrow 0}\dfrac{(4 + h^2) - 16}{h}\]
    </p>

    <p>In using Limit Laws, we get $0/0$. This is called an <b>indeterminate form</b>.</p>

    <p>Previously, we had to preprocess the problem before using limit laws. We will now use the derivative to deal with four indeterminate forms for limits: \[\dfrac{0}{0} \qquad \dfrac{\infty}{\infty} \qquad 0 \cdot \infty \qquad \infty - \infty \]</p>

    <h2>Indeterminate Quotients</h2><hr>

    <p>Suppose $\displaystyle \lim_{x\rightarrow a} \dfrac{f(x)}{g(x)} = \dfrac{0}{0}$. This situation is pictured below: 
        <img src="/static/swrlly/images/teaching/161-4.3-1.PNG" style="max-width:400px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"/>

        Replacing $f(x)$ with $f'(x)$ and $g(x)$ with $g'(x)$ near $x = a$ allows us to look at slopes instead.
    </p>

    <div class="math-fact"> <b style="color:var(--factcolor)">L'Hospital's Rule</b> <br>
    
        Suppose $f$ and $g$ are differentiable and $g'(x) \neq 0$ near $x = a$. Suppose either $\displaystyle\lim_{x\rightarrow a} f(x) = \lim_{x\rightarrow a} g(x) = 0$ or $\displaystyle\lim_{x\rightarrow a} f(x) = \lim_{x\rightarrow a} g(x) = \pm\infty$.<br> 
        Then \[\lim_{x\rightarrow a} \dfrac{f(x)}{g(x)} = \lim_{x\rightarrow a} \dfrac{ f'(x)}{g'(x)}\] if the limit on the right side exists or is $\pm \infty$.
    </div>

    <div class="math-example"> Find the following limits:

        <ol>
            <li class="lec-list-space">$\displaystyle \lim_{x\rightarrow 1} \dfrac{\ln x}{x - 1}$</li>
            <li class="lec-list-space">$\displaystyle \lim_{x\rightarrow \infty} \dfrac{e^x}{x^2}$</li>
            <li class="lec-list-space">$\displaystyle \lim_{x\rightarrow \infty} \dfrac{\ln x}{\sqrt{x}}$</li>
            <li class="lec-list-space">$\displaystyle \lim_{x\rightarrow \pi^-} \dfrac{\sin x}{1 - \cos x}$</li>
        </ol>
    </div>

    <h2>Which Functions Grow Fastest?</h2><hr>

    <p>Suppose $\displaystyle\lim_{x\rightarrow \infty}f(x) = \infty$ and $\displaystyle\lim_{x\rightarrow \infty} g(x) = \infty$.</p>

    <p>We say $f(x)$ approaches infinity <b>more quickly</b> than $g(x)$ if \[\lim_{x\rightarrow \infty} \dfrac{f(x)}{g(x)} = \infty\] and $f(x)$ approaches infinity <b>more slowly</b> than $g(x)$ if \[\lim_{x\rightarrow \infty} \dfrac{f(x)}{g(x)} = 0\]</p>

    <div class="math-example"> Rank the following functions in order of how quickly they approach infinity: \[y = \ln x \qquad y = x \qquad y = e^{0.1 x} \qquad y = \sqrt{x}\]</div>

    <div class="math-example"> Analyze the limiting behavior of \[f(x) = \dfrac{x + x^4}{1 + x^2 + e^x}\] by considering the dominant terms in the numerator and denominator.</div>

    <h2>Indeterminate Products</h2><hr>

    <p>Let's now deal with the indeterminate form $0 \cdot \infty$.</p>

    <p>Let's say $\displaystyle \lim_{x\rightarrow a} f(x) = 0$ and $\displaystyle \lim_{x\rightarrow a} g(x) = \infty$.</p>

    <div class="math-example"> Evaluate $\displaystyle\lim_{x\rightarrow 0^+} x \cdot \ln x$.</div>

    <div class="math-example"> Evaluate $\displaystyle\lim_{x\rightarrow -\infty} x^2\cdot e^x$.</div>

    <div class="math-example"> We modeled the blood alcohol concentration after one alcoholic drink with the function \[C(t) = 0.0225t e^{-0.0467t}\] Find $\displaystyle \lim_{t \rightarrow \infty} C(t)$ and discuss if it makes sense or not.</div>

    <h2>Indeterminate Differences</h2><hr>

    <p>To deal with the indeterminate form $\infty - \infty$, try to put it into $0/0$ or $\infty/\infty$ indeterminate form then use L'Hospital's Rule.</p>

    <p> You can also try to get it into $\infty \cdot \infty$ form, which is $\infty$, not indeterminate.</p>

    <div class="math-example"> Compute \[\lim_{x\rightarrow \frac{\pi}{2}^-} (\sec x - \tan x)\]</div>

    <div class="math-example"> Compute \[\lim_{x\rightarrow \infty} (e^x - x)\]</div>

</div>
{% endblock %}