{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - V</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="V: Functions Crash Course"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures/1.5"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>Functions Crash Course for Calculus</h1>

    <p>Goals: 
        <ul>
            <li>Describe the object we are going to use calculus on and how it appears in our everyday lives.</li>
            <li>Learn how to mathematically represent a function and manipulate them while avoiding common mistakes.</li>
        </ul></p>

    <h2>Functions All Around Us</h2><hr>

    <p>The word <b>function</b> describes a dependence of one quantity on another. For example:
        <ul>
            <li>The current room temperature is a function of time.</li>
            <li>After a flight takes off, the total distance a plane travels is a function of time since takeoff.</li>
        </ul>
    </p>

    <p>Functions should be thought of as a machine.</p>

    <p>For example, when you input time, you get out the current temperature. Any temperature app you have uses this idea.</p>

    <p>Notice that at a single time point, only one output is returned. This leads us to the mathematical definition of a function.</p>

    <div class="math-def"> A <b>function</b> $f$ is a rule that assigns to each element $x$ in a set $A$ to exactly one element, called $f(x)$ in a set $B$.</div>

    <div class="math-example"> What are some examples of functions you can think of?
    </div>

    <h2>Evaluating a Function</h2><hr>

    <p>A simple way to mathematically represent input-output is with the notation $f(x)$.</p>

    <p>Here, the $x$ between the parenthesis is your input variable, and $f(x)$ is your output.</p>

    <div class="math-example">A function is defined by the formula \[f(x) = x^2 - 2\]
        Evaluate the following:
        <ul>
            <li>$f(0)$</li>
            <li>$f(-1)$</li>
            <li>$f(-a)$</li>
            <li>$f(x + h)$</li>
            <li>$f(x + h) - f(x)$</li>
        </ul>
    </div>

    <p><b>Beware:</b> everything between the parenthesis must be treated as input.</p>

    <p>From now on, when instructed to perform something, like "evaluate $f(x + h)$" you must fully simplify.</p>

    <p>For example, this can mean:
        <ul>
            <li>
                expand then combine like terms whenever you can
            </li>
            <li>
                use Fraction Law 5 to cancel factors if applicable
            </li>
            <li>
                multiply all fractional expressions together to write your answer as one fraction
            </li>
            <li>etc.</li>
        </ul>   
    </p>

    <div class="math-example"> A function is defined by \[g(x) = x^2 - x\] Evaluate the following:
        <ul>
            <li>$g(0)$</li>
            <li>$g(-1)$</li>
            <li>$g(-a)$</li>
            <li>$g(x + h)$</li>
            <li>$g(x + h) - g(x)$</li>
        </ul>
    </div>

    <h2>Domain of a Function</h2><hr>

    <p>The domain of a function is the set of all inputs you can input to get out a valid real number.</p>

    <div class="math-example">
        For the function $f(x) = \dfrac{1}{x}$, which of the following numbers are in the domain?
        <ul>
            <li>$-2$</li>
            <li>$-1$</li>
            <li>$0$</li>
            <li>$\frac{1}{2}$</li>
            <li>$2$</li>
        </ul>
    </div>

    <p>When finding domain, follow two steps:
        <ol>
            <li class="lec-list-space">Look for <b>problems</b>. These are numbers, when evaluated, result in something that is not a real number. Problems are</li>
            <ul>
                <li>Plugging a number where you end up dividing by zero.</li>
                <li>Plugging a number where you end up taking the square root of a negative number.</li>
            </ul>
            <li class="lec-list-space">Remove the problems from $\mathbb{R}$ and write your answer in interval notation.</li>
        </ol>
    </p>

    <div class="math-example"> What is the domain of $f(x) = \dfrac{1}{x}$?</div>

    <div class="math-example"> What is the domain of $f(x) = \sqrt{x - 1}$?</div>

    <div class="math-example"> What is the domain of $g(x) = \dfrac{1}{x^2 - x}$?</div>


    <h2>Piecewise Functions</h2><hr>

    <p>Piecewise functions are functions where you have multiple different functions on different parts of the domain.</p>

    <p>For example, \[f(x) = \begin{cases} x^2 & x \leq 1 \\ -2x + 3 & x > 1\end{cases}\] is a piecewise function.</p>

    <p>Here's how to read this: If your input $x$ is less than or equal to 1, then you need to plug it into $x^2$.</p>

    <p>If your input $x$ is strictly greater than 1, plug it into $-2x + 3$.</p>

    <div class="math-example"> For the above function, evaluate $f(0), f(1)$ and $f(2)$.</div>

    <h2>Graph of a Function</h2><hr/>

    <p>You can describe a function like \[f(x) = x^2 + 2\] in four different ways.
        <ul>
            <li>In English: Square the input and add two</li>
            <li>Algebraically: $x^2 + 2$</li>
            <li>With a table of values</li>
            <li>With a graph in the coordinate plane</li>
        </ul>
    </p>

    <p>The graph is especially important because you can quickly spot visual patterns in certain types of functions.</p>

    <p>It also gives us an intuitive understanding of calculus concepts instead of just looking at a bunch of messy algebra like \[f(x) = \sin(x)\tan(x)e^{4x}(x^4 - x^2)\]</p>

    <div class="math-def"> 
        The <b>graph</b> of a function with domain $A$ is formally defined as a set of coordinates \[\{(x, f(x)) : x \in A\}\]
    </div>

    <div class="math-example"> 
        What is the geometric intution behind the symbol $f(x)$?
    </div>

    <div class="math-example"> 
        Graph the piecewise function \[f(x) = \begin{cases} x^2 & x \leq 1 \\ -2x + 3 & x > 1\end{cases}\] by hand.
    </div>

    <h2>Base Functions to be Familiar With</h2><hr>

    <p>In calculus, you need to be familiar with what we call "parent functions:" linear, absolute value, polynomial, rational, exponential, logarithmic, and trigonometric functions.</p>

    <p>These are all part of the prerequisite of MATH 141.</p>

    <p>Here are good resources if you need a refresher of these types. I recommend the textbook <i>Precalculus, Mathematics for Calculus</i> by James Stewart, 7th Edition.
        <ul>
            <li>For polynomials: pages 246-256 in <i>Precalculus</i></li>
            <li>For rationals: Section 3.6 in <i>Precalculus</i> (pages 295-307)</li>
            <li>For exponentials: Section 4.1 and 4.2 in <i>Precalculus</i> (pages 330-334, 338-339)</li>
            <li>For logarithms: Section 4.3 and 4.4 in <i>Precalculus</i> (pages 344-358)</li>
            <li>For trigonometric functions: <ul>
                <li><a href="https://swrlly.com/teaching/math-119/lectures/5.1">Interactive lecture notes on Section 5.1 describing the unit circle</a></li>
                <li><a href="https://swrlly.com/teaching/math-119/lectures/5.2">Interactive lecture notes on Section 5.2 describing trigonometric functions with animations on how they are created from the unit circle.</a></li>
            </ul></li>
        </ul>
    </p>

    <p>Moreover, Section 1.2 in our <i>Calculus</i> textbook contains a very terse summary of all of these function types. If you do not remember the details of a logarithm, for example, I recommend the above list as another reference.</p>

    <p>Here's a visual guide to a few parent functions we'll encounter.

        <img src="https://calcwithtully.weebly.com/uploads/3/0/9/3/30937899/8354702_orig.jpg" style="max-width:600px; margin:0 auto; display:flex; border-radius:10px; margin-top:1em;"></img>
    </p>

    <h2>Holes</h2><hr>

    <p>When you cancel a common factor in a rational function, you must exclude the zero of that factor from the domain.</p>

    <p>Such a factor is called a <b>hole</b>.</p>

    <div class="math-example">
        Redefine the rational function $f(x) = \dfrac{x^2 + 2x + 1}{x+1}$ with the domain exclusion.
    </div>

    <div class="math-example">
        Redefine the rational function $f(x) = \dfrac{x^3 - x}{x}$ with the domain exclusion.
    </div>

    <h2>Creating New Functions with Operations</h2><hr>

    <p>$+, -, \times, \div$ functions together is done by performing the specified operation on the function output. Let's look at some examples.</p>
    
    <p>Be careful when you are subtracting and multiplying functions together. If you are multiplying by $\geq 2$ terms, <b>do not forget parenthesis.</b></p>
    
    <div class="math-example">
        Let $f(x) = x^2 + x$ and $g(x) = -x^2 - x$. Find the following:
        <ol>
            <li> $f(x)+g(x), f(x)-g(x), f(x)g(x), \frac{f}{g}$ and their domains</li>
            <li> $\left(\frac{f}{g}\right)(0)$</li>
        </ol>
        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            <ol>
                <li>Let's first find the domains and intersect them. Both functions have domain $\mathbb{R}$.
                    Following the above table, we see that
                    \begin{align}
                    (f+g)(x) &= f(x) + g(x)                             &&= x^2 + x + -x^2 - x = 0  \\
                    (f-g)(x) &= f(x) - g(x)                             &&= x^2 + x - (-x^2 - x) = x^2 + x + x^2 + x = 2x^2 + 2x  \\
                    (f\cdot g)(x) &= f(x)\cdot g(x)                     &&= (x^2 + x)(-x^2 - x) = (x^2 + x)(-x^2) + (x^2 + x)(-x) = -x^4 - x^3 - x^3 - x^2 = -x^4 - 2x^3 - x^2     \\
                    \left(\frac{f}{g}\right)(x) &= \frac{f(x)}{g(x)}    &&= \frac{x^2 + x}{-x^2  -x} = \frac{x(x+1)}{-x(x + 1)} = \frac{1}{-1} = -1 , \ x \neq 0, x \neq -1  \\         
                    \end{align}
                </li>

                To be clear, \[\dfrac{f(x)}{g(x)} = -1 , x \neq 0, x \neq -1\] Notice the domain exclusion (caused by cancelling factors) where your input $x$ cannot be $0$ nor $-1$.
                
                Since $\mathbb{R} \cap \mathbb{R} = \mathbb{R}$, all functions have domain $\mathbb{R}$.
                <li>
                    From part 1, the definitions of $f+g$ and $f/g$ give
                    \begin{align}
                    (f+g)(4) &= f(4) + g(4)                             &&= \frac{1}{4-2} + (4 - 3) & = \frac{3}{2} \\
                    \left(\frac{f}{g}\right)(4) &= \frac{f(4)}{g(4)}    &&= \frac{1}{(4-2)(4 - 3)} &= \frac{1}{2}   \\
                    \end{align}
                    Since we cannot divide by zero, $\left(\frac{f}{g}\right)(3)$ is undefined.
                </li>
            </ol>
        </div>
    </div>

    <div class="math-example">
        Adding functions together has a nice graphical interpretation. In this example, we see the graph $f(x) + g(x)$ is just the vertical heights of $f(x)$ and $g(x)$ added together.
        <br/><button class="math-btn">Show Solution</button>
            <div class="math-solution">
            <div id="hide-desmos"><iframe id="desmos-example" src="https://www.desmos.com/calculator/bgtbdfkq09"></iframe></div>
            </div>
    </div>
    <h2>Function Composition</h2><hr>
        <p class="lecturep">Function evaluation on a number is straightforward: the preceding example utilized this concept. What if we evaluate a function on another function? This idea is called <b>function composition.</b></p>
        <div class="math-def">
            Given two functions $f$ and $g$, the composite function $f \circ g$ (also called the composition of $f$ and $g$) is defined by \[(f\circ g)(x) = f(g(x))\]
        </div>
        <p class="lecturep">To evaluate a function composition, you first plug in $g(x)$ into $f(x)$, and wherever there is an $x$ in $f(x)$, substitute the definition of $g(x)$ there. </p>
        <div class="math-example">
            Suppose $f(x) = x^2$ and $g(x) = x-3$. Find the functions $f\circ g$ and $g \circ f$</br>
            <br/><button class="math-btn">Show Solution</button>
            <div class="math-solution">
                We see that \[(f\circ g)(x) = f(g(x)) = f(x-3) = (x-3)^2\] and \[(g\circ f)(x) = g(f(x)) = g(x^2) = x^2 - 3\]$.
            </div>
        </div>
        <div class="lecturep"> Ideas:
            <ul>
                <li>This shows that the operation $\circ$ is not commutative, i.e. $f\circ g \neq g \circ f$. Do not mistake $f\circ g$ to mean function multiplication!</li>
                <li>We can also take compositions of three or more functions. For example, $f\circ g \circ h = f(g(h(x)))$.</li>
            </ul>
        </div>
        <div class="math-example">
            Find $f\circ g \circ h$ where $f(x) = \frac{x}{x+1}, g(x) = x^{10}, h(x) = x+3$.
            <br/><button class="math-btn">Show Solution</button>
            <div class="math-solution">
                \begin{align}
                (f\circ g \circ h)(x) &= f(g(h(x)))\\
                &= f(g(x+3))\\
                &= f((x+3)^{10})\\
                &= \frac{(x+3)^{10}}{(x+3)^{10}+1}
                \end{align}
            </div>
        </div>

        <p>The concept in these last two composition examples will be used extensively in calculus.</p>

        <div class="math-example">
        Given $F(x) = \sqrt[4]{x + 9}$, find functions $f$ and $g$ such that $F = f\circ g$.
        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            We can think of this function as the $\sqrt[4]{\cdot}$ as the outside function, and $x + 9$ as the inside function. </br>Since $f\circ g$ is the desired composition, let $g(x) = x+9$ and $f(x) = \sqrt[4]{x}$.
            Then \[(f\circ g)(x) = f(g(x)) = f(x+9) = \sqrt[4]{x+9} = F(x)\]
        </div>
        </div>

</div>

{% endblock %}