{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - Homework 4 (T/TH)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - Homework 4"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 4"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/homework/tth/hw4"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 4</h1>
    <p><b>Directions:</b>         
        <ol>
            <li class="hw-space">Show each step of your work.</li>
            <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
            <li class="hw-space"><b>Staple multiple sheets together.</b></li>
            <li class="hw-space">Feel free to use Desmos for graphing.</li>
        </ol>  
</p>
    <p>Answer the following:</p>
    <ol>

        <!-- add for t/th-->

        <li class="hw-space">Suppose $f(x)$ is a function. What are the two meanings of $f'(x)$?</li>
        <li class="hw-space">Suppose I have a function $f(x)$. If $f'(5)$ doesn't exist, state all the possibilities why it does not. </li>

        <li class="hw-space">Suppose I have a function $f(x)$. When is $f(x)$ differentiable at $x = 5$? Hint: definition.</li>

        <li class="hw-space">Bank of America has undergone a series of bad loans in agriculture and real estate. The losses are estimated to be (in millions of dollars) \[f(t) = -t^2 + 10t + 30\] where $t$ is the time in years since 2020. 
            <ol type="a">
                <li class="hw-space">What is the rate of change of the losses in 2021? Use the definition, not shortcuts.</li>
            </ol>
        </li>

        <li class="hw-space"> When we are using the definition of the derivative:
            <ol type="a">
                <li class="hw-space">What always happens to the $h$ in the denominator?</li>
                <li class="hw-space">Suppose the above phenomena does not happen. What is the problem?</li>
            </ol>
        </li>

        <li class="hw-space">
            For the following functions, <b>use the definition of the derivative</b>. Find the following:
            <ol type="a">
                <li class="hw-space">Find the instantaneous rate of change of $f(x) = 5x$ at $x = 3$.</li>
                <li class="hw-space">$\displaystyle \dfrac{d}{dx} (x^2 - 4x)$</li>
                <li class="hw-space">If $f(x) = 3x^2$, find $f'(x)$.</li>
            </ol>
        </li>

        <li class="hw-space">Suppose $f(x)$ is differentiable on $\mathbb{R}$. Must $f(x)$ be continuous on $\mathbb{R}$? If not, explain why.</li>

        <li class="hw-space">Suppose $f(x)$ is continuous on $\mathbb{R}$. Must $f(x)$ be differentiable on $\mathbb{R}$? If not, draw the graph of a function where it fails to be differentiable.</li>

        <li class="hw-space">Suppose I have \[f'(x) = \lim_{h\rightarrow 0} \dfrac{\sqrt{9 + h} - 3}{h}\]What is $f(x)$?</li>

        <!-- add for mw-->
        
        <li class="hw-space">Find the derivative with respect to the correct variable for each of the following functions. Derivative rules are allowed.
            <ol type="a">
                <li class="hw-space">$f(x) = (-3)^2$</li>
                <li class="hw-space">$f(x) = x^{2.9}$</li>
                <li class="hw-space">$f(r) = -9r^{2/3}$</li>
                <li class="hw-space">$f(x) = 5x^2 + 6x + 7$</li>
                <li class="hw-space">$f(r) = \dfrac{r^5 + 2r^4 + 3r + 1}{r}$</li>
                <li class="hw-space">$f(a) = \dfrac{5}{a^4} - \dfrac{2}{\sqrt[3]{a^2}} -\dfrac{1}{a} + 200$</li>
                <li class="hw-space">$f(x) = \dfrac{5}{x^4} + \dfrac{\sqrt{x^3}}{3} + x$</li>
            </ol>

        </li>

    </ol>

</div>
{% endblock %}