{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 221 - Homework 5 (T/TH)</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 221 - Homework 6"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="Homework 6"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-221/homework/tth/hw6"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Homework 6</h1>
    <p><b>Directions:</b> 
        <ol>
            <li class="hw-space">Show each step of your work and fully simplify each expression.</li>
            <li class="hw-space">Turn in your answers in class on a physical piece of paper. </li>
            <li class="hw-space"><b>Staple multiple sheets together.</b></li>
            <li class="hw-space">Feel free to use Desmos for graphing.</li>
        </ol>  
    </p>
    <p>Answer the following:</p>
    <ol>
        
        <li class="hw-space">
            Draw two functions, one of which is increasing on $\mathbb{R}$ and the other which is decreasing on $(-\infty, 0] \cup [3, \infty]$ and increasing on $[0, 3]$.
        </li>
        <li class="hw-space">Given the function \[f(x) = (x-1)^2(x+1)^2\] state the intervals on which it is increasing and decreasing.</li>
        <li class="hw-space">
            The total cost $C(x)$, as we know, is a function that outputs the total cost to produce $x$ units. Explain why $C(x)$ is an increasing function on $[0, \infty)$.
        </li>
        <li class="hw-space">The total daily cost to manufacture $x$ plastic forks is \[C(x) = 2000 + 2x - 0.0001x^2 \qquad 0 \leq x \leq 10000\]
            <ol type="a">
                <li class="hw-space">
                    What is the actual cost in manufacturing the 2001th fork?
                </li>
                <li class="hw-space">
                    What is the marginal cost in manufacturing when $x = 2000$? Interpret the marginal cost in English.
                </li>
                <li class="hw-space">
                    Find the average cost function $\bar{C}$.
                </li>
                <li class="hw-space">
                    Find the marginal average cost function $\bar{C}'$.
                </li>
            </ol>
        </li>
        <li class="hw-space">
            Suppose the marginal profit function is positive at $x = a$. Should we decrease the level of production? Give at least one reason to support your claim.
        </li>
        <li class="hw-space">
            Suppose you are given a demand function $p = f(x)$ where $x$ is quantity demanded. You manage to solve for $x$, so you now have an equation $x = f(p)$. Explain in economic terms why $f(p)$ is a decreasing function.
        </li>
        <li class="hw-space">
            Costco decided to open a new factory to increase rotisserie chicken output. It is estimated the total cost for producing $x$ rotisserie chickens is \[C(x) = 5.2x + 200000\]
            dollars per year.
            <ol type="a">
                <li class="hw-space">
                    Find the average cost function $\bar{C}$.
                </li>
                <li class="hw-space">
                    Find the marginal average cost function $\bar{C}'$. Using the graph in part (a), explain why $\bar{C}'$ is negative for all values of $x$.
                </li>
                <li class="hw-space">Find $\lim_{x\rightarrow\infty}\bar{C}$ and interpret your results.</li>
            </ol>
        </li>
        <li class="hw-space">Elektro plans to open an Ancient Relic item shop. He determined the demand for these items is \[p = -0.04x + 800 \qquad 0 \leq x \leq 20000\]
            <ol type="a">
                <li class="hw-space">Find the revenue function $R$.</li>
                <li class="hw-space">Find the marginal revenue function $R'$.</li>
                <li class="hw-space">Compute $R'(4000)$ and interpret your results.</li>
            </ol>
        </li>
        <li class="hw-space">
            The weekly demand for Liv's Legendary Items is \[p = 600 - 0.05x \qquad 0 \leq x \leq 12000\] where $p$ is the unit price in dollars and $x$ is the quantity demanded. The weekly total cost associated with manufacturing Liv's Legendary Items is given by \[C(x) = 0.000002x^3 - 0.03x^2 + 400x + 80000\] where $x$ is the cost in producing $x$ items.
            <ol type="a">
                <li class="hw-space">Find the revenue function $R$ and the profit function $P$.</li>
                <li class="hw-space">Find the marginal cost function $C'$, marginal revenue function $R'$ and the marginal profit function $P'$.</li>
                <li class="hw-space">Compute $C'(2000), R'(2000)$ and $P'(2000)$ and interpret each number in English.</li>
            </ol>
        </li>
        <li class="hw-space">
            Suppose we have a demand equation \[p = -0.4x +20\]
            <ol type="a">
                <li class="hw-space">Find the elasticity of demand.</li>
                <li class="hw-space">Is the demand elastic, unitary, or inelastic at $p = 10$?</li>
                <li class="hw-space">Determine the range of values in which demand is elastic, unitary, or inelastic.</li>
            </ol>

        </li>
        <li class="hw-space">
            Suppose we have a demand equation \[x = \sqrt{400 - 5p} \qquad 0 \leq p \leq 80\] where $p$ is in dollars and the quantity demanded $x$ is in hundreds.
            <ol type="a">
                <li class="hw-space">Find the elasticity of demand.</li>
                <li class="hw-space">When is the demand unitary? (Hint: solve for $E(p) = 1$)</li>
                <li class="hw-space">Is the demand elastic or inelastic at $p = 40$? Interpret $E(40)$ in English.</li>
                <li class="hw-space">If the unit price is increased slightly from $40$, does the revenue increase or decrease?</li>
            </ol>
        </li>

        <li class="hw-space">A demand equation $x = f(p)$. Keeping in mind problem 6, what happens to the quantity demanded $x$ when you increase the price?</li>
        <li class="hw-space">Suppose we have a demand equation $x = f(p)$ and it is inelastic at $p = a$. Keeping in mind the previous question, why does increasing the price increase the revenue?</li>
        <li class="hw-space">Find the first and second derivatives of the following functions:
            <ol type="a">
                <li class="hw-space">
                    $f(u) = \sqrt{4 - 3u}$
                </li>
                <li class="hw-space">
                    $g(a) = a^2(3a+1)^4$
                </li>
            </ol>
        </li>
        <li class="hw-space">
            You stood on the edge of a building 225 feet tall and dropped a ball. The distance (in feet) the ball falls in $t$ seconds is \[f(t) = 15t^2\]
            <ol>
                <li class="hw-space">At what time does the ball hit the ground?</li>
                <li class="hw-space">What is the ball's velocity when it hits the ground?</li>
                <li class="hw-space">What is the ball's acceleration when it hits the ground?</li>
            </ol>
        </li>

        <li class="hw-space">
            The Consumer Price Index for some economy is predicted to follow the function \[f(t) = -0.0003t^{3}+0.009t^{2}+0.0055t+1.29\]
            where $f(t)$ is in dollars in tens of thousands and $t = 0$ is the beginning of year 2023.

            <ol>
                <li class="hw-space">
                    What is the inflation rate in the beginning of 2040?
                </li>
                <li class="hw-space">
                    Show the rate at which inflation is growing is slowing down in 2040.
                </li>
                <li class="hw-space">Show the rate at which inflation is growing is speeding up in 2028.</li>

            </ol>
        </li>

        <li class="hw-space">
            Obesity (measured by BMI) in America is approximated by the function \[f(t) = 0.0004t^3 + 0.0036t^2 + 0.8t + 12 \qquad 0 \leq t \leq 13 \]
            where $t = 0$ (in years) is the beginning of 1991 and $f(t)$ is percent of people who are obese.
            <ol>
                <li class="hw-space">
                    Show $f(t)$ is an increasing function on $0 \leq t \leq 13$. (Hint: $t$ is positive, is each term in $f'(t)$ positive?)
                </li>
                <li class="hw-space">
                    What are the implications of $f(t)$ being an increasing function?
                </li>
                <li class="hw-space">Show the rate of change of the rate of change of the percent of people deemed obese was positive from 1991 to 2004. What are the implications?</li>
            </ol>
        </li>

    </ol>

</div>
{% endblock %}