{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Pre-Calculus Intuition</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="I: Pre-Calculus Intuition"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures/1.0"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">
    <h1>1.0: The Beginning</h1>

    <h2>Algebraic Intuition</h2><hr>

    <p>Let's think about the act of doing mathematics.</p>
        
    <p>First, you are asked to memorize set-in-stone rules, properties, or theorems.</p>

    <p>Then, you are expected to see when and how to use them accurately. I call this <b>algebraic intuition.</b></p>

    <p>The issue: Problems can be extremely complicated and it's not so obvious which rule can be used when.</p>

    <p>I will show you the algebraic intuition in precalculus problems so:
        <ul>
            <li>You will be able to point out which rule you are allowed to use instead of guessing.</li>
            <li>You will use the rule correctly.</li>
        </ul>
    </p>

    <p>Let's visit one of our old friends: terms and factors.</p>

    <h2>Terms and Factors</h2><hr>

    <div class="math-def"> <b>Term, Factor</b> <br>
        <b>Terms</b> are entities separated by subtraction and addition.<br/>
        <b>Factors</b> are entities separated by multiplication.
    </div>

    <div class="math-example">
        For each entity, identify if they are comprised of terms or factors.
        <ul>
            <li class="lec-list-space">
                $x$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    $x$ is <b>both</b> a term and a factor.<br>
                    It's a term because $x = x + 0$ and it's a factor because $x = x \cdot 1$.
                </div>
            </li>
            <li class="lec-list-space">
                $x - 2$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    $x$ and $2$ are separated by subtraction, so terms.
                </div>
            </li>
            <li class="lec-list-space">$(x - 2)$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    We took the terms $x$ and $2$ and put parentheses around them. <br>So $(x - 2)$ is a <b>factor</b> because $(x-2) = (x - 2) \cdot 1$.<br>
                    This example shows us a fundamental rule: grouping two or more terms together in parentheses will usually create a factor.
                </div>
            </li>
            <li class="lec-list-space">
                $(x-2)(x+4)$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    There is a multiplication outside the parentheses. So one interpretation is factors: \[\underbrace{(x-2)}_{\text{factor}}\underbrace{(x+4)}_{\text{factor}}\]
                    But we can also zoom into each parentheses. Doing so gives terms:
                    \[(\underbrace{x}_{\text{term}}-\underbrace{2}_{\text{term}})(\underbrace{x}_{\text{term}}+\underbrace{4}_{\text{term}})\]
                    But when is an entity a term or a factor? Which interpretation do we use?
                </div>
            </li>
        </ul>
    </div>

    <p>The last example shows us a fundamental law:
    </p>

    <p>Using the word "term" or "factor" requires you to  <b>specify the context</b>, or the environment in which an entity is a term/factor. Otherwise it is ambiguous!</p>

    <div class="math-def">
        <b>Global context, local context</b><br>
        <b>Global context</b> refers to the context of the entire expression.<br>
        <b>Local context</b> refers to a context smaller than the entire expression (when you zoom in).
    </div>

    <p>Two important facts:</p>

    <ol>
        <li>In each context level, only choose terms or factors. Not both!</li>
        <li>Terms and factors are context creators! <b>Zoom in on one term or factor</b> to increase one level in context.</li>
    </ol>

    <div class="math-example">
        List all possible terms/factors (and their contexts) for the expression \[(x-2)(x+4) + 3\]

        <p>Solution: $\times$ and $+$ are present outside the parentheses. We choose $+$ first: terms.</p>

        <table class="table" style="max-width: 600px; margin: 1em auto;">
            <thead>
            <tr>
                <th scope="col">Context Level</th>
                <th scope="col">Terms/Factors</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Global (L1)</td>
                <td>$\underbrace{(x-2)(x+4)}_{\text{term}} + \underbrace{3}_{\text{term}}$</td>
            </tr>
            <tr>
                <td>Local (L2)</td>
                <td>$\underbrace{(x-2)}_{\text{factor}}\underbrace{(x+4)}_{\text{factor}} + 3$</td>
            </tr>
            <tr>
                <td>Local (L3)</td>
                <td>$(\underbrace{x}_{\text{term}}-\underbrace{2}_{\text{term}})(\underbrace{x}_{\text{term}}+\underbrace{4}_{\text{term}}) + 3$</td>
            </tr>
            </tbody>
        </table>
    </div>

    <p>If you zoom correctly, the expression will always swap between terms and factors.</p>

    <p>In practice, you only need to differentiate between <b>global</b> and <b>local</b> context.</p>

    <h2>Term Context Before Factor Context</h2><hr>

    <p>In the previous example, the global context had terms. Why doesn't the global context have factors first?</p>

    <div class="math-example">
        Consider the expression $2 \cdot 3 + 5$. When using PEMDAS, we do \[2 \cdot 3 + 5 = 6 + 5 = 11\]
        Because factors (multiplication) disappears before terms (addition), the term structure stays longer than the multiplication structure!
    </div>



    <div class="math-example">
        In the expression \[(2x+3)(2x-3) - (x+2)4\] is $(2x-3)$ a global or a local factor?
        <button class="math-btn">Show Solution</button>
        <div class="math-solution">
           $(2x + 3)(2x - 3)$ and $(x + 2)4$ are global terms.<br>Zooming into the term $(2x + 3)(2x - 3)$, we can now say $(2x - 3)$ is a factor.<br>
           Therefore $(2x - 3)$ is a local factor.
        </div>
    </div>

    <div class="math-example">
        Create a mathematical expression with two global terms, where each global term contains three local factors.
        <button class="math-btn">Show Solution</button>
        <div class="math-solution">
            With two global terms, we know our global structure needs to look like \[\square + \square\]
            Then in each term, there needs to be two multiplications: \[\square \cdot \square \cdot \square + \square \cdot \square \cdot \square\]
            Now fill in the squares with factors, for example:

        \[3(x-1) (2x-4)^2 + 4x(x-1)\]

        </div>

    </div>

    <p>This previous expression seems complicated but we just discovered it was built out of terms and factors!</p>

    <div class="math-notxt"> <b style="color:var(--lavender)">Insight:</b> Terms and factors are building blocks of every mathematical expression.</div>

    <h2>Dealing With Fractions</h2><hr>

    <p>For fractional expressions, the numerator and denominator are separate global contexts.</p>

    <div class="math-example">
        Identify if you have terms or factors in the <b>global context</b>.
        <ol type="a">
            <li class="lec-list-space">
                $\dfrac{(x^2 + 1)(x + 3) + 4}{x + 3}$
                <button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    Both numerator and denominator have global terms:
                    \[\dfrac{\overbrace{(x^2 + 1)(x + 3)}^{\text{term}} + \overbrace{4}^{\text{term}}}{\underbrace{x}_{\text{term}} + \underbrace{3}_{\text{term}}}\]
                </div>
            </li>
            <li class="lec-list-space">
                $\dfrac{-x(x-2)(2x+3)}{2x + 3}$
                <button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    <span>Numerator has global factors as multiplication is the only operation present outside the parentheses.</span><br>
                    
                    <span>Denominator has global terms as both multiplication and addition are present but term structure take priority:</span>
                    \[\dfrac{\overbrace{-x}^{\text{factor}}\overbrace{(x-2)}^{\text{factor}}\overbrace{(2x+3)}^{\text{factor}}}{\underbrace{2x}_{\text{term}} + \underbrace{3}_{\text{term}}}\]
                </div>
            </li>
        </ol>
    </div>

    <h2>Why Should I Care? This is Obvious...</h2><hr>

    <p>Most algebraic mistakes result from failing to identify terms/factors and their context level.</p>

    <p>Identifying terms/factors and their context levels helps you understand:
        <ul>
            <li>What mathematical laws are <b>actually</b> saying</li>
            <li>How a complicated expression breaks down into simpler terms and factors.</li>
        </ul>
    </p>

    <p><a href="/teaching/math-118/lectures/1.1">Let's see why in the next section!</a></p>

</div>
{% endblock %}