{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - Preliminaries</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="1.1: Real Numbers"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-119/lectures/1.1"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>1.1: Real Numbers</h1>

    <p>hi i will fill this in before wednesday :)</p>

    
</div>
{% endblock %}