{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - 1.2</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="1.2: Exponents and Radicals"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures/1.2"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">
    <h1>1.2: Exponents and Radicals</h1>

    <p>Goal: Understand what $a^{m/n}$ means and how to manipulate such expressions.</p>

    <h2>Integer Exponents</h2><hr>

    <div class="math-def">
        If $a \in \mathbb{R}$, then the <b>$n$th power</b> of $a$ is \[a^n = a\cdot a \cdot \cdots a\]
    </div>

    <p>Notice how exponents are shorthand for multiplication. This means everything within an exponent is <b> a factor</b>. Keep this in mind.</p>

    <div class="math-example"> Evaluate the following:
        <ol>
            <li class="lec-list-space">$\left(\frac{1}{2}\right)^5$</li>
            <li class="lec-list-space">$(-3)^4$</li>
            <li class="lec-list-space">$-3^4$</li>
        </ol>
    </div>

    <div class="math-def"> <b>Zero</b> and <b>negative</b> exponents are defined as
        \[a^0 = 1 \qquad \qquad a^{-n} = \dfrac{1}{a^n}\]
    </div>

    <div class="math-example"> Evaluate the following:
        <ol>
            <li class="lec-list-space">$\left(\dfrac{100}{101}\right)^0$</li>
            <li class="lec-list-space">$x^{-1}$</li>
            <li class="lec-list-space">$(-2)^{-3}$</li>
        </ol>
    </div>

    <h2>Laws of Exponents</h2><hr>

    <p>In the previous problems, we expanded the exponent into the multiplications. Here are seven shortcuts you can use with exponents.</p>

    <div class="math-fact"> <b style="color: var(--factcolor)">Laws of Exponents</b><br>
        
        <ol>
            <li class="lec-list-space">$a^ma^n = a^{m+n}$</li>
            <li class="lec-list-space">$\dfrac{a^m}{a^n} = a^{m-n}$</li>
            <li class="lec-list-space">$(a^m)^n = a^{mn}$</li>
            <li class="lec-list-space">$(ab)^n = a^nb^n$</li>
            <li class="lec-list-space">$\left(\dfrac{a}{b}\right)^n = \dfrac{a^n}{b^n}$</li>
            <li class="lec-list-space">$\left(\dfrac{a}{b}\right)^{-n} = \dfrac{b^n}{a^n}$</li>
            <li class="lec-list-space">$\dfrac{a^{-n}}{b^{-m}} = \dfrac{b^m}{a^n}$</li>
        </ol>

    </div>

    <p>Notice how all of these laws require you to have <b>factors</b>. If you have terms, <b>you cannot use these laws.</b></p>

    <p>Before using Laws of Exponents, get into the habit of asking "Do I have factors? If so, identify the factors."</p>

    <div class="math-example">
        A student wishes to simplify the expression in the following way: \[(a+b)^2 = a^2 + b^2\]
        Why can't they do this?

        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            Look within the parenthesis. Since $a$ and $b$ are terms within the local context of the parenthesis, no exponent laws can apply! Therefore, the student misused Laws of Exponents (LoE) #4.
        </div>
    </div>

    <div class="math-example"> Simplify the following:

        <ol type="a">
            <li class="lec-list-space">
                $x^4x^7$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    $x^4\cdot x^7 = x^{4 + 7} = x^{11}$ by LoE 1.
                </div>
            </li>
            <li class="lec-list-space">
                $\dfrac{y^4}{y^{-7}}$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                        \begin{align}
                        \dfrac{y^4}{y^{-7}} &= y^{4 - (-7)} && \text{LoE 2}
                        \\&= y^{4 + 7} && \text{Negative Law 2}
                        \\&= y^{11}
                        \end{align}
                        You could also use Law of Exponents #7! Up to you.
                </div>
            </li>
            <li class="lec-list-space">
                $(b^4)^5$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                        \begin{align}
                        (b^4)^5 &= b^{4 \cdot 5} && \text{LoE 3}
                        \\&= b^{20}
                        \end{align}
                </div>
            </li>
            <li class="lec-list-space">
                $(3x)^3 \ \ $ (hint: what are the factors?)
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    The factors within the parenthesis are $3$ and $x$. Use LoE 4
                    \[(3x)^3 = 3^3 \cdot x^3 = 27x^3\]
                </div>
            </li>
            <li class="lec-list-space">
                $\left(\dfrac{x-1}{2}\right)^5$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    The numerator is comprised of terms. If you read LoE 5 in English, it says the global context of the numerator must receive the power. Therefore group the terms together into one factor $(x-1)$:
                    \[
                    \left(\dfrac{x - 1}{2}\right)^2 = \dfrac{(x-1)^5}{2^5} = \dfrac{(x-1)^5}{32}
                    \]
                </div>
            </li>
            <li class="lec-list-space">
                $2x^2(x-2)^3(3x^4(x-2))^3$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    This problem looks more difficult than the others. But remember: look for the factors! They break a problem into simpler ones you just saw. This strategy is called <b>divide and conquer</b> in computer science.

                    Within the rightmost factor, look within for factors as well. We see the factors are $3, x^4$ and $(x-2)$.
                        \begin{align}
                        2x^2\cdot(x-2)^3 \cdot(3x^4(x-2))^3 &= 2x^2\cdot(x-2)^3\cdot 3^3 \cdot (x^4)^3 \cdot (x-2)^3 && \text{LoE 4}
                        \\&= 2\cdot 27 \cdot x^{2}\cdot x^{12} \cdot (x-2)^{3 + 3} && \text{LoE 1, 3 and comm. prop.}
                        \\&= 54 x^{2 + 12}(x-2)^6 && \text{LoE 1}
                        \\&= 54x^{14}(x-2)^6
                        \end{align}
                </div>
            </li>
            <li class="lec-list-space">
                $\left(\dfrac{x}{y}\right)^3\left(\dfrac{xy^2}{z}\right)^4$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    Again, divide and conquer by looking at the factors (in global context). Each fraction in parenthesis is a factor. Focus within each.

                    Remember, LoE 5 says the global ctx. of the numerator and denominator needs to receive the power.
                    \begin{align}
                    \left(\dfrac{x}{y}\right)^3\left(\dfrac{xy^2}{z}\right)^4 &= \dfrac{x^3}{y^3} \cdot \dfrac{(xy^2)^4}{z^4} && \text{LoE 5}
                    \\&= \dfrac{x^3}{y^3} \cdot \dfrac{x^4 (y^2)^4}{z^4} && \text{LoE 4}
                    \\&= \dfrac{x^3}{y^3} \cdot \dfrac{x^4 y^8}{z^4} && \text{LoE 3}
                    \\&= \dfrac{x^3x^4y^8}{y^3z^4} && \text{Fraction Law 1}
                    \\&= \dfrac{x^7y^5}{z^4} && \text{LoE 1 + 2}
                    \end{align}
                </div>
            </li>
            <li class="lec-list-space">
                $\dfrac{6t^{-4}(2x+3)}{2t^2(2x+3)^{-2}}$

                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    Let's deal with the negative exponents first.
                    \begin{align}
                    \dfrac{6t^{-4}(2x+3)}{2t^2(2x+3)^{-2}} &= \dfrac{6(2x+3)(2x+3)^2}{2t^4t^2} && \text{LoE 7}
                    \\&= \dfrac{6(2x+3)^{1 + 2}}{2t^{4 + 2}} && \text{LoE 1}
                    \\&= \dfrac{3(2x+3)^3}{t^6} && \text{Fraction Law 5 (cancellation law)}
                    \end{align}
                </div>
            </li>
            <li class="lec-list-space">
                $\left(\dfrac{y}{3z^3}\right)^{-2}$

                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    The more you get into the habit of identifying factors, the more you will realize each exponent simplifcation problem is really just two steps: factor identification then matching the factor form with the correct Law of Exponents.
                    \begin{align}
                    \left(\dfrac{y}{3z^3}\right)^{-2} &= \dfrac{(3z^3)^2}{y^2} && \text{LoE 6}
                    \\&= \dfrac{3^2(z^3)^2}{y^2} && \text{LoE 4}
                    \\&= \dfrac{9z^6}{y^2} && \text{LoE 3}
                    \end{align}
                </div>
            </li>
            <li class="lec-list-space">
                $\left(\dfrac{(x-1)^{-1}(x+2)}{(x+2)^2}\right)^2$<br>

                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    Refer to in-class notes
                </div>
            </li>
        </ol>
    </div>

    <h2>Radicals</h2><hr>

    <p>What does $2^{\frac{4}{5}}$ mean? Well, $2^{\frac{4}{5}} = 2^{4 \cdot \frac{1}{5}}$. Laws of Exponents takes care of the 4.</p>

    <p>We just need to give meaning to the exponent $\frac{1}{5}$ or in general, $\frac{1}{n}$ where $n \in \mathbb{N}$.</p>

    <p>Let's do so.</p>

    <p>Recall that \[\sqrt{a} = b \qquad \text{means} \qquad b^2 = a, \ b \geq 0\]</p>

    <div class="math-example"> What is $\sqrt{4}$ and why?</div>

    Changing the $2$ into any $n \in \mathbb{N}$:

    <div class="math-def"> If $n \in \mathbb{N}$ then the <b>principal <i>n</i>th root</b> of $a$ is defined as \[\sqrt[n]{a} = b \qquad \text{means} \qquad b^n = a\] If $n$ is even, we must have $a \geq 0, b \geq 0$.</div>

    <div class="math-example"> Simplify:
        <ul>
            <li class="lec-list-space">$\sqrt[4]{81}$</li>
            <li class="lec-list-space">$\sqrt[3]{-8}$</li>
        </ul>
    </div>

    <h2>Rational Exponents</h2><hr>

    <div class="math-def"> For any rational exponent $m/n$ in lowest terms, we define \[a^{m/n} = (\sqrt[n]{a})^m = \sqrt[n]{a^m}\]</div>

    <p>Denominator becomes the principal <i>n</i>th root, numerator becomes the exponent within the root.</p>

    <p>Laws of Exponents also hold for rational exponents.</p>

    <div class="math-example"> Simplify:
        <ol type="a">
            <li class="lec-list-space">$4^{1/2}$</li>
            <li class="lec-list-space">$8^{2/3}$</li>
            <li class="lec-list-space">$125^{-1/3}$</li>
            <li class="lec-list-space">$(2x^2 + 2)^{1/3}(2x^2 + 2)^{7/3}$</li>
            <li class="lec-list-space">$\dfrac{(x-2)^{2/5}(2x-1)^{7/5}}{(x-2)^{3/5}}$</li>
        </ol>

        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            
            <ol type="a">
                Each equal sign is either a law or a definition.
                <li class="lec-list-space">$4^{1/2} = \sqrt[2]{4^1} = 2$</li>
                <li class="lec-list-space">$8^{2/3} = \sqrt[3]{8^2} = \sqrt[3]{64} = \sqrt[3]{2^6} = 2^{\frac{6}{3}} = 2^2 = 4$</li>
                <li class="lec-list-space">
                    \begin{align}
                        125^{-1/3} &= \dfrac{1}{125^{\frac{1}{3}}} && \text{Definition of negative exponent}
                        \\&= \dfrac{1}{\sqrt[3]{125}} && \text{Definition of rational exponent}
                        \\&= \dfrac{1}{\sqrt[3]{5^3}} && \text{Prime Factorization}
                        \\&= \dfrac{1}{5}
                    \end{align}
                </li>
                <li class="lec-list-space"> Remember, if you don't know what to do, look for the factors! Clearly, LoE 1 should be applied.
                    
                \begin{align}
                (2x^2 + 2)^{1/3}(2x^2 + 2)^{7/3} &= (2x^2 + 2)^{\frac{1}{3} + \frac{7}{3}} && \text{LoE 1}
                \\&= (2x^2 + 2)^{\frac{1 + 7}{3}} && \text{Fraction Law 3}
                \\&= (2x^2 + 2)^{\frac{8}{3}}
                \end{align}
                </li>
                <li class="lec-list-space">Refer to in-class notes.</li>
            </ol>
        </div>
    </div>
    
</div>
{% endblock %}