{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - 1.3</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - lectures"/>
<meta name="theme-color" content="transparent"/>
<meta property="og:description" content="1.3: Expanding and Factoring"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures/1.3"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding teaching-container">
    <h1>1.3: Expanding and Factoring</h1>

    <p>Goal: Understand like terms, expanding, and factoring.</p>

    <p>As always, looking for the structure of an expression before even writing anything down is crucial to using the correct properties!</p>

    <h2>Algebraic Expressions</h2><hr>

    <p>Algebraic expressions are just operations, numbers, and variables mixed together. For example \[2x^2 - 3x + 4 \qquad \sqrt{x} + 10 \qquad (x + 1)(x + 2) \qquad (a + b + c)^2(x^2y + 3)\] are all algebraic expressions.</p>

    <h2>Adding and Subtracting</h2><hr>

    <p>To add and subtract algebraic expressions, look for <b>like terms</b>.</p>

    <div class="math-def"> <b>Like terms</b><br>
        <b>Like terms</b> are terms with the same factors except for the numerical factor (called the <b>coefficient</b>).
    </div>

    <div class="math-example">
        Which are like terms?
        <ul>
            <li class="lec-list-space">$x^3$ and $3x^3$</li>
            <li class="lec-list-space">$-4x^2y^2$ and $3y^2x^2$</li>
            <li class="lec-list-space">$-(x+2)(x+1)$ and $3(x+1)(x+2)$</li>
        </ul>
    </div>

    <p>Remember: identify the factors. This is your guiding light.</p>

    <p>To add like terms, we undo the distributive law: \[x^3 + 2x^3 = 1\cdot x^3 + 2\cdot x^3 = x^3(1 + 2) = 3x^3\]</p>

    <p>In essence, add together the coefficients for like terms.</p>

    <div class="math-example">
        Add and subtract the following:
        <ul>
            <li class="lec-list-space">$x^3 + 2x^2 + 3x^3$</li>
            <li class="lec-list-space">$(4x^2y + 3xy^2) - (3x^2y^2 - 2xy^2)$</li>
            <li class="lec-list-space">Suppose \[a = 4x^3 - x^2 \qquad b = - 2x^2 + x^3 - x\]
                Calculate $a - b$.
            </li>
        </ul>
    </div>

    <h2>Multiplying</h2><hr>

    <p>Multiplying is also called <b>expanding</b>. Expanding problems are just the distributive law applied.</p>

    <p>In expanding problems, you always start with <b>factors</b> and you end with <b>terms</b> (context if not explicitly mentioned is always the entire expression).</p>

    <p>Look at the distibutive law: \[a\cdot(b + c) = a\cdot b + a \cdot c\]</p>

    <p>The Law is saying for the <b>factor</b> $a$ outside the parenthesis, distibutive it to each <b>term</b> within the parenthesis.</p>

    <div class="math-example">
        Expand the following:
        <ul>
            <li class="lec-list-space">$(2x + 1)(3x - 5)$</li>
            <li class="lec-list-space">$(x^2 + 2x + 1)(x + 1)$</li>
            <li class="lec-list-space">Simplify the following: $3(x+1)^2 - (x - 2)x$</li>
        </ul>
    </div>

    <h2>Special Product Formulas</h2><hr>

    <p>Here are three formulas you should be able to recall from memory. Your calculus professor will expect you to immediately be able to see these, especially the first one.</p>

    <div class="math-fact">
        <ul>
            <li class="lec-list-space">$(A + B)(A - B) = A^2 - B^2$</li>
            <li class="lec-list-space">$(A + B)^2 = A^2 + 2AB + B^2$</li>
            <li class="lec-list-space">$(A - B)^2 = A^2 - 2AB + B^2$</li>
        </ul>
    </div>

    <p>Note that $A$ just needs to be a <b>term</b>. $A$ could be $(x + y)$. It could be $2x$. Hopefully you are starting to see the importance of identifying terms/factors. It is in everything we do!</p>

    <div class="math-example"> Expand the following using the formulas:
        <ul>
            <li class="lec-list-space">$(2x + 1)^2$</li>
            <li class="lec-list-space">$(2x - 3)(2x + 3)$</li>
        </ul>
    </div>

    <h2>Factoring</h2><hr>

    <p>Consider this expanding problem: \[(x+4)(x+3) = x^2 + 7x + 12\] The expression structure on the left is all factors.</p>

    <p>On the right, it is all terms.</p>

    <p>If we start from the right and move backwards instead, this process is called <b>factoring</b>.</p>

    <p>Factoring converts terms into factors and is the reverse process of expanding.</p>

    <h3>Method 1: Greatest Common Factor (among terms)</h3><hr>

    <p>Identify all terms.</p>

    <p>For each term, identify the factors.</p>

    <p>From each term, pull out all factors in common among all terms.</p>

    <div class="math-example"> Factor each expression:

        <ul>
            <li class="lec-list-space">$3x^2 - 6x$</li>
            <li class="lec-list-space">$8x^4y^2 + 6x^3y^3 - 2xy^4$</li>
            <li class="lec-list-space">$(2x + 4)(x-3) - 5(x-3)$</li>
        </ul>

    </div>

    <p>If you plan to take Calculus, the following type of factoring problem is common after you use what's called the <b>Product Rule</b>.</p>

    <div class="math-example">
        Factor: \[3(2x+1)^2(3x^2-4)^2 + 12x(3x^2 - 4)(2x+1)^3\]
    </div>

    <h3 id="newx">Method 2: Factoring the form $ax^2 + bx + c$.</h3><hr>

    <p>This method works on three terms. Some examples include \begin{align}
        &x^2 + 4x + 3 \\&x^2 - 4 \\&2(x+1)^2 - 7(x+1) + 3\end{align}</p>

    <h4 style="text-decoration: underline;">Intuition</h4>

    <!---->

    <p>Consider this expansion problem \begin{align}\definecolor{lavender}{RGB}{179,154,240} \definecolor{lightyellow}{RGB}{236, 231, 141} \definecolor{lightblue}{RGB}{142, 181, 227} -(2x + 1)(3x - 5) &= {\color{lavender} 6 }x^2 \ {\color{lightblue}-} \ {\color{lightblue}10}x \ {\color{lightblue}+} \ {\color{lightblue}3}x \ {\color{lightyellow}
    -} \ {\color{lightyellow} 5} \\&= {\color{lavender}6}x^2  \ {\color{lightblue}-} \ {\color{lightblue}7}x \ {\color{lightyellow}-} \ {\color{lightyellow} 5}\end{align}</p>

    <p>Here, ${\color{lavender} a = 6}, {\color{lightblue}b = -7}, {\color{lightyellow} c = -5}$.</p>

    <p>Arrange the factors vertically and erase the $x$: \begin{align}(2 \ \ & \ + 1) \\ (3 \ \ & \ - 5) \end{align}</p>

    <p>Insights:
        <ol>
            <li>First column product is
                <ul style="display: flex; list-style: none; max-width: 400px; margin: 0 auto; align-items: center; padding: 0;">
                    <li style="flex-grow: 1;">\[2 \cdot 3 = 6 = {\color{lavender}a}\]</li>
                    <li style="flex-grow: 1;">\begin{align}(2 \ \ & \ + 1) \\ \downarrow \ & \ \ \ \  \\ (3 \ \ & \ - 5) \end{align}</li>
                </ul>
                
            </li>
            <li>Second column product is 
                <ul style="display: flex; list-style: none; max-width: 400px; margin: 0 auto; align-items: center; padding: 0;">
                    <li style="flex-grow: 1;">\[1 \cdot (-5) = -5 = {\color{lightyellow}c}\]</li>
                    <li style="flex-grow: 1;">\begin{align}(2 \ \ & \ + 1) \\  \ \ & \ \ \ \ \downarrow  \\ (3 \ \ & \ - 5) \end{align}</li>
                </ul>
            </li>
            <li>Cross product and sum 
                <ul style="display: flex; list-style: none; max-width: 400px; margin: 0 auto; align-items: center; padding: 0;">
                    <li style="flex-grow: 1;"> \begin{align}2 \cdot (-5) + 1 \cdot 3 &= {\color{lightblue}-10 + 3} \\&= -7 \\&= {\color{lightblue}b}\end{align}</li>
                    <li style="flex-grow: 1;">\begin{align}(2 \ \ & \ + 1) \\  \ & \hspace{-0.38em}{\LARGE\diagup} \hspace{-1.45em}{\LARGE\diagdown}\ \ \  \ \  \\ (3 \ \ & \ - 5) \end{align}</li>
                </ul>

            </li>
        </ol>
    </p>

    <p>But we are trying to factor. Given $\color{lavender} a = 6$, you do not know beforehand that it must be $2\cdot 3$. It could be $1\cdot 6$! Therefore you need to generate candidates!</p>

    <p><a href="/static/swrlly/files/xmethod.pdf">See this handout for more examples.</a></p>

    <p>Let's call this the "new" X method.</p>

    <h4 style="text-decoration: underline;">Method: "new" X method</h4>

    <p>Given $ax^2 + bx + c$:</p>

    <p>First, write the coefficient structure: 
        \begin{align} ( \ \_  \  &\ \  \_ \ ) \\ (\ \_  \ &\ \ \_ \ ) \end{align}
        Then:
        <ol>
            <li>Generate candidates for $a$ (first column product, all possibilities of two numbers that multiply to $a$).</li>
            <li>Generate candidates for $c$ (second column product, all possibilities of two numbers that multiply to $c$).</li>
            <li>Choose the right candidates by checking the cross-product and sum against $b$.</li>
        </ol>
    </p>

    <div class="math-example"> 
        Factor: \[x^2 + 7x + 12\] 
        
        <!--Here's the solution: <br>
        
        <ul style="display: flex; list-style: none; max-width: 800px; max-height: 600px; margin: 0 auto; align-items: stretch; box-sizing: border-box;">
            <li style="flex: 1; border: 1px solid black; padding: 0.75em;">

            <p>We first identify ${\color{lavender} a = 1}, {\color{lightblue}b = 7}, {\color{lightyellow}c = 12}$. </p>
              
            <p>Make your coefficient structure</p>
              
            \begin{align} ( \ \_  \  &\ \  \_ \ ) \\ (\ \_  \ &\ \ \_ \ ) \end{align}
            </li>
            <ul class="xmethod" style="display: flex; list-style:none; flex-direction: column; flex: 3;">
              
              <li style="border: 1px solid; padding: 0.75em; align-items: center;"> Candidates for $a$:
                <table style="display: inline-flex;">
                  <tr>
                    <td>$1$</td>
                  </tr>
                  <tr>
                    <td>$1$</td>
                  </tr>
                </table>
              </li>
              
              <li style="border: 1px solid; padding: 0.75em; align-items: center;"> Candidates for $c$:
                <table style="display: inline-flex;">
                  <tr>
                    <td style="border-right: 1px solid;">$1$</td>
                    <td style="border-right: 1px solid;">$12$</td>
                    <td style="border-right: 1px solid;">$2$</td>
                    <td style="border-right: 1px solid;">$6$</td>
                    <td style="border-right: 1px solid;">$3$</td>
                    <td>$4$</td>
                  </tr>
                  <tr>
                    <td style="border-right: 1px solid;">$12$</td>
                    <td style="border-right: 1px solid;">$1$</td>
                    <td style="border-right: 1px solid;">$6$</td>
                    <td style="border-right: 1px solid;">$2$</td>
                    <td style="border-right: 1px solid;">$4$</td>
                    <td>$3$</td>
                  </tr>
                </table>
              </li>
              
              <li style="border-left: 1px solid; border-right: 1px solid; padding: 0.75em;">Now check candidates against $b$:
              </li>
              <li style="border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; padding: 0.75em;">\begin{align}(2 \ \ & \ + 1) \\ \downarrow \ & \ \ \ \  \\ (3 \ \ & \ - 5) \end{align}
              </li>
            </ul>
        </ul>-->
    </div>

    <p></p>

    <div class="math-example"> 
        Factor: \[2x^2 + 5x + 2\]    
    </div>

    <div class="math-example"> 
        Factor: \[6x^2 + 7x - 5\]    
    </div>

    <div class="math-example"> 
        Factor: \[(5a+1)^2 - 2(5a + 1) - 3\]    
    </div>


    <h3>Method 3: Special Factoring Formulas</h3><hr>

    <p>The three special product formulas give the special factoring formulas.</p>

    <div class="math-fact">
        <ul>
            <li class="lec-list-space">$A^2 - B^2 = (A-B)(A+B)$</li>
            <li class="lec-list-space">$A^2 + 2AB + B^2 = (A+B)^2$</li>
            <li class="lec-list-space">$A^2 - 2AB + B^2 = (A-B)^2$</li>
        </ul>
    </div>

    <div class="math-example"> Factor:
        <ul>
            <li class="lec-list-space">$4x^2 - 25$</li>
            <li class="lec-list-space">$(x+y)^2 - z^2$</li>
        </ul>
    </div>

    <h3>Method 4: Grouping</h3><hr>

    <p>This method works on four terms.</p>

    <p>We group first two/last two terms together, then use GCF on both groups.</p>

    <div class="math-example"> Factor:
        <ul>
            <li class="lec-list-space">$x^3  + x^2 + 4x + 4$</li>
            <li class="lec-list-space">$x^3 - 2x^2 - 9x + 18$</li>
        </ul>
    </div>

    <p>The last example shows even though we did have all factors, we sometimes can keep factoring a factor. We may need to use multiple methods.</p>

    <h3>Multiple Methods</h3><hr>

    <p>Remember, before even starting a factoring problem, <b>identify the terms and how many there are.</b></p>

    <p>Doing so helps you to choose a correct strategy.</p>

    <div class="math-example"> Factor:
        <ul>
            <li class="lec-list-space">$2x^4 - 8x^2$</li>
            <li class="lec-list-space">$3x^2(x-1) - 16x(x-1) + 5(x-1)$</li>
        </ul>
    </div>


    
</div>
{% endblock %}