{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - 1.5</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="1.5: Equation"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures/1.4"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>1.5: Equations</h1>

    <p>An <b>equation</b> is a statement where two expressions are equal. For example \[3 + 5 = 8 \qquad \qquad 4x + 7 = 16\]</p>

    <h2>Solving Equations</h2><hr>

    <p>To preserve equality (be able to write down "$=$" and have it be true) we have seen one method already: <b>multiplying by one</b>. For example: 
        \begin{align}
        \dfrac{1}{6} + \dfrac{1}{8} &= 1\cdot \dfrac{1}{6} + \dfrac{1}{8} \cdot 1 
        \\ &= \dfrac{4}{4}\cdot \dfrac{1}{6} + \dfrac{1}{8}\cdot \dfrac{3}{3}
        \end{align}
    </p>

    <p>Useful for introducing something you need, such as LCD or rationalizing!</p>

    <p>There are also operations of equality. If you $+, -, \times, \div$ by the same number on each side, equality is also preserved.</p>

    <h2>Solving for a Variable</h2><hr>

    <p><b>Solving an equation</b> means to find all values of the variables which makes the equation true.</p>

    <div class="math-example"> For the equation $3x + 4 = 10$, what value of $x$ solves the equation?</div>

    <div class="math-example"> Solve the equation $7x - 4 = 3x + 8$.</div>

    <div class="math-example"> Solve for (isolate) $M$ in the equation $F = G\dfrac{mM}{r^2}$.</div>

    <div class="math-example"> Isolate $w$ in the equation $A = 2lw + 2wh + 2lh$.</div>

    <div class="math-example"> Isolate $x$ in the equation $a - b(c + dx) = ex$.</div>

    <h2>Quadratics</h2><hr>




{% endblock %}