{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - 1.9</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="1.9: Coordinate Plane, Graphs of Equations"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures/1.9"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>1.9: Coordinate Plane, Graphs of Equations</h1>

    <h2>The Coordinate Plane</h2><hr>

    <p>The coordinate plane describes where a point is in two dimensional space.</p>

    <p>Here is an example:</p>

    <img class="img-shadow" src="/static/swrlly/images/teaching/118-1.9-1.svg" style="max-width:600px;"/>

    <p>Note:
        <ul>
            <li>
                The <b>$x$-axis</b> and <b>$y$-axis</b> are real number lines, oriented perpendicularly. They intersect at the <b>origin</b> $(0,0$).</b>
            </li>
            <li>A coordinate $(x, y)$ means to move left/right $x$ units from the origin, and up/down $y$ units. </li>
            <li>The $x$- and $y$-axis divide up space into <b>quadrants</b>, which are labeled I, II, III and IV above.</li>
        </ul>
    </p>

    <div class="math-example">
        Plot the points $(-1, 2), (-2, -4), (3, -1), (1, 1)$.
    </div>

    <h2>Graphs of Equations</h2><hr>

    <p>Consider $2x - y = 3$.</p>

    <p>If $x = 2$ and $y = 1$, then the equation is true. You can represent this as a coordinate $(2, 1)$.</p>

    <p>But $(4, 5)$ works as well. In fact, there are infinite possibilities.</p>

    <p>These possibilities are called the <b>graph</b>.</p>

    <div class="math-def"> A <b>graph</b> of an equation in $x$ and $y$ is all points $(x, y)$ which make the equation true.</div>

    <div class="math-example">
        Sketch the graph of $2x - y = 3$ in the coordinate plane.</div>

    <div class="math-example">
        Sketch the graph of $y = x^2 - 2$ in the coordinate plane.</div>

    <div class="math-example">
        Sketch the graph of $y = \lvert x \rvert$ in the coordinate plane.</div>

    <h2>Intercepts</h2><hr>

    <div class="math-def">
        The <b>$x$-intercept</b> of a graph is the $x$-coordinate where the graph intersects the $x$-axis.<br>
        The <b>$y$-intercept</b> of a graph is the $y$-coordinate where the graph intersects the $y$-axis.
    </div>

    <p>To find all $x$-intercepts, set $y = 0$ and solve for $x$.</p>

    <p>To find all $y$-intercepts, set $x = 0$ and solve for $y$.</p>

    <div class="math-example">
        Given $y = x^2 - 2$, find all $x$- and $y$-intercepts.
    </div>

</div>


{% endblock %}