{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - 1.9</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="1.9: Coordinate Plane, Graphs of Equations"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures/1.9"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>1.9: Coordinate Plane, Graphs of Equations</h1>

   

</div>


{% endblock %}