{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - 2.3</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="2.3: Using the Graph"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures/2.3"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>2.3: Using the Graph</h1>

    <p>The graph tells us a wealth of information about a function.</p>

    <p>Domain</p><hr>

    <p>Solving Equations and Inequalities</p><hr>

    <p>Increasing/Decreasing Functions</p><hr>

    <p


</div>

{% endblock %}