{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - 2.6</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="2.6: Transformations of Functions"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures/2.6"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>2.6: Transformations of Functions</h1>

    <p>This section describes how to transform <b>parent functions</b>, which are simple functions you will encounter.</p>

    <h2>Parent Functions</h2><hr>

    <p>Parent functions are functions that have different shapes, based on their formula. Memorize the following.</p>

    <div class="large-screen">
        <div style="display:grid; column-gap:4vw; grid-template-columns: repeat(4, 1fr);">
            <span style="margin: 0.5rem auto;">$\large f(x) = x$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = x^2$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = \sqrt{x}$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = \lvert x \rvert$</span>
            <img style="margin: 1rem auto;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-1.svg"/>
            <img style="margin: 1rem auto;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-2.svg"/>
            <img style="margin: 1rem auto;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-3.svg"/>
            <img style="margin: 1rem auto;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-4.svg"/>
        </div>
    </div>

    <div class="small-screen">
        <div style="display:grid; column-gap:4vw; grid-template-columns: repeat(2, 1fr);">
            <span style="margin: 0.5rem auto;">$\large f(x) = x$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = x^2$</span>
            <img style="margin: 1rem auto; max-width:250px;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-1.svg"/>
            <img style="margin: 1rem auto;  max-width:250px;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-2.svg"/>
            <span style="margin: 0.5rem auto;">$\large f(x) = \sqrt{x}$</span>
            <span style="margin: 0.5rem auto;">$\large f(x) = \lvert x \rvert$</span>
            <img style="margin: 1rem auto; max-width:250px;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-3.svg"/>
            <img style="margin: 1rem auto; max-width:250px;" class="img-shadow" src="/static/swrlly/images/teaching/118-2.6-4.svg"/>
        </div>
    </div>

    <p>In transformations, every line in the plane can be transformed from $f(x) = x$. Let's see how.</p>

    <h2>Vertical Shift</h2><hr>
    
    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Vertical Shifts of Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">To graph $y = f(x) + c$, shift $f(x)$ upwards $c$ units. </span>
                <span class="precalc-trans-text">To graph $y = f(x) - c$, shift $f(x)$ downwards $c$ units. </span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-5.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-6.svg"/>
            </div>
    
        </div>
    </div>

    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Vertical Shifts of Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">To graph $y = f(x) + c$, shift $f(x)$ upwards $c$ units. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-5.svg"/>
                <span class="precalc-trans-text">To graph $y = f(x) - c$, shift $f(x)$ downwards $c$ units. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-6.svg"/>
            </div>
    
        </div>
    </div>

    <p>To identify transformations, remove every number except for the variable $x$. The result is the parent!</p>

    <div class="math-example">
        Identify the parent function and the transformation(s):
        <ul>
            <li>
                $g(x) = x^2 + 2$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    <p>Parent is $f(x) = x^2$.</p> 
                    <p>Transformation is vertical shift up 2 units because $g(x) = f(x) + 2 = x^2 + 2$.</p>
                </div>
            </li>
            
            <li>
                $g(x) = -2 + \sqrt{x}$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    <p>Parent is $f(x) = \sqrt{x}$.</p>
                    <p>Transformation is vertical shift down 2 units because 
                    \begin{align}
                    g(x) &= f(x) -2 \\&= \sqrt{x} - 2 \\&= -2 + \sqrt{x}
                    \end{align}
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <h2>Horizontal Shift</h2><hr>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Horizontal Shifts of Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">To graph $y = f(x - c)$, shift $f(x)$ right $c$ units. </span>
                <span class="precalc-trans-text"> To graph $y = f(x + c)$, shift $f(x)$ left $c$ units.  </span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-7.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-8.svg"/>
            </div>
    
        </div>
    </div>
        
    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Horizontal Shifts of Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">To graph $y = f(x - c)$, shift $f(x)$ right $c$ units. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-7.svg"/>
                <span class="precalc-trans-text"> To graph $y = f(x + c)$, shift $f(x)$ left $c$ units.  </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-8.svg"/>
            </div>
    
        </div>
    </div>

    <div class="math-example">
        Identify the parent function and the transformation(s):
        <ul>
            <li>$g(x) = (x-3)^2$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    <p>Parent is $f(x) = x^2$.</p>
                    <p>Transformation is horizontal shift right 3 units because $g(x) = f(x-3)$.</p>
                </div>
            </li>
            <li>$g(x) = -3 + \lvert x + 2\rvert$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    <p>Parent is $f(x) = \lvert x \rvert$.</p>
                    <p>Transformations are vertical shift down 3 units and horizontal shift left 2 units because $g(x) = -3 + f(x + 2)$.</p>
                </div>
            </li>
        </ul>
    </div>

    <h2>Reflection</h2><hr>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Reflecting Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">To graph $y = -f(x)$, reflect $f(x)$ around the $x$-axis.</span>
                <span class="precalc-trans-text">To graph $y = f(-x)$, reflect $f(x)$ around the $y$-axis.</span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-9.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-10.svg"/>
            </div>
    
        </div>
    </div>
        
    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Reflecting Graphs</b><br>
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">To graph $y = -f(x)$, reflect $f(x)$ around the $x$-axis. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-9.svg"/>
                <span class="precalc-trans-text">To graph $y = f(-x)$, reflect $f(x)$ around the $y$-axis. </span>
                <img class="img-shadow precalc-trans-picture-sm" src="/static/swrlly/images/teaching/118-2.6-10.svg"/>
            </div>
    
        </div>
    </div>

    <div class="math-beware"> If there is a horizontal shift + another horizontal transformation, make sure the coefficient of $x$ is $1$ before identifying transformations.</div>

    <p>In particular, a reflection around the $y$-axis is a horizontal transformation.</p>

    <div class="math-example">
        Identify the parent function and the transformation(s):
        <ul>
            <li>
                $g(x) = -\sqrt{-x}$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    <p>Parent is $f(x) = \sqrt{x}$.</p>
                    <p>Transformations are reflection around $x$- and $y$-axis because $g(x) = -f(-x)$.</p>
                </div>
            </li>
            <li>
                $g(x) = \sqrt{-x - 2}$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    <p>Parent is $f(x) = \sqrt{x}$.</p>
                    <p>The $-x$ seems like a reflection around the $y$-axis and the $-2$ a horizontal shift right 2 units. This is incorrect due to the presence of 2 horizontal transformations.</p>
                    <p>Factor out the $-$ to get $g(x) = \sqrt{-x - 2} = \sqrt{-(x+2)}$.</p>
                    <p>Transformations are reflection around the $y$-axis and horizontal shift left 2 units because $g(x) = f(-(x+2))$.</p>
                </div>
            </li>
        </ul>
    </div>

    <h2>Vertical Stretch/Shrink</h2><hr>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Vertical Stretching and Shrinking</b><br>
            To graph $y = c\cdot f(x)$:
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">If $c > 1$, stretch $f(x)$ vertically by a factor of $c$.</span>
                <span class="precalc-trans-text">If $0 < c < 1$, shrink $f(x)$ vertically by a factor of $c$.</span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-11.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-12.svg"/>
            </div>
    
        </div>
    </div>
        
    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Vertical Stretching and Shrinking</b><br>
            To graph $y = c\cdot f(x)$:
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">If $c > 1$, stretch $f(x)$ vertically by a factor of $c$.</span>
                <img class="img-shadow precalc-trans-picture-sm" style="max-width:400px;" src="/static/swrlly/images/teaching/118-2.6-11.svg"/>
                <span class="precalc-trans-text">If $0 < c < 1$, shrink $f(x)$ vertically by a factor of $c$.</span>
                <img class="img-shadow precalc-trans-picture-sm" style="max-width:400px;" src="/static/swrlly/images/teaching/118-2.6-12.svg"/>
            </div>
    
        </div>
    </div>

    <div class="math-example">
        Identify the parent function and the transformation(s):
        <ul>
            <li class="lec-list-space">
                $g(x) = \frac{1}{2}\sqrt{x - 2} + 2$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    <p>Parent is $f(x) = \sqrt{x}$.</p> <!-- apparantely the spec says ul can't be in p-->
                    <p style="margin-bottom:0;">Transformations are</p>
                    <ul>
                        <li>vertical shrink by a factor of $\frac{1}{2}$</li>
                        <li>horizontal shift right 2 units</li>
                        <li>vertical shift up 2 units</li>
                    </ul> 
                    <p>because $g(x) = \frac{1}{2}f(x - 2) + 2$.</p>
                </div>
            </li>
            <li>
                $g(x) = 2(3 - x)^2$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    <p>Parent is $f(x) = x^2$.</p>
                    <p>$x$ is negative and there is also the term $3$, which are two horizontal transformations.</p>
                    <p>Factor out the $-$ to get 
                        \begin{align}
                        g(x) &= 2(3-x)^2 \\&= 2(-x + 3)^2 \\&= 2\big[-(x - 3)\big]^2
                        \end{align}</p>
                    <p style="margin-bottom:0;">Transformations are</p>
                    <ul>
                        <li>vertical stretch by a factor of 2</li>
                        <li>$y$-axis reflection</li>
                        <li>horizontal shift right 2 units</li>
                    </ul> 
                    <p>because $g(x) = 2f(-(x-2))$.</p>
                </div>
            </li>
        </ul>
    </div>

    <h2>Horiztonal Stretch/Shrink</h2><hr>

    <div class="large-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Horizontal Stretching and Shrinking</b><br>
            To graph $y = f(c\cdot x)$:
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(2, 1fr);">
                <span class="precalc-trans-text">If $c > 1$, shrink $f(x)$ horizontally by a factor of $\frac{1}{c}$.</span>
                <span class="precalc-trans-text">If $0 < c < 1$, stretch $f(x)$ horizontally by a factor of $\frac{1}{c}$.</span>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-14.svg"/>
                <img class="img-shadow precalc-trans-picture" src="/static/swrlly/images/teaching/118-2.6-13.svg"/>
            </div>
    
        </div>
    </div>
        
    <div class="small-screen">
        <div class="math-fact-notxt"> <b style="color:var(--factcolor);">Horizontal Stretching and Shrinking</b><br>
            To graph $y = c\cdot f(x)$:
            <div style="display:grid; column-gap:6vw; grid-template-columns: repeat(1, 1fr);">
                <span class="precalc-trans-text">If $c > 1$, shrink $f(x)$ horizontally by a factor of $\frac{1}{c}$.</span>
                <img class="img-shadow precalc-trans-picture-sm" style="max-width:400px;" src="/static/swrlly/images/teaching/118-2.6-14.svg"/>
                <span class="precalc-trans-text">If $0 < c < 1$, stretch $f(x)$ horizontally by a factor of $\frac{1}{c}$.</span>
                <img class="img-shadow precalc-trans-picture-sm" style="max-width:400px;" src="/static/swrlly/images/teaching/118-2.6-13.svg"/>
            </div>
    
        </div>
    </div>

    <div class="math-example">
        Identify the parent function and the transformation(s):
        <ul>
            <li>
                $f(x) = -3 - \sqrt{\frac{1}{2}x}$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    <p>Parent is $f(x) = \sqrt{x}$.</p>
                    <p style="margin-bottom:0;">Transformations are</p>
                    <ul>
                        <li>vertical shift down 3 units</li>
                        <li>$x$-axis reflection</li>
                        <li>horizontal stretch by a factor of $\dfrac{1}{\frac{1}{2}} = 2$ units</li>
                    </ul> 
                    <p>because $g(x) = -f\left(-\frac{1}{2}\right)$.</p>
                </div>
            </li>
            <li>
                $f(x) = 1 - \left(3 - 6x\right)^2$
                <br/><button class="math-btn">Show Solution</button>
                <div class="math-solution">
                    <p>Parent is $f(x) = x^2$.</p>
                    <p>$x$ is negative, there is a term $3$ and a factor 6, which are three horizontal transformations.</p>
                    <p>Factor out the $-6$ to get 
                        \begin{align}
                        g(x) &= 1 - \left(3 - 6x\right)^2 \\&= 1 - \left(-6x + 3\right)^2 \\&= 1 - \left[-6\left(x - \frac{1}{2}\right)\right]^2
                        \end{align}</p>
                    <p style="margin-bottom:0;">Transformations are</p>
                    <ul>
                        <li>vertical shift up 1</li>
                        <li>$x-$axis reflection</li>
                        <li>$y$-axis reflection</li>
                        <li>horizontal shrink by a factor of $\frac{1}{6}$</li>
                        <li>horizontal shift right $\frac{1}{2}$ units</li>
                    </ul> 
                    <p>because $g(x) = 1 - f\left(-6\left(x - \frac{1}{2}\right)\right)$.</p>
                </div>
            </li>
        </ul>
    </div>

    <h2>Graphing</h2><hr>

    <p>I will complete these on Sunday.</p>

</div>

{% endblock %}