{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - 2.7</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="2.7: Combining Functions"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures/2.7"/>

{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>2.7: New Functions From Old</h1>

    <p>It is possible to take multiple functions, smash them together, and the result is still a function!</p>

    <p>There are two ways:</p>

    <h2>Using Operations</h2><hr>

    <!--<div class="math-def">
    Suppose $f$ and $g$ are functions with domains $A$ and $B$, respectively. Then the new functions $f+g, f-g, f\cdot g$ and $\frac{f}{g}$ are defined as follows:
    \begin{align}
    (f+g)(x) &= f(x) + g(x) && \text{Domain } A \cap B \\
    (f-g)(x) &= f(x) - g(x) && \text{Domain } A \cap B\\
    (f\cdot g)(x) &= f(x)\cdot g(x) && \text{Domain } A \cap B\\
    \left(\frac{f}{g}\right)(x) &= \frac{f(x)}{g(x)} && \text{Domain } \{x \in A 
        \cap B : g(x) \neq 0\}
    \end{align}
    </div>-->

    <p>$+, -, \times, \div$ functions together is simple: just substitute. But...</p>
    
    <div class="math-beware"> When you are subtracting and multiplying functions with two or more terms, <b style="color: var(--bewarecolor)">do not forget parenthesis.</b></div>

    <div class="math-example"> Suppose $f(x) = x^2 + x$ and $g(x) = -x^2 - x$.<br>Evaluate and expand/simplify  $f(x)+g(x), f(x)-g(x)$ and$ f(x)g(x)$ and find their domains.

        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            Substituting and expanding:

            \begin{align} 
            f(x) + g(x) &= x^2 + x + -x^2 - x \\&= \boxed{0} 
            \end{align}
            \begin{align} 
            f(x) - g(x) &= x^2 + x - (-x^2 - x) \\&= x^2 + x + x^2 + x \\&= \boxed{2x^2 + 2x} 
            \end{align}
            \begin{align} 
            f(x)g(x) &= (x^2 + x)(-x^2 - x) \\&= (x^2 + x)(-x^2) + (x^2 + x)(-x) \\&= -x^4 - x^3 - x^3 - x^2 \\&= \boxed{-x^4 - 2x^3 - x^2}
            \end{align}  

            <!--Since $\mathbb{R} \cap \mathbb{R} = \mathbb{R}$, all functions have domain $\mathbb{R}$.-->
            </ol>
        </div>
    </div>

    <p>When you cancel a common factor in a divided function, you must exclude the zero of that factor from the domain.</p>

    <p>Such a factor is called a <b>hole</b>.</p>

    <div class="math-example">
        With the functions from the previous example, evaluate $\dfrac{f(x)}{g(x)}$ and find the domain.

        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            \begin{align}
            \frac{f(x)}{g(x)} &= \frac{x^2 + x}{-x^2  -x} \\&= \frac{x(x+1)}{-x(x + 1)} \\&= \frac{1}{-1} \\&= \boxed{-1 , \ x \neq 0, x \neq -1}
            \end{align}

            The holes are at $x = 0$ and $x = -1$. Remove the holes to obtain the domain: $(-\infty, -1) \cup (-1, 0) \cup (0, \infty)$.
        </div>
    </div>

    <p>Here's a typical problem from Calculus.</p>

    <div class="math-example">
        Suppose \begin{align} f(x) &= (2x+1)^2 \\ f'(x) &= 4(2x+1) \\ g(x) &= (3x^2 - 2)^2 \\ g'(x) &= 12x(3x^2 - 2) \end{align}
        Simplify $\dfrac{g(x)f'(x) - f(x)g'(x)}{\left[g(x)\right]^2}$.
        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            Upon substitution, you need to simplify a fraction. <a href="/teaching/math-118/lectures/1.4#simplify">Section 1.4 says to factor and cancel.</a><br> 
            <b>Don't forget parentheses! </b>
            \begin{align}
            \dfrac{g(x)f'(x) - f(x)g'(x)}{\left[g(x)\right]^2} &= \dfrac{(3x^2 - 2)^2\cdot 4(2x+1) - (2x+1)^2\cdot 12x(3x^2 - 2)}{\left[(3x^2 - 2)^2\right]^2}
            \\&= \dfrac{4(2x+1)(3x^2 - 2)\left[(3x^2 - 2) - 3x(2x+1)\right]}{(3x^2 - 2)^4}
            \\&= \dfrac{4(2x+1)(3x^2 - 2)(3x^2 - 2 - 6x^2 - 3x)}{(3x^2 - 2)^4}
            \\&= \dfrac{4(2x+1)(-3x^2 -3x - 2)}{(3x^2 - 2)^3}
            \\&= \boxed{-\dfrac{4(2x+1)(3x^2 + 3x + 2)}{(3x^2 - 2)^3}}
            \end{align}
        </div>
    </div>

    <!--<div class="math-example">
        Adding functions together has a nice graphical interpretation. In this example, we see the graph $f(x) + g(x)$ is just the vertical heights of $f(x)$ and $g(x)$ added together.
        <br/><button class="math-btn">Show Solution</button>
            <div class="math-solution">
            <div id="hide-desmos"><iframe id="desmos-example" src="https://www.desmos.com/calculator/bgtbdfkq09"></iframe></div>
            </div>
    </div>-->

    <h2>Using Composition (evaluation)</h2><hr>

    <p>What if we evaluate a function on another function? This idea is called <b>function composition.</b></p>

    <div class="math-def"> <b>composite function</b>
        <br>Given two functions $f$ and $g$, the composite function $f \circ g$ is defined by \[(f\circ g)(x) = f(g(x))\]
    </div>


    <p>To evaluate a function composition, you first plug in $g(x)$ into $f(x)$, and wherever there is an $x$ in $f(x)$, substitute the definition of $g(x)$ there. </p>

    <div class="math-example">
        Suppose $f(x) = x^2$ and $g(x) = x-3$. Find $f\circ g, g \circ f, (f\circ g)(5), (g\circ f)(5)$</br>
        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            We see that \[(f\circ g)(x) = f(g(x)) = f(x-3) = (x-3)^2\] and \[(g\circ f)(x) = g(f(x)) = g(x^2) = x^2 - 3\] Thus $(f\circ g)(5) = (5-3)^2 = 4$ and $(g\circ f)(5) = 5^2 - 3 = 22$.
        </div>
    </div>

    <div> Ideas:
        <ul>
            <li>This shows that the operation $\circ$ is not commutative, i.e. $f\circ g \neq g \circ f$. </li>
            <li>Do not mistake $f\circ g$ to mean function multiplication!</li>
        </ul>
    </div>

    <p>We can also take compositions of three or more functions. For example, $f\circ g \circ h = f(g(h(x)))$.</p>

    <div class="math-example">
        Find $f\circ g \circ h$ where $f(x) = \frac{x}{x+1}, g(x) = x^{10}, h(x) = x+3$.
        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            \begin{align}
            (f\circ g \circ h)(x) &= f(g(h(x)))\\
            &= f(g(x+3))\\
            &= f((x+3)^{10})\\
            &= \frac{(x+3)^{10}}{(x+3)^{10}+1}
            \end{align}
        </div>
    </div>

    <p>In Calculus, given a composition, you will be expected to find a decomposition.</p>

    <p>Try to pick parent functions, except for the function $f(x) = x$.</p>

    <div class="math-example">
        Given $F(x) = \sqrt[2]{x + 4}$, find functions $f$ and $g$ such that $F = f\circ g$.
        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">
            <p>We can think of this function as $\sqrt[2]{\cdot}$ as the outside function, and $x+4$ as the inside function.</p>
            <p>Since $f\circ g$ is the desired composition, let $g(x) = x+4$ and $f(x) = \sqrt[2]{x}$.</p>
            Then \[(f\circ g)(x) = f(g(x)) = f(x+4) = \sqrt[2]{x+4} = F(x)\]
        </div>
    </div>

    <p>Also, in Calculus, when you pick a decomposition, try to pick a function that isn't a composition itself.</p>

    <div class="math-example">
        Given $F(x) = \sqrt[3]{(3x^2 + 1)^2}$, find functions $f$ and $g$ such that $F = f\circ g$.
        <br/><button class="math-btn">Show Solution</button>
        <div class="math-solution">     
            Refer to in-class notes.
        </div>
    </div>
    
</div>
{% endblock %}