{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - 3.2</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="3.2: Polynomial Functions and Their Graphs"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures/3.2"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>3.: Polynomial Functions and Their Graphs</h1>

</div>
{% endblock %}