{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 118 - 4.1</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 118 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="4.1: Exponential Functions"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-118/lectures/4.1"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">

    <h1>4.1: Exponential Functions</h1>

    <p>We now look at an entirely different function: the exponential.</p>

    <p>Your success in this chapter depends on having mastered the <a href="/teaching/math-118/lectures/1.2">exponent properties in Section 1.2.</a></p>

    <p>Don't forget to brush up on it if you forgot!</p>

    <div class="math-def"> <b>exponential function</b><br>
    
        The exponential function with base $a$ has the form \[f(x) = a^x\] where $a > 0$ and $a \neq 1$.
    
    </div>


    <div class="math-example">
        Suppose $f(x) = 3^x$. Evaluate $f(0), f(1), f(2)$ and $f\left(\frac{1}{2}\right)$.
    </div>

    <h2>Graphs of Exponential Functions</h2><hr>

    <p>Exponentials grow very quickly, as $x$ increases. Here's an example.</p>

    <div class="math-example"> Graph $f(x) = 2^x$ by hand.</div>

    <p>In general, there are two possible shapes for $f(x) = a^x$:</p>

    <div class="math-fact">
        The exponential function $f(x) = a^x$ has two possible graph shapes:

        <div class="large-screen">
            <div style="margin-top:1em; display:grid; column-gap:2vw; grid-template-columns: 1fr 1fr;">
                <span style="margin: 0 auto; font-size: 1.5rem;">$a > 1$</span>
                <span style="margin: 0 auto; font-size: 1.5rem;">$0 < a < 1$</span>
                <img class="img-shadow" style="max-width: 300px;" src="/static/swrlly/images/teaching/118-4.1-1.svg"/>
                <img class="img-shadow" style="max-width: 300px;" src="/static/swrlly/images/teaching/118-4.1-2.svg"/>
           </div>
        </div>

        <div class="small-screen">
            <div style="margin-top:1em; display:grid; column-gap:4vw; grid-template-columns: 1fr 1fr;">
                <span style="margin: 0 auto; font-size: 1.5rem;">$a > 1$</span>
                <span style="margin: 0 auto; font-size: 1.5rem;">$0 < a < 1$</span>
                <img class="img-shadow" style="max-width: 300px;" src="/static/swrlly/images/teaching/118-4.1-1.svg"/>
                <img class="img-shadow" style="max-width: 300px;" src="/static/swrlly/images/teaching/118-4.1-2.svg"/>
           </div>
        </div>

        In general:

        <ul>
            <li>Domain: $\mathbb{R}$</li>
            <li>Codomain (range): $(0, \infty)$</li>
            <li>Asymptotes: $y = 0$</li>
        </ul>

    </div>

    <div class="math-example">
        Sketch the graph of $g(x) = 1 - 2^x$.
    </div>

    <h2>Compound Interest</h2><hr>

    <p>Exponentials appear when calculating <b>interest</b>, or money earned when you lend/borrow an entity money.</p>

    <p>For example, when depositing money into a bank account, you are lending the bank money, and the bank rewards you by giving you a percentage of the money you lent (the interest).</p>

    <p>We start with the simple case, where the interest is only applied once.</p>

    <div class="math-def"> <b>simple interest</b><br>
        Interest applied only once against the principal.
    </div>

    <div class="math-def"> <b>principal</b><br>
        The money invested/borrowed initially.
    </div>

    <div class="math-example">
        Suppose you deposit \$1,000 into a Certificate of Deposit (CD). The interest is 12% per year. Calculate the amount after one year if you have simple interest.
    </div>

    <h2>Deriving Compound Interest</h2><hr>

    <p>Instead of looking at one single year, we can look at multiple years.</p>

    <p>Good reasons for doing this: in Year 2, we can earn interest on the interest earned in Year 1!</p>

    <p>We know that in Year 1, the amount is $P(1 + i)$.</p>

    <p>In Year 2, $P(1+i)$ is the new principal, which interest needs to be applied on. So the amount is \[\underbrace{P(1+i)}_{\text{new principal}} \cdot \underbrace{(1+i)}_{\text{applying interest}} = P(1+i)^2\]</p>

    <p>In Year 3, $P(1+i)^2$ is the new principal, so the amount is \[\underbrace{P(1+i)^2}_{\text{new principal}} \cdot \underbrace{(1+i)}_{\text{applying interest}} = P(1+i)^3\]</p>

    <p>In general, for Year $k$: 
        <img class="img-shadow" src="/static/swrlly/images/teaching/118-4.1-3.svg"/>
    </p>

    <p>The amount $P(1+i)^k$ is an exponential function of $k$!</p>

    <p>In our scheme, $i$ the interest rate per year.</p>

    <p>In practice, we want to be able to apply interest for any time period (for example, each month). So we let \[i = \dfrac{r}{n} \qquad \qquad k = n\cdot t \] where <ul>
        <li>$r$ is the annual interest rate</li>
        <li>$n$ is the # of times interest is compounded per year</li>
        <li>$t$ is the # of years.</li>
    </ul></p>

    <p>Substituting our new definition of $i$ and $k$ into $P(1+i)^k$ completes the derivation of compound interest:</p>

    <div class="math-def"> <b>compound interest</b><br>
    
        Compound interest is calculated by \[A(t) = P\left(1 + \dfrac{r}{n}\right)^{nt}\] 
        where 
        <ul style="list-style-type: none;">
            <li>$A(t) = $ amount after $t$ years</li>
            <li>$P = $ principal</li>
            <li>$r = $ interest rate per year</li>
            <li>$n = $ number of times interest is compounded per year</li>
            <li>$t = $ number of years.</li>
        </ul>
    </div>

    <div class="math-example"> \$1,000 is invested into a CD at a interest rate of 12% per year. Find the amount after three years if interest is compounded annually, quarterly, and daily.</div>

    <p>In practice, you don't want all these numbers $n, r, t$ flying around when making a financial decision.</p>

    <p>We use the <b>Annual Percentage Yield (APY)</b> instead: the <span style="text-decoration: underline;";>simple interest</span> rate in one year which accounts for compounding.</p>

    <p>APY tells you the % gain you made in one year.</p>

    <div class="math-example">
        Find the APY for an investment that earns interest at a rate of 6% per year, compounded daily.
    </div>

    <p>Notice that the APY is higher than the yearly interest rate $r$.</p>

    <p>Compounding earns interest on your interest. APY adds up $r$ and interest on our interest into one number.
        
    <p>In our example the "interest on the interest" is APY $ -  $ r $=$ 6.183% $- $  6% $=$ 0.183%. </p>

    <p>By compounding daily we earned an extra 0.183% more interest than if we only applied interest once per year!</p>

</div>
{% endblock %}