{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - lectures</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 119 - lectures"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="lectures for math 141"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/lectures"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1>Math 141 Interactive Lecture Notes</h1>
    <p>This page contains lecture notes for Math 141, organized by section.</p>
    <h2>Preliminaries</h2><hr>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/I">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">$\mathbb{R}$</div>
            </a>
            <div class="bottomicontext">I</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/II">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$(ab)^n = a^nb^n$</div>
            </a>
            <div class="bottomicontext">II</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/III">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$A^2 - B^2$</div>
            </a>
            <div class="bottomicontext">III</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/IV">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">$\dfrac{1}{x+1} - \dfrac{1}{x}$</div>
            </a>
            <div class="bottomicontext">IV</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/V">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">$f(x)$</div>
            </a>
            <div class="bottomicontext">V</div>
        </div>
    </div>

    <h2>Chapter 1: Limits</h2><hr>

    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/1.4">
                <!--<img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>-->
                <img class="teachingicon" src="/static/swrlly/images/teaching/141-1.4-card.png"></img>
                <div class="center-text-over-image"></div>
            </a>
            <div class="bottomicontext">1.4</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/1.5">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">$\displaystyle\lim_{x\rightarrow a} f(x) = L$</div>
            </a>
            <div class="bottomicontext">1.5</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/1.6">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">$\displaystyle\lim_{x\rightarrow a} [f(x)g(x)]$</div>
            </a>
            <div class="bottomicontext">1.6</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/1.8">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">$\displaystyle\lim_{x\rightarrow a} f(x) = f(a)$</div>
            </a>
            <div class="bottomicontext">1.8</div>
        </div>
    </div>

    <h2>Chapter 2: Derivatives</h2><hr>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/2.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">\(\displaystyle\lim_{h\rightarrow 0}\dfrac{f(a + h) - f(a)}{h}\)</div>
            </a>
            <div class="bottomicontext">2.1</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/2.2">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">\(\displaystyle\lim_{h\rightarrow 0}\dfrac{f(x + h) - f(x)}{h}\)</div>
            </a>
            <div class="bottomicontext">2.2</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/2.3">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">\(\ \dfrac{d}{dx}[f(x)g(x)]\)</div>
            </a>
            <div class="bottomicontext">2.3</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/2.4">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">\(\ \dfrac{d}{dx}(\sin x)\)</div>
            </a>
            <div class="bottomicontext">2.4</div>
        </div>
    </div>



    <!--<h2>Chapter 1: Fundamentals</h2><hr>
    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/1.1">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">$\mathbb{R}$</div>
            </a>
            <div class="bottomicontext">1.1</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/1.2">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$(ab)^n = a^nb^n$</div>
            </a>
            <div class="bottomicontext">1.2</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/1.3">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="small-center-text-over-image">$A^2 - B^2$</div>
            </a>
            <div class="bottomicontext">1.3</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/1.4">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="vsmall-center-text-over-image">$\dfrac{1}{x+1} - \dfrac{1}{x}$</div>
            </a>
            <div class="bottomicontext">1.4</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/1.5">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">$x = ?$</div>
            </a>
            <div class="bottomicontext">1.5</div>
        </div>
    </div>

    <h2>Chapter 2: Functions and Their Graphs</h2><hr>

    <div class="teachingicons">
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/2.7">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(f\circ g\)</div>
            </a>
            <div class="bottomicontext">2.7</div>
        </div>
        <div class="iconcontainer">
            <a href="/teaching/math-141/lectures/2.8">
                <img class="teachingicon" src="/static/swrlly/images/greybox.png"></img>
                <div class="center-text-over-image">\(f^{-1}(x)\)</div>
            </a>
            <div class="bottomicontext">2.8</div>
        </div>
    </div>-->

</div>
{% endblock %}