{% extends "swrlly/teaching.html" %}

{% block title %}<title>Math 141 - syllabus</title>{% endblock %}

{% block discord %}
<meta property="og:title" content="Math 141 - syllabus"/>
<meta name = "theme-color" content="#b39af0"/>
<meta property="og:description" content="about this course"/>
<meta property="og:url" content="https://swrlly.com/teaching/math-141/syllabus"/>
<meta property="og:image" content="https://swrlly.com/static/swrlly/favicon.png"/>
{% endblock %}

{% block content %}
<div class="container fade-in-text text-padding">
    <h1 class="teachingheader">Syllabus</h1>

    <p>This page contains all information about the course. Be sure to refer to it if you have any questions on how this course operates.</p>

    <h2>Contact</h2><hr>
    <ul>
        <li id="change"></li>
        <li><b>Office Hours:</b> 
            <ul>
                <li>Location: 26M-110 (rectangular grey building next to Graphic Arts, also across the street from the health center)</li>
                <li>Time: 9:10 - 10 AM Tu/Th/F</li>
            </ul>
        </li>
    </ul>
    <p>Please email me using your Cal Poly email. Emails from your personal account will be ignored.</p>

    <h2>Course Description</h2><hr>
    <p>You will walk away from this class understanding
        <ul>
            <li>Understand what functions are and how graphs are used to describe functions.</li>
            <li>Understand fundamental concepts of limit and continuity.</li>
            <li>Understand the meaning of a derviative and be able to compute derivatives of algebraic functions and trigonometric functions.</li>
            <li>Be able to use derivatives to solve problems.</li>
            <li>Begin to understand integration.</li>
        </ul>
    </p>

    <h2>Course Methodology</h2><hr>
    
    <h4>Textbook</h4>
    <p>We will be using <i>Calculus, 8<sup>th</sup>edition</i> by James Stewart et al. We will not be using WebAssign.</p>
    <p>The in-class lectures will closely follow the sections in the textbook. I highly recommend reading the relevant sections in the textbook as a resource to learn from.</p>
    
    <h4>Lectures</h4>
    <p>Lectures are held in class four days a week. Most lecture notes will be typed up, available on <a href="/teaching/math-141/lectures">at this page</a>.</p>
    <p>A few examples will have a <span style="color:var(--examplecolor);">Show Solution</span> button. I recommend when you are reading through the notes to try solving the problem on paper, then comparing your solution after.</p>
    <p>Lectures will follow the sections in the textbook.</p>
    
    <h4>Think, Pair, Share</h4>
    <p>In lecture, after introducing a concept, seeing how to use it in a few examples, you will be given a similar problem to work on. We will use the following strategy:
        <ul>
            <li><b>Think</b>: Work independently on the problem for a few minutes.</li>
            <li><b>Pair</b>: Pair up with someone to discuss your thought process/solution to the problem.</li>
            <li><b>Share</b>: Volunteer to share your answer</li>
        </ul>
    </p>
    <p>Finally, I will present my solution. Instead of writing down stuff for 50 minutes we are learning by engaging with the material.</p>
    
    <h2>Grading</h2><hr>
    
    <h4>Homework</h4>
    <p>Homework will be posted every Tuesday and due in one week (the following Tuesday) at the beginning of class.</p>
    <p>The only accepted format is on paper in person and stapled in the top left corner. If you forget to staple you will lose points.</p>
    <p>Grading is based on two criteria: completeless and a few problems will be chosen to be graded for correctness.</p>
    
    <h4>Quizzes</h4>
    <p>Quizzes will be in person every Tuesday. They will cover the material from the previous week. Think of the homework from the previous week as a mechanism to get you ready for the quiz.</p>
    
    <h4>Exams</h4>
    <p>There will be two midterms and one final exam during finals week. All exams will be cumulative at the date the midterm is given.</p>
    <p>Exam dates:</p>
    <ul>
        <li><b>Midterm 1</b>: Tuesday, April 23</li>
        <li><b>Midterm 2</b>: Tuesday, May 21</li>
        <li>
            <b>Final</b>: Monday, June 10 10:10 AM –1:00 PM
        </li>
    </ul>
    <p>The final is taken in the classroom we meet for lecture.</p>
    <p>Unless I have granted you an exception, you must take the final at the specified time; you cannot take the final during a different section.</p>

    <h4>Late Policy</h4>
    <p>For homework: Penalized 20% per day turned after the due date.</p>
    <p>For quizzes/exams: You must email me <b>24 hours before the quiz or exam time</b> to be considered for a make-up quiz/exam. Failure to do so will receive a zero on the quiz/exam.</p>
    
    <h4>Grading Policy</h4>
    The aforementioned assignments have the following grading breakdown:
    <ul>
        <li>Homework: 10%</li>
        <li>Quizzes: 25%, lowest will be dropped</li>
        <li>Midterms: 40%</li>
        <li>Final: 25%</li>
    </ul>

    <div class="smallcontainer">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">A</th>
                <th scope="col">A-</th>
                <th scope="col">B+</th>
                <th scope="col">B</th>
                <th scope="col">B-</th>
                <th scope="col">C+</th>
                <th scope="col">C</th>
                <th scope="col">C-</th>
                <th scope="col">D</th>
                <th scope="col">F</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>93-100</td>
                <td>90-93</td>
                <td>87-90</td>
                <td>83-87</td>
                <td>80-83</td>
                <td>77-80</td>
                <td>73-77</td>
                <td>70-73</td>
                <td>60-70</td>
                <td>0-60</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <h4>Canvas</h4>
    <p>Canvas will only be used to keep track of grades. All course content will be hosted on my website.</p>
    
    <h4>Academic Integrity</h4>
    <p>Cheating of any form requires, at minimum, a F on the assignment. Let us define what is allowed for each assignment.
        <table class="table" style="max-width: 800px; margin: 1em auto;">
            <thead>
            <tr>
                <th scope="col">Resource</th>
                <th scope="col">Homeworks</th>
                <th scope="col">Quizzes + Midterms + Final</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Me (the professor)</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Course materials (lectures + notes)</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Textbook</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Collaboration with peers</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Online resources (internet + math engines like Photomath)</td>
                <td>No</td>
                <td>No</td>
            </tr>
            </tbody>
        </table>
        
        <h2>Other Important Information</h2><hr>
        
        <h4>Accessibility</h4>
        <p>Students registered with the DRC should contact me ASAP so we can set up and discuss the necessary arrangements.</p>
        
        <h2>Getting Help</h2><hr>
        <p>A four unit class requires four hours of lecture and at least four hours of work outside of lecture. How to spend this time wisely?</p>

        <h4>Practice Exams</h4>
        <p>The main course portal contains practice exams and their solutions which I will upload a week before each exam date.</p>
        <p>My advice is to complete the practice exam first, then checking your solutions with the key. This way you can see the concepts you need to work on.</p>
        
        <h4>Kennedy Library Tutoring</h4>
        <p>The Learning Support Center hosts drop-in tutoring in several locations. The main location is Graphic Arts 26-110A.
        <br><a href="https://calpoly.mywconline.com/">See this link for more details.</a></p>
        
        <h4>Free Drop-In Tutoring</h4>
        <p>The Math and Stats Help Hub has drop-in virtual and in-person tutoring from Monday through Thursday 4-7 PM.
        <br><a href="https://canvas.calpoly.edu/courses/48159">Details can be found here (you need to be logged in to Canvas).</a></p>
        </p>
        
        <h4>Office Hours</h4>
        <p>You should attend office hours to clear up any questions you have about anything; doesn't need to be course related. If you need help, don't hesitate to reach out!
            
        <p>For example, if you would like to get personalized advice and feedback on your understanding of the material, office hours is the place to do it. I will learn about your thought process in a problem, determine your weaknesses and strengths, and come up with a plan moving forward.
        </p>
        <!--
        <h4>Workshop</h4>
        <p>This is a place outside of class to work on problems with your peers with an expert student. This workshop will be tailored to the Calculus I classes I teach this quarter! I highly recommend signing up for workshop; I have personally signed up for workshop for a quarter and it was extremely helpful in learning the material.
        <br><a href="/static/swrlly/files/MATH 141 w2023 supplemental workshop flyer.pdf">Details on how to enroll can be found here.</a></p>-->
    </div>

</div>

<script>
document.getElementById("change").innerHTML = "<b>Instructor</b>: Charlie Liou, " + "c" + "b" + "l" + "i" + "o" + "u" + "@" + "c" + "a" + "l" + "p" + "o" + "l" + "y" + "." + "e" + "d" + "u"
</script>
{% endblock %}